01.-entrada-de-eventos-xHHJuRMygIZgElfc.json
{"updatedAt":"2026-01-29T15:42:32.801Z","createdAt":"2025-11-29T01:55:03.030Z","id":"xHHJuRMygIZgElfc","name":"01. Entrada de eventos","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"82660db1-b9f9-4c50-89f7-a93013d0f8c5","leftValue":"={{ $json.tagEventoBloqueado }}","rightValue":"ALTA PERDA DE PACOTES EM 10MIN","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1040,-1104],"id":"81a5e154-26b2-4583-b0b2-2358244b1ad4","name":"Evento liberado para fluxo?"},{"parameters":{"jsCode":"const evento = $input.first().json.evento;\nconst host = $input.first().json.nome_host;\n\nconst mapaEventosBlock = [\n  \"ALTA PERDA DE PACOTES EM 10MIN\",\n  \"EQUIPAMENTO REINICIADO\",\n  \"FALHA NA COLETA DE SNMP\",\n  \"EQUIPAMENTO FOI REINICIADO\"\n]\n\nconst hostMapaBlock = [\n  \"BRASILATA JUNDIAI SP - LINK X1 NETTURBO - 179.108.84.10\",\n  \"MAXANALYZER\",\n  \"ANCORA DC - FORTIGATE 100F - 192.168.66.254\"\n]\n\nfor (const eventoMapeado of mapaEventosBlock) {\n  const flagBlockEvento = evento.includes(eventoMapeado)\n  if (flagBlockEvento == true) {\n    return [{tagEventoBloqueado: true, evento}]\n    break\n  }\n}\n\nfor (const hostBlock of hostMapaBlock) {\n  const flagBlockHost = host.includes(hostBlock)\n  if (flagBlockHost == hostBlock) {\n    return [{tagEventoBloqueado: true, host}]\n    break \n  }\n}\n\nreturn [{tagEventoBloqueado: false}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1264,-1104],"id":"5f1ea81e-8ff7-4534-8e06-ba65f057d249","name":"BLOQUEIOS"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"32eff21c-7df2-4f6f-b684-8f9d7fa425da","leftValue":"={{ $('Consolida dados').item.json.flagRecuperado }}","rightValue":"Resolvido","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-816,-1104],"id":"ac7e947e-8b58-4e8f-becb-bc63ab79c674","name":"Evento de encerramento?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"97758687-709f-4bc6-ad05-2ce074cfaf20","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-352,-752],"id":"089fa9cb-9809-4d16-9dd6-67bae2c04f36","name":"Existe evento?","disabled":true},{"parameters":{"tableId":"hall de entrada","fieldsUi":{"fieldValues":[{"fieldId":"ID do evento","fieldValue":"={{ $('Consolida dados').first().json.ID_evento }}"},{"fieldId":"ID do host","fieldValue":"={{ $('Consolida dados').first().json.ID_host }}"},{"fieldId":"ID do grupo","fieldValue":"={{ $('Separa o melhor grupo').first().json.melhorGrupo.groupid }}"},{"fieldId":"status_evento","fieldValue":"={{ $('Consolida dados').first().json.status_evento }}"},{"fieldId":"reconhecimento","fieldValue":"={{ $('Consolida dados').first().json.reconhecimento }}"},{"fieldId":"Timestamp da queda","fieldValue":"={{ $('Consolida dados').first().json.timestamp_queda }}"},{"fieldId":"Data e hora do evento","fieldValue":"={{ $('Consolida dados').first().json.data_hora_evento }}"},{"fieldId":"Nome do host","fieldValue":"={{ $('Consolida dados').first().json.nome_host }}"},{"fieldId":"Raiz host","fieldValue":"={{ $('Consolida dados').first().json.raiz_nome_host }}"},{"fieldId":"Nome do evento","fieldValue":"={{ $('Consolida dados').first().json.nome_trigger }}"},{"fieldId":"Nome do grupo","fieldValue":"={{ $('Separa o melhor grupo').first().json.melhorGrupo.name }}"},{"fieldId":"Eventos relacionados","fieldValue":"={{ [ $('Consolida dados').first().json.ID_evento ] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-128,-624],"id":"3fdf6ded-bfb3-45d7-a11f-26683f154931","name":"BD: Nova linha no hall de entrada","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"jsCode":"let eventos_relacionados = $('BD: Correspondência no hall de entrada').first().json['Eventos relacionados'];\n\nconst ID_evento_corrente = $('Consolida dados').first().json.ID_evento;\n\n\nif (eventos_relacionados.length == 1 && eventos_relacionados[0] == \"0\") {\n  eventos_relacionados.pop();\n  eventos_relacionados.push()\n} else if (eventos_relacionados.length == 1 && eventos_relacionados != \"0\") {\n  eventos_relacionados.push(`${ID_evento_corrente}`)\n} else {\n  const existeEventoAdd = eventos_relacionados.includes(`${ID_evento_corrente}`)\n  if (existeEventoAdd == true) {\n  } else {\n    eventos_relacionados.push(`${ID_evento_corrente}`)\n  }\n}\n\nreturn [{eventos_relacionados}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,-864],"id":"18614350-e83d-411e-9544-a104df403be6","name":"Adiciona ID evento em eventos relacionados","disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"clock\"],\n    \"eventids\": [{{ $('Consolida dados').item.json.ID_recovery }}]\n\n  },\n  \"id\": 1\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-368,-1360],"id":"d8c38860-1a7f-467f-ba5f-737768f93806","name":"Zabbix: Consulta encerramento","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"95a523e3-e95a-4414-8153-024f0a6bb809","leftValue":"={{ $('Consolida dados').item.json.ticketMovidesk }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}},{"id":"37c98fda-9fc9-4f17-b4ca-b54cbd3d6393","leftValue":"={{ $('Consolida dados').item.json.ticketMovidesk }}","rightValue":0,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,-1360],"id":"ff109a2c-f323-464e-8d61-fc8cbc81d404","name":"Existe reconhecimento válido?"},{"parameters":{"operation":"get","tableId":"chamados abertos","filters":{"conditions":[{"keyName":"ticketMovidesk","keyValue":"={{ $('Consolida dados').item.json.ticketMovidesk }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[752,-1360],"id":"e356ea5f-a86c-40aa-be40-c3e97384e879","name":"BD: Recupera evento no BD","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ef536b33-e524-4bb3-b655-f02880cc8581","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[976,-1360],"id":"2574123f-10c2-49e5-961f-1d9f33ec0256","name":"Existe evento no BD?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5084497b-d26a-43e2-b231-dd3835f7105f","leftValue":"={{ $('Consolida dados').item.json.flagReconhecido }}","rightValue":"Reconhecido","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-592,-1360],"id":"d3d95d26-c119-4e87-95b6-5f32c2670d9e","name":"Evento reconhecido?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"de3c76fc-28df-4a35-8303-ce90f15c43f9","leftValue":"={{ $('Consolida dados').item.json.nome_host }}","rightValue":"={{ $('Consolida dados').item.json.nome_host }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"101849c3-f07a-4e1c-8e9f-3c1c9449123c","leftValue":"={{ $('Consolida dados').item.json.nome_trigger }}","rightValue":"={{ $json['Nome do evento'] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"1194b49a-862c-4f6a-869c-e253adff1d2c","leftValue":"={{ $('Consolida dados').item.json.timestamp_queda }}","rightValue":"={{ $json['Timestamp da queda'] }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-128,-864],"id":"2a73a3d2-0b23-41b4-9dbe-f2b2785775a0","name":"Igualdade de eventos?","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[96,-960],"id":"67845b07-6185-473e-be3b-f22cc632d48e","name":"Do not2","disabled":true},{"parameters":{"jsCode":"const mapaContratos1 = [\n  \"INDIGO\",\n  \"ALL4LABELS\",\n  \"DYNAMIS\"\n]\n\nconst mapaPortas = [\n    \"WAN\", \"WAN1\", \"WAN2\", \"WAN3\", \"WAN4\",\n    \"LAN\", \"LAN1\", \"LAN2\", \"LAN3\", \"LAN4\",\n    \"ETH\", \"ETH1\", \"ETH2\", \"ETH3\", \"ETH4\",\n    \"ETHER\", \"ETHER1\", \"ETHER2\", \"ETHER3\", \"ETHER4\", \"ETHER5\",\n    \"GE\", \"GE1\", \"GE2\", \"GE3\",\n    \"PORTA 1\", \"PORTA 2\", \"PORTA 3\",\n    \"PORT1\", \"PORT2\", \"PORT3\",\n    \"PORT A\", \"PORT B\", \"PORTB\",\n    \"LINK1\", \"LINK2\", \"LINK3\",\n    \"X1\", \"X2\", \"X4\", \"X8\",\n    \"INTERNAL6\"\n];\n\nconst host_name_evento_atual = $('Consolida dados').first().json.nome_host;\nconst evento_atual = $('Consolida dados').first().json.nome_trigger\nconst host_name_evento_bd = $('BD: Correspondência no hall de entrada').first().json['Nome do host'];\nconst evento_bd = $('BD: Correspondência no hall de entrada').first().json['Nome do evento'];\n\nfunction procuraPortaNoHost(host) {\n  let porta = \"\";\n  let flagPortaLocalizada = false;\n\n  for (const item of mapaPortas) {\n    const buscaPorta = host.includes(item)\n\n    if (buscaPorta == true) {\n      porta = item\n      flagPortaLocalizada = true\n      break\n    } \n  }\n  return [porta, flagPortaLocalizada]\n}\n\nconst hostMap = procuraPortaNoHost(host_name_evento_atual);\nconst eventoMap = procuraPortaNoHost(evento_atual);\nconst hostBdMap = procuraPortaNoHost(host_name_evento_bd);\nconst eventoBdMap = procuraPortaNoHost(evento_bd)\n\nconst objetoAnalisado = {\n  hostMap,\n  eventoMap,\n  hostBdMap,\n  eventoBdMap\n}\n\n// Array para armazenar portas encontradas\nconst portasEncontradas = [];\n\n// Itera sobre todas as entradas do objeto\nfor (const [chave, valor] of Object.entries(objetoAnalisado)) {\n  if (Array.isArray(valor) && valor[1] === true) {\n    portasEncontradas.push({\n      origem: chave,\n      porta: valor[0]\n    });\n  }\n}\n\n// Verifica se todas as portas encontradas são iguais\nlet flagPortasCorrespondentes = false;\n\nif (portasEncontradas.length > 1) {\n  const portaReferencia = portasEncontradas[0].porta;\n  flagPortasCorrespondentes = portasEncontradas.every(\n    item => item.porta === portaReferencia\n  );\n}\n\nreturn {\n  portasEncontradas,\n  encontrouPorta: portasEncontradas.length > 0,\n  flagPortasCorrespondentes\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,-768],"id":"27169fc4-9b23-4657-ba9a-f5ec07857ee0","name":"Verifica igualdade de portas","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a44e9e5d-1a92-4fe2-8e64-4ae3c4cdc569","leftValue":"={{ $json.flagPortasCorrespondentes }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,-768],"id":"f6875074-873d-461c-851c-1e45312e1f02","name":"Portas são iguais?","disabled":true},{"parameters":{"httpMethod":"POST","path":"/zabbix-alert","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2384,-1104],"id":"132a2bb5-b11c-4570-b63f-67de2d5fe6d7","name":"Webhook Zabbix - hall de entrada","webhookId":"64342bfc-5ac6-4291-b5bf-a8dfac6ab0ef"},{"parameters":{"operation":"getAll","tableId":"hall de entrada","returnAll":true,"filters":{"conditions":[{"keyName":"ID do grupo","condition":"eq","keyValue":"={{ $json.melhorGrupo.groupid }}"},{"keyName":"Raiz host","condition":"eq","keyValue":"={{ $('Consolida dados').item.json.raiz_nome_host }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-576,-752],"id":"91ecea07-a1eb-4498-bc9e-79c7ecec84d5","name":"BD: Correspondência no hall de entrada","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"operation":"update","tableId":"hall de entrada","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Correspondência no hall de entrada').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"Eventos relacionados","fieldValue":"={{ $json.eventos_relacionados }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[768,-864],"id":"2d9788a6-d27a-4652-827f-5d166a0f3c83","name":"BD: Adiciona eventos relacionados no hall de entrada","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"acknowledged\", \"r_eventid\"],\n    \"eventids\": [{{ $json.body.id_evento }}],\n\n    \"selectHosts\": [\"host\"],\n\n    \"selectRelatedObject\": [\"description\", \"value\"],\n\n    \"selectAcknowledges\": [\"clock\", \"message\", \"action\"]\n  },\n  \"id\": 1\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2160,-1104],"id":"504477a2-10bc-4906-ab7f-dac57e519e0b","name":"Zabbix: Event.get - consulta principal","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const ID_evento = parseInt($('Zabbix: Event.get - consulta principal').first().json.result[0].eventid);\nconst ID_host = parseInt($('Zabbix: Event.get - consulta principal').first().json.result[0].hosts[0].hostid);\nconst ID_grupo = parseInt($input.first().json.melhorGrupo.groupid);\nconst ID_recovery = parseInt($('Zabbix: Event.get - consulta principal').first().json.result[0].r_eventid);\nconst nome_host = $('Zabbix: Event.get - consulta principal').first().json.result[0].hosts[0].host;\nconst evento = $('Zabbix: Event.get - consulta principal').first().json.result[0].relatedObject.description.toUpperCase();\nconst timestamp_queda = parseInt($('Zabbix: Event.get - consulta principal').first().json.result[0].clock)\n\nconst nome_host_raiz = nome_host.split(\"-\")[0];\nconst mapa_clientes_de_contrato = {\n    contrato1: [\"INDIGO\", \"ALL4LABELS\", \"DYNAMIS\"],\n    contrato2: [\"AMAFIL\", \"UNIARP\", \"IRAPURU\"]\n}\n\nlet flagContrato = false;\nlet nome_host_simplificado = nome_host_raiz;\nlet tipoContrato = 3;\nfor (const cliente of mapa_clientes_de_contrato.contrato1) {\n  const flagClienteContrato = nome_host_raiz.includes(cliente)\n  if (flagClienteContrato == true) {\n    flagContrato = true;\n    nome_host_simplificado = cliente;\n    tipoContrato = 1;\n  } else {\n    for (const cliente of mapa_clientes_de_contrato.contrato2) {\n      const flagClienteContrato = nome_host_raiz.includes(cliente)\n      if (flagClienteContrato == true) {\n        flagContrato = true;\n        nome_host_simplificado = cliente;\n        tipoContrato = 2;\n      }\n    }\n  }\n}\n\nconst configDataHora = {\n  zone: \"America/Sao_Paulo\", // Fuso horário IANA (Brasília)\n  locale: \"pt-BR\", // Localidade brasileira para formatação\n  formato: \"cccc dd/MM/yyyy HH:mm:ss\" // Formato Luxon: dia da semana, data, hora\n}\nfunction ajustaDataHora(timestamp, zone = configDataHora.zone, locale = configDataHora.locale, formato = configDataHora.formato) {\n  const data_hora_ajustada = DateTime.fromSeconds(timestamp, {zone: zone, locale: locale})\n    .toFormat(formato) // Aplica formato personalizado\n    .toUpperCase(); // Converte para maiúsculas (útil para dias da semana em português)\n  \n  return data_hora_ajustada;\n}\n\nconst data_hora_queda_formatado = ajustaDataHora(timestamp_queda)\n\nconst reconhecimentos = $('Zabbix: Event.get - consulta principal').first().json.result[0].acknowledges\n\nlet flagReconhecido = false;\nlet ticketMovidesk;\nif (reconhecimentos.length >= 1) {\n  for (const ev of reconhecimentos) {\n    const flagEventoComSeis = ev.action == \"6\";\n    if (flagEventoComSeis == true) {\n      flagReconhecido = true;\n      ticketMovidesk = parseInt(ev.message);\n    }\n  }\n}\n\nlet flagRecuperado = false;\nif (ID_recovery >= 1) {\n  flagRecuperado = true\n}\n\nreturn [{\n  ID_evento,\n  ID_host,\n  ID_grupo,\n  ID_recovery,\n  nome_host,\n  nome_host_raiz,\n  nome_host_simplificado,\n  evento,\n  timestamp_queda,\n  data_hora_queda_formatado,\n  tipoContrato,\n  flagReconhecido,\n  flagRecuperado,\n  flagContrato,\n  ticketMovidesk,\n  reconhecimentos\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1488,-1104],"id":"3d646581-0ec2-41b9-8737-747368245b19","name":"Consolida dados"},{"parameters":{"jsCode":"const lista_grupos = $input.first().json.result[0].hostgroups;\nconst nome_completo_host = $('Zabbix: Event.get - consulta principal').first().json.result[0].hosts[0].host;\n\nfunction obterMelhorGrupo(host, grupos) {\n  // Normaliza o host para comparação\n  const hostNorm = host.toLowerCase();\n\n  let melhorGrupo = null;\n  let melhorPontuacao = 0;\n\n  for (const grupo of grupos) {\n    // Divide o nome do grupo em palavras\n    const palavras = grupo.name.toLowerCase().split(/\\s+|-/).filter(p => p.trim() !== \"\");\n\n    // Conta quantas palavras do grupo aparecem no host\n    let score = 0;\n    for (const palavra of palavras) {\n      if (hostNorm.includes(palavra)) {\n        score++;\n      }\n    }\n\n    // Verifica se é o melhor até agora\n    if (score > melhorPontuacao) {\n      melhorPontuacao = score;\n      melhorGrupo = grupo;\n    }\n  }\n\n  return melhorGrupo;\n}\n\nif (lista_grupos.length >= 2) {\n  return [{\n    melhorGrupo: obterMelhorGrupo(nome_completo_host, lista_grupos),\n  }]\n} else {\n  return [{\n    melhorGrupo: {\n      groupid: Number(lista_grupos[0].groupid),\n      name: lista_grupos[0].name,\n    }\n  }]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1712,-1104],"id":"605d4c8f-eeab-498f-8e45-a803fb5b8a2a","name":"Valida melhor grupo"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"host.get\",\n  \"params\": {\n    \"output\": [\n      \"hostid\",\n      \"name\"\n    ],\n\n    \"selectHostGroups\": [\n      \"groupid\",\n      \"name\"\n    ],\n\n    \"hostids\": [{{ $json.result[0].hosts[0].hostid }}]\n  },\n  \"id\": 2\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1936,-1104],"id":"7ef7d346-a4a3-4baa-a1b8-ef8b2b9ab485","name":"Zabbix: Host.get -> consulta de grupo","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const timestamp_recuperacao = parseInt($input.first().json.result[0].clock);\n\n// Parâmetros de configuração para formatação de data/hora\nconst configDataHora = {\n  zone: \"America/Sao_Paulo\", // Fuso horário IANA (Brasília)\n  locale: \"pt-BR\", // Localidade brasileira para formatação\n  formato: \"cccc dd/MM/yyyy HH:mm:ss\" // Formato Luxon: dia da semana, data, hora\n}\n\n/**\n * Converte timestamp Unix para data/hora formatada\n * \n * @param {number} timestamp - Timestamp Unix em segundos (ex: 1700000000)\n * @param {string} zone - Fuso horário IANA (ex: \"America/Sao_Paulo\")\n * @param {string} locale - Código de localidade (ex: \"pt-BR\")\n * @param {string} formato - Formato Luxon (ex: \"cccc dd/MM/yyyy HH:mm:ss\")\n * @returns {string} Data/hora formatada em maiúsculas\n */\nfunction ajustaDataHora(timestamp, zone = configDataHora.zone, locale = configDataHora.locale, formato = configDataHora.formato) {\n  const data_hora_ajustada = DateTime.fromSeconds(timestamp, {zone: zone, locale: locale})\n    .toFormat(formato) // Aplica formato personalizado\n    .toUpperCase(); // Converte para maiúsculas (útil para dias da semana em português)\n  \n  return data_hora_ajustada;\n}\n\nreturn [{\n  timestamp_recuperacao,\n  data_hora_recuperacao_formatado: ajustaDataHora(timestamp_recuperacao)\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,-1360],"id":"ccf607bb-84d0-4865-9380-0ce573d4fe0d","name":"Ajusta data e hora de encerramento"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dcd0afd5-cc2d-4378-a0ec-9bbfd9b2c03f","leftValue":"={{ $json.porta }}","rightValue":"={{ null }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1968,-3216],"id":"0cf9cba1-0e24-4cf0-a0fe-d279ce95a077","name":"Porta null?","disabled":true},{"parameters":{"operation":"getAll","tableId":"fila de encerramento","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"Raiz host","condition":"eq","keyValue":"={{ $('Consolida dados').item.json.raiz_nome_host }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1312,-3312],"id":"5c1e1782-2c43-4743-86c1-6fbbb52ebc59","name":"BD: Recupera na fila de encerramento","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"operation":"update","tableId":"chamados abertos","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Recupera evento no BD').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"eventosRelacionados","fieldValue":"={{ $json.eventos_relacionados }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2192,-3424],"id":"b58fe0ea-57d3-4017-bda4-6a4296909231","name":"BD: Atualiza eventosZabbix","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"operation":"update","tableId":"fila de encerramento","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Recupera na fila de encerramento').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"Eventos relacionados","fieldValue":"={{ $('Valida eventos relacionados').item.json.eventos_relacionados }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2416,-3424],"id":"1422fd1b-6d05-4625-9d29-d82841a967cd","name":"BD: Atualiza fila de encerramento","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"jsCode":"const lista_grupos = $input.first().json.result[0].hostgroups;\nconst nome_completo_host = $('Consolida dados').first().json.nome_host;\n\nfunction obterMelhorGrupo(host, grupos) {\n  // Normaliza o host para comparação\n  const hostNorm = host.toLowerCase();\n\n  let melhorGrupo = null;\n  let melhorPontuacao = 0;\n\n  for (const grupo of grupos) {\n    // Divide o nome do grupo em palavras\n    const palavras = grupo.name.toLowerCase().split(/\\s+|-/).filter(p => p.trim() !== \"\");\n\n    // Conta quantas palavras do grupo aparecem no host\n    let score = 0;\n    for (const palavra of palavras) {\n      if (hostNorm.includes(palavra)) {\n        score++;\n      }\n    }\n\n    // Verifica se é o melhor até agora\n    if (score > melhorPontuacao) {\n      melhorPontuacao = score;\n      melhorGrupo = grupo;\n    }\n  }\n\n  return melhorGrupo;\n}\n\nif (lista_grupos.length >= 2) {\n  return [{\n    melhorGrupo: obterMelhorGrupo(nome_completo_host, lista_grupos),\n  }]\n} else {\n  return [{\n    melhorGrupo: {\n      groupid: Number(lista_grupos[0].groupid),\n      name: lista_grupos[0].name,\n    }\n  }]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2864,-3216],"id":"cfecdee2-bf4d-41c2-b9ec-33ead4e5b8e9","name":"Ajusta o melhor grupo","disabled":true},{"parameters":{"jsCode":"const ID_host = $('Consolida dados').first().json.ID_host\n\n\nreturn {\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"host.get\",\n  \"params\": {\n    \"output\": [\n      \"hostid\",\n      \"name\"\n    ],\n\n    \"selectHostGroups\": [\n      \"groupid\",\n      \"name\"\n    ],\n\n    \"hostids\": ID_host\n  },\n  \"id\": 2\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2416,-3216],"id":"d1f3d12b-48eb-4646-bd4f-de07bc01f10d","name":"Host.get para consulta de grupo do host","disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2640,-3216],"id":"18f1f409-be59-485a-ac19-1614a331b04f","name":"Zabbix: host.get -> grupo do host","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}},"disabled":true},{"parameters":{"tableId":"fila de encerramento","fieldsUi":{"fieldValues":[{"fieldId":"ID do evento","fieldValue":"={{ $('Consolida dados').item.json.ID_evento }}"},{"fieldId":"ID do host","fieldValue":"={{ $('Consolida dados').item.json.ID_host }}"},{"fieldId":"reconhecimento","fieldValue":"={{ $('Consolida dados').item.json.reconhecimento }}"},{"fieldId":"Timestamp da queda","fieldValue":"={{ $('Consolida dados').item.json.timestamp_queda }}"},{"fieldId":"Data e hora da queda","fieldValue":"={{ $('Consolida dados').item.json.data_hora_evento }}"},{"fieldId":"Nome do host","fieldValue":"={{ $('Consolida dados').item.json.nome_host }}"},{"fieldId":"Raiz host","fieldValue":"={{ $('Consolida dados').item.json.raiz_nome_host }}"},{"fieldId":"Nome do evento","fieldValue":"={{ $('Consolida dados').item.json.nome_trigger }}"},{"fieldId":"Eventos relacionados","fieldValue":"={{ [$('Consolida dados').item.json.ID_evento] }}"},{"fieldId":"Timestamp da recuperacao","fieldValue":"={{ $('Consolida dados').item.json.timestamp_recuperacao }}"},{"fieldId":"Data e hora da recuperacao","fieldValue":"={{ $('Consolida dados').item.json.data_hora_recuperacao }}"},{"fieldId":"SLA excedido","fieldValue":"={{ $('Valida SLA').item.json.flags.flagSlaExcedido }}"},{"fieldId":"ID do grupo","fieldValue":"={{ $json.melhorGrupo.groupid }}"},{"fieldId":"Nome do grupo","fieldValue":"={{ $json.melhorGrupo.name }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3088,-3216],"id":"8131d62a-fba3-4980-8160-78d202e94fe2","name":"BD: fila de encerramento - contratos","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=- **HOST:** {{ $('Consolida dados').first().json.nome_host }}\n- **EVENTO:** {{ $('Consolida dados').first().json.nome_trigger }}","author":"Fluxo de entrada","color":"#009EDD","title":"=NOVA ROTA - Evento adicionado na tabela de encerramento","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3312,-3216],"id":"e561b811-5486-4015-a312-612c2eaddfb2","name":"adm: encerramento2","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações gerais"}},"disabled":true},{"parameters":{"jsCode":"const eventos_relacionados = $('BD: Recupera evento no BD').first().json.eventosRelacionados;\n\nconst evento_atual = $('Consolida dados').first().json.ID_evento;\n\nconst flagEventoRegistrado = eventos_relacionados.includes(`${evento_atual}`);\n\nif (flagEventoRegistrado == false) {\n  eventos_relacionados.push(String(evento_atual))\n  return [{flagEventoRegistrado: true, eventos_relacionados}]\n}\n\nreturn [{flagEventoRegistrado}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1968,-3424],"id":"4d41641b-8b0a-422c-9130-151f237156b6","name":"Valida eventos relacionados","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"438364a4-f9c3-47ed-beb5-bbf079c6468a","leftValue":"={{ $json.flagEventoRelacionado }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1760,-3312],"id":"c23ae46e-fb77-4909-89b4-8a1fbc5f47da","name":"Evento relacionado?","disabled":true},{"parameters":{"jsCode":"// === INPUTS ===\nconst host_bd = $input.first().json['Nome do host'].toUpperCase();\nconst evento_bd = $input.first().json['Nome do evento'].toUpperCase();\n\nconst host_evento = $('Consolida dados').first().json.nome_host.toUpperCase();\nconst nome_evento = $('Consolida dados').first().json.nome_trigger.toUpperCase();\n\n// === PORT MAP (sorted by specificity) ===\nconst mapaPortas = [\n  \"WAN\", \"WAN1\", \"WAN2\", \"WAN3\", \"WAN4\",\n  \"LAN\", \"LAN1\", \"LAN2\", \"LAN3\", \"LAN4\",\n  \"ETH\", \"ETH1\", \"ETH2\", \"ETH3\", \"ETH4\",\n  \"ETHER\", \"ETHER1\", \"ETHER2\", \"ETHER3\", \"ETHER4\", \"ETHER5\",\n  \"GE\", \"GE1\", \"GE2\", \"GE3\",\n  \"PORTA 1\", \"PORTA 2\", \"PORTA 3\",\n  \"PORT1\", \"PORT2\", \"PORT3\",\n  \"PORT A\", \"PORT B\", \"PORTB\",\n  \"LINK1\", \"LINK2\", \"LINK3\",\n  \"X1\", \"X2\", \"X4\", \"X8\",\n  \"INTERNAL6\"\n].sort((a, b) => b.length - a.length);\n\n// === HELPERS ===\nfunction matchExactPort(texto, porta) {\n  const escaped = porta.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const regex = new RegExp(`\\\\b${escaped}\\\\b`);\n  return regex.test(texto.toUpperCase());\n}\n\n// === LOGIC PRINCIPAL ===\nfor (const porta of mapaPortas) {\n\n  const flagPortaMatch = matchExactPort(host_bd, porta);\n  const flagPortaEvento = matchExactPort(evento_bd, porta);\n\n  if (flagPortaMatch || flagPortaEvento) {\n\n    const origem = flagPortaMatch ? \"HOST\" : \"EVENTO\";\n\n    // === SEGUNDA VALIDAÇÃO: EVENTO RELACIONADO ===\n    const flagEventoRelacionado =\n      matchExactPort(host_evento, porta) ||\n      matchExactPort(nome_evento, porta);\n\n    return [{\n      porta,\n      origem,\n      flagPortaMatch,\n      flagPortaEvento,\n      flagEventoRelacionado\n    }];\n  }\n}\n\n// === DEFAULT RETURN ===\nreturn [{\n  porta: null,\n  origem: null,\n  flagPortaMatch: false,\n  flagPortaEvento: false,\n  flagEventoRelacionado: false\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,-3312],"id":"e938eecb-40eb-4c86-9340-ab10dce7deca","name":"Match de porta e host","disabled":true},{"parameters":{"jsCode":"const timestamp_evento = $('Consolida dados').first().json.timestamp_queda;\nconst timestamp_recuperacao = $('Consolida dados').first().json.timestamp_recuperacao;\n\nconst sla_padroa_cliente = 60 * 60 * 24;\nconst timestamp_agora = DateTime.now().toUnixInteger();\n\nconst diferenca_agora_queda = timestamp_agora - timestamp_evento\n\nlet flagSlaExcedido;\nlet flagEncerrarMovidesk;\n// se a diferença de tempo é maior que o sla, finalizar o chamado no movidesk\nif (diferenca_agora_queda > sla_padroa_cliente) {\n  flagSlaExcedido = true;\n  flagEncerrarMovidesk = true;\n} \n  // se a diferença for menor que o sla padrão e maior que 2/3 do sla, então notificar encerramento\nelse if (diferenca_agora_queda <= sla_padroa_cliente && diferenca_agora_queda >= sla_padroa_cliente * 1.33) {\n  flagSlaExcedido = false;\n  flagEncerrarMovidesk = true\n} else {\n  flagSlaExcedido = false;\n  flagEncerrarMovidesk = false;\n}\n\nreturn [{\n  timestamp_evento,\n  timestamp_recuperacao,\n  sla_padroa_cliente,\n  diferenca_agora_queda,\n  flags: {\n    flagSlaExcedido,\n    flagEncerrarMovidesk\n  }\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,-1904],"id":"6366e824-39f4-4725-96c5-d10b7524633e","name":"Valida SLA3","disabled":true},{"parameters":{"jsCode":"const timestamp_evento = $('Consolida dados').first().json.timestamp_queda;\nconst timestamp_recuperacao = $('Consolida dados').first().json.timestamp_recuperacao;\n\nconst sla_padrao_cliente = 60 * 60 * 6;\nconst timestamp_agora = DateTime.now().toUnixInteger();\n\nconst diferenca_agora_queda = timestamp_agora - timestamp_evento\n\nlet flagSlaExcedido;\nlet flagEncerrarMovidesk;\n// se a diferença de tempo é maior que o sla, finalizar o chamado no movidesk\nif (diferenca_agora_queda > sla_padrao_cliente) {\n  flagSlaExcedido = true;\n  flagEncerrarMovidesk = true;\n} \n  // se a diferença for menor que o sla padrão e maior que 2/3 do sla, então notificar encerramento\nelse if (diferenca_agora_queda <= sla_padrao_cliente && diferenca_agora_queda >= sla_padrao_cliente * 0.80) {\n  flagSlaExcedido = false;\n  flagEncerrarMovidesk = true\n} else {\n  flagSlaExcedido = false;\n  flagEncerrarMovidesk = false;\n}\n\nreturn [{\n  timestamp_evento,\n  timestamp_recuperacao,\n  sla_padrao_cliente,\n  diferenca_agora_queda,\n  flags: {\n    flagSlaExcedido,\n    flagEncerrarMovidesk\n  }\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,-2208],"id":"4270a996-3a23-46b3-8860-24c5cb1e4526","name":"Valida SLA2","disabled":true},{"parameters":{"jsCode":"const timestsamp_evento_encerrado = $('Consolida dados').first().json.timestamp_queda;\nconst timestamp_momento_atual = DateTime.now().toUnixInteger()\nconst diferenca_timestamps = timestamp_momento_atual - timestsamp_evento_encerrado;\n\nconst sla_padrao = 60 * 60 * 24;\n\nif (diferenca_timestamps >= sla_padrao || diferenca_timestamps > sla_padrao * 0.90) {\n  return [{\n    flagExcedeuSla: true,\n    statusChamado: 5\n  }]\n} else {\n  return [{\n    flagExcedeuSla: false,\n    statusChamado: 3\n  }]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,-2656],"id":"fe8b8306-1311-438d-a9c7-fe766a7e140e","name":"Valida SLA1","disabled":true},{"parameters":{"jsCode":"const lista_grupos = $input.first().json.result[0].hostgroups;\nconst nome_completo_host = $('Consolida dados').first().json.nome_host;\n\nfunction obterMelhorGrupo(host, grupos) {\n  // Normaliza o host para comparação\n  const hostNorm = host.toLowerCase();\n\n  let melhorGrupo = null;\n  let melhorPontuacao = 0;\n\n  for (const grupo of grupos) {\n    // Divide o nome do grupo em palavras\n    const palavras = grupo.name.toLowerCase().split(/\\s+|-/).filter(p => p.trim() !== \"\");\n\n    // Conta quantas palavras do grupo aparecem no host\n    let score = 0;\n    for (const palavra of palavras) {\n      if (hostNorm.includes(palavra)) {\n        score++;\n      }\n    }\n\n    // Verifica se é o melhor até agora\n    if (score > melhorPontuacao) {\n      melhorPontuacao = score;\n      melhorGrupo = grupo;\n    }\n  }\n\n  return melhorGrupo;\n}\n\nif (lista_grupos.length >= 2) {\n  return [{\n    melhorGrupo: obterMelhorGrupo(nome_completo_host, lista_grupos),\n  }]\n} else {\n  return [{\n    melhorGrupo: {\n      groupid: Number(lista_grupos[0].groupid),\n      name: lista_grupos[0].name,\n    }\n  }]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2272,-2208],"id":"8660c140-cdd4-45f3-b7c4-83491895756e","name":"Ajusta o melhor grupo1","disabled":true},{"parameters":{"jsCode":"const ID_host = $('Consolida dados').first().json.ID_host\n\n\nreturn {\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"host.get\",\n  \"params\": {\n    \"output\": [\n      \"hostid\",\n      \"name\"\n    ],\n\n    \"selectHostGroups\": [\n      \"groupid\",\n      \"name\"\n    ],\n\n    \"hostids\": ID_host\n  },\n  \"id\": 2\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,-2208],"id":"990481bc-39d3-466f-901c-4bf8c7414b93","name":"Host.get para consulta de grupo do host1","disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2048,-2208],"id":"36da241e-9bfb-418f-a993-b980d9d60edd","name":"Zabbix: host.get -> grupo do host1","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}},"disabled":true},{"parameters":{"tableId":"fila de encerramento","fieldsUi":{"fieldValues":[{"fieldId":"ID do evento","fieldValue":"={{ $('Consolida dados').item.json.ID_evento }}"},{"fieldId":"ID do host","fieldValue":"={{ $('Consolida dados').item.json.ID_host }}"},{"fieldId":"reconhecimento","fieldValue":"={{ $('Consolida dados').item.json.reconhecimento }}"},{"fieldId":"Timestamp da queda","fieldValue":"={{ $('Consolida dados').item.json.timestamp_queda }}"},{"fieldId":"Data e hora da queda","fieldValue":"={{ $('Consolida dados').item.json.data_hora_evento }}"},{"fieldId":"Nome do host","fieldValue":"={{ $('Consolida dados').item.json.nome_host }}"},{"fieldId":"Raiz host","fieldValue":"={{ $('Consolida dados').item.json.raiz_nome_host }}"},{"fieldId":"Nome do evento","fieldValue":"={{ $('Consolida dados').item.json.nome_trigger }}"},{"fieldId":"Eventos relacionados","fieldValue":"={{ [$('Consolida dados').item.json.ID_evento] }}"},{"fieldId":"Timestamp da recuperacao","fieldValue":"={{ $('Consolida dados').item.json.timestamp_recuperacao }}"},{"fieldId":"Data e hora da recuperacao","fieldValue":"={{ $('Consolida dados').item.json.data_hora_recuperacao }}"},{"fieldId":"SLA excedido","fieldValue":"={{ $('Valida SLA2').item.json.flags.flagSlaExcedido }}"},{"fieldId":"ID do grupo","fieldValue":"={{ $json.melhorGrupo.groupid }}"},{"fieldId":"Nome do grupo","fieldValue":"={{ $json.melhorGrupo.name }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2480,-2208],"id":"3d6958ad-b289-4760-91cf-ae5b0f0faae1","name":"BD: fila de encerramento - contratos1","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=- **HOST:** {{ $('Consolida dados').first().json.nome_host }}\n- **EVENTO:** {{ $('Consolida dados').first().json.nome_trigger }}","author":"Fluxo de entrada","color":"#009EDD","title":"=NOVA ROTA - Evento adicionado na tabela de encerramento","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2704,-2208],"id":"b0a19fea-d88d-4046-aba6-02cee66c5c64","name":"adm: encerramento3","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações gerais"}},"disabled":true},{"parameters":{"tableId":"chamados abertos","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $('Consolida dados').item.json.ID_evento }}"},{"fieldId":"idEventoRecuperacao","fieldValue":"={{ $('Consolida dados').item.json.ID_recuperacao }}"},{"fieldId":"idHost","fieldValue":"={{ $('Consolida dados').item.json.ID_host }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $json.flagTipoCliente }}"},{"fieldId":"nomeHost","fieldValue":"={{ $('Consolida dados').item.json.nome_host }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('Consolida dados').item.json.raiz_nome_host }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $('Consolida dados').item.json.nome_trigger }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $('Consolida dados').item.json.timestamp_queda }}"},{"fieldId":"timestampRecuperacao","fieldValue":"={{ $('Consolida dados').item.json.timestamp_recuperacao }}"},{"fieldId":"statusChamado","fieldValue":"5"},{"fieldId":"ticketMovidesk","fieldValue":"={{ $('Ajusta data e hora de encerramento').first().json.ticketMovidesk }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ [$('Consolida dados').first().json.ID_evento] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1088,-2032],"id":"25aa146b-5b25-404f-8fad-cbfcddc70a50","name":"BD: Cria evento","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=- **HOST:** {{ $('Consolida dados').first().json.nome_host }}\n- **EVENTO:** {{ $('Consolida dados').first().json.nome_trigger }}","author":"Fluxo de entrada","color":"#009EDD","title":"=Problema com null no banco de dados - verificar","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1984,-2880],"id":"7fdf1dd9-cd2a-45a2-bd41-16b09457a185","name":"adm: problema com null","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações gerais"}},"disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3104,-2752],"id":"f4db6cc5-81f0-4be2-83f2-630a5ee769af","name":"Zabbix: Consulta encerramento1","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}},"disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2432,-2752],"id":"fddffd33-3871-4a91-add7-b23e28d9259f","name":"Zabbix: Consulta reconhecimento","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}},"disabled":true},{"parameters":{"jsCode":"const Id_evento_recuperacao = $input.first().json.objetoMultiplosItens.r_eventid_lista;\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.get\",\n  params: {\n    output: [\"clock\"],\n    eventids: Id_evento_recuperacao\n  },\n  \"id\": 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,-2752],"id":"7c06eb5f-004a-4e20-8294-50f91f7960a5","name":"Consulta encerramento","disabled":true},{"parameters":{"content":"Temporário - corrigir problema do eventosRelacionados == null","height":224,"width":1568},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1936,-3008],"id":"88a52f35-52ed-4518-8eb2-f85b8813036b","name":"Sticky Note","disabled":true},{"parameters":{"operation":"update","tableId":"chamados abertos","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Recupera evento no BD').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"statusChamado","fieldValue":"5"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3552,-2944],"id":"9759fc65-6e0f-4988-a4f4-4690e49bb645","name":"BD: Atualiza bd3","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**CLIENTE:** {{ $('Consolida dados').item.json.raiz_nome_host }}\n- **HOST:** {{ $('Consolida dados').item.json.nome_host }}\n- **EVENTO:** {{ $('Consolida dados').item.json.nome_trigger }}\n- **INDISPONÍVEL EM:** {{ $('Consolida dados').item.json.data_hora_evento }}\n- **RECUPERADO EM:** {{ $('Consolida dados').item.json.data_hora_recuperacao }}\n- **TICKET MOVIDESK:** {{ $('Ajusta data e hora de encerramento').item.json.ticket_movidesk }}","author":"Fluxo de entrada","color":"#69BF6C","title":"=EVENTO ENCERRADO","thumbnail":"https://cdn-icons-png.freepik.com/512/16799/16799619.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3328,-2944],"id":"dca3777d-e41c-4c07-b673-317f9f63af5c","name":"Clientes gerais: Encerramento2","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"p0quhCwySuEFVzFi","name":"Clientes gerais: Encerramento de chamados"}},"disabled":true},{"parameters":{"method":"PATCH","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $('Ajusta data e hora de encerramento').first().json.ticketMovidesk }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3104,-2944],"id":"92dc779d-be33-4b57-bd86-eae484ed674b","name":"Movidesk: Encerra3","credentials":{"httpQueryAuth":{"id":"TMwtQv0hjXbvLVng","name":"Movidesk token"}},"disabled":true},{"parameters":{"jsCode":"return {\n  json: {\n    status: \"Resolvido\",\n    baseStatus: \"Closed\", //\"Stopped\"\n    justification: null, //\"Validação\"\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,-2944],"id":"8df82eee-a041-4952-935b-55584b4380c8","name":"JSON para encerramento3","disabled":true},{"parameters":{"method":"PATCH","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $('Ajusta data e hora de encerramento').first().json.ticketMovidesk }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2656,-2944],"id":"f9380d2c-69f6-4b72-88f0-391e5145f397","name":"Movidesk: Notifica3","alwaysOutputData":true,"credentials":{"httpQueryAuth":{"id":"TMwtQv0hjXbvLVng","name":"Movidesk token"}},"disabled":true},{"parameters":{"jsCode":"// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\nconst host = $('Consolida dados').first().json.nome_host;\nconst evento = $('Consolida dados').first().json.nome_trigger;\nconst dataHoraQueda = $('Consolida dados').first().json.data_hora_evento;\nconst dataHoraRestauracao = $('Consolida dados').first().json.data_hora_recuperacao;\n\nlet linhaTabela = \"\";\nlinhaTabela += `\n  <tr>\n    <td>${host}</td>\n    <td>${evento}</td>\n    <td>${dataHoraQueda}</td>\n    <td>${dataHoraRestauracao}</td>\n  </tr>\n`;\n// ==== CLIAR HTML DO CLIENTE ====\nfunction htmlCliente (linhasTabelasFormatadas){\n  const htmlCliente = `\n    <p>${getGreeting()}</p>\n\n    <p>\n      Informamo que o evento abaixo foi <strong>normalizado</strong> em nosso sistema de monitoramento.\n    </p>\n\n    <div style=\"width: 95%; padding: 10px; margin: 10px 0; text-align: center;\">\n      <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width: 100%; border-collapse: collapse;\">\n        <thead>\n          <tr>\n            <th>Host</th>\n            <th>Evento</th>\n            <th>Horário da ocorrência</th>\n            <th>Horário da normalizaçõe</th>\n          </tr>\n        </thead>\n        <tbody>\n          ${linhasTabelasFormatadas}\n        </tbody>\n      </table>\n    </div>\n\n    <p>\n      Permanecemos à disposição para quaisquer esclarecimentos adicionais.\n    </p>\n\n    <p>\n      Atenciosamente,<br>\n    </p>\n\n    <img \n      src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\"\n      alt=\"Assinatura\"\n    >\n  `;\n  return htmlCliente;\n}\n\n\nreturn [{\n  htmlCliente: htmlCliente(linhaTabela)\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,-2944],"id":"b72664e7-6f6a-458c-adf1-b65b45e36b46","name":"HTML para notificação3","disabled":true},{"parameters":{"jsCode":"const htmlCliente = $input.first().json.htmlCliente\n\nreturn {\n  json: {\n    actions: [\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" }}\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2432,-2944],"id":"643dbb28-4e66-4421-8bb9-9c7618989c7a","name":"JSON para notificação3","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d54a1fa-ac0d-420d-bdc2-46cf8b028057","leftValue":"={{ $json.flagErroNull }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1984,-2752],"id":"2e663ea2-8981-445f-b3fd-e184f417cda1","name":"erro null?","disabled":true},{"parameters":{"operation":"update","tableId":"chamados abertos","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Recupera evento no BD').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"idEventoRecuperacao","fieldValue":"={{ $('Consolida dados').item.json.ID_recuperacao }}"},{"fieldId":"timestampRecuperacao","fieldValue":"={{ $('Consolida dados').item.json.timestamp_recuperacao }}"},{"fieldId":"statusChamado","fieldValue":"3"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1760,-2560],"id":"7d7a7892-82d7-440e-b417-33d201368057","name":"BD: Atualiza bd2","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"operation":"update","tableId":"chamados abertos","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Recupera evento no BD').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"statusChamado","fieldValue":"5"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4896,-2752],"id":"7643caf9-c41c-4ee1-ab12-866801bce72a","name":"BD: Atualiza bd1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**CLIENTE:** {{ $('Consolida dados').item.json.raiz_nome_host }}\n- **HOST:** {{ $('Consolida dados').item.json.nome_host }}\n- **EVENTO:** {{ $('Consolida dados').item.json.nome_trigger }}\n- **INDISPONÍVEL EM:** {{ $('Consolida dados').item.json.data_hora_evento }}\n- **RECUPERADO EM:** {{ $('Consolida dados').item.json.data_hora_recuperacao }}\n- **TICKET MOVIDESK:** {{ $('Ajusta data e hora de encerramento').item.json.ticket_movidesk }}","author":"Fluxo de entrada","color":"#69BF6C","title":"=EVENTO ENCERRADO","thumbnail":"https://cdn-icons-png.freepik.com/64/16799/16799619.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[4672,-2752],"id":"05ad3377-4ca0-4071-8d1c-ba5b68fc5ab3","name":"Clientes gerais: Encerramento1","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"p0quhCwySuEFVzFi","name":"Clientes gerais: Encerramento de chamados"}},"disabled":true},{"parameters":{"method":"PATCH","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $('Ajusta data e hora de encerramento').first().json.ticketMovidesk }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4448,-2752],"id":"2e4fdee3-ed16-4058-976f-4d504394ed0e","name":"Movidesk: Encerra2","credentials":{"httpQueryAuth":{"id":"TMwtQv0hjXbvLVng","name":"Movidesk token"}},"disabled":true},{"parameters":{"jsCode":"return {\n  json: {\n    status: \"Resolvido\",\n    baseStatus: \"Closed\", //\"Stopped\"\n    justification: null, //\"Validação\"\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4224,-2752],"id":"06ffc69c-77bd-45c7-b446-e30905903332","name":"JSON para encerramento2","disabled":true},{"parameters":{"method":"PATCH","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $('Ajusta data e hora de encerramento').first().json.ticketMovidesk }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4000,-2752],"id":"9f2b391a-422b-4816-92ac-c0a7b639dfee","name":"Movidesk: Notifica2","alwaysOutputData":true,"credentials":{"httpQueryAuth":{"id":"TMwtQv0hjXbvLVng","name":"Movidesk token"}},"disabled":true},{"parameters":{"jsCode":"// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\nconst flagMultiplosEventos = $('Prepara múltiplos eventos').first().json.flagMultiplosEventos;\nconst objetoEventos = $input.first().json.objetoMultiplosEventos;\n\nlet linhasTabela = \"\";\nif (flagMultiplosEventos == true) {\n  for (let index = 0; index < objetoEventos.eventid_lista.length; index++) {\n    linhasTabela += `\n      <tr>\n        <td>${objetoEventos.host_lista[index]}</td>\n        <td>${objetoEventos.eventos_lista[index]}</td>\n        <td>${objetoEventos.timestamp_queda_lista[index]}</td>\n        <td>${objetoEventos.dataHoraRestauradaFormatada[index]}</td>\n      </tr>\n    `;\n  }\n  // ==== CLIAR HTML DO CLIENTE ====\n  function htmlCliente (linhasTabelasFormatadas){\n    const htmlCliente = `\n      <p>${getGreeting()}</p>\n      <br>\n      <p>Informamos que os eventos abaixo foram <strong>normalizados</strong> em nosso sistema de monitoramento.</p>\n      <div style=\"width: 95%; padding: 10px; margin: 10px 0; text-align: center;\">\n        <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width: 100%; border-collapse: collapse;\">\n          <thead>\n            <tr>\n              <th>Hosts</th>\n              <th>Eventos</th>\n              <th>Horários das ocorrências</th>\n              <th>Horários das normalizações</th>\n            </tr>\n          </thead>\n          <tbody>\n            ${linhasTabelasFormatadas}\n          </tbody>\n        </table>\n      </div>\n  \n      <p>\n        Permanecemos à disposição para quaisquer esclarecimentos adicionais.\n      </p>\n  \n      <p>\n        Atenciosamente,<br>\n      </p>\n  \n      <img \n        src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\"\n        alt=\"Assinatura\"\n      >\n    `;\n    return htmlCliente;\n  }\n  \n  \n  return [{\n    htmlCliente: htmlCliente(linhasTabela)\n  }];\n} else {\n  // ==== CLIAR HTML DO CLIENTE====\n  let linhaTabela = \"\";\n  const host = $input.first().json.objetoMultiplosEventos.host_lista[0]; // adicionar o caminho ou nome do host\n  const evento = $input.first().json.objetoMultiplosEventos.eventos_lista[0]; // adicionar o caminho ou nome do evento\n  const queda_formatada = $input.first().json.objetoMultiplosEventos.timestamp_queda_lista[0]; // adicionar o caminho ou nome da data e hora da queda (formatada para utc-3)\n  const recuperacao_formatada = $input.first().json.objetoMultiplosEventos.dataHoraRestauradaFormatada[0]; // adicionar o caminho ou nome da data e hora do momento de recuperação (formatada para utc-3)\n  \n  function htmlCliente(linha_tabela){\n  \tlinha_tabela += `\n      <tr>\n        <td>${host}</td>\n        <td>${evento}</td>\n        <td>${queda_formatada}</td>\n        <td>${recuperacao_formatada}</td>\n      </tr>\n  \t`;\n  \n  \tconst htmlCliente = `\n      <p>${getGreeting()}</p>\n      <br>\n      <p>Informamos que o evento abaixo consta <strong>normalizado</strong> em nosso sistema de monitoramento.</p>\n      <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n        <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n          <thead>\n            <tr>\n              <th>Host</th>\n              <th>Evento</th>\n              <th>Horário da ocorrência</th>\n              <th>Horário da normalização</th>\n            </tr>\n          </thead>\n          <tbody>\n            ${linha_tabela}\n          </tbody>\n        </table>\n      </div>\n      \n      <p>Permanecemos à disposição para quaisquer esclarecimentos adicionais.</p>\n      <br>\n      <br>\n      <p>Atenciosamente,</p>\n      <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n      `;\n    return htmlCliente;\n  }\n  \n  return [{multiplosEventos: flagMultiplosEventos, htmlCliente: htmlCliente(linhaTabela)}]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3552,-2752],"id":"f54982af-dfda-4ff4-84a0-be48d2bfcbe2","name":"HTML para notificação2","disabled":true},{"parameters":{"jsCode":"const htmlCliente = $input.first().json.htmlCliente\n\nreturn {\n  json: {\n    actions: [\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" }}\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3776,-2752],"id":"0bf37ff8-1cfc-420b-8c4c-682bec484f97","name":"JSON para notificação2","disabled":true},{"parameters":{"jsCode":"const eventosClocks = $input.first().json.result;\nconst objetoMultiplosEventos = $('Ajusta as informações').first().json.objetoMultiplosItens;\n\nlet data_hora_restauracao_lista = [];\n\n\nfunction trataTimestsamp(timestamp) {\n  let data_hora_formatada = DateTime.fromSeconds(parseInt(timestamp), {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).toFormat(\"cccc, dd/MM/yyyy HH:mm:ss\").toUpperCase();\n\n  return data_hora_formatada\n}\n\nfor(const ev of eventosClocks) {\n  const dataHoraFormatada = trataTimestsamp(ev.clock)\n  data_hora_restauracao_lista.push(dataHoraFormatada);\n}\n\n\nobjetoMultiplosEventos.dataHoraRestauradaFormatada = data_hora_restauracao_lista\n\nreturn [{\n  objetoMultiplosEventos\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3328,-2752],"id":"01fa4358-b59e-4e7f-b4a3-8daceb7f19b1","name":"Trata os cloks de encerramento","disabled":true},{"parameters":{"jsCode":"const eventos = $input.first().json.result;\n\nlet eventid_lista = [];\nlet host_lista = [];\nlet eventos_lista = [];\nlet timestamp_queda_lista = [];\nlet r_eventid_lista = [];\n\nfunction trataTimestsamp(timestamp) {\n  let data_hora_formatada = DateTime.fromSeconds(parseInt(timestamp), {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).toFormat(\"cccc, dd/MM/yyyy HH:mm:ss\").toUpperCase();\n\n  return data_hora_formatada\n}\n\nfor (const ev of eventos) {\n  const r_eventid_existente = parseInt(ev.r_eventid);\n\n  if (r_eventid_existente >= 1) {\n    eventid_lista.push(parseInt(ev.eventid));\n    host_lista.push(ev.hosts[0].host);\n    eventos_lista.push(ev.relatedObject.description.toUpperCase());\n    timestamp_queda_lista.push(trataTimestsamp(ev.clock));\n    r_eventid_lista.push(parseInt(ev.r_eventid));\n  }\n}\n\nconst objetoMultiplosItens = {\n  eventid_lista,\n  host_lista,\n  eventos_lista,\n  timestamp_queda_lista,\n  r_eventid_lista\n}\n\nreturn [{objetoMultiplosItens}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2656,-2752],"id":"40bb9b2c-a892-4854-833a-b3719d2d42cc","name":"Ajusta as informações","disabled":true},{"parameters":{"jsCode":"const Id_evento = $input.first().json.eventos_relacionados;\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.get\",\n  params: {\n    output: [\"eventid\", \"r_eventid\", \"clock\"],\n    eventids: Id_evento,\n\n    selectHosts: [\"host\"],\n\n    selectRelatedObject: [\"description\", \"value\"]    \n  },\n  \"id\": 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,-2752],"id":"d5250186-0ae0-4205-ac24-e4e8ab7b9e52","name":"Consulta reconhecimento1","disabled":true},{"parameters":{"jsCode":"const eventos_relacionados = $('BD: Recupera evento no BD').first().json.eventosRelacionados;\n\nif (eventos_relacionados == null ) {\n  return [{\n    flagErroNull: true\n  }]\n}\n\nif (eventos_relacionados.length == 1) {\n  return [{\n    flagMultiplosEventos: false,\n    eventos_relacionados\n  }]\n} else {\n  return [{\n    flagMultiplosEventos: true,\n    eventos_relacionados\n  }]\n}\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,-2752],"id":"d0b856d1-5ab0-42f2-aa4e-670570338c0a","name":"Prepara múltiplos eventos","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7cac487d-57b0-41e7-b870-1af4ea128a97","leftValue":"={{ $json.flagExcedeuSla }}","rightValue":"={{ $json.momentoAtualSla }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1536,-2656],"id":"c4e891fa-e24e-467c-816a-568c259b3963","name":"Nível mínimo para encerramento?","disabled":true},{"parameters":{"jsCode":"const mapa_clientes_de_contrato1 = [\n  \"INDIGO\",\n  \"ALL4LABELS\",\n  \"DYNAMIS\"\n];\nconst mapa_clientes_contrato2 = [\n  \"AMAFIL\",\n  \"UNIARP\",\n  \"IRAPURU\"\n]\n\n\nconst nome_host = $('Consolida dados').first().json.nome_host;\nlet flagTipoCliente = null;\nlet flagEventoContrato = false;\nfor(const nomeMapa of mapa_clientes_de_contrato1) {\n  const nome_contrato = nome_host.includes(nomeMapa);\n  if (nome_contrato == true) {\n    flagEventoContrato = true;\n    flagTipoCliente = 1\n  }\n}\nfor (const nomeMapa of mapa_clientes_contrato2) {\n  const nome_contrato = nome_host.includes(nomeMapa);\n  if (nome_contrato == true) {\n    flagEventoContrato = true;\n    flagTipoCliente = 2\n  }\n}\nif (flagEventoContrato == false) {\n  flagTipoCliente = 3\n}\n\nreturn [{\n  flagEventoContrato, \n  flagTipoCliente\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,-2032],"id":"e0505d2c-fe58-4106-b549-5fb01db1b74a","name":"Verifica o tipo de cliente1","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4eb27dab-b227-4938-aff0-ef73f8695111","leftValue":"={{ $('Verifica o tipo de cliente1').item.json.flagEventoContrato }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1312,-2032],"id":"b1c3e287-c531-477c-970d-e99208aa1467","name":"Evento de contrato?1","disabled":true},{"parameters":{"jsCode":"const mapa_clientes_de_contrato = [\n  \"INDIGO\",\n  \"ALL4LABELS\",\n  \"DYNAMIS\",\n  \"AMAFIL\",\n  \"UNIARP\",\n  \"IRAPURU\"\n];\n\n\nconst nome_host = $('Consolida dados').first().json.nome_host;\n\nlet flagEventoContrato = false;\nfor(const nomeMapa of mapa_clientes_de_contrato) {\n  const nome_contrato = nome_host.includes(nomeMapa);\n  if (nome_contrato == true) {\n    flagEventoContrato = true;\n  }\n}\n\nreturn [{flagEventoContrato}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[864,-2992],"id":"6b13a82d-3b5e-44f2-ae99-f40b57b955dc","name":"Verifica o tipo de cliente","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4eb27dab-b227-4938-aff0-ef73f8695111","leftValue":"={{ $json.flagEventoContrato }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1088,-2992],"id":"bba56914-dfa7-4142-82b7-cdeca1938db1","name":"Evento de contrato?","disabled":true},{"parameters":{"operation":"update","tableId":"chamados abertos","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Cria evento').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"statusChamado","fieldValue":"3"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2272,-1824],"id":"bcc21b0e-0b23-493a-a68b-4894073bec25","name":"BD: Atualiza bd","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51a2ac08-37c7-4389-804d-43db19b1ab67","leftValue":"={{ $json.flags.flagEncerrarMovidesk }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2048,-1824],"id":"42fa96eb-14fa-4248-8a29-757830b957a6","name":"Notificar encerramento?","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"27364818-f7e5-4d77-be32-1a7acb37d874","leftValue":"={{ $json.flags.flagSlaExcedido }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1824,-1904],"id":"16c49ce3-c85e-4977-b842-c8569e40d69f","name":"SLA excedido?","disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**CLIENTE:** {{ $('Consolida dados').item.json.raiz_nome_host }}\n- **HOST:** {{ $('Consolida dados').item.json.nome_host }}\n- **EVENTO:** {{ $('Consolida dados').item.json.nome_trigger }}\n- **INDISPONÍVEL EM:** {{ $('Consolida dados').item.json.data_hora_evento }}\n- **RECUPERADO EM:** {{ $('Consolida dados').item.json.data_hora_recuperacao }}\n- **TICKET MOVIDESK:** {{ $('Ajusta data e hora de encerramento').item.json.ticket_movidesk }}","author":"Fluxo de entrada","color":"#69BF6C","title":"=EVENTO ENCERRADO","thumbnail":"https://cdn-icons-png.freepik.com/512/16799/16799619.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3168,-2000],"id":"f9543f3b-2a5d-4c6b-b3b1-e9f2c9b606c5","name":"Clientes gerais: Encerramento","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"p0quhCwySuEFVzFi","name":"Clientes gerais: Encerramento de chamados"}},"disabled":true},{"parameters":{"method":"PATCH","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $('Ajusta data e hora de encerramento').first().json.ticketMovidesk }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2944,-2000],"id":"33c194de-9364-4488-8a02-85fb38fe423a","name":"Movidesk: Encerra","credentials":{"httpQueryAuth":{"id":"TMwtQv0hjXbvLVng","name":"Movidesk token"}},"disabled":true},{"parameters":{"jsCode":"return {\n  json: {\n    status: \"Resolvido\",\n    baseStatus: \"Closed\", //\"Stopped\"\n    justification: null, //\"Validação\"\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2720,-2000],"id":"cda37efd-be06-4dcc-bb46-03f2500eae48","name":"JSON para encerramento","disabled":true},{"parameters":{"method":"PATCH","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $('Ajusta data e hora de encerramento').first().json.ticketMovidesk }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2496,-2000],"id":"994c3f48-da74-4775-b920-6fbbc644bc44","name":"Movidesk: Notifica","alwaysOutputData":true,"credentials":{"httpQueryAuth":{"id":"TMwtQv0hjXbvLVng","name":"Movidesk token"}},"disabled":true},{"parameters":{"jsCode":"// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\nconst host = $('Consolida dados').first().json.nome_host;\nconst evento = $('Consolida dados').first().json.nome_trigger;\nconst queda = $('Consolida dados').first().json.data_hora_evento;\nconst restabelecimento = $('Consolida dados').first().json.data_hora_recuperacao;\n\nlet linhaTabela = \"\";\nlinhaTabela += `\n  <tr>\n    <td>${host}</td>\n    <td>${evento}</td>\n    <td>${queda}</td>\n    <td>${restabelecimento}</td>\n\n  </td>\n`;\n\n// ==== CLIAR HTML DO CLIENTE ====\nfunction htmlCliente (linhasTabelasFormatadas){\n  const htmlCliente = `\n    <p>${getGreeting()}</p>\n\n    <p>\n      Informamos que o evento abaixo foi <strong>normalizado</strong> em nosso sistema de monitoramento.\n    </p>\n\n    <div style=\"width: 95%; padding: 10px; margin: 10px 0; text-align: center;\">\n      <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width: 100%; border-collapse: collapse;\">\n        <thead>\n          <tr>\n            <th>Host</th>\n            <th>Evento</th>\n            <th>Horário da ocorrência</th>\n            <th>Horário da normalização</th>\n          </tr>\n        </thead>\n        <tbody>\n          ${linhasTabelasFormatadas}\n        </tbody>\n      </table>\n    </div>\n\n    <p>\n      Permanecemos à disposição para quaisquer esclarecimentos adicionais.\n    </p>\n\n    <p>\n      Atenciosamente,<br>\n    </p>\n\n    <img \n      src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\"\n      alt=\"Assinatura\"\n    >\n  `;\n  return htmlCliente;\n}\n\n\nreturn [{\n  htmlCliente: htmlCliente(linhaTabela)\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2048,-2000],"id":"3566b330-33f9-46b6-8b90-565f315b787a","name":"HTML para notificação","disabled":true},{"parameters":{"jsCode":"const htmlCliente = $input.first().json.htmlCliente\n\nreturn {\n  json: {\n    actions: [\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" }}\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2272,-2000],"id":"86cbc0e9-746b-428e-9d45-23ab78b68def","name":"JSON para notificação","disabled":true},{"parameters":{"jsCode":"const timestamp_queda = $('Consolida dados').first().json.timestamp_queda;\nconst timestamp_now = DateTime.now().toUnixInteger();\nconst timestamp_queda_menos_now = timestamp_now - timestamp_queda;\nconst sla_padrao_cliente = $input.first().json.segundos_decrescimo_horas;\n\nconst flagExcedeuSla = sla_padrao_cliente <= timestamp_queda_menos_now;\n\nreturn [{\n  flagExcedeuSla\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,-1360],"id":"4843ec59-9a9d-4b28-8341-721ad1fc1ad8","name":"Valida SLA"},{"parameters":{"operation":"get","tableId":"tipo de cliente","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Consolida dados').item.json.tipoContrato }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[304,-1360],"id":"58e199e1-468c-454e-84c9-bb7f929be979","name":"BD: Recupera tipo de cliente","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9b08e1da-1077-44cd-9050-a0ec026fff06","leftValue":"={{ $('Valida SLA').item.json.flagExcedeuSla }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1200,-1424],"id":"1d754e08-33d8-428c-ad92-73ab400511b0","name":"Sla excedido?"},{"parameters":{"jsCode":"const id_evento = $('Consolida dados').first().json.ID_evento;\nconst eventos_relacionados = $('BD: Recupera evento no BD').first().json.eventosRelacionados;\n\nlet flagEventoRelacionadoRegistrado = false;\nfor (const ev of eventos_relacionados) {\n  const validacaoIdEvento = parseInt(ev) == id_evento ? true : false;\n  if (validacaoIdEvento == true) {\n    flagEventoRelacionadoRegistrado = true;\n    break\n  }\n}\n\nif (flagEventoRelacionadoRegistrado == false) {\n  eventos_relacionados.push(String(id_evento));\n}\n\nreturn [{\n  eventos_relacionados\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,-1488],"id":"be6fc037-d23d-4f71-97a3-7521cf82bf1f","name":"Ajusta dados para atualizar BD"},{"parameters":{"operation":"update","tableId":"chamados abertos","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Recupera evento no BD').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"idGroup","fieldValue":"={{ $('Consolida dados').item.json.ID_grupo }}"},{"fieldId":"statusChamado","fieldValue":"5"},{"fieldId":"eventosRelacionados","fieldValue":"={{ $json.eventos_relacionados }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1648,-1488],"id":"be125030-869a-43a8-9f5b-8fb5016be0d0","name":"BD: Atualiza status do chamado","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"tableId":"fila de encerramento","fieldsUi":{"fieldValues":[{"fieldId":"ID do evento","fieldValue":"={{ $('Consolida dados').item.json.ID_evento }}"},{"fieldId":"ID de recuperacao","fieldValue":"={{ $('Consolida dados').item.json.ID_recovery }}"},{"fieldId":"ID do host","fieldValue":"={{ $('Consolida dados').item.json.ID_host }}"},{"fieldId":"ID do grupo","fieldValue":"={{ $('Consolida dados').item.json.ID_grupo }}"},{"fieldId":"Reconhecido","fieldValue":"={{ $('Consolida dados').item.json.flagReconhecido }}"},{"fieldId":"Timestamp da queda","fieldValue":"={{ $('Consolida dados').item.json.timestamp_queda }}"},{"fieldId":"Data e hora da queda","fieldValue":"={{ $('Consolida dados').item.json.data_hora_queda_formatado }}"},{"fieldId":"Timestamp da recuperacao","fieldValue":"={{ $('Ajusta data e hora de encerramento').item.json.timestamp_recuperacao }}"},{"fieldId":"Data e hora da recuperacao","fieldValue":"={{ $('Ajusta data e hora de encerramento').item.json.data_hora_recuperacao_formatado }}"},{"fieldId":"Nome do host","fieldValue":"={{ $('Consolida dados').item.json.nome_host }}"},{"fieldId":"Raiz host","fieldValue":"={{ $('Consolida dados').item.json.nome_host_raiz }}"},{"fieldId":"Nome do evento","fieldValue":"={{ $('Consolida dados').item.json.evento }}"},{"fieldId":"Nome do grupo","fieldValue":"={{ $('Valida melhor grupo').item.json.melhorGrupo.name }}"},{"fieldId":"SLA excedido","fieldValue":"={{ $('Valida SLA').item.json.flagExcedeuSla }}"},{"fieldId":"Eventos relacionados","fieldValue":"={{ $json.eventosRelacionados }}"},{"fieldId":"Id na tabela principal","fieldValue":"={{ $('BD: Recupera evento no BD').item.json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1872,-1488],"id":"fbe200ae-b0d8-4158-b4aa-c3aed718769b","name":"BD: Cria evento na fila de encerramento","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}}],"connections":{"Evento liberado para fluxo?":{"main":[[{"node":"Evento de encerramento?","type":"main","index":0}],[]]},"BLOQUEIOS":{"main":[[{"node":"Evento liberado para fluxo?","type":"main","index":0}]]},"Evento de encerramento?":{"main":[[{"node":"Evento reconhecido?","type":"main","index":0}],[{"node":"BD: Correspondência no hall de entrada","type":"main","index":0}]]},"Existe evento?":{"main":[[{"node":"Igualdade de eventos?","type":"main","index":0}],[{"node":"BD: Nova linha no hall de entrada","type":"main","index":0}]]},"Adiciona ID evento em eventos relacionados":{"main":[[{"node":"BD: Adiciona eventos relacionados no hall de entrada","type":"main","index":0}]]},"Zabbix: Consulta encerramento":{"main":[[{"node":"Ajusta data e hora de encerramento","type":"main","index":0}]]},"Existe reconhecimento válido?":{"main":[[{"node":"BD: Recupera tipo de cliente","type":"main","index":0}],[]]},"BD: Recupera evento no BD":{"main":[[{"node":"Existe evento no BD?","type":"main","index":0}]]},"Existe evento no BD?":{"main":[[{"node":"Sla excedido?","type":"main","index":0}],[]]},"Evento reconhecido?":{"main":[[{"node":"Zabbix: Consulta encerramento","type":"main","index":0}],[]]},"Igualdade de eventos?":{"main":[[{"node":"Do not2","type":"main","index":0}],[{"node":"Verifica igualdade de portas","type":"main","index":0}]]},"Verifica igualdade de portas":{"main":[[{"node":"Portas são iguais?","type":"main","index":0}]]},"Portas são iguais?":{"main":[[{"node":"Adiciona ID evento em eventos relacionados","type":"main","index":0}],[{"node":"BD: Nova linha no hall de entrada","type":"main","index":0}]]},"Webhook Zabbix - hall de entrada":{"main":[[{"node":"Zabbix: Event.get - consulta principal","type":"main","index":0}]]},"BD: Correspondência no hall de entrada":{"main":[[{"node":"Existe evento?","type":"main","index":0}]]},"BD: Adiciona eventos relacionados no hall de entrada":{"main":[[]]},"Zabbix: Event.get - consulta principal":{"main":[[{"node":"Zabbix: Host.get -> consulta de grupo","type":"main","index":0}]]},"Consolida dados":{"main":[[{"node":"BLOQUEIOS","type":"main","index":0}]]},"Zabbix: Host.get -> consulta de grupo":{"main":[[{"node":"Valida melhor grupo","type":"main","index":0}]]},"Valida melhor grupo":{"main":[[{"node":"Consolida dados","type":"main","index":0}]]},"Ajusta data e hora de encerramento":{"main":[[{"node":"Existe reconhecimento válido?","type":"main","index":0}]]},"Porta null?":{"main":[[{"node":"Valida eventos relacionados","type":"main","index":0}],[{"node":"Host.get para consulta de grupo do host","type":"main","index":0}]]},"BD: Recupera na fila de encerramento":{"main":[[{"node":"Match de porta e host","type":"main","index":0}]]},"BD: Atualiza eventosZabbix":{"main":[[{"node":"BD: Atualiza fila de encerramento","type":"main","index":0}]]},"Host.get para consulta de grupo do host":{"main":[[{"node":"Zabbix: host.get -> grupo do host","type":"main","index":0}]]},"Zabbix: host.get -> grupo do host":{"main":[[{"node":"Ajusta o melhor grupo","type":"main","index":0}]]},"Ajusta o melhor grupo":{"main":[[{"node":"BD: fila de encerramento - contratos","type":"main","index":0}]]},"BD: fila de encerramento - contratos":{"main":[[{"node":"adm: encerramento2","type":"main","index":0}]]},"Valida eventos relacionados":{"main":[[{"node":"BD: Atualiza eventosZabbix","type":"main","index":0}]]},"Evento relacionado?":{"main":[[{"node":"Valida eventos relacionados","type":"main","index":0}],[{"node":"Porta null?","type":"main","index":0}]]},"Match de porta e host":{"main":[[{"node":"Evento relacionado?","type":"main","index":0}]]},"Valida SLA2":{"main":[[{"node":"Host.get para consulta de grupo do host1","type":"main","index":0}]]},"Host.get para consulta de grupo do host1":{"main":[[{"node":"Zabbix: host.get -> grupo do host1","type":"main","index":0}]]},"Zabbix: host.get -> grupo do host1":{"main":[[{"node":"Ajusta o melhor grupo1","type":"main","index":0}]]},"Ajusta o melhor grupo1":{"main":[[{"node":"BD: fila de encerramento - contratos1","type":"main","index":0}]]},"BD: fila de encerramento - contratos1":{"main":[[{"node":"adm: encerramento3","type":"main","index":0}]]},"BD: Cria evento":{"main":[[{"node":"Evento de contrato?1","type":"main","index":0}]]},"Valida SLA1":{"main":[[{"node":"Nível mínimo para encerramento?","type":"main","index":0}]]},"Zabbix: Consulta reconhecimento":{"main":[[{"node":"Ajusta as informações","type":"main","index":0}]]},"Consulta encerramento":{"main":[[{"node":"Zabbix: Consulta encerramento1","type":"main","index":0}]]},"Clientes gerais: Encerramento2":{"main":[[{"node":"BD: Atualiza bd3","type":"main","index":0}]]},"Movidesk: Encerra3":{"main":[[{"node":"Clientes gerais: Encerramento2","type":"main","index":0}]]},"JSON para encerramento3":{"main":[[{"node":"Movidesk: Encerra3","type":"main","index":0}]]},"Movidesk: Notifica3":{"main":[[{"node":"JSON para encerramento3","type":"main","index":0}]]},"HTML para notificação3":{"main":[[{"node":"JSON para notificação3","type":"main","index":0}]]},"JSON para notificação3":{"main":[[{"node":"Movidesk: Notifica3","type":"main","index":0}]]},"erro null?":{"main":[[{"node":"adm: problema com null","type":"main","index":0},{"node":"HTML para notificação3","type":"main","index":0}],[{"node":"Consulta reconhecimento1","type":"main","index":0}]]},"Zabbix: Consulta encerramento1":{"main":[[{"node":"Trata os cloks de encerramento","type":"main","index":0}]]},"Clientes gerais: Encerramento1":{"main":[[{"node":"BD: Atualiza bd1","type":"main","index":0}]]},"Movidesk: Encerra2":{"main":[[{"node":"Clientes gerais: Encerramento1","type":"main","index":0}]]},"JSON para encerramento2":{"main":[[{"node":"Movidesk: Encerra2","type":"main","index":0}]]},"Movidesk: Notifica2":{"main":[[{"node":"JSON para encerramento2","type":"main","index":0}]]},"HTML para notificação2":{"main":[[{"node":"JSON para notificação2","type":"main","index":0}]]},"JSON para notificação2":{"main":[[{"node":"Movidesk: Notifica2","type":"main","index":0}]]},"Trata os cloks de encerramento":{"main":[[{"node":"HTML para notificação2","type":"main","index":0}]]},"Ajusta as informações":{"main":[[{"node":"Consulta encerramento","type":"main","index":0}]]},"Consulta reconhecimento1":{"main":[[{"node":"Zabbix: Consulta reconhecimento","type":"main","index":0}]]},"Prepara múltiplos eventos":{"main":[[{"node":"erro null?","type":"main","index":0}]]},"Nível mínimo para encerramento?":{"main":[[{"node":"Prepara múltiplos eventos","type":"main","index":0}],[{"node":"BD: Atualiza bd2","type":"main","index":0}]]},"Verifica o tipo de cliente1":{"main":[[{"node":"BD: Cria evento","type":"main","index":0}]]},"Evento de contrato?1":{"main":[[{"node":"Valida SLA2","type":"main","index":0}],[{"node":"Valida SLA3","type":"main","index":0}]]},"Verifica o tipo de cliente":{"main":[[{"node":"Evento de contrato?","type":"main","index":0}]]},"Evento de contrato?":{"main":[[{"node":"BD: Recupera na fila de encerramento","type":"main","index":0}],[{"node":"Valida SLA1","type":"main","index":0}]]},"Notificar encerramento?":{"main":[[{"node":"HTML para notificação","type":"main","index":0}],[{"node":"BD: Atualiza bd","type":"main","index":0}]]},"Valida SLA3":{"main":[[{"node":"SLA excedido?","type":"main","index":0}]]},"SLA excedido?":{"main":[[{"node":"HTML para notificação","type":"main","index":0}],[{"node":"Notificar encerramento?","type":"main","index":0}]]},"Movidesk: Encerra":{"main":[[{"node":"Clientes gerais: Encerramento","type":"main","index":0}]]},"JSON para encerramento":{"main":[[{"node":"Movidesk: Encerra","type":"main","index":0}]]},"Movidesk: Notifica":{"main":[[{"node":"JSON para encerramento","type":"main","index":0}]]},"HTML para notificação":{"main":[[{"node":"JSON para notificação","type":"main","index":0}]]},"JSON para notificação":{"main":[[{"node":"Movidesk: Notifica","type":"main","index":0}]]},"Valida SLA":{"main":[[{"node":"BD: Recupera evento no BD","type":"main","index":0}]]},"BD: Recupera tipo de cliente":{"main":[[{"node":"Valida SLA","type":"main","index":0}]]},"Sla excedido?":{"main":[[{"node":"Ajusta dados para atualizar BD","type":"main","index":0}]]},"Ajusta dados para atualizar BD":{"main":[[{"node":"BD: Atualiza status do chamado","type":"main","index":0}]]},"BD: Atualiza status do chamado":{"main":[[{"node":"BD: Cria evento na fila de encerramento","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"akaImKErHyzNLJa6"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook Zabbix - hall de entrada":[{"json":{"headers":{"host":"172.30.200.30:5678","user-agent":"curl/7.88.1","accept":"*/*","content-type":"application/json","content-length":"625"},"params":{},"query":{},"body":{"id_evento":"9370288","status_evento":"0","reconhecimento":"Yes","data_evento":"2026.01.27","hora_evento":"14:21:24","id_recuperacao":"9386103","data_recuperacao":"2026.01.27","hora_recuperacao":"16:14:51","id_trigger":"72102","nome_trigger":"SLA Google - wan - Indisponível","status_trigger":"OK","id_host":"19380","nome_host":"INDIGO DC NAVEGANTES - FORTIGATE 40F - 172.22.2.254","description_host":"{0}","tags":"Aplicação:SNMP Fortigate, SLA:Google - wan, Template:Firewall, Template:SNMP, aplicacao:link, objeto:wan, procedimento:indigo_dc_navegantes"},"webhookUrl":"http://localhost:5678/webhook/zabbix-alert","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"c1e71396-9651-4590-bb1f-908d383fc161","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-11-29T01:55:03.047Z","createdAt":"2025-11-29T01:55:03.047Z","role":"workflow:owner","workflowId":"xHHJuRMygIZgElfc","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":null,"tags":[{"updatedAt":"2025-10-24T18:08:27.659Z","createdAt":"2025-10-24T18:08:27.659Z","id":"oUDNU2rUDi9xwp5Q","name":"FluxoNOC_principal"}]}