01.-entrada-de-eventos-iIvBizPtefiONzyn.json
{"updatedAt":"2026-01-27T18:47:03.534Z","createdAt":"2025-10-28T17:18:17.409Z","id":"iIvBizPtefiONzyn","name":"01. Entrada de eventos","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"zabbix-quedas","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,-304],"id":"90ef2779-7ecc-497a-9979-c04216afa9b2","name":"Quedas Zabbix","webhookId":"64342bfc-5ac6-4291-b5bf-a8dfac6ab0ef"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-208],"id":"20f87e1e-9fc1-40f3-a8af-1db1abf93e1f","name":"Trazendo as informações do evento","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"ec864fe8-58c0-4024-8407-a41ecc518a29","name":"id_evento","value":"={{ Number($json.body.eventid) }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-176,-208],"id":"caded177-22aa-4322-964d-4df26eaa62d6","name":"Event_id_webhook"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-400,-112],"id":"160147c1-cb0f-46e9-ba53-3b4cc25a7cc6","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"const id_evento = $input.first().json.id_evento;\nconst authenticator = \"ded694246ec8a5d9a1c92c27930877d4780c2d3fa9a67b32e4f61913699c8b18\";\n\n\nreturn {\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"r_eventid\"],\n\n    \"eventids\": [`${id_evento}`],\n\n    \"selectHosts\": [\"hostid\", \"name\", \"description\"],\n\n    \"selectAcknowledges\": [\"message\", \"action\"],\n\n    \"selectRelatedObject\": [\"description\", \"value\"],\n\n    \"selectTags\": \"extend\"\n  },\n  \"auth\": `${authenticator}`,\n  \"id\": 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,-208],"id":"a88adfb5-a5a6-469d-b3c3-9fa654e4fb15","name":"json para requisição Zabbix"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Atenção! Zabbix recusou conexão no fluxo de logs - possível indisponibilidade!\n\nVerificar com URGÊNCIA\nErro: {{ $json.error.code }} = {{ $json.error.status }}","color":"#FD2A2A","title":"CONEXÃO RECUSADA NO LOGS","thumbnail":"https://cdn-icons-png.freepik.com/512/1331/1331377.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[496,-112],"id":"6f369845-3fbf-4087-b650-4ae69f990e58","name":"Discord: Erro Zabbix","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"yEHPpl6vHEv9JEzx","name":"Discord: Eventos de log"}}},{"parameters":{"jsCode":"const nome_host_completo = $('Trazendo as informações do evento').first().json.result[0].hosts[0].name\nconst raiz_nome = nome_host_completo.split(\"-\")[0].trim();\n\n// Lista de clientes especiais\nconst clientes_especiais = [\"INDIGO\", \"ALL4LABELS\"];\n\n// Pegar a primeira palavra\nconst primeira_palavra = raiz_nome.split(\" \")[0].trim();\n\n// Se a primeira palavra estiver na lista, retornar só ela\nif (clientes_especiais.includes(primeira_palavra.toUpperCase())) {\n  return [{ raiz_nome_completo: raiz_nome, \n           raiz_nome: primeira_palavra }];\n}\n\n// Caso contrário, retornar o texto inteiro como já vem\nreturn [{ raiz_nome_completo: raiz_nome,\n         raiz_nome }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,-304],"id":"7be89e41-34f8-4dd4-a358-40b28c1f4f9e","name":"Ajusta a raizNomeHost"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs","mode":"list","cachedResultName":"Dados_automação ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":195655548,"mode":"list","cachedResultName":"Contatos_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs/edit#gid=195655548"},"filtersUI":{"values":[{"lookupColumn":"EMPRESA","lookupValue":"={{ $json.raiz_nome }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1392,-304],"id":"e70aa006-dd43-4d93-8ee7-5ffab7f4a93d","name":"Google: Select variáveis cliente","alwaysOutputData":true,"credentials":{"googleApi":{"id":"G23Xn5Fl7KzKph4r","name":"Google Service Account account"}}},{"parameters":{"operation":"get","tableId":"variaveis_cliente","filters":{"conditions":[{"keyName":"nome_variavel","keyValue":"={{ $json['RELAÇÃO'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1840,-400],"id":"4847665a-d8e2-4558-a841-8d9f57245fe4","name":"BD: Select variáveis tipoCliente","retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0fe6b60-1874-459c-8cc7-7be9cb64e8a8","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1616,-304],"id":"aa0971be-6819-4670-8bc0-4de750f4927e","name":"Existe registro?"},{"parameters":{"assignments":{"assignments":[{"id":"60d21966-6724-4b12-8d0d-83f3bbae1ed4","name":"ID evento","value":"={{ $('Trazendo as informações do evento').item.json.result[0].eventid }}","type":"number"},{"id":"a5120422-9ff7-4cfb-b5c1-f2cfad6a1aa4","name":"ID do host","value":"={{ $('Trazendo as informações do evento').item.json.result[0].hosts[0].hostid }}","type":"number"},{"id":"469280a5-7f03-4cea-beef-985dee360ede","name":"ID tipo cliente","value":"={{ $json.id }}","type":"number"},{"id":"02ca861c-50da-4913-be5c-1ae81f9955c4","name":"Nome do host comple","value":"={{ $('Trazendo as informações do evento').item.json.result[0].hosts[0].name }}","type":"string"},{"id":"9aef2538-1aae-44b6-80cd-75ce60962fca","name":"Raiz do host","value":"={{ $('Ajusta a raizNomeHost').item.json.raiz_nome_completo }}","type":"string"},{"id":"d1cdf59e-8994-489e-980b-20b297f494de","name":"Evento","value":"={{ $('Trazendo as informações do evento').item.json.result[0].relatedObject.description.toUpperCase() }}","type":"string"},{"id":"cfe2517e-c4bd-45fb-916a-8408cc8e9323","name":"Timestamp do evento","value":"={{ $('Trazendo as informações do evento').item.json.result[0].clock }}","type":"number"},{"id":"0bfc845a-0b74-46b6-886b-98ff074bbb33","name":"Data e hora formatada","value":"={{ DateTime.fromSeconds(parseInt($('Trazendo as informações do evento').item.json.result[0].clock), {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).format(\"cccc - dd/MM/yyyy- HH:mm:ss\") }}","type":"string"},{"id":"2ee7d4f7-5b1f-4e19-b927-ce6f32ec77f0","name":"ID do grupo","value":"={{ $('Ajusta o grupo principal').item.json.melhorGrupo.groupid }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2064,-400],"id":"85ea09fe-cba0-4b84-9b86-f7f18dd02f5d","name":"Prepara adição na planilha de logs"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=O cliente não possui dados na planilha de clientes\n\n**NOME:** {{ $('Ajusta a raizNomeHost').item.json.raiz_nome }}\n**EVENTO:** {{ $('Trazendo as informações do evento').item.json.result[0].relatedObject.description.toUpperCase() }}\n**DATA E HORA DO EVENTO: {{ DateTime.fromSeconds(parseInt($('Trazendo as informações do evento').item.json.result[0].clock), {zone: \"America/Sao_Paulo\"}).format(\"dd/MM/yyyy HH:mm:ss\") }}","color":"#009EDD","title":"PLANIL DE LOGS - FALTAM DADOS","thumbnail":"https://cdn-icons-png.freepik.com/512/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1840,-208],"id":"4bf43192-bf12-4731-a609-75ad2551b6e7","name":"Discord: Falta de dados do cliente","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"yEHPpl6vHEv9JEzx","name":"Discord: Eventos de log"}}},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1uew6yObvtENgshA7fyO5u2m3OpnXlwBp_jn_zVe8qLo","mode":"list","cachedResultName":"Logs de quedas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uew6yObvtENgshA7fyO5u2m3OpnXlwBp_jn_zVe8qLo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1290269700,"mode":"list","cachedResultName":"logs_horario_comercial","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uew6yObvtENgshA7fyO5u2m3OpnXlwBp_jn_zVe8qLo/edit#gid=1290269700"},"columns":{"mappingMode":"defineBelow","value":{"Id do evento":"={{ $json['ID evento'] }}","Id do host":"={{ $json['ID do host'] }}","Id tipo cliente":"={{ $json['ID tipo cliente'] }}","Host":"={{ $json['Nome do host comple'] }}","Raiz host":"={{ $json['Raiz do host'] }}","Evento":"={{ $json.Evento }}","Timestamp":"={{ $json['Timestamp do evento'] }}","Data e hora formatada":"={{ $json['Data e hora formatada'] }}","Id do grupo":"={{ $json['ID do grupo'] }}"},"matchingColumns":[],"schema":[{"id":"Id do evento","displayName":"Id do evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Id do host","displayName":"Id do host","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Id tipo cliente","displayName":"Id tipo cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Id do grupo","displayName":"Id do grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Host","displayName":"Host","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Raiz host","displayName":"Raiz host","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Evento","displayName":"Evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data e hora formatada","displayName":"Data e hora formatada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2288,-400],"id":"7e9ebdff-dd39-453a-8991-74e7a38142be","name":"Sheet: Add evento na planilha de logs","credentials":{"googleApi":{"id":"G23Xn5Fl7KzKph4r","name":"Google Service Account account"}}},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,-304],"id":"3067f383-23fd-4dd8-9c4f-2078a2f2c742","name":"Zabbix: Consulta grupo","retryOnFail":true},{"parameters":{"jsCode":"const lista_grupos = $input.first().json.result[0].hostgroups;\nconst nome_completo_host = $('Trazendo as informações do evento').first().json.result[0].hosts[0].name;\n\nfunction obterMelhorGrupo(host, grupos) {\n  // Normaliza o host para comparação\n  const hostNorm = host.toLowerCase();\n\n  let melhorGrupo = null;\n  let melhorPontuacao = 0;\n\n  for (const grupo of grupos) {\n    // Divide o nome do grupo em palavras\n    const palavras = grupo.name.toLowerCase().split(/\\s+|-/).filter(p => p.trim() !== \"\");\n\n    // Conta quantas palavras do grupo aparecem no host\n    let score = 0;\n    for (const palavra of palavras) {\n      if (hostNorm.includes(palavra)) {\n        score++;\n      }\n    }\n\n    // Verifica se é o melhor até agora\n    if (score > melhorPontuacao) {\n      melhorPontuacao = score;\n      melhorGrupo = grupo;\n    }\n  }\n\n  return melhorGrupo;\n}\n\nif (lista_grupos.length >= 2) {\n  return [{\n    melhorGrupo: obterMelhorGrupo(nome_completo_host, lista_grupos)\n  }]\n} else {\n  return [{\n    melhorGrupo: {\n      groupid: Number(lista_grupos[0].groupid),\n      name: lista_grupos[0].name\n    }\n  }]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,-304],"id":"8e879e6c-60ea-49b2-bd6f-95eee8013b11","name":"Ajusta o grupo principal"},{"parameters":{"jsCode":"const ID_host = $input.first().json.result[0].hosts[0].hostid;\nconst authenticator = \"ded694246ec8a5d9a1c92c27930877d4780c2d3fa9a67b32e4f61913699c8b18\";\n\n\nreturn {\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"host.get\",\n  \"params\": {\n    \"output\": [\n      \"hostid\",\n      \"name\"\n    ],\n\n    \"selectHostGroups\": [\n      \"groupid\",\n      \"name\"\n    ],\n\n    \"hostids\": `${ID_host}`\n  },\n  \"auth\": `${authenticator}`,\n  \"id\": 2\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,-304],"id":"f5d92199-cb58-4f5e-940b-403a47dc7ba1","name":"Prepara json para consulta grupo Zabbix"}],"connections":{"Trazendo as informações do evento":{"main":[[{"node":"Prepara json para consulta grupo Zabbix","type":"main","index":0}],[{"node":"Discord: Erro Zabbix","type":"main","index":0}]]},"Quedas Zabbix":{"main":[[{"node":"Event_id_webhook","type":"main","index":0}]]},"Event_id_webhook":{"main":[[{"node":"json para requisição Zabbix","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Event_id_webhook","type":"main","index":0}]]},"json para requisição Zabbix":{"main":[[{"node":"Trazendo as informações do evento","type":"main","index":0}]]},"Ajusta a raizNomeHost":{"main":[[{"node":"Google: Select variáveis cliente","type":"main","index":0}]]},"Google: Select variáveis cliente":{"main":[[{"node":"Existe registro?","type":"main","index":0}]]},"Existe registro?":{"main":[[{"node":"BD: Select variáveis tipoCliente","type":"main","index":0}],[{"node":"Discord: Falta de dados do cliente","type":"main","index":0}]]},"BD: Select variáveis tipoCliente":{"main":[[{"node":"Prepara adição na planilha de logs","type":"main","index":0}]]},"Prepara adição na planilha de logs":{"main":[[{"node":"Sheet: Add evento na planilha de logs","type":"main","index":0}]]},"Zabbix: Consulta grupo":{"main":[[{"node":"Ajusta o grupo principal","type":"main","index":0}]]},"Prepara json para consulta grupo Zabbix":{"main":[[{"node":"Zabbix: Consulta grupo","type":"main","index":0}]]},"Ajusta o grupo principal":{"main":[[{"node":"Ajusta a raizNomeHost","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Quedas Zabbix":[{"json":{"headers":{"host":"172.30.200.30:5678","user-agent":"curl/7.88.1","accept":"*/*","content-type":"application/json","content-length":"26"},"params":{},"query":{},"body":{"eventid":"1478769"},"webhookUrl":"http://localhost:5678/webhook/zabbix-quedas","executionMode":"production"}}]},"versionId":"a5142c93-a8f7-458f-8d03-95c3ccb741cf","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-10-28T17:18:17.419Z","createdAt":"2025-10-28T17:18:17.419Z","role":"workflow:owner","workflowId":"iIvBizPtefiONzyn","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":null,"tags":[{"updatedAt":"2025-10-28T19:56:14.460Z","createdAt":"2025-10-28T19:56:14.460Z","id":"UKeczAnIY31ftuzy","name":"eventos_de_log"}]}