01.-recebimento-de-eventos-eL9jFSfENeNRUQ_TYmvdi.json
{"updatedAt":"2026-01-27T18:28:22.416Z","createdAt":"2026-01-27T17:58:03.778Z","id":"eL9jFSfENeNRUQ_TYmvdi","name":"01. Recebimento de eventos","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"zabbix-soc","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-32],"id":"90985e16-bd33-4fba-8eb5-2203891754b7","name":"Webhook","webhookId":"591ff1c2-f430-456e-8a54-a14ea5977449"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,-32],"id":"318ba389-5a8c-4f44-b9ab-2429b56ec85e","name":"JSON event.get"},{"parameters":{"method":"POST","url":"https://monitorsoc.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[448,-32],"id":"4e1cc158-e09c-48e1-9de2-13f062438423","name":"Zabbix: Consulta dados do evento","credentials":{"zabbixApi":{"id":"FZu2dHfv7qzgYIre","name":"Zabbix SOC"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,-32],"id":"aeacdf16-fd04-4328-b42b-470ac63cdaac","name":"BLOQUEIOS"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0621dbf2-61e2-4e02-ae0a-4670d59ae417","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1120,-32],"id":"b7117994-1c42-4c1f-ad55-6933ff048caf","name":"Liberado para fluxo?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1344,64],"id":"bde51ad5-1ccc-48ad-ba1b-659bf83a4d27","name":"Do not"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,-32],"id":"1ff5a398-9cae-4636-9af0-44f124ab0f24","name":"Consolida informações do fluxo"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e450bcee-07fe-4ef6-a1e9-47242f36dada","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1344,-128],"id":"4575e5d0-14fb-4111-8f19-195ba258eac9","name":"Encerramento?"},{"parameters":{"workflowId":{"__rl":true,"value":"0L9QdbDb-Y76HleiR5-CQ","mode":"list","cachedResultUrl":"/workflow/0L9QdbDb-Y76HleiR5-CQ","cachedResultName":"03. Encerramento"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1568,-32],"id":"8fdd6a22-aafb-4755-9d5e-a19f4bb8d128","name":"Execute fluxo de encerramento"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1C4w67CGXxcE4kjkbN10is7XnDriWgrE6C1AytMjy0cY","mode":"list","cachedResultName":"Eventos do SOC","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1C4w67CGXxcE4kjkbN10is7XnDriWgrE6C1AytMjy0cY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Eventos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1C4w67CGXxcE4kjkbN10is7XnDriWgrE6C1AytMjy0cY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"ID do evento","displayName":"ID do evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Host","displayName":"Host","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Evento","displayName":"Evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data e hora da queda","displayName":"Data e hora da queda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Timestamp da queda","displayName":"Timestamp da queda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reconhecido?","displayName":"Reconhecido?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Finalizado?","displayName":"Finalizado?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1568,-224],"id":"74362b2a-dba8-4562-8537-4ce4ea2f1e5f","name":"Sheet: Adicionar evento na planilha","credentials":{"googleApi":{"id":"G23Xn5Fl7KzKph4r","name":"Google Service Account account"}}}],"connections":{"Webhook":{"main":[[{"node":"JSON event.get","type":"main","index":0}]]},"JSON event.get":{"main":[[{"node":"Zabbix: Consulta dados do evento","type":"main","index":0}]]},"Zabbix: Consulta dados do evento":{"main":[[{"node":"Consolida informações do fluxo","type":"main","index":0}]]},"BLOQUEIOS":{"main":[[{"node":"Liberado para fluxo?","type":"main","index":0}]]},"Liberado para fluxo?":{"main":[[{"node":"Encerramento?","type":"main","index":0}],[{"node":"Do not","type":"main","index":0}]]},"Consolida informações do fluxo":{"main":[[{"node":"BLOQUEIOS","type":"main","index":0}]]},"Encerramento?":{"main":[[{"node":"Sheet: Adicionar evento na planilha","type":"main","index":0}],[{"node":"Execute fluxo de encerramento","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"akaImKErHyzNLJa6"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"421d4fda-cec0-4ab2-b2ef-059c67f719bd","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-27T17:58:03.795Z","createdAt":"2026-01-27T17:58:03.795Z","role":"workflow:owner","workflowId":"eL9jFSfENeNRUQ_TYmvdi","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-17T16:06:12.585Z","createdAt":"2025-12-17T16:06:12.585Z","id":"ysjEV4UVdKwLKxVm","name":"SOC"}]}