01.-main_old-AIyIC8GbGCsg8j8o.json
{"updatedAt":"2025-12-02T20:00:17.000Z","createdAt":"2025-09-26T13:27:21.730Z","id":"AIyIC8GbGCsg8j8o","name":"01. main_old","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1024,-144],"id":"29df9cf4-c095-42c2-ab6e-de2d8be890da","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"4dff7696-2c57-4599-9f85-3451c37c0625","name":"id_evento","value":"={{ parseInt($json.body.eventid) }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-800,-432],"id":"8376dc6c-e008-4823-8f37-66d90cc8439e","name":"Event_id_webhook"},{"parameters":{"httpMethod":"POST","path":"zabbix","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1024,-336],"id":"7d8af00f-617a-430c-8c14-e0ca771cf86d","name":"Webhook","webhookId":"64342bfc-5ac6-4291-b5bf-a8dfac6ab0ef","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"4dff7696-2c57-4599-9f85-3451c37c0625","name":"id_evento","value":"=176078627","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-800,-144],"id":"b81ce4f2-d8de-4b92-995b-06ed15113bf4","name":"Event_id_manual"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"523cbb21-a5db-4626-b515-815d46863d35","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}},{"id":"9397145d-19e0-44a1-8a35-0fdd6015add0","leftValue":"={{ $json['RESTRIÇÕES'] }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1152,272],"id":"c16100b2-9bdd-478e-8915-f4d18c4999c1","name":"Existe dados do cliente na planilha?"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"name\", \"value\", \"severity\", \"r_eventid\"],\n    \"eventids\": \"{{ $json.id_evento }}\",\n    \n    \"selectHosts\": [\"hostid\", \"name\", \"description\"],\n\n    \"select_acknowledges\": [\n      \"acknowledgeid\",\n      \"eventid\",\n      \"clock\",\n      \"message\",\n      \"action\"\n    ],\n\n    \"selectRelatedObject\": [\n      \"triggerid\",\n      \"description\",\n      \"value\",\n      \"priority\"\n    ],\n    \"selectTags\": \"extend\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-576,-304],"id":"2533859a-a102-4dac-ba74-9de5974ad4f9","name":"Zabbix: Recupera dados completos","retryOnFail":true},{"parameters":{"jsCode":"// --- Entrada / extração ---\nconst nomeHostCompleto = $('Zabbix: Recupera dados completos').first().json.result[0].hosts[0].name;\nconst nomeEvento = $('Zabbix: Recupera dados completos').first().json.result[0].name;\nconst idHost = Number($('Zabbix: Recupera dados completos').first().json.result[0].hosts[0].hostid) || null;\nconst idEventoRecovery = Number($('Zabbix: Recupera dados completos').first().json.result[0].r_eventid) || \"\";\nconst timestampQueda = Number($('Zabbix: Recupera dados completos').first().json.result[0].clock) || null;\nlet description = $('Zabbix: Recupera dados completos').first().json.result[0].hosts[0].description || \"\";\nconst idEvento = Number($('Zabbix: Recupera dados completos').first().json.result[0].eventid);\nconst tags = $('Zabbix: Recupera dados completos').first().json.result[0].tags;\n\n// --- Formata data (dd/MM/yyyy HH:mm:ss) com timezone São Paulo ---\nfunction formatarTimestamp(ts) {\n  if (!ts) return null;\n\n  const d = new Date(ts * 1000);\n\n  const dia = String(d.getDate()).padStart(2, \"0\");\n  const mes = String(d.getMonth() + 1).padStart(2, \"0\");\n  const ano = d.getFullYear();\n\n  const hora = String(d.getHours()).padStart(2, \"0\");\n  const min  = String(d.getMinutes()).padStart(2, \"0\");\n  const seg  = String(d.getSeconds()).padStart(2, \"0\");\n\n  return `${dia}/${mes}/${ano} ${hora}:${min}:${seg}`;\n}\nconst dataHoraQuedaFormatado = formatarTimestamp(timestampQueda);\n\n// --- Nome limpo e tipo cliente ---\nconst nomeLimpoHost = (nomeHostCompleto || \"\").split(\" - \")[0].trim();\n\n// --- Normaliza quebras literais e remove aspas extras ---\ndescription = description\n  .replace(/\\\\r\\\\n|\\\\n|\\\\r/g, '\\n')\n  .replace(/^\"+|\"+$/g, '') // remove aspas no início e fim\n  .replace(/\"\\s*\"\\s*/g, '\\n'); // separa blocos entre aspas\n\n// --- Divide em blocos começando por \"LINK\" ---\nfunction dividirPorBlocos(desc) {\n  if (!desc) return [];\n  const linhas = desc.split(/\\r?\\n/).map(l => l.trim()).filter(l => l !== \"\");\n  const blocos = [];\n  let blocoAtual = [];\n\n  for (const linha of linhas) {\n    if (linha.toUpperCase().startsWith(\"LINK\")) {\n      if (blocoAtual.length > 0) {\n        blocos.push(blocoAtual.join(\"\\n\"));\n        blocoAtual = [];\n      }\n    }\n    blocoAtual.push(linha);\n  }\n  if (blocoAtual.length > 0) blocos.push(blocoAtual.join(\"\\n\"));\n  return blocos;\n}\n\n// --- Parseia um bloco em campos estruturados ---\nfunction parsearBloco(bloco) {\n  const info = {};\n  const linhas = bloco.split(\"\\n\").map(l => l.trim());\n\n  for (const linha of linhas) {\n    const L = linha.toUpperCase();\n    if (L.startsWith(\"LINK\")) {\n      const match = linha.match(/LINK\\s+(.+?)\\s*-\\s*(.+)/i);\n      if (match) {\n        info.porta = match[1].trim();\n        info.operadora = match[2].trim();\n      } else {\n        const m2 = linha.match(/LINK\\s+(\\S+)/i);\n        if (m2) info.porta = m2[1].trim();\n      }\n    } else if (L.includes(\"UNIDADE:\")) {\n      info.unidade = linha.split(/UNIDADE:/i)[1].trim();\n    } else if (L.includes(\"ENDEREÇO:\") || L.includes(\"ENDERECO:\")) {\n      info.endereco = linha.split(/ENDEREÇO:|ENDERECO:/i)[1].trim();\n    } else if (L.includes(\"CNPJ:\")) {\n      info.cnpj = linha.split(/CNPJ:/i)[1].trim();\n    } else if (L.includes(\"DESIGNAÇÃO/CIRCUITO:\") || L.includes(\"DESIGNACAO/CIRCUITO:\")) {\n      info.designacao_circuito = linha.split(/DESIGNAÇÃO\\/CIRCUITO:|DESIGNACAO\\/CIRCUITO:/i)[1].trim();\n    } else if (L.startsWith(\"FW:\")) {\n      info.fw = linha.split(/FW:/i)[1].trim();\n    } else if (L.startsWith(\"IP:\")) {\n      info.ip = linha.split(/IP:/i)[1].trim();\n    } else if (L.includes(\"GEOP:\")) {\n      info.geop = linha.split(/GEOP:/i)[1].trim();\n    } else if (L.includes(\"TELEFONE UNIDADE:\") || L.includes(\"TELEFONE:\")) {\n      // captura tudo após o prefixo, mesmo se tiver \"-\"\n      info.telefone_unidade = linha.split(/TELEFONE UNIDADE:|TELEFONE:/i)[1].trim();\n    }\n  }\n\n  return info;\n}\n\n// --- Executa parsing e corrige unidade inválida ---\nconst blocosTexto = dividirPorBlocos(description);\nconst blocos = blocosTexto.map(parsearBloco).map(info => {\n  if (!info.unidade || [\"NAN\", \"NA\", \"N/A\", \"-\"].includes(info.unidade.trim().toUpperCase())) {\n    const partesHost = nomeHostCompleto.split(\" - \");\n    if (partesHost.length > 1) {\n      const unidadePossivel = partesHost[1].replace(/LINK.+/i, \"\").trim();\n      info.unidade = unidadePossivel || nomeLimpoHost;\n    } else {\n      info.unidade = nomeLimpoHost;\n    }\n  }\n  return info;\n});\n\nconst tagsFiltradas = Array();\nfor (const tag of tags) {\n  if (tag.tag.toLowerCase() == 'aplicacao' || tag.tag.toLowerCase() == 'noc') {\n    tagsFiltradas.push(tag)\n  }\n}\n\n\n\n// --- Retorno final ---\nreturn [\n  {\n    json: {\n      idEvento,\n      idHost,\n      nomeHostCompleto,\n      nomeEvento,\n      timestampQueda,\n      dataHoraQuedaFormatado,\n      nomeLimpoHost,\n      idEventoRecovery,\n      blocos,\n      tagsFiltradas\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,272],"id":"382a8386-89c4-4ecc-842d-6a8f6fddee19","name":"Ajusta as informações do evento","retryOnFail":false},{"parameters":{"jsCode":"const nomeLimpoHost = $input.first().json.nomeLimpoHost;\n\nlet nomePesquisaDeVariaveis = null;\nconst nomesMapeados = [\"INDIGO\", \"ALL4LABELS\"];\n\n// Verifica se o nome do host contém algum dos nomes mapeados\nfor (const nome of nomesMapeados) {\n  if (nomeLimpoHost.toUpperCase().includes(nome)) {\n    nomePesquisaDeVariaveis = nome;\n    break;\n  }\n}\n\n// Se não encontrou nenhum nome mapeado, usa o próprio nomeLimpoHost\nif (!nomePesquisaDeVariaveis) {\n  nomePesquisaDeVariaveis = nomeLimpoHost;\n}\n\nreturn { nomePesquisaDeVariaveis };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[704,272],"id":"8321b776-9aa8-4564-af77-a5ca7a9fabd3","name":"Separa o trecho principal do nomeHost"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs","mode":"list","cachedResultName":"Dados_automação ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":195655548,"mode":"list","cachedResultName":"Contatos_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs/edit#gid=195655548"},"filtersUI":{"values":[{"lookupColumn":"EMPRESA","lookupValue":"={{ $json.nomePesquisaDeVariaveis }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[928,272],"id":"c99090c9-5a90-49fb-be94-4fd516df5bdc","name":"Sheet: Recupera as variáveis do cliente","alwaysOutputData":true,"credentials":{"googleApi":{"id":"G23Xn5Fl7KzKph4r","name":"Google Service Account account"}}},{"parameters":{"operation":"get","tableId":"variaveis_cliente","filters":{"conditions":[{"keyName":"nome_variavel","keyValue":"={{ $json['RELAÇÃO'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1376,176],"id":"c659620b-7a38-4af0-b744-fee6e17b89b1","name":"Supabse: Recupera variáveis do tipoCliente","retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"510fa571-4a35-4940-889c-8654e50e7a2a","name":"id do evento","value":"={{ $('Ajusta as informações do evento').item.json.idEvento }}","type":"number"},{"id":"34389683-036f-40e9-8255-f049dcfb8e1f","name":"id do host","value":"={{ $('Ajusta as informações do evento').item.json.idHost }}","type":"number"},{"id":"24b9fd97-4d9c-47e0-9992-c23fef7cd1a9","name":"id do evento de recuperação","value":"={{ $('Ajusta as informações do evento').item.json.idEventoRecovery }}","type":"number"},{"id":"020c0cdb-af8c-4ad8-b9dc-31e928636568","name":"id do tipo de cliente no banco de dados","value":"={{ $json.id }}","type":"number"},{"id":"6b076612-e2e9-4f95-a802-b1cef7e1b2ed","name":"id do cliente na planilha","value":"={{ $('Existe dados do cliente na planilha?').item.json.row_number }}","type":"string"},{"id":"e91d4712-8e12-49ed-bcaf-00bdb87b2e40","name":"id de abertura de chamado no movidesk","value":"={{ $('Existe dados do cliente na planilha?').item.json.ID_MOVIDESK }}","type":"string"},{"id":"b7303803-2a26-4e8e-b061-b0d76bdaf770","name":"nome completo do host","value":"={{ $('Ajusta as informações do evento').item.json.nomeHostCompleto }}","type":"string"},{"id":"07ffa211-ff59-4c34-93b0-ae23fa7e99b9","name":"nome simplificado do host","value":"={{ $('Ajusta as informações do evento').item.json.nomeLimpoHost }}","type":"string"},{"id":"d2873c80-daad-456b-8f6e-4ea49a4ff984","name":"evento gerador","value":"={{ $('Ajusta as informações do evento').item.json.nomeEvento }}","type":"string"},{"id":"fbb59be4-db72-4a8b-8a3f-c49f7fc18e77","name":"timestamp da queda","value":"={{ $('Ajusta as informações do evento').item.json.timestampQueda }}","type":"number"},{"id":"ebdd9443-358d-410f-8292-41771b92b2db","name":"data e hora da queda","value":"={{ $('Ajusta as informações do evento').item.json.dataHoraQuedaFormatado }}","type":"string"},{"id":"d87bfc35-2b6d-4ca8-a684-7f2d5dd7659f","name":"relação do cliente com a max","value":"={{ $('Existe dados do cliente na planilha?').item.json['RELAÇÃO'] }}","type":"string"},{"id":"70c0f928-661a-47a8-a393-fc6c1382e3b2","name":"e-mail destinatário","value":"={{ $('Sheet: Recupera as variáveis do cliente').item.json.DESTINO }}","type":"string"},{"id":"a7851386-57d3-427e-9b0a-6bbc272aad4d","name":"e-mail em cópia","value":"={{ $('Sheet: Recupera as variáveis do cliente').item.json.CC || \"\" }}","type":"string"},{"id":"587624f2-4dbe-4cf9-bff8-cc8c824fe351","name":"timestamp para cálculo de redução de tempo","value":"={{ $('Ajusta as informações do evento').item.json.timestampQueda - $json.segundos_decrescimo_horas }}","type":"number"},{"id":"69bbbd0e-212b-42aa-b7b7-c080cf7bd50d","name":"máximo rodadas no encerramento","value":"={{ $json.max_retry_schedule }}","type":"number"},{"id":"d3bd46b9-a4f7-4c0a-8242-db810c63d46a","name":"informações do link","value":"={{ $('Ajusta as informações do evento').item.json.blocos || null }}","type":"array"},{"id":"3402cd62-2877-47fa-86a3-8905d49f7258","name":"tags","value":"={{ $('Ajusta as informações do evento').item.json.tagsFiltradas }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1600,176],"id":"03f6be9b-21f8-4c7c-acb7-49ccb7d2cf37","name":"Prepara dados para roteamento"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Prepara dados para roteamento').item.json['id do tipo de cliente no banco de dados'] }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"8146500c-e199-4db9-b6e6-36657ff86184"}],"combinator":"and"},"renameOutput":true,"outputKey":"CONTRATO 1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ad54725e-96a8-49f1-966f-6c1b467a625c","leftValue":"={{ $('Prepara dados para roteamento').item.json['id do tipo de cliente no banco de dados'] }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CONTRATO 2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a50d0906-0f7f-4153-9fd1-3c09f31db8ab","leftValue":"={{ $('Prepara dados para roteamento').item.json['id do tipo de cliente no banco de dados'] }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GERAIS"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1824,160],"id":"c695721a-9e62-4774-9feb-6176dfca147e","name":"Rotas"},{"parameters":{"workflowId":{"__rl":true,"value":"kP7uBGfahihXM83d","mode":"list","cachedResultUrl":"/workflow/kP7uBGfahihXM83d","cachedResultName":"10.02. NOC - contratos 1"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2272,80],"id":"581fbf69-4e60-4901-aad1-b91bfbb1ce51","name":"Chama fluxo Contratos 1"},{"parameters":{"workflowId":{"__rl":true,"value":"7rJ1XQvZeoircDAf","mode":"list","cachedResultUrl":"/workflow/7rJ1XQvZeoircDAf","cachedResultName":"Fluxo contrato 2"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2048,176],"id":"d435b338-6cf6-4f43-bf90-44379bc0d7a7","name":"Chama fluxo Contratos 2"},{"parameters":{"workflowId":{"__rl":true,"value":"l1K9Mj7uaykLsqdm","mode":"list","cachedResultUrl":"/workflow/l1K9Mj7uaykLsqdm","cachedResultName":"10.01. NOC - clientes gerais"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2048,368],"id":"a9db4cd8-494e-4ff7-8a66-3a1e4be2142c","name":"Chama fluxo Clientes Gerais"},{"parameters":{"operation":"getAll","tableId":"base","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"ticket_movidesk","condition":"eq","keyValue":"={{ Number($('Zabbix: Recupera dados completos').item.json.result[0].acknowledges[0].message) }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[480,-672],"id":"0aeef66c-daf9-46d5-aad6-7405f12895e5","name":"Supabase: Recupera correspondências","alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"908695e9-f6fe-4c4e-8c6b-dc0faafce64f","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[704,-672],"id":"abfac598-acf5-4411-a822-52327df5ff2d","name":"Existe registro?"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1152,-864],"id":"cd53575c-2a6f-44c0-be2f-301ac81efbe1","name":"Loop Over Items"},{"parameters":{"operation":"update","tableId":"base","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"qnd_quedas","fieldValue":"={{ $json.qnd_quedas + 1 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1376,-784],"id":"5cf3e68f-eefd-42e0-9622-d37b0c90d34e","name":"Supabase: Atuliza qndQuedas","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"09f0509e-e343-4510-957b-5428b197860d","name":"result[0].acknowledges","value":"={{ $('Zabbix: Recupera dados completos').item.json.result[0].acknowledges }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,-480],"id":"30fd6965-a8af-4d38-b6d6-6b8d8e7c69b3","name":"Reconhecidos"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0bde7083-2e63-415c-a732-e4c81fdad505","leftValue":"={{ Number($('Recupera apenas o ticket mais atual').item.json.numeroEncontrado) }}","rightValue":"6","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2272,-576],"id":"fa34ddd1-2c1c-460e-8207-8e30754ca3f6","name":"Existe ticket Movidesk?"},{"parameters":{"workflowId":{"__rl":true,"value":"BsBhJTTnrVoBcsMQ","mode":"list","cachedResultUrl":"/workflow/BsBhJTTnrVoBcsMQ","cachedResultName":"10.04. NOC - ALL4Labels"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2272,-112],"id":"29340b87-e139-4efe-b67f-ca38270ee14c","name":"Chama fluxo temporário All4Labels"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c3259d48-63e9-44ca-8152-2c3e1eee15eb","leftValue":"={{ $json['e-mail destinatário'] }}","rightValue":"marcio.bronzatti@all4labels.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2048,-16],"id":"e0c65973-bd14-4067-9945-e633e28ce533","name":"All4Labels?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a9ed0931-09c5-413d-b348-bcf129757464","leftValue":"={{ parseInt($('Zabbix: Recupera dados completos').item.json.result[0].r_eventid) }}","rightValue":0,"operator":{"type":"number","operation":"notEquals"}},{"id":"cddd1a84-ec9c-4014-b01f-3fc879c654ef","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-352,-304],"id":"e6756ae9-507a-4356-b5ec-4716f95f0e7a","name":"É um evento de recuperação?"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1024,-528],"id":"4ed98df5-24ed-493e-8d74-2a6f0e29418f","name":"Execução do fluxo anteparo","disabled":true},{"parameters":{"jsCode":"const reconhecidos = $input.first().json.result[0].acknowledges;\n\nif (reconhecidos.length >= 1) {\n  for (const reconhecido of reconhecidos) {\n    if (reconhecido.action == '6') {\n      return [{\n        reconhecidoComAck: true,\n        reconhecido\n      }]\n    }\n  }\n}\n\nreturn [{reconhecidoComAck: false}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,-208],"id":"64ca57a0-1ac3-421c-91f2-29b12e7ad80e","name":"Valida se há reconhecimentos"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"abd73177-8a80-46a1-ada0-84c254d15f2b","leftValue":"={{ $json.reconhecidoComAck }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[96,-208],"id":"ffa02c03-968e-47c7-a0d8-079633637dbe","name":"Tem eventos reconhecidos?"},{"parameters":{"tableId":"base","fieldsUi":{"fieldValues":[{"fieldId":"id_host","fieldValue":"={{ $('Zabbix: Recupera dados completos').item.json.result[0].hosts[0].hostid }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Zabbix: Recupera dados completos').item.json.result[0].hosts[0].name }}"},{"fieldId":"ticket_movidesk","fieldValue":"={{ Number($json.numeroEncontrado) }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ Number($('Zabbix: Recupera dados completos').item.json.result[0].clock) }}"},{"fieldId":"status_chamado","fieldValue":"2"},{"fieldId":"id_evento","fieldValue":"={{ Number($('Zabbix: Recupera dados completos').item.json.result[0].eventid) }}"},{"fieldId":"evento_raiz","fieldValue":"={{ Number($('Zabbix: Recupera dados completos').item.json.result[0].eventid) }}"},{"fieldId":"eventsRelacionados","fieldValue":"={{ [Number($('Zabbix: Recupera dados completos').item.json.result[0].eventid)] }}"},{"fieldId":"id_cliente_variaveis","fieldValue":"={{ $json.id }}"},{"fieldId":"hostLimpo","fieldValue":"={{ $('Separa o trecho principal do host').item.json.nomePesquisaDeVariaveis }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2496,-672],"id":"712220e2-14b9-4c01-8282-77a56ee41dcf","name":"Supabase: Nova linha com ticket","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const hostCompleto = $('Zabbix: Recupera dados completos').first().json.result[0].hosts[0].name;\n\n// --- 1. Extrair somente a primeira parte antes do \" - \" ---\nlet nomeHostBase = hostCompleto.split(\" - \")[0].trim();\n\n// --- 2. Lógica para mapear nomes especiais ---\nlet nomePesquisaDeVariaveis = null;\nconst nomesMapeados = [\"INDIGO\", \"ALL4LABELS\"];\n\n// Verifica se o nomeHostBase contém algum dos nomes mapeados\nfor (const nome of nomesMapeados) {\n  if (nomeHostBase.toUpperCase().includes(nome)) {\n    nomePesquisaDeVariaveis = nome;\n    break;\n  }\n}\n\n// Se não encontrou nenhum nome mapeado, usa o próprio nomeHostBase\nif (!nomePesquisaDeVariaveis) {\n  nomePesquisaDeVariaveis = nomeHostBase;\n}\n\nreturn { nomePesquisaDeVariaveis };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,-480],"id":"3db1be96-345a-4cdf-93ea-7f29989df277","name":"Separa o trecho principal do host"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs","mode":"list","cachedResultName":"Dados_automação ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":195655548,"mode":"list","cachedResultName":"Contatos_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs/edit#gid=195655548"},"filtersUI":{"values":[{"lookupColumn":"EMPRESA","lookupValue":"={{ $json.nomePesquisaDeVariaveis }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1600,-480],"id":"05a16924-aea9-4ac9-99e3-f5898cbea364","name":"Sheet: Pesquisa variáveis do cliente","alwaysOutputData":true,"credentials":{"googleApi":{"id":"G23Xn5Fl7KzKph4r","name":"Google Service Account account"}}},{"parameters":{"jsCode":"// Entrada esperada no formato:\n// $input.all()[0].json.result[0].acknowledges\n\nconst ackList = $input.first().json.result[0].acknowledges;\n\n// Regex para número de 6 dígitos\nconst regex = /\\b(\\d{6})\\b/;\n\nlet encontrado = null;\n\nfor (const ack of ackList) {\n  // Só considerar action == 6\n  if (ack.action == \"6\") {\n    const msg = ack.message || \"\";\n    const match = msg.match(regex);\n\n    if (match) {\n      const numero = match[1];\n      const clock = parseInt(ack.clock);\n\n      // Guardar somente o de maior clock\n      if (!encontrado || clock > encontrado.clock) {\n        encontrado = {\n          numero,\n          clock\n        };\n      }\n    }\n  }\n}\n\nreturn [\n  {\n    json: {\n      numeroEncontrado: encontrado ? encontrado.numero : null,\n      clock: encontrado ? encontrado.clock : null\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,-480],"id":"40c0d37c-e5a4-4ee9-8e1f-6f5a9d2fa3e7","name":"Recupera apenas o ticket mais atual"},{"parameters":{"operation":"get","tableId":"variaveis_cliente","filters":{"conditions":[{"keyName":"nome_variavel","keyValue":"={{ $json[\"RELAÇÃO\"] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2048,-576],"id":"47fe552c-22c6-4c89-863c-e73bd2c4bcaf","name":"Supabase: Recupera variáveis tipoCliente","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"tableId":"base","fieldsUi":{"fieldValues":[{"fieldId":"id_host","fieldValue":"={{ $('Zabbix: Recupera dados completos').item.json.result[0].hosts[0].hostid }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Zabbix: Recupera dados completos').item.json.result[0].hosts[0].name }}"},{"fieldId":"ticket_movidesk","fieldValue":"=0"},{"fieldId":"timestamp_queda","fieldValue":"={{ Number($('Zabbix: Recupera dados completos').item.json.result[0].clock) }}"},{"fieldId":"status_chamado","fieldValue":"2"},{"fieldId":"id_evento","fieldValue":"={{ Number($('Zabbix: Recupera dados completos').item.json.result[0].eventid) }}"},{"fieldId":"evento_raiz","fieldValue":"={{ Number($('Zabbix: Recupera dados completos').item.json.result[0].eventid) }}"},{"fieldId":"eventsRelacionados","fieldValue":"={{ [Number($('Zabbix: Recupera dados completos').item.json.result[0].eventid)] }}"},{"fieldId":"id_cliente_variaveis","fieldValue":"={{ $json.id }}"},{"fieldId":"hostLimpo","fieldValue":"={{ $('Separa o trecho principal do host').item.json.nomePesquisaDeVariaveis }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2496,-480],"id":"1725a92f-5c16-45a2-a873-2c2dbd99e450","name":"Supabase: Nova linha sem ticket","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1376,-960],"id":"532b1a2a-01b3-4519-b80c-cf4f51a03219","name":"No Ops"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=VERIFICAR O SEGUINTE ALERTA:\n\n**Cliente:** {{ $('Zabbix: Recupera dados completos').item.json.result[0].hosts[0].name }}\n**Alerta:** {{ $('Zabbix: Recupera dados completos').item.json.result[0].name.toUpperCase() }}\n**Data e hora da queda:** {{ DateTime.fromSeconds(Number($('Zabbix: Recupera dados completos').item.json.result[0].clock)).setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy HH:mm:ss') }}\n**Número da linha com dados do cliente:** {{ $json.row_number || \"Sem dados\" }}\n**Status de restrição para o host ou cliente?** {{ $json.RESTRIÇÕES == undefined ? \"Sem dados\" : $json.RESTRIÇÕES }}","color":"#2323FF","title":"={{ $json.RESTRIÇÕES == true ? \"SIM, COM RESTRIÇÕES\" : \"SEM DADOS NA PLANILHA\" }}","thumbnail":"https://imagepng.org/wp-content/uploads/2018/08/alerta.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2048,-384],"id":"b2ee3ad8-e6b5-4ad5-b2a5-793503155a6b","name":"Discord: Notifica administrativo","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"pD90IU7lYfcf9FwM","name":"Canal: administrativo"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9e48519b-3085-42b2-8cb8-72aea0fdc5b2","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}},{"id":"20ff0e0a-ff6d-4996-9500-f551cfe75e13","leftValue":"={{ $json[\"RESTRIÇÕES\"] }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1824,-480],"id":"7ad75296-5c24-4329-883e-5acb19adfd20","name":"Existe dados na planilha e sem restrições?"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=VERIFICAR O SEGUINTE ALERTA:\n\n**Cliente:** {{ $('Zabbix: Recupera dados completos').item.json.result[0].hosts[0].name }}\n**Alerta:** {{ $('Zabbix: Recupera dados completos').item.json.result[0].name.toUpperCase() }}\n**Data e hora da queda:** {{ DateTime.fromSeconds(Number($('Zabbix: Recupera dados completos').item.json.result[0].clock)).setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy HH:mm:ss') }}\n**Número da linha com dados do cliente:** {{ $json.row_number || \"Sem dados\" }}\n**Status de restrição para o host ou cliente?** {{ $json.RESTRIÇÕES == undefined ? \"Sem dados\" : $json.RESTRIÇÕES }}","color":"#2323FF","title":"={{ $json.RESTRIÇÕES == true ? \"SIM, COM RESTRIÇÕES\" : \"SEM DADOS NA PLANILHA\" }}","thumbnail":"https://imagepng.org/wp-content/uploads/2018/08/alerta.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1376,368],"id":"abe169a0-f6d6-4497-9024-7e47284b8dde","name":"Discord: Notifica administrativo1","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"pD90IU7lYfcf9FwM","name":"Canal: administrativo"}}},{"parameters":{"workflowId":{"__rl":true,"value":"ZVeD95d6p3HW0csG","mode":"list","cachedResultUrl":"/workflow/ZVeD95d6p3HW0csG","cachedResultName":"02. encerramento de chamados"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[96,-400],"id":"d78d115f-4b78-4418-bb7f-932ced640d6e","name":"Chama fluxo de encerramento"},{"parameters":{"assignments":{"assignments":[{"id":"588afe0d-9b58-42a4-a0df-d981c69cc61f","name":"id do evento","value":"={{ $json.result[0].eventid }}","type":"number"},{"id":"80d6c45c-53e8-4cef-b26b-5cca464ee27b","name":"id do evento de recuperação","value":"={{ $json.result[0].r_eventid }}","type":"number"},{"id":"7763aadd-a227-40e4-9c36-972bc71fa5ed","name":"id do host","value":"={{ $json.result[0].hosts[0].hostid }}","type":"number"},{"id":"379ed3d9-687a-4246-85bb-f353fa5c9ed6","name":"timestamp da queda","value":"={{ $json.result[0].clock }}","type":"number"},{"id":"652ad720-e507-4bb7-accc-e2acddd064db","name":"data e hora da queda","value":"={{ DateTime.fromSeconds(Number($json.result[0].clock), { zone: \"America/Sao_Paulo\" }).toFormat('dd/MM/yyyy HH:mm:ss') }}","type":"string"},{"id":"a906fd05-b678-48d0-9131-b3bf92848690","name":"nome do host","value":"={{ $json.result[0].hosts[0].name }}","type":"string"},{"id":"51e280f1-1b73-48a7-aeb7-02b6a3d58fee","name":"evento gerador","value":"={{ $json.result[0].relatedObject.description }}","type":"string"},{"id":"d09d6b3d-1bb6-4b39-90aa-39ff752cdaa3","name":"reconhecimentos do alerta","value":"={{ $json.result[0].acknowledges }}","type":"array"},{"id":"2fc9a23d-1fa6-426f-ae91-fd3cd7311c67","name":"tags do alerta","value":"={{ $json.result[0].tags }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,-400],"id":"da660b9b-f977-44cc-a934-8f3a58780a59","name":"Prepara os dados"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Event_id_manual","type":"main","index":0}]]},"Event_id_webhook":{"main":[[{"node":"Zabbix: Recupera dados completos","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Event_id_webhook","type":"main","index":0}]]},"Event_id_manual":{"main":[[{"node":"Zabbix: Recupera dados completos","type":"main","index":0}]]},"Existe dados do cliente na planilha?":{"main":[[{"node":"Supabse: Recupera variáveis do tipoCliente","type":"main","index":0}],[{"node":"Discord: Notifica administrativo1","type":"main","index":0}]]},"Zabbix: Recupera dados completos":{"main":[[{"node":"É um evento de recuperação?","type":"main","index":0}]]},"Ajusta as informações do evento":{"main":[[{"node":"Separa o trecho principal do nomeHost","type":"main","index":0}]]},"Separa o trecho principal do nomeHost":{"main":[[{"node":"Sheet: Recupera as variáveis do cliente","type":"main","index":0}]]},"Sheet: Recupera as variáveis do cliente":{"main":[[{"node":"Existe dados do cliente na planilha?","type":"main","index":0}]]},"Supabse: Recupera variáveis do tipoCliente":{"main":[[{"node":"Prepara dados para roteamento","type":"main","index":0}]]},"Prepara dados para roteamento":{"main":[[{"node":"Rotas","type":"main","index":0}]]},"Rotas":{"main":[[{"node":"All4Labels?","type":"main","index":0}],[{"node":"Chama fluxo Contratos 2","type":"main","index":0}],[{"node":"Chama fluxo Clientes Gerais","type":"main","index":0}]]},"Chama fluxo Contratos 2":{"main":[[]]},"Supabase: Recupera correspondências":{"main":[[{"node":"Existe registro?","type":"main","index":0}]]},"Existe registro?":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Reconhecidos","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Ops","type":"main","index":0}],[{"node":"Supabase: Atuliza qndQuedas","type":"main","index":0}]]},"Supabase: Atuliza qndQuedas":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Reconhecidos":{"main":[[{"node":"Recupera apenas o ticket mais atual","type":"main","index":0}]]},"Existe ticket Movidesk?":{"main":[[{"node":"Supabase: Nova linha com ticket","type":"main","index":0}],[{"node":"Supabase: Nova linha sem ticket","type":"main","index":0}]]},"All4Labels?":{"main":[[{"node":"Chama fluxo temporário All4Labels","type":"main","index":0}],[{"node":"Chama fluxo Contratos 1","type":"main","index":0}]]},"É um evento de recuperação?":{"main":[[{"node":"Prepara os dados","type":"main","index":0}],[{"node":"Valida se há reconhecimentos","type":"main","index":0}]]},"Execução do fluxo anteparo":{"main":[[{"node":"Event_id_webhook","type":"main","index":0}]]},"Valida se há reconhecimentos":{"main":[[{"node":"Tem eventos reconhecidos?","type":"main","index":0}]]},"Tem eventos reconhecidos?":{"main":[[{"node":"Supabase: Recupera correspondências","type":"main","index":0}],[{"node":"Ajusta as informações do evento","type":"main","index":0}]]},"Separa o trecho principal do host":{"main":[[{"node":"Sheet: Pesquisa variáveis do cliente","type":"main","index":0}]]},"Sheet: Pesquisa variáveis do cliente":{"main":[[{"node":"Existe dados na planilha e sem restrições?","type":"main","index":0}]]},"Recupera apenas o ticket mais atual":{"main":[[{"node":"Separa o trecho principal do host","type":"main","index":0}]]},"Supabase: Recupera variáveis tipoCliente":{"main":[[{"node":"Existe ticket Movidesk?","type":"main","index":0}]]},"Existe dados na planilha e sem restrições?":{"main":[[{"node":"Supabase: Recupera variáveis tipoCliente","type":"main","index":0}],[{"node":"Discord: Notifica administrativo","type":"main","index":0}]]},"Prepara os dados":{"main":[[{"node":"Chama fluxo de encerramento","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","saveExecutionProgress":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e32575fa-6832-4619-b7ac-79931ce0e43e","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-09-26T13:27:21.768Z","createdAt":"2025-09-26T13:27:21.768Z","role":"workflow:owner","workflowId":"AIyIC8GbGCsg8j8o","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":null,"tags":[{"updatedAt":"2025-10-24T18:08:27.659Z","createdAt":"2025-10-24T18:08:27.659Z","id":"oUDNU2rUDi9xwp5Q","name":"FluxoNOC_principal"}]}