01.04.-all4labels_temporário-BsBhJTTnrVoBcsMQ.json
{"updatedAt":"2025-12-09T13:04:19.000Z","createdAt":"2025-11-26T18:45:55.606Z","id":"BsBhJTTnrVoBcsMQ","name":"01.04. all4labels_temporário","active":true,"isArchived":true,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"bce8474e-e536-432c-b492-1b339fde26ab","typeVersion":1.1,"name":"Main","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-3712,1680]},{"parameters":{"jsCode":"const idEventoTabela = $input.first().json.id;\nconst ticketMovideskTabela = $input.first().json.ticket_movidesk;\n\nif ((idEventoTabela && ticketMovideskTabela) || (idEventoTabela && ticketMovideskTabela == 0) ) {\n  return { \n    \"rota\": 1,\n    \"descricao\": \"Com evento e ticket na tabela\",\n  }\n} else if (idEventoTabela && !ticketMovideskTabela) {\n  return {\n    \"rota\": 2,\n    \"descricao\": \"Com evento na tabela, mas sem ticket\"\n  }\n} else if (!idEventoTabela && !ticketMovideskTabela) {\n  return {\n    \"rota\": 3,\n    \"descricao\": \"Sem evento na tabela\"\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1920,1280],"id":"f46fd865-5e92-4958-a047-8b626fe66a73","name":"Valida se existe ticket e direciona"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb6eff08-3023-4783-bfaf-1cacf44c64ab","leftValue":"={{ $json.acksFiltrados.status }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[304,1296],"id":"5f35f186-2ba8-4299-8e96-718adb1ea2f4","name":"Existe registro?"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Houve uma falha na comunicação do alerta para a equipe de monitoramento. Favor verificar!\n\n🖥️ **Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n⚠️ **Evento:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n\n🎫 **Ticket Movidesk:** {{ $('Supabase: Nova linha do chamado').item.json.ticket_movidesk }}\n**Operadora(contato):** {{ $('Supabase: Recupera dados da operadora').item.json.operadora }} ({{ $('Supabase: Recupera dados da operadora').item.json.contato }})\n\n🕒 **Data e hora do evento:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n📄 **Linha no BD:** {{ $('Supabase: Nova linha do chamado').item.json.id }}","color":"#FD2A2A","title":"🚨 A equipe não foi notificada desse alerta"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2960,2416],"id":"7ef1e713-d30b-457b-a8f7-ec41292719fd","name":"Notifica erro no Discord","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"pD90IU7lYfcf9FwM","name":"Canal: administrativo"}},"disabled":true},{"parameters":{"method":"POST","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1616,2304],"id":"13cbddd1-542f-4151-a8d2-d5f589156994","name":"Movidesk: Informa atuação para 1 evento","retryOnFail":true,"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"23f946c2-c95e-4612-b601-fe7ee83a33b7","name":"id do evento","value":"={{ $('Main').item.json['id do evento'] }}","type":"number"},{"id":"a56988aa-ac7d-44d9-b645-e04baf067379","name":"id do host","value":"={{ $('Main').item.json['id do host'] }}","type":"number"},{"id":"ba109d7f-388b-46a0-b6fc-6d7282f89f37","name":"id do evento de recuperação","value":"={{ $('Main').item.json['id do evento de recuperação'] }}","type":"number"},{"id":"d9dd21f2-f239-4d9d-9c6e-9e6ff8a59cb4","name":"id do tipo de cliente no banco de dados","value":"={{ $('Main').item.json['id do tipo de cliente no banco de dados'] }}","type":"number"},{"id":"f5888cb4-993b-40fd-971f-455f92c4458c","name":"id do cliente na planilha","value":"={{ $('Main').item.json['id do cliente na planilha'] }}","type":"string"},{"id":"e0de4236-9f72-4d2a-92f9-9222184e860d","name":"id de abertura de chamado no movidesk","value":"={{ $('Main').item.json['id de abertura de chamado no movidesk'] }}","type":"string"},{"id":"df71d480-a5ff-4210-94d6-2c700e529b46","name":"nome completo do host","value":"={{ $('Main').item.json['nome completo do host'] }}","type":"string"},{"id":"8d032575-4325-4b90-acd0-2affe04b2c82","name":"nome simplificado do host","value":"={{ $('Main').item.json['nome simplificado do host'] }}","type":"string"},{"id":"a1c9d5cf-f0a8-42f8-b428-6ab97235127e","name":"evento gerador","value":"={{ $('Main').item.json['evento gerador'] }}","type":"string"},{"id":"10133640-fa2f-44c2-972d-657de70d66b8","name":"tipo de evento","value":"={{ $('Main').item.json['tipo de evento'] }}","type":"string"},{"id":"cbd57d58-d011-40d0-9a82-dc2438808c03","name":"timestamp da queda","value":"={{ $('Main').item.json['timestamp da queda'] }}","type":"number"},{"id":"a61f4225-e4b3-4921-8b54-b55237e91f49","name":"data e hora da queda","value":"={{ $('Main').item.json['data e hora da queda'] }}","type":"string"},{"id":"e1efe799-1928-4a1c-99ee-7794c4cb6640","name":"timestamp da recuperação","value":"={{ $('Main').item.json['timestamp da recuperação'] }}","type":"number"},{"id":"9a9d93bc-e71d-44e9-8009-c9a5029e2c40","name":"data e hora da recuperação","value":"={{ $('Main').item.json['data e hora da recuperação'] }}","type":"string"},{"id":"11300972-b277-4453-a650-2f542ad72733","name":"relação do cliente com a max","value":"={{ $('Main').item.json['relação do cliente com a max'] }}","type":"string"},{"id":"3f0ee708-49eb-46af-9662-afa6584e27e7","name":"e-mail destinatário","value":"={{ $('Main').item.json['e-mail destinatário'] }}","type":"string"},{"id":"f10e5c77-d15c-4de3-a7a0-a4d68fd5038a","name":"e-mail em cópia","value":"={{ $('Main').item.json['e-mail em cópia'] }}","type":"string"},{"id":"ae9b1c51-634d-4414-8d38-c532d84cb8f9","name":"timestamp para cálculo de redução de tempo","value":"={{ $('Main').item.json['timestamp para cálculo de redução de tempo'] }}","type":"number"},{"id":"b503dd25-9a50-400c-99ed-b75a915cde2a","name":"máximo rodadas no encerramento","value":"={{ $('Main').item.json['máximo rodadas no encerramento'] }}","type":"number"},{"id":"f90667dc-7fd8-4a5f-a41b-fc91d8d9661b","name":"informações do link","value":"={{ $('Main').item.json['informações do link'] }}","type":"array"},{"id":"5c0082bc-7453-4b3e-b8fc-241e3b00d0e2","name":"tempo que permaneceu o alerta","value":"={{ $('Main').item.json['timestamp da recuperação'] - $('Main').item.json['timestamp da queda'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3040,1584],"id":"a0d3d6f2-54e1-4913-a8a5-865f00e809eb","name":"Normaliza os dados"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['tipo de evento'] }}","rightValue":"Abertura Chamado","operator":{"type":"string","operation":"equals"},"id":"697db71d-3d9c-438b-abd7-b5581062d868"}],"combinator":"and"},"renameOutput":true,"outputKey":"ABERTURA_CHAMADO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7ddbfb2b-56d5-4a9c-ad06-438239315149","leftValue":"={{ $json['tipo de evento'] }}","rightValue":"=Encerramento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ENCERRAMENTO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-2816,1584],"id":"74ac355c-aaba-46bf-82b0-a4a52d4d100d","name":"Rota statusChamado"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"host.get\",\n  \"params\": {\n    \"output\": [\"hostid\", \"name\"],\n    \"selectGroups\": [\"groupid\", \"name\"],\n    \"hostids\": \"{{ $json['id do host'] }}\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 2\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2592,1280],"id":"c960aeb6-f71b-45e7-930b-6e64b06a39fb","name":"Zabbix: Consulta grupo do host","retryOnFail":true},{"parameters":{"jsCode":"const nomeSimplificadoHost = $('Normaliza os dados').first().json['nome simplificado do host'];\nconst groups = $input.first().json.result[0].groups;\n\n// Função de limpeza e tokenização\nfunction tokenize(text) {\n  if (typeof text !== 'string') return [];\n  \n  return text\n    .normalize('NFD')                   // separa acentos\n    .replace(/[\\u0300-\\u036f]/g, '')    // remove acentos\n    .toUpperCase()\n    .replace(/[^\\p{L}\\p{N}\\s-]+/gu, ' ') // remove símbolos e pontuação\n    .split(/[\\s-]+/)                    // separa por espaços e hífens\n    .filter(Boolean);                   // remove vazios\n}\n\n// Quebra o nome do host\nconst hostWords = tokenize(nomeSimplificadoHost);\nconst hostSet = new Set(hostWords);\n\nlet bestMatch = null;\nlet bestScore = 0;\n\nfor (const group of groups) {\n  const groupWords = tokenize(group.name);\n  let matches = 0;\n\n  // Conta quantas palavras do grupo estão no host\n  for (const word of groupWords) {\n    if (hostSet.has(word)) matches++;\n  }\n\n  // Atualiza o melhor grupo se houver pelo menos 2 palavras em comum\n  if (matches >= 2 && matches > bestScore) {\n    bestScore = matches;\n    bestMatch = group;\n  }\n}\n\n// Retorno formatado\nif (bestMatch) {\n  return [\n    {\n      json: {\n        dados_grupo: {\n          groupid: parseInt(bestMatch.groupid),\n          groupname: bestMatch.name,\n          score: bestScore\n        }\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: {\n        dados_grupo: {\n          message: \"Nenhum grupo correspondente\"\n        }\n      }\n    }\n  ];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2368,1280],"id":"a28e516f-e652-4b73-8e8b-cfac23555ea6","name":"Verifica o grupo do host"},{"parameters":{"operation":"getAll","tableId":"base","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"timestamp_queda","condition":"gte","keyValue":"={{ $('Normaliza os dados').item.json['timestamp para cálculo de redução de tempo'] }}"},{"keyName":"groupId","condition":"eq","keyValue":"={{ $json.dados_grupo.groupid }}"},{"keyName":"status_chamado","condition":"lt","keyValue":"4"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2144,1280],"id":"6f411ad4-f4e8-4bca-98e8-e3219b9df792","name":"Supabase: Recupera correspondência do grupo","alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"name\", \"value\", \"host\", \"hostid\"],\n    \"select_acknowledges\": [\n      \"acknowledgeid\",\n      \"userid\",\n      \"eventid\",\n      \"clock\",\n      \"message\",\n      \"action\",\n      \"username\"\n    ],\n    \"time_from\": \"{{ $('Normaliza os dados').item.json['timestamp para cálculo de redução de tempo'] }}\",\n    \"selectHosts\": [\"hostid\", \"host\"],\n    \"hostids\": \"{{ $('Normaliza os dados').item.json['id do host'] }}\",\n    \"sortfield\": \"clock\",\n    \"sortorder\": \"DESC\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,1296],"id":"02f4eb81-8072-44e6-9050-3868d3c19a4c","name":"Zabbix: Recupera eventos anteriores","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false},{"parameters":{"jsCode":"// Filtra apenas eventos com algum acknowledge de action == \"6\"\nconst eventos = $input.first().json.result;\n\n// Filtra apenas eventos que têm pelo menos um ack com action == \"6\"\nconst filtrados = eventos\n  .filter(ev => ev.acknowledges?.some(ack => ack.action == 6))\n  .map(ev => {\n    // Dentro de cada evento, pega só os acks com action == 6\n    const acks6 = (ev.acknowledges || []).filter(ack => ack.action == 6);\n\n    // Ordena por acknowledgeid (numérico) e pega o maior\n    const ackMaior = [...acks6].sort((a, b) => Number(b.acknowledgeid) - Number(a.acknowledgeid))[0];\n\n    // Retorna o evento com destaque para o acknowledge mais recente\n    return {\n      json: {\n        eventid: ev.eventid,\n        clock: ev.clock,\n        hostid: ev.hosts?.[0]?.hostid,\n        host: ev.hosts?.[0]?.host,\n        value: ev.value,\n        // acknowledge de maior id\n        acknowledge_mais_recente: {\n          acknowledgeid: ackMaior.acknowledgeid,\n          clock: ackMaior.clock,\n          \"timestampAck_formatado\": DateTime.fromSeconds(parseInt(ackMaior.clock))\n            .setZone('America/Sao_Paulo')\n            .toFormat('dd/MM/yyyy HH:mm:ss'),\n          message: ackMaior.message,\n          action: ackMaior.action,\n          username: ackMaior.username,\n          userid: ackMaior.userid\n        }\n      }\n    };\n  });\n\n// Retorna cada evento filtrado como item independente\nif (filtrados.length === 0) {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": false\n      }\n    }\n  }\n} else {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": true\n      }\n    }\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,1296],"id":"e9464403-5265-4ef1-919b-955418c6e6e1","name":"Valida action igual a 6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e984daf-3226-4cf3-8086-b35c0eac89d6","leftValue":"={{ $json.rota }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"TABELA SEM TICKET"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3ddd3948-0146-41cc-a2b8-e36638ae6dce","leftValue":"={{ $json.rota }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"TICKET TABELA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.rota }}","rightValue":3,"operator":{"type":"number","operation":"equals"},"id":"e249c04c-23de-49d6-aaa3-5ced4d533d3d"}],"combinator":"and"},"renameOutput":true,"outputKey":"CONSULTA ZABBIX"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-1696,1264],"id":"f12f3315-0c53-40b5-bfec-37e9a8a8e8b4","name":"Rota ticket"},{"parameters":{"jsCode":"const nomeHostCompleto = $('Normaliza os dados').first().json['nome completo do host'];\nconst nomeHostSimplificado = $('Normaliza os dados').first().json['nome simplificado do host'];\nconst eventoGerador = $('Normaliza os dados').first().json['evento gerador'];\nconst timestampQueda = $('Normaliza os dados').first().json['timestamp da queda'];\nconst dataHoraQuedaFormatada = $('Normaliza os dados').first().json['data e hora da queda'];\nconst operadora = $('Trabalha com as Informações do link').first().json.operadora.operadora;\nconst porta = $('Trabalha com as Informações do link').first().json.operadora.porta;\nconst cnpj = $('Trabalha com as Informações do link').first().json.operadora.cnpj;\nconst endereco = $('Trabalha com as Informações do link').first().json.operadora.endereco;\nconst geop = $('Trabalha com as Informações do link').first().json.operadora.geop;\nconst designacaoCircuito = $('Trabalha com as Informações do link').first().json.operadora.designacao_circuito;\nconst contatoOperadora = $('Supabase: Recupera dados da operadora').first().json.contato;\nconst whatsappOperadora = $('Supabase: Recupera dados da operadora').first().json.whatsapp;\nconst horaComercial = $('Supabase: Recupera dados da operadora').first().json.foraComercial;\nconst idMovideskCliente = $('Normaliza os dados').first().json['id de abertura de chamado no movidesk'];\nconst emCopiaParaVariavel = $('Normaliza os dados').first().json['e-mail em cópia'];\n\n\nlet atendeForaComercial = \"\"\nconst linkOperadora = `${operadora} - ${porta}`;\nconst contatoFormatado = `Ligação: ${contatoOperadora} | Whatsapp: ${whatsappOperadora == null ? \"Não informado\" : whatsappOperadora}`;\nconst designadorCircuitoFormatado = designacaoCircuito == \"NAN\" ? \"Não informado na planilha ou inexistente\" : designacaoCircuito;\n\n\nconst cliente = \"1836303904\"; // idMovideskCliente;\nconst emCopiaPara = \"\"; // emCopiaParaVariavel \n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting(timestamp) {\n  // Converte timestamp (segundos) em objeto Date\n  const date = new Date(timestamp * 1000);\n\n  // Obtém hora local (fuso horário do servidor)\n  const hour = new Date(date.toLocaleString(\"en-US\", { timeZone: \"America/Sao_Paulo\" })).getHours();\n\n  let greeting;\n\n  // Define o turno conforme o horário\n  if (hour >= 18 || hour < 5) {\n    greeting = \"Boa noite\";\n  } else if (hour >= 5 && hour < 12) {\n    greeting = \"Bom dia\";\n  } else {\n    greeting = \"Boa tarde\";\n  }\n\n  return greeting;\n}\n\nconst greeting = getGreeting(timestampQueda)\n\n\nif (horaComercial == null) {\n  atendeForaComercial = \"Não informado\"\n} else if (horaComercial == false) {\n  atendeForaComercial = \"Não\"\n} else {\n  atendeForaComercial = \"Sim\"\n}\n\n\nconst htmlInterno = `\n<h4 style=\"padding: 10px;\"><strong>Informações para abertura de chamado</strong></h4>\n<div style=\"border: 1px solid black; padding: 10px; display: flex; flex-direction: column; justify-content: center; text-align: center; align-items:center; border-radius: 10px; color: black\">\n  <h2>${nomeHostCompleto}</h2>\n  <p><strong>Evento:</strong> ${eventoGerador}</p>\n  <p><strong>Data e hora da queda:</strong> ${dataHoraQuedaFormatada}</p>\n  <p><strong>Link e Operadora:</strong> ${linkOperadora}</p>\n  <p><strong>Designação/Circuito/ID:</strong> ${designadorCircuitoFormatado}</p>\n  <p><strong>Contato da operadora:</strong> ${contatoFormatado}</p>\n  <p><strong>CNPJ:</strong> ${cnpj}</p>\n  <p><strong>Endereço:</strong> ${endereco}</p>\n  <p><strong>GEOP:</strong> ${geop}</p>\n  <p><strong>Operadora atende fora do horário comercial:</strong> ${atendeForaComercial}</p>\n</div>\n`;\n\nconst htmlCliente = `\n<p> ${greeting} </p>\n<p style=\"padding: 10px;\"> O seguinte alerta está sendo tratado por um de nossos analistas. Em breve as informações de abertura do chamado serão encaminhadas. </p>\n<div style=\"display: flex; flex-direction: column; gap: 3px; justify-content: center; text-align: center; align-items: center; border: 1px solid black; border-radius: 10px; padding: 10px; color: black;\">\n  <h2>${nomeHostCompleto}</h2>\n  <p><strong>Evento:</strong> ${eventoGerador}</p>\n  <p><strong>O evento iniciou em:</strong> ${dataHoraQuedaFormatada}</p>\n  <p><strong>Operadora:</strong> ${linkOperadora}</p>\n</div>\n<div style=\"padding: 10px;\">\n  <p> Atenciosamente </p>\n  <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n</div>\n`;\n\nreturn {\n  json: {\n    type: 2,\n    subject: `REPARO - ${nomeHostSimplificado} - ${operadora}`,\n    category: \"01 - Atendimento Helpdesk\",\n    serviceFirstLevelId: 325878,\n    urgency: \"Média\",\n    ownerTeam: \"NOC\",\n    createdBy: { id: \"1458772347\" },\n    Clients: [{ id: cliente }],\n    cc: emCopiaPara,\n    actions: [\n      { type: 1, description: htmlInterno, createdBy: { id: \"1458772347\" } },\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" } }\n    ]\n  }\n};\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,2208],"id":"8289b164-9059-4496-895c-e0d3a0c58e6f","name":"Prepara dados para abertura de ticket","disabled":true},{"parameters":{"jsCode":"const nomeHost = $('Normaliza os dados').first().json.nomeCompletoHost;\nconst nomeHostLimpo = $('Normaliza os dados').first().json.hostNomeLimpo\nconst evento = $('Normaliza os dados').first().json.nomeEvento;\nconst timestampQueda = $('Normaliza os dados').first().json.timestampQueda;\nconst dataQuedaFormatada = $('Normaliza os dados').first().json.dataHoraQuedaFormatada;\nconst operadora = $('Trabalha com as Informações do link').first().json.operadora.operadora;\nconst porta = $('Trabalha com as Informações do link').first().json.operadora.porta;\nconst unidade = $('Trabalha com as Informações do link').first().json.operadora.unidade;\nconst cnpj = $('Trabalha com as Informações do link').first().json.operadora.cnpj;\nconst endereco = $('Trabalha com as Informações do link').first().json.operadora.endereco;\nconst geop = $('Trabalha com as Informações do link').first().json.operadora.geop;\nconst designacaoCircuito = $('Trabalha com as Informações do link').first().json.operadora.designacao_circuito;\nconst idMovideskCliente = $('Normaliza os dados').first().json['id de abertura de chamado no movidesk'];\nconst emCopiaParaVariavel = $('Normaliza os dados').first().json['e-mail em cópia'];\n// const contatoOperadora = $input.first().json.contato;\n// const whatsappOperadora = $input.first().json.whatsapp;\n// const horaComercial = $input.first().json.foraComercial;\n\n\n// const atendeForaComercial = horaComercial == null ? \"Não informado\" : horaComercial;\nconst linkOperadora = `${operadora} - ${porta}`;\n// const contatoFormatado = `Ligação: ${contatoOperadora} | Whatsapp: ${whatsappOperadora === \"null\" ? \"Não informado\" : whatsappOperadora}`;\nconst dadosUnidade = unidade === \"NAN\" ? \"Não disponível\": unidade;\n\n\nconst cliente = \"1836303904\"; // idMovideskCliente;\nconst emCopiaPara = \"\"; // emCopiaParaVariavel \n\n\nconst htmlInterno = `\n<h4 style=\"padding: 10px;\"><strong>Informações para abertura de chamado</strong></h4>\n<div style=\"border: 1px solid black; padding: 10px; display: flex; flex-direction: column; justify-content: center; text-align: center; align-items:center; border-radius: 10px; color: black\">\n  <h2>${nomeHost}</h2>\n  <p><strong>Evento:</strong> ${evento}</p>\n  <p><strong>Data e hora da queda:</strong> ${dataQuedaFormatada}</p>\n  <p><strong>Link e Operadora:</strong> ${linkOperadora}</p>\n  <p><strong>Designação/Circuito/ID:</strong> ${designacaoCircuito}</p>\n  <p><strong>Contato da operadora:</strong> Dados da operadora não localizados</p>\n  <p><strong>CNPJ:</strong> ${cnpj}</p>\n  <p><strong>Endereço:</strong> ${endereco}</p>\n  <p><strong>GEOP:</strong> ${geop}</p>\n  <p><strong>Contato na unidade:</strong> ${dadosUnidade}</p>\n</div>\n`;\n\nconst htmlCliente = `\n<p style=\"padding: 10px;\"> O seguinte alerta está sendo tratado por um de nossos analistas. Em breve as informações de abertura do chamado serão encaminhadas. </p>\n<div style=\"display: flex; flex-direction: column; gap: 3px; justify-content: center; text-align: center; align-items: center; border: 1px solid black; border-radius: 10px; padding: 10px; color: black;\">\n  <h2>${nomeHost}</h2>\n  <p><strong>Evento:</strong> ${evento}</p>\n  <p><strong>O evento iniciou em:</strong> ${dataQuedaFormatada}</p>\n  <p><strong>Operadora:</strong> ${linkOperadora}</p>\n</div>\n<div style=\"padding: 10px;\">\n  <p> Equipe de monitoramento Maxprotection </p>\n</div>\n`;\n\nreturn {\n  json: {\n    type: 2,\n    subject: `REPARO - ${nomeHostLimpo} - ${operadora}`,\n    category: \"01 - Atendimento Helpdesk\",\n    serviceFirstLevelId: 325878,\n    urgency: \"Média\",\n    ownerTeam: \"NOC\",\n    createdBy: { id: \"1458772347\" },\n    Clients: [{ id: cliente }],\n    cc: emCopiaPara,\n    actions: [\n      { type: 1, description: htmlInterno, createdBy: { id: \"1458772347\" } },\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" } }\n    ]\n  }\n};\n\nreturn [{htmlInterno}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,2400],"id":"640a9f04-670a-410b-a649-25ce1af01b66","name":"Prepara dados para abertura de ticket1","disabled":true},{"parameters":{"tableId":"base","fieldsUi":{"fieldValues":[{"fieldId":"id_host","fieldValue":"={{ $('Normaliza os dados').item.json['id do host'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}"},{"fieldId":"ticket_movidesk","fieldValue":"={{ $json.id }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da queda'] }}"},{"fieldId":"id_cliente_variaveis","fieldValue":"={{ $('Normaliza os dados').item.json['id do tipo de cliente no banco de dados'] }}"},{"fieldId":"status_chamado","fieldValue":"2"},{"fieldId":"id_evento","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"evento_raiz","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"groupId","fieldValue":"={{ $('Verifica o grupo do host').item.json.dados_grupo.groupid }}"},{"fieldId":"operadora","fieldValue":"={{ $('Supabase: Recupera dados da operadora').item.json.operadora }}"},{"fieldId":"hostLimpo","fieldValue":"={{ $('Normaliza os dados').item.json['nome simplificado do host'] }}"},{"fieldId":"eventsRelacionados","fieldValue":"={{ [$('Normaliza os dados').item.json['id do evento']] }}"},{"fieldId":"count_sla","fieldValue":"true"},{"fieldId":"porta","fieldValue":"={{ $('Trabalha com as Informações do link').item.json.operadora.porta }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1840,2304],"id":"8248be01-8f39-4c04-93d6-e0e599697257","name":"Supabase: Nova linha do chamado","retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e5512f55-cbf0-4796-962e-8994dad803e0","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2064,2304],"id":"5b37213f-4b9c-4214-8975-4c1b92e146a2","name":"Criou a linha na tabela?","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"d930fbd4-3b6a-4d84-abed-df337dd7c043","name":"id do evento","value":"={{ $('Normaliza os dados').item.json['id do evento'] }}","type":"number"},{"id":"ee6a9acd-9abd-4540-a353-53a36a263611","name":"nome completo do host","value":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}","type":"string"},{"id":"c1ccc2f7-c4b1-4396-99d0-ba311520a50c","name":"evento gerador","value":"={{ $('Normaliza os dados').item.json['evento gerador'] }}","type":"string"},{"id":"b63f6229-b2d0-4498-8b20-b50632162510","name":"data e hora da queda","value":"={{ $('Normaliza os dados').item.json['data e hora da queda'] }}","type":"string"},{"id":"d9c6e7eb-1922-483e-b89a-dd91fa1adb95","name":"id","value":"={{ $('Supabase: Nova linha do chamado').item.json.id }}","type":"number"},{"id":"e6883652-5d52-4538-812c-d6ad6dedfe51","name":"operadora","value":"={{ $('Supabase: Nova linha do chamado').item.json.operadora }}","type":"string"},{"id":"0fc918b5-60f9-40b0-9940-240ccee8b0b0","name":"contato","value":"={{ $('Supabase: Recupera dados da operadora').item.json.contato }}","type":"string"},{"id":"e6786e06-2ffb-4f1c-ad8a-44d42054f1ce","name":"ticket_movidesk","value":"={{ $('Supabase: Nova linha do chamado').item.json.ticket_movidesk }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2288,2224],"id":"7bd1489d-1989-4eba-8ded-f201ad8f8638","name":"Ajusta os dados para comunicação nas mídas","disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=\n**Host:** {{ $json['nome completo do host'] }}\n**Evento:** {{ $json['evento gerador'] }}\n**Data e hora do evento:** {{ $json['data e hora da queda'] }}\n\n**Ticket Movidesk:** {{ $json.ticket_movidesk }}\n**Operadora:** {{ $json.operadora }}\n**Contato da operadora:** {{ $json.contato }}\n**Linha no BD:** {{ $json.id }}\n\nO ticket aguarda atuação do analista!","color":"#FF7518","title":"=🚨 NOVO ALERTA - ABRIR CHAMADO NA OPERADORA  {{ $json.operadora.toUpperCase() }}","thumbnail":"https://imagepng.org/wp-content/uploads/2018/08/alerta.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2512,2128],"id":"603ab9b0-7176-4ebb-ac73-b3d73e280132","name":"Discord: Notifica abertura de chamado","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}},"disabled":true},{"parameters":{"chatId":"-1003134293207","text":"=ABRIR CHAMADO!\n\n🖥️ **Host:** {{ $json['nome completo do host'] }}\n⚠️ **Evento:** {{ $json['evento gerador'] }}\n🕒 **Data e hora do evento:** {{ $json['data e hora da queda'] }}\n\n🎫 **Ticket Movidesk:** {{ $json.ticket_movidesk }}\n  **Operadora:** {{ $json.operadora }} (contato: {{ $json.contato }})\n📄 **Linha no BD:** {{ $json.id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2512,2320],"id":"8a2a9867-6f90-4404-af28-846fe2987cd7","name":"Telegram: Notifica abertura de chamado","webhookId":"69430f89-0bb1-47a4-87c1-bd6679c3bac9","credentials":{"telegramApi":{"id":"2Bf07kZjNNq9Pv7T","name":"Telegram account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b2eebcca-4dd7-4602-99f0-426c5681e53e","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2736,2128],"id":"5b262478-8b7c-4bf7-8e8b-be96ac4f25b9","name":"Houve notificação para equipe?","disabled":true},{"parameters":{"jsCode":"const ticketMovidesk = $('Supabase: Nova linha do chamado').first().json.ticket_movidesk;\n\nconst messageAcks = `Equipe notificada para atuação - ticket Movidesk ${ticketMovidesk}`;\nconst eventId = $('Ajusta os dados para comunicação nas mídas').first().json.id_evento;\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: messageAcks,\n    action: 4\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2960,2080],"id":"8316a55b-f4af-4404-a60b-15423598eba1","name":"Prepara dados para reconhecimento do alerta","disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3184,2080],"id":"45c6f424-f65e-47e3-a9b7-87a74f21dd78","name":"Zabbix: Reconhece o alerta","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}},"disabled":true},{"parameters":{"jsCode":"// --- Etapa 1: Captura a mensagem do ack mais recente ---\nconst mensagemTicket = $input.first().json.acksFiltrados.filtrados[0].json.acknowledge_mais_recente.message;\n\n// --- Etapa 2: Extrai número do ticket ---\nlet numeroTicket;\nconst numerosEncontrados = mensagemTicket ? mensagemTicket.match(/\\d+/) : null;\n\nif (numerosEncontrados && numerosEncontrados.length > 0) {\n  numeroTicket = parseInt(numerosEncontrados[0]);\n} else {\n  numeroTicket = mensagemTicket; // pode ser texto (ex.: \"Sem ticket\", \"0\", etc.)\n}\n\n// --- Etapa 3: Valida se o retorno é número ou texto ---\nif (typeof numeroTicket === \"string\" || isNaN(numeroTicket)) {\n  return [\n    {\n      json: {\n        ticket: 0,\n        mensagemTicket\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: {\n        ticket: numeroTicket,\n        mensagemTicket\n      }\n    }\n  ];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,1088],"id":"68d0ecc5-5c88-40c0-8b7c-198a05df40c9","name":"Ajusta número ticket e mensagem reconhecimento"},{"parameters":{"tableId":"base","fieldsUi":{"fieldValues":[{"fieldId":"id_host","fieldValue":"={{ $('Normaliza os dados').item.json['id do host'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da queda'] }}"},{"fieldId":"id_cliente_variaveis","fieldValue":"={{ $('Normaliza os dados').item.json['id do tipo de cliente no banco de dados'] }}"},{"fieldId":"status_chamado","fieldValue":"2"},{"fieldId":"id_evento","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"evento_raiz","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"groupId","fieldValue":"={{ $('Verifica o grupo do host').item.json.dados_grupo.groupid }}"},{"fieldId":"hostLimpo","fieldValue":"={{ $('Normaliza os dados').item.json['nome simplificado do host'] }}"},{"fieldId":"ticket_movidesk","fieldValue":"={{ $('Ajusta número ticket e mensagem reconhecimento').item.json.ticket }}"},{"fieldId":"eventsRelacionados","fieldValue":"={{ [$('Normaliza os dados').item.json['id do evento']] }}"},{"fieldId":"operadora","fieldValue":"={{ $json.operadora || null }}"},{"fieldId":"porta","fieldValue":"={{ $('Trabalha com as Informações do link2').item.json.operadora.porta }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1520,1088],"id":"9a8cb565-fcf6-4ad0-866a-f45e93c31622","name":"Supabase: Nova linha do chamado1","retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4e558c46-5b6d-4d34-b610-e2060eaf6f49","leftValue":"={{ $json.ticket_movidesk }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1744,1088],"id":"94efe1da-61e3-4729-b493-4694b077e7b2","name":"Ticket Movidesk igual a 0?"},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1968,1184],"id":"fd32d093-6951-48a0-84c5-82ffd7cf9e5b","name":"Prepara dados para reconhecimento"},{"parameters":{"jsCode":"const messageAcks = $('Ajusta número ticket e mensagem reconhecimento').first().json.mensagemTicket;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: messageAcks,\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1968,992],"id":"08452483-e823-479c-99e6-4331b909be75","name":"Prepara dados para reconhecimento1"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=EVENTO RECONHECIDO\n\n**Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**Evento:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**Data e hora do evento:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n\n**Ticket Movidesk:** {{ $('Supabase: Nova linha do chamado1').item.json.ticket_movidesk }}\n**Linha no BD:** {{ $('Supabase: Nova linha do chamado1').item.json.id }}","color":"#69BF6C","title":"=Reconhecimento de alerta","thumbnail":"https://imagepng.org/wp-content/uploads/2019/12/check-icone-scaled.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2416,992],"id":"eddb15e9-6098-4a6e-9f95-45e54285774a","name":"Discord: Notifica reconhecimento2","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=EVENTO RECONHECIDO\n\n**Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**Evento:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**Data e hora do evento:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n\n**Ticket Movidesk:** {{ $('Supabase: Nova linha do chamado1').item.json.ticket_movidesk }}\n**Linha no BD:** {{ $('Supabase: Nova linha do chamado1').item.json.id }}","color":"#69BF6C","title":"=Reconhecimento de alerta","thumbnail":"https://imagepng.org/wp-content/uploads/2019/12/check-icone-scaled.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2416,1184],"id":"a128e845-331a-452e-a5ae-9c9540c77a22","name":"Discord: Notifica reconhecimento3","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2192,992],"id":"87dc06f3-9a7a-48bc-bc33-d57392ea715a","name":"Zabbix: Reconhece evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2192,1184],"id":"eddf68f7-8625-4104-b735-26f969357f04","name":"Zabbix: Reconhece evento1","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const nomeHostSupabase = $('Supabase: Recupera correspondência do grupo').first().json.nome_host;\nconst nomeHostEvento = $('Normaliza os dados').first().json['nome completo do host'];\nconst idTabela = $('Supabase: Recupera correspondência do grupo').first().json.id;\nconst qndQuedas = $('Supabase: Recupera correspondência do grupo').first().json.qnd_quedas;\n\nif (nomeHostSupabase == nomeHostEvento) {\n  return [{igualdadeDeHost: true, idTabela, qndQuedas}]\n} else {\n  return [{igualdadeDeHost: false, idTabela, qndQuedas}]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1264,336],"id":"aee3e8c6-30df-4ced-b27e-76b73f46e56d","name":"Verifica igualdade de hosts"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"67371f0a-6119-4eaf-8f11-ce2becc7bc8b","leftValue":"={{ $json.igualdadeDeHost }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1040,336],"id":"970af829-147e-4762-a62d-99b1b4e6eb8c","name":"Hosts são iguais?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d86fa3fc-d1b8-4ec8-b40c-b1a08bd7482f","leftValue":"={{ $('Supabase: Recupera correspondência do grupo').item.json.ticket_movidesk }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-592,112],"id":"b785026c-7fbe-468a-8b77-d67d9d415db3","name":"Ticket Movidesk é 0?"},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"name\", \"value\", \"host\", \"hostid\"],\n    \"select_acknowledges\": [\n      \"acknowledgeid\",\n      \"userid\",\n      \"eventid\",\n      \"clock\",\n      \"message\",\n      \"action\",\n      \"username\"\n    ],\n    \"time_from\": \"{{ $('Prepara os dados').item.json['timestamp para cálculo de redução de tempo'] }}\",\n    \"selectHosts\": [\"hostid\", \"host\"],\n    \"hostids\": \"{{ $('Prepara os dados').item.json['id do host'] }}\",\n    \"sortfield\": \"clock\",\n    \"sortorder\": \"DESC\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-368,16],"id":"5cf0b69a-dc33-4768-bc8c-511fc1f06ccc","name":"Zabbix: Recupera dados do evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false},{"parameters":{"jsCode":"// Filtra apenas eventos com algum acknowledge de action == \"6\"\nconst eventos = $input.first().json.result;\n\n// Filtra apenas eventos que têm pelo menos um ack com action == \"6\"\nconst filtrados = eventos\n  .filter(ev => ev.acknowledges?.some(ack => ack.action == 6))\n  .map(ev => {\n    // Dentro de cada evento, pega só os acks com action == 6\n    const acks6 = (ev.acknowledges || []).filter(ack => ack.action == 6);\n\n    // Ordena por acknowledgeid (numérico) e pega o maior\n    const ackMaior = [...acks6].sort((a, b) => Number(b.acknowledgeid) - Number(a.acknowledgeid))[0];\n\n    // Retorna o evento com destaque para o acknowledge mais recente\n    return {\n      json: {\n        eventid: ev.eventid,\n        clock: ev.clock,\n        hostid: ev.hosts?.[0]?.hostid,\n        host: ev.hosts?.[0]?.host,\n        value: ev.value,\n        // acknowledge de maior id\n        acknowledge_mais_recente: {\n          acknowledgeid: ackMaior.acknowledgeid,\n          clock: ackMaior.clock,\n          \"timestampAck_formatado\": DateTime.fromSeconds(parseInt(ackMaior.clock))\n            .setZone('America/Sao_Paulo')\n            .toFormat('dd/MM/yyyy HH:mm:ss'),\n          message: ackMaior.message,\n          action: ackMaior.action,\n          username: ackMaior.username,\n          userid: ackMaior.userid\n        }\n      }\n    };\n  });\n\n// Retorna cada evento filtrado como item independente\nif (filtrados.length === 0) {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": false\n      }\n    }\n  }\n} else {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": true\n      }\n    }\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,16],"id":"5fa9f304-69aa-42c9-b7dd-4bb1b3b254f8","name":"Separa os alertas com reconhecimento 6"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,112],"id":"7b659695-23b4-4726-99c4-5fe3048c5284","name":"Zabbix: Reconhece o evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const messageAcks = $input.first().json.acksFiltrados.filtrados[0].json.acknowledge_mais_recente.message;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: messageAcks,\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,16],"id":"eded8780-9c41-4894-901b-d1f45cf4a9f1","name":"Prepara dados para reconhecimento2"},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,208],"id":"54ac15d5-3c3f-42b1-93c0-f429faca181d","name":"Prepara dados para reconhecimento3"},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.idTabela }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"qnd_quedas","fieldValue":"={{ $json.qndQuedas + 1 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-816,112],"id":"6c1c5c10-4b41-412b-b788-a32a996ec50b","name":"Supabase: Atualiza qnd_quedas","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const eventosRelacionados = $('Supabase: Recupera correspondência do grupo').first().json.eventsRelacionados;\nconst novoEvento = $('Normaliza os dados').first().json['id do evento'];\nconst timestamQueda = $('Normaliza os dados').first().json['timestamp da queda'];\nconst timestampAtual = DateTime.now().toUnixInteger()\n\nconst difTimestamp_queda_atual = timestampAtual - timestamQueda;\nconst minutosEmSegundos = 1800;\n\nfunction validaDentroDe30Minutos(timestampDaQueda, variavelCalculo) {\n  let dentroDoPrazo = null\n  if (timestampDaQueda <= variavelCalculo) {\n    dentroDoPrazo = true\n    return dentroDoPrazo\n  } else {\n    dentroDoPrazo = false\n    return dentroDoPrazo\n  }\n}\n\nconst eventosRelacionadosAtualizado = Array()\nfor (const event of eventosRelacionados) {\n  eventosRelacionadosAtualizado.push(event)\n}\n\neventosRelacionadosAtualizado.push(novoEvento)\n\nreturn [{\n  eventosRelacionadosAtualizado,\n  dentroDe30Minutos: validaDentroDe30Minutos(difTimestamp_queda_atual, minutosEmSegundos)\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-816,544],"id":"2bb2458a-60af-49b1-aee1-547fbb6cd1b1","name":"Prepara push de eventos dentro do tempo"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3e20d80d-1506-4a91-9cf5-2ff70594f92e","leftValue":"={{ $json.dentroDe30Minutos }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-592,544],"id":"81c246ce-eb6c-4c64-85f6-8e82ced3963e","name":"Dentro de 30 minutos?"},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Verifica igualdade de hosts').item.json.idTabela }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"eventsRelacionados","fieldValue":"={{ $json.eventosRelacionadosAtualizado }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-368,496],"id":"31f7ce37-d138-4cdd-a7a5-9d952c930bb9","name":"Supabase: Atualiza evento existente","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"method":"PATCH","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6&id={{ $('Supabase: Atualiza evento existente').item.json.ticket_movidesk }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,400],"id":"f4ee7b95-2640-4de6-b667-6ca01f6b49b3","name":"Movidesk: Atualiza ticket","retryOnFail":true},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,592],"id":"2b3008bb-22a7-4631-8668-4c27912143f2","name":"Prepara dados para reconhecimento4"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,592],"id":"b61eee1d-924f-4a92-9346-f7c3ac3a986f","name":"Zabbix: Reconhece evento2","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const nomeCompleto_host = $('Normaliza os dados').first().json['nome completo do host']\nconst nomeHost_simplificado = $('Normaliza os dados').first().json['nome simplificado do host']\nconst evento_gerador = $('Normaliza os dados').first().json['evento gerador']\nconst dataHora_queda = $('Normaliza os dados').first().json['data e hora da queda']\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting(timestamp) {\n  // Converte timestamp (segundos) em objeto Date\n  const date = new Date(timestamp * 1000);\n\n  // Obtém hora local (fuso horário do servidor)\n  const hour = new Date(date.toLocaleString(\"en-US\", { timeZone: \"America/Sao_Paulo\" })).getHours();\n\n  let greeting;\n\n  // Define o turno conforme o horário\n  if (hour >= 18 || hour < 5) {\n    greeting = \"Boa noite\";\n  } else if (hour >= 5 && hour < 12) {\n    greeting = \"Bom dia\";\n  } else {\n    greeting = \"Boa tarde\";\n  }\n\n  return greeting;\n}\n\nconst agora = new Date();\nconst timestampSegundos = Math.floor(agora.getTime() / 1000);\nconst greeting = getGreeting(timestampSegundos)\n\n\nconst htmlCliente = `\n  <p>${greeting}</p>\n  <br>\n  <p>Identificamos um novo alerta em nosso sistema de monitoramento:</p>\n  <div style=\"padding: 10px; border: 1px solid black; border-radius: 10px; display: flex; flex-direction: column; justify-content: center; text-align: center; align-items: center; color: black; margin: 10px 0\">\n    <h2>${nomeCompleto_host}</h2>\n    <p style=\"font-size: 16px;\"><strong>Evento:</strong> ${evento_gerador}</p>\n    <p style=\"font-size: 16px;\"><strong>Data e hora da queda:</strong> ${dataHora_queda}</p>\n  </div>\n  \n  <p> Gostaríamos de confirmar se a ocorrência já é de conhecimento da equipe ${nomeHost_simplificado} ou se trata de uma falha eventual? </p>\n  <p>Recomendamos a verificação da ocorrência acima para validação e tratativa da indisponibilidade. Permaneceremos em monitoramento e informaremos quando o evento estiver com status de resolvido em nosso monitoramento.</p>\n  <br>\n  <br>\n  <p>Atenciosamente </p>\n  <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n  `;\n\nreturn {\n  json: {\n    actions: [\n      {\n        type: 2,\n        description: htmlCliente,\n        createdBy: {id: \"1458772347\"},\n        workTime: \"00:01:00\"\n      }\n    ]\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,400],"id":"b739b169-12ec-461c-b847-0507eaa3c6f7","name":"Prepara dados para atualização Movidesk"},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=EVENTO RECONHECIDO NO ZABBIX\n\n🖥️ **Host:** {{ $('Normaliza os dados').item.json.nomeCompletoHost }}\n📛 **Nome do alerta:** {{ $('Normaliza os dados').item.json.nomeEvento }}\n🕒 **Data e hora do evento:** {{ $('Normaliza os dados').item.json.dataHoraQuedaFormatada }}\n🕒 **Data e hora da atualização:** {{ DateTime.now().format('dd/MM/yyyy HH:mm:ss')}}\n🎟️ **Ticket Movidesk:** {{ $('Supabase: Recupera correspondência do grupo').item.json.ticket_movidesk }}\n**Operadora:** {{ $('Supabase: Recupera correspondência do grupo').item.json.operadora.toSentenceCase() }}","color":"#69BF6C","title":"🚨 O seguinte evento foi atualizado no Zabbix e na tabela"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[304,496],"id":"847b2b3d-ac37-4a04-8ecf-9881f819a3e8","name":"Discord: Notifica reconhecimento de evento","webhookId":"eeed722b-607e-4597-8511-e54a55e53154","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}},{"parameters":{"chatId":"-1003134293207","text":"=EVENTO RECONHECIDO NO ZABBIX\n\n🖥️ **Host:** {{ $('Normaliza os dados').item.json.nomeCompletoHost }}\n📛 **Nome do alerta:** {{ $('Normaliza os dados').item.json.nomeEvento }}\n🕒 **Data e hora do evento:** {{ $('Normaliza os dados').item.json.dataHoraQuedaFormatada }}\n🕒 **Data e hora da atualização:** {{ DateTime.now().format('dd/MM/yyyy HH:mm:ss')}}\n🎟️ **Ticket Movidesk:** {{ $('Supabase: Recupera correspondência do grupo').item.json.ticket_movidesk }}\n**Operadora:** {{ $('Supabase: Recupera correspondência do grupo').item.json.operadora.toSentenceCase() }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[528,496],"id":"b529789f-9bb3-4d15-a68c-84e843ab6d7b","name":"Telegram: Notifica reconhecimento de evento","webhookId":"69430f89-0bb1-47a4-87c1-bd6679c3bac9","credentials":{"telegramApi":{"id":"2Bf07kZjNNq9Pv7T","name":"Telegram account"}}},{"parameters":{"operation":"getAll","tableId":"base","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"id_evento","condition":"eq","keyValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2592,1936],"id":"8448271c-5c5c-4435-bd69-b8e2b500b1ae","name":"Supabase: Recupera correspondências","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ee4631ab-499c-4581-a453-627afaa9b1bb","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2368,1936],"id":"69ac22b3-2c4b-4c1d-ac17-6f0625f4d829","name":"Existe correspondências?"},{"parameters":{"operation":"update","tableId":"base","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Supabase: Recupera correspondências').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_chamado","fieldValue":"3"},{"fieldId":"id_evento_recuperacao","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da recuperação'] }}"},{"fieldId":"timestampRecuperacao","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da recuperação'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1920,1936],"id":"4b19189d-ec92-48d5-bd4e-ecba46504263","name":"Supabase: Atualiza evento de recuperação","retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**Evento:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**Data e hora da queda:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n**Data e hora da recuperação:** {{ $('Normaliza os dados').item.json['data e hora da recuperação'] }}\n**Tempo indisponível:** {{ $('Normaliza os dados').item.json['tempo que permaneceu o alerta'] / 60 }} minutos\n**Ticket Movidesk:** {{ $json.ticket_movidesk }}\n**Operadora:** {{ $json.operadora.toUpperCase() }}","color":"#69BF6C","title":"=EVENTO RESTABELECIDO"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-1696,1936],"id":"3e75e47a-a149-4511-93e1-8ee7871c187d","name":"Discord: Notifica sobre recuperação","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"rn6H9u9BbR5a2R1n","name":"Canal: Monitorando-encerramento"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status_chamado }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"4e117ddb-6789-443e-97c9-dcd97a866939"}],"combinator":"and"},"renameOutput":true,"outputKey":"SEM TICKET MOVIDESK"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"db26aa3f-6041-40a1-ad65-6c91db02f9fb","leftValue":"={{ $json.status_chamado }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ATUALIZA STATUS_CHAMADO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-2144,1840],"id":"a08d58ed-18a2-4b21-82cd-d94fe4a94c0d","name":"Rotas statusChamado"},{"parameters":{"operation":"update","tableId":"base","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Supabase: Recupera correspondências').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_chamado","fieldValue":"4"},{"fieldId":"id_evento_recuperacao","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da recuperação'] }}"},{"fieldId":"timestampRecuperacao","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da recuperação'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1920,1744],"id":"98c3df8c-177e-4f01-ba74-2d97bc6ef507","name":"Supabase: Atualiza evento de recuperação1","retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**Evento:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**Data e hora da queda:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n**Data e hora da recuperação:** {{ $('Normaliza os dados').item.json['data e hora da recuperação'] }}\n**Tempo indisponível:** {{ $('Normaliza os dados').item.json['tempo que permaneceu o alerta'] / 60 }} minutos\n**Ticket Movidesk:** {{ $json.ticket_movidesk }}\n**Operadora:** {{ $json.operadora.toUpperCase() }}","color":"#69BF6C","title":"=EVENTO RESTABELECIDO SEM TICKET"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-1696,1744],"id":"f4397381-d4b9-4ee5-95a6-a86279285357","name":"Discord: Notifica sobre recuperação1","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"rn6H9u9BbR5a2R1n","name":"Canal: Monitorando-encerramento"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2144,2032],"id":"64e35b8f-b820-47cc-a57e-21c86da146c6","name":"No Ops"},{"parameters":{"jsCode":"// Função para encontrar a operadora baseada na porta\nfunction encontrarOperadora() {\n    const nomeHostCompleto = $('Normaliza os dados').first().json['nome completo do host'].toUpperCase();\n    const nomeEvento = $('Normaliza os dados').first().json['evento gerador'].toUpperCase();\n    const arrayBlocoLinks = $('Normaliza os dados').first().json['informações do link'];\n\n    // Verifica se o arrayBlocoLinks existe e tem elementos\n    if (!arrayBlocoLinks || !Array.isArray(arrayBlocoLinks) || arrayBlocoLinks.length === 0) {\n        return null;\n    }\n\n    let resultado = null;\n\n    // Percorre o arrayBlocoLinks em busca dos elementos \"porta\"\n    for (const bloco of arrayBlocoLinks) {\n        const porta = bloco.porta;\n        const operadora = bloco.operadora;\n        const unidade = bloco.unidade;\n        const endereco = bloco.endereco;\n        const cnpj = bloco.cnpj;\n        const designacao_circuito = bloco.designacao_circuito;\n        const geop = bloco.geop;\n\n        // Verifica se a porta foi encontrada em nomeHostCompleto ou nomeEvento\n        if (porta && \n            (nomeHostCompleto.includes(porta) || nomeEvento.includes(porta))) {\n            resultado = {\n                porta: porta,\n                operadora: operadora,\n                unidade: unidade,\n                endereco: endereco,\n                cnpj: cnpj,\n                designacao_circuito: designacao_circuito,\n                geop: geop\n            };\n            break; // Para no primeiro match encontrado\n        }\n    }\n\n    return resultado;\n}\n\n\n\n// Para obter apenas a primeira operadora encontrada:\nconst operadora = encontrarOperadora();\n\nreturn [{operadora}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,1088],"id":"81770fd0-ed1a-486f-b6a8-7def1fbeeabc","name":"Trabalha com as Informações do link2"},{"parameters":{"operation":"getAll","tableId":"operadoras","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"operadora","condition":"eq","keyValue":"={{ $json.operadora.operadora.toLowerCase() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1296,1088],"id":"f3cafeec-3e49-4529-ab3f-f5a97f493579","name":"Supabase: Recupera dados da operadora2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const evento = $input.first().json['evento gerador'];\nconst tags = $input.first().json.tags;\n\nlet existeEvento = false;\n\n// Caso especial\nif (evento === \"Alta perda de pacotes em 10min\") {\n  return [{ existeEvento }];\n}\n\n// Verifica aplicacao=link\nconst temAplicacaoLink = tags.some(t =>\n  t.tag.toLowerCase() === \"aplicacao\" &&\n  t.value.toLowerCase() === \"link\"\n);\n\n// Verifica noc\nconst tagNoc = tags.find(t => t.tag.toLowerCase() === \"noc\");\nconst temNoc = !!tagNoc;\nconst valorNoc = tagNoc ? tagNoc.value : null;\n\n// ===============================\n//      APLICAÇÃO DAS REGRAS\n// ===============================\n\n// ❌ Se noc existir e for \"0\" → sempre inválido\nif (temNoc && valorNoc === \"0\") {\n  existeEvento = false;\n}\n\n// ✔ Se noc existir e for diferente de 0 → só válido SE aplicacao=link\nelse if (temNoc && valorNoc !== \"0\") {\n  existeEvento = temAplicacaoLink;\n}\n\n// ✔ Se NÃO existir noc, mas aplicacao=link → válido\nelse if (!temNoc && temAplicacaoLink) {\n  existeEvento = true;\n}\n\n// ❌ Demais casos → inválido\nelse {\n  existeEvento = false;\n}\n\nreturn [{\n  existeEvento,\n  temAplicacaoLink,\n  temNoc,\n  valorNoc\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3488,1680],"id":"fccb9db8-1913-4fcb-ac6b-ef90ec5f5d22","name":"Avalia se existe tags corretas e se o evento é correto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6688ae3f-8c58-4d0a-a9f5-e260f6684af1","leftValue":"={{ $json.existeEvento }}","rightValue":"Alta perda de pacotes em 10min","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"86faec49-ae33-42c9-b473-a6cc785575c9","leftValue":"={{ $json.valorNoc }}","rightValue":"1","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3264,1680],"id":"b335ef1d-87a8-455f-b725-d501f4faeac7","name":"Existe evento?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3040,1776],"id":"71861e77-0d08-4b39-8801-aa6c3397abf0","name":"No Ops1"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"r_eventid\"],\n    \"selectHosts\": [\"hostid\", \"name\"],\n    \"groupids\": \"{{ $('Verifica o grupo do host').item.json.dados_grupo.groupid }}\",\n    \"selectRelatedObject\": [\"description\", \"value\"],\n    \"selectAcknowledges\": [\"clock\", \"message\", \"action\", \"username\"],\n    \"time_from\": \"{{ $('Normaliza os dados').item.json['timestamp da queda'] - 60*30 }}\",\n    \"time_till\": \"{{ $('Normaliza os dados').item.json['timestamp da queda'] + 60*30 }}\",\n    \"sortfield\": [\"clock\", \"eventid\"],\n    \"sortorder\": \"DESC\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,2208],"id":"fb80976f-be26-4219-8ae7-04716aa6c3b8","name":"Zabbix: Consulta de eventos do grupo","retryOnFail":true,"disabled":true},{"parameters":{"jsCode":"const resultados = $input.first().json.result;\n\nlet eventosAtivos = Array();\nfor (const evento of resultados) {\n  const r = parseInt(evento.r_eventid);\n  const v = parseInt(evento.relatedObject.value)\n  if (r >= 1 && v === 1) {\n    eventosAtivos.push({\n      eventid: evento.eventid,\n      idRecuperacao: evento.r_eventid,\n      timestamp: evento.clock,\n      hostName: evento.hosts[0].name,\n      evento: evento.relatedObject.description,\n      status: evento.relatedObject.value\n    })\n  }\n}\n\nreturn [{eventosAtivos}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,2208],"id":"90688a3d-8c8a-4eee-98f1-887f8a75debc","name":"Separa eventos ativos do host","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6e96db70-9f9c-4aa2-9883-e0a3935066b8","leftValue":"={{ $json.eventosAtivos }}","rightValue":1,"operator":{"type":"array","operation":"lengthGte","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1168,2208],"id":"35552f00-0759-4b6b-af75-a13cb63a1a7a","name":"Tem 2 ou mais itens no array?","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a7f8777-5b32-476d-91e8-c3a801ffe757","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[496,2208],"id":"5e6183a2-99d3-4407-aea3-d70d00d0cfb6","name":"Existe operadora?","disabled":true},{"parameters":{"jsCode":"// Função para encontrar a operadora baseada na porta\nfunction encontrarOperadora() {\n    const nomeHostCompleto = $('Normaliza os dados').first().json['nome completo do host'].toUpperCase();\n    const nomeEvento = $('Normaliza os dados').first().json['evento gerador'].toUpperCase();\n    const arrayBlocoLinks = $('Normaliza os dados').first().json['informações do link'];\n\n    // Verifica se o arrayBlocoLinks existe e tem elementos\n    if (!arrayBlocoLinks || !Array.isArray(arrayBlocoLinks) || arrayBlocoLinks.length === 0) {\n        return null;\n    }\n\n    let resultado = null;\n\n    // Percorre o arrayBlocoLinks em busca dos elementos \"porta\"\n    for (const bloco of arrayBlocoLinks) {\n        const porta = bloco.porta;\n        const operadora = bloco.operadora;\n        const unidade = bloco.unidade;\n        const endereco = bloco.endereco;\n        const cnpj = bloco.cnpj;\n        const designacao_circuito = bloco.designacao_circuito;\n        const geop = bloco.geop;\n\n        // Verifica se a porta foi encontrada em nomeHostCompleto ou nomeEvento\n        if (porta && \n            (nomeHostCompleto.includes(porta) || nomeEvento.includes(porta))) {\n            resultado = {\n                porta: porta,\n                operadora: operadora,\n                unidade: unidade,\n                endereco: endereco,\n                cnpj: cnpj,\n                designacao_circuito: designacao_circuito,\n                geop: geop\n            };\n            break; // Para no primeiro match encontrado\n        }\n    }\n\n    return resultado;\n}\n\n\n\n// Para obter apenas a primeira operadora encontrada:\nconst operadora = encontrarOperadora();\n\nreturn [{operadora}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,2208],"id":"cb13e251-d88c-49e6-bf92-17ca5978adc8","name":"Trabalha com as Informações do link","disabled":true},{"parameters":{"operation":"getAll","tableId":"operadoras","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"operadora","condition":"eq","keyValue":"={{ $json.operadora.operadora.toLowerCase() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[272,2208],"id":"78e368ab-9a59-41b8-ba00-42979bf7cfc3","name":"Supabase: Recupera dados da operadora","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"tableId":"base","fieldsUi":{"fieldValues":[{"fieldId":"id_host","fieldValue":"={{ $('Normaliza os dados').item.json['id do host'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da queda'] }}"},{"fieldId":"id_cliente_variaveis","fieldValue":"={{ $('Normaliza os dados').item.json['id do tipo de cliente no banco de dados'] }}"},{"fieldId":"status_chamado","fieldValue":"1"},{"fieldId":"id_evento","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"evento_raiz","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"groupId","fieldValue":"={{ $('Verifica o grupo do host').item.json.dados_grupo.groupid }}"},{"fieldId":"hostLimpo","fieldValue":"={{ $('Normaliza os dados').item.json['nome simplificado do host'] }}"},{"fieldId":"eventsRelacionados","fieldValue":"={{ [$('Normaliza os dados').item.json['id do evento']] }}"},{"fieldId":"operadora","fieldValue":"={{ $json.operadora || null }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[848,1408],"id":"80ac15d9-4d93-4006-95e7-298e00cae0b2","name":"Supabase: Nova linha do chamado2","retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=\n**Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**Evento:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**Data e hora do evento:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n\n**Ticket Movidesk:** Não foi aberto\n**Linha no BD:** {{ $json.id }}","color":"#69BF6C","title":"=NOVO EVENTO ALL4LABELS","thumbnail":"https://imagepng.org/wp-content/uploads/2018/08/alerta.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1072,1408],"id":"32380068-3adb-4beb-bd3c-abcc01bb50aa","name":"Discord: Notifica reconhecimento","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}}],"connections":{"Main":{"main":[[{"node":"Avalia se existe tags corretas e se o evento é correto","type":"main","index":0}]]},"Valida se existe ticket e direciona":{"main":[[{"node":"Rota ticket","type":"main","index":0}]]},"Existe registro?":{"main":[[{"node":"Ajusta número ticket e mensagem reconhecimento","type":"main","index":0}],[{"node":"Supabase: Nova linha do chamado2","type":"main","index":0}]]},"Movidesk: Informa atuação para 1 evento":{"main":[[{"node":"Supabase: Nova linha do chamado","type":"main","index":0}]]},"Normaliza os dados":{"main":[[{"node":"Rota statusChamado","type":"main","index":0}]]},"Rota statusChamado":{"main":[[{"node":"Zabbix: Consulta grupo do host","type":"main","index":0}],[{"node":"Supabase: Recupera correspondências","type":"main","index":0}]]},"Zabbix: Consulta grupo do host":{"main":[[{"node":"Verifica o grupo do host","type":"main","index":0}]]},"Verifica o grupo do host":{"main":[[{"node":"Supabase: Recupera correspondência do grupo","type":"main","index":0}]]},"Supabase: Recupera correspondência do grupo":{"main":[[{"node":"Valida se existe ticket e direciona","type":"main","index":0}]]},"Zabbix: Recupera eventos anteriores":{"main":[[{"node":"Valida action igual a 6","type":"main","index":0}]]},"Valida action igual a 6":{"main":[[{"node":"Existe registro?","type":"main","index":0}]]},"Rota ticket":{"main":[[],[{"node":"Verifica igualdade de hosts","type":"main","index":0}],[{"node":"Zabbix: Recupera eventos anteriores","type":"main","index":0}]]},"Prepara dados para abertura de ticket":{"main":[[{"node":"Movidesk: Informa atuação para 1 evento","type":"main","index":0}]]},"Prepara dados para abertura de ticket1":{"main":[[{"node":"Movidesk: Informa atuação para 1 evento","type":"main","index":0}]]},"Supabase: Nova linha do chamado":{"main":[[{"node":"Criou a linha na tabela?","type":"main","index":0}]]},"Criou a linha na tabela?":{"main":[[{"node":"Ajusta os dados para comunicação nas mídas","type":"main","index":0}],[{"node":"Notifica erro no Discord","type":"main","index":0}]]},"Ajusta os dados para comunicação nas mídas":{"main":[[{"node":"Telegram: Notifica abertura de chamado","type":"main","index":0},{"node":"Discord: Notifica abertura de chamado","type":"main","index":0}]]},"Discord: Notifica abertura de chamado":{"main":[[{"node":"Houve notificação para equipe?","type":"main","index":0}]]},"Houve notificação para equipe?":{"main":[[{"node":"Prepara dados para reconhecimento do alerta","type":"main","index":0}],[{"node":"Notifica erro no Discord","type":"main","index":0}]]},"Prepara dados para reconhecimento do alerta":{"main":[[{"node":"Zabbix: Reconhece o alerta","type":"main","index":0}]]},"Ajusta número ticket e mensagem reconhecimento":{"main":[[{"node":"Trabalha com as Informações do link2","type":"main","index":0}]]},"Supabase: Nova linha do chamado1":{"main":[[{"node":"Ticket Movidesk igual a 0?","type":"main","index":0}]]},"Ticket Movidesk igual a 0?":{"main":[[{"node":"Prepara dados para reconhecimento1","type":"main","index":0}],[{"node":"Prepara dados para reconhecimento","type":"main","index":0}]]},"Prepara dados para reconhecimento":{"main":[[{"node":"Zabbix: Reconhece evento1","type":"main","index":0}]]},"Prepara dados para reconhecimento1":{"main":[[{"node":"Zabbix: Reconhece evento","type":"main","index":0}]]},"Zabbix: Reconhece evento":{"main":[[{"node":"Discord: Notifica reconhecimento2","type":"main","index":0}]]},"Zabbix: Reconhece evento1":{"main":[[{"node":"Discord: Notifica reconhecimento3","type":"main","index":0}]]},"Verifica igualdade de hosts":{"main":[[{"node":"Hosts são iguais?","type":"main","index":0}]]},"Hosts são iguais?":{"main":[[{"node":"Supabase: Atualiza qnd_quedas","type":"main","index":0}],[{"node":"Prepara push de eventos dentro do tempo","type":"main","index":0}]]},"Ticket Movidesk é 0?":{"main":[[{"node":"Zabbix: Recupera dados do evento","type":"main","index":0}],[{"node":"Prepara dados para reconhecimento3","type":"main","index":0}]]},"Zabbix: Recupera dados do evento":{"main":[[{"node":"Separa os alertas com reconhecimento 6","type":"main","index":0}]]},"Separa os alertas com reconhecimento 6":{"main":[[{"node":"Prepara dados para reconhecimento2","type":"main","index":0}]]},"Prepara dados para reconhecimento2":{"main":[[{"node":"Zabbix: Reconhece o evento","type":"main","index":0}]]},"Prepara dados para reconhecimento3":{"main":[[{"node":"Zabbix: Reconhece o evento","type":"main","index":0}]]},"Supabase: Atualiza qnd_quedas":{"main":[[{"node":"Ticket Movidesk é 0?","type":"main","index":0}]]},"Prepara push de eventos dentro do tempo":{"main":[[{"node":"Dentro de 30 minutos?","type":"main","index":0}]]},"Dentro de 30 minutos?":{"main":[[{"node":"Supabase: Atualiza evento existente","type":"main","index":0}],[{"node":"Zabbix: Recupera eventos anteriores","type":"main","index":0}]]},"Supabase: Atualiza evento existente":{"main":[[{"node":"Prepara dados para atualização Movidesk","type":"main","index":0},{"node":"Prepara dados para reconhecimento4","type":"main","index":0}]]},"Movidesk: Atualiza ticket":{"main":[[{"node":"Discord: Notifica reconhecimento de evento","type":"main","index":0}]]},"Prepara dados para reconhecimento4":{"main":[[{"node":"Zabbix: Reconhece evento2","type":"main","index":0}]]},"Zabbix: Reconhece evento2":{"main":[[{"node":"Discord: Notifica reconhecimento de evento","type":"main","index":0}]]},"Prepara dados para atualização Movidesk":{"main":[[{"node":"Movidesk: Atualiza ticket","type":"main","index":0}]]},"Discord: Notifica reconhecimento de evento":{"main":[[{"node":"Telegram: Notifica reconhecimento de evento","type":"main","index":0}]]},"Supabase: Recupera correspondências":{"main":[[{"node":"Existe correspondências?","type":"main","index":0}]]},"Existe correspondências?":{"main":[[{"node":"Rotas statusChamado","type":"main","index":0}],[{"node":"No Ops","type":"main","index":0}]]},"Supabase: Atualiza evento de recuperação":{"main":[[{"node":"Discord: Notifica sobre recuperação","type":"main","index":0}]]},"Rotas statusChamado":{"main":[[{"node":"Supabase: Atualiza evento de recuperação1","type":"main","index":0}],[{"node":"Supabase: Atualiza evento de recuperação","type":"main","index":0}]]},"Supabase: Atualiza evento de recuperação1":{"main":[[{"node":"Discord: Notifica sobre recuperação1","type":"main","index":0}]]},"Trabalha com as Informações do link2":{"main":[[{"node":"Supabase: Recupera dados da operadora2","type":"main","index":0}]]},"Supabase: Recupera dados da operadora2":{"main":[[{"node":"Supabase: Nova linha do chamado1","type":"main","index":0}]]},"Avalia se existe tags corretas e se o evento é correto":{"main":[[{"node":"Existe evento?","type":"main","index":0}]]},"Existe evento?":{"main":[[{"node":"Normaliza os dados","type":"main","index":0}],[{"node":"No Ops1","type":"main","index":0}]]},"Zabbix: Consulta de eventos do grupo":{"main":[[{"node":"Separa eventos ativos do host","type":"main","index":0}]]},"Separa eventos ativos do host":{"main":[[{"node":"Tem 2 ou mais itens no array?","type":"main","index":0}]]},"Tem 2 ou mais itens no array?":{"main":[[],[{"node":"Prepara dados para abertura de ticket","type":"main","index":0}]]},"Existe operadora?":{"main":[[{"node":"Zabbix: Consulta de eventos do grupo","type":"main","index":0}]]},"Trabalha com as Informações do link":{"main":[[{"node":"Supabase: Recupera dados da operadora","type":"main","index":0}]]},"Supabase: Recupera dados da operadora":{"main":[[{"node":"Existe operadora?","type":"main","index":0}]]},"Supabase: Nova linha do chamado2":{"main":[[{"node":"Discord: Notifica reconhecimento","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Main":[{"json":{"id do evento":174961196,"id do host":20218,"id do evento de recuperação":0,"id do tipo de cliente no banco de dados":1,"id do cliente na planilha":"16","id de abertura de chamado no movidesk":"2034965761","nome completo do host":"ALL4LABELS SAO02 PLANTA SP VISIONFLEX - FORTIGATE 60F - 10.170.32.1","nome simplificado do host":"ALL4LABELS SAO02 PLANTA SP VISIONFLEX","evento gerador":"SLA PROBE INTERNET - wan2  - Indisponível","tipo de evento":"Abertura Chamado","timestamp da queda":1763673214,"data e hora da queda":"20/11/2025, 18:13:34","timestamp da recuperação":0,"data e hora da recuperação":"","relação do cliente com a max":"CONTRATO 1","e-mail destinatário":"marcio.bronzatti@all4labels.com","e-mail em cópia":"alex.pereira@all4labels.com,andre.perez@all4labels.com,bruno.santos@computecnica.com.br,DL_BR_N1@all4labels.com,nivel1@computecnica.com.br","timestamp para cálculo de redução de tempo":1763658814,"máximo rodadas no encerramento":3,"informações do link":[],"tags":[{"tag":"aplicacao","value":"link"},{"tag":"noc","value":"1"}]}}]},"versionId":"c9b92f5d-d691-4f00-a721-6f4b7ba1a112","activeVersionId":"c9b92f5d-d691-4f00-a721-6f4b7ba1a112","triggerCount":0,"shared":[{"updatedAt":"2025-11-26T18:45:55.628Z","createdAt":"2025-11-26T18:45:55.628Z","role":"workflow:owner","workflowId":"BsBhJTTnrVoBcsMQ","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":{"updatedAt":"2026-01-27T16:47:39.129Z","createdAt":"2026-01-27T16:47:39.129Z","versionId":"c9b92f5d-d691-4f00-a721-6f4b7ba1a112","workflowId":"BsBhJTTnrVoBcsMQ","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"bce8474e-e536-432c-b492-1b339fde26ab","typeVersion":1.1,"name":"Main","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-3712,1680]},{"parameters":{"jsCode":"const idEventoTabela = $input.first().json.id;\nconst ticketMovideskTabela = $input.first().json.ticket_movidesk;\n\nif ((idEventoTabela && ticketMovideskTabela) || (idEventoTabela && ticketMovideskTabela == 0) ) {\n  return { \n    \"rota\": 1,\n    \"descricao\": \"Com evento e ticket na tabela\",\n  }\n} else if (idEventoTabela && !ticketMovideskTabela) {\n  return {\n    \"rota\": 2,\n    \"descricao\": \"Com evento na tabela, mas sem ticket\"\n  }\n} else if (!idEventoTabela && !ticketMovideskTabela) {\n  return {\n    \"rota\": 3,\n    \"descricao\": \"Sem evento na tabela\"\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1920,1280],"id":"f46fd865-5e92-4958-a047-8b626fe66a73","name":"Valida se existe ticket e direciona"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb6eff08-3023-4783-bfaf-1cacf44c64ab","leftValue":"={{ $json.acksFiltrados.status }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[304,1296],"id":"5f35f186-2ba8-4299-8e96-718adb1ea2f4","name":"Existe registro?"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Houve uma falha na comunicação do alerta para a equipe de monitoramento. Favor verificar!\n\n🖥️ **Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n⚠️ **Evento:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n\n🎫 **Ticket Movidesk:** {{ $('Supabase: Nova linha do chamado').item.json.ticket_movidesk }}\n**Operadora(contato):** {{ $('Supabase: Recupera dados da operadora').item.json.operadora }} ({{ $('Supabase: Recupera dados da operadora').item.json.contato }})\n\n🕒 **Data e hora do evento:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n📄 **Linha no BD:** {{ $('Supabase: Nova linha do chamado').item.json.id }}","color":"#FD2A2A","title":"🚨 A equipe não foi notificada desse alerta"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2960,2416],"id":"7ef1e713-d30b-457b-a8f7-ec41292719fd","name":"Notifica erro no Discord","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"pD90IU7lYfcf9FwM","name":"Canal: administrativo"}},"disabled":true},{"parameters":{"method":"POST","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1616,2304],"id":"13cbddd1-542f-4151-a8d2-d5f589156994","name":"Movidesk: Informa atuação para 1 evento","retryOnFail":true,"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"23f946c2-c95e-4612-b601-fe7ee83a33b7","name":"id do evento","value":"={{ $('Main').item.json['id do evento'] }}","type":"number"},{"id":"a56988aa-ac7d-44d9-b645-e04baf067379","name":"id do host","value":"={{ $('Main').item.json['id do host'] }}","type":"number"},{"id":"ba109d7f-388b-46a0-b6fc-6d7282f89f37","name":"id do evento de recuperação","value":"={{ $('Main').item.json['id do evento de recuperação'] }}","type":"number"},{"id":"d9dd21f2-f239-4d9d-9c6e-9e6ff8a59cb4","name":"id do tipo de cliente no banco de dados","value":"={{ $('Main').item.json['id do tipo de cliente no banco de dados'] }}","type":"number"},{"id":"f5888cb4-993b-40fd-971f-455f92c4458c","name":"id do cliente na planilha","value":"={{ $('Main').item.json['id do cliente na planilha'] }}","type":"string"},{"id":"e0de4236-9f72-4d2a-92f9-9222184e860d","name":"id de abertura de chamado no movidesk","value":"={{ $('Main').item.json['id de abertura de chamado no movidesk'] }}","type":"string"},{"id":"df71d480-a5ff-4210-94d6-2c700e529b46","name":"nome completo do host","value":"={{ $('Main').item.json['nome completo do host'] }}","type":"string"},{"id":"8d032575-4325-4b90-acd0-2affe04b2c82","name":"nome simplificado do host","value":"={{ $('Main').item.json['nome simplificado do host'] }}","type":"string"},{"id":"a1c9d5cf-f0a8-42f8-b428-6ab97235127e","name":"evento gerador","value":"={{ $('Main').item.json['evento gerador'] }}","type":"string"},{"id":"10133640-fa2f-44c2-972d-657de70d66b8","name":"tipo de evento","value":"={{ $('Main').item.json['tipo de evento'] }}","type":"string"},{"id":"cbd57d58-d011-40d0-9a82-dc2438808c03","name":"timestamp da queda","value":"={{ $('Main').item.json['timestamp da queda'] }}","type":"number"},{"id":"a61f4225-e4b3-4921-8b54-b55237e91f49","name":"data e hora da queda","value":"={{ $('Main').item.json['data e hora da queda'] }}","type":"string"},{"id":"e1efe799-1928-4a1c-99ee-7794c4cb6640","name":"timestamp da recuperação","value":"={{ $('Main').item.json['timestamp da recuperação'] }}","type":"number"},{"id":"9a9d93bc-e71d-44e9-8009-c9a5029e2c40","name":"data e hora da recuperação","value":"={{ $('Main').item.json['data e hora da recuperação'] }}","type":"string"},{"id":"11300972-b277-4453-a650-2f542ad72733","name":"relação do cliente com a max","value":"={{ $('Main').item.json['relação do cliente com a max'] }}","type":"string"},{"id":"3f0ee708-49eb-46af-9662-afa6584e27e7","name":"e-mail destinatário","value":"={{ $('Main').item.json['e-mail destinatário'] }}","type":"string"},{"id":"f10e5c77-d15c-4de3-a7a0-a4d68fd5038a","name":"e-mail em cópia","value":"={{ $('Main').item.json['e-mail em cópia'] }}","type":"string"},{"id":"ae9b1c51-634d-4414-8d38-c532d84cb8f9","name":"timestamp para cálculo de redução de tempo","value":"={{ $('Main').item.json['timestamp para cálculo de redução de tempo'] }}","type":"number"},{"id":"b503dd25-9a50-400c-99ed-b75a915cde2a","name":"máximo rodadas no encerramento","value":"={{ $('Main').item.json['máximo rodadas no encerramento'] }}","type":"number"},{"id":"f90667dc-7fd8-4a5f-a41b-fc91d8d9661b","name":"informações do link","value":"={{ $('Main').item.json['informações do link'] }}","type":"array"},{"id":"5c0082bc-7453-4b3e-b8fc-241e3b00d0e2","name":"tempo que permaneceu o alerta","value":"={{ $('Main').item.json['timestamp da recuperação'] - $('Main').item.json['timestamp da queda'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3040,1584],"id":"a0d3d6f2-54e1-4913-a8a5-865f00e809eb","name":"Normaliza os dados"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['tipo de evento'] }}","rightValue":"Abertura Chamado","operator":{"type":"string","operation":"equals"},"id":"697db71d-3d9c-438b-abd7-b5581062d868"}],"combinator":"and"},"renameOutput":true,"outputKey":"ABERTURA_CHAMADO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7ddbfb2b-56d5-4a9c-ad06-438239315149","leftValue":"={{ $json['tipo de evento'] }}","rightValue":"=Encerramento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ENCERRAMENTO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-2816,1584],"id":"74ac355c-aaba-46bf-82b0-a4a52d4d100d","name":"Rota statusChamado"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"host.get\",\n  \"params\": {\n    \"output\": [\"hostid\", \"name\"],\n    \"selectGroups\": [\"groupid\", \"name\"],\n    \"hostids\": \"{{ $json['id do host'] }}\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 2\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2592,1280],"id":"c960aeb6-f71b-45e7-930b-6e64b06a39fb","name":"Zabbix: Consulta grupo do host","retryOnFail":true},{"parameters":{"jsCode":"const nomeSimplificadoHost = $('Normaliza os dados').first().json['nome simplificado do host'];\nconst groups = $input.first().json.result[0].groups;\n\n// Função de limpeza e tokenização\nfunction tokenize(text) {\n  if (typeof text !== 'string') return [];\n  \n  return text\n    .normalize('NFD')                   // separa acentos\n    .replace(/[\\u0300-\\u036f]/g, '')    // remove acentos\n    .toUpperCase()\n    .replace(/[^\\p{L}\\p{N}\\s-]+/gu, ' ') // remove símbolos e pontuação\n    .split(/[\\s-]+/)                    // separa por espaços e hífens\n    .filter(Boolean);                   // remove vazios\n}\n\n// Quebra o nome do host\nconst hostWords = tokenize(nomeSimplificadoHost);\nconst hostSet = new Set(hostWords);\n\nlet bestMatch = null;\nlet bestScore = 0;\n\nfor (const group of groups) {\n  const groupWords = tokenize(group.name);\n  let matches = 0;\n\n  // Conta quantas palavras do grupo estão no host\n  for (const word of groupWords) {\n    if (hostSet.has(word)) matches++;\n  }\n\n  // Atualiza o melhor grupo se houver pelo menos 2 palavras em comum\n  if (matches >= 2 && matches > bestScore) {\n    bestScore = matches;\n    bestMatch = group;\n  }\n}\n\n// Retorno formatado\nif (bestMatch) {\n  return [\n    {\n      json: {\n        dados_grupo: {\n          groupid: parseInt(bestMatch.groupid),\n          groupname: bestMatch.name,\n          score: bestScore\n        }\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: {\n        dados_grupo: {\n          message: \"Nenhum grupo correspondente\"\n        }\n      }\n    }\n  ];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2368,1280],"id":"a28e516f-e652-4b73-8e8b-cfac23555ea6","name":"Verifica o grupo do host"},{"parameters":{"operation":"getAll","tableId":"base","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"timestamp_queda","condition":"gte","keyValue":"={{ $('Normaliza os dados').item.json['timestamp para cálculo de redução de tempo'] }}"},{"keyName":"groupId","condition":"eq","keyValue":"={{ $json.dados_grupo.groupid }}"},{"keyName":"status_chamado","condition":"lt","keyValue":"4"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2144,1280],"id":"6f411ad4-f4e8-4bca-98e8-e3219b9df792","name":"Supabase: Recupera correspondência do grupo","alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"name\", \"value\", \"host\", \"hostid\"],\n    \"select_acknowledges\": [\n      \"acknowledgeid\",\n      \"userid\",\n      \"eventid\",\n      \"clock\",\n      \"message\",\n      \"action\",\n      \"username\"\n    ],\n    \"time_from\": \"{{ $('Normaliza os dados').item.json['timestamp para cálculo de redução de tempo'] }}\",\n    \"selectHosts\": [\"hostid\", \"host\"],\n    \"hostids\": \"{{ $('Normaliza os dados').item.json['id do host'] }}\",\n    \"sortfield\": \"clock\",\n    \"sortorder\": \"DESC\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,1296],"id":"02f4eb81-8072-44e6-9050-3868d3c19a4c","name":"Zabbix: Recupera eventos anteriores","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false},{"parameters":{"jsCode":"// Filtra apenas eventos com algum acknowledge de action == \"6\"\nconst eventos = $input.first().json.result;\n\n// Filtra apenas eventos que têm pelo menos um ack com action == \"6\"\nconst filtrados = eventos\n  .filter(ev => ev.acknowledges?.some(ack => ack.action == 6))\n  .map(ev => {\n    // Dentro de cada evento, pega só os acks com action == 6\n    const acks6 = (ev.acknowledges || []).filter(ack => ack.action == 6);\n\n    // Ordena por acknowledgeid (numérico) e pega o maior\n    const ackMaior = [...acks6].sort((a, b) => Number(b.acknowledgeid) - Number(a.acknowledgeid))[0];\n\n    // Retorna o evento com destaque para o acknowledge mais recente\n    return {\n      json: {\n        eventid: ev.eventid,\n        clock: ev.clock,\n        hostid: ev.hosts?.[0]?.hostid,\n        host: ev.hosts?.[0]?.host,\n        value: ev.value,\n        // acknowledge de maior id\n        acknowledge_mais_recente: {\n          acknowledgeid: ackMaior.acknowledgeid,\n          clock: ackMaior.clock,\n          \"timestampAck_formatado\": DateTime.fromSeconds(parseInt(ackMaior.clock))\n            .setZone('America/Sao_Paulo')\n            .toFormat('dd/MM/yyyy HH:mm:ss'),\n          message: ackMaior.message,\n          action: ackMaior.action,\n          username: ackMaior.username,\n          userid: ackMaior.userid\n        }\n      }\n    };\n  });\n\n// Retorna cada evento filtrado como item independente\nif (filtrados.length === 0) {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": false\n      }\n    }\n  }\n} else {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": true\n      }\n    }\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,1296],"id":"e9464403-5265-4ef1-919b-955418c6e6e1","name":"Valida action igual a 6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e984daf-3226-4cf3-8086-b35c0eac89d6","leftValue":"={{ $json.rota }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"TABELA SEM TICKET"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3ddd3948-0146-41cc-a2b8-e36638ae6dce","leftValue":"={{ $json.rota }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"TICKET TABELA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.rota }}","rightValue":3,"operator":{"type":"number","operation":"equals"},"id":"e249c04c-23de-49d6-aaa3-5ced4d533d3d"}],"combinator":"and"},"renameOutput":true,"outputKey":"CONSULTA ZABBIX"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-1696,1264],"id":"f12f3315-0c53-40b5-bfec-37e9a8a8e8b4","name":"Rota ticket"},{"parameters":{"jsCode":"const nomeHostCompleto = $('Normaliza os dados').first().json['nome completo do host'];\nconst nomeHostSimplificado = $('Normaliza os dados').first().json['nome simplificado do host'];\nconst eventoGerador = $('Normaliza os dados').first().json['evento gerador'];\nconst timestampQueda = $('Normaliza os dados').first().json['timestamp da queda'];\nconst dataHoraQuedaFormatada = $('Normaliza os dados').first().json['data e hora da queda'];\nconst operadora = $('Trabalha com as Informações do link').first().json.operadora.operadora;\nconst porta = $('Trabalha com as Informações do link').first().json.operadora.porta;\nconst cnpj = $('Trabalha com as Informações do link').first().json.operadora.cnpj;\nconst endereco = $('Trabalha com as Informações do link').first().json.operadora.endereco;\nconst geop = $('Trabalha com as Informações do link').first().json.operadora.geop;\nconst designacaoCircuito = $('Trabalha com as Informações do link').first().json.operadora.designacao_circuito;\nconst contatoOperadora = $('Supabase: Recupera dados da operadora').first().json.contato;\nconst whatsappOperadora = $('Supabase: Recupera dados da operadora').first().json.whatsapp;\nconst horaComercial = $('Supabase: Recupera dados da operadora').first().json.foraComercial;\nconst idMovideskCliente = $('Normaliza os dados').first().json['id de abertura de chamado no movidesk'];\nconst emCopiaParaVariavel = $('Normaliza os dados').first().json['e-mail em cópia'];\n\n\nlet atendeForaComercial = \"\"\nconst linkOperadora = `${operadora} - ${porta}`;\nconst contatoFormatado = `Ligação: ${contatoOperadora} | Whatsapp: ${whatsappOperadora == null ? \"Não informado\" : whatsappOperadora}`;\nconst designadorCircuitoFormatado = designacaoCircuito == \"NAN\" ? \"Não informado na planilha ou inexistente\" : designacaoCircuito;\n\n\nconst cliente = \"1836303904\"; // idMovideskCliente;\nconst emCopiaPara = \"\"; // emCopiaParaVariavel \n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting(timestamp) {\n  // Converte timestamp (segundos) em objeto Date\n  const date = new Date(timestamp * 1000);\n\n  // Obtém hora local (fuso horário do servidor)\n  const hour = new Date(date.toLocaleString(\"en-US\", { timeZone: \"America/Sao_Paulo\" })).getHours();\n\n  let greeting;\n\n  // Define o turno conforme o horário\n  if (hour >= 18 || hour < 5) {\n    greeting = \"Boa noite\";\n  } else if (hour >= 5 && hour < 12) {\n    greeting = \"Bom dia\";\n  } else {\n    greeting = \"Boa tarde\";\n  }\n\n  return greeting;\n}\n\nconst greeting = getGreeting(timestampQueda)\n\n\nif (horaComercial == null) {\n  atendeForaComercial = \"Não informado\"\n} else if (horaComercial == false) {\n  atendeForaComercial = \"Não\"\n} else {\n  atendeForaComercial = \"Sim\"\n}\n\n\nconst htmlInterno = `\n<h4 style=\"padding: 10px;\"><strong>Informações para abertura de chamado</strong></h4>\n<div style=\"border: 1px solid black; padding: 10px; display: flex; flex-direction: column; justify-content: center; text-align: center; align-items:center; border-radius: 10px; color: black\">\n  <h2>${nomeHostCompleto}</h2>\n  <p><strong>Evento:</strong> ${eventoGerador}</p>\n  <p><strong>Data e hora da queda:</strong> ${dataHoraQuedaFormatada}</p>\n  <p><strong>Link e Operadora:</strong> ${linkOperadora}</p>\n  <p><strong>Designação/Circuito/ID:</strong> ${designadorCircuitoFormatado}</p>\n  <p><strong>Contato da operadora:</strong> ${contatoFormatado}</p>\n  <p><strong>CNPJ:</strong> ${cnpj}</p>\n  <p><strong>Endereço:</strong> ${endereco}</p>\n  <p><strong>GEOP:</strong> ${geop}</p>\n  <p><strong>Operadora atende fora do horário comercial:</strong> ${atendeForaComercial}</p>\n</div>\n`;\n\nconst htmlCliente = `\n<p> ${greeting} </p>\n<p style=\"padding: 10px;\"> O seguinte alerta está sendo tratado por um de nossos analistas. Em breve as informações de abertura do chamado serão encaminhadas. </p>\n<div style=\"display: flex; flex-direction: column; gap: 3px; justify-content: center; text-align: center; align-items: center; border: 1px solid black; border-radius: 10px; padding: 10px; color: black;\">\n  <h2>${nomeHostCompleto}</h2>\n  <p><strong>Evento:</strong> ${eventoGerador}</p>\n  <p><strong>O evento iniciou em:</strong> ${dataHoraQuedaFormatada}</p>\n  <p><strong>Operadora:</strong> ${linkOperadora}</p>\n</div>\n<div style=\"padding: 10px;\">\n  <p> Atenciosamente </p>\n  <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n</div>\n`;\n\nreturn {\n  json: {\n    type: 2,\n    subject: `REPARO - ${nomeHostSimplificado} - ${operadora}`,\n    category: \"01 - Atendimento Helpdesk\",\n    serviceFirstLevelId: 325878,\n    urgency: \"Média\",\n    ownerTeam: \"NOC\",\n    createdBy: { id: \"1458772347\" },\n    Clients: [{ id: cliente }],\n    cc: emCopiaPara,\n    actions: [\n      { type: 1, description: htmlInterno, createdBy: { id: \"1458772347\" } },\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" } }\n    ]\n  }\n};\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,2208],"id":"8289b164-9059-4496-895c-e0d3a0c58e6f","name":"Prepara dados para abertura de ticket","disabled":true},{"parameters":{"jsCode":"const nomeHost = $('Normaliza os dados').first().json.nomeCompletoHost;\nconst nomeHostLimpo = $('Normaliza os dados').first().json.hostNomeLimpo\nconst evento = $('Normaliza os dados').first().json.nomeEvento;\nconst timestampQueda = $('Normaliza os dados').first().json.timestampQueda;\nconst dataQuedaFormatada = $('Normaliza os dados').first().json.dataHoraQuedaFormatada;\nconst operadora = $('Trabalha com as Informações do link').first().json.operadora.operadora;\nconst porta = $('Trabalha com as Informações do link').first().json.operadora.porta;\nconst unidade = $('Trabalha com as Informações do link').first().json.operadora.unidade;\nconst cnpj = $('Trabalha com as Informações do link').first().json.operadora.cnpj;\nconst endereco = $('Trabalha com as Informações do link').first().json.operadora.endereco;\nconst geop = $('Trabalha com as Informações do link').first().json.operadora.geop;\nconst designacaoCircuito = $('Trabalha com as Informações do link').first().json.operadora.designacao_circuito;\nconst idMovideskCliente = $('Normaliza os dados').first().json['id de abertura de chamado no movidesk'];\nconst emCopiaParaVariavel = $('Normaliza os dados').first().json['e-mail em cópia'];\n// const contatoOperadora = $input.first().json.contato;\n// const whatsappOperadora = $input.first().json.whatsapp;\n// const horaComercial = $input.first().json.foraComercial;\n\n\n// const atendeForaComercial = horaComercial == null ? \"Não informado\" : horaComercial;\nconst linkOperadora = `${operadora} - ${porta}`;\n// const contatoFormatado = `Ligação: ${contatoOperadora} | Whatsapp: ${whatsappOperadora === \"null\" ? \"Não informado\" : whatsappOperadora}`;\nconst dadosUnidade = unidade === \"NAN\" ? \"Não disponível\": unidade;\n\n\nconst cliente = \"1836303904\"; // idMovideskCliente;\nconst emCopiaPara = \"\"; // emCopiaParaVariavel \n\n\nconst htmlInterno = `\n<h4 style=\"padding: 10px;\"><strong>Informações para abertura de chamado</strong></h4>\n<div style=\"border: 1px solid black; padding: 10px; display: flex; flex-direction: column; justify-content: center; text-align: center; align-items:center; border-radius: 10px; color: black\">\n  <h2>${nomeHost}</h2>\n  <p><strong>Evento:</strong> ${evento}</p>\n  <p><strong>Data e hora da queda:</strong> ${dataQuedaFormatada}</p>\n  <p><strong>Link e Operadora:</strong> ${linkOperadora}</p>\n  <p><strong>Designação/Circuito/ID:</strong> ${designacaoCircuito}</p>\n  <p><strong>Contato da operadora:</strong> Dados da operadora não localizados</p>\n  <p><strong>CNPJ:</strong> ${cnpj}</p>\n  <p><strong>Endereço:</strong> ${endereco}</p>\n  <p><strong>GEOP:</strong> ${geop}</p>\n  <p><strong>Contato na unidade:</strong> ${dadosUnidade}</p>\n</div>\n`;\n\nconst htmlCliente = `\n<p style=\"padding: 10px;\"> O seguinte alerta está sendo tratado por um de nossos analistas. Em breve as informações de abertura do chamado serão encaminhadas. </p>\n<div style=\"display: flex; flex-direction: column; gap: 3px; justify-content: center; text-align: center; align-items: center; border: 1px solid black; border-radius: 10px; padding: 10px; color: black;\">\n  <h2>${nomeHost}</h2>\n  <p><strong>Evento:</strong> ${evento}</p>\n  <p><strong>O evento iniciou em:</strong> ${dataQuedaFormatada}</p>\n  <p><strong>Operadora:</strong> ${linkOperadora}</p>\n</div>\n<div style=\"padding: 10px;\">\n  <p> Equipe de monitoramento Maxprotection </p>\n</div>\n`;\n\nreturn {\n  json: {\n    type: 2,\n    subject: `REPARO - ${nomeHostLimpo} - ${operadora}`,\n    category: \"01 - Atendimento Helpdesk\",\n    serviceFirstLevelId: 325878,\n    urgency: \"Média\",\n    ownerTeam: \"NOC\",\n    createdBy: { id: \"1458772347\" },\n    Clients: [{ id: cliente }],\n    cc: emCopiaPara,\n    actions: [\n      { type: 1, description: htmlInterno, createdBy: { id: \"1458772347\" } },\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" } }\n    ]\n  }\n};\n\nreturn [{htmlInterno}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,2400],"id":"640a9f04-670a-410b-a649-25ce1af01b66","name":"Prepara dados para abertura de ticket1","disabled":true},{"parameters":{"tableId":"base","fieldsUi":{"fieldValues":[{"fieldId":"id_host","fieldValue":"={{ $('Normaliza os dados').item.json['id do host'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}"},{"fieldId":"ticket_movidesk","fieldValue":"={{ $json.id }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da queda'] }}"},{"fieldId":"id_cliente_variaveis","fieldValue":"={{ $('Normaliza os dados').item.json['id do tipo de cliente no banco de dados'] }}"},{"fieldId":"status_chamado","fieldValue":"2"},{"fieldId":"id_evento","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"evento_raiz","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"groupId","fieldValue":"={{ $('Verifica o grupo do host').item.json.dados_grupo.groupid }}"},{"fieldId":"operadora","fieldValue":"={{ $('Supabase: Recupera dados da operadora').item.json.operadora }}"},{"fieldId":"hostLimpo","fieldValue":"={{ $('Normaliza os dados').item.json['nome simplificado do host'] }}"},{"fieldId":"eventsRelacionados","fieldValue":"={{ [$('Normaliza os dados').item.json['id do evento']] }}"},{"fieldId":"count_sla","fieldValue":"true"},{"fieldId":"porta","fieldValue":"={{ $('Trabalha com as Informações do link').item.json.operadora.porta }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1840,2304],"id":"8248be01-8f39-4c04-93d6-e0e599697257","name":"Supabase: Nova linha do chamado","retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e5512f55-cbf0-4796-962e-8994dad803e0","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2064,2304],"id":"5b37213f-4b9c-4214-8975-4c1b92e146a2","name":"Criou a linha na tabela?","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"d930fbd4-3b6a-4d84-abed-df337dd7c043","name":"id do evento","value":"={{ $('Normaliza os dados').item.json['id do evento'] }}","type":"number"},{"id":"ee6a9acd-9abd-4540-a353-53a36a263611","name":"nome completo do host","value":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}","type":"string"},{"id":"c1ccc2f7-c4b1-4396-99d0-ba311520a50c","name":"evento gerador","value":"={{ $('Normaliza os dados').item.json['evento gerador'] }}","type":"string"},{"id":"b63f6229-b2d0-4498-8b20-b50632162510","name":"data e hora da queda","value":"={{ $('Normaliza os dados').item.json['data e hora da queda'] }}","type":"string"},{"id":"d9c6e7eb-1922-483e-b89a-dd91fa1adb95","name":"id","value":"={{ $('Supabase: Nova linha do chamado').item.json.id }}","type":"number"},{"id":"e6883652-5d52-4538-812c-d6ad6dedfe51","name":"operadora","value":"={{ $('Supabase: Nova linha do chamado').item.json.operadora }}","type":"string"},{"id":"0fc918b5-60f9-40b0-9940-240ccee8b0b0","name":"contato","value":"={{ $('Supabase: Recupera dados da operadora').item.json.contato }}","type":"string"},{"id":"e6786e06-2ffb-4f1c-ad8a-44d42054f1ce","name":"ticket_movidesk","value":"={{ $('Supabase: Nova linha do chamado').item.json.ticket_movidesk }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2288,2224],"id":"7bd1489d-1989-4eba-8ded-f201ad8f8638","name":"Ajusta os dados para comunicação nas mídas","disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=\n**Host:** {{ $json['nome completo do host'] }}\n**Evento:** {{ $json['evento gerador'] }}\n**Data e hora do evento:** {{ $json['data e hora da queda'] }}\n\n**Ticket Movidesk:** {{ $json.ticket_movidesk }}\n**Operadora:** {{ $json.operadora }}\n**Contato da operadora:** {{ $json.contato }}\n**Linha no BD:** {{ $json.id }}\n\nO ticket aguarda atuação do analista!","color":"#FF7518","title":"=🚨 NOVO ALERTA - ABRIR CHAMADO NA OPERADORA  {{ $json.operadora.toUpperCase() }}","thumbnail":"https://imagepng.org/wp-content/uploads/2018/08/alerta.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2512,2128],"id":"603ab9b0-7176-4ebb-ac73-b3d73e280132","name":"Discord: Notifica abertura de chamado","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}},"disabled":true},{"parameters":{"chatId":"-1003134293207","text":"=ABRIR CHAMADO!\n\n🖥️ **Host:** {{ $json['nome completo do host'] }}\n⚠️ **Evento:** {{ $json['evento gerador'] }}\n🕒 **Data e hora do evento:** {{ $json['data e hora da queda'] }}\n\n🎫 **Ticket Movidesk:** {{ $json.ticket_movidesk }}\n  **Operadora:** {{ $json.operadora }} (contato: {{ $json.contato }})\n📄 **Linha no BD:** {{ $json.id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2512,2320],"id":"8a2a9867-6f90-4404-af28-846fe2987cd7","name":"Telegram: Notifica abertura de chamado","webhookId":"69430f89-0bb1-47a4-87c1-bd6679c3bac9","credentials":{"telegramApi":{"id":"2Bf07kZjNNq9Pv7T","name":"Telegram account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b2eebcca-4dd7-4602-99f0-426c5681e53e","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2736,2128],"id":"5b262478-8b7c-4bf7-8e8b-be96ac4f25b9","name":"Houve notificação para equipe?","disabled":true},{"parameters":{"jsCode":"const ticketMovidesk = $('Supabase: Nova linha do chamado').first().json.ticket_movidesk;\n\nconst messageAcks = `Equipe notificada para atuação - ticket Movidesk ${ticketMovidesk}`;\nconst eventId = $('Ajusta os dados para comunicação nas mídas').first().json.id_evento;\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: messageAcks,\n    action: 4\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2960,2080],"id":"8316a55b-f4af-4404-a60b-15423598eba1","name":"Prepara dados para reconhecimento do alerta","disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3184,2080],"id":"45c6f424-f65e-47e3-a9b7-87a74f21dd78","name":"Zabbix: Reconhece o alerta","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}},"disabled":true},{"parameters":{"jsCode":"// --- Etapa 1: Captura a mensagem do ack mais recente ---\nconst mensagemTicket = $input.first().json.acksFiltrados.filtrados[0].json.acknowledge_mais_recente.message;\n\n// --- Etapa 2: Extrai número do ticket ---\nlet numeroTicket;\nconst numerosEncontrados = mensagemTicket ? mensagemTicket.match(/\\d+/) : null;\n\nif (numerosEncontrados && numerosEncontrados.length > 0) {\n  numeroTicket = parseInt(numerosEncontrados[0]);\n} else {\n  numeroTicket = mensagemTicket; // pode ser texto (ex.: \"Sem ticket\", \"0\", etc.)\n}\n\n// --- Etapa 3: Valida se o retorno é número ou texto ---\nif (typeof numeroTicket === \"string\" || isNaN(numeroTicket)) {\n  return [\n    {\n      json: {\n        ticket: 0,\n        mensagemTicket\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: {\n        ticket: numeroTicket,\n        mensagemTicket\n      }\n    }\n  ];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,1088],"id":"68d0ecc5-5c88-40c0-8b7c-198a05df40c9","name":"Ajusta número ticket e mensagem reconhecimento"},{"parameters":{"tableId":"base","fieldsUi":{"fieldValues":[{"fieldId":"id_host","fieldValue":"={{ $('Normaliza os dados').item.json['id do host'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da queda'] }}"},{"fieldId":"id_cliente_variaveis","fieldValue":"={{ $('Normaliza os dados').item.json['id do tipo de cliente no banco de dados'] }}"},{"fieldId":"status_chamado","fieldValue":"2"},{"fieldId":"id_evento","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"evento_raiz","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"groupId","fieldValue":"={{ $('Verifica o grupo do host').item.json.dados_grupo.groupid }}"},{"fieldId":"hostLimpo","fieldValue":"={{ $('Normaliza os dados').item.json['nome simplificado do host'] }}"},{"fieldId":"ticket_movidesk","fieldValue":"={{ $('Ajusta número ticket e mensagem reconhecimento').item.json.ticket }}"},{"fieldId":"eventsRelacionados","fieldValue":"={{ [$('Normaliza os dados').item.json['id do evento']] }}"},{"fieldId":"operadora","fieldValue":"={{ $json.operadora || null }}"},{"fieldId":"porta","fieldValue":"={{ $('Trabalha com as Informações do link2').item.json.operadora.porta }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1520,1088],"id":"9a8cb565-fcf6-4ad0-866a-f45e93c31622","name":"Supabase: Nova linha do chamado1","retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4e558c46-5b6d-4d34-b610-e2060eaf6f49","leftValue":"={{ $json.ticket_movidesk }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1744,1088],"id":"94efe1da-61e3-4729-b493-4694b077e7b2","name":"Ticket Movidesk igual a 0?"},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1968,1184],"id":"fd32d093-6951-48a0-84c5-82ffd7cf9e5b","name":"Prepara dados para reconhecimento"},{"parameters":{"jsCode":"const messageAcks = $('Ajusta número ticket e mensagem reconhecimento').first().json.mensagemTicket;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: messageAcks,\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1968,992],"id":"08452483-e823-479c-99e6-4331b909be75","name":"Prepara dados para reconhecimento1"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=EVENTO RECONHECIDO\n\n**Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**Evento:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**Data e hora do evento:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n\n**Ticket Movidesk:** {{ $('Supabase: Nova linha do chamado1').item.json.ticket_movidesk }}\n**Linha no BD:** {{ $('Supabase: Nova linha do chamado1').item.json.id }}","color":"#69BF6C","title":"=Reconhecimento de alerta","thumbnail":"https://imagepng.org/wp-content/uploads/2019/12/check-icone-scaled.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2416,992],"id":"eddb15e9-6098-4a6e-9f95-45e54285774a","name":"Discord: Notifica reconhecimento2","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=EVENTO RECONHECIDO\n\n**Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**Evento:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**Data e hora do evento:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n\n**Ticket Movidesk:** {{ $('Supabase: Nova linha do chamado1').item.json.ticket_movidesk }}\n**Linha no BD:** {{ $('Supabase: Nova linha do chamado1').item.json.id }}","color":"#69BF6C","title":"=Reconhecimento de alerta","thumbnail":"https://imagepng.org/wp-content/uploads/2019/12/check-icone-scaled.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2416,1184],"id":"a128e845-331a-452e-a5ae-9c9540c77a22","name":"Discord: Notifica reconhecimento3","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2192,992],"id":"87dc06f3-9a7a-48bc-bc33-d57392ea715a","name":"Zabbix: Reconhece evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2192,1184],"id":"eddf68f7-8625-4104-b735-26f969357f04","name":"Zabbix: Reconhece evento1","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const nomeHostSupabase = $('Supabase: Recupera correspondência do grupo').first().json.nome_host;\nconst nomeHostEvento = $('Normaliza os dados').first().json['nome completo do host'];\nconst idTabela = $('Supabase: Recupera correspondência do grupo').first().json.id;\nconst qndQuedas = $('Supabase: Recupera correspondência do grupo').first().json.qnd_quedas;\n\nif (nomeHostSupabase == nomeHostEvento) {\n  return [{igualdadeDeHost: true, idTabela, qndQuedas}]\n} else {\n  return [{igualdadeDeHost: false, idTabela, qndQuedas}]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1264,336],"id":"aee3e8c6-30df-4ced-b27e-76b73f46e56d","name":"Verifica igualdade de hosts"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"67371f0a-6119-4eaf-8f11-ce2becc7bc8b","leftValue":"={{ $json.igualdadeDeHost }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1040,336],"id":"970af829-147e-4762-a62d-99b1b4e6eb8c","name":"Hosts são iguais?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d86fa3fc-d1b8-4ec8-b40c-b1a08bd7482f","leftValue":"={{ $('Supabase: Recupera correspondência do grupo').item.json.ticket_movidesk }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-592,112],"id":"b785026c-7fbe-468a-8b77-d67d9d415db3","name":"Ticket Movidesk é 0?"},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"name\", \"value\", \"host\", \"hostid\"],\n    \"select_acknowledges\": [\n      \"acknowledgeid\",\n      \"userid\",\n      \"eventid\",\n      \"clock\",\n      \"message\",\n      \"action\",\n      \"username\"\n    ],\n    \"time_from\": \"{{ $('Prepara os dados').item.json['timestamp para cálculo de redução de tempo'] }}\",\n    \"selectHosts\": [\"hostid\", \"host\"],\n    \"hostids\": \"{{ $('Prepara os dados').item.json['id do host'] }}\",\n    \"sortfield\": \"clock\",\n    \"sortorder\": \"DESC\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-368,16],"id":"5cf0b69a-dc33-4768-bc8c-511fc1f06ccc","name":"Zabbix: Recupera dados do evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false},{"parameters":{"jsCode":"// Filtra apenas eventos com algum acknowledge de action == \"6\"\nconst eventos = $input.first().json.result;\n\n// Filtra apenas eventos que têm pelo menos um ack com action == \"6\"\nconst filtrados = eventos\n  .filter(ev => ev.acknowledges?.some(ack => ack.action == 6))\n  .map(ev => {\n    // Dentro de cada evento, pega só os acks com action == 6\n    const acks6 = (ev.acknowledges || []).filter(ack => ack.action == 6);\n\n    // Ordena por acknowledgeid (numérico) e pega o maior\n    const ackMaior = [...acks6].sort((a, b) => Number(b.acknowledgeid) - Number(a.acknowledgeid))[0];\n\n    // Retorna o evento com destaque para o acknowledge mais recente\n    return {\n      json: {\n        eventid: ev.eventid,\n        clock: ev.clock,\n        hostid: ev.hosts?.[0]?.hostid,\n        host: ev.hosts?.[0]?.host,\n        value: ev.value,\n        // acknowledge de maior id\n        acknowledge_mais_recente: {\n          acknowledgeid: ackMaior.acknowledgeid,\n          clock: ackMaior.clock,\n          \"timestampAck_formatado\": DateTime.fromSeconds(parseInt(ackMaior.clock))\n            .setZone('America/Sao_Paulo')\n            .toFormat('dd/MM/yyyy HH:mm:ss'),\n          message: ackMaior.message,\n          action: ackMaior.action,\n          username: ackMaior.username,\n          userid: ackMaior.userid\n        }\n      }\n    };\n  });\n\n// Retorna cada evento filtrado como item independente\nif (filtrados.length === 0) {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": false\n      }\n    }\n  }\n} else {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": true\n      }\n    }\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,16],"id":"5fa9f304-69aa-42c9-b7dd-4bb1b3b254f8","name":"Separa os alertas com reconhecimento 6"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,112],"id":"7b659695-23b4-4726-99c4-5fe3048c5284","name":"Zabbix: Reconhece o evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const messageAcks = $input.first().json.acksFiltrados.filtrados[0].json.acknowledge_mais_recente.message;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: messageAcks,\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,16],"id":"eded8780-9c41-4894-901b-d1f45cf4a9f1","name":"Prepara dados para reconhecimento2"},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,208],"id":"54ac15d5-3c3f-42b1-93c0-f429faca181d","name":"Prepara dados para reconhecimento3"},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.idTabela }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"qnd_quedas","fieldValue":"={{ $json.qndQuedas + 1 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-816,112],"id":"6c1c5c10-4b41-412b-b788-a32a996ec50b","name":"Supabase: Atualiza qnd_quedas","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const eventosRelacionados = $('Supabase: Recupera correspondência do grupo').first().json.eventsRelacionados;\nconst novoEvento = $('Normaliza os dados').first().json['id do evento'];\nconst timestamQueda = $('Normaliza os dados').first().json['timestamp da queda'];\nconst timestampAtual = DateTime.now().toUnixInteger()\n\nconst difTimestamp_queda_atual = timestampAtual - timestamQueda;\nconst minutosEmSegundos = 1800;\n\nfunction validaDentroDe30Minutos(timestampDaQueda, variavelCalculo) {\n  let dentroDoPrazo = null\n  if (timestampDaQueda <= variavelCalculo) {\n    dentroDoPrazo = true\n    return dentroDoPrazo\n  } else {\n    dentroDoPrazo = false\n    return dentroDoPrazo\n  }\n}\n\nconst eventosRelacionadosAtualizado = Array()\nfor (const event of eventosRelacionados) {\n  eventosRelacionadosAtualizado.push(event)\n}\n\neventosRelacionadosAtualizado.push(novoEvento)\n\nreturn [{\n  eventosRelacionadosAtualizado,\n  dentroDe30Minutos: validaDentroDe30Minutos(difTimestamp_queda_atual, minutosEmSegundos)\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-816,544],"id":"2bb2458a-60af-49b1-aee1-547fbb6cd1b1","name":"Prepara push de eventos dentro do tempo"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3e20d80d-1506-4a91-9cf5-2ff70594f92e","leftValue":"={{ $json.dentroDe30Minutos }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-592,544],"id":"81c246ce-eb6c-4c64-85f6-8e82ced3963e","name":"Dentro de 30 minutos?"},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Verifica igualdade de hosts').item.json.idTabela }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"eventsRelacionados","fieldValue":"={{ $json.eventosRelacionadosAtualizado }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-368,496],"id":"31f7ce37-d138-4cdd-a7a5-9d952c930bb9","name":"Supabase: Atualiza evento existente","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"method":"PATCH","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6&id={{ $('Supabase: Atualiza evento existente').item.json.ticket_movidesk }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,400],"id":"f4ee7b95-2640-4de6-b667-6ca01f6b49b3","name":"Movidesk: Atualiza ticket","retryOnFail":true},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,592],"id":"2b3008bb-22a7-4631-8668-4c27912143f2","name":"Prepara dados para reconhecimento4"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,592],"id":"b61eee1d-924f-4a92-9346-f7c3ac3a986f","name":"Zabbix: Reconhece evento2","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const nomeCompleto_host = $('Normaliza os dados').first().json['nome completo do host']\nconst nomeHost_simplificado = $('Normaliza os dados').first().json['nome simplificado do host']\nconst evento_gerador = $('Normaliza os dados').first().json['evento gerador']\nconst dataHora_queda = $('Normaliza os dados').first().json['data e hora da queda']\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting(timestamp) {\n  // Converte timestamp (segundos) em objeto Date\n  const date = new Date(timestamp * 1000);\n\n  // Obtém hora local (fuso horário do servidor)\n  const hour = new Date(date.toLocaleString(\"en-US\", { timeZone: \"America/Sao_Paulo\" })).getHours();\n\n  let greeting;\n\n  // Define o turno conforme o horário\n  if (hour >= 18 || hour < 5) {\n    greeting = \"Boa noite\";\n  } else if (hour >= 5 && hour < 12) {\n    greeting = \"Bom dia\";\n  } else {\n    greeting = \"Boa tarde\";\n  }\n\n  return greeting;\n}\n\nconst agora = new Date();\nconst timestampSegundos = Math.floor(agora.getTime() / 1000);\nconst greeting = getGreeting(timestampSegundos)\n\n\nconst htmlCliente = `\n  <p>${greeting}</p>\n  <br>\n  <p>Identificamos um novo alerta em nosso sistema de monitoramento:</p>\n  <div style=\"padding: 10px; border: 1px solid black; border-radius: 10px; display: flex; flex-direction: column; justify-content: center; text-align: center; align-items: center; color: black; margin: 10px 0\">\n    <h2>${nomeCompleto_host}</h2>\n    <p style=\"font-size: 16px;\"><strong>Evento:</strong> ${evento_gerador}</p>\n    <p style=\"font-size: 16px;\"><strong>Data e hora da queda:</strong> ${dataHora_queda}</p>\n  </div>\n  \n  <p> Gostaríamos de confirmar se a ocorrência já é de conhecimento da equipe ${nomeHost_simplificado} ou se trata de uma falha eventual? </p>\n  <p>Recomendamos a verificação da ocorrência acima para validação e tratativa da indisponibilidade. Permaneceremos em monitoramento e informaremos quando o evento estiver com status de resolvido em nosso monitoramento.</p>\n  <br>\n  <br>\n  <p>Atenciosamente </p>\n  <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n  `;\n\nreturn {\n  json: {\n    actions: [\n      {\n        type: 2,\n        description: htmlCliente,\n        createdBy: {id: \"1458772347\"},\n        workTime: \"00:01:00\"\n      }\n    ]\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,400],"id":"b739b169-12ec-461c-b847-0507eaa3c6f7","name":"Prepara dados para atualização Movidesk"},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=EVENTO RECONHECIDO NO ZABBIX\n\n🖥️ **Host:** {{ $('Normaliza os dados').item.json.nomeCompletoHost }}\n📛 **Nome do alerta:** {{ $('Normaliza os dados').item.json.nomeEvento }}\n🕒 **Data e hora do evento:** {{ $('Normaliza os dados').item.json.dataHoraQuedaFormatada }}\n🕒 **Data e hora da atualização:** {{ DateTime.now().format('dd/MM/yyyy HH:mm:ss')}}\n🎟️ **Ticket Movidesk:** {{ $('Supabase: Recupera correspondência do grupo').item.json.ticket_movidesk }}\n**Operadora:** {{ $('Supabase: Recupera correspondência do grupo').item.json.operadora.toSentenceCase() }}","color":"#69BF6C","title":"🚨 O seguinte evento foi atualizado no Zabbix e na tabela"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[304,496],"id":"847b2b3d-ac37-4a04-8ecf-9881f819a3e8","name":"Discord: Notifica reconhecimento de evento","webhookId":"eeed722b-607e-4597-8511-e54a55e53154","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}},{"parameters":{"chatId":"-1003134293207","text":"=EVENTO RECONHECIDO NO ZABBIX\n\n🖥️ **Host:** {{ $('Normaliza os dados').item.json.nomeCompletoHost }}\n📛 **Nome do alerta:** {{ $('Normaliza os dados').item.json.nomeEvento }}\n🕒 **Data e hora do evento:** {{ $('Normaliza os dados').item.json.dataHoraQuedaFormatada }}\n🕒 **Data e hora da atualização:** {{ DateTime.now().format('dd/MM/yyyy HH:mm:ss')}}\n🎟️ **Ticket Movidesk:** {{ $('Supabase: Recupera correspondência do grupo').item.json.ticket_movidesk }}\n**Operadora:** {{ $('Supabase: Recupera correspondência do grupo').item.json.operadora.toSentenceCase() }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[528,496],"id":"b529789f-9bb3-4d15-a68c-84e843ab6d7b","name":"Telegram: Notifica reconhecimento de evento","webhookId":"69430f89-0bb1-47a4-87c1-bd6679c3bac9","credentials":{"telegramApi":{"id":"2Bf07kZjNNq9Pv7T","name":"Telegram account"}}},{"parameters":{"operation":"getAll","tableId":"base","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"id_evento","condition":"eq","keyValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2592,1936],"id":"8448271c-5c5c-4435-bd69-b8e2b500b1ae","name":"Supabase: Recupera correspondências","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ee4631ab-499c-4581-a453-627afaa9b1bb","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2368,1936],"id":"69ac22b3-2c4b-4c1d-ac17-6f0625f4d829","name":"Existe correspondências?"},{"parameters":{"operation":"update","tableId":"base","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Supabase: Recupera correspondências').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_chamado","fieldValue":"3"},{"fieldId":"id_evento_recuperacao","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da recuperação'] }}"},{"fieldId":"timestampRecuperacao","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da recuperação'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1920,1936],"id":"4b19189d-ec92-48d5-bd4e-ecba46504263","name":"Supabase: Atualiza evento de recuperação","retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**Evento:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**Data e hora da queda:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n**Data e hora da recuperação:** {{ $('Normaliza os dados').item.json['data e hora da recuperação'] }}\n**Tempo indisponível:** {{ $('Normaliza os dados').item.json['tempo que permaneceu o alerta'] / 60 }} minutos\n**Ticket Movidesk:** {{ $json.ticket_movidesk }}\n**Operadora:** {{ $json.operadora.toUpperCase() }}","color":"#69BF6C","title":"=EVENTO RESTABELECIDO"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-1696,1936],"id":"3e75e47a-a149-4511-93e1-8ee7871c187d","name":"Discord: Notifica sobre recuperação","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"rn6H9u9BbR5a2R1n","name":"Canal: Monitorando-encerramento"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status_chamado }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"4e117ddb-6789-443e-97c9-dcd97a866939"}],"combinator":"and"},"renameOutput":true,"outputKey":"SEM TICKET MOVIDESK"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"db26aa3f-6041-40a1-ad65-6c91db02f9fb","leftValue":"={{ $json.status_chamado }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ATUALIZA STATUS_CHAMADO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-2144,1840],"id":"a08d58ed-18a2-4b21-82cd-d94fe4a94c0d","name":"Rotas statusChamado"},{"parameters":{"operation":"update","tableId":"base","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Supabase: Recupera correspondências').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_chamado","fieldValue":"4"},{"fieldId":"id_evento_recuperacao","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da recuperação'] }}"},{"fieldId":"timestampRecuperacao","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da recuperação'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1920,1744],"id":"98c3df8c-177e-4f01-ba74-2d97bc6ef507","name":"Supabase: Atualiza evento de recuperação1","retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**Evento:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**Data e hora da queda:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n**Data e hora da recuperação:** {{ $('Normaliza os dados').item.json['data e hora da recuperação'] }}\n**Tempo indisponível:** {{ $('Normaliza os dados').item.json['tempo que permaneceu o alerta'] / 60 }} minutos\n**Ticket Movidesk:** {{ $json.ticket_movidesk }}\n**Operadora:** {{ $json.operadora.toUpperCase() }}","color":"#69BF6C","title":"=EVENTO RESTABELECIDO SEM TICKET"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-1696,1744],"id":"f4397381-d4b9-4ee5-95a6-a86279285357","name":"Discord: Notifica sobre recuperação1","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"rn6H9u9BbR5a2R1n","name":"Canal: Monitorando-encerramento"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2144,2032],"id":"64e35b8f-b820-47cc-a57e-21c86da146c6","name":"No Ops"},{"parameters":{"jsCode":"// Função para encontrar a operadora baseada na porta\nfunction encontrarOperadora() {\n    const nomeHostCompleto = $('Normaliza os dados').first().json['nome completo do host'].toUpperCase();\n    const nomeEvento = $('Normaliza os dados').first().json['evento gerador'].toUpperCase();\n    const arrayBlocoLinks = $('Normaliza os dados').first().json['informações do link'];\n\n    // Verifica se o arrayBlocoLinks existe e tem elementos\n    if (!arrayBlocoLinks || !Array.isArray(arrayBlocoLinks) || arrayBlocoLinks.length === 0) {\n        return null;\n    }\n\n    let resultado = null;\n\n    // Percorre o arrayBlocoLinks em busca dos elementos \"porta\"\n    for (const bloco of arrayBlocoLinks) {\n        const porta = bloco.porta;\n        const operadora = bloco.operadora;\n        const unidade = bloco.unidade;\n        const endereco = bloco.endereco;\n        const cnpj = bloco.cnpj;\n        const designacao_circuito = bloco.designacao_circuito;\n        const geop = bloco.geop;\n\n        // Verifica se a porta foi encontrada em nomeHostCompleto ou nomeEvento\n        if (porta && \n            (nomeHostCompleto.includes(porta) || nomeEvento.includes(porta))) {\n            resultado = {\n                porta: porta,\n                operadora: operadora,\n                unidade: unidade,\n                endereco: endereco,\n                cnpj: cnpj,\n                designacao_circuito: designacao_circuito,\n                geop: geop\n            };\n            break; // Para no primeiro match encontrado\n        }\n    }\n\n    return resultado;\n}\n\n\n\n// Para obter apenas a primeira operadora encontrada:\nconst operadora = encontrarOperadora();\n\nreturn [{operadora}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,1088],"id":"81770fd0-ed1a-486f-b6a8-7def1fbeeabc","name":"Trabalha com as Informações do link2"},{"parameters":{"operation":"getAll","tableId":"operadoras","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"operadora","condition":"eq","keyValue":"={{ $json.operadora.operadora.toLowerCase() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1296,1088],"id":"f3cafeec-3e49-4529-ab3f-f5a97f493579","name":"Supabase: Recupera dados da operadora2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const evento = $input.first().json['evento gerador'];\nconst tags = $input.first().json.tags;\n\nlet existeEvento = false;\n\n// Caso especial\nif (evento === \"Alta perda de pacotes em 10min\") {\n  return [{ existeEvento }];\n}\n\n// Verifica aplicacao=link\nconst temAplicacaoLink = tags.some(t =>\n  t.tag.toLowerCase() === \"aplicacao\" &&\n  t.value.toLowerCase() === \"link\"\n);\n\n// Verifica noc\nconst tagNoc = tags.find(t => t.tag.toLowerCase() === \"noc\");\nconst temNoc = !!tagNoc;\nconst valorNoc = tagNoc ? tagNoc.value : null;\n\n// ===============================\n//      APLICAÇÃO DAS REGRAS\n// ===============================\n\n// ❌ Se noc existir e for \"0\" → sempre inválido\nif (temNoc && valorNoc === \"0\") {\n  existeEvento = false;\n}\n\n// ✔ Se noc existir e for diferente de 0 → só válido SE aplicacao=link\nelse if (temNoc && valorNoc !== \"0\") {\n  existeEvento = temAplicacaoLink;\n}\n\n// ✔ Se NÃO existir noc, mas aplicacao=link → válido\nelse if (!temNoc && temAplicacaoLink) {\n  existeEvento = true;\n}\n\n// ❌ Demais casos → inválido\nelse {\n  existeEvento = false;\n}\n\nreturn [{\n  existeEvento,\n  temAplicacaoLink,\n  temNoc,\n  valorNoc\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3488,1680],"id":"fccb9db8-1913-4fcb-ac6b-ef90ec5f5d22","name":"Avalia se existe tags corretas e se o evento é correto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6688ae3f-8c58-4d0a-a9f5-e260f6684af1","leftValue":"={{ $json.existeEvento }}","rightValue":"Alta perda de pacotes em 10min","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"86faec49-ae33-42c9-b473-a6cc785575c9","leftValue":"={{ $json.valorNoc }}","rightValue":"1","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3264,1680],"id":"b335ef1d-87a8-455f-b725-d501f4faeac7","name":"Existe evento?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3040,1776],"id":"71861e77-0d08-4b39-8801-aa6c3397abf0","name":"No Ops1"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"r_eventid\"],\n    \"selectHosts\": [\"hostid\", \"name\"],\n    \"groupids\": \"{{ $('Verifica o grupo do host').item.json.dados_grupo.groupid }}\",\n    \"selectRelatedObject\": [\"description\", \"value\"],\n    \"selectAcknowledges\": [\"clock\", \"message\", \"action\", \"username\"],\n    \"time_from\": \"{{ $('Normaliza os dados').item.json['timestamp da queda'] - 60*30 }}\",\n    \"time_till\": \"{{ $('Normaliza os dados').item.json['timestamp da queda'] + 60*30 }}\",\n    \"sortfield\": [\"clock\", \"eventid\"],\n    \"sortorder\": \"DESC\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,2208],"id":"fb80976f-be26-4219-8ae7-04716aa6c3b8","name":"Zabbix: Consulta de eventos do grupo","retryOnFail":true,"disabled":true},{"parameters":{"jsCode":"const resultados = $input.first().json.result;\n\nlet eventosAtivos = Array();\nfor (const evento of resultados) {\n  const r = parseInt(evento.r_eventid);\n  const v = parseInt(evento.relatedObject.value)\n  if (r >= 1 && v === 1) {\n    eventosAtivos.push({\n      eventid: evento.eventid,\n      idRecuperacao: evento.r_eventid,\n      timestamp: evento.clock,\n      hostName: evento.hosts[0].name,\n      evento: evento.relatedObject.description,\n      status: evento.relatedObject.value\n    })\n  }\n}\n\nreturn [{eventosAtivos}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,2208],"id":"90688a3d-8c8a-4eee-98f1-887f8a75debc","name":"Separa eventos ativos do host","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6e96db70-9f9c-4aa2-9883-e0a3935066b8","leftValue":"={{ $json.eventosAtivos }}","rightValue":1,"operator":{"type":"array","operation":"lengthGte","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1168,2208],"id":"35552f00-0759-4b6b-af75-a13cb63a1a7a","name":"Tem 2 ou mais itens no array?","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a7f8777-5b32-476d-91e8-c3a801ffe757","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[496,2208],"id":"5e6183a2-99d3-4407-aea3-d70d00d0cfb6","name":"Existe operadora?","disabled":true},{"parameters":{"jsCode":"// Função para encontrar a operadora baseada na porta\nfunction encontrarOperadora() {\n    const nomeHostCompleto = $('Normaliza os dados').first().json['nome completo do host'].toUpperCase();\n    const nomeEvento = $('Normaliza os dados').first().json['evento gerador'].toUpperCase();\n    const arrayBlocoLinks = $('Normaliza os dados').first().json['informações do link'];\n\n    // Verifica se o arrayBlocoLinks existe e tem elementos\n    if (!arrayBlocoLinks || !Array.isArray(arrayBlocoLinks) || arrayBlocoLinks.length === 0) {\n        return null;\n    }\n\n    let resultado = null;\n\n    // Percorre o arrayBlocoLinks em busca dos elementos \"porta\"\n    for (const bloco of arrayBlocoLinks) {\n        const porta = bloco.porta;\n        const operadora = bloco.operadora;\n        const unidade = bloco.unidade;\n        const endereco = bloco.endereco;\n        const cnpj = bloco.cnpj;\n        const designacao_circuito = bloco.designacao_circuito;\n        const geop = bloco.geop;\n\n        // Verifica se a porta foi encontrada em nomeHostCompleto ou nomeEvento\n        if (porta && \n            (nomeHostCompleto.includes(porta) || nomeEvento.includes(porta))) {\n            resultado = {\n                porta: porta,\n                operadora: operadora,\n                unidade: unidade,\n                endereco: endereco,\n                cnpj: cnpj,\n                designacao_circuito: designacao_circuito,\n                geop: geop\n            };\n            break; // Para no primeiro match encontrado\n        }\n    }\n\n    return resultado;\n}\n\n\n\n// Para obter apenas a primeira operadora encontrada:\nconst operadora = encontrarOperadora();\n\nreturn [{operadora}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,2208],"id":"cb13e251-d88c-49e6-bf92-17ca5978adc8","name":"Trabalha com as Informações do link","disabled":true},{"parameters":{"operation":"getAll","tableId":"operadoras","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"operadora","condition":"eq","keyValue":"={{ $json.operadora.operadora.toLowerCase() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[272,2208],"id":"78e368ab-9a59-41b8-ba00-42979bf7cfc3","name":"Supabase: Recupera dados da operadora","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"tableId":"base","fieldsUi":{"fieldValues":[{"fieldId":"id_host","fieldValue":"={{ $('Normaliza os dados').item.json['id do host'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da queda'] }}"},{"fieldId":"id_cliente_variaveis","fieldValue":"={{ $('Normaliza os dados').item.json['id do tipo de cliente no banco de dados'] }}"},{"fieldId":"status_chamado","fieldValue":"1"},{"fieldId":"id_evento","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"evento_raiz","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"groupId","fieldValue":"={{ $('Verifica o grupo do host').item.json.dados_grupo.groupid }}"},{"fieldId":"hostLimpo","fieldValue":"={{ $('Normaliza os dados').item.json['nome simplificado do host'] }}"},{"fieldId":"eventsRelacionados","fieldValue":"={{ [$('Normaliza os dados').item.json['id do evento']] }}"},{"fieldId":"operadora","fieldValue":"={{ $json.operadora || null }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[848,1408],"id":"80ac15d9-4d93-4006-95e7-298e00cae0b2","name":"Supabase: Nova linha do chamado2","retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=\n**Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**Evento:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**Data e hora do evento:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n\n**Ticket Movidesk:** Não foi aberto\n**Linha no BD:** {{ $json.id }}","color":"#69BF6C","title":"=NOVO EVENTO ALL4LABELS","thumbnail":"https://imagepng.org/wp-content/uploads/2018/08/alerta.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1072,1408],"id":"32380068-3adb-4beb-bd3c-abcc01bb50aa","name":"Discord: Notifica reconhecimento","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}}],"connections":{"Main":{"main":[[{"node":"Avalia se existe tags corretas e se o evento é correto","type":"main","index":0}]]},"Valida se existe ticket e direciona":{"main":[[{"node":"Rota ticket","type":"main","index":0}]]},"Existe registro?":{"main":[[{"node":"Ajusta número ticket e mensagem reconhecimento","type":"main","index":0}],[{"node":"Supabase: Nova linha do chamado2","type":"main","index":0}]]},"Movidesk: Informa atuação para 1 evento":{"main":[[{"node":"Supabase: Nova linha do chamado","type":"main","index":0}]]},"Normaliza os dados":{"main":[[{"node":"Rota statusChamado","type":"main","index":0}]]},"Rota statusChamado":{"main":[[{"node":"Zabbix: Consulta grupo do host","type":"main","index":0}],[{"node":"Supabase: Recupera correspondências","type":"main","index":0}]]},"Zabbix: Consulta grupo do host":{"main":[[{"node":"Verifica o grupo do host","type":"main","index":0}]]},"Verifica o grupo do host":{"main":[[{"node":"Supabase: Recupera correspondência do grupo","type":"main","index":0}]]},"Supabase: Recupera correspondência do grupo":{"main":[[{"node":"Valida se existe ticket e direciona","type":"main","index":0}]]},"Zabbix: Recupera eventos anteriores":{"main":[[{"node":"Valida action igual a 6","type":"main","index":0}]]},"Valida action igual a 6":{"main":[[{"node":"Existe registro?","type":"main","index":0}]]},"Rota ticket":{"main":[[],[{"node":"Verifica igualdade de hosts","type":"main","index":0}],[{"node":"Zabbix: Recupera eventos anteriores","type":"main","index":0}]]},"Prepara dados para abertura de ticket":{"main":[[{"node":"Movidesk: Informa atuação para 1 evento","type":"main","index":0}]]},"Prepara dados para abertura de ticket1":{"main":[[{"node":"Movidesk: Informa atuação para 1 evento","type":"main","index":0}]]},"Supabase: Nova linha do chamado":{"main":[[{"node":"Criou a linha na tabela?","type":"main","index":0}]]},"Criou a linha na tabela?":{"main":[[{"node":"Ajusta os dados para comunicação nas mídas","type":"main","index":0}],[{"node":"Notifica erro no Discord","type":"main","index":0}]]},"Ajusta os dados para comunicação nas mídas":{"main":[[{"node":"Telegram: Notifica abertura de chamado","type":"main","index":0},{"node":"Discord: Notifica abertura de chamado","type":"main","index":0}]]},"Discord: Notifica abertura de chamado":{"main":[[{"node":"Houve notificação para equipe?","type":"main","index":0}]]},"Houve notificação para equipe?":{"main":[[{"node":"Prepara dados para reconhecimento do alerta","type":"main","index":0}],[{"node":"Notifica erro no Discord","type":"main","index":0}]]},"Prepara dados para reconhecimento do alerta":{"main":[[{"node":"Zabbix: Reconhece o alerta","type":"main","index":0}]]},"Ajusta número ticket e mensagem reconhecimento":{"main":[[{"node":"Trabalha com as Informações do link2","type":"main","index":0}]]},"Supabase: Nova linha do chamado1":{"main":[[{"node":"Ticket Movidesk igual a 0?","type":"main","index":0}]]},"Ticket Movidesk igual a 0?":{"main":[[{"node":"Prepara dados para reconhecimento1","type":"main","index":0}],[{"node":"Prepara dados para reconhecimento","type":"main","index":0}]]},"Prepara dados para reconhecimento":{"main":[[{"node":"Zabbix: Reconhece evento1","type":"main","index":0}]]},"Prepara dados para reconhecimento1":{"main":[[{"node":"Zabbix: Reconhece evento","type":"main","index":0}]]},"Zabbix: Reconhece evento":{"main":[[{"node":"Discord: Notifica reconhecimento2","type":"main","index":0}]]},"Zabbix: Reconhece evento1":{"main":[[{"node":"Discord: Notifica reconhecimento3","type":"main","index":0}]]},"Verifica igualdade de hosts":{"main":[[{"node":"Hosts são iguais?","type":"main","index":0}]]},"Hosts são iguais?":{"main":[[{"node":"Supabase: Atualiza qnd_quedas","type":"main","index":0}],[{"node":"Prepara push de eventos dentro do tempo","type":"main","index":0}]]},"Ticket Movidesk é 0?":{"main":[[{"node":"Zabbix: Recupera dados do evento","type":"main","index":0}],[{"node":"Prepara dados para reconhecimento3","type":"main","index":0}]]},"Zabbix: Recupera dados do evento":{"main":[[{"node":"Separa os alertas com reconhecimento 6","type":"main","index":0}]]},"Separa os alertas com reconhecimento 6":{"main":[[{"node":"Prepara dados para reconhecimento2","type":"main","index":0}]]},"Prepara dados para reconhecimento2":{"main":[[{"node":"Zabbix: Reconhece o evento","type":"main","index":0}]]},"Prepara dados para reconhecimento3":{"main":[[{"node":"Zabbix: Reconhece o evento","type":"main","index":0}]]},"Supabase: Atualiza qnd_quedas":{"main":[[{"node":"Ticket Movidesk é 0?","type":"main","index":0}]]},"Prepara push de eventos dentro do tempo":{"main":[[{"node":"Dentro de 30 minutos?","type":"main","index":0}]]},"Dentro de 30 minutos?":{"main":[[{"node":"Supabase: Atualiza evento existente","type":"main","index":0}],[{"node":"Zabbix: Recupera eventos anteriores","type":"main","index":0}]]},"Supabase: Atualiza evento existente":{"main":[[{"node":"Prepara dados para atualização Movidesk","type":"main","index":0},{"node":"Prepara dados para reconhecimento4","type":"main","index":0}]]},"Movidesk: Atualiza ticket":{"main":[[{"node":"Discord: Notifica reconhecimento de evento","type":"main","index":0}]]},"Prepara dados para reconhecimento4":{"main":[[{"node":"Zabbix: Reconhece evento2","type":"main","index":0}]]},"Zabbix: Reconhece evento2":{"main":[[{"node":"Discord: Notifica reconhecimento de evento","type":"main","index":0}]]},"Prepara dados para atualização Movidesk":{"main":[[{"node":"Movidesk: Atualiza ticket","type":"main","index":0}]]},"Discord: Notifica reconhecimento de evento":{"main":[[{"node":"Telegram: Notifica reconhecimento de evento","type":"main","index":0}]]},"Supabase: Recupera correspondências":{"main":[[{"node":"Existe correspondências?","type":"main","index":0}]]},"Existe correspondências?":{"main":[[{"node":"Rotas statusChamado","type":"main","index":0}],[{"node":"No Ops","type":"main","index":0}]]},"Supabase: Atualiza evento de recuperação":{"main":[[{"node":"Discord: Notifica sobre recuperação","type":"main","index":0}]]},"Rotas statusChamado":{"main":[[{"node":"Supabase: Atualiza evento de recuperação1","type":"main","index":0}],[{"node":"Supabase: Atualiza evento de recuperação","type":"main","index":0}]]},"Supabase: Atualiza evento de recuperação1":{"main":[[{"node":"Discord: Notifica sobre recuperação1","type":"main","index":0}]]},"Trabalha com as Informações do link2":{"main":[[{"node":"Supabase: Recupera dados da operadora2","type":"main","index":0}]]},"Supabase: Recupera dados da operadora2":{"main":[[{"node":"Supabase: Nova linha do chamado1","type":"main","index":0}]]},"Avalia se existe tags corretas e se o evento é correto":{"main":[[{"node":"Existe evento?","type":"main","index":0}]]},"Existe evento?":{"main":[[{"node":"Normaliza os dados","type":"main","index":0}],[{"node":"No Ops1","type":"main","index":0}]]},"Zabbix: Consulta de eventos do grupo":{"main":[[{"node":"Separa eventos ativos do host","type":"main","index":0}]]},"Separa eventos ativos do host":{"main":[[{"node":"Tem 2 ou mais itens no array?","type":"main","index":0}]]},"Tem 2 ou mais itens no array?":{"main":[[],[{"node":"Prepara dados para abertura de ticket","type":"main","index":0}]]},"Existe operadora?":{"main":[[{"node":"Zabbix: Consulta de eventos do grupo","type":"main","index":0}]]},"Trabalha com as Informações do link":{"main":[[{"node":"Supabase: Recupera dados da operadora","type":"main","index":0}]]},"Supabase: Recupera dados da operadora":{"main":[[{"node":"Existe operadora?","type":"main","index":0}]]},"Supabase: Nova linha do chamado2":{"main":[[{"node":"Discord: Notifica reconhecimento","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2025-11-05T16:31:43.287Z","createdAt":"2025-11-05T16:31:43.287Z","id":"JcnJcC8kUspunBU7","name":"clientes_contrato"},{"updatedAt":"2025-10-24T18:08:27.659Z","createdAt":"2025-10-24T18:08:27.659Z","id":"oUDNU2rUDi9xwp5Q","name":"FluxoNOC_principal"}]}