01.02.-contratos-1-kP7uBGfahihXM83d.json
{"updatedAt":"2025-12-03T12:10:26.000Z","createdAt":"2025-11-05T16:15:24.032Z","id":"kP7uBGfahihXM83d","name":"01.02. contratos 1","active":true,"isArchived":true,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"Main","type":"n8n-nodes-base.executeWorkflowTrigger","position":[624,1200]},{"parameters":{"jsCode":"const idEventoTabela = $input.first().json.id;\nconst ticketMovideskTabela = $input.first().json.ticket_movidesk;\n\nif ((idEventoTabela && ticketMovideskTabela) || (idEventoTabela && ticketMovideskTabela == 0) ) {\n  return { \n    \"rota\": 1,\n    \"descricao\": \"Com evento e ticket na tabela\",\n  }\n} else if (idEventoTabela && !ticketMovideskTabela) {\n  return {\n    \"rota\": 2,\n    \"descricao\": \"Com evento na tabela, mas sem ticket\"\n  }\n} else if (!idEventoTabela && !ticketMovideskTabela) {\n  return {\n    \"rota\": 3,\n    \"descricao\": \"Sem evento na tabela\"\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2416,800],"id":"13c8d662-62d9-46e0-81d9-ca4ebcb57c35","name":"Valida se existe ticket e direciona"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb6eff08-3023-4783-bfaf-1cacf44c64ab","leftValue":"={{ $json.acksFiltrados.status }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4640,816],"id":"d85bbfed-ee46-4218-a0c4-a539e83ccd3d","name":"Existe registro?"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Houve uma falha na comunicação do alerta para a equipe de monitoramento. Favor verificar!\n\n🖥️ **Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n⚠️ **Evento:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n\n🎫 **Ticket Movidesk:** {{ $('Supabase: Nova linha do chamado').item.json.ticket_movidesk }}\n**Operadora(contato):** {{ $('Supabase: Recupera dados da operadora').item.json.operadora }} ({{ $('Supabase: Recupera dados da operadora').item.json.contato }})\n\n🕒 **Data e hora do evento:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n📄 **Linha no BD:** {{ $('Supabase: Nova linha do chamado').item.json.id }}","color":"#FD2A2A","title":"🚨 A equipe não foi notificada desse alerta"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[7904,1056],"id":"e8c1932a-2712-451c-b281-3196c00a23b5","name":"Notifica erro no Discord","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"pD90IU7lYfcf9FwM","name":"Canal: administrativo"}},"disabled":true},{"parameters":{"method":"POST","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6560,944],"id":"a4342375-2459-4679-875e-37eed4734324","name":"Movidesk: Informa atuação para 1 evento","retryOnFail":true,"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"23f946c2-c95e-4612-b601-fe7ee83a33b7","name":"id do evento","value":"={{ $('Main').item.json['id do evento'] }}","type":"number"},{"id":"a56988aa-ac7d-44d9-b645-e04baf067379","name":"id do host","value":"={{ $('Main').item.json['id do host'] }}","type":"number"},{"id":"ba109d7f-388b-46a0-b6fc-6d7282f89f37","name":"id do evento de recuperação","value":"={{ $('Main').item.json['id do evento de recuperação'] }}","type":"number"},{"id":"d9dd21f2-f239-4d9d-9c6e-9e6ff8a59cb4","name":"id do tipo de cliente no banco de dados","value":"={{ $('Main').item.json['id do tipo de cliente no banco de dados'] }}","type":"number"},{"id":"f5888cb4-993b-40fd-971f-455f92c4458c","name":"id do cliente na planilha","value":"={{ $('Main').item.json['id do cliente na planilha'] }}","type":"string"},{"id":"e0de4236-9f72-4d2a-92f9-9222184e860d","name":"id de abertura de chamado no movidesk","value":"={{ $('Main').item.json['id de abertura de chamado no movidesk'] }}","type":"string"},{"id":"df71d480-a5ff-4210-94d6-2c700e529b46","name":"nome completo do host","value":"={{ $('Main').item.json['nome completo do host'] }}","type":"string"},{"id":"8d032575-4325-4b90-acd0-2affe04b2c82","name":"nome simplificado do host","value":"={{ $('Main').item.json['nome simplificado do host'] }}","type":"string"},{"id":"a1c9d5cf-f0a8-42f8-b428-6ab97235127e","name":"evento gerador","value":"={{ $('Main').item.json['evento gerador'] }}","type":"string"},{"id":"10133640-fa2f-44c2-972d-657de70d66b8","name":"tipo de evento","value":"={{ $('Main').item.json['tipo de evento'] }}","type":"string"},{"id":"cbd57d58-d011-40d0-9a82-dc2438808c03","name":"timestamp da queda","value":"={{ $('Main').item.json['timestamp da queda'] }}","type":"number"},{"id":"a61f4225-e4b3-4921-8b54-b55237e91f49","name":"data e hora da queda","value":"={{ $('Main').item.json['data e hora da queda'] }}","type":"string"},{"id":"e1efe799-1928-4a1c-99ee-7794c4cb6640","name":"timestamp da recuperação","value":"={{ $('Main').item.json['timestamp da recuperação'] }}","type":"number"},{"id":"9a9d93bc-e71d-44e9-8009-c9a5029e2c40","name":"data e hora da recuperação","value":"={{ $('Main').item.json['data e hora da recuperação'] }}","type":"string"},{"id":"11300972-b277-4453-a650-2f542ad72733","name":"relação do cliente com a max","value":"={{ $('Main').item.json['relação do cliente com a max'] }}","type":"string"},{"id":"3f0ee708-49eb-46af-9662-afa6584e27e7","name":"e-mail destinatário","value":"={{ $('Main').item.json['e-mail destinatário'] }}","type":"string"},{"id":"f10e5c77-d15c-4de3-a7a0-a4d68fd5038a","name":"e-mail em cópia","value":"={{ $('Main').item.json['e-mail em cópia'] }}","type":"string"},{"id":"ae9b1c51-634d-4414-8d38-c532d84cb8f9","name":"timestamp para cálculo de redução de tempo","value":"={{ $('Main').item.json['timestamp para cálculo de redução de tempo'] }}","type":"number"},{"id":"b503dd25-9a50-400c-99ed-b75a915cde2a","name":"máximo rodadas no encerramento","value":"={{ $('Main').item.json['máximo rodadas no encerramento'] }}","type":"number"},{"id":"f90667dc-7fd8-4a5f-a41b-fc91d8d9661b","name":"informações do link","value":"={{ $('Main').item.json['informações do link'] }}","type":"array"},{"id":"5c0082bc-7453-4b3e-b8fc-241e3b00d0e2","name":"tempo que permaneceu o alerta","value":"={{ $('Main').item.json['timestamp da recuperação'] - $('Main').item.json['timestamp da queda'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1296,1104],"id":"0d44a78b-db2d-4d11-bc11-4523095d5838","name":"Normaliza os dados"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['tipo de evento'] }}","rightValue":"Abertura Chamado","operator":{"type":"string","operation":"equals"},"id":"697db71d-3d9c-438b-abd7-b5581062d868"}],"combinator":"and"},"renameOutput":true,"outputKey":"ABERTURA_CHAMADO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7ddbfb2b-56d5-4a9c-ad06-438239315149","leftValue":"={{ $json['tipo de evento'] }}","rightValue":"=Encerramento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ENCERRAMENTO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1520,1104],"id":"637ad73c-fd02-487c-a75a-8167e0a62801","name":"Rota statusChamado"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"host.get\",\n  \"params\": {\n    \"output\": [\"hostid\", \"name\"],\n    \"selectGroups\": [\"groupid\", \"name\"],\n    \"hostids\": \"{{ $json['id do host'] }}\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 2\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1744,800],"id":"6c125e16-2f68-4cf4-b248-db7624dd6411","name":"Zabbix: Consulta grupo do host","retryOnFail":true},{"parameters":{"jsCode":"const nomeSimplificadoHost = $('Normaliza os dados').first().json['nome simplificado do host'];\nconst groups = $input.first().json.result[0].groups;\n\n// Função de limpeza e tokenização\nfunction tokenize(text) {\n  if (typeof text !== 'string') return [];\n  \n  return text\n    .normalize('NFD')                   // separa acentos\n    .replace(/[\\u0300-\\u036f]/g, '')    // remove acentos\n    .toUpperCase()\n    .replace(/[^\\p{L}\\p{N}\\s-]+/gu, ' ') // remove símbolos e pontuação\n    .split(/[\\s-]+/)                    // separa por espaços e hífens\n    .filter(Boolean);                   // remove vazios\n}\n\n// Quebra o nome do host\nconst hostWords = tokenize(nomeSimplificadoHost);\nconst hostSet = new Set(hostWords);\n\nlet bestMatch = null;\nlet bestScore = 0;\n\nfor (const group of groups) {\n  const groupWords = tokenize(group.name);\n  let matches = 0;\n\n  // Conta quantas palavras do grupo estão no host\n  for (const word of groupWords) {\n    if (hostSet.has(word)) matches++;\n  }\n\n  // Atualiza o melhor grupo se houver pelo menos 2 palavras em comum\n  if (matches >= 2 && matches > bestScore) {\n    bestScore = matches;\n    bestMatch = group;\n  }\n}\n\n// Retorno formatado\nif (bestMatch) {\n  return [\n    {\n      json: {\n        dados_grupo: {\n          groupid: parseInt(bestMatch.groupid),\n          groupname: bestMatch.name,\n          score: bestScore\n        }\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: {\n        dados_grupo: {\n          message: \"Nenhum grupo correspondente\"\n        }\n      }\n    }\n  ];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1968,800],"id":"0dacf0cc-1af3-48ca-9126-23470e9bc0b2","name":"Verifica o grupo do host"},{"parameters":{"operation":"getAll","tableId":"base","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"timestamp_queda","condition":"gte","keyValue":"={{ $('Normaliza os dados').item.json['timestamp para cálculo de redução de tempo'] }}"},{"keyName":"groupId","condition":"eq","keyValue":"={{ $json.dados_grupo.groupid }}"},{"keyName":"status_chamado","condition":"lt","keyValue":"4"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2192,800],"id":"fb4b87f3-519a-42a4-9a08-3daa4772c824","name":"Supabase: Recupera correspondência do grupo","alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"name\", \"value\", \"host\", \"hostid\"],\n    \"select_acknowledges\": [\n      \"acknowledgeid\",\n      \"userid\",\n      \"eventid\",\n      \"clock\",\n      \"message\",\n      \"action\",\n      \"username\"\n    ],\n    \"time_from\": \"{{ $('Normaliza os dados').item.json['timestamp para cálculo de redução de tempo'] }}\",\n    \"selectHosts\": [\"hostid\", \"host\"],\n    \"hostids\": \"{{ $('Normaliza os dados').item.json['id do host'] }}\",\n    \"sortfield\": \"clock\",\n    \"sortorder\": \"DESC\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4192,816],"id":"a8e78022-e6ac-4617-b306-c49d5d316371","name":"Zabbix: Recupera eventos anteriores","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false},{"parameters":{"jsCode":"// Filtra apenas eventos com algum acknowledge de action == \"6\"\nconst eventos = $input.first().json.result;\n\n// Filtra apenas eventos que têm pelo menos um ack com action == \"6\"\nconst filtrados = eventos\n  .filter(ev => ev.acknowledges?.some(ack => ack.action == 6))\n  .map(ev => {\n    // Dentro de cada evento, pega só os acks com action == 6\n    const acks6 = (ev.acknowledges || []).filter(ack => ack.action == 6);\n\n    // Ordena por acknowledgeid (numérico) e pega o maior\n    const ackMaior = [...acks6].sort((a, b) => Number(b.acknowledgeid) - Number(a.acknowledgeid))[0];\n\n    // Retorna o evento com destaque para o acknowledge mais recente\n    return {\n      json: {\n        eventid: ev.eventid,\n        clock: ev.clock,\n        hostid: ev.hosts?.[0]?.hostid,\n        host: ev.hosts?.[0]?.host,\n        value: ev.value,\n        // acknowledge de maior id\n        acknowledge_mais_recente: {\n          acknowledgeid: ackMaior.acknowledgeid,\n          clock: ackMaior.clock,\n          \"timestampAck_formatado\": DateTime.fromSeconds(parseInt(ackMaior.clock))\n            .setZone('America/Sao_Paulo')\n            .toFormat('dd/MM/yyyy HH:mm:ss'),\n          message: ackMaior.message,\n          action: ackMaior.action,\n          username: ackMaior.username,\n          userid: ackMaior.userid\n        }\n      }\n    };\n  });\n\n// Retorna cada evento filtrado como item independente\nif (filtrados.length === 0) {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": false\n      }\n    }\n  }\n} else {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": true\n      }\n    }\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4416,816],"id":"2496495e-12c4-4e2e-bef3-8f70a136dc79","name":"Valida action igual a 6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e984daf-3226-4cf3-8086-b35c0eac89d6","leftValue":"={{ $json.rota }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"TABELA SEM TICKET"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3ddd3948-0146-41cc-a2b8-e36638ae6dce","leftValue":"={{ $json.rota }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"TICKET TABELA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.rota }}","rightValue":3,"operator":{"type":"number","operation":"equals"},"id":"e249c04c-23de-49d6-aaa3-5ced4d533d3d"}],"combinator":"and"},"renameOutput":true,"outputKey":"CONSULTA ZABBIX"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[2640,784],"id":"bd81c33c-f8c0-40f0-b74b-62122af1b5c8","name":"Rota ticket"},{"parameters":{"jsCode":"const nomeHostCompleto = $('Normaliza os dados').first().json['nome completo do host'];\nconst nomeHostSimplificado = $('Normaliza os dados').first().json['nome simplificado do host'];\nconst eventoGerador = $('Normaliza os dados').first().json['evento gerador'];\nconst timestampQueda = $('Normaliza os dados').first().json['timestamp da queda'];\nconst dataHoraQuedaFormatada = $('Normaliza os dados').first().json['data e hora da queda'];\nconst operadora = $('Trabalha com as Informações do link').first().json.operadora.operadora;\nconst porta = $('Trabalha com as Informações do link').first().json.operadora.porta;\nconst cnpj = $('Trabalha com as Informações do link').first().json.operadora.cnpj;\nconst endereco = $('Trabalha com as Informações do link').first().json.operadora.endereco;\nconst geop = $('Trabalha com as Informações do link').first().json.operadora.geop;\nconst designacaoCircuito = $('Trabalha com as Informações do link').first().json.operadora.designacao_circuito;\nconst contatoOperadora = $('Supabase: Recupera dados da operadora').first().json.contato;\nconst whatsappOperadora = $('Supabase: Recupera dados da operadora').first().json.whatsapp;\nconst horaComercial = $('Supabase: Recupera dados da operadora').first().json.foraComercial;\nconst idMovideskCliente = $('Normaliza os dados').first().json['id de abertura de chamado no movidesk'];\nconst emCopiaParaVariavel = $('Normaliza os dados').first().json['e-mail em cópia'];\n\n\nlet atendeForaComercial = \"\"\nconst linkOperadora = `${operadora} - ${porta}`;\nconst contatoFormatado = `Ligação: ${contatoOperadora} | Whatsapp: ${whatsappOperadora == null ? \"Não informado\" : whatsappOperadora}`;\nconst designadorCircuitoFormatado = designacaoCircuito == \"NAN\" ? \"Não informado na planilha ou inexistente\" : designacaoCircuito;\n\n\nconst cliente = \"1836303904\"; // idMovideskCliente;\nconst emCopiaPara = \"\"; // emCopiaParaVariavel \n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting(timestamp) {\n  // Converte timestamp (segundos) em objeto Date\n  const date = new Date(timestamp * 1000);\n\n  // Obtém hora local (fuso horário do servidor)\n  const hour = new Date(date.toLocaleString(\"en-US\", { timeZone: \"America/Sao_Paulo\" })).getHours();\n\n  let greeting;\n\n  // Define o turno conforme o horário\n  if (hour >= 18 || hour < 5) {\n    greeting = \"Boa noite\";\n  } else if (hour >= 5 && hour < 12) {\n    greeting = \"Bom dia\";\n  } else {\n    greeting = \"Boa tarde\";\n  }\n\n  return greeting;\n}\n\nconst greeting = getGreeting(timestampQueda)\n\n\nif (horaComercial == null) {\n  atendeForaComercial = \"Não informado\"\n} else if (horaComercial == false) {\n  atendeForaComercial = \"Não\"\n} else {\n  atendeForaComercial = \"Sim\"\n}\n\n\nconst htmlInterno = `\n<h4 style=\"padding: 10px;\"><strong>Informações para abertura de chamado</strong></h4>\n<div style=\"border: 1px solid black; padding: 10px; display: flex; flex-direction: column; justify-content: center; text-align: center; align-items:center; border-radius: 10px; color: black\">\n  <h2>${nomeHostCompleto}</h2>\n  <p><strong>Evento:</strong> ${eventoGerador}</p>\n  <p><strong>Data e hora da queda:</strong> ${dataHoraQuedaFormatada}</p>\n  <p><strong>Link e Operadora:</strong> ${linkOperadora}</p>\n  <p><strong>Designação/Circuito/ID:</strong> ${designadorCircuitoFormatado}</p>\n  <p><strong>Contato da operadora:</strong> ${contatoFormatado}</p>\n  <p><strong>CNPJ:</strong> ${cnpj}</p>\n  <p><strong>Endereço:</strong> ${endereco}</p>\n  <p><strong>GEOP:</strong> ${geop}</p>\n  <p><strong>Operadora atende fora do horário comercial:</strong> ${atendeForaComercial}</p>\n</div>\n`;\n\nconst htmlCliente = `\n<p> ${greeting} </p>\n<p style=\"padding: 10px;\"> O seguinte alerta está sendo tratado por um de nossos analistas. Em breve as informações de abertura do chamado serão encaminhadas. </p>\n<div style=\"display: flex; flex-direction: column; gap: 3px; justify-content: center; text-align: center; align-items: center; border: 1px solid black; border-radius: 10px; padding: 10px; color: black;\">\n  <h2>${nomeHostCompleto}</h2>\n  <p><strong>Evento:</strong> ${eventoGerador}</p>\n  <p><strong>O evento iniciou em:</strong> ${dataHoraQuedaFormatada}</p>\n  <p><strong>Operadora:</strong> ${linkOperadora}</p>\n</div>\n<div style=\"padding: 10px;\">\n  <p> Atenciosamente </p>\n  <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n</div>\n`;\n\nreturn {\n  json: {\n    type: 2,\n    subject: `REPARO - ${nomeHostSimplificado} - ${operadora}`,\n    category: \"01 - Atendimento Helpdesk\",\n    serviceFirstLevelId: 325878,\n    urgency: \"Média\",\n    ownerTeam: \"NOC\",\n    createdBy: { id: \"1458772347\" },\n    Clients: [{ id: cliente }],\n    cc: emCopiaPara,\n    actions: [\n      { type: 1, description: htmlInterno, createdBy: { id: \"1458772347\" } },\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" } }\n    ]\n  }\n};\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6336,848],"id":"e8fba30d-b587-4930-a53b-115bfbfd874d","name":"Prepara dados para abertura de ticket","disabled":true},{"parameters":{"jsCode":"const nomeHost = $('Normaliza os dados').first().json.nomeCompletoHost;\nconst nomeHostLimpo = $('Normaliza os dados').first().json.hostNomeLimpo\nconst evento = $('Normaliza os dados').first().json.nomeEvento;\nconst timestampQueda = $('Normaliza os dados').first().json.timestampQueda;\nconst dataQuedaFormatada = $('Normaliza os dados').first().json.dataHoraQuedaFormatada;\nconst operadora = $('Trabalha com as Informações do link').first().json.operadora.operadora;\nconst porta = $('Trabalha com as Informações do link').first().json.operadora.porta;\nconst unidade = $('Trabalha com as Informações do link').first().json.operadora.unidade;\nconst cnpj = $('Trabalha com as Informações do link').first().json.operadora.cnpj;\nconst endereco = $('Trabalha com as Informações do link').first().json.operadora.endereco;\nconst geop = $('Trabalha com as Informações do link').first().json.operadora.geop;\nconst designacaoCircuito = $('Trabalha com as Informações do link').first().json.operadora.designacao_circuito;\nconst idMovideskCliente = $('Normaliza os dados').first().json['id de abertura de chamado no movidesk'];\nconst emCopiaParaVariavel = $('Normaliza os dados').first().json['e-mail em cópia'];\n// const contatoOperadora = $input.first().json.contato;\n// const whatsappOperadora = $input.first().json.whatsapp;\n// const horaComercial = $input.first().json.foraComercial;\n\n\n// const atendeForaComercial = horaComercial == null ? \"Não informado\" : horaComercial;\nconst linkOperadora = `${operadora} - ${porta}`;\n// const contatoFormatado = `Ligação: ${contatoOperadora} | Whatsapp: ${whatsappOperadora === \"null\" ? \"Não informado\" : whatsappOperadora}`;\nconst dadosUnidade = unidade === \"NAN\" ? \"Não disponível\": unidade;\n\n\nconst cliente = \"1836303904\"; // idMovideskCliente;\nconst emCopiaPara = \"\"; // emCopiaParaVariavel \n\n\nconst htmlInterno = `\n<h4 style=\"padding: 10px;\"><strong>Informações para abertura de chamado</strong></h4>\n<div style=\"border: 1px solid black; padding: 10px; display: flex; flex-direction: column; justify-content: center; text-align: center; align-items:center; border-radius: 10px; color: black\">\n  <h2>${nomeHost}</h2>\n  <p><strong>Evento:</strong> ${evento}</p>\n  <p><strong>Data e hora da queda:</strong> ${dataQuedaFormatada}</p>\n  <p><strong>Link e Operadora:</strong> ${linkOperadora}</p>\n  <p><strong>Designação/Circuito/ID:</strong> ${designacaoCircuito}</p>\n  <p><strong>Contato da operadora:</strong> Dados da operadora não localizados</p>\n  <p><strong>CNPJ:</strong> ${cnpj}</p>\n  <p><strong>Endereço:</strong> ${endereco}</p>\n  <p><strong>GEOP:</strong> ${geop}</p>\n  <p><strong>Contato na unidade:</strong> ${dadosUnidade}</p>\n</div>\n`;\n\nconst htmlCliente = `\n<p style=\"padding: 10px;\"> O seguinte alerta está sendo tratado por um de nossos analistas. Em breve as informações de abertura do chamado serão encaminhadas. </p>\n<div style=\"display: flex; flex-direction: column; gap: 3px; justify-content: center; text-align: center; align-items: center; border: 1px solid black; border-radius: 10px; padding: 10px; color: black;\">\n  <h2>${nomeHost}</h2>\n  <p><strong>Evento:</strong> ${evento}</p>\n  <p><strong>O evento iniciou em:</strong> ${dataQuedaFormatada}</p>\n  <p><strong>Operadora:</strong> ${linkOperadora}</p>\n</div>\n<div style=\"padding: 10px;\">\n  <p> Equipe de monitoramento Maxprotection </p>\n</div>\n`;\n\nreturn {\n  json: {\n    type: 2,\n    subject: `REPARO - ${nomeHostLimpo} - ${operadora}`,\n    category: \"01 - Atendimento Helpdesk\",\n    serviceFirstLevelId: 325878,\n    urgency: \"Média\",\n    ownerTeam: \"NOC\",\n    createdBy: { id: \"1458772347\" },\n    Clients: [{ id: cliente }],\n    cc: emCopiaPara,\n    actions: [\n      { type: 1, description: htmlInterno, createdBy: { id: \"1458772347\" } },\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" } }\n    ]\n  }\n};\n\nreturn [{htmlInterno}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6336,1040],"id":"12208235-3ebd-4669-bb41-8c7302187980","name":"Prepara dados para abertura de ticket1","disabled":true},{"parameters":{"tableId":"base","fieldsUi":{"fieldValues":[{"fieldId":"id_host","fieldValue":"={{ $('Normaliza os dados').item.json['id do host'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}"},{"fieldId":"ticket_movidesk","fieldValue":"={{ $json.id }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da queda'] }}"},{"fieldId":"id_cliente_variaveis","fieldValue":"={{ $('Normaliza os dados').item.json['id do tipo de cliente no banco de dados'] }}"},{"fieldId":"status_chamado","fieldValue":"2"},{"fieldId":"id_evento","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"evento_raiz","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"groupId","fieldValue":"={{ $('Verifica o grupo do host').item.json.dados_grupo.groupid }}"},{"fieldId":"operadora","fieldValue":"={{ $('Supabase: Recupera dados da operadora').item.json.operadora }}"},{"fieldId":"hostLimpo","fieldValue":"={{ $('Normaliza os dados').item.json['nome simplificado do host'] }}"},{"fieldId":"eventsRelacionados","fieldValue":"={{ [$('Normaliza os dados').item.json['id do evento']] }}"},{"fieldId":"count_sla","fieldValue":"true"},{"fieldId":"porta","fieldValue":"={{ $('Trabalha com as Informações do link').item.json.operadora.porta }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6784,944],"id":"5e85eaeb-bc52-4555-a1ea-8ac6a809f3ac","name":"Supabase: Nova linha do chamado","retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e5512f55-cbf0-4796-962e-8994dad803e0","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7008,944],"id":"75072dcb-7335-40cc-a244-b25908e4422a","name":"Criou a linha na tabela?","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"d930fbd4-3b6a-4d84-abed-df337dd7c043","name":"id do evento","value":"={{ $('Normaliza os dados').item.json['id do evento'] }}","type":"number"},{"id":"ee6a9acd-9abd-4540-a353-53a36a263611","name":"nome completo do host","value":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}","type":"string"},{"id":"c1ccc2f7-c4b1-4396-99d0-ba311520a50c","name":"evento gerador","value":"={{ $('Normaliza os dados').item.json['evento gerador'] }}","type":"string"},{"id":"b63f6229-b2d0-4498-8b20-b50632162510","name":"data e hora da queda","value":"={{ $('Normaliza os dados').item.json['data e hora da queda'] }}","type":"string"},{"id":"d9c6e7eb-1922-483e-b89a-dd91fa1adb95","name":"id","value":"={{ $('Supabase: Nova linha do chamado').item.json.id }}","type":"number"},{"id":"e6883652-5d52-4538-812c-d6ad6dedfe51","name":"operadora","value":"={{ $('Supabase: Nova linha do chamado').item.json.operadora }}","type":"string"},{"id":"0fc918b5-60f9-40b0-9940-240ccee8b0b0","name":"contato","value":"={{ $('Supabase: Recupera dados da operadora').item.json.contato }}","type":"string"},{"id":"e6786e06-2ffb-4f1c-ad8a-44d42054f1ce","name":"ticket_movidesk","value":"={{ $('Supabase: Nova linha do chamado').item.json.ticket_movidesk }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7232,864],"id":"ffb68b60-7a3a-4ddd-aed8-61443491bcb4","name":"Ajusta os dados para comunicação nas mídas","disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=\n**Host:** {{ $json['nome completo do host'] }}\n**Evento:** {{ $json['evento gerador'] }}\n**Data e hora do evento:** {{ $json['data e hora da queda'] }}\n\n**Ticket Movidesk:** {{ $json.ticket_movidesk }}\n**Operadora:** {{ $json.operadora }}\n**Contato da operadora:** {{ $json.contato }}\n**Linha no BD:** {{ $json.id }}\n\nO ticket aguarda atuação do analista!","color":"#FF7518","title":"=🚨 NOVO ALERTA - ABRIR CHAMADO NA OPERADORA  {{ $json.operadora.toUpperCase() }}","thumbnail":"https://imagepng.org/wp-content/uploads/2018/08/alerta.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[7456,768],"id":"6af29866-a054-4017-bb88-90f75bfb295f","name":"Discord: Notifica abertura de chamado","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}},"disabled":true},{"parameters":{"chatId":"-1003134293207","text":"=ABRIR CHAMADO!\n\n🖥️ **Host:** {{ $json['nome completo do host'] }}\n⚠️ **Evento:** {{ $json['evento gerador'] }}\n🕒 **Data e hora do evento:** {{ $json['data e hora da queda'] }}\n\n🎫 **Ticket Movidesk:** {{ $json.ticket_movidesk }}\n  **Operadora:** {{ $json.operadora }} (contato: {{ $json.contato }})\n📄 **Linha no BD:** {{ $json.id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[7456,960],"id":"04857852-c6e0-4000-8152-bfdfa8de8bc9","name":"Telegram: Notifica abertura de chamado","webhookId":"69430f89-0bb1-47a4-87c1-bd6679c3bac9","credentials":{"telegramApi":{"id":"2Bf07kZjNNq9Pv7T","name":"Telegram account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b2eebcca-4dd7-4602-99f0-426c5681e53e","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7680,768],"id":"397716f8-9a7f-4f68-bcb8-ff80eb0dc621","name":"Houve notificação para equipe?","disabled":true},{"parameters":{"jsCode":"const ticketMovidesk = $('Supabase: Nova linha do chamado').first().json.ticket_movidesk;\n\nconst messageAcks = `Equipe notificada para atuação - ticket Movidesk ${ticketMovidesk}`;\nconst eventId = $('Ajusta os dados para comunicação nas mídas').first().json.id_evento;\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: messageAcks,\n    action: 4\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7904,720],"id":"6d991e42-8697-4f83-a5c4-a408fc4fdbfe","name":"Prepara dados para reconhecimento do alerta","disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8128,720],"id":"58cb75b8-0488-40e5-8827-d41710b8f498","name":"Zabbix: Reconhece o alerta","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}},"disabled":true},{"parameters":{"jsCode":"// --- Etapa 1: Captura a mensagem do ack mais recente ---\nconst mensagemTicket = $input.first().json.acksFiltrados.filtrados[0].json.acknowledge_mais_recente.message;\n\n// --- Etapa 2: Extrai número do ticket ---\nlet numeroTicket;\nconst numerosEncontrados = mensagemTicket ? mensagemTicket.match(/\\d+/) : null;\n\nif (numerosEncontrados && numerosEncontrados.length > 0) {\n  numeroTicket = parseInt(numerosEncontrados[0]);\n} else {\n  numeroTicket = mensagemTicket; // pode ser texto (ex.: \"Sem ticket\", \"0\", etc.)\n}\n\n// --- Etapa 3: Valida se o retorno é número ou texto ---\nif (typeof numeroTicket === \"string\" || isNaN(numeroTicket)) {\n  return [\n    {\n      json: {\n        ticket: 0,\n        mensagemTicket\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: {\n        ticket: numeroTicket,\n        mensagemTicket\n      }\n    }\n  ];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5008,336],"id":"469a512b-0316-4b47-ba29-cd5354ae7821","name":"Ajusta número ticket e mensagem reconhecimento"},{"parameters":{"tableId":"base","fieldsUi":{"fieldValues":[{"fieldId":"id_host","fieldValue":"={{ $('Normaliza os dados').item.json['id do host'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da queda'] }}"},{"fieldId":"id_cliente_variaveis","fieldValue":"={{ $('Normaliza os dados').item.json['id do tipo de cliente no banco de dados'] }}"},{"fieldId":"status_chamado","fieldValue":"2"},{"fieldId":"id_evento","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"evento_raiz","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"groupId","fieldValue":"={{ $('Verifica o grupo do host').item.json.dados_grupo.groupid }}"},{"fieldId":"hostLimpo","fieldValue":"={{ $('Normaliza os dados').item.json['nome simplificado do host'] }}"},{"fieldId":"ticket_movidesk","fieldValue":"={{ $json.ticket }}"},{"fieldId":"eventsRelacionados","fieldValue":"={{ [$('Normaliza os dados').item.json['id do evento']] }}"},{"fieldId":"operadora","fieldValue":"={{ $json.operadora }}"},{"fieldId":"porta","fieldValue":"={{ $('Trabalha com as Informações do link2').item.json.operadora.porta }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5680,336],"id":"8cf65383-e324-470d-9ed1-6280846c1d55","name":"Supabase: Nova linha do chamado1","retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4e558c46-5b6d-4d34-b610-e2060eaf6f49","leftValue":"={{ $json.ticket_movidesk }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5904,336],"id":"9d000352-e376-4a20-800d-fed009c20ded","name":"Ticket Movidesk igual a 0?"},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6128,432],"id":"eb5cd69d-7708-4ce8-b9ad-6bfb9618fbc1","name":"Prepara dados para reconhecimento"},{"parameters":{"jsCode":"const messageAcks = $('Ajusta número ticket e mensagem reconhecimento').first().json.mensagemTicket;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: messageAcks,\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6128,240],"id":"26ea6a31-7801-4b4a-aa53-6b2084b4c338","name":"Prepara dados para reconhecimento1"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=EVENTO RECONHECIDO\n\n**Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**Evento:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**Data e hora do evento:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n\n**Ticket Movidesk:** {{ $('Supabase: Nova linha do chamado1').item.json.ticket_movidesk }}\n**Linha no BD:** {{ $('Supabase: Nova linha do chamado1').item.json.id }}","color":"#69BF6C","title":"=Reconhecimento de alerta","thumbnail":"https://imagepng.org/wp-content/uploads/2019/12/check-icone-scaled.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[6576,240],"id":"7602f5b6-16b4-4266-abec-4b2a974bbc34","name":"Discord: Notifica reconhecimento2","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=EVENTO RECONHECIDO\n\n**Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**Evento:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**Data e hora do evento:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n\n**Ticket Movidesk:** {{ $('Supabase: Nova linha do chamado1').item.json.ticket_movidesk }}\n**Linha no BD:** {{ $('Supabase: Nova linha do chamado1').item.json.id }}","color":"#69BF6C","title":"=Reconhecimento de alerta","thumbnail":"https://imagepng.org/wp-content/uploads/2019/12/check-icone-scaled.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[6576,432],"id":"45756b30-8774-4b4f-a766-89521fe5de90","name":"Discord: Notifica reconhecimento3","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6352,240],"id":"1e75e5b8-817a-4e21-b554-5574a9b8db71","name":"Zabbix: Reconhece evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6352,432],"id":"32014694-3ec4-4d7f-954d-382d750ed46a","name":"Zabbix: Reconhece evento1","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Abertura de chamado INDIGO\n\nCliente: {{ $('Normaliza os dados').item.json['nome completo do host'] }}\nAlerta: {{ $('Normaliza os dados').item.json['evento gerador'] }}\nData e hora da queda: {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n","color":"#FFDE21","title":"🚨 Novo alerta"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[4992,1360],"id":"0ba7aa69-ce61-4359-b057-76ee9b62f425","name":"Discord: Notifica adm HORA COMERCIAL","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}},{"parameters":{"jsCode":"const nomeHostSupabase = $('Supabase: Recupera correspondência do grupo').first().json.nome_host;\nconst nomeHostEvento = $('Normaliza os dados').first().json['nome completo do host'];\nconst idTabela = $('Supabase: Recupera correspondência do grupo').first().json.id;\nconst qndQuedas = $('Supabase: Recupera correspondência do grupo').first().json.qnd_quedas;\n\nif (nomeHostSupabase == nomeHostEvento) {\n  return [{igualdadeDeHost: true, idTabela, qndQuedas}]\n} else {\n  return [{igualdadeDeHost: false, idTabela, qndQuedas}]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3072,-144],"id":"94b77bf9-b3f3-42d6-922a-464fdd081358","name":"Verifica igualdade de hosts"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"67371f0a-6119-4eaf-8f11-ce2becc7bc8b","leftValue":"={{ $json.igualdadeDeHost }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3296,-144],"id":"5b8337fe-3e36-4208-a0e7-a2f5e7c769cd","name":"Hosts são iguais?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d86fa3fc-d1b8-4ec8-b40c-b1a08bd7482f","leftValue":"={{ $('Supabase: Recupera correspondência do grupo').item.json.ticket_movidesk }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3744,-368],"id":"0280cf16-75da-47be-bd48-d6f647b18d6f","name":"Ticket Movidesk é 0?"},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"name\", \"value\", \"host\", \"hostid\"],\n    \"select_acknowledges\": [\n      \"acknowledgeid\",\n      \"userid\",\n      \"eventid\",\n      \"clock\",\n      \"message\",\n      \"action\",\n      \"username\"\n    ],\n    \"time_from\": \"{{ $('Prepara os dados').item.json['timestamp para cálculo de redução de tempo'] }}\",\n    \"selectHosts\": [\"hostid\", \"host\"],\n    \"hostids\": \"{{ $('Prepara os dados').item.json['id do host'] }}\",\n    \"sortfield\": \"clock\",\n    \"sortorder\": \"DESC\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3968,-464],"id":"7b2a0cf7-bdda-4e5e-971a-47fca6ba69a0","name":"Zabbix: Recupera dados do evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false},{"parameters":{"jsCode":"// Filtra apenas eventos com algum acknowledge de action == \"6\"\nconst eventos = $input.first().json.result;\n\n// Filtra apenas eventos que têm pelo menos um ack com action == \"6\"\nconst filtrados = eventos\n  .filter(ev => ev.acknowledges?.some(ack => ack.action == 6))\n  .map(ev => {\n    // Dentro de cada evento, pega só os acks com action == 6\n    const acks6 = (ev.acknowledges || []).filter(ack => ack.action == 6);\n\n    // Ordena por acknowledgeid (numérico) e pega o maior\n    const ackMaior = [...acks6].sort((a, b) => Number(b.acknowledgeid) - Number(a.acknowledgeid))[0];\n\n    // Retorna o evento com destaque para o acknowledge mais recente\n    return {\n      json: {\n        eventid: ev.eventid,\n        clock: ev.clock,\n        hostid: ev.hosts?.[0]?.hostid,\n        host: ev.hosts?.[0]?.host,\n        value: ev.value,\n        // acknowledge de maior id\n        acknowledge_mais_recente: {\n          acknowledgeid: ackMaior.acknowledgeid,\n          clock: ackMaior.clock,\n          \"timestampAck_formatado\": DateTime.fromSeconds(parseInt(ackMaior.clock))\n            .setZone('America/Sao_Paulo')\n            .toFormat('dd/MM/yyyy HH:mm:ss'),\n          message: ackMaior.message,\n          action: ackMaior.action,\n          username: ackMaior.username,\n          userid: ackMaior.userid\n        }\n      }\n    };\n  });\n\n// Retorna cada evento filtrado como item independente\nif (filtrados.length === 0) {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": false\n      }\n    }\n  }\n} else {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": true\n      }\n    }\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4192,-464],"id":"0b5e4fef-c5d4-4ec3-ae42-c9a6ce58b862","name":"Separa os alertas com reconhecimento 6"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4640,-368],"id":"359fe091-d00d-4865-9618-87e958f5ef17","name":"Zabbix: Reconhece o evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const messageAcks = $input.first().json.acksFiltrados.filtrados[0].json.acknowledge_mais_recente.message;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: messageAcks,\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4416,-464],"id":"1b5cccaa-36c4-4d39-a3e2-6205145b60b2","name":"Prepara dados para reconhecimento2"},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4416,-272],"id":"e6418733-5117-46ef-b56d-e1d2b0068f93","name":"Prepara dados para reconhecimento3"},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.idTabela }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"qnd_quedas","fieldValue":"={{ $json.qndQuedas + 1 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3520,-368],"id":"1b5bb9cf-a266-474f-8e52-192fff477d60","name":"Supabase: Atualiza qnd_quedas","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const eventosRelacionados = $('Supabase: Recupera correspondência do grupo').first().json.eventsRelacionados;\nconst novoEvento = $('Normaliza os dados').first().json['id do evento'];\nconst timestamQueda = $('Normaliza os dados').first().json['timestamp da queda'];\nconst timestampAtual = DateTime.now().toUnixInteger()\n\nconst difTimestamp_queda_atual = timestampAtual - timestamQueda;\nconst minutosEmSegundos = 1800;\n\nfunction validaDentroDe30Minutos(timestampDaQueda, variavelCalculo) {\n  let dentroDoPrazo = null\n  if (timestampDaQueda <= variavelCalculo) {\n    dentroDoPrazo = true\n    return dentroDoPrazo\n  } else {\n    dentroDoPrazo = false\n    return dentroDoPrazo\n  }\n}\n\nconst eventosRelacionadosAtualizado = Array()\nfor (const event of eventosRelacionados) {\n  eventosRelacionadosAtualizado.push(event)\n}\n\neventosRelacionadosAtualizado.push(novoEvento)\n\nreturn [{\n  eventosRelacionadosAtualizado,\n  dentroDe30Minutos: validaDentroDe30Minutos(difTimestamp_queda_atual, minutosEmSegundos)\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3520,64],"id":"d5ebca86-c1f5-4b09-aa5e-98bf710ff317","name":"Prepara push de eventos dentro do tempo"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3e20d80d-1506-4a91-9cf5-2ff70594f92e","leftValue":"={{ $json.dentroDe30Minutos }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3744,64],"id":"e3684b83-a7f5-497c-9f08-dc814d641ae6","name":"Dentro de 30 minutos?"},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Verifica igualdade de hosts').item.json.idTabela }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"eventsRelacionados","fieldValue":"={{ $json.eventosRelacionadosAtualizado }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3968,16],"id":"f4102d29-abbf-456b-8ccd-3c33ab37151e","name":"Supabase: Atualiza evento existente","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"method":"PATCH","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6&id={{ $('Supabase: Atualiza evento existente').item.json.ticket_movidesk }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4416,-80],"id":"85de068b-5bbc-473b-96d5-86c09b741cdf","name":"Movidesk: Atualiza ticket","retryOnFail":true},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4192,112],"id":"f23bfbab-a270-4c12-95ed-1ac92dede187","name":"Prepara dados para reconhecimento4"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4416,112],"id":"524d65bb-ec9a-47ed-9515-f608becc1ca0","name":"Zabbix: Reconhece evento2","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const nomeCompleto_host = $('Normaliza os dados').first().json['nome completo do host']\nconst nomeHost_simplificado = $('Normaliza os dados').first().json['nome simplificado do host']\nconst evento_gerador = $('Normaliza os dados').first().json['evento gerador']\nconst dataHora_queda = $('Normaliza os dados').first().json['data e hora da queda']\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting(timestamp) {\n  // Converte timestamp (segundos) em objeto Date\n  const date = new Date(timestamp * 1000);\n\n  // Obtém hora local (fuso horário do servidor)\n  const hour = new Date(date.toLocaleString(\"en-US\", { timeZone: \"America/Sao_Paulo\" })).getHours();\n\n  let greeting;\n\n  // Define o turno conforme o horário\n  if (hour >= 18 || hour < 5) {\n    greeting = \"Boa noite\";\n  } else if (hour >= 5 && hour < 12) {\n    greeting = \"Bom dia\";\n  } else {\n    greeting = \"Boa tarde\";\n  }\n\n  return greeting;\n}\n\nconst agora = new Date();\nconst timestampSegundos = Math.floor(agora.getTime() / 1000);\nconst greeting = getGreeting(timestampSegundos)\n\n\nconst htmlCliente = `\n  <p>${greeting}</p>\n  <br>\n  <p>Identificamos um novo alerta em nosso sistema de monitoramento:</p>\n  <div style=\"padding: 10px; border: 1px solid black; border-radius: 10px; display: flex; flex-direction: column; justify-content: center; text-align: center; align-items: center; color: black; margin: 10px 0\">\n    <h2>${nomeCompleto_host}</h2>\n    <p style=\"font-size: 16px;\"><strong>Evento:</strong> ${evento_gerador}</p>\n    <p style=\"font-size: 16px;\"><strong>Data e hora da queda:</strong> ${dataHora_queda}</p>\n  </div>\n  \n  <p> Gostaríamos de confirmar se a ocorrência já é de conhecimento da equipe ${nomeHost_simplificado} ou se trata de uma falha eventual? </p>\n  <p>Recomendamos a verificação da ocorrência acima para validação e tratativa da indisponibilidade. Permaneceremos em monitoramento e informaremos quando o evento estiver com status de resolvido em nosso monitoramento.</p>\n  <br>\n  <br>\n  <p>Atenciosamente </p>\n  <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n  `;\n\nreturn {\n  json: {\n    actions: [\n      {\n        type: 2,\n        description: htmlCliente,\n        createdBy: {id: \"1458772347\"},\n        workTime: \"00:01:00\"\n      }\n    ]\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4192,-80],"id":"2b0e41a3-b4e2-478e-9c5e-339d6fd0eba1","name":"Prepara dados para atualização Movidesk"},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=EVENTO RECONHECIDO NO ZABBIX\n\n🖥️ **Host:** {{ $('Normaliza os dados').item.json.nomeCompletoHost }}\n📛 **Nome do alerta:** {{ $('Normaliza os dados').item.json.nomeEvento }}\n🕒 **Data e hora do evento:** {{ $('Normaliza os dados').item.json.dataHoraQuedaFormatada }}\n🕒 **Data e hora da atualização:** {{ DateTime.now().format('dd/MM/yyyy HH:mm:ss')}}\n🎟️ **Ticket Movidesk:** {{ $('Supabase: Recupera correspondência do grupo').item.json.ticket_movidesk }}\n**Operadora:** {{ $('Supabase: Recupera correspondência do grupo').item.json.operadora.toSentenceCase() }}","color":"#69BF6C","title":"🚨 O seguinte evento foi atualizado no Zabbix e na tabela"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[4640,16],"id":"ec774110-925f-4568-a877-07f0650aa8f9","name":"Discord: Notifica reconhecimento de evento","webhookId":"eeed722b-607e-4597-8511-e54a55e53154","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}},{"parameters":{"chatId":"-1003134293207","text":"=EVENTO RECONHECIDO NO ZABBIX\n\n🖥️ **Host:** {{ $('Normaliza os dados').item.json.nomeCompletoHost }}\n📛 **Nome do alerta:** {{ $('Normaliza os dados').item.json.nomeEvento }}\n🕒 **Data e hora do evento:** {{ $('Normaliza os dados').item.json.dataHoraQuedaFormatada }}\n🕒 **Data e hora da atualização:** {{ DateTime.now().format('dd/MM/yyyy HH:mm:ss')}}\n🎟️ **Ticket Movidesk:** {{ $('Supabase: Recupera correspondência do grupo').item.json.ticket_movidesk }}\n**Operadora:** {{ $('Supabase: Recupera correspondência do grupo').item.json.operadora.toSentenceCase() }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4864,16],"id":"6b044fb6-ed85-4be6-bd26-3516d4f2fb30","name":"Telegram: Notifica reconhecimento de evento","webhookId":"69430f89-0bb1-47a4-87c1-bd6679c3bac9","credentials":{"telegramApi":{"id":"2Bf07kZjNNq9Pv7T","name":"Telegram account"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Cliente: {{ $('Normaliza os dados').item.json['nome completo do host'] }}\nAlerta: {{ $('Normaliza os dados').item.json['evento gerador'] }}\nData e hora da queda: {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\nData e hora da recuperação: {{ $('Normaliza os dados').item.json['data e hora da recuperação'] }}","color":"#69BF6C","title":"ALERTA ENCERRADO NO ZABBIX"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1744,1408],"id":"2dd7c57c-a28b-43ce-8ffb-1efe1f2c52c5","name":"Discord: Notifica encerramento","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"lA2qaXo0Uc6Pobsl","name":"Canal: encerramento de chamado"}}},{"parameters":{"operation":"getAll","tableId":"base","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"id_evento","condition":"eq","keyValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1968,1408],"id":"8c4abb81-ab7e-4a50-a74a-063a2760c88d","name":"Supabase: Recupera correspondências","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ee4631ab-499c-4581-a453-627afaa9b1bb","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2192,1408],"id":"6b7c58e4-2ac2-475b-83c4-4e548a64d44c","name":"Existe correspondências?"},{"parameters":{"operation":"update","tableId":"base","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Supabase: Recupera correspondências').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_chamado","fieldValue":"3"},{"fieldId":"id_evento_recuperacao","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da recuperação'] }}"},{"fieldId":"timestampRecuperacao","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da recuperação'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2640,1408],"id":"48721bee-e2b5-4b24-996d-330811846369","name":"Supabase: Atualiza evento de recuperação","retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**Evento:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**Data e hora da queda:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n**Data e hora da recuperação:** {{ $('Normaliza os dados').item.json['data e hora da recuperação'] }}\n**Tempo indisponível:** {{ $('Normaliza os dados').item.json['tempo que permaneceu o alerta'] / 60 }} minutos\n**Ticket Movidesk:** {{ $json.ticket_movidesk }}\n**Operadora:** {{ $json.operadora.toUpperCase() }}","color":"#69BF6C","title":"=EVENTO RESTABELECIDO"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2864,1408],"id":"cc5e8c89-9b5d-4809-bec9-1aacd63cd680","name":"Discord: Notifica sobre recuperação","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"rn6H9u9BbR5a2R1n","name":"Canal: Monitorando-encerramento"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status_chamado }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"4e117ddb-6789-443e-97c9-dcd97a866939"}],"combinator":"and"},"renameOutput":true,"outputKey":"SEM TICKET MOVIDESK"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"db26aa3f-6041-40a1-ad65-6c91db02f9fb","leftValue":"={{ $json.status_chamado }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ATUALIZA STATUS_CHAMADO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[2416,1312],"id":"bd7e6ec9-2bb5-44e3-8918-a2a87f8140f4","name":"Rotas statusChamado"},{"parameters":{"operation":"update","tableId":"base","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Supabase: Recupera correspondências').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_chamado","fieldValue":"4"},{"fieldId":"id_evento_recuperacao","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da recuperação'] }}"},{"fieldId":"timestampRecuperacao","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da recuperação'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2640,1216],"id":"b767d0c5-32a3-4026-b5b7-e74060291656","name":"Supabase: Atualiza evento de recuperação1","retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**Evento:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**Data e hora da queda:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n**Data e hora da recuperação:** {{ $('Normaliza os dados').item.json['data e hora da recuperação'] }}\n**Tempo indisponível:** {{ $('Normaliza os dados').item.json['tempo que permaneceu o alerta'] / 60 }} minutos\n**Ticket Movidesk:** {{ $json.ticket_movidesk }}\n**Operadora:** {{ $json.operadora.toUpperCase() }}","color":"#69BF6C","title":"=EVENTO RESTABELECIDO SEM TICKET"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2864,1216],"id":"a12b9dfa-046a-48ae-babc-9622050e1134","name":"Discord: Notifica sobre recuperação1","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"rn6H9u9BbR5a2R1n","name":"Canal: Monitorando-encerramento"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2416,1504],"id":"82d81bb5-a93a-4ee8-b562-6a60617c9a7f","name":"No Ops"},{"parameters":{"jsCode":"// Função para encontrar a operadora baseada na porta\nfunction encontrarOperadora() {\n    const nomeHostCompleto = $('Normaliza os dados').first().json['nome completo do host'].toUpperCase();\n    const nomeEvento = $('Normaliza os dados').first().json['evento gerador'].toUpperCase();\n    const arrayBlocoLinks = $('Normaliza os dados').first().json['informações do link'];\n\n    // Verifica se o arrayBlocoLinks existe e tem elementos\n    if (!arrayBlocoLinks || !Array.isArray(arrayBlocoLinks) || arrayBlocoLinks.length === 0) {\n        return null;\n    }\n\n    let resultado = null;\n\n    // Percorre o arrayBlocoLinks em busca dos elementos \"porta\"\n    for (const bloco of arrayBlocoLinks) {\n        const porta = bloco.porta;\n        const operadora = bloco.operadora;\n        const unidade = bloco.unidade;\n        const endereco = bloco.endereco;\n        const cnpj = bloco.cnpj;\n        const designacao_circuito = bloco.designacao_circuito;\n        const geop = bloco.geop;\n\n        // Verifica se a porta foi encontrada em nomeHostCompleto ou nomeEvento\n        if (porta && \n            (nomeHostCompleto.includes(porta) || nomeEvento.includes(porta))) {\n            resultado = {\n                porta: porta,\n                operadora: operadora,\n                unidade: unidade,\n                endereco: endereco,\n                cnpj: cnpj,\n                designacao_circuito: designacao_circuito,\n                geop: geop\n            };\n            break; // Para no primeiro match encontrado\n        }\n    }\n\n    return resultado;\n}\n\n\n\n// Para obter apenas a primeira operadora encontrada:\nconst operadora = encontrarOperadora();\n\nreturn [{operadora}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5232,336],"id":"8091170b-8222-4315-8a66-343d0e7c4226","name":"Trabalha com as Informações do link2"},{"parameters":{"operation":"getAll","tableId":"operadoras","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"operadora","condition":"eq","keyValue":"={{ $json.operadora.operadora.toLowerCase() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5456,336],"id":"88a61cb2-52b6-4e98-9603-4dbc936e5a3d","name":"Supabase: Recupera dados da operadora2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const evento = $input.first().json['evento gerador'];\nconst tags = $input.first().json.tags;\n\nlet existeEvento = false;\n\n// Caso especial\nif (evento === \"Alta perda de pacotes em 10min\") {\n  return [{ existeEvento }];\n}\n\n// Verifica aplicacao=link\nconst temAplicacaoLink = tags.some(t =>\n  t.tag.toLowerCase() === \"aplicacao\" &&\n  t.value.toLowerCase() === \"link\"\n);\n\n// Verifica noc\nconst tagNoc = tags.find(t => t.tag.toLowerCase() === \"noc\");\nconst temNoc = !!tagNoc;\nconst valorNoc = tagNoc ? tagNoc.value : null;\n\n// ===============================\n//      APLICAÇÃO DAS REGRAS\n// ===============================\n\n// ❌ Se noc existir e for \"0\" → sempre inválido\nif (temNoc && valorNoc === \"0\") {\n  existeEvento = false;\n}\n\n// ✔ Se noc existir e for diferente de 0 → só válido SE aplicacao=link\nelse if (temNoc && valorNoc !== \"0\") {\n  existeEvento = temAplicacaoLink;\n}\n\n// ✔ Se NÃO existir noc, mas aplicacao=link → válido\nelse if (!temNoc && temAplicacaoLink) {\n  existeEvento = true;\n}\n\n// ❌ Demais casos → inválido\nelse {\n  existeEvento = false;\n}\n\nreturn [{\n  existeEvento,\n  temAplicacaoLink,\n  temNoc,\n  valorNoc\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,1200],"id":"e2c4990f-0f4b-4e85-99bc-73e4fda6cccb","name":"Avalia se existe tags corretas e se o evento é correto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6688ae3f-8c58-4d0a-a9f5-e260f6684af1","leftValue":"={{ $json.existeEvento }}","rightValue":"Alta perda de pacotes em 10min","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"86faec49-ae33-42c9-b473-a6cc785575c9","leftValue":"={{ $json.valorNoc }}","rightValue":"1","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1072,1200],"id":"00170351-16ba-45b7-962f-c905df586db2","name":"Existe evento?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1296,1296],"id":"0f950d5b-cd1e-4bea-8960-0517cea96392","name":"No Ops1"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"r_eventid\"],\n    \"selectHosts\": [\"hostid\", \"name\"],\n    \"groupids\": \"{{ $('Verifica o grupo do host').item.json.dados_grupo.groupid }}\",\n    \"selectRelatedObject\": [\"description\", \"value\"],\n    \"selectAcknowledges\": [\"clock\", \"message\", \"action\", \"username\"],\n    \"time_from\": \"{{ $('Normaliza os dados').item.json['timestamp da queda'] - 60*30 }}\",\n    \"time_till\": \"{{ $('Normaliza os dados').item.json['timestamp da queda'] + 60*30 }}\",\n    \"sortfield\": [\"clock\", \"eventid\"],\n    \"sortorder\": \"DESC\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5664,848],"id":"e2e1abb6-c53d-4912-a7b0-cd3113c0884a","name":"Zabbix: Consulta de eventos do grupo","retryOnFail":true,"disabled":true},{"parameters":{"jsCode":"const resultados = $input.first().json.result;\n\nlet eventosAtivos = Array();\nfor (const evento of resultados) {\n  const r = parseInt(evento.r_eventid);\n  const v = parseInt(evento.relatedObject.value)\n  if (r >= 1 && v === 1) {\n    eventosAtivos.push({\n      eventid: evento.eventid,\n      idRecuperacao: evento.r_eventid,\n      timestamp: evento.clock,\n      hostName: evento.hosts[0].name,\n      evento: evento.relatedObject.description,\n      status: evento.relatedObject.value\n    })\n  }\n}\n\nreturn [{eventosAtivos}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5888,848],"id":"87454ae4-b45d-4f26-8e08-6943cd03b7fe","name":"Separa eventos ativos do host","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6e96db70-9f9c-4aa2-9883-e0a3935066b8","leftValue":"={{ $json.eventosAtivos }}","rightValue":1,"operator":{"type":"array","operation":"lengthGte","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6112,848],"id":"12b06e5c-1f88-4c97-a00d-03e8ff868741","name":"Tem 2 ou mais itens no array?","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a7f8777-5b32-476d-91e8-c3a801ffe757","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5440,848],"id":"8b8238fd-d073-4c97-bd30-e2851d0fc848","name":"Existe operadora?","disabled":true},{"parameters":{"jsCode":"// Função para encontrar a operadora baseada na porta\nfunction encontrarOperadora() {\n    const nomeHostCompleto = $('Normaliza os dados').first().json['nome completo do host'].toUpperCase();\n    const nomeEvento = $('Normaliza os dados').first().json['evento gerador'].toUpperCase();\n    const arrayBlocoLinks = $('Normaliza os dados').first().json['informações do link'];\n\n    // Verifica se o arrayBlocoLinks existe e tem elementos\n    if (!arrayBlocoLinks || !Array.isArray(arrayBlocoLinks) || arrayBlocoLinks.length === 0) {\n        return null;\n    }\n\n    let resultado = null;\n\n    // Percorre o arrayBlocoLinks em busca dos elementos \"porta\"\n    for (const bloco of arrayBlocoLinks) {\n        const porta = bloco.porta;\n        const operadora = bloco.operadora;\n        const unidade = bloco.unidade;\n        const endereco = bloco.endereco;\n        const cnpj = bloco.cnpj;\n        const designacao_circuito = bloco.designacao_circuito;\n        const geop = bloco.geop;\n\n        // Verifica se a porta foi encontrada em nomeHostCompleto ou nomeEvento\n        if (porta && \n            (nomeHostCompleto.includes(porta) || nomeEvento.includes(porta))) {\n            resultado = {\n                porta: porta,\n                operadora: operadora,\n                unidade: unidade,\n                endereco: endereco,\n                cnpj: cnpj,\n                designacao_circuito: designacao_circuito,\n                geop: geop\n            };\n            break; // Para no primeiro match encontrado\n        }\n    }\n\n    return resultado;\n}\n\n\n\n// Para obter apenas a primeira operadora encontrada:\nconst operadora = encontrarOperadora();\n\nreturn [{operadora}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4992,848],"id":"de777a76-fdae-4db5-9867-8b1f76718d96","name":"Trabalha com as Informações do link","disabled":true},{"parameters":{"operation":"getAll","tableId":"operadoras","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"operadora","condition":"eq","keyValue":"={{ $json.operadora.operadora.toLowerCase() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5216,848],"id":"fa6e0780-08ed-4912-85a6-a8075271ca62","name":"Supabase: Recupera dados da operadora","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true}],"connections":{"Main":{"main":[[{"node":"Avalia se existe tags corretas e se o evento é correto","type":"main","index":0}]]},"Valida se existe ticket e direciona":{"main":[[{"node":"Rota ticket","type":"main","index":0}]]},"Existe registro?":{"main":[[{"node":"Ajusta número ticket e mensagem reconhecimento","type":"main","index":0}],[{"node":"Discord: Notifica adm HORA COMERCIAL","type":"main","index":0},{"node":"Trabalha com as Informações do link","type":"main","index":0}]]},"Movidesk: Informa atuação para 1 evento":{"main":[[{"node":"Supabase: Nova linha do chamado","type":"main","index":0}]]},"Normaliza os dados":{"main":[[{"node":"Rota statusChamado","type":"main","index":0}]]},"Rota statusChamado":{"main":[[{"node":"Zabbix: Consulta grupo do host","type":"main","index":0}],[{"node":"Discord: Notifica encerramento","type":"main","index":0}]]},"Zabbix: Consulta grupo do host":{"main":[[{"node":"Verifica o grupo do host","type":"main","index":0}]]},"Verifica o grupo do host":{"main":[[{"node":"Supabase: Recupera correspondência do grupo","type":"main","index":0}]]},"Supabase: Recupera correspondência do grupo":{"main":[[{"node":"Valida se existe ticket e direciona","type":"main","index":0}]]},"Zabbix: Recupera eventos anteriores":{"main":[[{"node":"Valida action igual a 6","type":"main","index":0}]]},"Valida action igual a 6":{"main":[[{"node":"Existe registro?","type":"main","index":0}]]},"Rota ticket":{"main":[[],[{"node":"Verifica igualdade de hosts","type":"main","index":0}],[{"node":"Zabbix: Recupera eventos anteriores","type":"main","index":0}]]},"Prepara dados para abertura de ticket":{"main":[[{"node":"Movidesk: Informa atuação para 1 evento","type":"main","index":0}]]},"Prepara dados para abertura de ticket1":{"main":[[{"node":"Movidesk: Informa atuação para 1 evento","type":"main","index":0}]]},"Supabase: Nova linha do chamado":{"main":[[{"node":"Criou a linha na tabela?","type":"main","index":0}]]},"Criou a linha na tabela?":{"main":[[{"node":"Ajusta os dados para comunicação nas mídas","type":"main","index":0}],[{"node":"Notifica erro no Discord","type":"main","index":0}]]},"Ajusta os dados para comunicação nas mídas":{"main":[[{"node":"Telegram: Notifica abertura de chamado","type":"main","index":0},{"node":"Discord: Notifica abertura de chamado","type":"main","index":0}]]},"Discord: Notifica abertura de chamado":{"main":[[{"node":"Houve notificação para equipe?","type":"main","index":0}]]},"Houve notificação para equipe?":{"main":[[{"node":"Prepara dados para reconhecimento do alerta","type":"main","index":0}],[{"node":"Notifica erro no Discord","type":"main","index":0}]]},"Prepara dados para reconhecimento do alerta":{"main":[[{"node":"Zabbix: Reconhece o alerta","type":"main","index":0}]]},"Ajusta número ticket e mensagem reconhecimento":{"main":[[{"node":"Trabalha com as Informações do link2","type":"main","index":0}]]},"Supabase: Nova linha do chamado1":{"main":[[{"node":"Ticket Movidesk igual a 0?","type":"main","index":0}]]},"Ticket Movidesk igual a 0?":{"main":[[{"node":"Prepara dados para reconhecimento1","type":"main","index":0}],[{"node":"Prepara dados para reconhecimento","type":"main","index":0}]]},"Prepara dados para reconhecimento":{"main":[[{"node":"Zabbix: Reconhece evento1","type":"main","index":0}]]},"Prepara dados para reconhecimento1":{"main":[[{"node":"Zabbix: Reconhece evento","type":"main","index":0}]]},"Zabbix: Reconhece evento":{"main":[[{"node":"Discord: Notifica reconhecimento2","type":"main","index":0}]]},"Zabbix: Reconhece evento1":{"main":[[{"node":"Discord: Notifica reconhecimento3","type":"main","index":0}]]},"Discord: Notifica adm HORA COMERCIAL":{"main":[[]]},"Verifica igualdade de hosts":{"main":[[{"node":"Hosts são iguais?","type":"main","index":0}]]},"Hosts são iguais?":{"main":[[{"node":"Supabase: Atualiza qnd_quedas","type":"main","index":0}],[{"node":"Prepara push de eventos dentro do tempo","type":"main","index":0}]]},"Ticket Movidesk é 0?":{"main":[[{"node":"Zabbix: Recupera dados do evento","type":"main","index":0}],[{"node":"Prepara dados para reconhecimento3","type":"main","index":0}]]},"Zabbix: Recupera dados do evento":{"main":[[{"node":"Separa os alertas com reconhecimento 6","type":"main","index":0}]]},"Separa os alertas com reconhecimento 6":{"main":[[{"node":"Prepara dados para reconhecimento2","type":"main","index":0}]]},"Prepara dados para reconhecimento2":{"main":[[{"node":"Zabbix: Reconhece o evento","type":"main","index":0}]]},"Prepara dados para reconhecimento3":{"main":[[{"node":"Zabbix: Reconhece o evento","type":"main","index":0}]]},"Supabase: Atualiza qnd_quedas":{"main":[[{"node":"Ticket Movidesk é 0?","type":"main","index":0}]]},"Prepara push de eventos dentro do tempo":{"main":[[{"node":"Dentro de 30 minutos?","type":"main","index":0}]]},"Dentro de 30 minutos?":{"main":[[{"node":"Supabase: Atualiza evento existente","type":"main","index":0}],[{"node":"Zabbix: Recupera eventos anteriores","type":"main","index":0}]]},"Prepara dados para reconhecimento4":{"main":[[{"node":"Zabbix: Reconhece evento2","type":"main","index":0}]]},"Supabase: Atualiza evento existente":{"main":[[{"node":"Prepara dados para atualização Movidesk","type":"main","index":0},{"node":"Prepara dados para reconhecimento4","type":"main","index":0}]]},"Prepara dados para atualização Movidesk":{"main":[[{"node":"Movidesk: Atualiza ticket","type":"main","index":0}]]},"Movidesk: Atualiza ticket":{"main":[[{"node":"Discord: Notifica reconhecimento de evento","type":"main","index":0}]]},"Zabbix: Reconhece evento2":{"main":[[{"node":"Discord: Notifica reconhecimento de evento","type":"main","index":0}]]},"Discord: Notifica reconhecimento de evento":{"main":[[{"node":"Telegram: Notifica reconhecimento de evento","type":"main","index":0}]]},"Discord: Notifica encerramento":{"main":[[{"node":"Supabase: Recupera correspondências","type":"main","index":0}]]},"Supabase: Recupera correspondências":{"main":[[{"node":"Existe correspondências?","type":"main","index":0}]]},"Existe correspondências?":{"main":[[{"node":"Rotas statusChamado","type":"main","index":0}],[{"node":"No Ops","type":"main","index":0}]]},"Supabase: Atualiza evento de recuperação":{"main":[[{"node":"Discord: Notifica sobre recuperação","type":"main","index":0}]]},"Rotas statusChamado":{"main":[[{"node":"Supabase: Atualiza evento de recuperação1","type":"main","index":0}],[{"node":"Supabase: Atualiza evento de recuperação","type":"main","index":0}]]},"Supabase: Atualiza evento de recuperação1":{"main":[[{"node":"Discord: Notifica sobre recuperação1","type":"main","index":0}]]},"Trabalha com as Informações do link2":{"main":[[{"node":"Supabase: Recupera dados da operadora2","type":"main","index":0}]]},"Supabase: Recupera dados da operadora2":{"main":[[{"node":"Supabase: Nova linha do chamado1","type":"main","index":0}]]},"Avalia se existe tags corretas e se o evento é correto":{"main":[[{"node":"Existe evento?","type":"main","index":0}]]},"Existe evento?":{"main":[[{"node":"Normaliza os dados","type":"main","index":0}],[{"node":"No Ops1","type":"main","index":0}]]},"Separa eventos ativos do host":{"main":[[{"node":"Tem 2 ou mais itens no array?","type":"main","index":0}]]},"Zabbix: Consulta de eventos do grupo":{"main":[[{"node":"Separa eventos ativos do host","type":"main","index":0}]]},"Tem 2 ou mais itens no array?":{"main":[[],[{"node":"Prepara dados para abertura de ticket","type":"main","index":0}]]},"Trabalha com as Informações do link":{"main":[[{"node":"Supabase: Recupera dados da operadora","type":"main","index":0}]]},"Supabase: Recupera dados da operadora":{"main":[[{"node":"Existe operadora?","type":"main","index":0}]]},"Existe operadora?":{"main":[[{"node":"Zabbix: Consulta de eventos do grupo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Main":[{"json":{"id do evento":174865611,"id do host":20173,"id do evento de recuperação":0,"id do tipo de cliente no banco de dados":1,"id do cliente na planilha":"164","id de abertura de chamado no movidesk":"2131481218","nome completo do host":"INDIGO ITAU POWER CENTER - FORTIGATE 40F - 172.23.53.254","nome simplificado do host":"INDIGO ITAU POWER CENTER","evento gerador":"SLA FiservApp - wan - Indisponível","tipo de evento":"Abertura Chamado","timestamp da queda":1763598075,"data e hora da queda":"19/11/2025, 21:21:15","timestamp da recuperação":0,"data e hora da recuperação":"","relação do cliente com a max":"CONTRATO 1","e-mail destinatário":"redes.br@group-indigo.com","e-mail em cópia":"ciga.br@grop-indigo.com","timestamp para cálculo de redução de tempo":1763583675,"máximo rodadas no encerramento":3,"informações do link":[{"porta":"WAN","operadora":"VIVO","unidade":"+55 11 91350-4675 - AMANDA","endereco":"AVENIDA BABITA CAMARGOS, 1920 – CIDADE INDUSTRIAL – CONTAGEM – MG – CEP: 32.210-180","cnpj":"52.636.412/0223-57","designacao_circuito":"318560194315290","geop":"MARCO AURÉLIO ((21) 96746-2038)"},{"porta":"LAN2","operadora":"CLIENTE","unidade":"FORTIGATE 40F"}],"tags":[{"tag":"aplicacao","value":"link"},{"tag":"noc","value":"1"}]}}]},"versionId":"1584f282-35ed-4171-b56a-45cc455b8ba9","activeVersionId":"1584f282-35ed-4171-b56a-45cc455b8ba9","triggerCount":0,"shared":[{"updatedAt":"2025-11-05T16:15:24.045Z","createdAt":"2025-11-05T16:15:24.045Z","role":"workflow:owner","workflowId":"kP7uBGfahihXM83d","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":{"updatedAt":"2026-01-27T16:47:39.129Z","createdAt":"2026-01-27T16:47:39.129Z","versionId":"1584f282-35ed-4171-b56a-45cc455b8ba9","workflowId":"kP7uBGfahihXM83d","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"Main","type":"n8n-nodes-base.executeWorkflowTrigger","position":[624,1200]},{"parameters":{"jsCode":"const idEventoTabela = $input.first().json.id;\nconst ticketMovideskTabela = $input.first().json.ticket_movidesk;\n\nif ((idEventoTabela && ticketMovideskTabela) || (idEventoTabela && ticketMovideskTabela == 0) ) {\n  return { \n    \"rota\": 1,\n    \"descricao\": \"Com evento e ticket na tabela\",\n  }\n} else if (idEventoTabela && !ticketMovideskTabela) {\n  return {\n    \"rota\": 2,\n    \"descricao\": \"Com evento na tabela, mas sem ticket\"\n  }\n} else if (!idEventoTabela && !ticketMovideskTabela) {\n  return {\n    \"rota\": 3,\n    \"descricao\": \"Sem evento na tabela\"\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2416,800],"id":"13c8d662-62d9-46e0-81d9-ca4ebcb57c35","name":"Valida se existe ticket e direciona"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb6eff08-3023-4783-bfaf-1cacf44c64ab","leftValue":"={{ $json.acksFiltrados.status }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4640,816],"id":"d85bbfed-ee46-4218-a0c4-a539e83ccd3d","name":"Existe registro?"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Houve uma falha na comunicação do alerta para a equipe de monitoramento. Favor verificar!\n\n🖥️ **Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n⚠️ **Evento:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n\n🎫 **Ticket Movidesk:** {{ $('Supabase: Nova linha do chamado').item.json.ticket_movidesk }}\n**Operadora(contato):** {{ $('Supabase: Recupera dados da operadora').item.json.operadora }} ({{ $('Supabase: Recupera dados da operadora').item.json.contato }})\n\n🕒 **Data e hora do evento:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n📄 **Linha no BD:** {{ $('Supabase: Nova linha do chamado').item.json.id }}","color":"#FD2A2A","title":"🚨 A equipe não foi notificada desse alerta"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[7904,1056],"id":"e8c1932a-2712-451c-b281-3196c00a23b5","name":"Notifica erro no Discord","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"pD90IU7lYfcf9FwM","name":"Canal: administrativo"}},"disabled":true},{"parameters":{"method":"POST","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6560,944],"id":"a4342375-2459-4679-875e-37eed4734324","name":"Movidesk: Informa atuação para 1 evento","retryOnFail":true,"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"23f946c2-c95e-4612-b601-fe7ee83a33b7","name":"id do evento","value":"={{ $('Main').item.json['id do evento'] }}","type":"number"},{"id":"a56988aa-ac7d-44d9-b645-e04baf067379","name":"id do host","value":"={{ $('Main').item.json['id do host'] }}","type":"number"},{"id":"ba109d7f-388b-46a0-b6fc-6d7282f89f37","name":"id do evento de recuperação","value":"={{ $('Main').item.json['id do evento de recuperação'] }}","type":"number"},{"id":"d9dd21f2-f239-4d9d-9c6e-9e6ff8a59cb4","name":"id do tipo de cliente no banco de dados","value":"={{ $('Main').item.json['id do tipo de cliente no banco de dados'] }}","type":"number"},{"id":"f5888cb4-993b-40fd-971f-455f92c4458c","name":"id do cliente na planilha","value":"={{ $('Main').item.json['id do cliente na planilha'] }}","type":"string"},{"id":"e0de4236-9f72-4d2a-92f9-9222184e860d","name":"id de abertura de chamado no movidesk","value":"={{ $('Main').item.json['id de abertura de chamado no movidesk'] }}","type":"string"},{"id":"df71d480-a5ff-4210-94d6-2c700e529b46","name":"nome completo do host","value":"={{ $('Main').item.json['nome completo do host'] }}","type":"string"},{"id":"8d032575-4325-4b90-acd0-2affe04b2c82","name":"nome simplificado do host","value":"={{ $('Main').item.json['nome simplificado do host'] }}","type":"string"},{"id":"a1c9d5cf-f0a8-42f8-b428-6ab97235127e","name":"evento gerador","value":"={{ $('Main').item.json['evento gerador'] }}","type":"string"},{"id":"10133640-fa2f-44c2-972d-657de70d66b8","name":"tipo de evento","value":"={{ $('Main').item.json['tipo de evento'] }}","type":"string"},{"id":"cbd57d58-d011-40d0-9a82-dc2438808c03","name":"timestamp da queda","value":"={{ $('Main').item.json['timestamp da queda'] }}","type":"number"},{"id":"a61f4225-e4b3-4921-8b54-b55237e91f49","name":"data e hora da queda","value":"={{ $('Main').item.json['data e hora da queda'] }}","type":"string"},{"id":"e1efe799-1928-4a1c-99ee-7794c4cb6640","name":"timestamp da recuperação","value":"={{ $('Main').item.json['timestamp da recuperação'] }}","type":"number"},{"id":"9a9d93bc-e71d-44e9-8009-c9a5029e2c40","name":"data e hora da recuperação","value":"={{ $('Main').item.json['data e hora da recuperação'] }}","type":"string"},{"id":"11300972-b277-4453-a650-2f542ad72733","name":"relação do cliente com a max","value":"={{ $('Main').item.json['relação do cliente com a max'] }}","type":"string"},{"id":"3f0ee708-49eb-46af-9662-afa6584e27e7","name":"e-mail destinatário","value":"={{ $('Main').item.json['e-mail destinatário'] }}","type":"string"},{"id":"f10e5c77-d15c-4de3-a7a0-a4d68fd5038a","name":"e-mail em cópia","value":"={{ $('Main').item.json['e-mail em cópia'] }}","type":"string"},{"id":"ae9b1c51-634d-4414-8d38-c532d84cb8f9","name":"timestamp para cálculo de redução de tempo","value":"={{ $('Main').item.json['timestamp para cálculo de redução de tempo'] }}","type":"number"},{"id":"b503dd25-9a50-400c-99ed-b75a915cde2a","name":"máximo rodadas no encerramento","value":"={{ $('Main').item.json['máximo rodadas no encerramento'] }}","type":"number"},{"id":"f90667dc-7fd8-4a5f-a41b-fc91d8d9661b","name":"informações do link","value":"={{ $('Main').item.json['informações do link'] }}","type":"array"},{"id":"5c0082bc-7453-4b3e-b8fc-241e3b00d0e2","name":"tempo que permaneceu o alerta","value":"={{ $('Main').item.json['timestamp da recuperação'] - $('Main').item.json['timestamp da queda'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1296,1104],"id":"0d44a78b-db2d-4d11-bc11-4523095d5838","name":"Normaliza os dados"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['tipo de evento'] }}","rightValue":"Abertura Chamado","operator":{"type":"string","operation":"equals"},"id":"697db71d-3d9c-438b-abd7-b5581062d868"}],"combinator":"and"},"renameOutput":true,"outputKey":"ABERTURA_CHAMADO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7ddbfb2b-56d5-4a9c-ad06-438239315149","leftValue":"={{ $json['tipo de evento'] }}","rightValue":"=Encerramento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ENCERRAMENTO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1520,1104],"id":"637ad73c-fd02-487c-a75a-8167e0a62801","name":"Rota statusChamado"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"host.get\",\n  \"params\": {\n    \"output\": [\"hostid\", \"name\"],\n    \"selectGroups\": [\"groupid\", \"name\"],\n    \"hostids\": \"{{ $json['id do host'] }}\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 2\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1744,800],"id":"6c125e16-2f68-4cf4-b248-db7624dd6411","name":"Zabbix: Consulta grupo do host","retryOnFail":true},{"parameters":{"jsCode":"const nomeSimplificadoHost = $('Normaliza os dados').first().json['nome simplificado do host'];\nconst groups = $input.first().json.result[0].groups;\n\n// Função de limpeza e tokenização\nfunction tokenize(text) {\n  if (typeof text !== 'string') return [];\n  \n  return text\n    .normalize('NFD')                   // separa acentos\n    .replace(/[\\u0300-\\u036f]/g, '')    // remove acentos\n    .toUpperCase()\n    .replace(/[^\\p{L}\\p{N}\\s-]+/gu, ' ') // remove símbolos e pontuação\n    .split(/[\\s-]+/)                    // separa por espaços e hífens\n    .filter(Boolean);                   // remove vazios\n}\n\n// Quebra o nome do host\nconst hostWords = tokenize(nomeSimplificadoHost);\nconst hostSet = new Set(hostWords);\n\nlet bestMatch = null;\nlet bestScore = 0;\n\nfor (const group of groups) {\n  const groupWords = tokenize(group.name);\n  let matches = 0;\n\n  // Conta quantas palavras do grupo estão no host\n  for (const word of groupWords) {\n    if (hostSet.has(word)) matches++;\n  }\n\n  // Atualiza o melhor grupo se houver pelo menos 2 palavras em comum\n  if (matches >= 2 && matches > bestScore) {\n    bestScore = matches;\n    bestMatch = group;\n  }\n}\n\n// Retorno formatado\nif (bestMatch) {\n  return [\n    {\n      json: {\n        dados_grupo: {\n          groupid: parseInt(bestMatch.groupid),\n          groupname: bestMatch.name,\n          score: bestScore\n        }\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: {\n        dados_grupo: {\n          message: \"Nenhum grupo correspondente\"\n        }\n      }\n    }\n  ];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1968,800],"id":"0dacf0cc-1af3-48ca-9126-23470e9bc0b2","name":"Verifica o grupo do host"},{"parameters":{"operation":"getAll","tableId":"base","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"timestamp_queda","condition":"gte","keyValue":"={{ $('Normaliza os dados').item.json['timestamp para cálculo de redução de tempo'] }}"},{"keyName":"groupId","condition":"eq","keyValue":"={{ $json.dados_grupo.groupid }}"},{"keyName":"status_chamado","condition":"lt","keyValue":"4"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2192,800],"id":"fb4b87f3-519a-42a4-9a08-3daa4772c824","name":"Supabase: Recupera correspondência do grupo","alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"name\", \"value\", \"host\", \"hostid\"],\n    \"select_acknowledges\": [\n      \"acknowledgeid\",\n      \"userid\",\n      \"eventid\",\n      \"clock\",\n      \"message\",\n      \"action\",\n      \"username\"\n    ],\n    \"time_from\": \"{{ $('Normaliza os dados').item.json['timestamp para cálculo de redução de tempo'] }}\",\n    \"selectHosts\": [\"hostid\", \"host\"],\n    \"hostids\": \"{{ $('Normaliza os dados').item.json['id do host'] }}\",\n    \"sortfield\": \"clock\",\n    \"sortorder\": \"DESC\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4192,816],"id":"a8e78022-e6ac-4617-b306-c49d5d316371","name":"Zabbix: Recupera eventos anteriores","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false},{"parameters":{"jsCode":"// Filtra apenas eventos com algum acknowledge de action == \"6\"\nconst eventos = $input.first().json.result;\n\n// Filtra apenas eventos que têm pelo menos um ack com action == \"6\"\nconst filtrados = eventos\n  .filter(ev => ev.acknowledges?.some(ack => ack.action == 6))\n  .map(ev => {\n    // Dentro de cada evento, pega só os acks com action == 6\n    const acks6 = (ev.acknowledges || []).filter(ack => ack.action == 6);\n\n    // Ordena por acknowledgeid (numérico) e pega o maior\n    const ackMaior = [...acks6].sort((a, b) => Number(b.acknowledgeid) - Number(a.acknowledgeid))[0];\n\n    // Retorna o evento com destaque para o acknowledge mais recente\n    return {\n      json: {\n        eventid: ev.eventid,\n        clock: ev.clock,\n        hostid: ev.hosts?.[0]?.hostid,\n        host: ev.hosts?.[0]?.host,\n        value: ev.value,\n        // acknowledge de maior id\n        acknowledge_mais_recente: {\n          acknowledgeid: ackMaior.acknowledgeid,\n          clock: ackMaior.clock,\n          \"timestampAck_formatado\": DateTime.fromSeconds(parseInt(ackMaior.clock))\n            .setZone('America/Sao_Paulo')\n            .toFormat('dd/MM/yyyy HH:mm:ss'),\n          message: ackMaior.message,\n          action: ackMaior.action,\n          username: ackMaior.username,\n          userid: ackMaior.userid\n        }\n      }\n    };\n  });\n\n// Retorna cada evento filtrado como item independente\nif (filtrados.length === 0) {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": false\n      }\n    }\n  }\n} else {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": true\n      }\n    }\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4416,816],"id":"2496495e-12c4-4e2e-bef3-8f70a136dc79","name":"Valida action igual a 6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e984daf-3226-4cf3-8086-b35c0eac89d6","leftValue":"={{ $json.rota }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"TABELA SEM TICKET"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3ddd3948-0146-41cc-a2b8-e36638ae6dce","leftValue":"={{ $json.rota }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"TICKET TABELA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.rota }}","rightValue":3,"operator":{"type":"number","operation":"equals"},"id":"e249c04c-23de-49d6-aaa3-5ced4d533d3d"}],"combinator":"and"},"renameOutput":true,"outputKey":"CONSULTA ZABBIX"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[2640,784],"id":"bd81c33c-f8c0-40f0-b74b-62122af1b5c8","name":"Rota ticket"},{"parameters":{"jsCode":"const nomeHostCompleto = $('Normaliza os dados').first().json['nome completo do host'];\nconst nomeHostSimplificado = $('Normaliza os dados').first().json['nome simplificado do host'];\nconst eventoGerador = $('Normaliza os dados').first().json['evento gerador'];\nconst timestampQueda = $('Normaliza os dados').first().json['timestamp da queda'];\nconst dataHoraQuedaFormatada = $('Normaliza os dados').first().json['data e hora da queda'];\nconst operadora = $('Trabalha com as Informações do link').first().json.operadora.operadora;\nconst porta = $('Trabalha com as Informações do link').first().json.operadora.porta;\nconst cnpj = $('Trabalha com as Informações do link').first().json.operadora.cnpj;\nconst endereco = $('Trabalha com as Informações do link').first().json.operadora.endereco;\nconst geop = $('Trabalha com as Informações do link').first().json.operadora.geop;\nconst designacaoCircuito = $('Trabalha com as Informações do link').first().json.operadora.designacao_circuito;\nconst contatoOperadora = $('Supabase: Recupera dados da operadora').first().json.contato;\nconst whatsappOperadora = $('Supabase: Recupera dados da operadora').first().json.whatsapp;\nconst horaComercial = $('Supabase: Recupera dados da operadora').first().json.foraComercial;\nconst idMovideskCliente = $('Normaliza os dados').first().json['id de abertura de chamado no movidesk'];\nconst emCopiaParaVariavel = $('Normaliza os dados').first().json['e-mail em cópia'];\n\n\nlet atendeForaComercial = \"\"\nconst linkOperadora = `${operadora} - ${porta}`;\nconst contatoFormatado = `Ligação: ${contatoOperadora} | Whatsapp: ${whatsappOperadora == null ? \"Não informado\" : whatsappOperadora}`;\nconst designadorCircuitoFormatado = designacaoCircuito == \"NAN\" ? \"Não informado na planilha ou inexistente\" : designacaoCircuito;\n\n\nconst cliente = \"1836303904\"; // idMovideskCliente;\nconst emCopiaPara = \"\"; // emCopiaParaVariavel \n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting(timestamp) {\n  // Converte timestamp (segundos) em objeto Date\n  const date = new Date(timestamp * 1000);\n\n  // Obtém hora local (fuso horário do servidor)\n  const hour = new Date(date.toLocaleString(\"en-US\", { timeZone: \"America/Sao_Paulo\" })).getHours();\n\n  let greeting;\n\n  // Define o turno conforme o horário\n  if (hour >= 18 || hour < 5) {\n    greeting = \"Boa noite\";\n  } else if (hour >= 5 && hour < 12) {\n    greeting = \"Bom dia\";\n  } else {\n    greeting = \"Boa tarde\";\n  }\n\n  return greeting;\n}\n\nconst greeting = getGreeting(timestampQueda)\n\n\nif (horaComercial == null) {\n  atendeForaComercial = \"Não informado\"\n} else if (horaComercial == false) {\n  atendeForaComercial = \"Não\"\n} else {\n  atendeForaComercial = \"Sim\"\n}\n\n\nconst htmlInterno = `\n<h4 style=\"padding: 10px;\"><strong>Informações para abertura de chamado</strong></h4>\n<div style=\"border: 1px solid black; padding: 10px; display: flex; flex-direction: column; justify-content: center; text-align: center; align-items:center; border-radius: 10px; color: black\">\n  <h2>${nomeHostCompleto}</h2>\n  <p><strong>Evento:</strong> ${eventoGerador}</p>\n  <p><strong>Data e hora da queda:</strong> ${dataHoraQuedaFormatada}</p>\n  <p><strong>Link e Operadora:</strong> ${linkOperadora}</p>\n  <p><strong>Designação/Circuito/ID:</strong> ${designadorCircuitoFormatado}</p>\n  <p><strong>Contato da operadora:</strong> ${contatoFormatado}</p>\n  <p><strong>CNPJ:</strong> ${cnpj}</p>\n  <p><strong>Endereço:</strong> ${endereco}</p>\n  <p><strong>GEOP:</strong> ${geop}</p>\n  <p><strong>Operadora atende fora do horário comercial:</strong> ${atendeForaComercial}</p>\n</div>\n`;\n\nconst htmlCliente = `\n<p> ${greeting} </p>\n<p style=\"padding: 10px;\"> O seguinte alerta está sendo tratado por um de nossos analistas. Em breve as informações de abertura do chamado serão encaminhadas. </p>\n<div style=\"display: flex; flex-direction: column; gap: 3px; justify-content: center; text-align: center; align-items: center; border: 1px solid black; border-radius: 10px; padding: 10px; color: black;\">\n  <h2>${nomeHostCompleto}</h2>\n  <p><strong>Evento:</strong> ${eventoGerador}</p>\n  <p><strong>O evento iniciou em:</strong> ${dataHoraQuedaFormatada}</p>\n  <p><strong>Operadora:</strong> ${linkOperadora}</p>\n</div>\n<div style=\"padding: 10px;\">\n  <p> Atenciosamente </p>\n  <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n</div>\n`;\n\nreturn {\n  json: {\n    type: 2,\n    subject: `REPARO - ${nomeHostSimplificado} - ${operadora}`,\n    category: \"01 - Atendimento Helpdesk\",\n    serviceFirstLevelId: 325878,\n    urgency: \"Média\",\n    ownerTeam: \"NOC\",\n    createdBy: { id: \"1458772347\" },\n    Clients: [{ id: cliente }],\n    cc: emCopiaPara,\n    actions: [\n      { type: 1, description: htmlInterno, createdBy: { id: \"1458772347\" } },\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" } }\n    ]\n  }\n};\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6336,848],"id":"e8fba30d-b587-4930-a53b-115bfbfd874d","name":"Prepara dados para abertura de ticket","disabled":true},{"parameters":{"jsCode":"const nomeHost = $('Normaliza os dados').first().json.nomeCompletoHost;\nconst nomeHostLimpo = $('Normaliza os dados').first().json.hostNomeLimpo\nconst evento = $('Normaliza os dados').first().json.nomeEvento;\nconst timestampQueda = $('Normaliza os dados').first().json.timestampQueda;\nconst dataQuedaFormatada = $('Normaliza os dados').first().json.dataHoraQuedaFormatada;\nconst operadora = $('Trabalha com as Informações do link').first().json.operadora.operadora;\nconst porta = $('Trabalha com as Informações do link').first().json.operadora.porta;\nconst unidade = $('Trabalha com as Informações do link').first().json.operadora.unidade;\nconst cnpj = $('Trabalha com as Informações do link').first().json.operadora.cnpj;\nconst endereco = $('Trabalha com as Informações do link').first().json.operadora.endereco;\nconst geop = $('Trabalha com as Informações do link').first().json.operadora.geop;\nconst designacaoCircuito = $('Trabalha com as Informações do link').first().json.operadora.designacao_circuito;\nconst idMovideskCliente = $('Normaliza os dados').first().json['id de abertura de chamado no movidesk'];\nconst emCopiaParaVariavel = $('Normaliza os dados').first().json['e-mail em cópia'];\n// const contatoOperadora = $input.first().json.contato;\n// const whatsappOperadora = $input.first().json.whatsapp;\n// const horaComercial = $input.first().json.foraComercial;\n\n\n// const atendeForaComercial = horaComercial == null ? \"Não informado\" : horaComercial;\nconst linkOperadora = `${operadora} - ${porta}`;\n// const contatoFormatado = `Ligação: ${contatoOperadora} | Whatsapp: ${whatsappOperadora === \"null\" ? \"Não informado\" : whatsappOperadora}`;\nconst dadosUnidade = unidade === \"NAN\" ? \"Não disponível\": unidade;\n\n\nconst cliente = \"1836303904\"; // idMovideskCliente;\nconst emCopiaPara = \"\"; // emCopiaParaVariavel \n\n\nconst htmlInterno = `\n<h4 style=\"padding: 10px;\"><strong>Informações para abertura de chamado</strong></h4>\n<div style=\"border: 1px solid black; padding: 10px; display: flex; flex-direction: column; justify-content: center; text-align: center; align-items:center; border-radius: 10px; color: black\">\n  <h2>${nomeHost}</h2>\n  <p><strong>Evento:</strong> ${evento}</p>\n  <p><strong>Data e hora da queda:</strong> ${dataQuedaFormatada}</p>\n  <p><strong>Link e Operadora:</strong> ${linkOperadora}</p>\n  <p><strong>Designação/Circuito/ID:</strong> ${designacaoCircuito}</p>\n  <p><strong>Contato da operadora:</strong> Dados da operadora não localizados</p>\n  <p><strong>CNPJ:</strong> ${cnpj}</p>\n  <p><strong>Endereço:</strong> ${endereco}</p>\n  <p><strong>GEOP:</strong> ${geop}</p>\n  <p><strong>Contato na unidade:</strong> ${dadosUnidade}</p>\n</div>\n`;\n\nconst htmlCliente = `\n<p style=\"padding: 10px;\"> O seguinte alerta está sendo tratado por um de nossos analistas. Em breve as informações de abertura do chamado serão encaminhadas. </p>\n<div style=\"display: flex; flex-direction: column; gap: 3px; justify-content: center; text-align: center; align-items: center; border: 1px solid black; border-radius: 10px; padding: 10px; color: black;\">\n  <h2>${nomeHost}</h2>\n  <p><strong>Evento:</strong> ${evento}</p>\n  <p><strong>O evento iniciou em:</strong> ${dataQuedaFormatada}</p>\n  <p><strong>Operadora:</strong> ${linkOperadora}</p>\n</div>\n<div style=\"padding: 10px;\">\n  <p> Equipe de monitoramento Maxprotection </p>\n</div>\n`;\n\nreturn {\n  json: {\n    type: 2,\n    subject: `REPARO - ${nomeHostLimpo} - ${operadora}`,\n    category: \"01 - Atendimento Helpdesk\",\n    serviceFirstLevelId: 325878,\n    urgency: \"Média\",\n    ownerTeam: \"NOC\",\n    createdBy: { id: \"1458772347\" },\n    Clients: [{ id: cliente }],\n    cc: emCopiaPara,\n    actions: [\n      { type: 1, description: htmlInterno, createdBy: { id: \"1458772347\" } },\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" } }\n    ]\n  }\n};\n\nreturn [{htmlInterno}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6336,1040],"id":"12208235-3ebd-4669-bb41-8c7302187980","name":"Prepara dados para abertura de ticket1","disabled":true},{"parameters":{"tableId":"base","fieldsUi":{"fieldValues":[{"fieldId":"id_host","fieldValue":"={{ $('Normaliza os dados').item.json['id do host'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}"},{"fieldId":"ticket_movidesk","fieldValue":"={{ $json.id }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da queda'] }}"},{"fieldId":"id_cliente_variaveis","fieldValue":"={{ $('Normaliza os dados').item.json['id do tipo de cliente no banco de dados'] }}"},{"fieldId":"status_chamado","fieldValue":"2"},{"fieldId":"id_evento","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"evento_raiz","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"groupId","fieldValue":"={{ $('Verifica o grupo do host').item.json.dados_grupo.groupid }}"},{"fieldId":"operadora","fieldValue":"={{ $('Supabase: Recupera dados da operadora').item.json.operadora }}"},{"fieldId":"hostLimpo","fieldValue":"={{ $('Normaliza os dados').item.json['nome simplificado do host'] }}"},{"fieldId":"eventsRelacionados","fieldValue":"={{ [$('Normaliza os dados').item.json['id do evento']] }}"},{"fieldId":"count_sla","fieldValue":"true"},{"fieldId":"porta","fieldValue":"={{ $('Trabalha com as Informações do link').item.json.operadora.porta }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6784,944],"id":"5e85eaeb-bc52-4555-a1ea-8ac6a809f3ac","name":"Supabase: Nova linha do chamado","retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e5512f55-cbf0-4796-962e-8994dad803e0","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7008,944],"id":"75072dcb-7335-40cc-a244-b25908e4422a","name":"Criou a linha na tabela?","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"d930fbd4-3b6a-4d84-abed-df337dd7c043","name":"id do evento","value":"={{ $('Normaliza os dados').item.json['id do evento'] }}","type":"number"},{"id":"ee6a9acd-9abd-4540-a353-53a36a263611","name":"nome completo do host","value":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}","type":"string"},{"id":"c1ccc2f7-c4b1-4396-99d0-ba311520a50c","name":"evento gerador","value":"={{ $('Normaliza os dados').item.json['evento gerador'] }}","type":"string"},{"id":"b63f6229-b2d0-4498-8b20-b50632162510","name":"data e hora da queda","value":"={{ $('Normaliza os dados').item.json['data e hora da queda'] }}","type":"string"},{"id":"d9c6e7eb-1922-483e-b89a-dd91fa1adb95","name":"id","value":"={{ $('Supabase: Nova linha do chamado').item.json.id }}","type":"number"},{"id":"e6883652-5d52-4538-812c-d6ad6dedfe51","name":"operadora","value":"={{ $('Supabase: Nova linha do chamado').item.json.operadora }}","type":"string"},{"id":"0fc918b5-60f9-40b0-9940-240ccee8b0b0","name":"contato","value":"={{ $('Supabase: Recupera dados da operadora').item.json.contato }}","type":"string"},{"id":"e6786e06-2ffb-4f1c-ad8a-44d42054f1ce","name":"ticket_movidesk","value":"={{ $('Supabase: Nova linha do chamado').item.json.ticket_movidesk }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7232,864],"id":"ffb68b60-7a3a-4ddd-aed8-61443491bcb4","name":"Ajusta os dados para comunicação nas mídas","disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=\n**Host:** {{ $json['nome completo do host'] }}\n**Evento:** {{ $json['evento gerador'] }}\n**Data e hora do evento:** {{ $json['data e hora da queda'] }}\n\n**Ticket Movidesk:** {{ $json.ticket_movidesk }}\n**Operadora:** {{ $json.operadora }}\n**Contato da operadora:** {{ $json.contato }}\n**Linha no BD:** {{ $json.id }}\n\nO ticket aguarda atuação do analista!","color":"#FF7518","title":"=🚨 NOVO ALERTA - ABRIR CHAMADO NA OPERADORA  {{ $json.operadora.toUpperCase() }}","thumbnail":"https://imagepng.org/wp-content/uploads/2018/08/alerta.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[7456,768],"id":"6af29866-a054-4017-bb88-90f75bfb295f","name":"Discord: Notifica abertura de chamado","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}},"disabled":true},{"parameters":{"chatId":"-1003134293207","text":"=ABRIR CHAMADO!\n\n🖥️ **Host:** {{ $json['nome completo do host'] }}\n⚠️ **Evento:** {{ $json['evento gerador'] }}\n🕒 **Data e hora do evento:** {{ $json['data e hora da queda'] }}\n\n🎫 **Ticket Movidesk:** {{ $json.ticket_movidesk }}\n  **Operadora:** {{ $json.operadora }} (contato: {{ $json.contato }})\n📄 **Linha no BD:** {{ $json.id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[7456,960],"id":"04857852-c6e0-4000-8152-bfdfa8de8bc9","name":"Telegram: Notifica abertura de chamado","webhookId":"69430f89-0bb1-47a4-87c1-bd6679c3bac9","credentials":{"telegramApi":{"id":"2Bf07kZjNNq9Pv7T","name":"Telegram account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b2eebcca-4dd7-4602-99f0-426c5681e53e","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7680,768],"id":"397716f8-9a7f-4f68-bcb8-ff80eb0dc621","name":"Houve notificação para equipe?","disabled":true},{"parameters":{"jsCode":"const ticketMovidesk = $('Supabase: Nova linha do chamado').first().json.ticket_movidesk;\n\nconst messageAcks = `Equipe notificada para atuação - ticket Movidesk ${ticketMovidesk}`;\nconst eventId = $('Ajusta os dados para comunicação nas mídas').first().json.id_evento;\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: messageAcks,\n    action: 4\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7904,720],"id":"6d991e42-8697-4f83-a5c4-a408fc4fdbfe","name":"Prepara dados para reconhecimento do alerta","disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8128,720],"id":"58cb75b8-0488-40e5-8827-d41710b8f498","name":"Zabbix: Reconhece o alerta","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}},"disabled":true},{"parameters":{"jsCode":"// --- Etapa 1: Captura a mensagem do ack mais recente ---\nconst mensagemTicket = $input.first().json.acksFiltrados.filtrados[0].json.acknowledge_mais_recente.message;\n\n// --- Etapa 2: Extrai número do ticket ---\nlet numeroTicket;\nconst numerosEncontrados = mensagemTicket ? mensagemTicket.match(/\\d+/) : null;\n\nif (numerosEncontrados && numerosEncontrados.length > 0) {\n  numeroTicket = parseInt(numerosEncontrados[0]);\n} else {\n  numeroTicket = mensagemTicket; // pode ser texto (ex.: \"Sem ticket\", \"0\", etc.)\n}\n\n// --- Etapa 3: Valida se o retorno é número ou texto ---\nif (typeof numeroTicket === \"string\" || isNaN(numeroTicket)) {\n  return [\n    {\n      json: {\n        ticket: 0,\n        mensagemTicket\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: {\n        ticket: numeroTicket,\n        mensagemTicket\n      }\n    }\n  ];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5008,336],"id":"469a512b-0316-4b47-ba29-cd5354ae7821","name":"Ajusta número ticket e mensagem reconhecimento"},{"parameters":{"tableId":"base","fieldsUi":{"fieldValues":[{"fieldId":"id_host","fieldValue":"={{ $('Normaliza os dados').item.json['id do host'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da queda'] }}"},{"fieldId":"id_cliente_variaveis","fieldValue":"={{ $('Normaliza os dados').item.json['id do tipo de cliente no banco de dados'] }}"},{"fieldId":"status_chamado","fieldValue":"2"},{"fieldId":"id_evento","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"evento_raiz","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"groupId","fieldValue":"={{ $('Verifica o grupo do host').item.json.dados_grupo.groupid }}"},{"fieldId":"hostLimpo","fieldValue":"={{ $('Normaliza os dados').item.json['nome simplificado do host'] }}"},{"fieldId":"ticket_movidesk","fieldValue":"={{ $json.ticket }}"},{"fieldId":"eventsRelacionados","fieldValue":"={{ [$('Normaliza os dados').item.json['id do evento']] }}"},{"fieldId":"operadora","fieldValue":"={{ $json.operadora }}"},{"fieldId":"porta","fieldValue":"={{ $('Trabalha com as Informações do link2').item.json.operadora.porta }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5680,336],"id":"8cf65383-e324-470d-9ed1-6280846c1d55","name":"Supabase: Nova linha do chamado1","retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4e558c46-5b6d-4d34-b610-e2060eaf6f49","leftValue":"={{ $json.ticket_movidesk }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5904,336],"id":"9d000352-e376-4a20-800d-fed009c20ded","name":"Ticket Movidesk igual a 0?"},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6128,432],"id":"eb5cd69d-7708-4ce8-b9ad-6bfb9618fbc1","name":"Prepara dados para reconhecimento"},{"parameters":{"jsCode":"const messageAcks = $('Ajusta número ticket e mensagem reconhecimento').first().json.mensagemTicket;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: messageAcks,\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6128,240],"id":"26ea6a31-7801-4b4a-aa53-6b2084b4c338","name":"Prepara dados para reconhecimento1"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=EVENTO RECONHECIDO\n\n**Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**Evento:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**Data e hora do evento:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n\n**Ticket Movidesk:** {{ $('Supabase: Nova linha do chamado1').item.json.ticket_movidesk }}\n**Linha no BD:** {{ $('Supabase: Nova linha do chamado1').item.json.id }}","color":"#69BF6C","title":"=Reconhecimento de alerta","thumbnail":"https://imagepng.org/wp-content/uploads/2019/12/check-icone-scaled.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[6576,240],"id":"7602f5b6-16b4-4266-abec-4b2a974bbc34","name":"Discord: Notifica reconhecimento2","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=EVENTO RECONHECIDO\n\n**Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**Evento:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**Data e hora do evento:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n\n**Ticket Movidesk:** {{ $('Supabase: Nova linha do chamado1').item.json.ticket_movidesk }}\n**Linha no BD:** {{ $('Supabase: Nova linha do chamado1').item.json.id }}","color":"#69BF6C","title":"=Reconhecimento de alerta","thumbnail":"https://imagepng.org/wp-content/uploads/2019/12/check-icone-scaled.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[6576,432],"id":"45756b30-8774-4b4f-a766-89521fe5de90","name":"Discord: Notifica reconhecimento3","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6352,240],"id":"1e75e5b8-817a-4e21-b554-5574a9b8db71","name":"Zabbix: Reconhece evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6352,432],"id":"32014694-3ec4-4d7f-954d-382d750ed46a","name":"Zabbix: Reconhece evento1","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Abertura de chamado INDIGO\n\nCliente: {{ $('Normaliza os dados').item.json['nome completo do host'] }}\nAlerta: {{ $('Normaliza os dados').item.json['evento gerador'] }}\nData e hora da queda: {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n","color":"#FFDE21","title":"🚨 Novo alerta"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[4992,1360],"id":"0ba7aa69-ce61-4359-b057-76ee9b62f425","name":"Discord: Notifica adm HORA COMERCIAL","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}},{"parameters":{"jsCode":"const nomeHostSupabase = $('Supabase: Recupera correspondência do grupo').first().json.nome_host;\nconst nomeHostEvento = $('Normaliza os dados').first().json['nome completo do host'];\nconst idTabela = $('Supabase: Recupera correspondência do grupo').first().json.id;\nconst qndQuedas = $('Supabase: Recupera correspondência do grupo').first().json.qnd_quedas;\n\nif (nomeHostSupabase == nomeHostEvento) {\n  return [{igualdadeDeHost: true, idTabela, qndQuedas}]\n} else {\n  return [{igualdadeDeHost: false, idTabela, qndQuedas}]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3072,-144],"id":"94b77bf9-b3f3-42d6-922a-464fdd081358","name":"Verifica igualdade de hosts"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"67371f0a-6119-4eaf-8f11-ce2becc7bc8b","leftValue":"={{ $json.igualdadeDeHost }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3296,-144],"id":"5b8337fe-3e36-4208-a0e7-a2f5e7c769cd","name":"Hosts são iguais?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d86fa3fc-d1b8-4ec8-b40c-b1a08bd7482f","leftValue":"={{ $('Supabase: Recupera correspondência do grupo').item.json.ticket_movidesk }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3744,-368],"id":"0280cf16-75da-47be-bd48-d6f647b18d6f","name":"Ticket Movidesk é 0?"},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"name\", \"value\", \"host\", \"hostid\"],\n    \"select_acknowledges\": [\n      \"acknowledgeid\",\n      \"userid\",\n      \"eventid\",\n      \"clock\",\n      \"message\",\n      \"action\",\n      \"username\"\n    ],\n    \"time_from\": \"{{ $('Prepara os dados').item.json['timestamp para cálculo de redução de tempo'] }}\",\n    \"selectHosts\": [\"hostid\", \"host\"],\n    \"hostids\": \"{{ $('Prepara os dados').item.json['id do host'] }}\",\n    \"sortfield\": \"clock\",\n    \"sortorder\": \"DESC\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3968,-464],"id":"7b2a0cf7-bdda-4e5e-971a-47fca6ba69a0","name":"Zabbix: Recupera dados do evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false},{"parameters":{"jsCode":"// Filtra apenas eventos com algum acknowledge de action == \"6\"\nconst eventos = $input.first().json.result;\n\n// Filtra apenas eventos que têm pelo menos um ack com action == \"6\"\nconst filtrados = eventos\n  .filter(ev => ev.acknowledges?.some(ack => ack.action == 6))\n  .map(ev => {\n    // Dentro de cada evento, pega só os acks com action == 6\n    const acks6 = (ev.acknowledges || []).filter(ack => ack.action == 6);\n\n    // Ordena por acknowledgeid (numérico) e pega o maior\n    const ackMaior = [...acks6].sort((a, b) => Number(b.acknowledgeid) - Number(a.acknowledgeid))[0];\n\n    // Retorna o evento com destaque para o acknowledge mais recente\n    return {\n      json: {\n        eventid: ev.eventid,\n        clock: ev.clock,\n        hostid: ev.hosts?.[0]?.hostid,\n        host: ev.hosts?.[0]?.host,\n        value: ev.value,\n        // acknowledge de maior id\n        acknowledge_mais_recente: {\n          acknowledgeid: ackMaior.acknowledgeid,\n          clock: ackMaior.clock,\n          \"timestampAck_formatado\": DateTime.fromSeconds(parseInt(ackMaior.clock))\n            .setZone('America/Sao_Paulo')\n            .toFormat('dd/MM/yyyy HH:mm:ss'),\n          message: ackMaior.message,\n          action: ackMaior.action,\n          username: ackMaior.username,\n          userid: ackMaior.userid\n        }\n      }\n    };\n  });\n\n// Retorna cada evento filtrado como item independente\nif (filtrados.length === 0) {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": false\n      }\n    }\n  }\n} else {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": true\n      }\n    }\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4192,-464],"id":"0b5e4fef-c5d4-4ec3-ae42-c9a6ce58b862","name":"Separa os alertas com reconhecimento 6"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4640,-368],"id":"359fe091-d00d-4865-9618-87e958f5ef17","name":"Zabbix: Reconhece o evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const messageAcks = $input.first().json.acksFiltrados.filtrados[0].json.acknowledge_mais_recente.message;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: messageAcks,\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4416,-464],"id":"1b5cccaa-36c4-4d39-a3e2-6205145b60b2","name":"Prepara dados para reconhecimento2"},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4416,-272],"id":"e6418733-5117-46ef-b56d-e1d2b0068f93","name":"Prepara dados para reconhecimento3"},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.idTabela }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"qnd_quedas","fieldValue":"={{ $json.qndQuedas + 1 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3520,-368],"id":"1b5bb9cf-a266-474f-8e52-192fff477d60","name":"Supabase: Atualiza qnd_quedas","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const eventosRelacionados = $('Supabase: Recupera correspondência do grupo').first().json.eventsRelacionados;\nconst novoEvento = $('Normaliza os dados').first().json['id do evento'];\nconst timestamQueda = $('Normaliza os dados').first().json['timestamp da queda'];\nconst timestampAtual = DateTime.now().toUnixInteger()\n\nconst difTimestamp_queda_atual = timestampAtual - timestamQueda;\nconst minutosEmSegundos = 1800;\n\nfunction validaDentroDe30Minutos(timestampDaQueda, variavelCalculo) {\n  let dentroDoPrazo = null\n  if (timestampDaQueda <= variavelCalculo) {\n    dentroDoPrazo = true\n    return dentroDoPrazo\n  } else {\n    dentroDoPrazo = false\n    return dentroDoPrazo\n  }\n}\n\nconst eventosRelacionadosAtualizado = Array()\nfor (const event of eventosRelacionados) {\n  eventosRelacionadosAtualizado.push(event)\n}\n\neventosRelacionadosAtualizado.push(novoEvento)\n\nreturn [{\n  eventosRelacionadosAtualizado,\n  dentroDe30Minutos: validaDentroDe30Minutos(difTimestamp_queda_atual, minutosEmSegundos)\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3520,64],"id":"d5ebca86-c1f5-4b09-aa5e-98bf710ff317","name":"Prepara push de eventos dentro do tempo"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3e20d80d-1506-4a91-9cf5-2ff70594f92e","leftValue":"={{ $json.dentroDe30Minutos }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3744,64],"id":"e3684b83-a7f5-497c-9f08-dc814d641ae6","name":"Dentro de 30 minutos?"},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Verifica igualdade de hosts').item.json.idTabela }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"eventsRelacionados","fieldValue":"={{ $json.eventosRelacionadosAtualizado }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3968,16],"id":"f4102d29-abbf-456b-8ccd-3c33ab37151e","name":"Supabase: Atualiza evento existente","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"method":"PATCH","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6&id={{ $('Supabase: Atualiza evento existente').item.json.ticket_movidesk }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4416,-80],"id":"85de068b-5bbc-473b-96d5-86c09b741cdf","name":"Movidesk: Atualiza ticket","retryOnFail":true},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4192,112],"id":"f23bfbab-a270-4c12-95ed-1ac92dede187","name":"Prepara dados para reconhecimento4"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4416,112],"id":"524d65bb-ec9a-47ed-9515-f608becc1ca0","name":"Zabbix: Reconhece evento2","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const nomeCompleto_host = $('Normaliza os dados').first().json['nome completo do host']\nconst nomeHost_simplificado = $('Normaliza os dados').first().json['nome simplificado do host']\nconst evento_gerador = $('Normaliza os dados').first().json['evento gerador']\nconst dataHora_queda = $('Normaliza os dados').first().json['data e hora da queda']\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting(timestamp) {\n  // Converte timestamp (segundos) em objeto Date\n  const date = new Date(timestamp * 1000);\n\n  // Obtém hora local (fuso horário do servidor)\n  const hour = new Date(date.toLocaleString(\"en-US\", { timeZone: \"America/Sao_Paulo\" })).getHours();\n\n  let greeting;\n\n  // Define o turno conforme o horário\n  if (hour >= 18 || hour < 5) {\n    greeting = \"Boa noite\";\n  } else if (hour >= 5 && hour < 12) {\n    greeting = \"Bom dia\";\n  } else {\n    greeting = \"Boa tarde\";\n  }\n\n  return greeting;\n}\n\nconst agora = new Date();\nconst timestampSegundos = Math.floor(agora.getTime() / 1000);\nconst greeting = getGreeting(timestampSegundos)\n\n\nconst htmlCliente = `\n  <p>${greeting}</p>\n  <br>\n  <p>Identificamos um novo alerta em nosso sistema de monitoramento:</p>\n  <div style=\"padding: 10px; border: 1px solid black; border-radius: 10px; display: flex; flex-direction: column; justify-content: center; text-align: center; align-items: center; color: black; margin: 10px 0\">\n    <h2>${nomeCompleto_host}</h2>\n    <p style=\"font-size: 16px;\"><strong>Evento:</strong> ${evento_gerador}</p>\n    <p style=\"font-size: 16px;\"><strong>Data e hora da queda:</strong> ${dataHora_queda}</p>\n  </div>\n  \n  <p> Gostaríamos de confirmar se a ocorrência já é de conhecimento da equipe ${nomeHost_simplificado} ou se trata de uma falha eventual? </p>\n  <p>Recomendamos a verificação da ocorrência acima para validação e tratativa da indisponibilidade. Permaneceremos em monitoramento e informaremos quando o evento estiver com status de resolvido em nosso monitoramento.</p>\n  <br>\n  <br>\n  <p>Atenciosamente </p>\n  <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n  `;\n\nreturn {\n  json: {\n    actions: [\n      {\n        type: 2,\n        description: htmlCliente,\n        createdBy: {id: \"1458772347\"},\n        workTime: \"00:01:00\"\n      }\n    ]\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4192,-80],"id":"2b0e41a3-b4e2-478e-9c5e-339d6fd0eba1","name":"Prepara dados para atualização Movidesk"},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=EVENTO RECONHECIDO NO ZABBIX\n\n🖥️ **Host:** {{ $('Normaliza os dados').item.json.nomeCompletoHost }}\n📛 **Nome do alerta:** {{ $('Normaliza os dados').item.json.nomeEvento }}\n🕒 **Data e hora do evento:** {{ $('Normaliza os dados').item.json.dataHoraQuedaFormatada }}\n🕒 **Data e hora da atualização:** {{ DateTime.now().format('dd/MM/yyyy HH:mm:ss')}}\n🎟️ **Ticket Movidesk:** {{ $('Supabase: Recupera correspondência do grupo').item.json.ticket_movidesk }}\n**Operadora:** {{ $('Supabase: Recupera correspondência do grupo').item.json.operadora.toSentenceCase() }}","color":"#69BF6C","title":"🚨 O seguinte evento foi atualizado no Zabbix e na tabela"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[4640,16],"id":"ec774110-925f-4568-a877-07f0650aa8f9","name":"Discord: Notifica reconhecimento de evento","webhookId":"eeed722b-607e-4597-8511-e54a55e53154","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}},{"parameters":{"chatId":"-1003134293207","text":"=EVENTO RECONHECIDO NO ZABBIX\n\n🖥️ **Host:** {{ $('Normaliza os dados').item.json.nomeCompletoHost }}\n📛 **Nome do alerta:** {{ $('Normaliza os dados').item.json.nomeEvento }}\n🕒 **Data e hora do evento:** {{ $('Normaliza os dados').item.json.dataHoraQuedaFormatada }}\n🕒 **Data e hora da atualização:** {{ DateTime.now().format('dd/MM/yyyy HH:mm:ss')}}\n🎟️ **Ticket Movidesk:** {{ $('Supabase: Recupera correspondência do grupo').item.json.ticket_movidesk }}\n**Operadora:** {{ $('Supabase: Recupera correspondência do grupo').item.json.operadora.toSentenceCase() }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4864,16],"id":"6b044fb6-ed85-4be6-bd26-3516d4f2fb30","name":"Telegram: Notifica reconhecimento de evento","webhookId":"69430f89-0bb1-47a4-87c1-bd6679c3bac9","credentials":{"telegramApi":{"id":"2Bf07kZjNNq9Pv7T","name":"Telegram account"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Cliente: {{ $('Normaliza os dados').item.json['nome completo do host'] }}\nAlerta: {{ $('Normaliza os dados').item.json['evento gerador'] }}\nData e hora da queda: {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\nData e hora da recuperação: {{ $('Normaliza os dados').item.json['data e hora da recuperação'] }}","color":"#69BF6C","title":"ALERTA ENCERRADO NO ZABBIX"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1744,1408],"id":"2dd7c57c-a28b-43ce-8ffb-1efe1f2c52c5","name":"Discord: Notifica encerramento","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"lA2qaXo0Uc6Pobsl","name":"Canal: encerramento de chamado"}}},{"parameters":{"operation":"getAll","tableId":"base","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"id_evento","condition":"eq","keyValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1968,1408],"id":"8c4abb81-ab7e-4a50-a74a-063a2760c88d","name":"Supabase: Recupera correspondências","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ee4631ab-499c-4581-a453-627afaa9b1bb","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2192,1408],"id":"6b7c58e4-2ac2-475b-83c4-4e548a64d44c","name":"Existe correspondências?"},{"parameters":{"operation":"update","tableId":"base","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Supabase: Recupera correspondências').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_chamado","fieldValue":"3"},{"fieldId":"id_evento_recuperacao","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da recuperação'] }}"},{"fieldId":"timestampRecuperacao","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da recuperação'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2640,1408],"id":"48721bee-e2b5-4b24-996d-330811846369","name":"Supabase: Atualiza evento de recuperação","retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**Evento:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**Data e hora da queda:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n**Data e hora da recuperação:** {{ $('Normaliza os dados').item.json['data e hora da recuperação'] }}\n**Tempo indisponível:** {{ $('Normaliza os dados').item.json['tempo que permaneceu o alerta'] / 60 }} minutos\n**Ticket Movidesk:** {{ $json.ticket_movidesk }}\n**Operadora:** {{ $json.operadora.toUpperCase() }}","color":"#69BF6C","title":"=EVENTO RESTABELECIDO"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2864,1408],"id":"cc5e8c89-9b5d-4809-bec9-1aacd63cd680","name":"Discord: Notifica sobre recuperação","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"rn6H9u9BbR5a2R1n","name":"Canal: Monitorando-encerramento"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status_chamado }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"4e117ddb-6789-443e-97c9-dcd97a866939"}],"combinator":"and"},"renameOutput":true,"outputKey":"SEM TICKET MOVIDESK"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"db26aa3f-6041-40a1-ad65-6c91db02f9fb","leftValue":"={{ $json.status_chamado }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ATUALIZA STATUS_CHAMADO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[2416,1312],"id":"bd7e6ec9-2bb5-44e3-8918-a2a87f8140f4","name":"Rotas statusChamado"},{"parameters":{"operation":"update","tableId":"base","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Supabase: Recupera correspondências').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_chamado","fieldValue":"4"},{"fieldId":"id_evento_recuperacao","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da recuperação'] }}"},{"fieldId":"timestampRecuperacao","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da recuperação'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2640,1216],"id":"b767d0c5-32a3-4026-b5b7-e74060291656","name":"Supabase: Atualiza evento de recuperação1","retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**Evento:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**Data e hora da queda:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n**Data e hora da recuperação:** {{ $('Normaliza os dados').item.json['data e hora da recuperação'] }}\n**Tempo indisponível:** {{ $('Normaliza os dados').item.json['tempo que permaneceu o alerta'] / 60 }} minutos\n**Ticket Movidesk:** {{ $json.ticket_movidesk }}\n**Operadora:** {{ $json.operadora.toUpperCase() }}","color":"#69BF6C","title":"=EVENTO RESTABELECIDO SEM TICKET"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2864,1216],"id":"a12b9dfa-046a-48ae-babc-9622050e1134","name":"Discord: Notifica sobre recuperação1","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"rn6H9u9BbR5a2R1n","name":"Canal: Monitorando-encerramento"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2416,1504],"id":"82d81bb5-a93a-4ee8-b562-6a60617c9a7f","name":"No Ops"},{"parameters":{"jsCode":"// Função para encontrar a operadora baseada na porta\nfunction encontrarOperadora() {\n    const nomeHostCompleto = $('Normaliza os dados').first().json['nome completo do host'].toUpperCase();\n    const nomeEvento = $('Normaliza os dados').first().json['evento gerador'].toUpperCase();\n    const arrayBlocoLinks = $('Normaliza os dados').first().json['informações do link'];\n\n    // Verifica se o arrayBlocoLinks existe e tem elementos\n    if (!arrayBlocoLinks || !Array.isArray(arrayBlocoLinks) || arrayBlocoLinks.length === 0) {\n        return null;\n    }\n\n    let resultado = null;\n\n    // Percorre o arrayBlocoLinks em busca dos elementos \"porta\"\n    for (const bloco of arrayBlocoLinks) {\n        const porta = bloco.porta;\n        const operadora = bloco.operadora;\n        const unidade = bloco.unidade;\n        const endereco = bloco.endereco;\n        const cnpj = bloco.cnpj;\n        const designacao_circuito = bloco.designacao_circuito;\n        const geop = bloco.geop;\n\n        // Verifica se a porta foi encontrada em nomeHostCompleto ou nomeEvento\n        if (porta && \n            (nomeHostCompleto.includes(porta) || nomeEvento.includes(porta))) {\n            resultado = {\n                porta: porta,\n                operadora: operadora,\n                unidade: unidade,\n                endereco: endereco,\n                cnpj: cnpj,\n                designacao_circuito: designacao_circuito,\n                geop: geop\n            };\n            break; // Para no primeiro match encontrado\n        }\n    }\n\n    return resultado;\n}\n\n\n\n// Para obter apenas a primeira operadora encontrada:\nconst operadora = encontrarOperadora();\n\nreturn [{operadora}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5232,336],"id":"8091170b-8222-4315-8a66-343d0e7c4226","name":"Trabalha com as Informações do link2"},{"parameters":{"operation":"getAll","tableId":"operadoras","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"operadora","condition":"eq","keyValue":"={{ $json.operadora.operadora.toLowerCase() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5456,336],"id":"88a61cb2-52b6-4e98-9603-4dbc936e5a3d","name":"Supabase: Recupera dados da operadora2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const evento = $input.first().json['evento gerador'];\nconst tags = $input.first().json.tags;\n\nlet existeEvento = false;\n\n// Caso especial\nif (evento === \"Alta perda de pacotes em 10min\") {\n  return [{ existeEvento }];\n}\n\n// Verifica aplicacao=link\nconst temAplicacaoLink = tags.some(t =>\n  t.tag.toLowerCase() === \"aplicacao\" &&\n  t.value.toLowerCase() === \"link\"\n);\n\n// Verifica noc\nconst tagNoc = tags.find(t => t.tag.toLowerCase() === \"noc\");\nconst temNoc = !!tagNoc;\nconst valorNoc = tagNoc ? tagNoc.value : null;\n\n// ===============================\n//      APLICAÇÃO DAS REGRAS\n// ===============================\n\n// ❌ Se noc existir e for \"0\" → sempre inválido\nif (temNoc && valorNoc === \"0\") {\n  existeEvento = false;\n}\n\n// ✔ Se noc existir e for diferente de 0 → só válido SE aplicacao=link\nelse if (temNoc && valorNoc !== \"0\") {\n  existeEvento = temAplicacaoLink;\n}\n\n// ✔ Se NÃO existir noc, mas aplicacao=link → válido\nelse if (!temNoc && temAplicacaoLink) {\n  existeEvento = true;\n}\n\n// ❌ Demais casos → inválido\nelse {\n  existeEvento = false;\n}\n\nreturn [{\n  existeEvento,\n  temAplicacaoLink,\n  temNoc,\n  valorNoc\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,1200],"id":"e2c4990f-0f4b-4e85-99bc-73e4fda6cccb","name":"Avalia se existe tags corretas e se o evento é correto"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6688ae3f-8c58-4d0a-a9f5-e260f6684af1","leftValue":"={{ $json.existeEvento }}","rightValue":"Alta perda de pacotes em 10min","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"86faec49-ae33-42c9-b473-a6cc785575c9","leftValue":"={{ $json.valorNoc }}","rightValue":"1","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1072,1200],"id":"00170351-16ba-45b7-962f-c905df586db2","name":"Existe evento?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1296,1296],"id":"0f950d5b-cd1e-4bea-8960-0517cea96392","name":"No Ops1"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"r_eventid\"],\n    \"selectHosts\": [\"hostid\", \"name\"],\n    \"groupids\": \"{{ $('Verifica o grupo do host').item.json.dados_grupo.groupid }}\",\n    \"selectRelatedObject\": [\"description\", \"value\"],\n    \"selectAcknowledges\": [\"clock\", \"message\", \"action\", \"username\"],\n    \"time_from\": \"{{ $('Normaliza os dados').item.json['timestamp da queda'] - 60*30 }}\",\n    \"time_till\": \"{{ $('Normaliza os dados').item.json['timestamp da queda'] + 60*30 }}\",\n    \"sortfield\": [\"clock\", \"eventid\"],\n    \"sortorder\": \"DESC\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5664,848],"id":"e2e1abb6-c53d-4912-a7b0-cd3113c0884a","name":"Zabbix: Consulta de eventos do grupo","retryOnFail":true,"disabled":true},{"parameters":{"jsCode":"const resultados = $input.first().json.result;\n\nlet eventosAtivos = Array();\nfor (const evento of resultados) {\n  const r = parseInt(evento.r_eventid);\n  const v = parseInt(evento.relatedObject.value)\n  if (r >= 1 && v === 1) {\n    eventosAtivos.push({\n      eventid: evento.eventid,\n      idRecuperacao: evento.r_eventid,\n      timestamp: evento.clock,\n      hostName: evento.hosts[0].name,\n      evento: evento.relatedObject.description,\n      status: evento.relatedObject.value\n    })\n  }\n}\n\nreturn [{eventosAtivos}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5888,848],"id":"87454ae4-b45d-4f26-8e08-6943cd03b7fe","name":"Separa eventos ativos do host","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6e96db70-9f9c-4aa2-9883-e0a3935066b8","leftValue":"={{ $json.eventosAtivos }}","rightValue":1,"operator":{"type":"array","operation":"lengthGte","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6112,848],"id":"12b06e5c-1f88-4c97-a00d-03e8ff868741","name":"Tem 2 ou mais itens no array?","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a7f8777-5b32-476d-91e8-c3a801ffe757","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5440,848],"id":"8b8238fd-d073-4c97-bd30-e2851d0fc848","name":"Existe operadora?","disabled":true},{"parameters":{"jsCode":"// Função para encontrar a operadora baseada na porta\nfunction encontrarOperadora() {\n    const nomeHostCompleto = $('Normaliza os dados').first().json['nome completo do host'].toUpperCase();\n    const nomeEvento = $('Normaliza os dados').first().json['evento gerador'].toUpperCase();\n    const arrayBlocoLinks = $('Normaliza os dados').first().json['informações do link'];\n\n    // Verifica se o arrayBlocoLinks existe e tem elementos\n    if (!arrayBlocoLinks || !Array.isArray(arrayBlocoLinks) || arrayBlocoLinks.length === 0) {\n        return null;\n    }\n\n    let resultado = null;\n\n    // Percorre o arrayBlocoLinks em busca dos elementos \"porta\"\n    for (const bloco of arrayBlocoLinks) {\n        const porta = bloco.porta;\n        const operadora = bloco.operadora;\n        const unidade = bloco.unidade;\n        const endereco = bloco.endereco;\n        const cnpj = bloco.cnpj;\n        const designacao_circuito = bloco.designacao_circuito;\n        const geop = bloco.geop;\n\n        // Verifica se a porta foi encontrada em nomeHostCompleto ou nomeEvento\n        if (porta && \n            (nomeHostCompleto.includes(porta) || nomeEvento.includes(porta))) {\n            resultado = {\n                porta: porta,\n                operadora: operadora,\n                unidade: unidade,\n                endereco: endereco,\n                cnpj: cnpj,\n                designacao_circuito: designacao_circuito,\n                geop: geop\n            };\n            break; // Para no primeiro match encontrado\n        }\n    }\n\n    return resultado;\n}\n\n\n\n// Para obter apenas a primeira operadora encontrada:\nconst operadora = encontrarOperadora();\n\nreturn [{operadora}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4992,848],"id":"de777a76-fdae-4db5-9867-8b1f76718d96","name":"Trabalha com as Informações do link","disabled":true},{"parameters":{"operation":"getAll","tableId":"operadoras","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"operadora","condition":"eq","keyValue":"={{ $json.operadora.operadora.toLowerCase() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5216,848],"id":"fa6e0780-08ed-4912-85a6-a8075271ca62","name":"Supabase: Recupera dados da operadora","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true}],"connections":{"Main":{"main":[[{"node":"Avalia se existe tags corretas e se o evento é correto","type":"main","index":0}]]},"Valida se existe ticket e direciona":{"main":[[{"node":"Rota ticket","type":"main","index":0}]]},"Existe registro?":{"main":[[{"node":"Ajusta número ticket e mensagem reconhecimento","type":"main","index":0}],[{"node":"Discord: Notifica adm HORA COMERCIAL","type":"main","index":0},{"node":"Trabalha com as Informações do link","type":"main","index":0}]]},"Movidesk: Informa atuação para 1 evento":{"main":[[{"node":"Supabase: Nova linha do chamado","type":"main","index":0}]]},"Normaliza os dados":{"main":[[{"node":"Rota statusChamado","type":"main","index":0}]]},"Rota statusChamado":{"main":[[{"node":"Zabbix: Consulta grupo do host","type":"main","index":0}],[{"node":"Discord: Notifica encerramento","type":"main","index":0}]]},"Zabbix: Consulta grupo do host":{"main":[[{"node":"Verifica o grupo do host","type":"main","index":0}]]},"Verifica o grupo do host":{"main":[[{"node":"Supabase: Recupera correspondência do grupo","type":"main","index":0}]]},"Supabase: Recupera correspondência do grupo":{"main":[[{"node":"Valida se existe ticket e direciona","type":"main","index":0}]]},"Zabbix: Recupera eventos anteriores":{"main":[[{"node":"Valida action igual a 6","type":"main","index":0}]]},"Valida action igual a 6":{"main":[[{"node":"Existe registro?","type":"main","index":0}]]},"Rota ticket":{"main":[[],[{"node":"Verifica igualdade de hosts","type":"main","index":0}],[{"node":"Zabbix: Recupera eventos anteriores","type":"main","index":0}]]},"Prepara dados para abertura de ticket":{"main":[[{"node":"Movidesk: Informa atuação para 1 evento","type":"main","index":0}]]},"Prepara dados para abertura de ticket1":{"main":[[{"node":"Movidesk: Informa atuação para 1 evento","type":"main","index":0}]]},"Supabase: Nova linha do chamado":{"main":[[{"node":"Criou a linha na tabela?","type":"main","index":0}]]},"Criou a linha na tabela?":{"main":[[{"node":"Ajusta os dados para comunicação nas mídas","type":"main","index":0}],[{"node":"Notifica erro no Discord","type":"main","index":0}]]},"Ajusta os dados para comunicação nas mídas":{"main":[[{"node":"Telegram: Notifica abertura de chamado","type":"main","index":0},{"node":"Discord: Notifica abertura de chamado","type":"main","index":0}]]},"Discord: Notifica abertura de chamado":{"main":[[{"node":"Houve notificação para equipe?","type":"main","index":0}]]},"Houve notificação para equipe?":{"main":[[{"node":"Prepara dados para reconhecimento do alerta","type":"main","index":0}],[{"node":"Notifica erro no Discord","type":"main","index":0}]]},"Prepara dados para reconhecimento do alerta":{"main":[[{"node":"Zabbix: Reconhece o alerta","type":"main","index":0}]]},"Ajusta número ticket e mensagem reconhecimento":{"main":[[{"node":"Trabalha com as Informações do link2","type":"main","index":0}]]},"Supabase: Nova linha do chamado1":{"main":[[{"node":"Ticket Movidesk igual a 0?","type":"main","index":0}]]},"Ticket Movidesk igual a 0?":{"main":[[{"node":"Prepara dados para reconhecimento1","type":"main","index":0}],[{"node":"Prepara dados para reconhecimento","type":"main","index":0}]]},"Prepara dados para reconhecimento":{"main":[[{"node":"Zabbix: Reconhece evento1","type":"main","index":0}]]},"Prepara dados para reconhecimento1":{"main":[[{"node":"Zabbix: Reconhece evento","type":"main","index":0}]]},"Zabbix: Reconhece evento":{"main":[[{"node":"Discord: Notifica reconhecimento2","type":"main","index":0}]]},"Zabbix: Reconhece evento1":{"main":[[{"node":"Discord: Notifica reconhecimento3","type":"main","index":0}]]},"Discord: Notifica adm HORA COMERCIAL":{"main":[[]]},"Verifica igualdade de hosts":{"main":[[{"node":"Hosts são iguais?","type":"main","index":0}]]},"Hosts são iguais?":{"main":[[{"node":"Supabase: Atualiza qnd_quedas","type":"main","index":0}],[{"node":"Prepara push de eventos dentro do tempo","type":"main","index":0}]]},"Ticket Movidesk é 0?":{"main":[[{"node":"Zabbix: Recupera dados do evento","type":"main","index":0}],[{"node":"Prepara dados para reconhecimento3","type":"main","index":0}]]},"Zabbix: Recupera dados do evento":{"main":[[{"node":"Separa os alertas com reconhecimento 6","type":"main","index":0}]]},"Separa os alertas com reconhecimento 6":{"main":[[{"node":"Prepara dados para reconhecimento2","type":"main","index":0}]]},"Prepara dados para reconhecimento2":{"main":[[{"node":"Zabbix: Reconhece o evento","type":"main","index":0}]]},"Prepara dados para reconhecimento3":{"main":[[{"node":"Zabbix: Reconhece o evento","type":"main","index":0}]]},"Supabase: Atualiza qnd_quedas":{"main":[[{"node":"Ticket Movidesk é 0?","type":"main","index":0}]]},"Prepara push de eventos dentro do tempo":{"main":[[{"node":"Dentro de 30 minutos?","type":"main","index":0}]]},"Dentro de 30 minutos?":{"main":[[{"node":"Supabase: Atualiza evento existente","type":"main","index":0}],[{"node":"Zabbix: Recupera eventos anteriores","type":"main","index":0}]]},"Prepara dados para reconhecimento4":{"main":[[{"node":"Zabbix: Reconhece evento2","type":"main","index":0}]]},"Supabase: Atualiza evento existente":{"main":[[{"node":"Prepara dados para atualização Movidesk","type":"main","index":0},{"node":"Prepara dados para reconhecimento4","type":"main","index":0}]]},"Prepara dados para atualização Movidesk":{"main":[[{"node":"Movidesk: Atualiza ticket","type":"main","index":0}]]},"Movidesk: Atualiza ticket":{"main":[[{"node":"Discord: Notifica reconhecimento de evento","type":"main","index":0}]]},"Zabbix: Reconhece evento2":{"main":[[{"node":"Discord: Notifica reconhecimento de evento","type":"main","index":0}]]},"Discord: Notifica reconhecimento de evento":{"main":[[{"node":"Telegram: Notifica reconhecimento de evento","type":"main","index":0}]]},"Discord: Notifica encerramento":{"main":[[{"node":"Supabase: Recupera correspondências","type":"main","index":0}]]},"Supabase: Recupera correspondências":{"main":[[{"node":"Existe correspondências?","type":"main","index":0}]]},"Existe correspondências?":{"main":[[{"node":"Rotas statusChamado","type":"main","index":0}],[{"node":"No Ops","type":"main","index":0}]]},"Supabase: Atualiza evento de recuperação":{"main":[[{"node":"Discord: Notifica sobre recuperação","type":"main","index":0}]]},"Rotas statusChamado":{"main":[[{"node":"Supabase: Atualiza evento de recuperação1","type":"main","index":0}],[{"node":"Supabase: Atualiza evento de recuperação","type":"main","index":0}]]},"Supabase: Atualiza evento de recuperação1":{"main":[[{"node":"Discord: Notifica sobre recuperação1","type":"main","index":0}]]},"Trabalha com as Informações do link2":{"main":[[{"node":"Supabase: Recupera dados da operadora2","type":"main","index":0}]]},"Supabase: Recupera dados da operadora2":{"main":[[{"node":"Supabase: Nova linha do chamado1","type":"main","index":0}]]},"Avalia se existe tags corretas e se o evento é correto":{"main":[[{"node":"Existe evento?","type":"main","index":0}]]},"Existe evento?":{"main":[[{"node":"Normaliza os dados","type":"main","index":0}],[{"node":"No Ops1","type":"main","index":0}]]},"Separa eventos ativos do host":{"main":[[{"node":"Tem 2 ou mais itens no array?","type":"main","index":0}]]},"Zabbix: Consulta de eventos do grupo":{"main":[[{"node":"Separa eventos ativos do host","type":"main","index":0}]]},"Tem 2 ou mais itens no array?":{"main":[[],[{"node":"Prepara dados para abertura de ticket","type":"main","index":0}]]},"Trabalha com as Informações do link":{"main":[[{"node":"Supabase: Recupera dados da operadora","type":"main","index":0}]]},"Supabase: Recupera dados da operadora":{"main":[[{"node":"Existe operadora?","type":"main","index":0}]]},"Existe operadora?":{"main":[[{"node":"Zabbix: Consulta de eventos do grupo","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2025-11-05T16:31:43.287Z","createdAt":"2025-11-05T16:31:43.287Z","id":"JcnJcC8kUspunBU7","name":"clientes_contrato"},{"updatedAt":"2025-10-24T18:08:27.659Z","createdAt":"2025-10-24T18:08:27.659Z","id":"oUDNU2rUDi9xwp5Q","name":"FluxoNOC_principal"}]}