01.03.-contratos-2-7rJ1XQvZeoircDAf.json
{"updatedAt":"2025-12-03T12:11:07.000Z","createdAt":"2025-11-05T19:53:37.201Z","id":"7rJ1XQvZeoircDAf","name":"01.03. contratos 2","active":true,"isArchived":true,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.linha_tabela }}","rightValue":"Rota1 - ticketTabela","operator":{"type":"string","operation":"equals"},"id":"b53a2c98-1777-47a6-bb9c-3122c2c362ab"}],"combinator":"and"},"renameOutput":true,"outputKey":"Acks + Obs"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bb41d250-8bb6-4cfe-b2ce-b52df85a86b9","leftValue":"={{ $json.linha_tabela }}","rightValue":"Rota 3 - verificarZabbix","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Verificar Zabbix"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-176,448],"id":"71003a6b-1bf8-4564-afe6-880ee4a672dd","name":"Rotas"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cc1def41-b486-40e0-a4c2-5862b24ac381","leftValue":"={{ $json['tipo de evento'] }}","rightValue":"Abertura Chamado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-848,448],"id":"1adaae2f-8f88-4862-8e7b-58b87b755d73","name":"Abertura chamado?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d86fa3fc-d1b8-4ec8-b40c-b1a08bd7482f","leftValue":"={{ $('Supabase: Recupera correspondências').item.json.ticket_movidesk }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1136,-608],"id":"f8131293-e40d-4dff-b1f2-df4671409f44","name":"Ticket Movidesk é 0?"},{"parameters":{"jsCode":"const eventosRelacionados = $input.first().json.eventsRelacionados\n\nlet rotaEventosRelacionados = null;\nif (eventosRelacionados.length >= 2) {\n  rotaEventosRelacionados = true;\n} else {\n  rotaEventosRelacionados = false;\n}\n\n\nreturn [\n  {\n    eventosRelacionados,\n    rotaEventosRelacionados\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1520,912],"id":"d5a92481-9d24-4018-b1c7-2a3e36a0b5bf","name":"Prepara os dados para vários eventos"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2df73fb5-8791-48c0-88fb-d345f41813ef","leftValue":"={{ $json.rotaEventosRelacionados }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1296,912],"id":"5fde5471-b962-4efe-8883-50f32579cb35","name":"Existem dois eventos ou mais?"},{"parameters":{"jsCode":"const resultadoConsultaREvent = $input.first().json.result;\nconst arrayHosts = $('Organiza os dados em arrays').first().json.hosts;\nconst arrayEventos = $('Organiza os dados em arrays').first().json.eventos;\n\nconst arrayClocks = [];\nfor (const resultadoConsulta of resultadoConsultaREvent) {\n  arrayClocks.push(resultadoConsulta.clock);\n}\n\n// ==== RETORNA GREETING CONFORME HORÁRIO ATUAL EM SÃO PAULO ====\nfunction getGreeting() {\n  const horaSaoPaulo = new Date().toLocaleString(\"en-US\", { timeZone: \"America/Sao_Paulo\" });\n  const hora = new Date(horaSaoPaulo).getHours();\n\n  if (hora >= 18 || hora < 5) return \"Boa noite\";\n  if (hora >= 5 && hora < 12) return \"Bom dia\";\n  return \"Boa tarde\";\n}\n\n// ==== CONVERTE TIMESTAMP PARA FORMATO BR ====\nfunction formatarData(timestamp) {\n  const date = new Date(timestamp * 1000);\n  return date.toLocaleString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\" });\n}\n\nconst greeting = getGreeting();\n\n// ==== MONTA TABELA HTML ====\nlet tabelaHTML = `\n  <table style=\"width: 100%; border-collapse: collapse; text-align: left; margin-top: 10px;\">\n    <thead>\n      <tr style=\"background-color: #f2f2f2;\">\n        <th style=\"border: 1px solid #ccc; padding: 8px;\">Host</th>\n        <th style=\"border: 1px solid #ccc; padding: 8px;\">Evento</th>\n        <th style=\"border: 1px solid #ccc; padding: 8px;\">Data e hora de encerramento</th>\n      </tr>\n    </thead>\n    <tbody>\n`;\n\nfor (let i = 0; i < arrayHosts.length; i++) {\n  const host = arrayHosts[i] || \"-\";\n  const evento = arrayEventos[i] || \"-\";\n  const dataHora = arrayClocks[i] ? formatarData(arrayClocks[i]) : \"-\";\n\n  tabelaHTML += `\n    <tr>\n      <td style=\"border: 1px solid #ccc; padding: 8px;\">${host}</td>\n      <td style=\"border: 1px solid #ccc; padding: 8px;\">${evento}</td>\n      <td style=\"border: 1px solid #ccc; padding: 8px;\">${dataHora}</td>\n    </tr>\n  `;\n}\n\ntabelaHTML += `\n    </tbody>\n  </table>\n`;\n\n// ==== MENSAGEM HTML FINAL ====\nconst htmlCliente = `\n  <p>${greeting}</p>\n  <br>\n  <p>Os seguintes alertas abaixo já constam como restabelecidos em nosso sistema de monitoramento:</p>\n  ${tabelaHTML}\n  <br><br>\n  <p>Atenciosamente,</p>\n  <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n`;\n\n// ==== RETORNO FINAL ====\nreturn {\n  json: {\n    actions: [\n      {\n        type: 2,\n        description: htmlCliente,\n        createdBy: { id: \"1458772347\" },\n        workTime: \"00:01:00\"\n      }\n    ]\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,912],"id":"6c73d066-e289-425f-b51a-beed44e8793b","name":"Ajusta informação de encerramento para n eventos"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"name\", \"r_eventid\"],\n    \"eventids\": [{{ $json.eventosRelacionados }}],\n\n    \"selectHosts\": [\"hostid\", \"name\", \"description\"],\n\n    \"selectRelatedObject\": [\n      \"triggerid\",\n      \"description\",\n      \"value\",\n      \"priority\"\n    ]\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1072,816],"id":"11b7c95a-0557-41ad-a063-3548ac7d91d4","name":"Zabbix: Consulta dados de n eventos","retryOnFail":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\"],\n    \"eventids\": [{{ $('Organiza os dados em arrays').item.json.rEventRecuperacao }}],\n\n    \"selectHosts\": [\"hostid\", \"name\", \"description\"]\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,912],"id":"00d6bbbf-4324-486f-86e1-0a4250ad8802","name":"Zabbix: Recupera o clock dos eventos","retryOnFail":true},{"parameters":{"method":"PATCH","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6&id={{ $('Supabase: Recupera correspondências1').item.json.ticket_movidesk }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[48,1008],"id":"7e3b8ac0-2940-406f-a265-cfc09572d1ad","name":"Movidesk: Notifica encerramento","retryOnFail":true},{"parameters":{"method":"PATCH","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6&id={{ $('Supabase: Recupera correspondências1').item.json.ticket_movidesk }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,1008],"id":"808efea3-42ff-4585-b8de-5c238c8cef2a","name":"Movidesk: Encerra ticket no Movidesk","retryOnFail":true},{"parameters":{"operation":"getAll","tableId":"base","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"id_evento","condition":"eq","keyValue":"={{ $json['id do evento'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2192,1104],"id":"afd082f4-c131-4b82-ae60-8ed51ce96432","name":"Supabase: Recupera correspondências1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"id_evento_recuperacao","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da recuperação'] }}"},{"fieldId":"status_chamado","fieldValue":"5"},{"fieldId":"timestampRecuperacao","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da recuperação'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1744,912],"id":"1bb6b6ec-4f32-4082-b55a-3c78ba31fe6f","name":"Supabase: Atualiza timestamp de recuperação","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const resultados = $input.first().json.result;\n\nlet hosts = [];\nlet eventos = [];\nlet rEventRecuperacao = [];\nlet eventosAtivos = [];\n\nfor (const resultado of resultados) {\n  if (parseInt(resultado.r_eventid) >= 1 && parseInt(resultado.relatedObject.value) == 0) {\n    hosts.push(resultado.hosts[0].name);\n    eventos.push(resultado.name);\n    rEventRecuperacao.push(resultado.r_eventid);\n  } else if (parseInt(resultado.r_eventid) == 0 && parseInt(resultado.relatedObject.value) == 1) {\n    eventosAtivos.push(resultado.eventid)\n  }\n}\n\nreturn [\n  {\n    hosts,\n    eventos,\n    rEventRecuperacao,\n    eventosAtivos\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-848,816],"id":"eb27fd01-1535-4dc7-bf34-67e193881fbd","name":"Organiza os dados em arrays"},{"parameters":{"jsCode":"const nomeHost = $('Normaliza os dados').first().json['nome completo do host'];\nconst nomeEvento = $('Normaliza os dados').first().json['evento gerador'];\nconst dataHoraQueda_formatada = $('Normaliza os dados').first().json['data e hora da queda']\nconst dataHoraRestabelecimento_formatada = $('Normaliza os dados').first().json['data e hora da recuperação'];\n\n// ==== RETORNA GREETING CONFORME HORÁRIO ATUAL EM SÃO PAULO ====\nfunction getGreeting() {\n  // Obtém o horário atual diretamente no fuso horário de São Paulo\n  const agora = new Date().toLocaleString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\" });\n  const horaAtual = new Date(agora).getHours();\n\n  if (horaAtual >= 18 || horaAtual < 5) {\n    return \"Boa noite\";\n  } else if (horaAtual >= 5 && horaAtual < 12) {\n    return \"Bom dia\";\n  } else {\n    return \"Boa tarde\";\n  }\n}\n\nconst greeting = getGreeting();\n\n// ===== PREPARAÇÃO PARA CRIAÇÃO DO TICKET ====\nconst htmlCliente = `\n<p>${greeting}</p>\n<br>\n<p>O seguinte alerta abaixo já consta como restabelecido em nosso sistema de monitoramento:</p>\n\n<div style=\"padding: 10px; border: 1px solid black; border-radius: 10px; display: flex; flex-direction: column; justify-content: center; text-align: center; align-items: center; color: black; margin: 10px 0\">\n  <h2>${nomeHost}</h2>\n  <p style=\"font-size: 16px;\"><strong>Evento:</strong> ${nomeEvento}</p>\n  <p style=\"font-size: 16px;\"><strong>Data e hora da queda:</strong> ${dataHoraQueda_formatada}</p>\n  <p style=\"font-size: 16px;\"><strong>Data e hora do restabelecimento:</strong> ${dataHoraRestabelecimento_formatada}</p>\n</div>\n<br>\n<br>\n<p>Atenciosamente </p>\n<img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n`;\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nreturn {\n  json: {\n    actions: [\n      {\n        type: 2,\n        description: htmlCliente,\n        createdBy: { id: \"1458772347\" },\n        workTime: \"00:01:00\"\n      }\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,1104],"id":"edc3abee-b2d0-43f7-baa9-15336baf9d86","name":"Supabase: Atualiza encerramento do evento"},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Supabase: Recupera correspondências1').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_chamado","fieldValue":"5"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[272,1008],"id":"38f2579a-95ae-470a-901d-b1c2b74457cd","name":"Supabase: Atualiza encerramento do evento1","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"amount":1.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[496,1008],"id":"f1ec13e6-dadb-4a4c-b7f4-d68b7310aabb","name":"Aguarda","webhookId":"3412b67e-a067-45e3-8c98-ea268685dee3"},{"parameters":{"jsCode":"return {\n  json: {\n    status: \"Resolvido\",\n    baseStatus: \"Closed\", //\"Stopped\"\n    justification: null, //\"Validação\"\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,1008],"id":"bcf01831-7776-4427-bda6-bc66f771ab06","name":"Prepara dados para encerramento "},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1e39d8e2-b356-4be7-b2b0-27c94a849abd","leftValue":"={{ $json.eventosAtivos }}","rightValue":1,"operator":{"type":"array","operation":"lengthGte","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-624,816],"id":"0696afbb-9265-4e39-80ec-f0f3043370c0","name":"Existem eventos ativos?","alwaysOutputData":false,"retryOnFail":false},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"name\"],\n    \"eventids\": \"{{ $json.eventosAtivos }}\",\n\n    \"selectHosts\": [\"hostid\", \"name\", \"description\"],\n\n    \"select_acknowledges\": [\n      \"acknowledgeid\",\n      \"eventid\",\n      \"clock\",\n      \"message\",\n      \"action\"\n    ],\n\n    \"selectRelatedObject\": [\n      \"triggerid\",\n      \"description\",\n      \"value\",\n      \"priority\"\n    ]\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,720],"id":"f9497607-c009-4793-a8be-109df39379dc","name":"Consulta dados do evento no Zabbix","retryOnFail":true,"disabled":true},{"parameters":{},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-176,720],"id":"67c5686f-e7f1-4c93-9a64-a6ff31da1cdd","name":"Create a row","credentials":{"supabaseApi":{"id":"p9a9JH9aNSyBZyub","name":"Supabase account 2"}},"disabled":true},{"parameters":{"method":"POST","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,720],"id":"9e6028f0-15ca-44a1-be3b-0030d4880237","name":"Movidesk: Notifica indisponibilidade1","retryOnFail":true,"disabled":true},{"parameters":{"jsCode":"const nomeHost = $('Normaliza os dados').first().json['nome completo do host'];\nconst nomeEvento = $('Normaliza os dados').first().json['evento gerador'];\nconst timestampQueda = $('Normaliza os dados').first().json['timestamp da queda'];\nconst dataHoraFormatada = $('Normaliza os dados').first().json['data e hora da queda']\nconst nomeHostLimpo = $('Normaliza os dados').first().json['nome simplificado do host'];\nconst idMovideskAberturaTickets = $('Normaliza os dados').first().json['id de abertura de chamado no movidesk'];\nlet copiaTicketMovidesk = $('Normaliza os dados').first().json['e-mail em cópia']\n\nif (copiaTicketMovidesk == \"\") {\n  copiaTicketMovidesk = \"\"\n} else {\n  copiaTicketMovidesk\n}\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting(timestamp) {\n  // Converte timestamp (segundos) em objeto Date\n  const date = new Date(timestamp * 1000);\n\n  // Obtém hora local (fuso horário do servidor)\n  const hour = new Date(date.toLocaleString(\"en-US\", { timeZone: \"America/Sao_Paulo\" })).getHours();\n\n  let greeting;\n\n  // Define o turno conforme o horário\n  if (hour >= 18 || hour < 5) {\n    greeting = \"Boa noite\";\n  } else if (hour >= 5 && hour < 12) {\n    greeting = \"Bom dia\";\n  } else {\n    greeting = \"Boa tarde\";\n  }\n\n  return greeting;\n}\n\n// ==== EXTRAIR OPERADORA DO NOME DO HOST ====\nfunction extrairOperadoraDoHost(nomeHostCompleto) {\n    if (!nomeHostCompleto) return \"(NOME DA OPERADORA)\";\n    \n    // Divide o nome do host pelos hífens\n    const partes = nomeHostCompleto.split(\" - \");\n    \n    // Se tiver pelo menos 3 partes, pega a segunda parte (índice 1)\n    if (partes.length >= 3) {\n        return partes[1].trim();\n    }\n    \n    // Se não encontrar o padrão esperado, retorna o padrão\n    return \"\";\n}\n\nconst nomeLink = extrairOperadoraDoHost(nomeHost);\nconst greeting = getGreeting(timestampQueda)\n\n// ==== VARIÁVEIS DO CLIENTE =====\nconst idCliente = idMovideskAberturaTickets // para teste: \"1836303904\";\nconst emCopiaPara = copiaTicketMovidesk;\n\n// ===== PREPARAÇÃO PARA CRIAÇÃO DO TICKET ====\nconst htmlCliente = `\n<p>${greeting}</p>\n<br>\n<p>Identificamos o seguinte alerta em nosso sistema de monitoramento:</p>\n\n<div style=\"padding: 10px; border: 1px solid black; border-radius: 10px; display: flex; flex-direction: column; justify-content: center; text-align: center; align-items: center; color: black; margin: 10px 0\">\n  <h2>${nomeHost}</h2>\n  <p style=\"font-size: 16px;\"><strong>Evento:</strong> ${nomeEvento}</p>\n  <p style=\"font-size: 16px;\"><strong>Data e hora da queda:</strong> ${dataHoraFormatada}</p>\n</div>\n\n<p> Gostaríamos de confirmar se a ocorrência já é de conhecimento da equipe ${nomeHostLimpo} ou se trata de uma falha eventual? </p>\n<p>Recomendamos a verificação da ocorrência acima para validação e tratativa da indisponibilidade. Permaneceremos em monitoramento e informaremos quando o evento estiver com status de resolvido em nosso monitoramento.</p>\n<br>\n<br>\n<p>Atenciosamente </p>\n<img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n`;\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nreturn {\n  json: {\n    type: 2,\n    subject: `REPARO - ${nomeHostLimpo} - ${nomeLink}`,\n    category: \"01 - Atendimento Helpdesk\",\n    serviceFirstLevelId: 325878,\n    urgency: \"Média\",\n    ownerTeam: \"NOC\",\n    status: \"Aguardando\",\n    justification: \"Validação\",\n    createdBy: { id: \"1458772347\" },\n    Clients: [{ id: idCliente }],\n    cc: emCopiaPara,\n    actions: [\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" } }\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,720],"id":"0c0aa78e-03de-4c96-8e2c-f6916953dce3","name":"Prepara dados para abertura de chamado1","disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,720],"id":"bc3aefcb-7f4f-4e1d-b16b-d1e68864078f","name":"Zabbix: Reconhece evento4","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}},"disabled":true},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $input.first().json.id_evento;\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,720],"id":"86b27a16-9ad6-422e-83d9-3985fe96f007","name":"Prepara dados para reconhecimento6","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1744,1296],"id":"f55019e9-91a0-4a84-90d0-99f2430b012c","name":"Faça nada1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"acccb782-9be4-49a2-a2e1-6fc9ae5066e4","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1968,1104],"id":"325b4a47-174a-46c6-a37a-e20eb4a5f6de","name":"Tem dados na tabela?1"},{"parameters":{"content":"ROTA DE ENCERRAMENTO","height":768,"width":3328,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2240,688],"id":"96634cf4-2dc2-405c-a591-c9d3ee521267","name":"Sticky Note2","disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=O seguinte alerta foi encerrado\n\nCliente: {{ $('Normaliza os dados').item.json['nome completo do host'] }}\nAlerta: {{ $('Normaliza os dados').item.json['evento gerador'] }}\nData e hora da queda: {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\nData e hora da recuperação: {{ $('Normaliza os dados').item.json['data e hora da recuperação'] }}","color":"#69BF6C","title":"Alerta foi encerrado no Movidesk"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-1744,1104],"id":"318a0847-5a42-4f29-83dc-feafc389c730","name":"Notifica encerramento1","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"lA2qaXo0Uc6Pobsl","name":"Canal: encerramento de chamado"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1296,448],"id":"b5eb94e4-87fb-490f-9784-971dcb439d01","name":"Quando main é executado"},{"parameters":{"operation":"getAll","tableId":"base","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"hostLimpo","condition":"eq","keyValue":"={{ $json['nome simplificado do host'] }}"},{"keyName":"timestamp_queda","condition":"gte","keyValue":"={{ $json['timestamp para cálculo de redução de tempo'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-624,448],"id":"e17b8a4d-daea-4332-b171-98608cdc5725","name":"Supabase: Recupera correspondências","alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const idEventoTabela = $input.first().json.id;\nconst ticketMovideskTabela = $input.first().json.ticket_movidesk;\n\nif ((idEventoTabela && ticketMovideskTabela) || (idEventoTabela && ticketMovideskTabela == 0) ) {\n  return { \n    \"linha_tabela\": \"Rota1 - ticketTabela\",\n    \"descricao\": \"Com evento e ticket na tabela\"\n  }\n} else if (!idEventoTabela && !ticketMovideskTabela) {\n  return {\n    \"linha_tabela\": \"Rota 3 - verificarZabbix\",\n    \"descricao\": \"Sem evento na tabela\"\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-400,448],"id":"0bcc84d0-1e2a-4130-83ad-7da4f1b0d594","name":"Verifica se existe ticket e direciona na rota"},{"parameters":{"jsCode":"const nomeHostSupabase = $('Supabase: Recupera correspondências').first().json.nome_host;\nconst nomeHostEvento = $('Normaliza os dados').first().json['nome completo do host'];\nconst idTabela = $('Supabase: Recupera correspondências').first().json.id;\nconst qndQuedas = $('Supabase: Recupera correspondências').first().json.qnd_quedas;\n\nif (nomeHostSupabase == nomeHostEvento) {\n  return [{igualdadeDeHost: true, idTabela, qndQuedas}]\n} else {\n  return [{igualdadeDeHost: false, idTabela, qndQuedas}]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,-336],"id":"95a4793e-b1dc-4db0-b5a0-d4b5277ead3b","name":"Verifica igualdade de hosts"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"67371f0a-6119-4eaf-8f11-ce2becc7bc8b","leftValue":"={{ $json.igualdadeDeHost }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[464,-336],"id":"458de5f7-bde5-40b8-bdc9-3e9f0d7bfb08","name":"Hosts são iguais?"},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"name\", \"value\", \"host\", \"hostid\"],\n    \"select_acknowledges\": [\n      \"acknowledgeid\",\n      \"userid\",\n      \"eventid\",\n      \"clock\",\n      \"message\",\n      \"action\",\n      \"username\"\n    ],\n    \"time_from\": \"{{ $('Normaliza os dados').item.json['timestamp para cálculo de redução de tempo'] }}\",\n    \"selectHosts\": [\"hostid\", \"host\"],\n    \"hostids\": \"{{ $('Normaliza os dados').item.json['id do host'] }}\",\n    \"sortfield\": \"clock\",\n    \"sortorder\": \"DESC\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,-704],"id":"c9ae5d8b-03ec-46bf-992f-814f1669fe77","name":"Zabbix: Recupera dados do evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false},{"parameters":{"jsCode":"// Filtra apenas eventos com algum acknowledge de action == \"6\"\nconst eventos = $input.first().json.result;\n\n// Filtra apenas eventos que têm pelo menos um ack com action == \"6\"\nconst filtrados = eventos\n  .filter(ev => ev.acknowledges?.some(ack => ack.action == 6))\n  .map(ev => {\n    // Dentro de cada evento, pega só os acks com action == 6\n    const acks6 = (ev.acknowledges || []).filter(ack => ack.action == 6);\n\n    // Ordena por acknowledgeid (numérico) e pega o maior\n    const ackMaior = [...acks6].sort((a, b) => Number(b.acknowledgeid) - Number(a.acknowledgeid))[0];\n\n    // Retorna o evento com destaque para o acknowledge mais recente\n    return {\n      json: {\n        eventid: ev.eventid,\n        clock: ev.clock,\n        hostid: ev.hosts?.[0]?.hostid,\n        host: ev.hosts?.[0]?.host,\n        value: ev.value,\n        // acknowledge de maior id\n        acknowledge_mais_recente: {\n          acknowledgeid: ackMaior.acknowledgeid,\n          clock: ackMaior.clock,\n          \"timestampAck_formatado\": DateTime.fromSeconds(parseInt(ackMaior.clock))\n            .setZone('America/Sao_Paulo')\n            .toFormat('dd/MM/yyyy HH:mm:ss'),\n          message: ackMaior.message,\n          action: ackMaior.action,\n          username: ackMaior.username,\n          userid: ackMaior.userid\n        }\n      }\n    };\n  });\n\n// Retorna cada evento filtrado como item independente\nif (filtrados.length === 0) {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": false\n      }\n    }\n  }\n} else {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": true\n      }\n    }\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,-704],"id":"0ff4c25b-c25c-42a6-8704-1e8c52253cee","name":"Separa os alertas com reconhecimento 6"},{"parameters":{"jsCode":"const messageAcks = $input.first().json.acksFiltrados.filtrados[0].json.acknowledge_mais_recente.message;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,-704],"id":"7e12bb52-ba78-44e6-8f18-4db66b25e177","name":"Prepara dados para reconhecimento"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2032,-608],"id":"1e21b4f1-20ff-4181-8c04-aab19cad5882","name":"Zabbix: Reconhece o evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.idTabela }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"qnd_quedas","fieldValue":"={{ $json.qndQuedas + 1 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[912,-608],"id":"444d18ab-967d-4267-abcd-d5f10a829dea","name":"Supabase: Atualiza qnd_quedas","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,-512],"id":"c8956fc6-488c-4141-944d-63cdae178e12","name":"Prepara dados para reconhecimento1"},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"name\", \"value\", \"host\", \"hostid\"],\n    \"select_acknowledges\": [\n      \"acknowledgeid\",\n      \"userid\",\n      \"eventid\",\n      \"clock\",\n      \"message\",\n      \"action\",\n      \"username\"\n    ],\n    \"time_from\": \"{{ $('Normaliza os dados').item.json['timestamp para cálculo de redução de tempo'] }}\",\n    \"selectHosts\": [\"hostid\", \"host\"],\n    \"hostids\": \"{{ $('Normaliza os dados').item.json['id do host'] }}\",\n    \"sortfield\": \"clock\",\n    \"sortorder\": \"DESC\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,448],"id":"f1f455b2-fa9e-4157-b66c-d7f06a839ed7","name":"Zabbix: Consulta por eventos anterior","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false},{"parameters":{"jsCode":"// Filtra apenas eventos com algum acknowledge de action == \"6\"\nconst eventos = $input.first().json.result;\n\n// Filtra apenas eventos que têm pelo menos um ack com action == \"6\"\nconst filtrados = eventos\n  .filter(ev => ev.acknowledges?.some(ack => ack.action == 6))\n  .map(ev => {\n    // Dentro de cada evento, pega só os acks com action == 6\n    const acks6 = (ev.acknowledges || []).filter(ack => ack.action == 6);\n\n    // Ordena por acknowledgeid (numérico) e pega o maior\n    const ackMaior = [...acks6].sort((a, b) => Number(b.acknowledgeid) - Number(a.acknowledgeid))[0];\n\n    // Retorna o evento com destaque para o acknowledge mais recente\n    return {\n      json: {\n        eventid: ev.eventid,\n        clock: ev.clock,\n        hostid: ev.hosts?.[0]?.hostid,\n        host: ev.hosts?.[0]?.host,\n        value: ev.value,\n        // acknowledge de maior id\n        acknowledge_mais_recente: {\n          acknowledgeid: ackMaior.acknowledgeid,\n          clock: ackMaior.clock,\n          \"timestampAck_formatado\": DateTime.fromSeconds(parseInt(ackMaior.clock))\n            .setZone('America/Sao_Paulo')\n            .toFormat('dd/MM/yyyy HH:mm:ss'),\n          message: ackMaior.message,\n          action: ackMaior.action,\n          username: ackMaior.username,\n          userid: ackMaior.userid\n        }\n      }\n    };\n  });\n\n// Retorna cada evento filtrado como item independente\nif (filtrados.length === 0) {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": false\n      }\n    }\n  }\n} else {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": true\n      }\n    }\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2032,448],"id":"5745ae0c-21bb-48b0-9cdc-735d8a0cef0c","name":"Separa os alertas igual a 6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb6eff08-3023-4783-bfaf-1cacf44c64ab","leftValue":"={{ $json.acksFiltrados.status }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2256,448],"id":"10c001a1-27d2-46c2-948f-657bf15f16f3","name":"Filtrados está vazio?"},{"parameters":{"jsCode":"// Obtém a mensagem\nlet messageTicket = $input.first().json.acksFiltrados.filtrados[0].json.acknowledge_mais_recente.message;\n\nlet numeroTicket;\n\n// Tenta encontrar números na mensagem\nlet numerosEncontrados = messageTicket.match(/\\d+/);\n\nif (numerosEncontrados && numerosEncontrados.length > 0) {\n    numeroTicket = parseInt(numerosEncontrados[0]);\n} else {\n    // Se não encontrar números, retorna o texto completo\n    numeroTicket = messageTicket;\n}\n\n// Verifica se o valor é uma string (não numérica)\nif (typeof(numeroTicket) === \"string\") {\n  return [\n    { \n      ticketMovidesk: 0,\n      message: messageTicket\n    }\n  ];\n} else {\n  return [\n    { \n      ticketMovidesk: numeroTicket,\n      message: messageTicket\n    }\n  ];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2480,912],"id":"26c38dfd-22e6-48e2-aac1-52cec5b0c7b8","name":"Prepara dados para reconhecimento5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b83ec77b-2171-41f1-b0ba-869e5b6233bd","leftValue":"={{ $json.ticketMovidesk }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2704,912],"id":"9244b13e-f9a4-4183-b59b-10ee1e747d1b","name":"Existe ticket Movidesk?"},{"parameters":{"tableId":"base","fieldsUi":{"fieldValues":[{"fieldId":"id_host","fieldValue":"={{ $('Normaliza os dados').item.json['id do host'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}"},{"fieldId":"ticket_movidesk","fieldValue":"={{ $json.ticketMovidesk }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da queda'] }}"},{"fieldId":"id_cliente_variaveis","fieldValue":"={{ $('Normaliza os dados').item.json['id do tipo de cliente no banco de dados'] }}"},{"fieldId":"status_chamado","fieldValue":"2"},{"fieldId":"id_evento","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"evento_raiz","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"hostLimpo","fieldValue":"={{ $('Normaliza os dados').item.json['nome simplificado do host'] }}"},{"fieldId":"eventsRelacionados","fieldValue":"={{ [\"$('Normaliza os dados').item.json['id do evento']\"] }}"},{"fieldId":"count_sla","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2928,720],"id":"d02f5680-d52a-4a84-bd18-685c188ed5c2","name":"Supabase: Nova linha do chamado","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const messageAcks = $('Zabbix: Consulta por eventos anterior').first().json.result[0].acknowledges[0].message;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3152,720],"id":"88f91843-b8df-49df-b47b-041255e8ead4","name":"Prepara dados para reconhecimento7"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3376,816],"id":"05cb6b3a-da08-4ed8-9da3-e7bbc7dcbcab","name":"Zabbix: Reconhece evento1","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=**Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**Nome do alerta:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**Data e hora do evento:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n**Data e hora da atualização:** {{ DateTime.now().format('dd/MM/yyyy HH:mm:ss')}}\n**Ticket Movidesk:** {{ $('Supabase: Nova linha do chamado1').item.json.ticket_movidesk }}\n\n**Linha no BD:** {{ $('Supabase: Nova linha do chamado1').item.json.id }}\n\n\n*Não foi encontrada linha correpondente no banco de dados, portanto, foi adicionado ao Supabase*","color":"#25FF2C","title":"🚨 Novo evento atualizado no Zabbix"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3376,1008],"id":"20d2f7dd-f03e-442d-a1c8-749024d5f6f4","name":"Discord: Notifica reconhecimento","webhookId":"eeed722b-607e-4597-8511-e54a55e53154","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=*Nota: o evento foi atualizado com o útimo ticket registrado no Zabbix porque ainda está dentro do período de validação de restabelecimento*\n\n**Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**Nome do alerta:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**Data e hora do evento:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n**Data e hora da atualização:** {{ DateTime.now().format('dd/MM/yyyy HH:mm:ss')}}\n**Mensagem de reconhecimento:** {{ $('Zabbix: Consulta por eventos anterior').item.json.result[0].acknowledges[0].message }}\n\n**Linha no BD:** {{ $('Supabase: Nova linha do chamado').item.json.id }}\n\n","color":"#25FF2C","title":"🚨 O seguinte evento foi atualizado no Zabbix e na tabela"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3376,624],"id":"c4c75b7c-a115-44bf-a2af-06ca09e133d8","name":"Discord: Notifica reconhecimento1","webhookId":"eeed722b-607e-4597-8511-e54a55e53154","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}},{"parameters":{"jsCode":"const messageAcks = $('Prepara dados para reconhecimento5').first().json.message;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3152,1008],"id":"4ec249c5-cda6-435b-92b7-9f2ae40fd9a0","name":"Prepara dados para reconhecimento8"},{"parameters":{"tableId":"base","fieldsUi":{"fieldValues":[{"fieldId":"id_host","fieldValue":"={{ $('Normaliza os dados').item.json['id do host'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}"},{"fieldId":"ticket_movidesk","fieldValue":"={{ $json.ticketMovidesk }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da queda'] }}"},{"fieldId":"id_cliente_variaveis","fieldValue":"={{ $('Normaliza os dados').item.json['id do tipo de cliente no banco de dados'] }}"},{"fieldId":"status_chamado","fieldValue":"2"},{"fieldId":"id_evento","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"evento_raiz","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"hostLimpo","fieldValue":"={{ $('Normaliza os dados').item.json['nome simplificado do host'] }}"},{"fieldId":"eventsRelacionados","fieldValue":"={{ [\"$('Normaliza os dados').item.json['id do evento']\"] }}"},{"fieldId":"count_sla","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2928,1008],"id":"b48ec0e1-fe93-42b9-a81c-64c4d067c88e","name":"Supabase: Nova linha do chamado1","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3e20d80d-1506-4a91-9cf5-2ff70594f92e","leftValue":"={{ $json.dentroPrazo }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1136,-32],"id":"22e4f408-c071-405c-9ac3-c3fe420f3af4","name":"Eventos são próximos?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c556d36-f358-486c-8f56-7e6430412193","leftValue":"={{ $json.resultado.eventosParaBd }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1360,-32],"id":"66a36f3a-0f25-4733-bd39-763a155fb6e4","name":"Novo evento para BD?"},{"parameters":{"jsCode":"const nomeCompleto_host = $('Normaliza os dados').first().json['nome completo do host'];\nconst evento_gerador = $('Normaliza os dados').first().json['evento gerador'];\nconst dataHora_queda = $('Normaliza os dados').first().json['data e hora da queda'];\nconst nomeCompleto_simplificado = $('Normaliza os dados').first().json['nome simplificado do host']\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n  // Pega o horário atual no fuso horário de São Paulo\n  const hour = new Date().toLocaleString(\"en-US\", { \n    timeZone: \"America/Sao_Paulo\" \n  });\n  \n  const horaLocal = new Date(hour).getHours();\n\n  let greeting;\n\n  // Define o turno conforme o horário\n  if (horaLocal >= 18 || horaLocal < 5) {\n    greeting = \"Boa noite\";\n  } else if (horaLocal >= 5 && horaLocal < 12) {\n    greeting = \"Bom dia\";\n  } else {\n    greeting = \"Boa tarde\";\n  }\n\n  return greeting;\n}\nconst greeting = getGreeting()\n\n// Monta as linhas do tbody\nlet linhasTabela = \"\";\nlinhasTabela += `\n  <tr>\n    <td>${nomeCompleto_host}</td>\n    <td>${evento_gerador}</td>\n    <td>${dataHora_queda}</td>\n  </tr>\n`;\n\n\nconst htmlCliente = `\n  <p>${greeting}</p>\n  <br>\n  <p>Identificamos um novo alerta relacionado ao evento reportado anteriormente:</p>\n  <div style=\"width: 70%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n  <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n    <thead>\n        <tr>\n          <th>Hosts</th>\n          <th>Eventos</th>\n          <th>Horário das quedas</th>\n        </tr>\n    </thead>\n    <tbody>\n        ${linhasTabela}\n    </tbody>\n  </table>\n</div>\n  \n  <p>Gostaríamos de confirmar se a ocorrência já é de conhecimento da equipe ${nomeCompleto_simplificado} ou se trata de uma falha eventual? </p>\n  <p>Recomendamos a verificação da ocorrência acima para validação e tratativa da indisponibilidade. Permaneceremos em monitoramento desde o do evento anteriro. Informaremos quando o evento estiver com status de resolvido em nosso monitoramento.</p>\n  <br>\n  <br>\n  <p>Atenciosamente </p>\n  <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n  `;\n\nreturn {\n  json: {\n    actions: [\n      {\n        type: 2,\n        description: htmlCliente,\n        createdBy: {id: \"1458772347\"},\n        workTime: \"00:02:00\"\n      }\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,-224],"id":"4c745cc3-1f0c-4bf2-b8a7-49b6f24a612a","name":"Update no Movidesk"},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,-32],"id":"1fb88cf6-4841-4045-8008-8ede01d4ea9e","name":"Reconhecimento no Zabbix"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1584,64],"id":"c36e0903-9edd-458c-aee4-fc6b808ef1d6","name":"No Ops"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2032,-32],"id":"6e1a1f60-b121-4fab-8e7b-5d625db9c01f","name":"Zabbix: Reconhece evento2","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"method":"PATCH","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6&id={{ $('Supabase: Recupera correspondências').item.json.ticket_movidesk }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2032,-224],"id":"a6ed89ec-cd5c-42f7-87af-a7ec4e7e494d","name":"Movidesk: Atualiza ticket1","retryOnFail":true},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Supabase: Recupera correspondências').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"eventsRelacionados","fieldValue":"={{ $json.resultado.eventosRelacionados }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1584,-128],"id":"be8fdf81-ead9-47d0-b1b9-9fb8a4b129ea","name":"Supabase: Atualiza evento existente1","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const timestampEventoAtual = Number($('Normaliza os dados').first().json['timestamp da queda']);\nconst timestampEventoBd = Number($('Supabase: Recupera correspondências').first().json.timestamp_queda);\nlet eventosRelacionadosBd = $('Supabase: Recupera correspondências').first().json.eventsRelacionados;\nconst idEventoAtual = $('Normaliza os dados').first().json['id do evento'];\n\nconst intervaloSegundos = 1800; // 30 minutos\n\nfunction validaComBanco (timestampAtual, timestampBanco, intervalo) {\n  const diferenca = timestampAtual - timestampBanco\n\n  return diferenca >= 0 && diferenca <= intervalo;\n}\n\nlet algumDentroDoPrazo = false;\nif (validaComBanco(timestampEventoAtual, timestampEventoBd, intervaloSegundos)) {\n  algumDentroDoPrazo = true;\n}\n\nfunction validaNovoEvento(eventosRelacionados, eventoAtual) {\n  // Normaliza tudo para string\n  const eventoAtualStr = String(eventoAtual);\n  const eventosNormalizados = eventosRelacionados.map(ev => String(ev));\n\n  const jaExiste = eventosNormalizados.includes(eventoAtualStr);\n\n  if (jaExiste) {\n    return {\n      eventosParaBd: false,\n      eventosRelacionados // mantém original\n    };\n  }\n\n  // Adiciona normalizado\n  eventosRelacionados.push(eventoAtualStr);\n\n  return {\n    eventosParaBd: true,\n    eventosRelacionados\n  };\n}\n\nconst resultado = validaNovoEvento(eventosRelacionadosBd, idEventoAtual);\n\nreturn [{\n  timestampEventoAtual,\n  timestampEventoBd,\n  dentroPrazo: algumDentroDoPrazo,\n  resultado\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,-32],"id":"e8ed42d8-0221-4778-a7f1-80442d679e10","name":"Prepara push de eventos dentro do tempo1"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"host.get\",\n  \"params\": {\n    \"output\": [\"hostid\", \"name\"],\n    \"selectGroups\": [\"groupid\", \"name\"],\n    \"hostids\": \"{{ $('Normaliza os dados').item.json['id do host'] }}\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 2\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2480,160],"id":"6560258c-e422-4c02-a195-da9622cf7650","name":"Zabbix: Consulta grupo do host","retryOnFail":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"r_eventid\"],\n    \"selectHosts\": [\"hostid\", \"name\"],\n    \"groupids\": \"{{ $json.result[0].groups[0].groupid }}\",\n    \"selectRelatedObject\": [\"description\", \"value\"],\n    \"selectAcknowledges\": [\"clock\", \"message\", \"action\", \"username\"],\n    \"time_from\": \"{{ $('Normaliza os dados').item.json['timestamp da queda'] - 60*30 }}\",\n    \"time_till\": \"{{ $('Normaliza os dados').item.json['timestamp da queda'] + 60*30 }}\",\n    \"sortfield\": [\"clock\", \"eventid\"],\n    \"sortorder\": \"DESC\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2704,160],"id":"8aabfdff-66be-4b90-94ef-66fc47dacac4","name":"Zabbix: Consulta de eventos do grupo","retryOnFail":true},{"parameters":{"jsCode":"const nomeHostLimpo = $('Normaliza os dados').first().json['nome simplificado do host'];\nconst hostName = $input.first().json.resultadosFiltrados[0].host\nconst hostsFiltradosParaAviso = $input.first().json.resultadosFiltrados;\nconst idMovideskAberturaTickets = $('Normaliza os dados').first().json['id de abertura de chamado no movidesk'];\nlet copiaTicketMovidesk = $('Normaliza os dados').first().json['e-mail em cópia']\n\nif (copiaTicketMovidesk == \"\") {\n  copiaTicketMovidesk = \"\"\n} else {\n  copiaTicketMovidesk\n}\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n  // Obtém a hora atual no fuso horário de São Paulo\n  const hour = new Date().toLocaleString(\"en-US\", { \n    timeZone: \"America/Sao_Paulo\",\n    hour: \"numeric\",\n    hour12: false\n  });\n\n  let greeting;\n\n  // Define o turno conforme o horário\n  if (hour >= 18 || hour < 5) {\n    greeting = \"Boa noite\";\n  } else if (hour >= 5 && hour < 12) {\n    greeting = \"Bom dia\";\n  } else {\n    greeting = \"Boa tarde\";\n  }\n\n  return greeting;\n}\n\n// Monta as linhas do tbody\nlet linhasTabela = \"\";\n\nfor (const item of hostsFiltradosParaAviso) {\n  linhasTabela += `\n    <tr>\n        <td>${item.host}</td>\n        <td>${item.evento}</td>\n        <td>${item.dataHoraFormatada}</td>\n    </tr>\n  `;\n}\n\n\n// ==== VARIÁVEIS DO CLIENTE =====\nconst idCliente = idMovideskAberturaTickets  // para teste: \"1836303904\";\nconst emCopiaPara = copiaTicketMovidesk;\n\n// ===== PREPARAÇÃO PARA CRIAÇÃO DO TICKET ====\nconst htmlCliente = `\n<p>${getGreeting()}</p>\n<br>\n<p>Identificamos o seguinte alerta em nosso sistema de monitoramento:</p>\n\n<div style=\"width: 70%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n  <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n    <thead>\n        <tr>\n          <th>Hosts</th>\n          <th>Eventos</th>\n          <th>Horário das quedas</th>\n        </tr>\n    </thead>\n    <tbody>\n        ${linhasTabela}\n    </tbody>\n  </table>\n</div>\n\n<p> Gostaríamos de confirmar se a ocorrência já é de conhecimento da equipe ${nomeHostLimpo} ou se trata de uma falha eventual? </p>\n<p>Recomendamos a verificação da ocorrência acima para validação e tratativa da indisponibilidade. Permaneceremos em monitoramento e informaremos quando o evento estiver com status de resolvido em nosso monitoramento.</p>\n<br>\n<br>\n<p>Atenciosamente </p>\n<img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n`;\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nreturn {\n  json: {\n    type: 2,\n    subject: `REPARO - ${hostName}`,\n    category: \"01 - Atendimento Helpdesk\",\n    serviceFirstLevelId: 325878,\n    urgency: \"Média\",\n    ownerTeam: \"NOC\",\n    status: \"Aguardando\",\n    justification: \"Validação\",\n    createdBy: { id: \"1458772347\" },\n    Clients: [{ id: idCliente }],\n    cc: emCopiaPara,\n    actions: [\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" } }\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3376,-80],"id":"8a2c06c3-169a-4e4b-b582-c710e1f97c82","name":"Prepara dados para abertura de chamado2"},{"parameters":{"method":"POST","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3600,-80],"id":"fc2907f7-2db0-4438-b530-bb4bdf16f1c0","name":"Movidesk: Notifica indisponibilidade2","retryOnFail":true},{"parameters":{"jsCode":"const nomeHostLimpo = $('Normaliza os dados').first().json['nome simplificado do host'];\nconst hostsFiltradosParaAviso = $input.first().json.resultadosFiltrados;\nconst idMovideskAberturaTickets = $('Normaliza os dados').first().json['id de abertura de chamado no movidesk'];\nconst host = $input.first().json.resultadosFiltrados[0].host\nlet copiaTicketMovidesk = $('Normaliza os dados').first().json['e-mail em cópia']\n\nif (copiaTicketMovidesk == \"\") {\n  copiaTicketMovidesk = \"\"\n} else {\n  copiaTicketMovidesk\n}\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n  // Obtém a hora atual no fuso horário de São Paulo\n  const hour = new Date().toLocaleString(\"en-US\", { \n    timeZone: \"America/Sao_Paulo\",\n    hour: \"numeric\",\n    hour12: false\n  });\n\n  let greeting;\n\n  // Define o turno conforme o horário\n  if (hour >= 18 || hour < 5) {\n    greeting = \"Boa noite\";\n  } else if (hour >= 5 && hour < 12) {\n    greeting = \"Bom dia\";\n  } else {\n    greeting = \"Boa tarde\";\n  }\n\n  return greeting;\n}\n\n// Monta as linhas do tbody\nlet linhasTabela = \"\";\n\nfor (const item of hostsFiltradosParaAviso) {\n  linhasTabela += `\n    <tr>\n        <td>${item.host}</td>\n        <td>${item.evento}</td>\n        <td>${item.dataHoraFormatada}</td>\n    </tr>\n  `;\n}\n\n\n// ==== VARIÁVEIS DO CLIENTE =====\nconst idCliente = idMovideskAberturaTickets  // para teste: \"1836303904\";\nconst emCopiaPara = copiaTicketMovidesk;\n\n// ===== PREPARAÇÃO PARA CRIAÇÃO DO TICKET ====\nconst htmlCliente = `\n<p>${getGreeting()}</p>\n<br>\n<p>Identificamos o seguinte alerta em nosso sistema de monitoramento:</p>\n\n<div style=\"width: 70%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n  <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n    <thead>\n        <tr>\n          <th>Hosts</th>\n          <th>Eventos</th>\n          <th>Horário das quedas</th>\n        </tr>\n    </thead>\n    <tbody>\n        ${linhasTabela}\n    </tbody>\n  </table>\n</div>\n\n<p> Gostaríamos de confirmar se a ocorrência já é de conhecimento da equipe ${nomeHostLimpo} ou se trata de uma falha eventual? </p>\n<p>Recomendamos a verificação da ocorrência acima para validação e tratativa da indisponibilidade. Permaneceremos em monitoramento e informaremos quando o evento estiver com status de resolvido em nosso monitoramento.</p>\n<br>\n<br>\n<p>Atenciosamente </p>\n<img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n`;\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nreturn {\n  json: {\n    type: 2,\n    subject: `REPARO - ${host}`,\n    category: \"01 - Atendimento Helpdesk\",\n    serviceFirstLevelId: 325878,\n    urgency: \"Média\",\n    ownerTeam: \"NOC\",\n    status: \"Aguardando\",\n    justification: \"Validação\",\n    createdBy: { id: \"1458772347\" },\n    Clients: [{ id: idCliente }],\n    cc: emCopiaPara,\n    actions: [\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" } }\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3376,368],"id":"d33acb47-5d12-4bb4-a45a-c12db9d33ac2","name":"Prepara dados para abertura de chamado3"},{"parameters":{"method":"POST","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3600,368],"id":"3613d9eb-29fa-4ca8-81e4-2811d5eebbba","name":"Movidesk: Notifica indisponibilidade3","retryOnFail":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4272,272],"id":"bba541d0-a529-4cea-b10a-472e42947caf","name":"Zabbix: Reconhece evento6","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=*Nota: O seguinte chamado foi aberto no Movidesk e encaminhado ao cliente*\n\n**GRUPO:** {{ $('Normaliza os dados').item.json['nome simplificado do host'] }}\n**HOST MATRIZ:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**EVENTO MATRIZ:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**DATA E HORA DA QUEDA:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n**EVENTOS RELACIONADOS:** {{ $json.params.eventids }}\n\n**Linha no BD:** {{ $('Supabase: Nova linha do chamado3').item.json.id }}","color":"#25FF2C","title":"🚨 Chamado aberto e cliente informado"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[4272,464],"id":"bfab72d1-6db5-48c7-84e6-bc26c8b65795","name":"Discord: Notifica abertura de chamado1","webhookId":"eeed722b-607e-4597-8511-e54a55e53154","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}},{"parameters":{"jsCode":"const resultados = $input.first().json.result;\n\nlet resultadosFiltrados = [];\n\n// 1️⃣ Filtra apenas eventos com r_eventid = 0\nfor (const resultado of resultados) {\n  if (resultado.r_eventid != '0') continue;\n\n  let quedaFormatada = DateTime.fromSeconds(\n    parseInt(resultado.clock), \n    { zone: \"America/Sao_Paulo\" }\n  ).toFormat(\"dd/MM/yyyy - HH:mm:ss\");\n\n  resultadosFiltrados.push({\n    id_evento: resultado.eventid,\n    host: resultado.hosts[0].name,\n    evento: resultado.relatedObject.description,\n    timestampQueda: resultado.clock,\n    dataHoraFormatada: quedaFormatada\n  });\n}\n\n// 2️⃣ Remove duplicados mantendo apenas o MAIOR eventid\nconst mapa = {}; \n// chave: \"host|evento\" → valor: objeto do evento mais recente\n\nfor (const item of resultadosFiltrados) {\n  const chave = `${item.host}|${item.evento}`;\n  const eventIdInt = parseInt(item.id_evento);\n\n  if (!mapa[chave] || eventIdInt > parseInt(mapa[chave].id_evento)) {\n    mapa[chave] = item;\n  }\n}\n\n// 3️⃣ Converte de volta para array\nconst resultadosUnicos = Object.values(mapa);\n\n// 4️⃣ Cria array só com eventids\nconst eventidsFiltrados = resultadosUnicos.map(e => e.id_evento);\n\nreturn [\n  {\n    resultadosFiltrados: resultadosUnicos,\n    eventidsFiltrados\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2928,160],"id":"ae748a0b-d5fd-4950-b485-46e07b17e53c","name":"Separa eventos ativos do host"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6e96db70-9f9c-4aa2-9883-e0a3935066b8","leftValue":"={{ $json.resultadosFiltrados }}","rightValue":2,"operator":{"type":"array","operation":"lengthGte","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3152,160],"id":"fcbe7c7e-daed-4cc2-92e0-1ad2ac44ce48","name":"Tem 2 ou mais itens no array?"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4272,-80],"id":"53bed356-9c1e-43c4-9c90-af29985f4cef","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4720,16],"id":"522b1224-c2b6-4152-8ce0-54f019c6496a","name":"Zabbix: Reconhece evento7","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"fieldToSplitOut":"eventsRelacionados","include":"selectedOtherFields","fieldsToInclude":"ticket_movidesk","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[4048,-80],"id":"47bdc507-76b6-4321-87ca-43c72610259a","name":"Individualiza"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4496,-176],"id":"a71a374f-6a84-4171-819d-833e83e079fb","name":"Agrega"},{"parameters":{"tableId":"base","fieldsUi":{"fieldValues":[{"fieldId":"id_host","fieldValue":"={{ $('Normaliza os dados').item.json['id do host'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}"},{"fieldId":"ticket_movidesk","fieldValue":"={{ $json.id }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da queda'] }}"},{"fieldId":"id_cliente_variaveis","fieldValue":"={{ $('Normaliza os dados').item.json['id do tipo de cliente no banco de dados'] }}"},{"fieldId":"status_chamado","fieldValue":"2"},{"fieldId":"id_evento","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"evento_raiz","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"hostLimpo","fieldValue":"={{ $('Normaliza os dados').item.json['nome simplificado do host'] }}"},{"fieldId":"eventsRelacionados","fieldValue":"={{ $('Separa eventos ativos do host').item.json.eventidsFiltrados }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3824,368],"id":"0d711220-199f-4805-b7d8-60b7f0cef406","name":"Supabase: Nova linha do chamado3","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $input.first().json.eventsRelacionados;\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4048,368],"id":"98293a5f-1410-40a7-8644-518c3a6bf651","name":"Prepara dados para reconhecimento9"},{"parameters":{"tableId":"base","fieldsUi":{"fieldValues":[{"fieldId":"id_host","fieldValue":"={{ $('Normaliza os dados').item.json['id do host'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}"},{"fieldId":"ticket_movidesk","fieldValue":"={{ $json.id }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da queda'] }}"},{"fieldId":"id_cliente_variaveis","fieldValue":"={{ $('Normaliza os dados').item.json['id do tipo de cliente no banco de dados'] }}"},{"fieldId":"status_chamado","fieldValue":"2"},{"fieldId":"id_evento","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"evento_raiz","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"hostLimpo","fieldValue":"={{ $('Normaliza os dados').item.json['nome simplificado do host'] }}"},{"fieldId":"eventsRelacionados","fieldValue":"={{ $('Separa eventos ativos do host').item.json.eventidsFiltrados }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3824,-80],"id":"97e7951f-3556-4cc5-b88f-65637dad4cfd","name":"Supabase: Nova linha do chamado4","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $input.first().json.eventsRelacionados;\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4496,16],"id":"76115704-1952-45fa-8d77-e12fddd6dbae","name":"Prepara dados para reconhecimento4"},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=*Nota: O seguinte chamado foi aberto no Movidesk e encaminhado ao cliente*\n\n**GRUPO:** {{ $('Normaliza os dados').item.json['nome simplificado do host'] }}\n**HOST MATRIZ:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**EVENTO MATRIZ:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**DATA E HORA DA QUEDA:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n**EVENTOS RELACIONADOS:** {{ $('Supabase: Nova linha do chamado4').item.json.eventsRelacionados }}\n**Linha no BD:** {{ $('Supabase: Nova linha do chamado4').item.json.id }}","color":"#25FF2C","title":"🚨 Chamado aberto e cliente informado"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[4720,-176],"id":"350519de-342d-408b-beda-ca07c593e068","name":"Discord: Notifica abertura de chamado2","webhookId":"eeed722b-607e-4597-8511-e54a55e53154","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}},{"parameters":{"assignments":{"assignments":[{"id":"d1d36053-f3c7-4ed0-a2f3-6747d9cbf7d2","name":"id do evento","value":"={{ $json['id do evento'] }}","type":"number"},{"id":"318d03c2-1d41-4410-8881-2bbc4b13dd74","name":"id do host","value":"={{ $json['id do host'] }}","type":"number"},{"id":"7bd0b7c5-203f-4b4f-b8e6-1e79dd0a7dc7","name":"id do evento de recuperação","value":"={{ $json['id do evento de recuperação'] }}","type":"number"},{"id":"789e2feb-4165-4c8b-b0bc-788e0bc8ca76","name":"id do tipo de cliente no banco de dados","value":"={{ $json['id do tipo de cliente no banco de dados'] }}","type":"number"},{"id":"fdd09588-b518-4435-a469-5b96606ebd5f","name":"id do cliente na planilha","value":"={{ $json['id do cliente na planilha'] }}","type":"string"},{"id":"98c36083-5654-4b9d-87c7-e98c5bb2bffe","name":"id de abertura de chamado no movidesk","value":"={{ $json['id de abertura de chamado no movidesk'] }}","type":"string"},{"id":"afbac7f4-747b-4eb9-a09e-adcb2d57e136","name":"nome completo do host","value":"={{ $json['nome completo do host'] }}","type":"string"},{"id":"82c7b23e-cfbe-493f-b173-636c3b465693","name":"nome simplificado do host","value":"={{ $json['nome simplificado do host'] }}","type":"string"},{"id":"8e3f6ed7-1e4b-4763-8a5e-2ce86d5409cc","name":"nome simplificado do host","value":"={{ $json['nome simplificado do host'] }}","type":"string"},{"id":"e7684294-aa5d-4dc0-b9b5-6424c254cafa","name":"evento gerador","value":"={{ $json['evento gerador'] }}","type":"string"},{"id":"ee8ba776-6d79-4225-9dff-e5e4ee54cf7c","name":"tipo de evento","value":"={{ $json['tipo de evento'] }}","type":"string"},{"id":"61ee7e26-d6bf-46fa-9b0e-1a3b7dbb9d61","name":"timestamp da queda","value":"={{ $json['timestamp da queda'] }}","type":"number"},{"id":"33ac13e9-3501-4892-b86e-a8be785b54f8","name":"timestamp da queda","value":"={{ $json['timestamp da queda'] }}","type":"number"},{"id":"15e764c6-3c75-456e-8247-1801b67cb20d","name":"data e hora da queda","value":"={{ $json['data e hora da queda'] }}","type":"string"},{"id":"84aa5d2b-41bc-4b54-a3a6-3e5f80f33617","name":"timestamp da recuperação","value":"={{ $json['timestamp da recuperação'] }}","type":"number"},{"id":"2d2bc9d7-8693-4a84-8400-7300e64032a1","name":"data e hora da recuperação","value":"={{ $json['data e hora da recuperação'] }}","type":"string"},{"id":"ceba9587-89c1-4842-9ff3-05a80774f240","name":"relação do cliente com a max","value":"={{ $json['relação do cliente com a max'] }}","type":"string"},{"id":"c18847d4-03bb-4005-b2d6-2323d5d6f548","name":"e-mail destinatário","value":"={{ $json['e-mail destinatário'] }}","type":"string"},{"id":"48e499bd-41bf-4343-8f56-9af7559c7dae","name":"e-mail em cópia","value":"={{ $json['e-mail em cópia'] }}","type":"string"},{"id":"fff082d9-bbb6-4b1b-9ef0-ccb7b97beba9","name":"timestamp para cálculo de redução de tempo","value":"={{ $json['timestamp para cálculo de redução de tempo'] }}","type":"number"},{"id":"ed579192-06a8-41dc-907d-f87dab58af3c","name":"máximo rodadas no encerramento","value":"={{ $json['máximo rodadas no encerramento'] }}","type":"number"},{"id":"6f0a1421-4488-4d3d-aad4-0ce0ca1bc33c","name":"tempo que permaneceu o alerta","value":"={{ $json['timestamp da recuperação'] - $json['timestamp da queda'] }}","type":"string"}]},"options":{"ignoreConversionErrors":false}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1072,448],"id":"f23f2c6b-f61d-458c-bdec-9633706399d6","name":"Normaliza os dados"}],"connections":{"Rotas":{"main":[[{"node":"Verifica igualdade de hosts","type":"main","index":0}],[{"node":"Zabbix: Consulta por eventos anterior","type":"main","index":0}]]},"Abertura chamado?":{"main":[[{"node":"Supabase: Recupera correspondências","type":"main","index":0}],[{"node":"Supabase: Recupera correspondências1","type":"main","index":0}]]},"Ticket Movidesk é 0?":{"main":[[{"node":"Zabbix: Recupera dados do evento","type":"main","index":0}],[{"node":"Prepara dados para reconhecimento1","type":"main","index":0}]]},"Prepara os dados para vários eventos":{"main":[[{"node":"Existem dois eventos ou mais?","type":"main","index":0}]]},"Existem dois eventos ou mais?":{"main":[[{"node":"Zabbix: Consulta dados de n eventos","type":"main","index":0}],[{"node":"Supabase: Atualiza encerramento do evento","type":"main","index":0}]]},"Ajusta informação de encerramento para n eventos":{"main":[[{"node":"Movidesk: Notifica encerramento","type":"main","index":0}]]},"Zabbix: Consulta dados de n eventos":{"main":[[{"node":"Organiza os dados em arrays","type":"main","index":0}]]},"Zabbix: Recupera o clock dos eventos":{"main":[[{"node":"Ajusta informação de encerramento para n eventos","type":"main","index":0}]]},"Movidesk: Notifica encerramento":{"main":[[{"node":"Supabase: Atualiza encerramento do evento1","type":"main","index":0}]]},"Supabase: Recupera correspondências1":{"main":[[{"node":"Tem dados na tabela?1","type":"main","index":0}]]},"Supabase: Atualiza timestamp de recuperação":{"main":[[{"node":"Prepara os dados para vários eventos","type":"main","index":0}]]},"Organiza os dados em arrays":{"main":[[{"node":"Existem eventos ativos?","type":"main","index":0}]]},"Supabase: Atualiza encerramento do evento":{"main":[[{"node":"Movidesk: Notifica encerramento","type":"main","index":0}]]},"Supabase: Atualiza encerramento do evento1":{"main":[[{"node":"Aguarda","type":"main","index":0}]]},"Aguarda":{"main":[[{"node":"Prepara dados para encerramento ","type":"main","index":0}]]},"Prepara dados para encerramento ":{"main":[[{"node":"Movidesk: Encerra ticket no Movidesk","type":"main","index":0}]]},"Existem eventos ativos?":{"main":[[{"node":"Consulta dados do evento no Zabbix","type":"main","index":0}],[{"node":"Zabbix: Recupera o clock dos eventos","type":"main","index":0}]]},"Consulta dados do evento no Zabbix":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Prepara dados para abertura de chamado1","type":"main","index":0}]]},"Movidesk: Notifica indisponibilidade1":{"main":[[{"node":"Prepara dados para reconhecimento6","type":"main","index":0}]]},"Prepara dados para abertura de chamado1":{"main":[[{"node":"Movidesk: Notifica indisponibilidade1","type":"main","index":0}]]},"Prepara dados para reconhecimento6":{"main":[[{"node":"Zabbix: Reconhece evento4","type":"main","index":0}]]},"Tem dados na tabela?1":{"main":[[{"node":"Supabase: Atualiza timestamp de recuperação","type":"main","index":0},{"node":"Notifica encerramento1","type":"main","index":0}],[{"node":"Faça nada1","type":"main","index":0}]]},"Quando main é executado":{"main":[[{"node":"Normaliza os dados","type":"main","index":0}]]},"Supabase: Recupera correspondências":{"main":[[{"node":"Verifica se existe ticket e direciona na rota","type":"main","index":0}]]},"Verifica se existe ticket e direciona na rota":{"main":[[{"node":"Rotas","type":"main","index":0}]]},"Verifica igualdade de hosts":{"main":[[{"node":"Hosts são iguais?","type":"main","index":0}]]},"Hosts são iguais?":{"main":[[{"node":"Supabase: Atualiza qnd_quedas","type":"main","index":0}],[{"node":"Prepara push de eventos dentro do tempo1","type":"main","index":0}]]},"Zabbix: Recupera dados do evento":{"main":[[{"node":"Separa os alertas com reconhecimento 6","type":"main","index":0}]]},"Separa os alertas com reconhecimento 6":{"main":[[{"node":"Prepara dados para reconhecimento","type":"main","index":0}]]},"Prepara dados para reconhecimento":{"main":[[{"node":"Zabbix: Reconhece o evento","type":"main","index":0}]]},"Supabase: Atualiza qnd_quedas":{"main":[[{"node":"Ticket Movidesk é 0?","type":"main","index":0}]]},"Prepara dados para reconhecimento1":{"main":[[{"node":"Zabbix: Reconhece o evento","type":"main","index":0}]]},"Zabbix: Consulta por eventos anterior":{"main":[[{"node":"Separa os alertas igual a 6","type":"main","index":0}]]},"Separa os alertas igual a 6":{"main":[[{"node":"Filtrados está vazio?","type":"main","index":0}]]},"Filtrados está vazio?":{"main":[[{"node":"Zabbix: Consulta grupo do host","type":"main","index":0}],[{"node":"Prepara dados para reconhecimento5","type":"main","index":0}]]},"Prepara dados para reconhecimento5":{"main":[[{"node":"Existe ticket Movidesk?","type":"main","index":0}]]},"Existe ticket Movidesk?":{"main":[[{"node":"Supabase: Nova linha do chamado","type":"main","index":0}],[{"node":"Supabase: Nova linha do chamado1","type":"main","index":0}]]},"Supabase: Nova linha do chamado":{"main":[[{"node":"Prepara dados para reconhecimento7","type":"main","index":0}]]},"Prepara dados para reconhecimento7":{"main":[[{"node":"Zabbix: Reconhece evento1","type":"main","index":0},{"node":"Discord: Notifica reconhecimento1","type":"main","index":0}]]},"Prepara dados para reconhecimento8":{"main":[[{"node":"Zabbix: Reconhece evento1","type":"main","index":0},{"node":"Discord: Notifica reconhecimento","type":"main","index":0}]]},"Supabase: Nova linha do chamado1":{"main":[[{"node":"Prepara dados para reconhecimento8","type":"main","index":0}]]},"Eventos são próximos?":{"main":[[{"node":"Novo evento para BD?","type":"main","index":0}],[{"node":"Zabbix: Consulta por eventos anterior","type":"main","index":0}]]},"Novo evento para BD?":{"main":[[{"node":"Supabase: Atualiza evento existente1","type":"main","index":0}],[{"node":"No Ops","type":"main","index":0}]]},"Update no Movidesk":{"main":[[{"node":"Movidesk: Atualiza ticket1","type":"main","index":0}]]},"Reconhecimento no Zabbix":{"main":[[{"node":"Zabbix: Reconhece evento2","type":"main","index":0}]]},"Supabase: Atualiza evento existente1":{"main":[[{"node":"Reconhecimento no Zabbix","type":"main","index":0},{"node":"Update no Movidesk","type":"main","index":0}]]},"Prepara push de eventos dentro do tempo1":{"main":[[{"node":"Eventos são próximos?","type":"main","index":0}]]},"Zabbix: Consulta grupo do host":{"main":[[{"node":"Zabbix: Consulta de eventos do grupo","type":"main","index":0}]]},"Zabbix: Consulta de eventos do grupo":{"main":[[{"node":"Separa eventos ativos do host","type":"main","index":0}]]},"Prepara dados para abertura de chamado2":{"main":[[{"node":"Movidesk: Notifica indisponibilidade2","type":"main","index":0}]]},"Movidesk: Notifica indisponibilidade2":{"main":[[{"node":"Supabase: Nova linha do chamado4","type":"main","index":0}]]},"Prepara dados para abertura de chamado3":{"main":[[{"node":"Movidesk: Notifica indisponibilidade3","type":"main","index":0}]]},"Movidesk: Notifica indisponibilidade3":{"main":[[{"node":"Supabase: Nova linha do chamado3","type":"main","index":0}]]},"Separa eventos ativos do host":{"main":[[{"node":"Tem 2 ou mais itens no array?","type":"main","index":0}]]},"Tem 2 ou mais itens no array?":{"main":[[{"node":"Prepara dados para abertura de chamado2","type":"main","index":0}],[{"node":"Prepara dados para abertura de chamado3","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Agrega","type":"main","index":0}],[{"node":"Prepara dados para reconhecimento4","type":"main","index":0}]]},"Zabbix: Reconhece evento7":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Individualiza":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Agrega":{"main":[[{"node":"Discord: Notifica abertura de chamado2","type":"main","index":0}]]},"Supabase: Nova linha do chamado3":{"main":[[{"node":"Prepara dados para reconhecimento9","type":"main","index":0}]]},"Prepara dados para reconhecimento9":{"main":[[{"node":"Discord: Notifica abertura de chamado1","type":"main","index":0},{"node":"Zabbix: Reconhece evento6","type":"main","index":0}]]},"Supabase: Nova linha do chamado4":{"main":[[{"node":"Individualiza","type":"main","index":0}]]},"Prepara dados para reconhecimento4":{"main":[[{"node":"Zabbix: Reconhece evento7","type":"main","index":0}]]},"Normaliza os dados":{"main":[[{"node":"Abertura chamado?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Quando main é executado":[{"json":{"id do evento":175643844,"id do host":21087,"id do evento de recuperação":0,"id do tipo de cliente no banco de dados":2,"id do cliente na planilha":"17","id de abertura de chamado no movidesk":"99b83622-1d1f-498c-","nome completo do host":"AMAFIL - WIFI EXPEDICAO XVII - 10.1.3.52","nome simplificado do host":"AMAFIL","evento gerador":"Indisponível via ICMP","tipo de evento":"Abertura Chamado","timestamp da queda":1764137626,"data e hora da queda":"26/11/2025, 03:13:46","timestamp da recuperação":0,"data e hora da recuperação":"","relação do cliente com a max":"CONTRATO 2","e-mail destinatário":"cleber@amafil.com.br","e-mail em cópia":"rodrigo.passador@amafil.com.br","timestamp para cálculo de redução de tempo":1764123226,"máximo rodadas no encerramento":3,"informações do link":[],"tags":[]}}]},"versionId":"aefbbd56-fbd5-4974-8ab4-62f22b336f09","activeVersionId":"aefbbd56-fbd5-4974-8ab4-62f22b336f09","triggerCount":0,"shared":[{"updatedAt":"2025-11-05T19:53:37.208Z","createdAt":"2025-11-05T19:53:37.208Z","role":"workflow:owner","workflowId":"7rJ1XQvZeoircDAf","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":{"updatedAt":"2026-01-27T16:47:39.129Z","createdAt":"2026-01-27T16:47:39.129Z","versionId":"aefbbd56-fbd5-4974-8ab4-62f22b336f09","workflowId":"7rJ1XQvZeoircDAf","nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.linha_tabela }}","rightValue":"Rota1 - ticketTabela","operator":{"type":"string","operation":"equals"},"id":"b53a2c98-1777-47a6-bb9c-3122c2c362ab"}],"combinator":"and"},"renameOutput":true,"outputKey":"Acks + Obs"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bb41d250-8bb6-4cfe-b2ce-b52df85a86b9","leftValue":"={{ $json.linha_tabela }}","rightValue":"Rota 3 - verificarZabbix","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Verificar Zabbix"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-176,448],"id":"71003a6b-1bf8-4564-afe6-880ee4a672dd","name":"Rotas"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cc1def41-b486-40e0-a4c2-5862b24ac381","leftValue":"={{ $json['tipo de evento'] }}","rightValue":"Abertura Chamado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-848,448],"id":"1adaae2f-8f88-4862-8e7b-58b87b755d73","name":"Abertura chamado?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d86fa3fc-d1b8-4ec8-b40c-b1a08bd7482f","leftValue":"={{ $('Supabase: Recupera correspondências').item.json.ticket_movidesk }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1136,-608],"id":"f8131293-e40d-4dff-b1f2-df4671409f44","name":"Ticket Movidesk é 0?"},{"parameters":{"jsCode":"const eventosRelacionados = $input.first().json.eventsRelacionados\n\nlet rotaEventosRelacionados = null;\nif (eventosRelacionados.length >= 2) {\n  rotaEventosRelacionados = true;\n} else {\n  rotaEventosRelacionados = false;\n}\n\n\nreturn [\n  {\n    eventosRelacionados,\n    rotaEventosRelacionados\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1520,912],"id":"d5a92481-9d24-4018-b1c7-2a3e36a0b5bf","name":"Prepara os dados para vários eventos"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2df73fb5-8791-48c0-88fb-d345f41813ef","leftValue":"={{ $json.rotaEventosRelacionados }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1296,912],"id":"5fde5471-b962-4efe-8883-50f32579cb35","name":"Existem dois eventos ou mais?"},{"parameters":{"jsCode":"const resultadoConsultaREvent = $input.first().json.result;\nconst arrayHosts = $('Organiza os dados em arrays').first().json.hosts;\nconst arrayEventos = $('Organiza os dados em arrays').first().json.eventos;\n\nconst arrayClocks = [];\nfor (const resultadoConsulta of resultadoConsultaREvent) {\n  arrayClocks.push(resultadoConsulta.clock);\n}\n\n// ==== RETORNA GREETING CONFORME HORÁRIO ATUAL EM SÃO PAULO ====\nfunction getGreeting() {\n  const horaSaoPaulo = new Date().toLocaleString(\"en-US\", { timeZone: \"America/Sao_Paulo\" });\n  const hora = new Date(horaSaoPaulo).getHours();\n\n  if (hora >= 18 || hora < 5) return \"Boa noite\";\n  if (hora >= 5 && hora < 12) return \"Bom dia\";\n  return \"Boa tarde\";\n}\n\n// ==== CONVERTE TIMESTAMP PARA FORMATO BR ====\nfunction formatarData(timestamp) {\n  const date = new Date(timestamp * 1000);\n  return date.toLocaleString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\" });\n}\n\nconst greeting = getGreeting();\n\n// ==== MONTA TABELA HTML ====\nlet tabelaHTML = `\n  <table style=\"width: 100%; border-collapse: collapse; text-align: left; margin-top: 10px;\">\n    <thead>\n      <tr style=\"background-color: #f2f2f2;\">\n        <th style=\"border: 1px solid #ccc; padding: 8px;\">Host</th>\n        <th style=\"border: 1px solid #ccc; padding: 8px;\">Evento</th>\n        <th style=\"border: 1px solid #ccc; padding: 8px;\">Data e hora de encerramento</th>\n      </tr>\n    </thead>\n    <tbody>\n`;\n\nfor (let i = 0; i < arrayHosts.length; i++) {\n  const host = arrayHosts[i] || \"-\";\n  const evento = arrayEventos[i] || \"-\";\n  const dataHora = arrayClocks[i] ? formatarData(arrayClocks[i]) : \"-\";\n\n  tabelaHTML += `\n    <tr>\n      <td style=\"border: 1px solid #ccc; padding: 8px;\">${host}</td>\n      <td style=\"border: 1px solid #ccc; padding: 8px;\">${evento}</td>\n      <td style=\"border: 1px solid #ccc; padding: 8px;\">${dataHora}</td>\n    </tr>\n  `;\n}\n\ntabelaHTML += `\n    </tbody>\n  </table>\n`;\n\n// ==== MENSAGEM HTML FINAL ====\nconst htmlCliente = `\n  <p>${greeting}</p>\n  <br>\n  <p>Os seguintes alertas abaixo já constam como restabelecidos em nosso sistema de monitoramento:</p>\n  ${tabelaHTML}\n  <br><br>\n  <p>Atenciosamente,</p>\n  <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n`;\n\n// ==== RETORNO FINAL ====\nreturn {\n  json: {\n    actions: [\n      {\n        type: 2,\n        description: htmlCliente,\n        createdBy: { id: \"1458772347\" },\n        workTime: \"00:01:00\"\n      }\n    ]\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,912],"id":"6c73d066-e289-425f-b51a-beed44e8793b","name":"Ajusta informação de encerramento para n eventos"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"name\", \"r_eventid\"],\n    \"eventids\": [{{ $json.eventosRelacionados }}],\n\n    \"selectHosts\": [\"hostid\", \"name\", \"description\"],\n\n    \"selectRelatedObject\": [\n      \"triggerid\",\n      \"description\",\n      \"value\",\n      \"priority\"\n    ]\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1072,816],"id":"11b7c95a-0557-41ad-a063-3548ac7d91d4","name":"Zabbix: Consulta dados de n eventos","retryOnFail":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\"],\n    \"eventids\": [{{ $('Organiza os dados em arrays').item.json.rEventRecuperacao }}],\n\n    \"selectHosts\": [\"hostid\", \"name\", \"description\"]\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,912],"id":"00d6bbbf-4324-486f-86e1-0a4250ad8802","name":"Zabbix: Recupera o clock dos eventos","retryOnFail":true},{"parameters":{"method":"PATCH","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6&id={{ $('Supabase: Recupera correspondências1').item.json.ticket_movidesk }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[48,1008],"id":"7e3b8ac0-2940-406f-a265-cfc09572d1ad","name":"Movidesk: Notifica encerramento","retryOnFail":true},{"parameters":{"method":"PATCH","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6&id={{ $('Supabase: Recupera correspondências1').item.json.ticket_movidesk }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,1008],"id":"808efea3-42ff-4585-b8de-5c238c8cef2a","name":"Movidesk: Encerra ticket no Movidesk","retryOnFail":true},{"parameters":{"operation":"getAll","tableId":"base","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"id_evento","condition":"eq","keyValue":"={{ $json['id do evento'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2192,1104],"id":"afd082f4-c131-4b82-ae60-8ed51ce96432","name":"Supabase: Recupera correspondências1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"id_evento_recuperacao","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da recuperação'] }}"},{"fieldId":"status_chamado","fieldValue":"5"},{"fieldId":"timestampRecuperacao","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da recuperação'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1744,912],"id":"1bb6b6ec-4f32-4082-b55a-3c78ba31fe6f","name":"Supabase: Atualiza timestamp de recuperação","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const resultados = $input.first().json.result;\n\nlet hosts = [];\nlet eventos = [];\nlet rEventRecuperacao = [];\nlet eventosAtivos = [];\n\nfor (const resultado of resultados) {\n  if (parseInt(resultado.r_eventid) >= 1 && parseInt(resultado.relatedObject.value) == 0) {\n    hosts.push(resultado.hosts[0].name);\n    eventos.push(resultado.name);\n    rEventRecuperacao.push(resultado.r_eventid);\n  } else if (parseInt(resultado.r_eventid) == 0 && parseInt(resultado.relatedObject.value) == 1) {\n    eventosAtivos.push(resultado.eventid)\n  }\n}\n\nreturn [\n  {\n    hosts,\n    eventos,\n    rEventRecuperacao,\n    eventosAtivos\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-848,816],"id":"eb27fd01-1535-4dc7-bf34-67e193881fbd","name":"Organiza os dados em arrays"},{"parameters":{"jsCode":"const nomeHost = $('Normaliza os dados').first().json['nome completo do host'];\nconst nomeEvento = $('Normaliza os dados').first().json['evento gerador'];\nconst dataHoraQueda_formatada = $('Normaliza os dados').first().json['data e hora da queda']\nconst dataHoraRestabelecimento_formatada = $('Normaliza os dados').first().json['data e hora da recuperação'];\n\n// ==== RETORNA GREETING CONFORME HORÁRIO ATUAL EM SÃO PAULO ====\nfunction getGreeting() {\n  // Obtém o horário atual diretamente no fuso horário de São Paulo\n  const agora = new Date().toLocaleString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\" });\n  const horaAtual = new Date(agora).getHours();\n\n  if (horaAtual >= 18 || horaAtual < 5) {\n    return \"Boa noite\";\n  } else if (horaAtual >= 5 && horaAtual < 12) {\n    return \"Bom dia\";\n  } else {\n    return \"Boa tarde\";\n  }\n}\n\nconst greeting = getGreeting();\n\n// ===== PREPARAÇÃO PARA CRIAÇÃO DO TICKET ====\nconst htmlCliente = `\n<p>${greeting}</p>\n<br>\n<p>O seguinte alerta abaixo já consta como restabelecido em nosso sistema de monitoramento:</p>\n\n<div style=\"padding: 10px; border: 1px solid black; border-radius: 10px; display: flex; flex-direction: column; justify-content: center; text-align: center; align-items: center; color: black; margin: 10px 0\">\n  <h2>${nomeHost}</h2>\n  <p style=\"font-size: 16px;\"><strong>Evento:</strong> ${nomeEvento}</p>\n  <p style=\"font-size: 16px;\"><strong>Data e hora da queda:</strong> ${dataHoraQueda_formatada}</p>\n  <p style=\"font-size: 16px;\"><strong>Data e hora do restabelecimento:</strong> ${dataHoraRestabelecimento_formatada}</p>\n</div>\n<br>\n<br>\n<p>Atenciosamente </p>\n<img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n`;\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nreturn {\n  json: {\n    actions: [\n      {\n        type: 2,\n        description: htmlCliente,\n        createdBy: { id: \"1458772347\" },\n        workTime: \"00:01:00\"\n      }\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,1104],"id":"edc3abee-b2d0-43f7-baa9-15336baf9d86","name":"Supabase: Atualiza encerramento do evento"},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Supabase: Recupera correspondências1').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_chamado","fieldValue":"5"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[272,1008],"id":"38f2579a-95ae-470a-901d-b1c2b74457cd","name":"Supabase: Atualiza encerramento do evento1","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"amount":1.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[496,1008],"id":"f1ec13e6-dadb-4a4c-b7f4-d68b7310aabb","name":"Aguarda","webhookId":"3412b67e-a067-45e3-8c98-ea268685dee3"},{"parameters":{"jsCode":"return {\n  json: {\n    status: \"Resolvido\",\n    baseStatus: \"Closed\", //\"Stopped\"\n    justification: null, //\"Validação\"\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,1008],"id":"bcf01831-7776-4427-bda6-bc66f771ab06","name":"Prepara dados para encerramento "},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1e39d8e2-b356-4be7-b2b0-27c94a849abd","leftValue":"={{ $json.eventosAtivos }}","rightValue":1,"operator":{"type":"array","operation":"lengthGte","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-624,816],"id":"0696afbb-9265-4e39-80ec-f0f3043370c0","name":"Existem eventos ativos?","alwaysOutputData":false,"retryOnFail":false},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"name\"],\n    \"eventids\": \"{{ $json.eventosAtivos }}\",\n\n    \"selectHosts\": [\"hostid\", \"name\", \"description\"],\n\n    \"select_acknowledges\": [\n      \"acknowledgeid\",\n      \"eventid\",\n      \"clock\",\n      \"message\",\n      \"action\"\n    ],\n\n    \"selectRelatedObject\": [\n      \"triggerid\",\n      \"description\",\n      \"value\",\n      \"priority\"\n    ]\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,720],"id":"f9497607-c009-4793-a8be-109df39379dc","name":"Consulta dados do evento no Zabbix","retryOnFail":true,"disabled":true},{"parameters":{},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-176,720],"id":"67c5686f-e7f1-4c93-9a64-a6ff31da1cdd","name":"Create a row","credentials":{"supabaseApi":{"id":"p9a9JH9aNSyBZyub","name":"Supabase account 2"}},"disabled":true},{"parameters":{"method":"POST","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,720],"id":"9e6028f0-15ca-44a1-be3b-0030d4880237","name":"Movidesk: Notifica indisponibilidade1","retryOnFail":true,"disabled":true},{"parameters":{"jsCode":"const nomeHost = $('Normaliza os dados').first().json['nome completo do host'];\nconst nomeEvento = $('Normaliza os dados').first().json['evento gerador'];\nconst timestampQueda = $('Normaliza os dados').first().json['timestamp da queda'];\nconst dataHoraFormatada = $('Normaliza os dados').first().json['data e hora da queda']\nconst nomeHostLimpo = $('Normaliza os dados').first().json['nome simplificado do host'];\nconst idMovideskAberturaTickets = $('Normaliza os dados').first().json['id de abertura de chamado no movidesk'];\nlet copiaTicketMovidesk = $('Normaliza os dados').first().json['e-mail em cópia']\n\nif (copiaTicketMovidesk == \"\") {\n  copiaTicketMovidesk = \"\"\n} else {\n  copiaTicketMovidesk\n}\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting(timestamp) {\n  // Converte timestamp (segundos) em objeto Date\n  const date = new Date(timestamp * 1000);\n\n  // Obtém hora local (fuso horário do servidor)\n  const hour = new Date(date.toLocaleString(\"en-US\", { timeZone: \"America/Sao_Paulo\" })).getHours();\n\n  let greeting;\n\n  // Define o turno conforme o horário\n  if (hour >= 18 || hour < 5) {\n    greeting = \"Boa noite\";\n  } else if (hour >= 5 && hour < 12) {\n    greeting = \"Bom dia\";\n  } else {\n    greeting = \"Boa tarde\";\n  }\n\n  return greeting;\n}\n\n// ==== EXTRAIR OPERADORA DO NOME DO HOST ====\nfunction extrairOperadoraDoHost(nomeHostCompleto) {\n    if (!nomeHostCompleto) return \"(NOME DA OPERADORA)\";\n    \n    // Divide o nome do host pelos hífens\n    const partes = nomeHostCompleto.split(\" - \");\n    \n    // Se tiver pelo menos 3 partes, pega a segunda parte (índice 1)\n    if (partes.length >= 3) {\n        return partes[1].trim();\n    }\n    \n    // Se não encontrar o padrão esperado, retorna o padrão\n    return \"\";\n}\n\nconst nomeLink = extrairOperadoraDoHost(nomeHost);\nconst greeting = getGreeting(timestampQueda)\n\n// ==== VARIÁVEIS DO CLIENTE =====\nconst idCliente = idMovideskAberturaTickets // para teste: \"1836303904\";\nconst emCopiaPara = copiaTicketMovidesk;\n\n// ===== PREPARAÇÃO PARA CRIAÇÃO DO TICKET ====\nconst htmlCliente = `\n<p>${greeting}</p>\n<br>\n<p>Identificamos o seguinte alerta em nosso sistema de monitoramento:</p>\n\n<div style=\"padding: 10px; border: 1px solid black; border-radius: 10px; display: flex; flex-direction: column; justify-content: center; text-align: center; align-items: center; color: black; margin: 10px 0\">\n  <h2>${nomeHost}</h2>\n  <p style=\"font-size: 16px;\"><strong>Evento:</strong> ${nomeEvento}</p>\n  <p style=\"font-size: 16px;\"><strong>Data e hora da queda:</strong> ${dataHoraFormatada}</p>\n</div>\n\n<p> Gostaríamos de confirmar se a ocorrência já é de conhecimento da equipe ${nomeHostLimpo} ou se trata de uma falha eventual? </p>\n<p>Recomendamos a verificação da ocorrência acima para validação e tratativa da indisponibilidade. Permaneceremos em monitoramento e informaremos quando o evento estiver com status de resolvido em nosso monitoramento.</p>\n<br>\n<br>\n<p>Atenciosamente </p>\n<img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n`;\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nreturn {\n  json: {\n    type: 2,\n    subject: `REPARO - ${nomeHostLimpo} - ${nomeLink}`,\n    category: \"01 - Atendimento Helpdesk\",\n    serviceFirstLevelId: 325878,\n    urgency: \"Média\",\n    ownerTeam: \"NOC\",\n    status: \"Aguardando\",\n    justification: \"Validação\",\n    createdBy: { id: \"1458772347\" },\n    Clients: [{ id: idCliente }],\n    cc: emCopiaPara,\n    actions: [\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" } }\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,720],"id":"0c0aa78e-03de-4c96-8e2c-f6916953dce3","name":"Prepara dados para abertura de chamado1","disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,720],"id":"bc3aefcb-7f4f-4e1d-b16b-d1e68864078f","name":"Zabbix: Reconhece evento4","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}},"disabled":true},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $input.first().json.id_evento;\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,720],"id":"86b27a16-9ad6-422e-83d9-3985fe96f007","name":"Prepara dados para reconhecimento6","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1744,1296],"id":"f55019e9-91a0-4a84-90d0-99f2430b012c","name":"Faça nada1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"acccb782-9be4-49a2-a2e1-6fc9ae5066e4","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1968,1104],"id":"325b4a47-174a-46c6-a37a-e20eb4a5f6de","name":"Tem dados na tabela?1"},{"parameters":{"content":"ROTA DE ENCERRAMENTO","height":768,"width":3328,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2240,688],"id":"96634cf4-2dc2-405c-a591-c9d3ee521267","name":"Sticky Note2","disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=O seguinte alerta foi encerrado\n\nCliente: {{ $('Normaliza os dados').item.json['nome completo do host'] }}\nAlerta: {{ $('Normaliza os dados').item.json['evento gerador'] }}\nData e hora da queda: {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\nData e hora da recuperação: {{ $('Normaliza os dados').item.json['data e hora da recuperação'] }}","color":"#69BF6C","title":"Alerta foi encerrado no Movidesk"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-1744,1104],"id":"318a0847-5a42-4f29-83dc-feafc389c730","name":"Notifica encerramento1","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"lA2qaXo0Uc6Pobsl","name":"Canal: encerramento de chamado"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1296,448],"id":"b5eb94e4-87fb-490f-9784-971dcb439d01","name":"Quando main é executado"},{"parameters":{"operation":"getAll","tableId":"base","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"hostLimpo","condition":"eq","keyValue":"={{ $json['nome simplificado do host'] }}"},{"keyName":"timestamp_queda","condition":"gte","keyValue":"={{ $json['timestamp para cálculo de redução de tempo'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-624,448],"id":"e17b8a4d-daea-4332-b171-98608cdc5725","name":"Supabase: Recupera correspondências","alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const idEventoTabela = $input.first().json.id;\nconst ticketMovideskTabela = $input.first().json.ticket_movidesk;\n\nif ((idEventoTabela && ticketMovideskTabela) || (idEventoTabela && ticketMovideskTabela == 0) ) {\n  return { \n    \"linha_tabela\": \"Rota1 - ticketTabela\",\n    \"descricao\": \"Com evento e ticket na tabela\"\n  }\n} else if (!idEventoTabela && !ticketMovideskTabela) {\n  return {\n    \"linha_tabela\": \"Rota 3 - verificarZabbix\",\n    \"descricao\": \"Sem evento na tabela\"\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-400,448],"id":"0bcc84d0-1e2a-4130-83ad-7da4f1b0d594","name":"Verifica se existe ticket e direciona na rota"},{"parameters":{"jsCode":"const nomeHostSupabase = $('Supabase: Recupera correspondências').first().json.nome_host;\nconst nomeHostEvento = $('Normaliza os dados').first().json['nome completo do host'];\nconst idTabela = $('Supabase: Recupera correspondências').first().json.id;\nconst qndQuedas = $('Supabase: Recupera correspondências').first().json.qnd_quedas;\n\nif (nomeHostSupabase == nomeHostEvento) {\n  return [{igualdadeDeHost: true, idTabela, qndQuedas}]\n} else {\n  return [{igualdadeDeHost: false, idTabela, qndQuedas}]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,-336],"id":"95a4793e-b1dc-4db0-b5a0-d4b5277ead3b","name":"Verifica igualdade de hosts"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"67371f0a-6119-4eaf-8f11-ce2becc7bc8b","leftValue":"={{ $json.igualdadeDeHost }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[464,-336],"id":"458de5f7-bde5-40b8-bdc9-3e9f0d7bfb08","name":"Hosts são iguais?"},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"name\", \"value\", \"host\", \"hostid\"],\n    \"select_acknowledges\": [\n      \"acknowledgeid\",\n      \"userid\",\n      \"eventid\",\n      \"clock\",\n      \"message\",\n      \"action\",\n      \"username\"\n    ],\n    \"time_from\": \"{{ $('Normaliza os dados').item.json['timestamp para cálculo de redução de tempo'] }}\",\n    \"selectHosts\": [\"hostid\", \"host\"],\n    \"hostids\": \"{{ $('Normaliza os dados').item.json['id do host'] }}\",\n    \"sortfield\": \"clock\",\n    \"sortorder\": \"DESC\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,-704],"id":"c9ae5d8b-03ec-46bf-992f-814f1669fe77","name":"Zabbix: Recupera dados do evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false},{"parameters":{"jsCode":"// Filtra apenas eventos com algum acknowledge de action == \"6\"\nconst eventos = $input.first().json.result;\n\n// Filtra apenas eventos que têm pelo menos um ack com action == \"6\"\nconst filtrados = eventos\n  .filter(ev => ev.acknowledges?.some(ack => ack.action == 6))\n  .map(ev => {\n    // Dentro de cada evento, pega só os acks com action == 6\n    const acks6 = (ev.acknowledges || []).filter(ack => ack.action == 6);\n\n    // Ordena por acknowledgeid (numérico) e pega o maior\n    const ackMaior = [...acks6].sort((a, b) => Number(b.acknowledgeid) - Number(a.acknowledgeid))[0];\n\n    // Retorna o evento com destaque para o acknowledge mais recente\n    return {\n      json: {\n        eventid: ev.eventid,\n        clock: ev.clock,\n        hostid: ev.hosts?.[0]?.hostid,\n        host: ev.hosts?.[0]?.host,\n        value: ev.value,\n        // acknowledge de maior id\n        acknowledge_mais_recente: {\n          acknowledgeid: ackMaior.acknowledgeid,\n          clock: ackMaior.clock,\n          \"timestampAck_formatado\": DateTime.fromSeconds(parseInt(ackMaior.clock))\n            .setZone('America/Sao_Paulo')\n            .toFormat('dd/MM/yyyy HH:mm:ss'),\n          message: ackMaior.message,\n          action: ackMaior.action,\n          username: ackMaior.username,\n          userid: ackMaior.userid\n        }\n      }\n    };\n  });\n\n// Retorna cada evento filtrado como item independente\nif (filtrados.length === 0) {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": false\n      }\n    }\n  }\n} else {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": true\n      }\n    }\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,-704],"id":"0ff4c25b-c25c-42a6-8704-1e8c52253cee","name":"Separa os alertas com reconhecimento 6"},{"parameters":{"jsCode":"const messageAcks = $input.first().json.acksFiltrados.filtrados[0].json.acknowledge_mais_recente.message;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,-704],"id":"7e12bb52-ba78-44e6-8f18-4db66b25e177","name":"Prepara dados para reconhecimento"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2032,-608],"id":"1e21b4f1-20ff-4181-8c04-aab19cad5882","name":"Zabbix: Reconhece o evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.idTabela }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"qnd_quedas","fieldValue":"={{ $json.qndQuedas + 1 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[912,-608],"id":"444d18ab-967d-4267-abcd-d5f10a829dea","name":"Supabase: Atualiza qnd_quedas","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,-512],"id":"c8956fc6-488c-4141-944d-63cdae178e12","name":"Prepara dados para reconhecimento1"},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"name\", \"value\", \"host\", \"hostid\"],\n    \"select_acknowledges\": [\n      \"acknowledgeid\",\n      \"userid\",\n      \"eventid\",\n      \"clock\",\n      \"message\",\n      \"action\",\n      \"username\"\n    ],\n    \"time_from\": \"{{ $('Normaliza os dados').item.json['timestamp para cálculo de redução de tempo'] }}\",\n    \"selectHosts\": [\"hostid\", \"host\"],\n    \"hostids\": \"{{ $('Normaliza os dados').item.json['id do host'] }}\",\n    \"sortfield\": \"clock\",\n    \"sortorder\": \"DESC\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,448],"id":"f1f455b2-fa9e-4157-b66c-d7f06a839ed7","name":"Zabbix: Consulta por eventos anterior","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false},{"parameters":{"jsCode":"// Filtra apenas eventos com algum acknowledge de action == \"6\"\nconst eventos = $input.first().json.result;\n\n// Filtra apenas eventos que têm pelo menos um ack com action == \"6\"\nconst filtrados = eventos\n  .filter(ev => ev.acknowledges?.some(ack => ack.action == 6))\n  .map(ev => {\n    // Dentro de cada evento, pega só os acks com action == 6\n    const acks6 = (ev.acknowledges || []).filter(ack => ack.action == 6);\n\n    // Ordena por acknowledgeid (numérico) e pega o maior\n    const ackMaior = [...acks6].sort((a, b) => Number(b.acknowledgeid) - Number(a.acknowledgeid))[0];\n\n    // Retorna o evento com destaque para o acknowledge mais recente\n    return {\n      json: {\n        eventid: ev.eventid,\n        clock: ev.clock,\n        hostid: ev.hosts?.[0]?.hostid,\n        host: ev.hosts?.[0]?.host,\n        value: ev.value,\n        // acknowledge de maior id\n        acknowledge_mais_recente: {\n          acknowledgeid: ackMaior.acknowledgeid,\n          clock: ackMaior.clock,\n          \"timestampAck_formatado\": DateTime.fromSeconds(parseInt(ackMaior.clock))\n            .setZone('America/Sao_Paulo')\n            .toFormat('dd/MM/yyyy HH:mm:ss'),\n          message: ackMaior.message,\n          action: ackMaior.action,\n          username: ackMaior.username,\n          userid: ackMaior.userid\n        }\n      }\n    };\n  });\n\n// Retorna cada evento filtrado como item independente\nif (filtrados.length === 0) {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": false\n      }\n    }\n  }\n} else {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": true\n      }\n    }\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2032,448],"id":"5745ae0c-21bb-48b0-9cdc-735d8a0cef0c","name":"Separa os alertas igual a 6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb6eff08-3023-4783-bfaf-1cacf44c64ab","leftValue":"={{ $json.acksFiltrados.status }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2256,448],"id":"10c001a1-27d2-46c2-948f-657bf15f16f3","name":"Filtrados está vazio?"},{"parameters":{"jsCode":"// Obtém a mensagem\nlet messageTicket = $input.first().json.acksFiltrados.filtrados[0].json.acknowledge_mais_recente.message;\n\nlet numeroTicket;\n\n// Tenta encontrar números na mensagem\nlet numerosEncontrados = messageTicket.match(/\\d+/);\n\nif (numerosEncontrados && numerosEncontrados.length > 0) {\n    numeroTicket = parseInt(numerosEncontrados[0]);\n} else {\n    // Se não encontrar números, retorna o texto completo\n    numeroTicket = messageTicket;\n}\n\n// Verifica se o valor é uma string (não numérica)\nif (typeof(numeroTicket) === \"string\") {\n  return [\n    { \n      ticketMovidesk: 0,\n      message: messageTicket\n    }\n  ];\n} else {\n  return [\n    { \n      ticketMovidesk: numeroTicket,\n      message: messageTicket\n    }\n  ];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2480,912],"id":"26c38dfd-22e6-48e2-aac1-52cec5b0c7b8","name":"Prepara dados para reconhecimento5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b83ec77b-2171-41f1-b0ba-869e5b6233bd","leftValue":"={{ $json.ticketMovidesk }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2704,912],"id":"9244b13e-f9a4-4183-b59b-10ee1e747d1b","name":"Existe ticket Movidesk?"},{"parameters":{"tableId":"base","fieldsUi":{"fieldValues":[{"fieldId":"id_host","fieldValue":"={{ $('Normaliza os dados').item.json['id do host'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}"},{"fieldId":"ticket_movidesk","fieldValue":"={{ $json.ticketMovidesk }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da queda'] }}"},{"fieldId":"id_cliente_variaveis","fieldValue":"={{ $('Normaliza os dados').item.json['id do tipo de cliente no banco de dados'] }}"},{"fieldId":"status_chamado","fieldValue":"2"},{"fieldId":"id_evento","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"evento_raiz","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"hostLimpo","fieldValue":"={{ $('Normaliza os dados').item.json['nome simplificado do host'] }}"},{"fieldId":"eventsRelacionados","fieldValue":"={{ [\"$('Normaliza os dados').item.json['id do evento']\"] }}"},{"fieldId":"count_sla","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2928,720],"id":"d02f5680-d52a-4a84-bd18-685c188ed5c2","name":"Supabase: Nova linha do chamado","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const messageAcks = $('Zabbix: Consulta por eventos anterior').first().json.result[0].acknowledges[0].message;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3152,720],"id":"88f91843-b8df-49df-b47b-041255e8ead4","name":"Prepara dados para reconhecimento7"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3376,816],"id":"05cb6b3a-da08-4ed8-9da3-e7bbc7dcbcab","name":"Zabbix: Reconhece evento1","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=**Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**Nome do alerta:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**Data e hora do evento:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n**Data e hora da atualização:** {{ DateTime.now().format('dd/MM/yyyy HH:mm:ss')}}\n**Ticket Movidesk:** {{ $('Supabase: Nova linha do chamado1').item.json.ticket_movidesk }}\n\n**Linha no BD:** {{ $('Supabase: Nova linha do chamado1').item.json.id }}\n\n\n*Não foi encontrada linha correpondente no banco de dados, portanto, foi adicionado ao Supabase*","color":"#25FF2C","title":"🚨 Novo evento atualizado no Zabbix"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3376,1008],"id":"20d2f7dd-f03e-442d-a1c8-749024d5f6f4","name":"Discord: Notifica reconhecimento","webhookId":"eeed722b-607e-4597-8511-e54a55e53154","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=*Nota: o evento foi atualizado com o útimo ticket registrado no Zabbix porque ainda está dentro do período de validação de restabelecimento*\n\n**Host:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**Nome do alerta:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**Data e hora do evento:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n**Data e hora da atualização:** {{ DateTime.now().format('dd/MM/yyyy HH:mm:ss')}}\n**Mensagem de reconhecimento:** {{ $('Zabbix: Consulta por eventos anterior').item.json.result[0].acknowledges[0].message }}\n\n**Linha no BD:** {{ $('Supabase: Nova linha do chamado').item.json.id }}\n\n","color":"#25FF2C","title":"🚨 O seguinte evento foi atualizado no Zabbix e na tabela"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3376,624],"id":"c4c75b7c-a115-44bf-a2af-06ca09e133d8","name":"Discord: Notifica reconhecimento1","webhookId":"eeed722b-607e-4597-8511-e54a55e53154","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}},{"parameters":{"jsCode":"const messageAcks = $('Prepara dados para reconhecimento5').first().json.message;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3152,1008],"id":"4ec249c5-cda6-435b-92b7-9f2ae40fd9a0","name":"Prepara dados para reconhecimento8"},{"parameters":{"tableId":"base","fieldsUi":{"fieldValues":[{"fieldId":"id_host","fieldValue":"={{ $('Normaliza os dados').item.json['id do host'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}"},{"fieldId":"ticket_movidesk","fieldValue":"={{ $json.ticketMovidesk }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da queda'] }}"},{"fieldId":"id_cliente_variaveis","fieldValue":"={{ $('Normaliza os dados').item.json['id do tipo de cliente no banco de dados'] }}"},{"fieldId":"status_chamado","fieldValue":"2"},{"fieldId":"id_evento","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"evento_raiz","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"hostLimpo","fieldValue":"={{ $('Normaliza os dados').item.json['nome simplificado do host'] }}"},{"fieldId":"eventsRelacionados","fieldValue":"={{ [\"$('Normaliza os dados').item.json['id do evento']\"] }}"},{"fieldId":"count_sla","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2928,1008],"id":"b48ec0e1-fe93-42b9-a81c-64c4d067c88e","name":"Supabase: Nova linha do chamado1","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3e20d80d-1506-4a91-9cf5-2ff70594f92e","leftValue":"={{ $json.dentroPrazo }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1136,-32],"id":"22e4f408-c071-405c-9ac3-c3fe420f3af4","name":"Eventos são próximos?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c556d36-f358-486c-8f56-7e6430412193","leftValue":"={{ $json.resultado.eventosParaBd }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1360,-32],"id":"66a36f3a-0f25-4733-bd39-763a155fb6e4","name":"Novo evento para BD?"},{"parameters":{"jsCode":"const nomeCompleto_host = $('Normaliza os dados').first().json['nome completo do host'];\nconst evento_gerador = $('Normaliza os dados').first().json['evento gerador'];\nconst dataHora_queda = $('Normaliza os dados').first().json['data e hora da queda'];\nconst nomeCompleto_simplificado = $('Normaliza os dados').first().json['nome simplificado do host']\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n  // Pega o horário atual no fuso horário de São Paulo\n  const hour = new Date().toLocaleString(\"en-US\", { \n    timeZone: \"America/Sao_Paulo\" \n  });\n  \n  const horaLocal = new Date(hour).getHours();\n\n  let greeting;\n\n  // Define o turno conforme o horário\n  if (horaLocal >= 18 || horaLocal < 5) {\n    greeting = \"Boa noite\";\n  } else if (horaLocal >= 5 && horaLocal < 12) {\n    greeting = \"Bom dia\";\n  } else {\n    greeting = \"Boa tarde\";\n  }\n\n  return greeting;\n}\nconst greeting = getGreeting()\n\n// Monta as linhas do tbody\nlet linhasTabela = \"\";\nlinhasTabela += `\n  <tr>\n    <td>${nomeCompleto_host}</td>\n    <td>${evento_gerador}</td>\n    <td>${dataHora_queda}</td>\n  </tr>\n`;\n\n\nconst htmlCliente = `\n  <p>${greeting}</p>\n  <br>\n  <p>Identificamos um novo alerta relacionado ao evento reportado anteriormente:</p>\n  <div style=\"width: 70%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n  <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n    <thead>\n        <tr>\n          <th>Hosts</th>\n          <th>Eventos</th>\n          <th>Horário das quedas</th>\n        </tr>\n    </thead>\n    <tbody>\n        ${linhasTabela}\n    </tbody>\n  </table>\n</div>\n  \n  <p>Gostaríamos de confirmar se a ocorrência já é de conhecimento da equipe ${nomeCompleto_simplificado} ou se trata de uma falha eventual? </p>\n  <p>Recomendamos a verificação da ocorrência acima para validação e tratativa da indisponibilidade. Permaneceremos em monitoramento desde o do evento anteriro. Informaremos quando o evento estiver com status de resolvido em nosso monitoramento.</p>\n  <br>\n  <br>\n  <p>Atenciosamente </p>\n  <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n  `;\n\nreturn {\n  json: {\n    actions: [\n      {\n        type: 2,\n        description: htmlCliente,\n        createdBy: {id: \"1458772347\"},\n        workTime: \"00:02:00\"\n      }\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,-224],"id":"4c745cc3-1f0c-4bf2-b8a7-49b6f24a612a","name":"Update no Movidesk"},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,-32],"id":"1fb88cf6-4841-4045-8008-8ede01d4ea9e","name":"Reconhecimento no Zabbix"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1584,64],"id":"c36e0903-9edd-458c-aee4-fc6b808ef1d6","name":"No Ops"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2032,-32],"id":"6e1a1f60-b121-4fab-8e7b-5d625db9c01f","name":"Zabbix: Reconhece evento2","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"method":"PATCH","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6&id={{ $('Supabase: Recupera correspondências').item.json.ticket_movidesk }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2032,-224],"id":"a6ed89ec-cd5c-42f7-87af-a7ec4e7e494d","name":"Movidesk: Atualiza ticket1","retryOnFail":true},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Supabase: Recupera correspondências').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"eventsRelacionados","fieldValue":"={{ $json.resultado.eventosRelacionados }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1584,-128],"id":"be8fdf81-ead9-47d0-b1b9-9fb8a4b129ea","name":"Supabase: Atualiza evento existente1","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const timestampEventoAtual = Number($('Normaliza os dados').first().json['timestamp da queda']);\nconst timestampEventoBd = Number($('Supabase: Recupera correspondências').first().json.timestamp_queda);\nlet eventosRelacionadosBd = $('Supabase: Recupera correspondências').first().json.eventsRelacionados;\nconst idEventoAtual = $('Normaliza os dados').first().json['id do evento'];\n\nconst intervaloSegundos = 1800; // 30 minutos\n\nfunction validaComBanco (timestampAtual, timestampBanco, intervalo) {\n  const diferenca = timestampAtual - timestampBanco\n\n  return diferenca >= 0 && diferenca <= intervalo;\n}\n\nlet algumDentroDoPrazo = false;\nif (validaComBanco(timestampEventoAtual, timestampEventoBd, intervaloSegundos)) {\n  algumDentroDoPrazo = true;\n}\n\nfunction validaNovoEvento(eventosRelacionados, eventoAtual) {\n  // Normaliza tudo para string\n  const eventoAtualStr = String(eventoAtual);\n  const eventosNormalizados = eventosRelacionados.map(ev => String(ev));\n\n  const jaExiste = eventosNormalizados.includes(eventoAtualStr);\n\n  if (jaExiste) {\n    return {\n      eventosParaBd: false,\n      eventosRelacionados // mantém original\n    };\n  }\n\n  // Adiciona normalizado\n  eventosRelacionados.push(eventoAtualStr);\n\n  return {\n    eventosParaBd: true,\n    eventosRelacionados\n  };\n}\n\nconst resultado = validaNovoEvento(eventosRelacionadosBd, idEventoAtual);\n\nreturn [{\n  timestampEventoAtual,\n  timestampEventoBd,\n  dentroPrazo: algumDentroDoPrazo,\n  resultado\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,-32],"id":"e8ed42d8-0221-4778-a7f1-80442d679e10","name":"Prepara push de eventos dentro do tempo1"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"host.get\",\n  \"params\": {\n    \"output\": [\"hostid\", \"name\"],\n    \"selectGroups\": [\"groupid\", \"name\"],\n    \"hostids\": \"{{ $('Normaliza os dados').item.json['id do host'] }}\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 2\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2480,160],"id":"6560258c-e422-4c02-a195-da9622cf7650","name":"Zabbix: Consulta grupo do host","retryOnFail":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"r_eventid\"],\n    \"selectHosts\": [\"hostid\", \"name\"],\n    \"groupids\": \"{{ $json.result[0].groups[0].groupid }}\",\n    \"selectRelatedObject\": [\"description\", \"value\"],\n    \"selectAcknowledges\": [\"clock\", \"message\", \"action\", \"username\"],\n    \"time_from\": \"{{ $('Normaliza os dados').item.json['timestamp da queda'] - 60*30 }}\",\n    \"time_till\": \"{{ $('Normaliza os dados').item.json['timestamp da queda'] + 60*30 }}\",\n    \"sortfield\": [\"clock\", \"eventid\"],\n    \"sortorder\": \"DESC\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2704,160],"id":"8aabfdff-66be-4b90-94ef-66fc47dacac4","name":"Zabbix: Consulta de eventos do grupo","retryOnFail":true},{"parameters":{"jsCode":"const nomeHostLimpo = $('Normaliza os dados').first().json['nome simplificado do host'];\nconst hostName = $input.first().json.resultadosFiltrados[0].host\nconst hostsFiltradosParaAviso = $input.first().json.resultadosFiltrados;\nconst idMovideskAberturaTickets = $('Normaliza os dados').first().json['id de abertura de chamado no movidesk'];\nlet copiaTicketMovidesk = $('Normaliza os dados').first().json['e-mail em cópia']\n\nif (copiaTicketMovidesk == \"\") {\n  copiaTicketMovidesk = \"\"\n} else {\n  copiaTicketMovidesk\n}\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n  // Obtém a hora atual no fuso horário de São Paulo\n  const hour = new Date().toLocaleString(\"en-US\", { \n    timeZone: \"America/Sao_Paulo\",\n    hour: \"numeric\",\n    hour12: false\n  });\n\n  let greeting;\n\n  // Define o turno conforme o horário\n  if (hour >= 18 || hour < 5) {\n    greeting = \"Boa noite\";\n  } else if (hour >= 5 && hour < 12) {\n    greeting = \"Bom dia\";\n  } else {\n    greeting = \"Boa tarde\";\n  }\n\n  return greeting;\n}\n\n// Monta as linhas do tbody\nlet linhasTabela = \"\";\n\nfor (const item of hostsFiltradosParaAviso) {\n  linhasTabela += `\n    <tr>\n        <td>${item.host}</td>\n        <td>${item.evento}</td>\n        <td>${item.dataHoraFormatada}</td>\n    </tr>\n  `;\n}\n\n\n// ==== VARIÁVEIS DO CLIENTE =====\nconst idCliente = idMovideskAberturaTickets  // para teste: \"1836303904\";\nconst emCopiaPara = copiaTicketMovidesk;\n\n// ===== PREPARAÇÃO PARA CRIAÇÃO DO TICKET ====\nconst htmlCliente = `\n<p>${getGreeting()}</p>\n<br>\n<p>Identificamos o seguinte alerta em nosso sistema de monitoramento:</p>\n\n<div style=\"width: 70%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n  <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n    <thead>\n        <tr>\n          <th>Hosts</th>\n          <th>Eventos</th>\n          <th>Horário das quedas</th>\n        </tr>\n    </thead>\n    <tbody>\n        ${linhasTabela}\n    </tbody>\n  </table>\n</div>\n\n<p> Gostaríamos de confirmar se a ocorrência já é de conhecimento da equipe ${nomeHostLimpo} ou se trata de uma falha eventual? </p>\n<p>Recomendamos a verificação da ocorrência acima para validação e tratativa da indisponibilidade. Permaneceremos em monitoramento e informaremos quando o evento estiver com status de resolvido em nosso monitoramento.</p>\n<br>\n<br>\n<p>Atenciosamente </p>\n<img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n`;\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nreturn {\n  json: {\n    type: 2,\n    subject: `REPARO - ${hostName}`,\n    category: \"01 - Atendimento Helpdesk\",\n    serviceFirstLevelId: 325878,\n    urgency: \"Média\",\n    ownerTeam: \"NOC\",\n    status: \"Aguardando\",\n    justification: \"Validação\",\n    createdBy: { id: \"1458772347\" },\n    Clients: [{ id: idCliente }],\n    cc: emCopiaPara,\n    actions: [\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" } }\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3376,-80],"id":"8a2c06c3-169a-4e4b-b582-c710e1f97c82","name":"Prepara dados para abertura de chamado2"},{"parameters":{"method":"POST","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3600,-80],"id":"fc2907f7-2db0-4438-b530-bb4bdf16f1c0","name":"Movidesk: Notifica indisponibilidade2","retryOnFail":true},{"parameters":{"jsCode":"const nomeHostLimpo = $('Normaliza os dados').first().json['nome simplificado do host'];\nconst hostsFiltradosParaAviso = $input.first().json.resultadosFiltrados;\nconst idMovideskAberturaTickets = $('Normaliza os dados').first().json['id de abertura de chamado no movidesk'];\nconst host = $input.first().json.resultadosFiltrados[0].host\nlet copiaTicketMovidesk = $('Normaliza os dados').first().json['e-mail em cópia']\n\nif (copiaTicketMovidesk == \"\") {\n  copiaTicketMovidesk = \"\"\n} else {\n  copiaTicketMovidesk\n}\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n  // Obtém a hora atual no fuso horário de São Paulo\n  const hour = new Date().toLocaleString(\"en-US\", { \n    timeZone: \"America/Sao_Paulo\",\n    hour: \"numeric\",\n    hour12: false\n  });\n\n  let greeting;\n\n  // Define o turno conforme o horário\n  if (hour >= 18 || hour < 5) {\n    greeting = \"Boa noite\";\n  } else if (hour >= 5 && hour < 12) {\n    greeting = \"Bom dia\";\n  } else {\n    greeting = \"Boa tarde\";\n  }\n\n  return greeting;\n}\n\n// Monta as linhas do tbody\nlet linhasTabela = \"\";\n\nfor (const item of hostsFiltradosParaAviso) {\n  linhasTabela += `\n    <tr>\n        <td>${item.host}</td>\n        <td>${item.evento}</td>\n        <td>${item.dataHoraFormatada}</td>\n    </tr>\n  `;\n}\n\n\n// ==== VARIÁVEIS DO CLIENTE =====\nconst idCliente = idMovideskAberturaTickets  // para teste: \"1836303904\";\nconst emCopiaPara = copiaTicketMovidesk;\n\n// ===== PREPARAÇÃO PARA CRIAÇÃO DO TICKET ====\nconst htmlCliente = `\n<p>${getGreeting()}</p>\n<br>\n<p>Identificamos o seguinte alerta em nosso sistema de monitoramento:</p>\n\n<div style=\"width: 70%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n  <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n    <thead>\n        <tr>\n          <th>Hosts</th>\n          <th>Eventos</th>\n          <th>Horário das quedas</th>\n        </tr>\n    </thead>\n    <tbody>\n        ${linhasTabela}\n    </tbody>\n  </table>\n</div>\n\n<p> Gostaríamos de confirmar se a ocorrência já é de conhecimento da equipe ${nomeHostLimpo} ou se trata de uma falha eventual? </p>\n<p>Recomendamos a verificação da ocorrência acima para validação e tratativa da indisponibilidade. Permaneceremos em monitoramento e informaremos quando o evento estiver com status de resolvido em nosso monitoramento.</p>\n<br>\n<br>\n<p>Atenciosamente </p>\n<img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n`;\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nreturn {\n  json: {\n    type: 2,\n    subject: `REPARO - ${host}`,\n    category: \"01 - Atendimento Helpdesk\",\n    serviceFirstLevelId: 325878,\n    urgency: \"Média\",\n    ownerTeam: \"NOC\",\n    status: \"Aguardando\",\n    justification: \"Validação\",\n    createdBy: { id: \"1458772347\" },\n    Clients: [{ id: idCliente }],\n    cc: emCopiaPara,\n    actions: [\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" } }\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3376,368],"id":"d33acb47-5d12-4bb4-a45a-c12db9d33ac2","name":"Prepara dados para abertura de chamado3"},{"parameters":{"method":"POST","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3600,368],"id":"3613d9eb-29fa-4ca8-81e4-2811d5eebbba","name":"Movidesk: Notifica indisponibilidade3","retryOnFail":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4272,272],"id":"bba541d0-a529-4cea-b10a-472e42947caf","name":"Zabbix: Reconhece evento6","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=*Nota: O seguinte chamado foi aberto no Movidesk e encaminhado ao cliente*\n\n**GRUPO:** {{ $('Normaliza os dados').item.json['nome simplificado do host'] }}\n**HOST MATRIZ:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**EVENTO MATRIZ:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**DATA E HORA DA QUEDA:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n**EVENTOS RELACIONADOS:** {{ $json.params.eventids }}\n\n**Linha no BD:** {{ $('Supabase: Nova linha do chamado3').item.json.id }}","color":"#25FF2C","title":"🚨 Chamado aberto e cliente informado"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[4272,464],"id":"bfab72d1-6db5-48c7-84e6-bc26c8b65795","name":"Discord: Notifica abertura de chamado1","webhookId":"eeed722b-607e-4597-8511-e54a55e53154","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}},{"parameters":{"jsCode":"const resultados = $input.first().json.result;\n\nlet resultadosFiltrados = [];\n\n// 1️⃣ Filtra apenas eventos com r_eventid = 0\nfor (const resultado of resultados) {\n  if (resultado.r_eventid != '0') continue;\n\n  let quedaFormatada = DateTime.fromSeconds(\n    parseInt(resultado.clock), \n    { zone: \"America/Sao_Paulo\" }\n  ).toFormat(\"dd/MM/yyyy - HH:mm:ss\");\n\n  resultadosFiltrados.push({\n    id_evento: resultado.eventid,\n    host: resultado.hosts[0].name,\n    evento: resultado.relatedObject.description,\n    timestampQueda: resultado.clock,\n    dataHoraFormatada: quedaFormatada\n  });\n}\n\n// 2️⃣ Remove duplicados mantendo apenas o MAIOR eventid\nconst mapa = {}; \n// chave: \"host|evento\" → valor: objeto do evento mais recente\n\nfor (const item of resultadosFiltrados) {\n  const chave = `${item.host}|${item.evento}`;\n  const eventIdInt = parseInt(item.id_evento);\n\n  if (!mapa[chave] || eventIdInt > parseInt(mapa[chave].id_evento)) {\n    mapa[chave] = item;\n  }\n}\n\n// 3️⃣ Converte de volta para array\nconst resultadosUnicos = Object.values(mapa);\n\n// 4️⃣ Cria array só com eventids\nconst eventidsFiltrados = resultadosUnicos.map(e => e.id_evento);\n\nreturn [\n  {\n    resultadosFiltrados: resultadosUnicos,\n    eventidsFiltrados\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2928,160],"id":"ae748a0b-d5fd-4950-b485-46e07b17e53c","name":"Separa eventos ativos do host"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6e96db70-9f9c-4aa2-9883-e0a3935066b8","leftValue":"={{ $json.resultadosFiltrados }}","rightValue":2,"operator":{"type":"array","operation":"lengthGte","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3152,160],"id":"fcbe7c7e-daed-4cc2-92e0-1ad2ac44ce48","name":"Tem 2 ou mais itens no array?"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4272,-80],"id":"53bed356-9c1e-43c4-9c90-af29985f4cef","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4720,16],"id":"522b1224-c2b6-4152-8ce0-54f019c6496a","name":"Zabbix: Reconhece evento7","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"fieldToSplitOut":"eventsRelacionados","include":"selectedOtherFields","fieldsToInclude":"ticket_movidesk","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[4048,-80],"id":"47bdc507-76b6-4321-87ca-43c72610259a","name":"Individualiza"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4496,-176],"id":"a71a374f-6a84-4171-819d-833e83e079fb","name":"Agrega"},{"parameters":{"tableId":"base","fieldsUi":{"fieldValues":[{"fieldId":"id_host","fieldValue":"={{ $('Normaliza os dados').item.json['id do host'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}"},{"fieldId":"ticket_movidesk","fieldValue":"={{ $json.id }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da queda'] }}"},{"fieldId":"id_cliente_variaveis","fieldValue":"={{ $('Normaliza os dados').item.json['id do tipo de cliente no banco de dados'] }}"},{"fieldId":"status_chamado","fieldValue":"2"},{"fieldId":"id_evento","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"evento_raiz","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"hostLimpo","fieldValue":"={{ $('Normaliza os dados').item.json['nome simplificado do host'] }}"},{"fieldId":"eventsRelacionados","fieldValue":"={{ $('Separa eventos ativos do host').item.json.eventidsFiltrados }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3824,368],"id":"0d711220-199f-4805-b7d8-60b7f0cef406","name":"Supabase: Nova linha do chamado3","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $input.first().json.eventsRelacionados;\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4048,368],"id":"98293a5f-1410-40a7-8644-518c3a6bf651","name":"Prepara dados para reconhecimento9"},{"parameters":{"tableId":"base","fieldsUi":{"fieldValues":[{"fieldId":"id_host","fieldValue":"={{ $('Normaliza os dados').item.json['id do host'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}"},{"fieldId":"ticket_movidesk","fieldValue":"={{ $json.id }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da queda'] }}"},{"fieldId":"id_cliente_variaveis","fieldValue":"={{ $('Normaliza os dados').item.json['id do tipo de cliente no banco de dados'] }}"},{"fieldId":"status_chamado","fieldValue":"2"},{"fieldId":"id_evento","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"evento_raiz","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"hostLimpo","fieldValue":"={{ $('Normaliza os dados').item.json['nome simplificado do host'] }}"},{"fieldId":"eventsRelacionados","fieldValue":"={{ $('Separa eventos ativos do host').item.json.eventidsFiltrados }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3824,-80],"id":"97e7951f-3556-4cc5-b88f-65637dad4cfd","name":"Supabase: Nova linha do chamado4","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $input.first().json.eventsRelacionados;\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4496,16],"id":"76115704-1952-45fa-8d77-e12fddd6dbae","name":"Prepara dados para reconhecimento4"},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=*Nota: O seguinte chamado foi aberto no Movidesk e encaminhado ao cliente*\n\n**GRUPO:** {{ $('Normaliza os dados').item.json['nome simplificado do host'] }}\n**HOST MATRIZ:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**EVENTO MATRIZ:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**DATA E HORA DA QUEDA:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n**EVENTOS RELACIONADOS:** {{ $('Supabase: Nova linha do chamado4').item.json.eventsRelacionados }}\n**Linha no BD:** {{ $('Supabase: Nova linha do chamado4').item.json.id }}","color":"#25FF2C","title":"🚨 Chamado aberto e cliente informado"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[4720,-176],"id":"350519de-342d-408b-beda-ca07c593e068","name":"Discord: Notifica abertura de chamado2","webhookId":"eeed722b-607e-4597-8511-e54a55e53154","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}},{"parameters":{"assignments":{"assignments":[{"id":"d1d36053-f3c7-4ed0-a2f3-6747d9cbf7d2","name":"id do evento","value":"={{ $json['id do evento'] }}","type":"number"},{"id":"318d03c2-1d41-4410-8881-2bbc4b13dd74","name":"id do host","value":"={{ $json['id do host'] }}","type":"number"},{"id":"7bd0b7c5-203f-4b4f-b8e6-1e79dd0a7dc7","name":"id do evento de recuperação","value":"={{ $json['id do evento de recuperação'] }}","type":"number"},{"id":"789e2feb-4165-4c8b-b0bc-788e0bc8ca76","name":"id do tipo de cliente no banco de dados","value":"={{ $json['id do tipo de cliente no banco de dados'] }}","type":"number"},{"id":"fdd09588-b518-4435-a469-5b96606ebd5f","name":"id do cliente na planilha","value":"={{ $json['id do cliente na planilha'] }}","type":"string"},{"id":"98c36083-5654-4b9d-87c7-e98c5bb2bffe","name":"id de abertura de chamado no movidesk","value":"={{ $json['id de abertura de chamado no movidesk'] }}","type":"string"},{"id":"afbac7f4-747b-4eb9-a09e-adcb2d57e136","name":"nome completo do host","value":"={{ $json['nome completo do host'] }}","type":"string"},{"id":"82c7b23e-cfbe-493f-b173-636c3b465693","name":"nome simplificado do host","value":"={{ $json['nome simplificado do host'] }}","type":"string"},{"id":"8e3f6ed7-1e4b-4763-8a5e-2ce86d5409cc","name":"nome simplificado do host","value":"={{ $json['nome simplificado do host'] }}","type":"string"},{"id":"e7684294-aa5d-4dc0-b9b5-6424c254cafa","name":"evento gerador","value":"={{ $json['evento gerador'] }}","type":"string"},{"id":"ee8ba776-6d79-4225-9dff-e5e4ee54cf7c","name":"tipo de evento","value":"={{ $json['tipo de evento'] }}","type":"string"},{"id":"61ee7e26-d6bf-46fa-9b0e-1a3b7dbb9d61","name":"timestamp da queda","value":"={{ $json['timestamp da queda'] }}","type":"number"},{"id":"33ac13e9-3501-4892-b86e-a8be785b54f8","name":"timestamp da queda","value":"={{ $json['timestamp da queda'] }}","type":"number"},{"id":"15e764c6-3c75-456e-8247-1801b67cb20d","name":"data e hora da queda","value":"={{ $json['data e hora da queda'] }}","type":"string"},{"id":"84aa5d2b-41bc-4b54-a3a6-3e5f80f33617","name":"timestamp da recuperação","value":"={{ $json['timestamp da recuperação'] }}","type":"number"},{"id":"2d2bc9d7-8693-4a84-8400-7300e64032a1","name":"data e hora da recuperação","value":"={{ $json['data e hora da recuperação'] }}","type":"string"},{"id":"ceba9587-89c1-4842-9ff3-05a80774f240","name":"relação do cliente com a max","value":"={{ $json['relação do cliente com a max'] }}","type":"string"},{"id":"c18847d4-03bb-4005-b2d6-2323d5d6f548","name":"e-mail destinatário","value":"={{ $json['e-mail destinatário'] }}","type":"string"},{"id":"48e499bd-41bf-4343-8f56-9af7559c7dae","name":"e-mail em cópia","value":"={{ $json['e-mail em cópia'] }}","type":"string"},{"id":"fff082d9-bbb6-4b1b-9ef0-ccb7b97beba9","name":"timestamp para cálculo de redução de tempo","value":"={{ $json['timestamp para cálculo de redução de tempo'] }}","type":"number"},{"id":"ed579192-06a8-41dc-907d-f87dab58af3c","name":"máximo rodadas no encerramento","value":"={{ $json['máximo rodadas no encerramento'] }}","type":"number"},{"id":"6f0a1421-4488-4d3d-aad4-0ce0ca1bc33c","name":"tempo que permaneceu o alerta","value":"={{ $json['timestamp da recuperação'] - $json['timestamp da queda'] }}","type":"string"}]},"options":{"ignoreConversionErrors":false}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1072,448],"id":"f23f2c6b-f61d-458c-bdec-9633706399d6","name":"Normaliza os dados"}],"connections":{"Rotas":{"main":[[{"node":"Verifica igualdade de hosts","type":"main","index":0}],[{"node":"Zabbix: Consulta por eventos anterior","type":"main","index":0}]]},"Abertura chamado?":{"main":[[{"node":"Supabase: Recupera correspondências","type":"main","index":0}],[{"node":"Supabase: Recupera correspondências1","type":"main","index":0}]]},"Ticket Movidesk é 0?":{"main":[[{"node":"Zabbix: Recupera dados do evento","type":"main","index":0}],[{"node":"Prepara dados para reconhecimento1","type":"main","index":0}]]},"Prepara os dados para vários eventos":{"main":[[{"node":"Existem dois eventos ou mais?","type":"main","index":0}]]},"Existem dois eventos ou mais?":{"main":[[{"node":"Zabbix: Consulta dados de n eventos","type":"main","index":0}],[{"node":"Supabase: Atualiza encerramento do evento","type":"main","index":0}]]},"Ajusta informação de encerramento para n eventos":{"main":[[{"node":"Movidesk: Notifica encerramento","type":"main","index":0}]]},"Zabbix: Consulta dados de n eventos":{"main":[[{"node":"Organiza os dados em arrays","type":"main","index":0}]]},"Zabbix: Recupera o clock dos eventos":{"main":[[{"node":"Ajusta informação de encerramento para n eventos","type":"main","index":0}]]},"Movidesk: Notifica encerramento":{"main":[[{"node":"Supabase: Atualiza encerramento do evento1","type":"main","index":0}]]},"Supabase: Recupera correspondências1":{"main":[[{"node":"Tem dados na tabela?1","type":"main","index":0}]]},"Supabase: Atualiza timestamp de recuperação":{"main":[[{"node":"Prepara os dados para vários eventos","type":"main","index":0}]]},"Organiza os dados em arrays":{"main":[[{"node":"Existem eventos ativos?","type":"main","index":0}]]},"Supabase: Atualiza encerramento do evento":{"main":[[{"node":"Movidesk: Notifica encerramento","type":"main","index":0}]]},"Supabase: Atualiza encerramento do evento1":{"main":[[{"node":"Aguarda","type":"main","index":0}]]},"Aguarda":{"main":[[{"node":"Prepara dados para encerramento ","type":"main","index":0}]]},"Prepara dados para encerramento ":{"main":[[{"node":"Movidesk: Encerra ticket no Movidesk","type":"main","index":0}]]},"Existem eventos ativos?":{"main":[[{"node":"Consulta dados do evento no Zabbix","type":"main","index":0}],[{"node":"Zabbix: Recupera o clock dos eventos","type":"main","index":0}]]},"Consulta dados do evento no Zabbix":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Prepara dados para abertura de chamado1","type":"main","index":0}]]},"Movidesk: Notifica indisponibilidade1":{"main":[[{"node":"Prepara dados para reconhecimento6","type":"main","index":0}]]},"Prepara dados para abertura de chamado1":{"main":[[{"node":"Movidesk: Notifica indisponibilidade1","type":"main","index":0}]]},"Prepara dados para reconhecimento6":{"main":[[{"node":"Zabbix: Reconhece evento4","type":"main","index":0}]]},"Tem dados na tabela?1":{"main":[[{"node":"Supabase: Atualiza timestamp de recuperação","type":"main","index":0},{"node":"Notifica encerramento1","type":"main","index":0}],[{"node":"Faça nada1","type":"main","index":0}]]},"Quando main é executado":{"main":[[{"node":"Normaliza os dados","type":"main","index":0}]]},"Supabase: Recupera correspondências":{"main":[[{"node":"Verifica se existe ticket e direciona na rota","type":"main","index":0}]]},"Verifica se existe ticket e direciona na rota":{"main":[[{"node":"Rotas","type":"main","index":0}]]},"Verifica igualdade de hosts":{"main":[[{"node":"Hosts são iguais?","type":"main","index":0}]]},"Hosts são iguais?":{"main":[[{"node":"Supabase: Atualiza qnd_quedas","type":"main","index":0}],[{"node":"Prepara push de eventos dentro do tempo1","type":"main","index":0}]]},"Zabbix: Recupera dados do evento":{"main":[[{"node":"Separa os alertas com reconhecimento 6","type":"main","index":0}]]},"Separa os alertas com reconhecimento 6":{"main":[[{"node":"Prepara dados para reconhecimento","type":"main","index":0}]]},"Prepara dados para reconhecimento":{"main":[[{"node":"Zabbix: Reconhece o evento","type":"main","index":0}]]},"Supabase: Atualiza qnd_quedas":{"main":[[{"node":"Ticket Movidesk é 0?","type":"main","index":0}]]},"Prepara dados para reconhecimento1":{"main":[[{"node":"Zabbix: Reconhece o evento","type":"main","index":0}]]},"Zabbix: Consulta por eventos anterior":{"main":[[{"node":"Separa os alertas igual a 6","type":"main","index":0}]]},"Separa os alertas igual a 6":{"main":[[{"node":"Filtrados está vazio?","type":"main","index":0}]]},"Filtrados está vazio?":{"main":[[{"node":"Zabbix: Consulta grupo do host","type":"main","index":0}],[{"node":"Prepara dados para reconhecimento5","type":"main","index":0}]]},"Prepara dados para reconhecimento5":{"main":[[{"node":"Existe ticket Movidesk?","type":"main","index":0}]]},"Existe ticket Movidesk?":{"main":[[{"node":"Supabase: Nova linha do chamado","type":"main","index":0}],[{"node":"Supabase: Nova linha do chamado1","type":"main","index":0}]]},"Supabase: Nova linha do chamado":{"main":[[{"node":"Prepara dados para reconhecimento7","type":"main","index":0}]]},"Prepara dados para reconhecimento7":{"main":[[{"node":"Zabbix: Reconhece evento1","type":"main","index":0},{"node":"Discord: Notifica reconhecimento1","type":"main","index":0}]]},"Prepara dados para reconhecimento8":{"main":[[{"node":"Zabbix: Reconhece evento1","type":"main","index":0},{"node":"Discord: Notifica reconhecimento","type":"main","index":0}]]},"Supabase: Nova linha do chamado1":{"main":[[{"node":"Prepara dados para reconhecimento8","type":"main","index":0}]]},"Eventos são próximos?":{"main":[[{"node":"Novo evento para BD?","type":"main","index":0}],[{"node":"Zabbix: Consulta por eventos anterior","type":"main","index":0}]]},"Novo evento para BD?":{"main":[[{"node":"Supabase: Atualiza evento existente1","type":"main","index":0}],[{"node":"No Ops","type":"main","index":0}]]},"Update no Movidesk":{"main":[[{"node":"Movidesk: Atualiza ticket1","type":"main","index":0}]]},"Reconhecimento no Zabbix":{"main":[[{"node":"Zabbix: Reconhece evento2","type":"main","index":0}]]},"Supabase: Atualiza evento existente1":{"main":[[{"node":"Reconhecimento no Zabbix","type":"main","index":0},{"node":"Update no Movidesk","type":"main","index":0}]]},"Prepara push de eventos dentro do tempo1":{"main":[[{"node":"Eventos são próximos?","type":"main","index":0}]]},"Zabbix: Consulta grupo do host":{"main":[[{"node":"Zabbix: Consulta de eventos do grupo","type":"main","index":0}]]},"Zabbix: Consulta de eventos do grupo":{"main":[[{"node":"Separa eventos ativos do host","type":"main","index":0}]]},"Prepara dados para abertura de chamado2":{"main":[[{"node":"Movidesk: Notifica indisponibilidade2","type":"main","index":0}]]},"Movidesk: Notifica indisponibilidade2":{"main":[[{"node":"Supabase: Nova linha do chamado4","type":"main","index":0}]]},"Prepara dados para abertura de chamado3":{"main":[[{"node":"Movidesk: Notifica indisponibilidade3","type":"main","index":0}]]},"Movidesk: Notifica indisponibilidade3":{"main":[[{"node":"Supabase: Nova linha do chamado3","type":"main","index":0}]]},"Separa eventos ativos do host":{"main":[[{"node":"Tem 2 ou mais itens no array?","type":"main","index":0}]]},"Tem 2 ou mais itens no array?":{"main":[[{"node":"Prepara dados para abertura de chamado2","type":"main","index":0}],[{"node":"Prepara dados para abertura de chamado3","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Agrega","type":"main","index":0}],[{"node":"Prepara dados para reconhecimento4","type":"main","index":0}]]},"Zabbix: Reconhece evento7":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Individualiza":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Agrega":{"main":[[{"node":"Discord: Notifica abertura de chamado2","type":"main","index":0}]]},"Supabase: Nova linha do chamado3":{"main":[[{"node":"Prepara dados para reconhecimento9","type":"main","index":0}]]},"Prepara dados para reconhecimento9":{"main":[[{"node":"Discord: Notifica abertura de chamado1","type":"main","index":0},{"node":"Zabbix: Reconhece evento6","type":"main","index":0}]]},"Supabase: Nova linha do chamado4":{"main":[[{"node":"Individualiza","type":"main","index":0}]]},"Prepara dados para reconhecimento4":{"main":[[{"node":"Zabbix: Reconhece evento7","type":"main","index":0}]]},"Normaliza os dados":{"main":[[{"node":"Abertura chamado?","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2025-11-05T16:31:43.287Z","createdAt":"2025-11-05T16:31:43.287Z","id":"JcnJcC8kUspunBU7","name":"clientes_contrato"},{"updatedAt":"2025-10-24T18:08:27.659Z","createdAt":"2025-10-24T18:08:27.659Z","id":"oUDNU2rUDi9xwp5Q","name":"FluxoNOC_principal"}]}