01.01.-clientes-gerais-l1K9Mj7uaykLsqdm.json
{"updatedAt":"2025-12-03T12:10:53.000Z","createdAt":"2025-11-06T18:14:22.463Z","id":"l1K9Mj7uaykLsqdm","name":"01.01. clientes gerais","active":true,"isArchived":true,"nodes":[{"parameters":{"tableId":"base","fieldsUi":{"fieldValues":[{"fieldId":"id_host","fieldValue":"={{ $('Normaliza os dados').item.json['id do host'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}"},{"fieldId":"ticket_movidesk","fieldValue":"={{ $json.ticketMovidesk }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da queda'] }}"},{"fieldId":"id_cliente_variaveis","fieldValue":"={{ $('Normaliza os dados').item.json['id do tipo de cliente no banco de dados'] }}"},{"fieldId":"status_chamado","fieldValue":"2"},{"fieldId":"id_evento","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"evento_raiz","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"hostLimpo","fieldValue":"={{ $('Normaliza os dados').item.json['nome simplificado do host'] }}"},{"fieldId":"eventsRelacionados","fieldValue":"={{ [$('Normaliza os dados').item.json['id do evento']] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1424,608],"id":"c3192493-29bc-4a58-8d94-5538ed091e49","name":"Adiciona nova linha na tabela1","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Valida se existem tickets e direciona na rota').item.json.rota }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"b53a2c98-1777-47a6-bb9c-3122c2c362ab"}],"combinator":"and"},"renameOutput":true,"outputKey":"Acks + Obs"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bb41d250-8bb6-4cfe-b2ce-b52df85a86b9","leftValue":"={{ $('Valida se existem tickets e direciona na rota').item.json.rota }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Verificar Zabbix"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-912,208],"id":"e153d649-6d43-40bc-a4aa-c35d2e05273d","name":"Rotas"},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"name\", \"value\", \"host\", \"hostid\"],\n    \"select_acknowledges\": [\n      \"acknowledgeid\",\n      \"userid\",\n      \"eventid\",\n      \"clock\",\n      \"message\",\n      \"action\",\n      \"username\"\n    ],\n    \"time_from\": \"{{ $('Normaliza os dados').first().json['timestamp para cálculo de redução de tempo'] }}\",\n    \"selectHosts\": [\"hostid\", \"host\"],\n    \"hostids\": \"{{ $('Normaliza os dados').first().json['id do host'] }}\",\n    \"sortfield\": \"clock\",\n    \"sortorder\": \"DESC\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,512],"id":"f766fed2-0015-4466-ba0a-b8d141280f58","name":"Zabbix: Consulta por eventos anteriores","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,144],"id":"38c96d05-9dee-49fd-acf4-d1bdca6d767c","name":"Zabbix: Reconhece evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"method":"PATCH","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6&id={{ $('Supabase: Recupera correspondências').item.json.ticket_movidesk }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,-48],"id":"b224fb32-1998-4faf-beed-5e9f1570340d","name":"Movidesk: Atualiza ticket","retryOnFail":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1872,704],"id":"1c3c4a2e-8824-4008-892d-6d85c7955970","name":"Zabbix: Reconhece evento3","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"// Obtém a mensagem\nconst messageTicket = $input.first().json.acksFiltrados.filtrados[0].json.acknowledge_mais_recente.message;\n\n// Busca o primeiro número na mensagem\nconst numerosEncontrados = messageTicket.match(/\\d+/);\n\n// Se encontrar, converte para número; senão, retorna null\nconst numeroTicket = numerosEncontrados ? parseInt(numerosEncontrados[0]) : null;\n\nreturn [\n  {\n    ticketMovidesk: numeroTicket,\n    message: messageTicket\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,608],"id":"ef416804-4595-4a99-b64d-8c241447959b","name":"Prepara dados para reconhecimento1"},{"parameters":{"jsCode":"const messageAcks = $('Prepara dados para reconhecimento1').first().json.message;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,608],"id":"70b0bf52-2191-4b9d-9987-771ee46be716","name":"Prepara dados para reconhecimento2"},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=**HOST:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**EVENTO:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**DATA E HORA DA QUEDA:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n**DATA E HORA DA ATUALIZAÇÃO:** {{ DateTime.now().format('dd/MM/yyyy HH:mm:ss')}}","color":"#25FF2C","title":"ADICIONADO COMENTÁRIO NO ZABBIX"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1872,512],"id":"c0a4cc19-c93a-4159-8473-a91cea657b47","name":"Discord: Notifica reconhecimento","webhookId":"eeed722b-607e-4597-8511-e54a55e53154","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb6eff08-3023-4783-bfaf-1cacf44c64ab","leftValue":"={{ $json.acksFiltrados.status }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[976,512],"id":"072e8f6d-eac5-403c-904e-4944d44c89d5","name":"Filtrados está vazio?"},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Supabase: Recupera correspondências').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"eventsRelacionados","fieldValue":"={{ $json.resultado.eventosRelacionados }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[528,48],"id":"304f5ef1-9b16-444e-9ab7-e25f47916dcc","name":"Supabase: Atualiza evento existente","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const timestampEventoAtual = Number($('Normaliza os dados').first().json['timestamp da queda']);\nconst timestampEventoBd = Number($('Supabase: Recupera correspondências').first().json.timestamp_queda);\nlet eventosRelacionadosBd = $('Supabase: Recupera correspondências').first().json.eventsRelacionados;\nconst idEventoAtual = $('Normaliza os dados').first().json['id do evento'];\n\nconst intervaloSegundos = 1800; // 30 minutos\n\nfunction validaComBanco (timestampAtual, timestampBanco, intervalo) {\n  const diferenca = timestampAtual - timestampBanco\n\n  return diferenca >= 0 && diferenca <= intervalo;\n}\n\nlet algumDentroDoPrazo = false;\nif (validaComBanco(timestampEventoAtual, timestampEventoBd, intervaloSegundos)) {\n  algumDentroDoPrazo = true;\n}\n\nfunction validaNovoEvento(eventosRelacionados, eventoAtual) {\n  // Normaliza tudo para string\n  const eventoAtualStr = String(eventoAtual);\n  const eventosNormalizados = eventosRelacionados.map(ev => String(ev));\n\n  const jaExiste = eventosNormalizados.includes(eventoAtualStr);\n\n  if (jaExiste) {\n    return {\n      eventosParaBd: false,\n      eventosRelacionados // mantém original\n    };\n  }\n\n  // Adiciona normalizado\n  eventosRelacionados.push(eventoAtualStr);\n\n  return {\n    eventosParaBd: true,\n    eventosRelacionados\n  };\n}\n\nconst resultado = validaNovoEvento(eventosRelacionadosBd, idEventoAtual);\n\nreturn [{\n  timestampEventoAtual,\n  timestampEventoBd,\n  dentroPrazo: algumDentroDoPrazo,\n  resultado\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,144],"id":"0973785a-ad78-4d7c-bf2c-a2fddff5296a","name":"Prepara push de eventos dentro do tempo"},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.idTabela }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"qnd_quedas","fieldValue":"={{ $json.qndQuedas + 1 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-144,-384],"id":"0455f53d-e261-4971-92ce-90f0da73962a","name":"Supabase: Atualiza qnd_quedas","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const messageAcks = $input.first().json.acknowledges[0].message;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,-480],"id":"7b1d20a1-d04f-4903-bfe3-5494468d0c8e","name":"Prepara dados para reconhecimento5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"67371f0a-6119-4eaf-8f11-ce2becc7bc8b","leftValue":"={{ $('Verifica igualdade de hosts').item.json.igualdadeDeHost }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-368,-128],"id":"e6fc030b-761d-40f3-aa02-8b8f446165b0","name":"Hosts são iguais?"},{"parameters":{"jsCode":"const nomeHostSupabase = $('Supabase: Recupera correspondências').first().json.nome_host;\nconst nomeHostEvento = $('Normaliza os dados').first().json['nome completo do host'];\nconst idTabela = $('Supabase: Recupera correspondências').first().json.id;\nconst qndQuedas = $('Supabase: Recupera correspondências').first().json.qnd_quedas;\n\nif (nomeHostSupabase == nomeHostEvento) {\n  return [{igualdadeDeHost: true, idTabela, qndQuedas}]\n} else {\n  return [{igualdadeDeHost: false, idTabela, qndQuedas}]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-592,-128],"id":"296b98ae-713c-4ac5-8d03-984ab90360bc","name":"Verifica igualdade de hosts"},{"parameters":{"jsCode":"const idEventoTabela = $input.first().json.id;\nconst ticketMovideskTabela = $input.first().json.ticket_movidesk;\n\nif ((idEventoTabela && ticketMovideskTabela) || (idEventoTabela && ticketMovideskTabela == 0) ) {\n  return [{ \n    \"rota\": 1,\n    \"descricao\": \"Há um evento inserido na tabela com ticket Movidesk\"\n  }]\n} else if (!idEventoTabela && !ticketMovideskTabela) {\n  return [{\n    \"rota\": 2,\n    \"descricao\": \"Verificar no Zabbix - sem evento na tabela\"\n  }]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1136,208],"id":"ed2b2105-4d04-46e2-af84-28e76c59f22f","name":"Valida se existem tickets e direciona na rota"},{"parameters":{"operation":"getAll","tableId":"base","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"hostLimpo","condition":"eq","keyValue":"={{ $('Normaliza os dados').item.json['nome simplificado do host'] }}"},{"keyName":"timestamp_queda","condition":"gte","keyValue":"={{ $('Normaliza os dados').item.json['timestamp para cálculo de redução de tempo'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1360,208],"id":"d5d708e0-e61c-48a5-aff3-42f662137509","name":"Supabase: Recupera correspondências","alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d1d36053-f3c7-4ed0-a2f3-6747d9cbf7d2","name":"id do evento","value":"={{ $('Quando Main é executado').item.json['id do evento'] }}","type":"number"},{"id":"318d03c2-1d41-4410-8881-2bbc4b13dd74","name":"id do host","value":"={{ $('Quando Main é executado').item.json['id do host'] }}","type":"number"},{"id":"7bd0b7c5-203f-4b4f-b8e6-1e79dd0a7dc7","name":"id do evento de recuperação","value":"={{ $('Quando Main é executado').item.json['id do evento de recuperação'] }}","type":"number"},{"id":"789e2feb-4165-4c8b-b0bc-788e0bc8ca76","name":"id do tipo de cliente no banco de dados","value":"={{ $('Quando Main é executado').item.json['id do tipo de cliente no banco de dados'] }}","type":"number"},{"id":"fdd09588-b518-4435-a469-5b96606ebd5f","name":"id do cliente na planilha","value":"={{ $('Quando Main é executado').item.json['id do cliente na planilha'] }}","type":"string"},{"id":"98c36083-5654-4b9d-87c7-e98c5bb2bffe","name":"id de abertura de chamado no movidesk","value":"={{ $('Quando Main é executado').item.json['id de abertura de chamado no movidesk'] }}","type":"string"},{"id":"afbac7f4-747b-4eb9-a09e-adcb2d57e136","name":"nome completo do host","value":"={{ $('Quando Main é executado').item.json['nome completo do host'] }}","type":"string"},{"id":"82c7b23e-cfbe-493f-b173-636c3b465693","name":"nome simplificado do host","value":"={{ $('Quando Main é executado').item.json['nome simplificado do host'] }}","type":"string"},{"id":"8e3f6ed7-1e4b-4763-8a5e-2ce86d5409cc","name":"nome simplificado do host","value":"={{ $('Quando Main é executado').item.json['nome simplificado do host'] }}","type":"string"},{"id":"e7684294-aa5d-4dc0-b9b5-6424c254cafa","name":"evento gerador","value":"={{ $('Quando Main é executado').item.json['evento gerador'] }}","type":"string"},{"id":"61ee7e26-d6bf-46fa-9b0e-1a3b7dbb9d61","name":"timestamp da queda","value":"={{ $('Quando Main é executado').item.json['timestamp da queda'] }}","type":"number"},{"id":"33ac13e9-3501-4892-b86e-a8be785b54f8","name":"timestamp da queda","value":"={{ $('Quando Main é executado').item.json['timestamp da queda'] }}","type":"number"},{"id":"15e764c6-3c75-456e-8247-1801b67cb20d","name":"data e hora da queda","value":"={{ $('Quando Main é executado').item.json['data e hora da queda'] }}","type":"string"},{"id":"ceba9587-89c1-4842-9ff3-05a80774f240","name":"relação do cliente com a max","value":"={{ $('Quando Main é executado').item.json['relação do cliente com a max'] }}","type":"string"},{"id":"c18847d4-03bb-4005-b2d6-2323d5d6f548","name":"e-mail destinatário","value":"={{ $('Quando Main é executado').item.json['e-mail destinatário'] }}","type":"string"},{"id":"48e499bd-41bf-4343-8f56-9af7559c7dae","name":"e-mail em cópia","value":"={{ $('Quando Main é executado').item.json['e-mail em cópia'] }}","type":"string"},{"id":"fff082d9-bbb6-4b1b-9ef0-ccb7b97beba9","name":"timestamp para cálculo de redução de tempo","value":"={{ $('Quando Main é executado').item.json['timestamp para cálculo de redução de tempo'] }}","type":"number"},{"id":"ed579192-06a8-41dc-907d-f87dab58af3c","name":"máximo rodadas no encerramento","value":"={{ $('Quando Main é executado').item.json['máximo rodadas no encerramento'] }}","type":"number"},{"id":"a50b3013-5c31-446a-8b8f-62490d1dcf68","name":"id do grupo","value":"={{ $json.result[0].groups[0].groupid }}","type":"number"},{"id":"bf677a37-145a-4636-ba71-63f001f5b0ec","name":"nome do grupo","value":"={{ $json.result[0].groups[0].name }}","type":"string"}]},"options":{"ignoreConversionErrors":false}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1584,208],"id":"cb925ee8-0dae-4264-9d79-691ae72c0382","name":"Normaliza os dados"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2032,208],"id":"7b4a040d-00a1-4038-b636-dd8af0c403a1","name":"Quando Main é executado"},{"parameters":{"jsCode":"// Filtra apenas eventos com algum acknowledge de action == \"6\"\nconst eventos = $input.first().json.result;\n\n// Filtra apenas eventos que têm pelo menos um ack com action == \"6\"\nconst filtrados = eventos\n  .filter(ev => ev.acknowledges?.some(ack => ack.action == 6))\n  .map(ev => {\n    // Dentro de cada evento, pega só os acks com action == 6\n    const acks6 = (ev.acknowledges || []).filter(ack => ack.action == 6);\n\n    // Ordena por acknowledgeid (numérico) e pega o maior\n    const ackMaior = [...acks6].sort((a, b) => Number(b.acknowledgeid) - Number(a.acknowledgeid))[0];\n\n    // Retorna o evento com destaque para o acknowledge mais recente\n    return {\n      json: {\n        eventid: ev.eventid,\n        clock: ev.clock,\n        hostid: ev.hosts?.[0]?.hostid,\n        host: ev.hosts?.[0]?.host,\n        value: ev.value,\n        // acknowledge de maior id\n        acknowledge_mais_recente: {\n          acknowledgeid: ackMaior.acknowledgeid,\n          clock: ackMaior.clock,\n          \"timestampAck_formatado\": DateTime.fromSeconds(parseInt(ackMaior.clock))\n            .setZone('America/Sao_Paulo')\n            .toFormat('dd/MM/yyyy HH:mm:ss'),\n          message: ackMaior.message,\n          action: ackMaior.action,\n          username: ackMaior.username,\n          userid: ackMaior.userid\n        }\n      }\n    };\n  });\n\n// Retorna cada evento filtrado como item independente\nif (filtrados.length === 0) {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": false\n      }\n    }\n  }\n} else {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": true\n      }\n    }\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,512],"id":"4691e95a-3e23-43d5-aecf-5c7eeb380eb1","name":"Separa os alertas igual a 6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"502654af-fdee-4163-af10-933846a92ec1","leftValue":"={{ $json.ticket_movidesk }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,-384],"id":"3536f4fc-899d-49f2-9d8c-a3f48e38d3d9","name":"Ticket movidesk é igual a 0?"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,-384],"id":"6aa5b848-76b9-4c36-b618-f5bc088c908f","name":"Zabbix: Reconhece evento5","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,-288],"id":"012566ad-7e07-490d-9677-85a631b05631","name":"Prepara dados para reconhecimento7"},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"name\", \"value\", \"host\", \"hostid\"],\n    \"select_acknowledges\": [\n      \"acknowledgeid\",\n      \"userid\",\n      \"eventid\",\n      \"clock\",\n      \"message\",\n      \"action\",\n      \"username\"\n    ],\n    \"time_from\": \"{{ $('Normaliza os dados').item.json['timestamp da queda'] - (24 * 60 * 60) }}\",\n    \"selectHosts\": [\"hostid\", \"host\"],\n    \"hostids\": \"{{ $('Normaliza os dados').item.json['id do host'] }}\",\n    \"sortfield\": \"clock\",\n    \"sortorder\": \"DESC\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,-480],"id":"b36f9b47-2656-43be-9d70-e99db9fe4d0f","name":"Zabbix: Consulta por eventos anteriores1","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false},{"parameters":{"jsCode":"// Captura o resultado da API\nconst response = $json;\n\n// Caso a resposta tenha a estrutura esperada\nif (response.result && Array.isArray(response.result)) {\n  const eventos = response.result;\n\n  // Filtra apenas eventos com acknowledges contendo action = 6\n  const filtrados = eventos.filter(ev => \n    ev.acknowledges &&\n    ev.acknowledges.some(a => String(a.action) === \"6\")\n  );\n\n  // Retorna apenas os eventos válidos\n  return filtrados.map(e => ({ json: e }));\n} else {\n  // Se a estrutura for diferente, apenas retorna vazio\n  return [];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,-480],"id":"2de19744-4883-4469-963b-430ab0fe2bd5","name":"Separa apenas com reconhecimento igual a 6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3e20d80d-1506-4a91-9cf5-2ff70594f92e","leftValue":"={{ $json.dentroPrazo }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,144],"id":"78b89f63-cebb-4f7d-920a-10cf6db1c0d5","name":"Eventos são próximos?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c556d36-f358-486c-8f56-7e6430412193","leftValue":"={{ $json.resultado.eventosParaBd }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[304,144],"id":"af9c6c0f-d70b-4a95-b3ec-f9eff49859db","name":"Novo evento para BD?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[528,240],"id":"41f7af16-6d5b-40a0-83a4-3b2b7fe4bf17","name":"No Ops"},{"parameters":{"tableId":"sala de espera","fieldsUi":{"fieldValues":[{"fieldId":"id_evento","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}"},{"fieldId":"evento","fieldValue":"={{ $('Normaliza os dados').item.json['evento gerador'] }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da queda'] }}"},{"fieldId":"id_grupo","fieldValue":"={{ $('Normaliza os dados').item.json['id do grupo'] }}"},{"fieldId":"nome_grupo","fieldValue":"={{ $('Normaliza os dados').item.json['nome do grupo'] }}"},{"fieldId":"id_tipoCliente","fieldValue":"={{ $('Normaliza os dados').item.json['id do tipo de cliente no banco de dados'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1424,432],"id":"fa063192-a687-481f-81ad-93db575edab4","name":"Supabase: Cria nova linha na sala de espera","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"host.get\",\n  \"params\": {\n    \"output\": [\"hostid\", \"name\"],\n    \"selectGroups\": [\"groupid\", \"name\"],\n    \"hostids\": \"{{ $json['id do host'] }}\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 2\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1808,208],"id":"35f4b9dc-4581-4b93-912f-4c1375fa09a9","name":"Zabbix: Consulta grupo do evento","retryOnFail":true},{"parameters":{"jsCode":"const nomeCompleto_host = $('Normaliza os dados').first().json['nome completo do host'];\nconst evento_gerador = $('Normaliza os dados').first().json['evento gerador'];\nconst dataHora_queda = $('Normaliza os dados').first().json['data e hora da queda'];\nconst nomeCompleto_simplificado = $('Normaliza os dados').first().json['nome simplificado do host']\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n  // Pega o horário atual no fuso horário de São Paulo\n  const hour = new Date().toLocaleString(\"en-US\", { \n    timeZone: \"America/Sao_Paulo\" \n  });\n  \n  const horaLocal = new Date(hour).getHours();\n\n  let greeting;\n\n  // Define o turno conforme o horário\n  if (horaLocal >= 18 || horaLocal < 5) {\n    greeting = \"Boa noite\";\n  } else if (horaLocal >= 5 && horaLocal < 12) {\n    greeting = \"Bom dia\";\n  } else {\n    greeting = \"Boa tarde\";\n  }\n\n  return greeting;\n}\nconst greeting = getGreeting()\n\n// Monta as linhas do tbody\nlet linhasTabela = \"\";\nlinhasTabela += `\n  <tr>\n    <td>${nomeCompleto_host}</td>\n    <td>${evento_gerador}</td>\n    <td>${dataHora_queda}</td>\n  </tr>\n`;\n\n\nconst htmlCliente = `\n  <p>${greeting}</p>\n  <br>\n  <p>Identificamos um novo alerta relacionado ao evento reportado anteriormente:</p>\n  <div style=\"width: 70%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n  <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n    <thead>\n        <tr>\n          <th>Hosts</th>\n          <th>Eventos</th>\n          <th>Horário das quedas</th>\n        </tr>\n    </thead>\n    <tbody>\n        ${linhasTabela}\n    </tbody>\n  </table>\n</div>\n  \n  <p>Gostaríamos de confirmar se a ocorrência já é de conhecimento da equipe ${nomeCompleto_simplificado} ou se trata de uma falha eventual? </p>\n  <p>Recomendamos a verificação da ocorrência acima para validação e tratativa da indisponibilidade. Permaneceremos em monitoramento desde o do evento anteriro. Informaremos quando o evento estiver com status de resolvido em nosso monitoramento.</p>\n  <br>\n  <br>\n  <p>Atenciosamente </p>\n  <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n  `;\n\nreturn {\n  json: {\n    actions: [\n      {\n        type: 2,\n        description: htmlCliente,\n        createdBy: {id: \"1458772347\"},\n        workTime: \"00:02:00\"\n      }\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,-48],"id":"ad0686c3-3abf-4e74-a725-8651ebdfa788","name":"Atualiza no ticket do Movidesk"},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,144],"id":"05977481-b191-4feb-b544-0739cf0215be","name":"Reconhece no Zabbix"}],"connections":{"Adiciona nova linha na tabela1":{"main":[[{"node":"Prepara dados para reconhecimento2","type":"main","index":0}]]},"Rotas":{"main":[[{"node":"Verifica igualdade de hosts","type":"main","index":0}],[{"node":"Zabbix: Consulta por eventos anteriores","type":"main","index":0}]]},"Zabbix: Consulta por eventos anteriores":{"main":[[{"node":"Separa os alertas igual a 6","type":"main","index":0}]]},"Prepara dados para reconhecimento1":{"main":[[{"node":"Adiciona nova linha na tabela1","type":"main","index":0}]]},"Prepara dados para reconhecimento2":{"main":[[{"node":"Discord: Notifica reconhecimento","type":"main","index":0},{"node":"Zabbix: Reconhece evento3","type":"main","index":0}]]},"Filtrados está vazio?":{"main":[[{"node":"Supabase: Cria nova linha na sala de espera","type":"main","index":0}],[{"node":"Prepara dados para reconhecimento1","type":"main","index":0}]]},"Supabase: Atualiza evento existente":{"main":[[{"node":"Reconhece no Zabbix","type":"main","index":0},{"node":"Atualiza no ticket do Movidesk","type":"main","index":0}]]},"Prepara push de eventos dentro do tempo":{"main":[[{"node":"Eventos são próximos?","type":"main","index":0}]]},"Supabase: Atualiza qnd_quedas":{"main":[[{"node":"Ticket movidesk é igual a 0?","type":"main","index":0}]]},"Prepara dados para reconhecimento5":{"main":[[{"node":"Zabbix: Reconhece evento5","type":"main","index":0}]]},"Hosts são iguais?":{"main":[[{"node":"Supabase: Atualiza qnd_quedas","type":"main","index":0}],[{"node":"Prepara push de eventos dentro do tempo","type":"main","index":0}]]},"Verifica igualdade de hosts":{"main":[[{"node":"Hosts são iguais?","type":"main","index":0}]]},"Valida se existem tickets e direciona na rota":{"main":[[{"node":"Rotas","type":"main","index":0}]]},"Supabase: Recupera correspondências":{"main":[[{"node":"Valida se existem tickets e direciona na rota","type":"main","index":0}]]},"Normaliza os dados":{"main":[[{"node":"Supabase: Recupera correspondências","type":"main","index":0}]]},"Quando Main é executado":{"main":[[{"node":"Zabbix: Consulta grupo do evento","type":"main","index":0}]]},"Separa os alertas igual a 6":{"main":[[{"node":"Filtrados está vazio?","type":"main","index":0}]]},"Ticket movidesk é igual a 0?":{"main":[[{"node":"Zabbix: Consulta por eventos anteriores1","type":"main","index":0}],[{"node":"Prepara dados para reconhecimento7","type":"main","index":0}]]},"Prepara dados para reconhecimento7":{"main":[[{"node":"Zabbix: Reconhece evento5","type":"main","index":0}]]},"Zabbix: Consulta por eventos anteriores1":{"main":[[{"node":"Separa apenas com reconhecimento igual a 6","type":"main","index":0}]]},"Separa apenas com reconhecimento igual a 6":{"main":[[{"node":"Prepara dados para reconhecimento5","type":"main","index":0}]]},"Eventos são próximos?":{"main":[[{"node":"Novo evento para BD?","type":"main","index":0}],[]]},"Novo evento para BD?":{"main":[[{"node":"Supabase: Atualiza evento existente","type":"main","index":0}],[{"node":"No Ops","type":"main","index":0}]]},"Zabbix: Consulta grupo do evento":{"main":[[{"node":"Normaliza os dados","type":"main","index":0}]]},"Atualiza no ticket do Movidesk":{"main":[[{"node":"Movidesk: Atualiza ticket","type":"main","index":0}]]},"Reconhece no Zabbix":{"main":[[{"node":"Zabbix: Reconhece evento","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Quando Main é executado":[{"json":{"id do evento":176078627,"id do host":12491,"id do evento de recuperação":0,"id do tipo de cliente no banco de dados":3,"id do cliente na planilha":"251","id de abertura de chamado no movidesk":"b9006697-ed6a-4039-","nome completo do host":"IRANI JCA - GATEWAY X3 EMBRATEL 100MB - 189.2.148.113","nome simplificado do host":"IRANI JCA","evento gerador":"Indisponível via ICMP","timestamp da queda":1764350826,"data e hora da queda":"28/11/2025 17:27:06","relação do cliente com a max":"GERAL","e-mail destinatário":"maiconsbruzzi@irani.com.br","e-mail em cópia":"","timestamp para cálculo de redução de tempo":1764264426,"máximo rodadas no encerramento":2,"informações do link":[],"tags":[]}}]},"versionId":"593496c9-1e30-43f6-b8eb-e81494f4a2bd","activeVersionId":"593496c9-1e30-43f6-b8eb-e81494f4a2bd","triggerCount":0,"shared":[{"updatedAt":"2025-11-06T18:14:22.471Z","createdAt":"2025-11-06T18:14:22.471Z","role":"workflow:owner","workflowId":"l1K9Mj7uaykLsqdm","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":{"updatedAt":"2026-01-27T16:47:39.129Z","createdAt":"2026-01-27T16:47:39.129Z","versionId":"593496c9-1e30-43f6-b8eb-e81494f4a2bd","workflowId":"l1K9Mj7uaykLsqdm","nodes":[{"parameters":{"tableId":"base","fieldsUi":{"fieldValues":[{"fieldId":"id_host","fieldValue":"={{ $('Normaliza os dados').item.json['id do host'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}"},{"fieldId":"ticket_movidesk","fieldValue":"={{ $json.ticketMovidesk }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da queda'] }}"},{"fieldId":"id_cliente_variaveis","fieldValue":"={{ $('Normaliza os dados').item.json['id do tipo de cliente no banco de dados'] }}"},{"fieldId":"status_chamado","fieldValue":"2"},{"fieldId":"id_evento","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"evento_raiz","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"hostLimpo","fieldValue":"={{ $('Normaliza os dados').item.json['nome simplificado do host'] }}"},{"fieldId":"eventsRelacionados","fieldValue":"={{ [$('Normaliza os dados').item.json['id do evento']] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1424,608],"id":"c3192493-29bc-4a58-8d94-5538ed091e49","name":"Adiciona nova linha na tabela1","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Valida se existem tickets e direciona na rota').item.json.rota }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"b53a2c98-1777-47a6-bb9c-3122c2c362ab"}],"combinator":"and"},"renameOutput":true,"outputKey":"Acks + Obs"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bb41d250-8bb6-4cfe-b2ce-b52df85a86b9","leftValue":"={{ $('Valida se existem tickets e direciona na rota').item.json.rota }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Verificar Zabbix"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-912,208],"id":"e153d649-6d43-40bc-a4aa-c35d2e05273d","name":"Rotas"},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"name\", \"value\", \"host\", \"hostid\"],\n    \"select_acknowledges\": [\n      \"acknowledgeid\",\n      \"userid\",\n      \"eventid\",\n      \"clock\",\n      \"message\",\n      \"action\",\n      \"username\"\n    ],\n    \"time_from\": \"{{ $('Normaliza os dados').first().json['timestamp para cálculo de redução de tempo'] }}\",\n    \"selectHosts\": [\"hostid\", \"host\"],\n    \"hostids\": \"{{ $('Normaliza os dados').first().json['id do host'] }}\",\n    \"sortfield\": \"clock\",\n    \"sortorder\": \"DESC\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,512],"id":"f766fed2-0015-4466-ba0a-b8d141280f58","name":"Zabbix: Consulta por eventos anteriores","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,144],"id":"38c96d05-9dee-49fd-acf4-d1bdca6d767c","name":"Zabbix: Reconhece evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"method":"PATCH","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6&id={{ $('Supabase: Recupera correspondências').item.json.ticket_movidesk }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,-48],"id":"b224fb32-1998-4faf-beed-5e9f1570340d","name":"Movidesk: Atualiza ticket","retryOnFail":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1872,704],"id":"1c3c4a2e-8824-4008-892d-6d85c7955970","name":"Zabbix: Reconhece evento3","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"// Obtém a mensagem\nconst messageTicket = $input.first().json.acksFiltrados.filtrados[0].json.acknowledge_mais_recente.message;\n\n// Busca o primeiro número na mensagem\nconst numerosEncontrados = messageTicket.match(/\\d+/);\n\n// Se encontrar, converte para número; senão, retorna null\nconst numeroTicket = numerosEncontrados ? parseInt(numerosEncontrados[0]) : null;\n\nreturn [\n  {\n    ticketMovidesk: numeroTicket,\n    message: messageTicket\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,608],"id":"ef416804-4595-4a99-b64d-8c241447959b","name":"Prepara dados para reconhecimento1"},{"parameters":{"jsCode":"const messageAcks = $('Prepara dados para reconhecimento1').first().json.message;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,608],"id":"70b0bf52-2191-4b9d-9987-771ee46be716","name":"Prepara dados para reconhecimento2"},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=**HOST:** {{ $('Normaliza os dados').item.json['nome completo do host'] }}\n**EVENTO:** {{ $('Normaliza os dados').item.json['evento gerador'] }}\n**DATA E HORA DA QUEDA:** {{ $('Normaliza os dados').item.json['data e hora da queda'] }}\n**DATA E HORA DA ATUALIZAÇÃO:** {{ DateTime.now().format('dd/MM/yyyy HH:mm:ss')}}","color":"#25FF2C","title":"ADICIONADO COMENTÁRIO NO ZABBIX"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1872,512],"id":"c0a4cc19-c93a-4159-8473-a91cea657b47","name":"Discord: Notifica reconhecimento","webhookId":"eeed722b-607e-4597-8511-e54a55e53154","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb6eff08-3023-4783-bfaf-1cacf44c64ab","leftValue":"={{ $json.acksFiltrados.status }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[976,512],"id":"072e8f6d-eac5-403c-904e-4944d44c89d5","name":"Filtrados está vazio?"},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Supabase: Recupera correspondências').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"eventsRelacionados","fieldValue":"={{ $json.resultado.eventosRelacionados }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[528,48],"id":"304f5ef1-9b16-444e-9ab7-e25f47916dcc","name":"Supabase: Atualiza evento existente","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const timestampEventoAtual = Number($('Normaliza os dados').first().json['timestamp da queda']);\nconst timestampEventoBd = Number($('Supabase: Recupera correspondências').first().json.timestamp_queda);\nlet eventosRelacionadosBd = $('Supabase: Recupera correspondências').first().json.eventsRelacionados;\nconst idEventoAtual = $('Normaliza os dados').first().json['id do evento'];\n\nconst intervaloSegundos = 1800; // 30 minutos\n\nfunction validaComBanco (timestampAtual, timestampBanco, intervalo) {\n  const diferenca = timestampAtual - timestampBanco\n\n  return diferenca >= 0 && diferenca <= intervalo;\n}\n\nlet algumDentroDoPrazo = false;\nif (validaComBanco(timestampEventoAtual, timestampEventoBd, intervaloSegundos)) {\n  algumDentroDoPrazo = true;\n}\n\nfunction validaNovoEvento(eventosRelacionados, eventoAtual) {\n  // Normaliza tudo para string\n  const eventoAtualStr = String(eventoAtual);\n  const eventosNormalizados = eventosRelacionados.map(ev => String(ev));\n\n  const jaExiste = eventosNormalizados.includes(eventoAtualStr);\n\n  if (jaExiste) {\n    return {\n      eventosParaBd: false,\n      eventosRelacionados // mantém original\n    };\n  }\n\n  // Adiciona normalizado\n  eventosRelacionados.push(eventoAtualStr);\n\n  return {\n    eventosParaBd: true,\n    eventosRelacionados\n  };\n}\n\nconst resultado = validaNovoEvento(eventosRelacionadosBd, idEventoAtual);\n\nreturn [{\n  timestampEventoAtual,\n  timestampEventoBd,\n  dentroPrazo: algumDentroDoPrazo,\n  resultado\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,144],"id":"0973785a-ad78-4d7c-bf2c-a2fddff5296a","name":"Prepara push de eventos dentro do tempo"},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.idTabela }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"qnd_quedas","fieldValue":"={{ $json.qndQuedas + 1 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-144,-384],"id":"0455f53d-e261-4971-92ce-90f0da73962a","name":"Supabase: Atualiza qnd_quedas","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const messageAcks = $input.first().json.acknowledges[0].message;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,-480],"id":"7b1d20a1-d04f-4903-bfe3-5494468d0c8e","name":"Prepara dados para reconhecimento5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"67371f0a-6119-4eaf-8f11-ce2becc7bc8b","leftValue":"={{ $('Verifica igualdade de hosts').item.json.igualdadeDeHost }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-368,-128],"id":"e6fc030b-761d-40f3-aa02-8b8f446165b0","name":"Hosts são iguais?"},{"parameters":{"jsCode":"const nomeHostSupabase = $('Supabase: Recupera correspondências').first().json.nome_host;\nconst nomeHostEvento = $('Normaliza os dados').first().json['nome completo do host'];\nconst idTabela = $('Supabase: Recupera correspondências').first().json.id;\nconst qndQuedas = $('Supabase: Recupera correspondências').first().json.qnd_quedas;\n\nif (nomeHostSupabase == nomeHostEvento) {\n  return [{igualdadeDeHost: true, idTabela, qndQuedas}]\n} else {\n  return [{igualdadeDeHost: false, idTabela, qndQuedas}]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-592,-128],"id":"296b98ae-713c-4ac5-8d03-984ab90360bc","name":"Verifica igualdade de hosts"},{"parameters":{"jsCode":"const idEventoTabela = $input.first().json.id;\nconst ticketMovideskTabela = $input.first().json.ticket_movidesk;\n\nif ((idEventoTabela && ticketMovideskTabela) || (idEventoTabela && ticketMovideskTabela == 0) ) {\n  return [{ \n    \"rota\": 1,\n    \"descricao\": \"Há um evento inserido na tabela com ticket Movidesk\"\n  }]\n} else if (!idEventoTabela && !ticketMovideskTabela) {\n  return [{\n    \"rota\": 2,\n    \"descricao\": \"Verificar no Zabbix - sem evento na tabela\"\n  }]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1136,208],"id":"ed2b2105-4d04-46e2-af84-28e76c59f22f","name":"Valida se existem tickets e direciona na rota"},{"parameters":{"operation":"getAll","tableId":"base","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"hostLimpo","condition":"eq","keyValue":"={{ $('Normaliza os dados').item.json['nome simplificado do host'] }}"},{"keyName":"timestamp_queda","condition":"gte","keyValue":"={{ $('Normaliza os dados').item.json['timestamp para cálculo de redução de tempo'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1360,208],"id":"d5d708e0-e61c-48a5-aff3-42f662137509","name":"Supabase: Recupera correspondências","alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d1d36053-f3c7-4ed0-a2f3-6747d9cbf7d2","name":"id do evento","value":"={{ $('Quando Main é executado').item.json['id do evento'] }}","type":"number"},{"id":"318d03c2-1d41-4410-8881-2bbc4b13dd74","name":"id do host","value":"={{ $('Quando Main é executado').item.json['id do host'] }}","type":"number"},{"id":"7bd0b7c5-203f-4b4f-b8e6-1e79dd0a7dc7","name":"id do evento de recuperação","value":"={{ $('Quando Main é executado').item.json['id do evento de recuperação'] }}","type":"number"},{"id":"789e2feb-4165-4c8b-b0bc-788e0bc8ca76","name":"id do tipo de cliente no banco de dados","value":"={{ $('Quando Main é executado').item.json['id do tipo de cliente no banco de dados'] }}","type":"number"},{"id":"fdd09588-b518-4435-a469-5b96606ebd5f","name":"id do cliente na planilha","value":"={{ $('Quando Main é executado').item.json['id do cliente na planilha'] }}","type":"string"},{"id":"98c36083-5654-4b9d-87c7-e98c5bb2bffe","name":"id de abertura de chamado no movidesk","value":"={{ $('Quando Main é executado').item.json['id de abertura de chamado no movidesk'] }}","type":"string"},{"id":"afbac7f4-747b-4eb9-a09e-adcb2d57e136","name":"nome completo do host","value":"={{ $('Quando Main é executado').item.json['nome completo do host'] }}","type":"string"},{"id":"82c7b23e-cfbe-493f-b173-636c3b465693","name":"nome simplificado do host","value":"={{ $('Quando Main é executado').item.json['nome simplificado do host'] }}","type":"string"},{"id":"8e3f6ed7-1e4b-4763-8a5e-2ce86d5409cc","name":"nome simplificado do host","value":"={{ $('Quando Main é executado').item.json['nome simplificado do host'] }}","type":"string"},{"id":"e7684294-aa5d-4dc0-b9b5-6424c254cafa","name":"evento gerador","value":"={{ $('Quando Main é executado').item.json['evento gerador'] }}","type":"string"},{"id":"61ee7e26-d6bf-46fa-9b0e-1a3b7dbb9d61","name":"timestamp da queda","value":"={{ $('Quando Main é executado').item.json['timestamp da queda'] }}","type":"number"},{"id":"33ac13e9-3501-4892-b86e-a8be785b54f8","name":"timestamp da queda","value":"={{ $('Quando Main é executado').item.json['timestamp da queda'] }}","type":"number"},{"id":"15e764c6-3c75-456e-8247-1801b67cb20d","name":"data e hora da queda","value":"={{ $('Quando Main é executado').item.json['data e hora da queda'] }}","type":"string"},{"id":"ceba9587-89c1-4842-9ff3-05a80774f240","name":"relação do cliente com a max","value":"={{ $('Quando Main é executado').item.json['relação do cliente com a max'] }}","type":"string"},{"id":"c18847d4-03bb-4005-b2d6-2323d5d6f548","name":"e-mail destinatário","value":"={{ $('Quando Main é executado').item.json['e-mail destinatário'] }}","type":"string"},{"id":"48e499bd-41bf-4343-8f56-9af7559c7dae","name":"e-mail em cópia","value":"={{ $('Quando Main é executado').item.json['e-mail em cópia'] }}","type":"string"},{"id":"fff082d9-bbb6-4b1b-9ef0-ccb7b97beba9","name":"timestamp para cálculo de redução de tempo","value":"={{ $('Quando Main é executado').item.json['timestamp para cálculo de redução de tempo'] }}","type":"number"},{"id":"ed579192-06a8-41dc-907d-f87dab58af3c","name":"máximo rodadas no encerramento","value":"={{ $('Quando Main é executado').item.json['máximo rodadas no encerramento'] }}","type":"number"},{"id":"a50b3013-5c31-446a-8b8f-62490d1dcf68","name":"id do grupo","value":"={{ $json.result[0].groups[0].groupid }}","type":"number"},{"id":"bf677a37-145a-4636-ba71-63f001f5b0ec","name":"nome do grupo","value":"={{ $json.result[0].groups[0].name }}","type":"string"}]},"options":{"ignoreConversionErrors":false}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1584,208],"id":"cb925ee8-0dae-4264-9d79-691ae72c0382","name":"Normaliza os dados"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2032,208],"id":"7b4a040d-00a1-4038-b636-dd8af0c403a1","name":"Quando Main é executado"},{"parameters":{"jsCode":"// Filtra apenas eventos com algum acknowledge de action == \"6\"\nconst eventos = $input.first().json.result;\n\n// Filtra apenas eventos que têm pelo menos um ack com action == \"6\"\nconst filtrados = eventos\n  .filter(ev => ev.acknowledges?.some(ack => ack.action == 6))\n  .map(ev => {\n    // Dentro de cada evento, pega só os acks com action == 6\n    const acks6 = (ev.acknowledges || []).filter(ack => ack.action == 6);\n\n    // Ordena por acknowledgeid (numérico) e pega o maior\n    const ackMaior = [...acks6].sort((a, b) => Number(b.acknowledgeid) - Number(a.acknowledgeid))[0];\n\n    // Retorna o evento com destaque para o acknowledge mais recente\n    return {\n      json: {\n        eventid: ev.eventid,\n        clock: ev.clock,\n        hostid: ev.hosts?.[0]?.hostid,\n        host: ev.hosts?.[0]?.host,\n        value: ev.value,\n        // acknowledge de maior id\n        acknowledge_mais_recente: {\n          acknowledgeid: ackMaior.acknowledgeid,\n          clock: ackMaior.clock,\n          \"timestampAck_formatado\": DateTime.fromSeconds(parseInt(ackMaior.clock))\n            .setZone('America/Sao_Paulo')\n            .toFormat('dd/MM/yyyy HH:mm:ss'),\n          message: ackMaior.message,\n          action: ackMaior.action,\n          username: ackMaior.username,\n          userid: ackMaior.userid\n        }\n      }\n    };\n  });\n\n// Retorna cada evento filtrado como item independente\nif (filtrados.length === 0) {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": false\n      }\n    }\n  }\n} else {\n  return {\n    json: {\n      \"acksFiltrados\": {\n        filtrados, \n        \"status\": true\n      }\n    }\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,512],"id":"4691e95a-3e23-43d5-aecf-5c7eeb380eb1","name":"Separa os alertas igual a 6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"502654af-fdee-4163-af10-933846a92ec1","leftValue":"={{ $json.ticket_movidesk }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,-384],"id":"3536f4fc-899d-49f2-9d8c-a3f48e38d3d9","name":"Ticket movidesk é igual a 0?"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,-384],"id":"6aa5b848-76b9-4c36-b618-f5bc088c908f","name":"Zabbix: Reconhece evento5","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,-288],"id":"012566ad-7e07-490d-9677-85a631b05631","name":"Prepara dados para reconhecimento7"},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"name\", \"value\", \"host\", \"hostid\"],\n    \"select_acknowledges\": [\n      \"acknowledgeid\",\n      \"userid\",\n      \"eventid\",\n      \"clock\",\n      \"message\",\n      \"action\",\n      \"username\"\n    ],\n    \"time_from\": \"{{ $('Normaliza os dados').item.json['timestamp da queda'] - (24 * 60 * 60) }}\",\n    \"selectHosts\": [\"hostid\", \"host\"],\n    \"hostids\": \"{{ $('Normaliza os dados').item.json['id do host'] }}\",\n    \"sortfield\": \"clock\",\n    \"sortorder\": \"DESC\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,-480],"id":"b36f9b47-2656-43be-9d70-e99db9fe4d0f","name":"Zabbix: Consulta por eventos anteriores1","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false},{"parameters":{"jsCode":"// Captura o resultado da API\nconst response = $json;\n\n// Caso a resposta tenha a estrutura esperada\nif (response.result && Array.isArray(response.result)) {\n  const eventos = response.result;\n\n  // Filtra apenas eventos com acknowledges contendo action = 6\n  const filtrados = eventos.filter(ev => \n    ev.acknowledges &&\n    ev.acknowledges.some(a => String(a.action) === \"6\")\n  );\n\n  // Retorna apenas os eventos válidos\n  return filtrados.map(e => ({ json: e }));\n} else {\n  // Se a estrutura for diferente, apenas retorna vazio\n  return [];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,-480],"id":"2de19744-4883-4469-963b-430ab0fe2bd5","name":"Separa apenas com reconhecimento igual a 6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3e20d80d-1506-4a91-9cf5-2ff70594f92e","leftValue":"={{ $json.dentroPrazo }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,144],"id":"78b89f63-cebb-4f7d-920a-10cf6db1c0d5","name":"Eventos são próximos?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c556d36-f358-486c-8f56-7e6430412193","leftValue":"={{ $json.resultado.eventosParaBd }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[304,144],"id":"af9c6c0f-d70b-4a95-b3ec-f9eff49859db","name":"Novo evento para BD?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[528,240],"id":"41f7af16-6d5b-40a0-83a4-3b2b7fe4bf17","name":"No Ops"},{"parameters":{"tableId":"sala de espera","fieldsUi":{"fieldValues":[{"fieldId":"id_evento","fieldValue":"={{ $('Normaliza os dados').item.json['id do evento'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Normaliza os dados').item.json['nome completo do host'] }}"},{"fieldId":"evento","fieldValue":"={{ $('Normaliza os dados').item.json['evento gerador'] }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Normaliza os dados').item.json['timestamp da queda'] }}"},{"fieldId":"id_grupo","fieldValue":"={{ $('Normaliza os dados').item.json['id do grupo'] }}"},{"fieldId":"nome_grupo","fieldValue":"={{ $('Normaliza os dados').item.json['nome do grupo'] }}"},{"fieldId":"id_tipoCliente","fieldValue":"={{ $('Normaliza os dados').item.json['id do tipo de cliente no banco de dados'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1424,432],"id":"fa063192-a687-481f-81ad-93db575edab4","name":"Supabase: Cria nova linha na sala de espera","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"host.get\",\n  \"params\": {\n    \"output\": [\"hostid\", \"name\"],\n    \"selectGroups\": [\"groupid\", \"name\"],\n    \"hostids\": \"{{ $json['id do host'] }}\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 2\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1808,208],"id":"35f4b9dc-4581-4b93-912f-4c1375fa09a9","name":"Zabbix: Consulta grupo do evento","retryOnFail":true},{"parameters":{"jsCode":"const nomeCompleto_host = $('Normaliza os dados').first().json['nome completo do host'];\nconst evento_gerador = $('Normaliza os dados').first().json['evento gerador'];\nconst dataHora_queda = $('Normaliza os dados').first().json['data e hora da queda'];\nconst nomeCompleto_simplificado = $('Normaliza os dados').first().json['nome simplificado do host']\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n  // Pega o horário atual no fuso horário de São Paulo\n  const hour = new Date().toLocaleString(\"en-US\", { \n    timeZone: \"America/Sao_Paulo\" \n  });\n  \n  const horaLocal = new Date(hour).getHours();\n\n  let greeting;\n\n  // Define o turno conforme o horário\n  if (horaLocal >= 18 || horaLocal < 5) {\n    greeting = \"Boa noite\";\n  } else if (horaLocal >= 5 && horaLocal < 12) {\n    greeting = \"Bom dia\";\n  } else {\n    greeting = \"Boa tarde\";\n  }\n\n  return greeting;\n}\nconst greeting = getGreeting()\n\n// Monta as linhas do tbody\nlet linhasTabela = \"\";\nlinhasTabela += `\n  <tr>\n    <td>${nomeCompleto_host}</td>\n    <td>${evento_gerador}</td>\n    <td>${dataHora_queda}</td>\n  </tr>\n`;\n\n\nconst htmlCliente = `\n  <p>${greeting}</p>\n  <br>\n  <p>Identificamos um novo alerta relacionado ao evento reportado anteriormente:</p>\n  <div style=\"width: 70%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n  <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n    <thead>\n        <tr>\n          <th>Hosts</th>\n          <th>Eventos</th>\n          <th>Horário das quedas</th>\n        </tr>\n    </thead>\n    <tbody>\n        ${linhasTabela}\n    </tbody>\n  </table>\n</div>\n  \n  <p>Gostaríamos de confirmar se a ocorrência já é de conhecimento da equipe ${nomeCompleto_simplificado} ou se trata de uma falha eventual? </p>\n  <p>Recomendamos a verificação da ocorrência acima para validação e tratativa da indisponibilidade. Permaneceremos em monitoramento desde o do evento anteriro. Informaremos quando o evento estiver com status de resolvido em nosso monitoramento.</p>\n  <br>\n  <br>\n  <p>Atenciosamente </p>\n  <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n  `;\n\nreturn {\n  json: {\n    actions: [\n      {\n        type: 2,\n        description: htmlCliente,\n        createdBy: {id: \"1458772347\"},\n        workTime: \"00:02:00\"\n      }\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,-48],"id":"ad0686c3-3abf-4e74-a725-8651ebdfa788","name":"Atualiza no ticket do Movidesk"},{"parameters":{"jsCode":"const messageAcks = $input.first().json.ticket_movidesk;\nconst eventId = $('Normaliza os dados').first().json['id do evento'];\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: String(messageAcks),\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,144],"id":"05977481-b191-4feb-b544-0739cf0215be","name":"Reconhece no Zabbix"}],"connections":{"Adiciona nova linha na tabela1":{"main":[[{"node":"Prepara dados para reconhecimento2","type":"main","index":0}]]},"Rotas":{"main":[[{"node":"Verifica igualdade de hosts","type":"main","index":0}],[{"node":"Zabbix: Consulta por eventos anteriores","type":"main","index":0}]]},"Zabbix: Consulta por eventos anteriores":{"main":[[{"node":"Separa os alertas igual a 6","type":"main","index":0}]]},"Prepara dados para reconhecimento1":{"main":[[{"node":"Adiciona nova linha na tabela1","type":"main","index":0}]]},"Prepara dados para reconhecimento2":{"main":[[{"node":"Discord: Notifica reconhecimento","type":"main","index":0},{"node":"Zabbix: Reconhece evento3","type":"main","index":0}]]},"Filtrados está vazio?":{"main":[[{"node":"Supabase: Cria nova linha na sala de espera","type":"main","index":0}],[{"node":"Prepara dados para reconhecimento1","type":"main","index":0}]]},"Supabase: Atualiza evento existente":{"main":[[{"node":"Reconhece no Zabbix","type":"main","index":0},{"node":"Atualiza no ticket do Movidesk","type":"main","index":0}]]},"Prepara push de eventos dentro do tempo":{"main":[[{"node":"Eventos são próximos?","type":"main","index":0}]]},"Supabase: Atualiza qnd_quedas":{"main":[[{"node":"Ticket movidesk é igual a 0?","type":"main","index":0}]]},"Prepara dados para reconhecimento5":{"main":[[{"node":"Zabbix: Reconhece evento5","type":"main","index":0}]]},"Hosts são iguais?":{"main":[[{"node":"Supabase: Atualiza qnd_quedas","type":"main","index":0}],[{"node":"Prepara push de eventos dentro do tempo","type":"main","index":0}]]},"Verifica igualdade de hosts":{"main":[[{"node":"Hosts são iguais?","type":"main","index":0}]]},"Valida se existem tickets e direciona na rota":{"main":[[{"node":"Rotas","type":"main","index":0}]]},"Supabase: Recupera correspondências":{"main":[[{"node":"Valida se existem tickets e direciona na rota","type":"main","index":0}]]},"Normaliza os dados":{"main":[[{"node":"Supabase: Recupera correspondências","type":"main","index":0}]]},"Quando Main é executado":{"main":[[{"node":"Zabbix: Consulta grupo do evento","type":"main","index":0}]]},"Separa os alertas igual a 6":{"main":[[{"node":"Filtrados está vazio?","type":"main","index":0}]]},"Ticket movidesk é igual a 0?":{"main":[[{"node":"Zabbix: Consulta por eventos anteriores1","type":"main","index":0}],[{"node":"Prepara dados para reconhecimento7","type":"main","index":0}]]},"Prepara dados para reconhecimento7":{"main":[[{"node":"Zabbix: Reconhece evento5","type":"main","index":0}]]},"Zabbix: Consulta por eventos anteriores1":{"main":[[{"node":"Separa apenas com reconhecimento igual a 6","type":"main","index":0}]]},"Separa apenas com reconhecimento igual a 6":{"main":[[{"node":"Prepara dados para reconhecimento5","type":"main","index":0}]]},"Eventos são próximos?":{"main":[[{"node":"Novo evento para BD?","type":"main","index":0}],[]]},"Novo evento para BD?":{"main":[[{"node":"Supabase: Atualiza evento existente","type":"main","index":0}],[{"node":"No Ops","type":"main","index":0}]]},"Zabbix: Consulta grupo do evento":{"main":[[{"node":"Normaliza os dados","type":"main","index":0}]]},"Atualiza no ticket do Movidesk":{"main":[[{"node":"Movidesk: Atualiza ticket","type":"main","index":0}]]},"Reconhece no Zabbix":{"main":[[{"node":"Zabbix: Reconhece evento","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2025-10-24T18:08:27.659Z","createdAt":"2025-10-24T18:08:27.659Z","id":"oUDNU2rUDi9xwp5Q","name":"FluxoNOC_principal"},{"updatedAt":"2025-11-04T16:51:26.805Z","createdAt":"2025-10-28T19:52:51.873Z","id":"y2aOpy57Bluz7ons","name":"clientes_gerais"}]}