02.-tratamento-de-eventos-uPQQ6aBhG8iGJP5pGTzXM.json
{"updatedAt":"2026-01-27T18:35:16.690Z","createdAt":"2026-01-27T18:17:32.232Z","id":"uPQQ6aBhG8iGJP5pGTzXM","name":"02. Tratamento de eventos","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,96],"id":"9ff7676c-a794-45bb-a307-7935993fb4c4","name":"Schedule Trigger"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1C4w67CGXxcE4kjkbN10is7XnDriWgrE6C1AytMjy0cY","mode":"list","cachedResultName":"Eventos do SOC","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1C4w67CGXxcE4kjkbN10is7XnDriWgrE6C1AytMjy0cY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Eventos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1C4w67CGXxcE4kjkbN10is7XnDriWgrE6C1AytMjy0cY/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[224,96],"id":"181495b9-1707-4dc8-be8b-cb27529f45db","name":"Sheet: Recupera eventos","credentials":{"googleApi":{"id":"G23Xn5Fl7KzKph4r","name":"Google Service Account account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,96],"id":"5465a0b3-dd17-4326-9132-c371ca216f9d","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"https://monitorsoc.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{$json}}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[672,96],"id":"6e54ab9d-6373-4923-afea-86ac0cc0b2c6","name":"Zabbix: Event.get para validação","credentials":{"zabbixApi":{"id":"FZu2dHfv7qzgYIre","name":"Zabbix SOC"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9b54f87b-c056-4efd-bdee-a0223ad718c8","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[896,96],"id":"a7ed3d7d-b3ee-4435-9dd3-e5f0891c822e","name":"Evento ativo?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1120,-368],"id":"61bc0d5e-d692-452f-a7a7-db1713a282cb","name":"Next Iteration"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,0],"id":"8ffd29a4-c1cd-4c4d-9173-002cc0d952bf","name":"HTML para notificação do cliente"},{"parameters":{"method":"POST","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"538206c9-60b4-4bf4-ae85-415ab9a68be6"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1344,0],"id":"23cae5cd-cb7b-4b7c-a49e-a4253b6445d9","name":"Movidesk: Notifica cliente"},{"parameters":{"method":"POST","url":"https://monitorsoc.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1568,0],"id":"3405b29f-5108-4949-bcbf-a48877371aeb","name":"Zabbix: Reconhece evento","credentials":{"zabbixApi":{"id":"FZu2dHfv7qzgYIre","name":"Zabbix SOC"}}},{"parameters":{"authentication":"webhook","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1792,0],"id":"87567bfd-d777-42d2-9353-1824c8f6c007","name":"Discord: Notifica equipe SOC","webhookId":"563ac2ce-16c9-4183-bb9a-968de5aa9a0d","credentials":{"discordWebhookApi":{"id":"t1o3Z2XSGmxy2sj6","name":"SOC: chat-oficial"}}},{"parameters":{"authentication":"serviceAccount","operation":"delete","documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1120,192],"id":"113a7b05-d12e-40ae-ac01-310a6794f387","name":"Delete rows or columns from sheet","credentials":{"googleApi":{"id":"G23Xn5Fl7KzKph4r","name":"Google Service Account account"}}},{"parameters":{"authentication":"serviceAccount","operation":"delete","documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2016,0],"id":"d3f0f997-009e-48be-a53e-abf32fc39d25","name":"Delete rows or columns from sheet1","credentials":{"googleApi":{"id":"G23Xn5Fl7KzKph4r","name":"Google Service Account account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Sheet: Recupera eventos","type":"main","index":0}]]},"Sheet: Recupera eventos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Zabbix: Event.get para validação","type":"main","index":0}]]},"Zabbix: Event.get para validação":{"main":[[{"node":"Evento ativo?","type":"main","index":0}]]},"Evento ativo?":{"main":[[{"node":"HTML para notificação do cliente","type":"main","index":0}],[{"node":"Delete rows or columns from sheet","type":"main","index":0}]]},"Next Iteration":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTML para notificação do cliente":{"main":[[{"node":"Movidesk: Notifica cliente","type":"main","index":0}]]},"Movidesk: Notifica cliente":{"main":[[{"node":"Zabbix: Reconhece evento","type":"main","index":0}]]},"Zabbix: Reconhece evento":{"main":[[{"node":"Discord: Notifica equipe SOC","type":"main","index":0}]]},"Discord: Notifica equipe SOC":{"main":[[{"node":"Delete rows or columns from sheet1","type":"main","index":0}]]},"Delete rows or columns from sheet":{"main":[[{"node":"Next Iteration","type":"main","index":0}]]},"Delete rows or columns from sheet1":{"main":[[{"node":"Next Iteration","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b62bd9c5-9dd8-45c1-a433-835506301ff9","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-27T18:17:32.246Z","createdAt":"2026-01-27T18:17:32.246Z","role":"workflow:owner","workflowId":"uPQQ6aBhG8iGJP5pGTzXM","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-17T16:06:12.585Z","createdAt":"2025-12-17T16:06:12.585Z","id":"ysjEV4UVdKwLKxVm","name":"SOC"}]}