02.-fluxo-de-tratamento-7QS9e33EPpL889ws.json
{"updatedAt":"2026-02-01T00:10:22.803Z","createdAt":"2025-12-11T11:48:17.749Z","id":"7QS9e33EPpL889ws","name":"02. Fluxo de tratamento","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2016,560],"id":"55c16c34-24cb-4b1c-aa78-fb5be18af0e9","name":"Schedule Trigger"},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"r_eventid\", \"acknowledged\"],\n    \"eventids\": [{{ $('Loop Over Items').item.json.id_evento }}],\n\n    \"selectHosts\": [\"hostid\", \"host\", \"description\"],\n\n    \"selectRelatedObject\": [\"description\", \"value\"],\n\n    \"selectAcknowledges\": [\"clock\", \"message\", \"action\"]\n    \n  },\n  \"id\": 1\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-896,656],"id":"b8114a48-50de-433a-9472-d67dbb2f64fd","name":"Zabbix: event.get","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}}},{"parameters":{"jsCode":"// ===== VARIAVEIS BASE ====\nconst ID_evento = $('Loop Over Items').first().json.id_evento;\nconst ID_recuperacao = parseInt($input.first().json.result[0].r_eventid);\nconst ID_host = $('Loop Over Items').first().json.id_host;\nconst ID_grupo = $('Loop Over Items').first().json.id_grupo;\nconst nome_host = $('Loop Over Items').first().json.host;\nconst raiz_host = $('Loop Over Items').first().json.raiz_host;\nconst nome_evento = $('Loop Over Items').first().json.evento;\nconst timestamp_evento = $('Loop Over Items').first().json.timestamp_queda;\nconst data_hora_evento = $('Loop Over Items').first().json.data_hora_queda;\nconst eventos_relacionados = $('Loop Over Items').first().json.eventos_relacionados;\nconst nome_grupo = $('Loop Over Items').first().json.nome_grupo;\nconst description_evento = $input.first().json.result[0].hosts[0].description;\nconst reconhecido = parseInt($input.first().json.result[0].acknowledged);\n\nlet flagReconhecido;\nlet ticketMovidesk = null;\nif (reconhecido == 0) {\n  flagReconhecido = false\n} else {\n  const reconhecidos = $input.first().json.result[0].acknowledges\n  for (const ev of reconhecidos) {\n    const flag_reconhecido_seis = reconhecidos.map(ev => ev.action)\n    const ticket_movidesk = reconhecidos.map(ev => ev.message)\n    if (flag_reconhecido_seis == \"6\") {\n      flagReconhecido = true\n      ticketMovidesk = ticket_movidesk\n      break\n    } else {\n      flagReconhecido = false\n    }\n  }\n}\nlet flagRecuperacao;\nif (ID_recuperacao == 0) {\n  flagRecuperacao = false\n} else {\n  flagRecuperacao = true\n}\nconst nome_raiz = nome_host.split(\"-\")[0].trim()\nconst host_sem_ip = nome_host.substring(0, nome_host.lastIndexOf(\" - \")).trim();\nconst mapa_clientes_contrato1 = [\n  \"INDIGO\",\n  \"ALL4LABELS\",\n  \"DYNAMIS\"\n]\nconst mapa_clientes_contrato2 = [\n  \"AMAFIL\",\n  \"UNIARP\",\n  \"IRAPURU\"\n]\n\nlet flagTipoCliente = 3;\nlet nomePrincipalContrato = nome_raiz;\nfunction verificarTipoCliente () {\n  const nomeRaiz = nome_raiz\n  for (const cliente of mapa_clientes_contrato1) {\n    const nomeMatch = nomeRaiz.includes(cliente)\n    if (nomeMatch == true) {\n      flagTipoCliente = 1\n      nomePrincipalContrato = cliente\n    }\n  }\n\n  for (const cliente of mapa_clientes_contrato2) {\n    const nomeMatch = nomeRaiz.includes(cliente)\n    if (nomeMatch == true) {\n      flagTipoCliente = 2\n      nomePrincipalContrato = cliente\n    }\n  }\n  \n  return {flagTipoCliente, nomePrincipalContrato};\n}\n\n\n// ==== PREPARA INFORMAÇÕES ====\nconst itens_retorno = {\n  evento: {\n    ID_evento,\n    ID_host,\n    ID_recuperacao,\n    ID_grupo,\n    nome_evento,\n    nome_host,\n    nome_raiz,\n    host_sem_ip,\n    nomeCliente: verificarTipoCliente().nomePrincipalContrato,\n    description_evento,\n    timestamp_evento,\n    data_hora_evento,\n    nome_grupo,\n    eventos_relacionados\n  },\n  reconhecimento: flagReconhecido,\n  ticketMovidesk,\n  recuperacao: flagRecuperacao,\n  tipoCliente: verificarTipoCliente().flagTipoCliente\n}\n\nreturn [itens_retorno]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,656],"id":"838f2361-ee27-40d2-a26b-99e1d19beb2c","name":"Trata informações nível 1"},{"parameters":{"assignments":{"assignments":[{"id":"c804d43e-2a0c-458b-ad8b-4a5759af4f61","name":"Id do evento","value":"={{ $('Loop Over Items').item.json.id_evento }}","type":"number"},{"id":"1c9ea0e7-c760-469f-9529-f4e979809479","name":"Id do host","value":"={{ $('Loop Over Items').item.json.id_host }}","type":"number"},{"id":"9b2fd5a5-7372-47bc-a7c1-f8c770a74b2b","name":"Id do grupo","value":"={{ $('Loop Over Items').item.json.id_grupo }}","type":"number"},{"id":"0863d046-8dcd-48dc-ab5b-292081c82fff","name":"Host","value":"={{ $('Loop Over Items').item.json.host }}","type":"string"},{"id":"c93451cb-30cb-4d31-9b24-cf6d7facb15f","name":"Raiz do host","value":"={{ $('Loop Over Items').item.json.raiz_host }}","type":"string"},{"id":"81211127-d7b5-4e76-be8b-83763ac72869","name":"Evento","value":"={{ $('Loop Over Items').item.json.evento }}","type":"string"},{"id":"1cd78ff4-68fe-4792-9778-b86c0fafccec","name":"Timestamp da queda","value":"={{ $('Loop Over Items').item.json.timestamp_queda }}","type":"number"},{"id":"ae182978-50f4-4b6f-ad2d-4876ca96cf0f","name":"Data e hora da queda","value":"={{ $('Loop Over Items').item.json.data_hora_queda }}","type":"string"},{"id":"f82ee833-5b9c-410f-82df-11445eb2c199","name":"Tipo de contrato","value":"={{ $('Loop Over Items').item.json.tipo_contrato }}","type":"number"},{"id":"bf46aa54-a7ed-462f-903f-5a126fa842c8","name":"Nome do grupo","value":"={{ $('Loop Over Items').item.json.nome_grupo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-896,464],"id":"f8aecadb-0cc6-4fe0-b63c-ca26f9727404","name":"Prepara os dados"},{"parameters":{"workflowId":{"__rl":true,"value":"7HKCikxUfMc8vchY","mode":"list","cachedResultUrl":"/workflow/7HKCikxUfMc8vchY","cachedResultName":"Olfar matriz ruckus 730"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-672,464],"id":"0705eb1e-76c4-4c05-86c4-aae73618a86c","name":"Call 'Olfar matriz ruckus 730'"},{"parameters":{"jsCode":"const mapaExcecoes = [\n  \"OLFAR MATRIZ - RUCKUS R730\"\n];\n\nconst nomeHost = $input.first().json.host;\n\nconst flagExcecao = mapaExcecoes.some(excecao =>\n  nomeHost.includes(excecao)\n);\n\nreturn [{\n  flagExcecao\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,560],"id":"4c265256-3364-4445-b4ae-cc0fb8bab352","name":"Exceção"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d1e35327-76bd-4226-9e7d-f3c3b42667b4","leftValue":"={{ $json.flagExcecao }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1120,560],"id":"fb0a58c0-a58c-4f52-ac25-c7b93e04309a","name":"Exceção?"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1568,560],"id":"a0c3f07e-7d8d-4ed5-b3e3-e2fb759bb236","name":"Loop Over Items"},{"parameters":{"jsCode":"const eventos_relacionados = $input.first().json.eventosRelacionados;\n\nconst ID_evento_atual = $('BD: Recupera eventos do hall').first().json['ID do evento'];\n\nconst flagEventoInserido = eventos_relacionados.includes(ID_evento_atual);\n\nif (flagEventoInserido != true) {\n  eventos_relacionados.push(ID_evento_atual)\n}\n\nreturn [{eventos_relacionados}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,112],"id":"c5699029-05b9-4d71-a29d-086f8c503ba0","name":"Adiciona evento em eventos relacionados"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5ee22f97-76af-42c7-ae80-7dcf1e23f085","leftValue":"={{ $('BD: Verifica ticket no BD').item.json.idEvento }}","rightValue":"={{ $('BD: Recupera eventos do hall').first().json['ID do evento'] }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1104,-80],"id":"7ba037c4-94f4-42fd-93fd-b167be8de273","name":"Mesmo eventid?"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=- **HOST:** {{ $('Trata informações nível 1').item.json.evento.nome_host }}\n- **EVENTO:** {{ $('Trata informações nível 1').item.json.evento.nome_evento }}","author":"Fluxo de tratamento","color":"#009EDD","title":"=NOVA ROTA - evento no fluxo de tratamento com evento no BD, mesmo host e evento, mas eventids diferentes","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1328,-80],"id":"a1947821-46c3-4da6-9e02-8f78b34a0c5b","name":"adm: fluxo de tratamento1","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d05a6401-959a-49ee-adce-126fb99a1733","leftValue":"={{ $json.nomeHost }}","rightValue":"={{ $('BD: Recupera eventos do hall').first().json['Nome do host'] }}","operator":{"type":"string","operation":"equals"}},{"id":"0a3aeac3-1233-4396-ae38-48a0e0a5141a","leftValue":"={{ $json.nomeEvento }}","rightValue":"={{ $('BD: Recupera eventos do hall').first().json['Nome do evento'] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[880,16],"id":"66cd44b5-4f7e-4619-afeb-8516eb6b495d","name":"Mesmo host e evento?"},{"parameters":{"tableId":"chamados abertos","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.ID_evento }}"},{"fieldId":"idHost","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.ID_host }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $('Trata informações nível 1').item.json.tipoCliente }}"},{"fieldId":"idGroup","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.ID_grupo }}"},{"fieldId":"nomeHost","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.nome_host }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.nome_raiz }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.nome_evento }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.timestamp_evento }}"},{"fieldId":"statusChamado","fieldValue":"3"},{"fieldId":"ticketMovidesk","fieldValue":"={{ $('Prepara rotas').item.json.ticketMovidesk }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.eventos_relacionados }}"},{"fieldId":"idEventoRecuperacao","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.ID_recuperacao }}"},{"fieldId":"timestampRecuperacao","fieldValue":"={{ parseInt($('Zabbix: event.get1').item.json.result[0].clock) }}"},{"fieldId":"Notificado encerramento","fieldValue":"={{ false }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[880,208],"id":"cbf98510-8923-4086-9f5b-ffe003f1f6ac","name":"BD: Cria nova linha do evento","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"83ac0f4b-8e04-4ffe-b30c-b7dc04005bd2","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[656,112],"id":"e93a0adf-28ef-4986-b207-f58eaedbb02a","name":"Existe evento no BD?"},{"parameters":{"workflowId":{"__rl":true,"value":"L3evoVMYk4i7qqQ6","mode":"list","cachedResultUrl":"/workflow/L3evoVMYk4i7qqQ6","cachedResultName":"Contrato 1"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1328,1056],"id":"9d562b2f-cb36-4f24-9084-3e311a95e9b8","name":"Execute Contratos 1","alwaysOutputData":true,"retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"tLCtsxkiCqMImZVD","mode":"list","cachedResultUrl":"/workflow/tLCtsxkiCqMImZVD","cachedResultName":"Clientes gerais"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1328,1440],"id":"574ebeb0-df0f-4061-bcef-20ef026f6403","name":"Execute Clientes gerais","retryOnFail":true,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"19edf46d-78f4-440c-9eca-6e4ae04bf7d8","name":"ID do evento","value":"={{ $('Trata informações nível 1').first().json.evento.ID_evento }}","type":"number"},{"id":"31658810-2023-424e-9721-3f72f31c7442","name":"ID do grupo","value":"={{ $('Trata informações nível 1').first().json.evento.ID_grupo }}","type":"number"},{"id":"4b041452-aa75-481a-a99a-753f4247830c","name":"=ID do host","value":"={{ $('Trata informações nível 1').item.json.evento.ID_host }}","type":"number"},{"id":"aa610d03-d8a0-4275-872e-52a82c36f517","name":"ID Movidesk para abertura de chamado","value":"={{ $('Google: Select variáveis cliente').first().json.ID_MOVIDESK }}","type":"string"},{"id":"379e8e7a-f1e2-46a4-8e6a-33aa694c5b3a","name":"Nome do evento","value":"={{ $('Trata informações nível 1').item.json.evento.nome_evento }}","type":"string"},{"id":"73966662-1bcb-42ac-a0ae-7f96cf4a61de","name":"Nome do host","value":"={{ $('Trata informações nível 1').item.json.evento.nome_host }}","type":"string"},{"id":"6ca86cd9-5eac-4bf0-a26a-17d3f00d9e9d","name":"Raiz do host","value":"={{ $('Trata informações nível 1').item.json.evento.nome_raiz }}","type":"string"},{"id":"257ec0c7-9b34-479d-a74f-c650af14f6e3","name":"Nome principal do cliente","value":"={{ $('Trata informações nível 1').item.json.evento.nomeCliente }}","type":"string"},{"id":"ab3af25e-3a58-43fe-8213-421e68bf767a","name":"Host sem o IP","value":"={{ $('Trata informações nível 1').item.json.evento.host_sem_ip }}","type":"string"},{"id":"1dc301e5-b74c-4f62-8304-76119c1c6eb4","name":"Timestamp da queda","value":"={{ $('Trata informações nível 1').item.json.evento.timestamp_evento }}","type":"number"},{"id":"6d94741e-fd4e-44f3-886b-0fa1836ae307","name":"Data e hora do evento","value":"={{ $('Trata informações nível 1').item.json.evento.data_hora_evento }}","type":"string"},{"id":"d72df2a3-bfb1-4ce0-a6cc-c1a9224f8677","name":"Tipo de cliente","value":"={{ $('Trata informações nível 1').item.json.tipoCliente }}","type":"number"},{"id":"12c22a0a-27fd-44a6-9c15-c45c68b62c45","name":"Tempo SLA","value":"={{ $json.SLA_segundos }}","type":"number"},{"id":"e3403631-d417-4955-a3c3-61fb42e26194","name":"Restrições","value":"={{ $('Google: Select variáveis cliente').item.json['RESTRIÇÕES'] }}","type":"boolean"},{"id":"ce385db7-e232-44d1-b204-d73d11718eb8","name":"Emails em cópia para chamado Movidesk","value":"={{ $('Google: Select variáveis cliente').item.json.CC }}","type":"string"},{"id":"32a8bac1-9582-4a2b-99ff-35eaf999d5aa","name":"Nome do grupo","value":"={{ $('Trata informações nível 1').item.json.evento.nome_grupo }}","type":"string"},{"id":"1230071f-51f6-4da9-90a8-10211ffa0a83","name":"Eventos relacionados","value":"={{ $('Trata informações nível 1').item.json.evento.eventos_relacionados }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,1248],"id":"99b176b8-87a1-4aae-977c-9e345cf77b01","name":"Prepara informações"},{"parameters":{"workflowId":{"__rl":true,"value":"Kd9DFlZfIm0B3YAX","mode":"list","cachedResultUrl":"/workflow/Kd9DFlZfIm0B3YAX","cachedResultName":"Contratos 2"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1328,1248],"id":"041b616b-9721-4914-a6c0-deac9ca31e7b","name":"Execute Contratos 2","retryOnFail":true,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['Tipo de cliente'] }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"041ca200-6410-4931-a7bb-7df3a33b8fa2"}],"combinator":"and"},"renameOutput":true,"outputKey":"CONTRATO 1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8079af7-071a-437e-be28-554b07b51ecc","leftValue":"={{ $json['Tipo de cliente'] }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CONTRATO 2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ba69a0e4-fbf7-426e-b2d7-f173c7aa2aa4","leftValue":"={{ $json['Tipo de cliente'] }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GERAIS"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1104,1232],"id":"c8546309-1889-46f2-9e5e-bc49f23855b1","name":"ROTA: tipos clientes"},{"parameters":{"jsCode":"const restricoes = $input.first().json['RESTRIÇÕES'];\nconst raiz_nome_host = $('Trata informações nível 1').first().json.evento.nome_raiz;\nconst nome_host_completo = $('Trata informações nível 1').first().json.evento.nome_host;\nconst evento_gerador = $('Trata informações nível 1').first().json.evento.nome_evento;\n\nif (restricoes === true) {\n  const textoAdministrativo = `\n  \n    Verificar o seguinte evento no Zabbix:\n      **Raiz do host:** ${raiz_nome_host}\n      **Host completo:** ${nome_host_completo}\n      **Evento:** ${evento_gerador} \n      \n      O cliente possui restrições para abertura de chamado, favor verificar e proceder com tratativa.\n  `;\n\n  const titulo_evento = \"Cliente com restrições\"\n\n  return [{\n    textoParaNotificacao: textoAdministrativo,\n    tituloEvento: titulo_evento\n  }]\n} else {\n  const textoAdministrativo = `\n  \n    Verificar o seguinte evento no Zabbix:\n      **Raiz do host:** ${raiz_nome_host}\n      **Host completo:** ${nome_host_completo}\n      **Evento:** ${evento_gerador}\n      \n      O cliente não possui registros para abertura de chamado, favor verificar, adicionar à planilha e proceder com abertura manual de chamado.\n  `;\n\n  const titulo_evento = \"Sem dados na planilha\"\n\n  return [{\n    textoParaNotificacao: textoAdministrativo,\n    tituloEvento: titulo_evento\n  }]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[656,1440],"id":"7aa4531d-2639-4fba-a047-83b42adfe068","name":"Valida restrições"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0fe6b60-1874-459c-8cc7-7be9cb64e8a8","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}},{"id":"11327ced-d9e2-4bc4-998b-8bc49a246889","leftValue":"={{ $json['RESTRIÇÕES'] }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[432,1344],"id":"46a10b21-bead-4950-b5a8-30b107f798c5","name":"Existe registro?"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs","mode":"list","cachedResultName":"Dados_automação ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":195655548,"mode":"list","cachedResultName":"Contatos_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs/edit#gid=195655548"},"filtersUI":{"values":[{"lookupColumn":"EMPRESA","lookupValue":"={{ $('Trata informações nível 1').item.json.evento.nomeCliente }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,1344],"id":"d7c78b45-99a6-47ce-8d99-cbbfb9058a46","name":"Google: Select variáveis cliente","alwaysOutputData":true,"credentials":{"googleApi":{"id":"G23Xn5Fl7KzKph4r","name":"Google Service Account account"}}},{"parameters":{"jsCode":"const reconhecido = $input.first().json.reconhecimento;\nconst recuperado = $input.first().json.recuperacao;\nconst ticket_movidesk = $input.first().json.ticketMovidesk;\n\nlet ticketMovidesk = null;\nif (ticket_movidesk == null) {\n  ticketMovidesk\n} else if (ticket_movidesk.length >= 1) {\n  ticketMovidesk = ticket_movidesk[0];\n}\n\nlet rota;\nlet descricao;\nlet atuacao_rota;\nif (recuperado == true && reconhecido == false) {\n  rota = 0;\n  descricao = \"Evento recuperado mas não reconhecido\";\n  atuacao_rota = \"Delete linha da fila de tratamento\"\n} else if (recuperado == true && reconhecido == true) {\n  rota = 1;\n  descricao = \"Evento normalizado e com reconhecimento\";\n  atuacao_rota = \"Verifica se existe evento no fluxo de encerramento e prossegue - evento recuperado e reconhecido\";\n  ticket_movidesk;\n} else if (recuperado == false && reconhecido == true) {\n  rota = 2;\n  descricao = \"Evento ativo com reconhecimento\";\n  atuacao_rota = \"Verificar se existe ticket no BD e prosseguir com fluxo\";\n} else if (recuperado == false && reconhecido == false) {\n  rota = 3;\n  descricao = \"Evento ativo e sem reconhecimento - Novo evento\";\n  atuacao_rota = \"Verificar se existe registro do cliente na planilha de contatos\";\n}\n\nreturn [{\n  rota,\n  descricao,\n  atuacao_rota,\n  ticketMovidesk\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,656],"id":"b451aa37-ac7e-405a-bd56-220dad88cbde","name":"Prepara rotas"},{"parameters":{"mode":"expression","output":"={{ $json.rota }}"},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-224,624],"id":"35f1ea4b-9c13-4eb6-9743-4f0ba0ad18cd","name":"Rota: Tipo de evento"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-672,-320],"id":"d91294db-69bb-42c3-bee3-0f1916006b6f","name":"Next iteration"},{"parameters":{"operation":"getAll","tableId":"chamados abertos","filters":{"conditions":[{"keyName":"ticketMovidesk","condition":"eq","keyValue":"={{ $('Prepara rotas').item.json.ticketMovidesk }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[432,112],"id":"eeb32431-5617-4134-b54a-47104ce38d74","name":"BD: Verifica ticket no BD","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"clock\"],\n    \"eventids\": [{{ $('Trata informações nível 1').item.json.evento.ID_recuperacao }}]\n  },\n  \"id\": 1\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,112],"id":"c1e4cf6b-feb2-45f0-8341-7834dd8b159d","name":"Zabbix: event.get1","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[656,-320],"id":"1ce4d3aa-a487-49ca-8d7c-f5fc8fb1192c","name":"Next iteration1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"83ac0f4b-8e04-4ffe-b30c-b7dc04005bd2","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[432,784],"id":"bbf55ec9-82e6-4414-bb7f-18c44721aacd","name":"Existe evento no BD?1"},{"parameters":{"operation":"getAll","tableId":"chamados abertos","filters":{"conditions":[{"keyName":"ticketMovidesk","condition":"eq","keyValue":"={{ $('Prepara rotas').item.json.ticketMovidesk }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[208,784],"id":"62684649-95d3-4cb3-b6a0-87901308ed1e","name":"BD: Verifica ticket no BD1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"tableId":"chamados abertos","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.ID_evento }}"},{"fieldId":"idHost","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.ID_host }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $('Trata informações nível 1').item.json.tipoCliente }}"},{"fieldId":"idGroup","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.ID_grupo }}"},{"fieldId":"nomeHost","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.nome_host }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.nome_raiz }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.nome_evento }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.timestamp_evento }}"},{"fieldId":"statusChamado","fieldValue":"2"},{"fieldId":"ticketMovidesk","fieldValue":"={{ $('Prepara rotas').item.json.ticketMovidesk }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.eventos_relacionados }}"},{"fieldId":"Notificado encerramento","fieldValue":"={{ false }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[656,944],"id":"b1d383b8-1471-4704-82a6-a65ca1686848","name":"BD: Cria nova linha do evento1","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1328,-320],"id":"cf6d6121-2f1e-4a8e-8e2f-6ceadf4f1099","name":"Next iteration2"},{"parameters":{"jsCode":"const id_evento_corrente = $('Trata informações nível 1').first().json.evento.ID_evento;\nconst id_evento_bd = $('BD: Verifica ticket no BD1').first().json.idEvento;\nconst eventos_relacionados_bd = $('BD: Verifica ticket no BD1').first().json.eventosRelacionados;\n\nlet flagEventocorresponente = id_evento_bd == id_evento_corrente;\nlet adicionarEventosRelacionados = false;\nif (flagEventocorresponente == false) {\n  for (const ev of eventos_relacionados_bd) {\n    const flagEventoInterno = ev == id_evento_bd\n    if (flagEventoInterno == true) {\n      flagEventocorresponente = true;\n      break\n    } else {\n      flagEventocorresponente = false;\n      adicionarEventosRelacionados = true;\n    }\n  }\n}\n\nlet rota;\nlet descricao;\nif (flagEventocorresponente == true && adicionarEventosRelacionados == false) {\n  rota = 0;\n  descricao = \"Remover do hall de entrada - evento já adicionado na tabela\";\n} else if (flagEventocorresponente == false && adicionarEventosRelacionados == true) {\n  rota = 1;\n  descricao = \"Adicionar evento em eventos relacionados - evento não está em relacionados\";\n} else if (flagEventocorresponente == false && adicionarEventosRelacionados == false) {\n  rota = 2;\n  descricao = \"À definir a rota\"\n}\n  \nreturn [{\n  rota,\n  descricao\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,624],"id":"a05a1f5b-36fe-4b03-8ef1-8b57e730e5c8","name":"Rota de validação"},{"parameters":{"mode":"expression","numberOutputs":3,"output":"={{ $json.rota }}"},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[864,608],"id":"5426cb2c-16f0-4e4a-81aa-ea0a5cbe964b","name":"Rota: Validações"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1968,-736],"id":"ebfaa79c-20ef-4b41-b4bc-d9d29baebce0","name":"Itera sem excluir do hall"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=- **HOST:** {{ $('Trata informações nível 1').item.json.evento.nome_host }}\n- **EVENTO:** {{ $('Trata informações nível 1').item.json.evento.nome_evento }}","author":"Fluxo de tratamento","color":"#009EDD","title":"=NOVA ROTA - evento no fluxo de tratamento com evento no BD, host ou evento diferente","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1328,112],"id":"54002ee0-0eb0-47e3-855c-cdeeadeb8802","name":"adm: fluxo de tratamento","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=- **HOST:** {{ $('Trata informações nível 1').item.json.evento.nome_host }}\n- **EVENTO:** {{ $('Trata informações nível 1').item.json.evento.nome_evento }}","author":"Fluxo de tratamento","color":"#009EDD","title":"=NOVA ROTA - Adicionar evento em eventos relacionados - evento não está em relacionados","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1072,528],"id":"1cd9f1ae-e176-4e2d-8864-4d9bff5c80a1","name":"adm: fluxo de tratamento2","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=- **HOST:** {{ $('Trata informações nível 1').item.json.evento.nome_host }}\n- **EVENTO:** {{ $('Trata informações nível 1').item.json.evento.nome_evento }}","author":"Fluxo de tratamento","color":"#009EDD","title":"=NOVA ROTA - \"À definir a rota\"","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1072,736],"id":"4dc9c3f3-6258-4418-877f-79db4a794cd1","name":"adm: fluxo de tratamento3","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}}},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"fLvwLyUneQF2tluE","mode":"list","cachedResultName":"fila de tratamento","cachedResultUrl":"/projects/UcF1WBdewsFeRVFr/datatables/fLvwLyUneQF2tluE"},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1808,560],"id":"3d8146ba-9ef0-4e1a-a2d2-40cef7c37932","name":"Table: Recupera eventos"},{"parameters":{"operation":"deleteRows","dataTableId":{"__rl":true,"value":"fLvwLyUneQF2tluE","mode":"list","cachedResultName":"fila de tratamento","cachedResultUrl":"/projects/UcF1WBdewsFeRVFr/datatables/fLvwLyUneQF2tluE"},"matchType":"allConditions","filters":{"conditions":[{"keyValue":"={{ $('Loop Over Items').first().json.id }}"}]},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1568,-320],"id":"6344af24-6319-473e-9e23-e87a6007d99a","name":"Table: Recupera eventos1"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"pnZpMYPDqXwjP4Yy","mode":"list","cachedResultName":"tipo de contrato","cachedResultUrl":"/projects/UcF1WBdewsFeRVFr/datatables/pnZpMYPDqXwjP4Yy"},"filters":{"conditions":[{"keyValue":"={{ $('Trata informações nível 1').item.json.tipoCliente }}"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[656,1248],"id":"3da2ac60-3f68-4612-a211-104a76f957ca","name":"Table: Valida tipo de contrato"},{"parameters":{"workflowId":{"__rl":true,"value":"4XCFFEiPZb2rJYt2RhTQ0","mode":"list","cachedResultUrl":"/workflow/4XCFFEiPZb2rJYt2RhTQ0","cachedResultName":"Restrições - rotas de atuação"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1088,1440],"id":"7daa4d63-0e5d-488f-b24c-8e578b9205ac","name":"Call 'Restrições - rotas de atuação'","alwaysOutputData":false,"retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"1248be73-688f-433e-a5df-2b71266af585","name":"Id do evento","value":"={{ $('Loop Over Items').item.json.id_evento }}","type":"number"},{"id":"5116aa63-edbb-4fae-b891-e26c6ce61e44","name":"Id do host","value":"={{ $('Loop Over Items').item.json.id_host }}","type":"number"},{"id":"5e0f5793-5ff0-45c7-898f-4f3b7e1d7ab1","name":"Id do grupo","value":"={{ $('Loop Over Items').item.json.id_grupo }}","type":"number"},{"id":"6e44a101-f9fd-4860-883d-a86bf94983a5","name":"Host","value":"={{ $('Loop Over Items').item.json.host }}","type":"string"},{"id":"dc9d7672-61cf-4cdb-bcca-db13a51ada35","name":"Raiz do host","value":"={{ $('Loop Over Items').item.json.raiz_host }}","type":"string"},{"id":"fc6f4a77-0078-4377-b857-af6ac76f3ab9","name":"Evento","value":"={{ $('Loop Over Items').item.json.evento }}","type":"string"},{"id":"57316ce8-b214-4713-8fa2-6ff0505ee87a","name":"Timestamp da queda","value":"={{ $('Loop Over Items').item.json.timestamp_queda }}","type":"number"},{"id":"414512a3-b151-4944-8ff4-1061815b1b5b","name":"Data e hora da queda","value":"={{ $('Loop Over Items').item.json.data_hora_queda }}","type":"string"},{"id":"bd79fa0c-7eb9-4f1f-802e-b6c41cdf7878","name":"Tipo de contrato","value":"={{ $('Loop Over Items').item.json.tipo_contrato }}","type":"number"},{"id":"3ba52c83-5f72-4a23-abb4-26fb936fe25e","name":"Eventos relacionados","value":"={{ $('Loop Over Items').item.json.eventos_relacionados }}","type":"string"},{"id":"816b3581-5b11-4511-beda-3d15620adf71","name":"Nome do grupo","value":"={{ $('Loop Over Items').item.json.nome_grupo }}","type":"string"},{"id":"2eac3701-b1c4-4ab0-9aca-98bcd71671b8","name":"ID abertura ticket Movidesk","value":"={{ $('Google: Select variáveis cliente').item.json.ID_MOVIDESK }}","type":"string"},{"id":"5e2cc231-213a-4312-a2f0-5c40fcb764e6","name":"Emails em cópia para Movidesk","value":"={{ $('Google: Select variáveis cliente').item.json.CC }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[864,1440],"id":"ad3d1b8a-4e35-4744-bf21-58d64cb7c8bc","name":"Prepara dados"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Table: Recupera eventos","type":"main","index":0}]]},"Zabbix: event.get":{"main":[[{"node":"Trata informações nível 1","type":"main","index":0}]]},"Trata informações nível 1":{"main":[[{"node":"Prepara rotas","type":"main","index":0}]]},"Prepara os dados":{"main":[[{"node":"Call 'Olfar matriz ruckus 730'","type":"main","index":0}]]},"Call 'Olfar matriz ruckus 730'":{"main":[[{"node":"Next iteration","type":"main","index":0}]]},"Exceção":{"main":[[{"node":"Exceção?","type":"main","index":0}]]},"Exceção?":{"main":[[{"node":"Prepara os dados","type":"main","index":0}],[{"node":"Zabbix: event.get","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Exceção","type":"main","index":0}]]},"Adiciona evento em eventos relacionados":{"main":[[{"node":"adm: fluxo de tratamento","type":"main","index":0}]]},"Mesmo eventid?":{"main":[[{"node":"Next iteration1","type":"main","index":0}],[{"node":"adm: fluxo de tratamento1","type":"main","index":0}]]},"Mesmo host e evento?":{"main":[[{"node":"Mesmo eventid?","type":"main","index":0}],[{"node":"Adiciona evento em eventos relacionados","type":"main","index":0}]]},"BD: Cria nova linha do evento":{"main":[[{"node":"Next iteration1","type":"main","index":0}]]},"Existe evento no BD?":{"main":[[{"node":"Mesmo host e evento?","type":"main","index":0}],[{"node":"BD: Cria nova linha do evento","type":"main","index":0}]]},"Execute Contratos 1":{"main":[[{"node":"Itera sem excluir do hall","type":"main","index":0}]]},"Execute Clientes gerais":{"main":[[{"node":"Next iteration2","type":"main","index":0}]]},"Prepara informações":{"main":[[{"node":"ROTA: tipos clientes","type":"main","index":0}]]},"Execute Contratos 2":{"main":[[{"node":"Itera sem excluir do hall","type":"main","index":0}]]},"ROTA: tipos clientes":{"main":[[{"node":"Execute Contratos 1","type":"main","index":0}],[{"node":"Execute Contratos 2","type":"main","index":0}],[{"node":"Execute Clientes gerais","type":"main","index":0}]]},"Valida restrições":{"main":[[{"node":"Prepara dados","type":"main","index":0}]]},"Existe registro?":{"main":[[{"node":"Table: Valida tipo de contrato","type":"main","index":0}],[{"node":"Valida restrições","type":"main","index":0}]]},"Google: Select variáveis cliente":{"main":[[{"node":"Existe registro?","type":"main","index":0}]]},"Prepara rotas":{"main":[[{"node":"Rota: Tipo de evento","type":"main","index":0}]]},"Next iteration":{"main":[[{"node":"Table: Recupera eventos1","type":"main","index":0}]]},"Rota: Tipo de evento":{"main":[[{"node":"Next iteration","type":"main","index":0}],[{"node":"Zabbix: event.get1","type":"main","index":0}],[{"node":"BD: Verifica ticket no BD1","type":"main","index":0}],[{"node":"Google: Select variáveis cliente","type":"main","index":0}]]},"BD: Verifica ticket no BD":{"main":[[{"node":"Existe evento no BD?","type":"main","index":0}]]},"Zabbix: event.get1":{"main":[[{"node":"BD: Verifica ticket no BD","type":"main","index":0}]]},"Next iteration1":{"main":[[{"node":"Table: Recupera eventos1","type":"main","index":0}]]},"BD: Verifica ticket no BD1":{"main":[[{"node":"Existe evento no BD?1","type":"main","index":0}]]},"Existe evento no BD?1":{"main":[[{"node":"Rota de validação","type":"main","index":0}],[{"node":"BD: Cria nova linha do evento1","type":"main","index":0}]]},"BD: Cria nova linha do evento1":{"main":[[{"node":"Next iteration1","type":"main","index":0}]]},"Next iteration2":{"main":[[{"node":"Table: Recupera eventos1","type":"main","index":0}]]},"Rota de validação":{"main":[[{"node":"Rota: Validações","type":"main","index":0}]]},"Rota: Validações":{"main":[[{"node":"Next iteration1","type":"main","index":0}],[{"node":"adm: fluxo de tratamento2","type":"main","index":0}],[{"node":"adm: fluxo de tratamento3","type":"main","index":0}]]},"adm: fluxo de tratamento1":{"main":[[{"node":"Itera sem excluir do hall","type":"main","index":0}]]},"Itera sem excluir do hall":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"adm: fluxo de tratamento":{"main":[[{"node":"Itera sem excluir do hall","type":"main","index":0}]]},"adm: fluxo de tratamento2":{"main":[[{"node":"Itera sem excluir do hall","type":"main","index":0}]]},"adm: fluxo de tratamento3":{"main":[[{"node":"Itera sem excluir do hall","type":"main","index":0}]]},"Table: Recupera eventos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Table: Recupera eventos1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Table: Valida tipo de contrato":{"main":[[{"node":"Prepara informações","type":"main","index":0}]]},"Call 'Restrições - rotas de atuação'":{"main":[[{"node":"Next iteration1","type":"main","index":0}]]},"Prepara dados":{"main":[[{"node":"Call 'Restrições - rotas de atuação'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"akaImKErHyzNLJa6"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2026-01-31T17:55:37.016-03:00","Readable date":"January 31st 2026, 5:55:37 pm","Readable time":"5:55:37 pm","Day of week":"Saturday","Year":"2026","Month":"January","Day of month":"31","Hour":"17","Minute":"55","Second":"37","Timezone":"America/Sao_Paulo (UTC-03:00)"},"pairedItem":{"item":0}}]},"versionId":"52a70909-8fc2-49ed-a400-41181ec1855a","activeVersionId":"52a70909-8fc2-49ed-a400-41181ec1855a","triggerCount":1,"shared":[{"updatedAt":"2025-12-11T11:48:17.761Z","createdAt":"2025-12-11T11:48:17.761Z","role":"workflow:owner","workflowId":"7QS9e33EPpL889ws","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":{"updatedAt":"2026-02-01T00:16:30.000Z","createdAt":"2026-02-01T00:10:22.807Z","versionId":"52a70909-8fc2-49ed-a400-41181ec1855a","workflowId":"7QS9e33EPpL889ws","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2016,560],"id":"55c16c34-24cb-4b1c-aa78-fb5be18af0e9","name":"Schedule Trigger"},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"r_eventid\", \"acknowledged\"],\n    \"eventids\": [{{ $('Loop Over Items').item.json.id_evento }}],\n\n    \"selectHosts\": [\"hostid\", \"host\", \"description\"],\n\n    \"selectRelatedObject\": [\"description\", \"value\"],\n\n    \"selectAcknowledges\": [\"clock\", \"message\", \"action\"]\n    \n  },\n  \"id\": 1\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-896,656],"id":"b8114a48-50de-433a-9472-d67dbb2f64fd","name":"Zabbix: event.get","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}}},{"parameters":{"jsCode":"// ===== VARIAVEIS BASE ====\nconst ID_evento = $('Loop Over Items').first().json.id_evento;\nconst ID_recuperacao = parseInt($input.first().json.result[0].r_eventid);\nconst ID_host = $('Loop Over Items').first().json.id_host;\nconst ID_grupo = $('Loop Over Items').first().json.id_grupo;\nconst nome_host = $('Loop Over Items').first().json.host;\nconst raiz_host = $('Loop Over Items').first().json.raiz_host;\nconst nome_evento = $('Loop Over Items').first().json.evento;\nconst timestamp_evento = $('Loop Over Items').first().json.timestamp_queda;\nconst data_hora_evento = $('Loop Over Items').first().json.data_hora_queda;\nconst eventos_relacionados = $('Loop Over Items').first().json.eventos_relacionados;\nconst nome_grupo = $('Loop Over Items').first().json.nome_grupo;\nconst description_evento = $input.first().json.result[0].hosts[0].description;\nconst reconhecido = parseInt($input.first().json.result[0].acknowledged);\n\nlet flagReconhecido;\nlet ticketMovidesk = null;\nif (reconhecido == 0) {\n  flagReconhecido = false\n} else {\n  const reconhecidos = $input.first().json.result[0].acknowledges\n  for (const ev of reconhecidos) {\n    const flag_reconhecido_seis = reconhecidos.map(ev => ev.action)\n    const ticket_movidesk = reconhecidos.map(ev => ev.message)\n    if (flag_reconhecido_seis == \"6\") {\n      flagReconhecido = true\n      ticketMovidesk = ticket_movidesk\n      break\n    } else {\n      flagReconhecido = false\n    }\n  }\n}\nlet flagRecuperacao;\nif (ID_recuperacao == 0) {\n  flagRecuperacao = false\n} else {\n  flagRecuperacao = true\n}\nconst nome_raiz = nome_host.split(\"-\")[0].trim()\nconst host_sem_ip = nome_host.substring(0, nome_host.lastIndexOf(\" - \")).trim();\nconst mapa_clientes_contrato1 = [\n  \"INDIGO\",\n  \"ALL4LABELS\",\n  \"DYNAMIS\"\n]\nconst mapa_clientes_contrato2 = [\n  \"AMAFIL\",\n  \"UNIARP\",\n  \"IRAPURU\"\n]\n\nlet flagTipoCliente = 3;\nlet nomePrincipalContrato = nome_raiz;\nfunction verificarTipoCliente () {\n  const nomeRaiz = nome_raiz\n  for (const cliente of mapa_clientes_contrato1) {\n    const nomeMatch = nomeRaiz.includes(cliente)\n    if (nomeMatch == true) {\n      flagTipoCliente = 1\n      nomePrincipalContrato = cliente\n    }\n  }\n\n  for (const cliente of mapa_clientes_contrato2) {\n    const nomeMatch = nomeRaiz.includes(cliente)\n    if (nomeMatch == true) {\n      flagTipoCliente = 2\n      nomePrincipalContrato = cliente\n    }\n  }\n  \n  return {flagTipoCliente, nomePrincipalContrato};\n}\n\n\n// ==== PREPARA INFORMAÇÕES ====\nconst itens_retorno = {\n  evento: {\n    ID_evento,\n    ID_host,\n    ID_recuperacao,\n    ID_grupo,\n    nome_evento,\n    nome_host,\n    nome_raiz,\n    host_sem_ip,\n    nomeCliente: verificarTipoCliente().nomePrincipalContrato,\n    description_evento,\n    timestamp_evento,\n    data_hora_evento,\n    nome_grupo,\n    eventos_relacionados\n  },\n  reconhecimento: flagReconhecido,\n  ticketMovidesk,\n  recuperacao: flagRecuperacao,\n  tipoCliente: verificarTipoCliente().flagTipoCliente\n}\n\nreturn [itens_retorno]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,656],"id":"838f2361-ee27-40d2-a26b-99e1d19beb2c","name":"Trata informações nível 1"},{"parameters":{"assignments":{"assignments":[{"id":"c804d43e-2a0c-458b-ad8b-4a5759af4f61","name":"Id do evento","value":"={{ $('Loop Over Items').item.json.id_evento }}","type":"number"},{"id":"1c9ea0e7-c760-469f-9529-f4e979809479","name":"Id do host","value":"={{ $('Loop Over Items').item.json.id_host }}","type":"number"},{"id":"9b2fd5a5-7372-47bc-a7c1-f8c770a74b2b","name":"Id do grupo","value":"={{ $('Loop Over Items').item.json.id_grupo }}","type":"number"},{"id":"0863d046-8dcd-48dc-ab5b-292081c82fff","name":"Host","value":"={{ $('Loop Over Items').item.json.host }}","type":"string"},{"id":"c93451cb-30cb-4d31-9b24-cf6d7facb15f","name":"Raiz do host","value":"={{ $('Loop Over Items').item.json.raiz_host }}","type":"string"},{"id":"81211127-d7b5-4e76-be8b-83763ac72869","name":"Evento","value":"={{ $('Loop Over Items').item.json.evento }}","type":"string"},{"id":"1cd78ff4-68fe-4792-9778-b86c0fafccec","name":"Timestamp da queda","value":"={{ $('Loop Over Items').item.json.timestamp_queda }}","type":"number"},{"id":"ae182978-50f4-4b6f-ad2d-4876ca96cf0f","name":"Data e hora da queda","value":"={{ $('Loop Over Items').item.json.data_hora_queda }}","type":"string"},{"id":"f82ee833-5b9c-410f-82df-11445eb2c199","name":"Tipo de contrato","value":"={{ $('Loop Over Items').item.json.tipo_contrato }}","type":"number"},{"id":"bf46aa54-a7ed-462f-903f-5a126fa842c8","name":"Nome do grupo","value":"={{ $('Loop Over Items').item.json.nome_grupo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-896,464],"id":"f8aecadb-0cc6-4fe0-b63c-ca26f9727404","name":"Prepara os dados"},{"parameters":{"workflowId":{"__rl":true,"value":"7HKCikxUfMc8vchY","mode":"list","cachedResultUrl":"/workflow/7HKCikxUfMc8vchY","cachedResultName":"Olfar matriz ruckus 730"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-672,464],"id":"0705eb1e-76c4-4c05-86c4-aae73618a86c","name":"Call 'Olfar matriz ruckus 730'"},{"parameters":{"jsCode":"const mapaExcecoes = [\n  \"OLFAR MATRIZ - RUCKUS R730\"\n];\n\nconst nomeHost = $input.first().json.host;\n\nconst flagExcecao = mapaExcecoes.some(excecao =>\n  nomeHost.includes(excecao)\n);\n\nreturn [{\n  flagExcecao\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,560],"id":"4c265256-3364-4445-b4ae-cc0fb8bab352","name":"Exceção"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d1e35327-76bd-4226-9e7d-f3c3b42667b4","leftValue":"={{ $json.flagExcecao }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1120,560],"id":"fb0a58c0-a58c-4f52-ac25-c7b93e04309a","name":"Exceção?"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1568,560],"id":"a0c3f07e-7d8d-4ed5-b3e3-e2fb759bb236","name":"Loop Over Items"},{"parameters":{"jsCode":"const eventos_relacionados = $input.first().json.eventosRelacionados;\n\nconst ID_evento_atual = $('BD: Recupera eventos do hall').first().json['ID do evento'];\n\nconst flagEventoInserido = eventos_relacionados.includes(ID_evento_atual);\n\nif (flagEventoInserido != true) {\n  eventos_relacionados.push(ID_evento_atual)\n}\n\nreturn [{eventos_relacionados}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,112],"id":"c5699029-05b9-4d71-a29d-086f8c503ba0","name":"Adiciona evento em eventos relacionados"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5ee22f97-76af-42c7-ae80-7dcf1e23f085","leftValue":"={{ $('BD: Verifica ticket no BD').item.json.idEvento }}","rightValue":"={{ $('BD: Recupera eventos do hall').first().json['ID do evento'] }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1104,-80],"id":"7ba037c4-94f4-42fd-93fd-b167be8de273","name":"Mesmo eventid?"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=- **HOST:** {{ $('Trata informações nível 1').item.json.evento.nome_host }}\n- **EVENTO:** {{ $('Trata informações nível 1').item.json.evento.nome_evento }}","author":"Fluxo de tratamento","color":"#009EDD","title":"=NOVA ROTA - evento no fluxo de tratamento com evento no BD, mesmo host e evento, mas eventids diferentes","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1328,-80],"id":"a1947821-46c3-4da6-9e02-8f78b34a0c5b","name":"adm: fluxo de tratamento1","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d05a6401-959a-49ee-adce-126fb99a1733","leftValue":"={{ $json.nomeHost }}","rightValue":"={{ $('BD: Recupera eventos do hall').first().json['Nome do host'] }}","operator":{"type":"string","operation":"equals"}},{"id":"0a3aeac3-1233-4396-ae38-48a0e0a5141a","leftValue":"={{ $json.nomeEvento }}","rightValue":"={{ $('BD: Recupera eventos do hall').first().json['Nome do evento'] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[880,16],"id":"66cd44b5-4f7e-4619-afeb-8516eb6b495d","name":"Mesmo host e evento?"},{"parameters":{"tableId":"chamados abertos","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.ID_evento }}"},{"fieldId":"idHost","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.ID_host }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $('Trata informações nível 1').item.json.tipoCliente }}"},{"fieldId":"idGroup","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.ID_grupo }}"},{"fieldId":"nomeHost","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.nome_host }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.nome_raiz }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.nome_evento }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.timestamp_evento }}"},{"fieldId":"statusChamado","fieldValue":"3"},{"fieldId":"ticketMovidesk","fieldValue":"={{ $('Prepara rotas').item.json.ticketMovidesk }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.eventos_relacionados }}"},{"fieldId":"idEventoRecuperacao","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.ID_recuperacao }}"},{"fieldId":"timestampRecuperacao","fieldValue":"={{ parseInt($('Zabbix: event.get1').item.json.result[0].clock) }}"},{"fieldId":"Notificado encerramento","fieldValue":"={{ false }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[880,208],"id":"cbf98510-8923-4086-9f5b-ffe003f1f6ac","name":"BD: Cria nova linha do evento","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"83ac0f4b-8e04-4ffe-b30c-b7dc04005bd2","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[656,112],"id":"e93a0adf-28ef-4986-b207-f58eaedbb02a","name":"Existe evento no BD?"},{"parameters":{"workflowId":{"__rl":true,"value":"L3evoVMYk4i7qqQ6","mode":"list","cachedResultUrl":"/workflow/L3evoVMYk4i7qqQ6","cachedResultName":"Contrato 1"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1328,1056],"id":"9d562b2f-cb36-4f24-9084-3e311a95e9b8","name":"Execute Contratos 1","alwaysOutputData":true,"retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"tLCtsxkiCqMImZVD","mode":"list","cachedResultUrl":"/workflow/tLCtsxkiCqMImZVD","cachedResultName":"Clientes gerais"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1328,1440],"id":"574ebeb0-df0f-4061-bcef-20ef026f6403","name":"Execute Clientes gerais","retryOnFail":true,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"19edf46d-78f4-440c-9eca-6e4ae04bf7d8","name":"ID do evento","value":"={{ $('Trata informações nível 1').first().json.evento.ID_evento }}","type":"number"},{"id":"31658810-2023-424e-9721-3f72f31c7442","name":"ID do grupo","value":"={{ $('Trata informações nível 1').first().json.evento.ID_grupo }}","type":"number"},{"id":"4b041452-aa75-481a-a99a-753f4247830c","name":"=ID do host","value":"={{ $('Trata informações nível 1').item.json.evento.ID_host }}","type":"number"},{"id":"aa610d03-d8a0-4275-872e-52a82c36f517","name":"ID Movidesk para abertura de chamado","value":"={{ $('Google: Select variáveis cliente').first().json.ID_MOVIDESK }}","type":"string"},{"id":"379e8e7a-f1e2-46a4-8e6a-33aa694c5b3a","name":"Nome do evento","value":"={{ $('Trata informações nível 1').item.json.evento.nome_evento }}","type":"string"},{"id":"73966662-1bcb-42ac-a0ae-7f96cf4a61de","name":"Nome do host","value":"={{ $('Trata informações nível 1').item.json.evento.nome_host }}","type":"string"},{"id":"6ca86cd9-5eac-4bf0-a26a-17d3f00d9e9d","name":"Raiz do host","value":"={{ $('Trata informações nível 1').item.json.evento.nome_raiz }}","type":"string"},{"id":"257ec0c7-9b34-479d-a74f-c650af14f6e3","name":"Nome principal do cliente","value":"={{ $('Trata informações nível 1').item.json.evento.nomeCliente }}","type":"string"},{"id":"ab3af25e-3a58-43fe-8213-421e68bf767a","name":"Host sem o IP","value":"={{ $('Trata informações nível 1').item.json.evento.host_sem_ip }}","type":"string"},{"id":"1dc301e5-b74c-4f62-8304-76119c1c6eb4","name":"Timestamp da queda","value":"={{ $('Trata informações nível 1').item.json.evento.timestamp_evento }}","type":"number"},{"id":"6d94741e-fd4e-44f3-886b-0fa1836ae307","name":"Data e hora do evento","value":"={{ $('Trata informações nível 1').item.json.evento.data_hora_evento }}","type":"string"},{"id":"d72df2a3-bfb1-4ce0-a6cc-c1a9224f8677","name":"Tipo de cliente","value":"={{ $('Trata informações nível 1').item.json.tipoCliente }}","type":"number"},{"id":"12c22a0a-27fd-44a6-9c15-c45c68b62c45","name":"Tempo SLA","value":"={{ $json.SLA_segundos }}","type":"number"},{"id":"e3403631-d417-4955-a3c3-61fb42e26194","name":"Restrições","value":"={{ $('Google: Select variáveis cliente').item.json['RESTRIÇÕES'] }}","type":"boolean"},{"id":"ce385db7-e232-44d1-b204-d73d11718eb8","name":"Emails em cópia para chamado Movidesk","value":"={{ $('Google: Select variáveis cliente').item.json.CC }}","type":"string"},{"id":"32a8bac1-9582-4a2b-99ff-35eaf999d5aa","name":"Nome do grupo","value":"={{ $('Trata informações nível 1').item.json.evento.nome_grupo }}","type":"string"},{"id":"1230071f-51f6-4da9-90a8-10211ffa0a83","name":"Eventos relacionados","value":"={{ $('Trata informações nível 1').item.json.evento.eventos_relacionados }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,1248],"id":"99b176b8-87a1-4aae-977c-9e345cf77b01","name":"Prepara informações"},{"parameters":{"workflowId":{"__rl":true,"value":"Kd9DFlZfIm0B3YAX","mode":"list","cachedResultUrl":"/workflow/Kd9DFlZfIm0B3YAX","cachedResultName":"Contratos 2"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1328,1248],"id":"041b616b-9721-4914-a6c0-deac9ca31e7b","name":"Execute Contratos 2","retryOnFail":true,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['Tipo de cliente'] }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"041ca200-6410-4931-a7bb-7df3a33b8fa2"}],"combinator":"and"},"renameOutput":true,"outputKey":"CONTRATO 1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8079af7-071a-437e-be28-554b07b51ecc","leftValue":"={{ $json['Tipo de cliente'] }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CONTRATO 2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ba69a0e4-fbf7-426e-b2d7-f173c7aa2aa4","leftValue":"={{ $json['Tipo de cliente'] }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GERAIS"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1104,1232],"id":"c8546309-1889-46f2-9e5e-bc49f23855b1","name":"ROTA: tipos clientes"},{"parameters":{"jsCode":"const restricoes = $input.first().json['RESTRIÇÕES'];\nconst raiz_nome_host = $('Trata informações nível 1').first().json.evento.nome_raiz;\nconst nome_host_completo = $('Trata informações nível 1').first().json.evento.nome_host;\nconst evento_gerador = $('Trata informações nível 1').first().json.evento.nome_evento;\n\nif (restricoes === true) {\n  const textoAdministrativo = `\n  \n    Verificar o seguinte evento no Zabbix:\n      **Raiz do host:** ${raiz_nome_host}\n      **Host completo:** ${nome_host_completo}\n      **Evento:** ${evento_gerador} \n      \n      O cliente possui restrições para abertura de chamado, favor verificar e proceder com tratativa.\n  `;\n\n  const titulo_evento = \"Cliente com restrições\"\n\n  return [{\n    textoParaNotificacao: textoAdministrativo,\n    tituloEvento: titulo_evento\n  }]\n} else {\n  const textoAdministrativo = `\n  \n    Verificar o seguinte evento no Zabbix:\n      **Raiz do host:** ${raiz_nome_host}\n      **Host completo:** ${nome_host_completo}\n      **Evento:** ${evento_gerador}\n      \n      O cliente não possui registros para abertura de chamado, favor verificar, adicionar à planilha e proceder com abertura manual de chamado.\n  `;\n\n  const titulo_evento = \"Sem dados na planilha\"\n\n  return [{\n    textoParaNotificacao: textoAdministrativo,\n    tituloEvento: titulo_evento\n  }]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[656,1440],"id":"7aa4531d-2639-4fba-a047-83b42adfe068","name":"Valida restrições"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0fe6b60-1874-459c-8cc7-7be9cb64e8a8","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}},{"id":"11327ced-d9e2-4bc4-998b-8bc49a246889","leftValue":"={{ $json['RESTRIÇÕES'] }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[432,1344],"id":"46a10b21-bead-4950-b5a8-30b107f798c5","name":"Existe registro?"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs","mode":"list","cachedResultName":"Dados_automação ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":195655548,"mode":"list","cachedResultName":"Contatos_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs/edit#gid=195655548"},"filtersUI":{"values":[{"lookupColumn":"EMPRESA","lookupValue":"={{ $('Trata informações nível 1').item.json.evento.nomeCliente }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,1344],"id":"d7c78b45-99a6-47ce-8d99-cbbfb9058a46","name":"Google: Select variáveis cliente","alwaysOutputData":true,"credentials":{"googleApi":{"id":"G23Xn5Fl7KzKph4r","name":"Google Service Account account"}}},{"parameters":{"jsCode":"const reconhecido = $input.first().json.reconhecimento;\nconst recuperado = $input.first().json.recuperacao;\nconst ticket_movidesk = $input.first().json.ticketMovidesk;\n\nlet ticketMovidesk = null;\nif (ticket_movidesk == null) {\n  ticketMovidesk\n} else if (ticket_movidesk.length >= 1) {\n  ticketMovidesk = ticket_movidesk[0];\n}\n\nlet rota;\nlet descricao;\nlet atuacao_rota;\nif (recuperado == true && reconhecido == false) {\n  rota = 0;\n  descricao = \"Evento recuperado mas não reconhecido\";\n  atuacao_rota = \"Delete linha da fila de tratamento\"\n} else if (recuperado == true && reconhecido == true) {\n  rota = 1;\n  descricao = \"Evento normalizado e com reconhecimento\";\n  atuacao_rota = \"Verifica se existe evento no fluxo de encerramento e prossegue - evento recuperado e reconhecido\";\n  ticket_movidesk;\n} else if (recuperado == false && reconhecido == true) {\n  rota = 2;\n  descricao = \"Evento ativo com reconhecimento\";\n  atuacao_rota = \"Verificar se existe ticket no BD e prosseguir com fluxo\";\n} else if (recuperado == false && reconhecido == false) {\n  rota = 3;\n  descricao = \"Evento ativo e sem reconhecimento - Novo evento\";\n  atuacao_rota = \"Verificar se existe registro do cliente na planilha de contatos\";\n}\n\nreturn [{\n  rota,\n  descricao,\n  atuacao_rota,\n  ticketMovidesk\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,656],"id":"b451aa37-ac7e-405a-bd56-220dad88cbde","name":"Prepara rotas"},{"parameters":{"mode":"expression","output":"={{ $json.rota }}"},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-224,624],"id":"35f1ea4b-9c13-4eb6-9743-4f0ba0ad18cd","name":"Rota: Tipo de evento"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-672,-320],"id":"d91294db-69bb-42c3-bee3-0f1916006b6f","name":"Next iteration"},{"parameters":{"operation":"getAll","tableId":"chamados abertos","filters":{"conditions":[{"keyName":"ticketMovidesk","condition":"eq","keyValue":"={{ $('Prepara rotas').item.json.ticketMovidesk }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[432,112],"id":"eeb32431-5617-4134-b54a-47104ce38d74","name":"BD: Verifica ticket no BD","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"clock\"],\n    \"eventids\": [{{ $('Trata informações nível 1').item.json.evento.ID_recuperacao }}]\n  },\n  \"id\": 1\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,112],"id":"c1e4cf6b-feb2-45f0-8341-7834dd8b159d","name":"Zabbix: event.get1","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[656,-320],"id":"1ce4d3aa-a487-49ca-8d7c-f5fc8fb1192c","name":"Next iteration1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"83ac0f4b-8e04-4ffe-b30c-b7dc04005bd2","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[432,784],"id":"bbf55ec9-82e6-4414-bb7f-18c44721aacd","name":"Existe evento no BD?1"},{"parameters":{"operation":"getAll","tableId":"chamados abertos","filters":{"conditions":[{"keyName":"ticketMovidesk","condition":"eq","keyValue":"={{ $('Prepara rotas').item.json.ticketMovidesk }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[208,784],"id":"62684649-95d3-4cb3-b6a0-87901308ed1e","name":"BD: Verifica ticket no BD1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"tableId":"chamados abertos","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.ID_evento }}"},{"fieldId":"idHost","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.ID_host }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $('Trata informações nível 1').item.json.tipoCliente }}"},{"fieldId":"idGroup","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.ID_grupo }}"},{"fieldId":"nomeHost","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.nome_host }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.nome_raiz }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.nome_evento }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.timestamp_evento }}"},{"fieldId":"statusChamado","fieldValue":"2"},{"fieldId":"ticketMovidesk","fieldValue":"={{ $('Prepara rotas').item.json.ticketMovidesk }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.eventos_relacionados }}"},{"fieldId":"Notificado encerramento","fieldValue":"={{ false }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[656,944],"id":"b1d383b8-1471-4704-82a6-a65ca1686848","name":"BD: Cria nova linha do evento1","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1328,-320],"id":"cf6d6121-2f1e-4a8e-8e2f-6ceadf4f1099","name":"Next iteration2"},{"parameters":{"jsCode":"const id_evento_corrente = $('Trata informações nível 1').first().json.evento.ID_evento;\nconst id_evento_bd = $('BD: Verifica ticket no BD1').first().json.idEvento;\nconst eventos_relacionados_bd = $('BD: Verifica ticket no BD1').first().json.eventosRelacionados;\n\nlet flagEventocorresponente = id_evento_bd == id_evento_corrente;\nlet adicionarEventosRelacionados = false;\nif (flagEventocorresponente == false) {\n  for (const ev of eventos_relacionados_bd) {\n    const flagEventoInterno = ev == id_evento_bd\n    if (flagEventoInterno == true) {\n      flagEventocorresponente = true;\n      break\n    } else {\n      flagEventocorresponente = false;\n      adicionarEventosRelacionados = true;\n    }\n  }\n}\n\nlet rota;\nlet descricao;\nif (flagEventocorresponente == true && adicionarEventosRelacionados == false) {\n  rota = 0;\n  descricao = \"Remover do hall de entrada - evento já adicionado na tabela\";\n} else if (flagEventocorresponente == false && adicionarEventosRelacionados == true) {\n  rota = 1;\n  descricao = \"Adicionar evento em eventos relacionados - evento não está em relacionados\";\n} else if (flagEventocorresponente == false && adicionarEventosRelacionados == false) {\n  rota = 2;\n  descricao = \"À definir a rota\"\n}\n  \nreturn [{\n  rota,\n  descricao\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,624],"id":"a05a1f5b-36fe-4b03-8ef1-8b57e730e5c8","name":"Rota de validação"},{"parameters":{"mode":"expression","numberOutputs":3,"output":"={{ $json.rota }}"},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[864,608],"id":"5426cb2c-16f0-4e4a-81aa-ea0a5cbe964b","name":"Rota: Validações"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1968,-736],"id":"ebfaa79c-20ef-4b41-b4bc-d9d29baebce0","name":"Itera sem excluir do hall"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=- **HOST:** {{ $('Trata informações nível 1').item.json.evento.nome_host }}\n- **EVENTO:** {{ $('Trata informações nível 1').item.json.evento.nome_evento }}","author":"Fluxo de tratamento","color":"#009EDD","title":"=NOVA ROTA - evento no fluxo de tratamento com evento no BD, host ou evento diferente","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1328,112],"id":"54002ee0-0eb0-47e3-855c-cdeeadeb8802","name":"adm: fluxo de tratamento","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=- **HOST:** {{ $('Trata informações nível 1').item.json.evento.nome_host }}\n- **EVENTO:** {{ $('Trata informações nível 1').item.json.evento.nome_evento }}","author":"Fluxo de tratamento","color":"#009EDD","title":"=NOVA ROTA - Adicionar evento em eventos relacionados - evento não está em relacionados","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1072,528],"id":"1cd9f1ae-e176-4e2d-8864-4d9bff5c80a1","name":"adm: fluxo de tratamento2","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=- **HOST:** {{ $('Trata informações nível 1').item.json.evento.nome_host }}\n- **EVENTO:** {{ $('Trata informações nível 1').item.json.evento.nome_evento }}","author":"Fluxo de tratamento","color":"#009EDD","title":"=NOVA ROTA - \"À definir a rota\"","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1072,736],"id":"4dc9c3f3-6258-4418-877f-79db4a794cd1","name":"adm: fluxo de tratamento3","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}}},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"fLvwLyUneQF2tluE","mode":"list","cachedResultName":"fila de tratamento","cachedResultUrl":"/projects/UcF1WBdewsFeRVFr/datatables/fLvwLyUneQF2tluE"},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1808,560],"id":"3d8146ba-9ef0-4e1a-a2d2-40cef7c37932","name":"Table: Recupera eventos"},{"parameters":{"operation":"deleteRows","dataTableId":{"__rl":true,"value":"fLvwLyUneQF2tluE","mode":"list","cachedResultName":"fila de tratamento","cachedResultUrl":"/projects/UcF1WBdewsFeRVFr/datatables/fLvwLyUneQF2tluE"},"matchType":"allConditions","filters":{"conditions":[{"keyValue":"={{ $('Loop Over Items').first().json.id }}"}]},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1568,-320],"id":"6344af24-6319-473e-9e23-e87a6007d99a","name":"Table: Recupera eventos1"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"pnZpMYPDqXwjP4Yy","mode":"list","cachedResultName":"tipo de contrato","cachedResultUrl":"/projects/UcF1WBdewsFeRVFr/datatables/pnZpMYPDqXwjP4Yy"},"filters":{"conditions":[{"keyValue":"={{ $('Trata informações nível 1').item.json.tipoCliente }}"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[656,1248],"id":"3da2ac60-3f68-4612-a211-104a76f957ca","name":"Table: Valida tipo de contrato"},{"parameters":{"workflowId":{"__rl":true,"value":"4XCFFEiPZb2rJYt2RhTQ0","mode":"list","cachedResultUrl":"/workflow/4XCFFEiPZb2rJYt2RhTQ0","cachedResultName":"Restrições - rotas de atuação"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1088,1440],"id":"7daa4d63-0e5d-488f-b24c-8e578b9205ac","name":"Call 'Restrições - rotas de atuação'","alwaysOutputData":false,"retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"1248be73-688f-433e-a5df-2b71266af585","name":"Id do evento","value":"={{ $('Loop Over Items').item.json.id_evento }}","type":"number"},{"id":"5116aa63-edbb-4fae-b891-e26c6ce61e44","name":"Id do host","value":"={{ $('Loop Over Items').item.json.id_host }}","type":"number"},{"id":"5e0f5793-5ff0-45c7-898f-4f3b7e1d7ab1","name":"Id do grupo","value":"={{ $('Loop Over Items').item.json.id_grupo }}","type":"number"},{"id":"6e44a101-f9fd-4860-883d-a86bf94983a5","name":"Host","value":"={{ $('Loop Over Items').item.json.host }}","type":"string"},{"id":"dc9d7672-61cf-4cdb-bcca-db13a51ada35","name":"Raiz do host","value":"={{ $('Loop Over Items').item.json.raiz_host }}","type":"string"},{"id":"fc6f4a77-0078-4377-b857-af6ac76f3ab9","name":"Evento","value":"={{ $('Loop Over Items').item.json.evento }}","type":"string"},{"id":"57316ce8-b214-4713-8fa2-6ff0505ee87a","name":"Timestamp da queda","value":"={{ $('Loop Over Items').item.json.timestamp_queda }}","type":"number"},{"id":"414512a3-b151-4944-8ff4-1061815b1b5b","name":"Data e hora da queda","value":"={{ $('Loop Over Items').item.json.data_hora_queda }}","type":"string"},{"id":"bd79fa0c-7eb9-4f1f-802e-b6c41cdf7878","name":"Tipo de contrato","value":"={{ $('Loop Over Items').item.json.tipo_contrato }}","type":"number"},{"id":"3ba52c83-5f72-4a23-abb4-26fb936fe25e","name":"Eventos relacionados","value":"={{ $('Loop Over Items').item.json.eventos_relacionados }}","type":"string"},{"id":"816b3581-5b11-4511-beda-3d15620adf71","name":"Nome do grupo","value":"={{ $('Loop Over Items').item.json.nome_grupo }}","type":"string"},{"id":"2eac3701-b1c4-4ab0-9aca-98bcd71671b8","name":"ID abertura ticket Movidesk","value":"={{ $('Google: Select variáveis cliente').item.json.ID_MOVIDESK }}","type":"string"},{"id":"5e2cc231-213a-4312-a2f0-5c40fcb764e6","name":"Emails em cópia para Movidesk","value":"={{ $('Google: Select variáveis cliente').item.json.CC }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[864,1440],"id":"ad3d1b8a-4e35-4744-bf21-58d64cb7c8bc","name":"Prepara dados"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Table: Recupera eventos","type":"main","index":0}]]},"Zabbix: event.get":{"main":[[{"node":"Trata informações nível 1","type":"main","index":0}]]},"Trata informações nível 1":{"main":[[{"node":"Prepara rotas","type":"main","index":0}]]},"Prepara os dados":{"main":[[{"node":"Call 'Olfar matriz ruckus 730'","type":"main","index":0}]]},"Call 'Olfar matriz ruckus 730'":{"main":[[{"node":"Next iteration","type":"main","index":0}]]},"Exceção":{"main":[[{"node":"Exceção?","type":"main","index":0}]]},"Exceção?":{"main":[[{"node":"Prepara os dados","type":"main","index":0}],[{"node":"Zabbix: event.get","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Exceção","type":"main","index":0}]]},"Adiciona evento em eventos relacionados":{"main":[[{"node":"adm: fluxo de tratamento","type":"main","index":0}]]},"Mesmo eventid?":{"main":[[{"node":"Next iteration1","type":"main","index":0}],[{"node":"adm: fluxo de tratamento1","type":"main","index":0}]]},"Mesmo host e evento?":{"main":[[{"node":"Mesmo eventid?","type":"main","index":0}],[{"node":"Adiciona evento em eventos relacionados","type":"main","index":0}]]},"BD: Cria nova linha do evento":{"main":[[{"node":"Next iteration1","type":"main","index":0}]]},"Existe evento no BD?":{"main":[[{"node":"Mesmo host e evento?","type":"main","index":0}],[{"node":"BD: Cria nova linha do evento","type":"main","index":0}]]},"Execute Contratos 1":{"main":[[{"node":"Itera sem excluir do hall","type":"main","index":0}]]},"Execute Clientes gerais":{"main":[[{"node":"Next iteration2","type":"main","index":0}]]},"Prepara informações":{"main":[[{"node":"ROTA: tipos clientes","type":"main","index":0}]]},"Execute Contratos 2":{"main":[[{"node":"Itera sem excluir do hall","type":"main","index":0}]]},"ROTA: tipos clientes":{"main":[[{"node":"Execute Contratos 1","type":"main","index":0}],[{"node":"Execute Contratos 2","type":"main","index":0}],[{"node":"Execute Clientes gerais","type":"main","index":0}]]},"Valida restrições":{"main":[[{"node":"Prepara dados","type":"main","index":0}]]},"Existe registro?":{"main":[[{"node":"Table: Valida tipo de contrato","type":"main","index":0}],[{"node":"Valida restrições","type":"main","index":0}]]},"Google: Select variáveis cliente":{"main":[[{"node":"Existe registro?","type":"main","index":0}]]},"Prepara rotas":{"main":[[{"node":"Rota: Tipo de evento","type":"main","index":0}]]},"Next iteration":{"main":[[{"node":"Table: Recupera eventos1","type":"main","index":0}]]},"Rota: Tipo de evento":{"main":[[{"node":"Next iteration","type":"main","index":0}],[{"node":"Zabbix: event.get1","type":"main","index":0}],[{"node":"BD: Verifica ticket no BD1","type":"main","index":0}],[{"node":"Google: Select variáveis cliente","type":"main","index":0}]]},"BD: Verifica ticket no BD":{"main":[[{"node":"Existe evento no BD?","type":"main","index":0}]]},"Zabbix: event.get1":{"main":[[{"node":"BD: Verifica ticket no BD","type":"main","index":0}]]},"Next iteration1":{"main":[[{"node":"Table: Recupera eventos1","type":"main","index":0}]]},"BD: Verifica ticket no BD1":{"main":[[{"node":"Existe evento no BD?1","type":"main","index":0}]]},"Existe evento no BD?1":{"main":[[{"node":"Rota de validação","type":"main","index":0}],[{"node":"BD: Cria nova linha do evento1","type":"main","index":0}]]},"BD: Cria nova linha do evento1":{"main":[[{"node":"Next iteration1","type":"main","index":0}]]},"Next iteration2":{"main":[[{"node":"Table: Recupera eventos1","type":"main","index":0}]]},"Rota de validação":{"main":[[{"node":"Rota: Validações","type":"main","index":0}]]},"Rota: Validações":{"main":[[{"node":"Next iteration1","type":"main","index":0}],[{"node":"adm: fluxo de tratamento2","type":"main","index":0}],[{"node":"adm: fluxo de tratamento3","type":"main","index":0}]]},"adm: fluxo de tratamento1":{"main":[[{"node":"Itera sem excluir do hall","type":"main","index":0}]]},"Itera sem excluir do hall":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"adm: fluxo de tratamento":{"main":[[{"node":"Itera sem excluir do hall","type":"main","index":0}]]},"adm: fluxo de tratamento2":{"main":[[{"node":"Itera sem excluir do hall","type":"main","index":0}]]},"adm: fluxo de tratamento3":{"main":[[{"node":"Itera sem excluir do hall","type":"main","index":0}]]},"Table: Recupera eventos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Table: Recupera eventos1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Table: Valida tipo de contrato":{"main":[[{"node":"Prepara informações","type":"main","index":0}]]},"Call 'Restrições - rotas de atuação'":{"main":[[{"node":"Next iteration1","type":"main","index":0}]]},"Prepara dados":{"main":[[{"node":"Call 'Restrições - rotas de atuação'","type":"main","index":0}]]}},"authors":"William Semmler","name":"Version 52a70909","description":"","autosaved":true},"tags":[{"updatedAt":"2025-10-24T18:08:27.659Z","createdAt":"2025-10-24T18:08:27.659Z","id":"oUDNU2rUDi9xwp5Q","name":"FluxoNOC_principal"}]}