02.-fluxo-de-tratamento-7QS9e33EPpL889ws.json
{"updatedAt":"2026-01-29T14:11:57.277Z","createdAt":"2025-12-11T11:48:17.749Z","id":"7QS9e33EPpL889ws","name":"02. Fluxo de tratamento","active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs","mode":"list","cachedResultName":"Dados_automação ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":195655548,"mode":"list","cachedResultName":"Contatos_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs/edit#gid=195655548"},"filtersUI":{"values":[{"lookupColumn":"EMPRESA","lookupValue":"={{ $('Trata informações nível 1').item.json.evento.nomeCliente }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,1168],"id":"d7c78b45-99a6-47ce-8d99-cbbfb9058a46","name":"Google: Select variáveis cliente","alwaysOutputData":true,"credentials":{"googleApi":{"id":"G23Xn5Fl7KzKph4r","name":"Google Service Account account"}}},{"parameters":{"operation":"get","tableId":"variaveis_cliente","filters":{"conditions":[{"keyName":"nome_variavel","keyValue":"={{ $json['RELAÇÃO'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[448,992],"id":"073d43ac-7013-4086-adf8-c7ed7e21bfcd","name":"BD: Select variáveis tipoCliente","retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0fe6b60-1874-459c-8cc7-7be9cb64e8a8","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}},{"id":"11327ced-d9e2-4bc4-998b-8bc49a246889","leftValue":"={{ $json['RESTRIÇÕES'] }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,1168],"id":"46a10b21-bead-4950-b5a8-30b107f798c5","name":"Existe registro?"},{"parameters":{"jsCode":"const restricoes = $input.first().json['RESTRIÇÕES'];\nconst raiz_nome_host = $('Trata informações nível 1').first().json.evento.nome_raiz;\nconst nome_host_completo = $('Trata informações nível 1').first().json.evento.nome_host;\nconst evento_gerador = $('Trata informações nível 1').first().json.evento.nome_evento;\n\nif (restricoes === true) {\n  const textoAdministrativo = `\n  \n    Verificar o seguinte evento no Zabbix:\n      **Raiz do host:** ${raiz_nome_host}\n      **Host completo:** ${nome_host_completo}\n      **Evento:** ${evento_gerador} \n      \n      O cliente possui restrições para abertura de chamado, favor verificar e proceder com tratativa.\n  `;\n\n  const titulo_evento = \"Cliente com restrições\"\n\n  return [{\n    textoParaNotificacao: textoAdministrativo,\n    tituloEvento: titulo_evento\n  }]\n} else {\n  const textoAdministrativo = `\n  \n    Verificar o seguinte evento no Zabbix:\n      **Raiz do host:** ${raiz_nome_host}\n      **Host completo:** ${nome_host_completo}\n      **Evento:** ${evento_gerador}\n      \n      O cliente não possui registros para abertura de chamado, favor verificar, adicionar à planilha e proceder com abertura manual de chamado.\n  `;\n\n  const titulo_evento = \"Sem dados na planilha\"\n\n  return [{\n    textoParaNotificacao: textoAdministrativo,\n    tituloEvento: titulo_evento\n  }]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,1376],"id":"7aa4531d-2639-4fba-a047-83b42adfe068","name":"Valida restrições"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"={{ $json.textoParaNotificacao }}","color":"#009EDD","title":"={{ $json.tituloEvento }}","thumbnail":"https://cdn-icons-png.freepik.com/512/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[672,1376],"id":"b353b770-047e-4452-8435-5f2ee85e06fc","name":"Discord: Sem dados/Com restrição","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações gerais"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['Tipo de cliente'] }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"041ca200-6410-4931-a7bb-7df3a33b8fa2"}],"combinator":"and"},"renameOutput":true,"outputKey":"CONTRATO 1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8079af7-071a-437e-be28-554b07b51ecc","leftValue":"={{ $json['Tipo de cliente'] }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CONTRATO 2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ba69a0e4-fbf7-426e-b2d7-f173c7aa2aa4","leftValue":"={{ $json['Tipo de cliente'] }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GERAIS"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[896,976],"id":"c8546309-1889-46f2-9e5e-bc49f23855b1","name":"ROTA: tipos clientes"},{"parameters":{"workflowId":{"__rl":true,"value":"Kd9DFlZfIm0B3YAX","mode":"list","cachedResultUrl":"/workflow/Kd9DFlZfIm0B3YAX","cachedResultName":"Contratos 2"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1120,992],"id":"041b616b-9721-4914-a6c0-deac9ca31e7b","name":"Execute Contratos 2","retryOnFail":true,"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"19edf46d-78f4-440c-9eca-6e4ae04bf7d8","name":"ID do evento","value":"={{ $('Trata informações nível 1').first().json.evento.ID_evento }}","type":"number"},{"id":"31658810-2023-424e-9721-3f72f31c7442","name":"ID do grupo","value":"={{ $('Trata informações nível 1').first().json.evento.ID_grupo }}","type":"number"},{"id":"4b041452-aa75-481a-a99a-753f4247830c","name":"ID do host","value":"={{ $('Trata informações nível 1').item.json.evento.ID_host }}","type":"number"},{"id":"aa610d03-d8a0-4275-872e-52a82c36f517","name":"ID Movidesk para abertura de chamado","value":"={{ $('Google: Select variáveis cliente').first().json.ID_MOVIDESK }}","type":"string"},{"id":"379e8e7a-f1e2-46a4-8e6a-33aa694c5b3a","name":"Nome do evento","value":"={{ $('Trata informações nível 1').item.json.evento.nome_evento }}","type":"string"},{"id":"73966662-1bcb-42ac-a0ae-7f96cf4a61de","name":"Nome do host","value":"={{ $('Trata informações nível 1').item.json.evento.nome_host }}","type":"string"},{"id":"6ca86cd9-5eac-4bf0-a26a-17d3f00d9e9d","name":"Raiz do host","value":"={{ $('Trata informações nível 1').item.json.evento.nome_raiz }}","type":"string"},{"id":"257ec0c7-9b34-479d-a74f-c650af14f6e3","name":"Nome principal do cliente","value":"={{ $('Trata informações nível 1').item.json.evento.nomeCliente }}","type":"string"},{"id":"ab3af25e-3a58-43fe-8213-421e68bf767a","name":"Host sem o IP","value":"={{ $('Trata informações nível 1').item.json.evento.host_sem_ip }}","type":"string"},{"id":"1dc301e5-b74c-4f62-8304-76119c1c6eb4","name":"Timestamp da queda","value":"={{ $('Trata informações nível 1').item.json.evento.timestamp_evento }}","type":"number"},{"id":"6d94741e-fd4e-44f3-886b-0fa1836ae307","name":"Data e hora do evento","value":"={{ $('Trata informações nível 1').item.json.evento.data_hora_evento }}","type":"string"},{"id":"d72df2a3-bfb1-4ce0-a6cc-c1a9224f8677","name":"Tipo de cliente","value":"={{ $('Trata informações nível 1').item.json.tipoCliente }}","type":"number"},{"id":"12c22a0a-27fd-44a6-9c15-c45c68b62c45","name":"Tempo SLA","value":"={{ $('BD: Select variáveis tipoCliente').item.json.segundos_decrescimo_horas }}","type":"number"},{"id":"e3403631-d417-4955-a3c3-61fb42e26194","name":"Restrições","value":"={{ $('Google: Select variáveis cliente').item.json['RESTRIÇÕES'] }}","type":"boolean"},{"id":"ce385db7-e232-44d1-b204-d73d11718eb8","name":"Emails em cópia para chamado Movidesk","value":"={{ $('Google: Select variáveis cliente').item.json.CC }}","type":"string"},{"id":"32a8bac1-9582-4a2b-99ff-35eaf999d5aa","name":"Nome do grupo","value":"={{ $('Trata informações nível 1').item.json.evento.nome_grupo }}","type":"string"},{"id":"1230071f-51f6-4da9-90a8-10211ffa0a83","name":"Eventos relacionados","value":"={{ $('Trata informações nível 1').item.json.evento.eventos_relacionados }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,992],"id":"99b176b8-87a1-4aae-977c-9e345cf77b01","name":"Prepara informações"},{"parameters":{"workflowId":{"__rl":true,"value":"tLCtsxkiCqMImZVD","mode":"list","cachedResultUrl":"/workflow/tLCtsxkiCqMImZVD","cachedResultName":"Clientes gerais"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1120,1184],"id":"574ebeb0-df0f-4061-bcef-20ef026f6403","name":"Execute Clientes gerais","retryOnFail":true,"alwaysOutputData":true},{"parameters":{"workflowId":{"__rl":true,"value":"L3evoVMYk4i7qqQ6","mode":"list","cachedResultUrl":"/workflow/L3evoVMYk4i7qqQ6","cachedResultName":"Contrato 1"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1120,800],"id":"9d562b2f-cb36-4f24-9084-3e311a95e9b8","name":"Execute Contratos 1","alwaysOutputData":true},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2016,448],"id":"55c16c34-24cb-4b1c-aa78-fb5be18af0e9","name":"Schedule Trigger"},{"parameters":{"operation":"getAll","tableId":"chamados abertos","limit":2},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1792,448],"id":"e4754db5-f82f-4c45-ac9a-ea32952fcd1e","name":"BD: Recupera eventos do hall","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1395ec42-8383-4079-9e57-d08da0e72217","leftValue":"={{ $json.recuperacao }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"72cae8c4-3a47-4f84-85ce-6087c2c9dcdf","leftValue":"={{ $json.reconhecimento }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-448,544],"id":"5659a9c5-138e-4f03-a61b-40f032fc6dff","name":"Tem evento de recuperação?"},{"parameters":{"operation":"delete","tableId":"Fila de entrada","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Recupera eventos do hall').first().json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-224,224],"id":"d803bad0-3c84-4f53-a51c-8dddf58b095c","name":"BD: Deleta a linha","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,224],"id":"68500b2d-f8ca-405f-acfa-c3e4276079f9","name":"RECOMEÇAR LOOP"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b1f25db-ab9e-4c3f-ab1d-fd9348f9092a","leftValue":"={{ $json.reconhecimento }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,848],"id":"a0ca2c00-b417-4a23-81b8-991fa631f2ca","name":"Tem reconhecimento?"},{"parameters":{"operation":"delete","tableId":"Fila de entrada","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Recupera eventos do hall').first().json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1344,992],"id":"16a65476-8bac-4b4f-ac82-21478ae8cca4","name":"BD: Deleta a linha1","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1568,992],"id":"eedb3add-7fa2-477c-b3e4-c04f800eb8a3","name":"RECOMEÇAR LOOP1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1120,1376],"id":"31637075-c1af-44f2-8156-62edd8b1d7d1","name":"RECOMEÇAR LOOP2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"83ac0f4b-8e04-4ffe-b30c-b7dc04005bd2","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,480],"id":"e93a0adf-28ef-4986-b207-f58eaedbb02a","name":"Existe evento no BD?"},{"parameters":{"tableId":"eventosZabbix","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.ID_evento }}"},{"fieldId":"idHost","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.ID_host }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $('Trata informações nível 1').item.json.tipoCliente }}"},{"fieldId":"idGroup","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.ID_grupo }}"},{"fieldId":"nomeHost","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.nome_host }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.nome_raiz }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.nome_evento }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.timestamp_evento }}"},{"fieldId":"statusChamado","fieldValue":"2"},{"fieldId":"ticketMovidesk","fieldValue":"={{ parseInt($('Zabbix: event.get').item.json.result[0].acknowledges[0].message) }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ $('Trata informações nível 1').item.json.evento.eventos_relacionados }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[448,656],"id":"cbf98510-8923-4086-9f5b-ffe003f1f6ac","name":"BD: Cria nova linha do evento","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[896,656],"id":"82d63551-8406-48c0-bff7-affbf7f586ad","name":"RECOMEÇAR LOOP3"},{"parameters":{"operation":"delete","tableId":"Fila de entrada","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Recupera eventos do hall').first().json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[672,656],"id":"18edfd66-ca21-4ed2-95c5-93e6dbfe1a47","name":"BD: Delete linha na sala de espera","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const ID_evento = $(\"BD: Recupera eventos do hall\").first().json[\"ID do evento\"];\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.get\",\n  params: {\n    output: [\"eventid\", \"clock\", \"r_eventid\", \"acknowledged\"],\n    eventids: `${ID_evento}`,\n\n    selectHosts: [\"hostid\", \"host\", \"description\"],\n\n    selectRelatedObject: [\"description\", \"value\"],\n\n    selectAcknowledges: [\"clock\", \"message\", \"action\"]\n    \n  },\n  \"id\": 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,544],"id":"91f06f0d-4756-4b33-b07d-97006142c8fc","name":"json event.get"},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-896,544],"id":"b8114a48-50de-433a-9472-d67dbb2f64fd","name":"Zabbix: event.get","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"// ===== VARIAVEIS BASE ====\nconst ID_evento = parseInt($input.first().json.result[0].eventid);\nconst timestamp_evento = parseInt($input.first().json.result[0].clock);\nconst ID_host = parseInt($input.first().json.result[0].hosts[0].hostid);\nconst nome_host = $input.first().json.result[0].hosts[0].host;\nconst description_evento = $input.first().json.result[0].hosts[0].description;\nconst nome_evento = $input.first().json.result[0].relatedObject.description.toUpperCase()\nconst reconhecido = parseInt($input.first().json.result[0].acknowledged);\nconst ID_recuperacao = parseInt( $input.first().json.result[0].r_eventid);\nconst ID_grupo = $('BD: Recupera eventos do hall').first().json['ID do grupo'];\nconst nome_grupo = $('BD: Recupera eventos do hall').first().json['Nome do grupo']\nconst eventos_relacionados = $('BD: Recupera eventos do hall').first().json['Eventos relacionados'];\n\n// ==== TRATAMENTO DE DADOS ====\nconst data_hora_evento = DateTime.fromSeconds(timestamp_evento, {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).toFormat(\"cccc dd/MM/yyyy HH:mm:ss\").toUpperCase();\nlet flagReconhecido;\nif (reconhecido == 0) {\n  flagReconhecido = false\n} else {\n  const reconhecidos = $input.first().json.result[0].acknowledges\n  const flag_reconhecido_seis = reconhecidos.map(ev => ev.action)\n  if (flag_reconhecido_seis == \"6\") {\n    flagReconhecido = true\n  } else {\n    flagReconhecido = false\n  }\n}\nlet flagRecuperacao;\nif (ID_recuperacao == 0) {\n  flagRecuperacao = false\n} else {\n  flagRecuperacao = true\n}\nconst nome_raiz = nome_host.split(\"-\")[0].trim()\nconst host_sem_ip = nome_host.substring(0, nome_host.lastIndexOf(\" - \")).trim();\nconst mapa_clientes_contrato1 = [\n  \"INDIGO\",\n  \"ALL4LABELS\",\n  \"DYNAMIS\"\n]\nconst mapa_clientes_contrato2 = [\n  \"AMAFIL\",\n  \"UNIARP\"\n]\n\nlet flagTipoCliente = 3;\nlet nomePrincipalContrato = nome_raiz;\nfunction verificarTipoCliente () {\n  const nomeRaiz = nome_raiz\n  for (const cliente of mapa_clientes_contrato1) {\n    const nomeMatch = nomeRaiz.includes(cliente)\n    if (nomeMatch == true) {\n      flagTipoCliente = 1\n      nomePrincipalContrato = cliente\n    }\n  }\n\n  for (const cliente of mapa_clientes_contrato2) {\n    const nomeMatch = nomeRaiz.includes(cliente)\n    if (nomeMatch == true) {\n      flagTipoCliente = 2\n      nomePrincipalContrato = cliente\n    }\n  }\n  \n  return {flagTipoCliente, nomePrincipalContrato};\n}\n\n\n// ==== PREPARA INFORMAÇÕES ====\nconst itens_retorno = {\n  evento: {\n    ID_evento,\n    ID_host,\n    ID_recuperacao,\n    ID_grupo,\n    nome_evento,\n    nome_host,\n    nome_raiz,\n    host_sem_ip,\n    nomeCliente: verificarTipoCliente().nomePrincipalContrato,\n    description_evento,\n    timestamp_evento,\n    data_hora_evento,\n    nome_grupo,\n    eventos_relacionados\n  },\n  reconhecimento: flagReconhecido,\n  recuperacao: flagRecuperacao,\n  tipoCliente: verificarTipoCliente().flagTipoCliente\n}\n\nreturn [itens_retorno]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,544],"id":"838f2361-ee27-40d2-a26b-99e1d19beb2c","name":"Trata informações nível 1"},{"parameters":{"operation":"getAll","tableId":"eventosZabbix","filters":{"conditions":[{"keyName":"ticketMovidesk","condition":"eq","keyValue":"={{ parseInt($('Zabbix: event.get').item.json.result[0].acknowledges[0].message) }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[0,480],"id":"eeb32431-5617-4134-b54a-47104ce38d74","name":"BD: Verifica ticketMovidesk na tabela principal","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d05a6401-959a-49ee-adce-126fb99a1733","leftValue":"={{ $json.nomeHost }}","rightValue":"={{ $('BD: Recupera eventos do hall').first().json['Nome do host'] }}","operator":{"type":"string","operation":"equals"}},{"id":"0a3aeac3-1233-4396-ae38-48a0e0a5141a","leftValue":"={{ $json.nomeEvento }}","rightValue":"={{ $('BD: Recupera eventos do hall').first().json['Nome do evento'] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,368],"id":"66cd44b5-4f7e-4619-afeb-8516eb6b495d","name":"Mesmo host e evento?"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=- **HOST:** {{ $('Trata informações nível 1').item.json.evento.nome_host }}\n- **EVENTO:** {{ $('Trata informações nível 1').item.json.evento.nome_evento }}","author":"Fluxo de tratamento","color":"#009EDD","title":"=NOVA ROTA - evento no fluxo de tratamento com evento no BD, mesmo host e evento, mas eventids diferentes","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[896,288],"id":"a1947821-46c3-4da6-9e02-8f78b34a0c5b","name":"adm: fluxo de tratamento1","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações gerais"}}},{"parameters":{"operation":"delete","tableId":"Fila de entrada","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Recupera eventos do hall').first().json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[896,96],"id":"528e4f64-db8c-467d-8c1a-ed5eccaffaab","name":"BD: Delete evento no hall","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5ee22f97-76af-42c7-ae80-7dcf1e23f085","leftValue":"={{ $('BD: Verifica ticketMovidesk na tabela principal').item.json.idEvento }}","rightValue":"={{ $('BD: Recupera eventos do hall').first().json['ID do evento'] }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,192],"id":"7ba037c4-94f4-42fd-93fd-b167be8de273","name":"Mesmo eventid?"},{"parameters":{"assignments":{"assignments":[{"id":"c804d43e-2a0c-458b-ad8b-4a5759af4f61","name":"id","value":"={{ $('BD: Recupera eventos do hall').first().json.id }}","type":"string"},{"id":"127541c4-1e85-4ea4-aae0-8d011cff1634","name":"ID do evento","value":"={{ $('BD: Recupera eventos do hall').first().json['ID do evento'] }}","type":"string"},{"id":"9b546302-140e-43b0-94f4-da202e50dbb0","name":"ID do host","value":"={{ $('BD: Recupera eventos do hall').first().json['ID do host'] }}","type":"string"},{"id":"1b9f874f-2b33-4c63-96aa-cc540e94172b","name":"ID do grupo","value":"={{ $('BD: Recupera eventos do hall').first().json['ID do grupo'] }}","type":"string"},{"id":"49971619-0a90-4b45-b3be-717bf26ceca5","name":"status_evento","value":"={{ $('BD: Recupera eventos do hall').first().json.status_evento }}","type":"string"},{"id":"9d10f1eb-d102-4fff-b6c8-ca203933dd43","name":"reconhecimento","value":"={{ $('BD: Recupera eventos do hall').first().json.reconhecimento }}","type":"string"},{"id":"83a08312-6fb4-4e2c-984a-1ccc46d06671","name":"Timestamp da queda","value":"={{ $('BD: Recupera eventos do hall').first().json['Timestamp da queda'] }}","type":"string"},{"id":"636982ed-5ea2-4fb2-a954-2203ab4a4674","name":"Data e hora do evento","value":"={{ $('BD: Recupera eventos do hall').first().json['Data e hora do evento'] }}","type":"string"},{"id":"9bda6a9e-c21f-40de-a5d5-9e525b750a6b","name":"Nome do host","value":"={{ $('BD: Recupera eventos do hall').first().json['Nome do host'] }}","type":"string"},{"id":"e6f21d77-a36c-4444-a8c5-766725fa5801","name":"Raiz host","value":"={{ $('BD: Recupera eventos do hall').first().json['Raiz host'] }}","type":"string"},{"id":"b4215693-83f2-465a-af21-9ea37992a43a","name":"Nome do evento","value":"={{ $('BD: Recupera eventos do hall').first().json['Nome do evento'] }}","type":"string"},{"id":"4bfe060c-0084-4c38-9ebf-1ae354ed938e","name":"Nome do grupo","value":"={{ $('BD: Recupera eventos do hall').first().json['Nome do grupo'] }}","type":"string"},{"id":"3ff04cdd-f684-4f68-82fd-eee4ec903f9b","name":"Eventos relacionados","value":"={{ $('BD: Recupera eventos do hall').first().json['Eventos relacionados'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1120,352],"id":"f8aecadb-0cc6-4fe0-b63c-ca26f9727404","name":"Prepara os dados"},{"parameters":{"workflowId":{"__rl":true,"value":"7HKCikxUfMc8vchY","mode":"list","cachedResultUrl":"/workflow/7HKCikxUfMc8vchY","cachedResultName":"Olfar matriz ruckus 730"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-896,352],"id":"0705eb1e-76c4-4c05-86c4-aae73618a86c","name":"Call 'Olfar matriz ruckus 730'"},{"parameters":{"jsCode":"const mapaHostExcecoes = [\"OLFAR MATRIZ - RUCKUS R730\"];\n\nconst nomeHost = ;\n\nlet flagExcecao;\nfor (const excecao of mapaHostExcecoes) {\n  flagExcecao = nomeHost.includes(excecao);\n}\n\nreturn [{\n  flagExcecao\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1568,448],"id":"4c265256-3364-4445-b4ae-cc0fb8bab352","name":"Exceção"},{"parameters":{"operation":"delete","tableId":"Fila de entrada","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Recupera eventos do hall').first().json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-672,352],"id":"cdc07174-0a95-4cc2-95bf-c03388bccf87","name":"BD: Delete evento do hall","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d1e35327-76bd-4226-9e7d-f3c3b42667b4","leftValue":"={{ $json.flagExcecao }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1344,448],"id":"fb0a58c0-a58c-4f52-ac25-c7b93e04309a","name":"Exceção?"},{"parameters":{"operation":"delete","tableId":"Fila de entrada","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Recupera eventos do hall').first().json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[896,1376],"id":"3502e86b-fba4-49b5-af12-0ad96dfa716f","name":"BD: Delete linha com restrição","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const eventos_relacionados = $input.first().json.eventosRelacionados;\n\nconst ID_evento_atual = $('BD: Recupera eventos do hall').first().json['ID do evento'];\n\nconst flagEventoInserido = eventos_relacionados.includes(ID_evento_atual);\n\nif (flagEventoInserido != true) {\n  eventos_relacionados.push(ID_evento_atual)\n}\n\nreturn [{eventos_relacionados}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,464],"id":"c5699029-05b9-4d71-a29d-086f8c503ba0","name":"Adiciona evento em eventos relacionados"},{"parameters":{"operation":"update","tableId":"eventosZabbix","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Verifica ticketMovidesk na tabela principal').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"eventosRelacionados","fieldValue":"={{ $json.eventos_relacionados }}"},{"fieldId":"statusChamado","fieldValue":"2"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[896,464],"id":"2b2da493-d4bb-4e5f-bdd5-5d4cb6b068a1","name":"BD: Atualiza eventos relacionados","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"operation":"delete","tableId":"Fila de entrada","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Recupera eventos do hall').first().json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1104,464],"id":"76dcc40f-670b-45ee-bab0-48a4a01db7cb","name":"BD: Delete na fila de entrada","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}}],"connections":{"Google: Select variáveis cliente":{"main":[[{"node":"Existe registro?","type":"main","index":0}]]},"BD: Select variáveis tipoCliente":{"main":[[{"node":"Prepara informações","type":"main","index":0}]]},"Existe registro?":{"main":[[{"node":"BD: Select variáveis tipoCliente","type":"main","index":0}],[{"node":"Valida restrições","type":"main","index":0}]]},"Valida restrições":{"main":[[{"node":"Discord: Sem dados/Com restrição","type":"main","index":0}]]},"ROTA: tipos clientes":{"main":[[{"node":"Execute Contratos 1","type":"main","index":0}],[{"node":"Execute Contratos 2","type":"main","index":0}],[{"node":"Execute Clientes gerais","type":"main","index":0}]]},"Prepara informações":{"main":[[{"node":"ROTA: tipos clientes","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"BD: Recupera eventos do hall","type":"main","index":0}]]},"Execute Clientes gerais":{"main":[[{"node":"BD: Deleta a linha1","type":"main","index":0}]]},"Execute Contratos 1":{"main":[[{"node":"BD: Deleta a linha1","type":"main","index":0}]]},"Execute Contratos 2":{"main":[[{"node":"BD: Deleta a linha1","type":"main","index":0}]]},"Discord: Sem dados/Com restrição":{"main":[[{"node":"BD: Delete linha com restrição","type":"main","index":0}]]},"BD: Recupera eventos do hall":{"main":[[{"node":"Exceção","type":"main","index":0}]]},"Tem evento de recuperação?":{"main":[[{"node":"BD: Deleta a linha","type":"main","index":0}],[{"node":"Tem reconhecimento?","type":"main","index":0}]]},"BD: Deleta a linha":{"main":[[{"node":"RECOMEÇAR LOOP","type":"main","index":0}]]},"Tem reconhecimento?":{"main":[[{"node":"BD: Verifica ticketMovidesk na tabela principal","type":"main","index":0}],[{"node":"Google: Select variáveis cliente","type":"main","index":0}]]},"BD: Deleta a linha1":{"main":[[{"node":"RECOMEÇAR LOOP1","type":"main","index":0}]]},"Existe evento no BD?":{"main":[[{"node":"Mesmo host e evento?","type":"main","index":0}],[{"node":"BD: Cria nova linha do evento","type":"main","index":0}]]},"BD: Cria nova linha do evento":{"main":[[{"node":"BD: Delete linha na sala de espera","type":"main","index":0}]]},"BD: Delete linha na sala de espera":{"main":[[{"node":"RECOMEÇAR LOOP3","type":"main","index":0}]]},"json event.get":{"main":[[{"node":"Zabbix: event.get","type":"main","index":0}]]},"Zabbix: event.get":{"main":[[{"node":"Trata informações nível 1","type":"main","index":0}]]},"Trata informações nível 1":{"main":[[{"node":"Tem evento de recuperação?","type":"main","index":0}]]},"BD: Verifica ticketMovidesk na tabela principal":{"main":[[{"node":"Existe evento no BD?","type":"main","index":0}]]},"Mesmo host e evento?":{"main":[[{"node":"Mesmo eventid?","type":"main","index":0}],[{"node":"Adiciona evento em eventos relacionados","type":"main","index":0}]]},"Mesmo eventid?":{"main":[[{"node":"BD: Delete evento no hall","type":"main","index":0}],[{"node":"adm: fluxo de tratamento1","type":"main","index":0}]]},"Prepara os dados":{"main":[[{"node":"Call 'Olfar matriz ruckus 730'","type":"main","index":0}]]},"Call 'Olfar matriz ruckus 730'":{"main":[[{"node":"BD: Delete evento do hall","type":"main","index":0}]]},"Exceção":{"main":[[{"node":"Exceção?","type":"main","index":0}]]},"Exceção?":{"main":[[{"node":"Prepara os dados","type":"main","index":0}],[{"node":"json event.get","type":"main","index":0}]]},"BD: Delete linha com restrição":{"main":[[{"node":"RECOMEÇAR LOOP2","type":"main","index":0}]]},"BD: Delete evento no hall":{"main":[[]]},"adm: fluxo de tratamento1":{"main":[[]]},"RECOMEÇAR LOOP1":{"main":[[]]},"RECOMEÇAR LOOP2":{"main":[[]]},"RECOMEÇAR LOOP":{"main":[[]]},"Adiciona evento em eventos relacionados":{"main":[[{"node":"BD: Atualiza eventos relacionados","type":"main","index":0}]]},"BD: Atualiza eventos relacionados":{"main":[[{"node":"BD: Delete na fila de entrada","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2026-01-29T11:10:30.013-03:00","Readable date":"January 29th 2026, 11:10:30 am","Readable time":"11:10:30 am","Day of week":"Thursday","Year":"2026","Month":"January","Day of month":"29","Hour":"11","Minute":"10","Second":"30","Timezone":"America/Sao_Paulo (UTC-03:00)"},"pairedItem":{"item":0}}]},"versionId":"99f730c9-5c28-4895-95ec-52fd09bdf082","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-12-11T11:48:17.761Z","createdAt":"2025-12-11T11:48:17.761Z","role":"workflow:owner","workflowId":"7QS9e33EPpL889ws","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":null,"tags":[{"updatedAt":"2025-10-24T18:08:27.659Z","createdAt":"2025-10-24T18:08:27.659Z","id":"oUDNU2rUDi9xwp5Q","name":"FluxoNOC_principal"}]}