03.-sala-de-espera-D7TCQ9VOFcUzIgfs.json
{"updatedAt":"2026-01-30T19:59:43.634Z","createdAt":"2025-11-27T12:24:43.555Z","id":"D7TCQ9VOFcUzIgfs","name":"03. Sala de espera","active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Loop externo').item.json.id_tipoCliente }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"78f8af49-1503-4a3a-b60b-07f667385bd3"}],"combinator":"and"},"renameOutput":true,"outputKey":"CONTRATO 1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d84741e4-1468-4661-ab9b-db51ebea1b87","leftValue":"={{ $('Loop externo').item.json.id_tipoCliente }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CONTRATO 2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8e854404-cc53-473f-82c3-24c6a5beba82","leftValue":"={{ $('Loop externo').item.json.id_tipoCliente }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"OUTROS"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[3040,880],"id":"7369b0e1-a14f-4f6c-8753-9bb648130085","name":"Rota: Tipo cliente"},{"parameters":{"jsCode":"// ==== VARIÁVEIS INICIAIS ====\nconst eventos_grupo = $('Filtra eventos ativos').first().json.eventosAtivos;\nconst nome_grupo = $('Loop externo').first().json.nome_grupo;\nlet multiplos_eventos = false;\nlet objEventos = {};\n\n// ==== LISTAS DE ITENS ====\nlet lista_eventid = [];\nlet lista_hostName = [];\nlet lista_eventos = [];\nlet lista_data_hora_evento = [];\n\n// ==== FORMATAÇÃO DA DATA E HORA DO EVENTO ====\nfunction formataTimestamp(timestamp){\n  return DateTime.fromSeconds(Number(timestamp), {zone: \"America/Sao_Paulo\"})\n    .toFormat(\"dd/MM/yyyy HH:mm:ss\");\n}\n\n\nif (eventos_grupo.length >= 2) {\n  // Valida que há mais do que um evento para ser notificado\n  multiplos_eventos = true;\n\n  // Distribui as informações de cada evento dentro da lista específica\n  for (const ev of eventos_grupo) {\n    lista_eventid.push(ev.eventid);\n    lista_hostName.push(ev.hosts[0].name);    lista_eventos.push(ev.relatedObject.description.toUpperCase());\nlista_data_hora_evento.push(formataTimestamp(ev.clock));\n  }\n\n  objEventos = {\n    lista_eventid,\n    lista_hostName,\n    lista_eventos,\n    lista_data_hora_evento\n  };\n\n  return [{ multiplos_eventos, objEventos }];\n\n} else {\n  const hostAtivo = $('Filtra eventos ativos').first().json.eventosAtivos[0].hosts[0].name;\n  const eventoAtivo = $('Filtra eventos ativos').first().json.eventosAtivos[0].relatedObject.description.toUpperCase();\n  const dataHoraAtiva = DateTime.fromSeconds(Number($('Filtra eventos ativos').first().json.eventosAtivos[0].clock), {zone: \"America/Sao_Paulo\"}).toFormat(\"dd/MM/yyyy HH:mm:ss\")\n  const idEvento = Number($('Filtra eventos ativos').first().json.eventosAtivos[0].eventid)\n\n  objEventos = {\n    hostAtivo,\n    eventoAtivo,\n    dataHoraAtiva,\n    idEvento\n  }\n  \n  return [{ multiplos_eventos, objEventos }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3680,2016],"id":"3e9d66ad-91b6-4756-b7d3-209f8b515c88","name":"Valida quantidade de eventos"},{"parameters":{"jsCode":"const htmlCliente = $input.first().json.htmlCliente;\nconst subject = $input.first().json.subject;\nconst idClienteMovidesk = $input.first().json.idCliente;\nconst emailCopiaPara = $input.first().json.copiaPara;\n\n//id_movideks_para_testes = 1836303904\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nreturn {\n  json: {\n    type: 2,\n    subject: `${subject}`,\n    category: \"01 - Atendimento Helpdesk\",\n    serviceFirstLevelId: 325878,\n    urgency: \"Média\",\n    ownerTeam: \"NOC\",\n    status: \"Aguardando\",\n    justification: \"Validação\",\n    createdBy: { id: \"1458772347\" },\n    Clients: [{ id: idClienteMovidesk }],\n    cc: emailCopiaPara,\n    actions: [\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" } }\n    ]\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4128,2016],"id":"56964c50-1894-411a-a7c8-61e4bc3d5219","name":"json para abertura ticket Movidesk"},{"parameters":{"method":"POST","url":"https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4352,2016],"id":"c0e5a0e2-24d0-4a72-a586-639fcbd46f62","name":"Movidesk: Cria ticket","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const validacaoEventos = $input.first().json.multiplos_eventos;\nconst idCliente = $('Google: Select variáveis cliente').first().json.ID_MOVIDESK;\nconst copiaPara = $('Google: Select variáveis cliente').first().json.CC;\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\nif (validacaoEventos === false) {\n  // Monta as linhas do tbody\n  const hostName = $input.first().json.objEventos.hostAtivo;\n  const raizNomeHost = hostName.split(\"-\")[0].trim();\n  const evento = $input.first().json.objEventos.eventoAtivo\n  const dataHoraFormatada = $input.first().json.objEventos.dataHoraAtiva;\n\n  // ==== CLIAR HTML DO CLIENTE ====\n  function htmlCliente(nomeHost, eventoGerador, dataHoraEvento, raizNome){\n    const htmlCliente = `\n      <p>${getGreeting()}</p>\n      <br>\n      <p>Identificamos um evento de indisponibilidade em nosso sistema de monitoramento, conforme detalhes abaixo:</p>\n      <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n        <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n          <thead>\n              <tr>\n                <th>Host</th>\n                <th>Evento</th>\n                <th>Horário da ocorrência</th>\n              </tr>\n          </thead>\n          <tbody>\n              <tr>\n                <td>${nomeHost}</td>\n                <td>${eventoGerador}</td>\n                <td>${dataHoraEvento}</td>\n              </tr>\n          </tbody>\n        </table>\n      </div>\n      \n      <p>Gostaríamos de confirmar se a ocorrência já é de conhecimento da equipe ${raizNome} ou se se trata de uma falha eventual. </p>\n      <p>Recomendamos a verificação do evento acima para validação e tratativa da indisponibilidade.</br>Permaneceremos em monitoramento e informaremos assim que o evento for identificado como <strong>resolvido</strong> em nosso ambiente.</p>\n      <br>\n      <br>\n      <p>Atenciosamente,</p>\n      <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n    `;\n    return htmlCliente;\n  }\n\n  const subject = `REPARO - ${hostName}`\n\n  return [{\n    htmlCliente: htmlCliente(hostName, evento, dataHoraFormatada, raizNomeHost),\n    subject,\n    idCliente,\n    copiaPara\n  }];\n} \nelse {\n  // Monta as linhas do tbody\n  const hostName = $input.first().json.objEventos.lista_hostName[0];\n  const raizNomeHost = hostName.split(\"-\")[0].trim();\n  const objetosIndisponiveis = $input.first().json.objEventos;\n\n  // ==== CLIAR HTML DO CLIENTE ====\n  function htmlCliente(objEventos, raizNome){\n    const objeto_com_eventos = objEventos\n    let linhasTabela = \"\";\n    for (let index = 0; index < objeto_com_eventos.lista_eventid.length; index++) {\n      linhasTabela += `\n        <tr>\n          <td>${objeto_com_eventos[\"lista_hostName\"][index]}</td>\n          <td>${objeto_com_eventos[\"lista_eventos\"][index]}</td>\n          <td>${objeto_com_eventos[\"lista_data_hora_evento\"][index]}</td>\n        </tr>\n      `;\n    }\n    \n    const htmlCliente = `\n      <p>${getGreeting()}</p>\n      <br>\n      <p>Identificamos os seguintes eventos de <strong>indisponibilidade</strong> em nosso sistema de monitoramento:</p>\n      <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n        <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n          <thead>\n              <tr>\n                <th>Host</th>\n                <th>Evento</th>\n                <th>Horário da ocorrência</th>\n              </tr>\n          </thead>\n          <tbody>\n              ${linhasTabela}\n          </tbody>\n        </table>\n      </div>\n      \n      <p>Gostaríamos de confirmar se as ocorrências já são de conhecimento da equipe ${raizNome} ou se tratam de falhas eventuais.</p>\n      <p>Recomendamos a verificação dos eventos listados para validação e tratativa. Permaneceremos em monitoramento contínuo e informaremos quando os eventos forem identificados como <strong>resolvidos</strong> em nosso monitoramento.</p>\n      <br>\n      <br>\n      <p>Atenciosamente,</p>\n      <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n    `;\n    return htmlCliente;\n  }\n\n  const subject = `REPARO - ${raizNomeHost} - EVENTOS INDISPONÍVEIS`;\n\n  return [{\n    htmlCliente: htmlCliente(objetosIndisponiveis, raizNomeHost),\n    subject,\n    idCliente,\n    copiaPara\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3904,2016],"id":"e1531c99-9b01-4407-8153-6909836e9540","name":"Prepara html do cliente"},{"parameters":{"jsCode":"const nome_host_completo = $('Loop externo').first().json.nome_host;\nconst raiz_nome = nome_host_completo.split(\"-\")[0].trim();\n\n// Lista de clientes especiais\nconst clientes_especiais = [\"INDIGO\", \"ALL4LABELS\"];\n\n// Pegar a primeira palavra\nconst primeira_palavra = raiz_nome.split(\" \")[0].trim();\n\n// Se a primeira palavra estiver na lista, retornar só ela\nif (clientes_especiais.includes(primeira_palavra.toUpperCase())) {\n  return [{ raiz_nome_completo: raiz_nome, \n           raiz_nome: primeira_palavra }];\n}\n\n// Caso contrário, retornar o texto inteiro como já vem\nreturn [{ raiz_nome_completo: raiz_nome,\n         raiz_nome }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2592,896],"id":"098dbceb-ba3d-4017-b59b-b2d3ebc424de","name":"Ajusta a raizNomeHost"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs","mode":"list","cachedResultName":"Dados_automação ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":195655548,"mode":"list","cachedResultName":"Contatos_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs/edit#gid=195655548"},"filtersUI":{"values":[{"lookupColumn":"EMPRESA","lookupValue":"={{ $json.raiz_nome }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2816,896],"id":"e1cfc22c-ade0-4acd-9600-ddb61be306b2","name":"Google: Select variáveis cliente","alwaysOutputData":true,"credentials":{"googleApi":{"id":"G23Xn5Fl7KzKph4r","name":"Google Service Account account"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Verificar ocorrência no fluxo **sala de espera**. Um problema ocorreu ao abrir o chamado no Movidesk** para clientes gerais.\n\n**HOST:** {{ $('Loop externo').item.json.nome_host }}\n**EVENTO:** {{ $('Loop externo').item.json.evento }}\n**MOMENTO DO EVENTO:** {{ DateTime.fromSeconds($('Loop externo').item.json.timestamp_queda, {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).toFormat(\"dd/MM/yyyy HH:mm:ss\") }}","color":"#FD2A2A","title":"=Falha na abertura na sala de espera","thumbnail":"https://cdn-icons-png.freepik.com/512/1331/1331377.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[4800,2112],"id":"746945a5-e90d-4bfc-9cd2-ee276ebc3e05","name":"Discord: Problema na abertura do ticket","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"my4AzbUc1zKeXAum","name":"Admin: Error"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Cliente {{ $('Ajusta a raizNomeHost').item.json.raiz_nome }} foi notificado de um alerta e um ticket foi criado para ele.\n\n**HOST MATRIZ:** {{ $('Loop externo').item.json.nome_host }}\n**EVENTO:** {{ $('Loop externo').item.json.evento }}\n**DATA E HORA DO EVENTO:** {{ DateTime.fromSeconds($('Loop externo').item.json.timestamp_queda, {zone: \"America/Sao_Paulo\"}).format(\"cccc dd/MM/yyyy HH:mm:ss\") }}\n**TICKET MOVIDESK:** {{ $json.id }}","color":"#FF7518","title":"=Ticket aberto para {{ $('Loop externo').item.json.raizNomeHost }}","thumbnail":"https://cdn-icons-png.freepik.com/512/4034/4034629.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[4800,1904],"id":"22fb2e59-0e9d-4d22-b0cd-742a3803fb25","name":"Discord: Ticket aberto no Movidesk","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"3b4X5RigC7ztK6Hr","name":"Clientes gerais: Abertura de chamado"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"25314615-dcfb-4c89-9d53-a2e7e49293c3","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4576,1952],"id":"778876a6-6797-4517-8ddc-62612ea7d53c","name":"Ticket criado?"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5248,1904],"id":"50417c09-7cda-4625-966d-f623b50e6b96","name":"Zabbix: Reconhece evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false},{"parameters":{"jsCode":"const mensagem_reconhecimento = $('Movidesk: Cria ticket').first().json.id;\nconst multiplos_eventos = $('Valida quantidade de eventos').first().json.multiplos_eventos;\n\nif (multiplos_eventos === true) {\n  const ids_para_reconhecimento = $('Valida quantidade de eventos').first().json.objEventos.lista_eventid;\n  const json_reconhecimento = {\n    jsonrpc: \"2.0\",\n    method: \"event.acknowledge\",\n    params: {\n      eventids: ids_para_reconhecimento,\n      message: String(mensagem_reconhecimento),\n      action: 6\n    },\n    auth: \"ded694246ec8a5d9a1c92c27930877d4780c2d3fa9a67b32e4f61913699c8b18\",\n    id: 1\n  }\n\n  return [json_reconhecimento]\n}\nelse {\n  const id_para_reconhecimento = $('Valida quantidade de eventos').first().json.objEventos.idEvento;\n  const json_reconhecimento = {\n    jsonrpc: \"2.0\",\n    method: \"event.acknowledge\",\n    params: {\n      eventids: id_para_reconhecimento,\n      message: String(mensagem_reconhecimento),\n      action: 6\n    },\n    auth: \"ded694246ec8a5d9a1c92c27930877d4780c2d3fa9a67b32e4f61913699c8b18\",\n    id: 1\n  }\n\n  return [json_reconhecimento]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5024,1904],"id":"6357dc8b-7696-4d15-94a7-23feaa0bcdac","name":"json para reconhecimento no Zabbix"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-128,752],"id":"6ce36568-1f3d-4574-a936-cf353bc8b106","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"671e2a70-53d7-4e59-99d4-3502607251eb","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,752],"id":"64d4b657-3059-473d-8bbe-7cfd41cff819","name":"Existe algum registro?","alwaysOutputData":false},{"parameters":{"jsCode":"const id_evento = $input.first().json.id_evento;\nconst eventos_relacionados = $input.first().json.eventosRelacionados;\n\n// --- Caso com apenas 1 evento e seja \"0\" ---\nif (eventos_relacionados.length === 1 && eventos_relacionados[0] === \"0\") {\n  return [\n    {\n      jsonrpc: \"2.0\",\n      method: \"event.get\",\n      params: {\n        output: [\"eventid\", \"r_eventid\", \"clock\"],\n        eventids: id_evento,\n        selectHosts: [\"hostid\", \"name\", \"description\"],\n        select_acknowledges: [\"clock\", \"message\", \"action\"],\n        selectRelatedObject: [\"description\", \"value\"]\n      },\n      id: 1\n    }\n  ];\n}\n\n\n// --- Caso com múltiplos eventos ---\nlet eventosId = eventos_relacionados.map(ev => String(ev));\neventosId.push(String(id_evento));\n\nreturn [\n  {\n    jsonrpc: \"2.0\",\n    method: \"event.get\",\n    params: {\n      output: [\"eventid\", \"r_eventid\", \"clock\"],\n      eventids: eventosId,\n      selectHosts: [\"hostid\", \"name\", \"description\"],\n      select_acknowledges: [\"clock\", \"message\", \"action\"],\n      selectRelatedObject: [\"description\", \"value\"]\n    },\n    id: 1\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,752],"id":"c079b8bc-aadc-450d-a889-e2c6fefb06f3","name":"json para consulta Zabbix1"},{"parameters":{"jsCode":"const eventosRecuperados = $input.first().json.result;\n\nlet eventosAtivos = [];\nlet tagAtivos = true\nfor (const ev of eventosRecuperados) {\n  if (ev.relatedObject.value == \"1\" || ev.r_eventid == \"0\") {\n    eventosAtivos.push(ev)\n  } else {\n    if(eventosAtivos.length == 0) {\n      tagAtivos = false\n\n      return [{tagEventosAtivos: tagAtivos}]\n    }\n  }\n}\n\nreturn [{tagEventosAtivos: tagAtivos, eventosAtivos}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,752],"id":"04862503-e095-4dd5-9c60-4b3bfbcae42c","name":"Filtra eventos ativos"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"71bb2e48-6a22-4e0c-ad29-ef877e2f50ac","leftValue":"={{ $json.tagEventosAtivos }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1872,752],"id":"357284c2-2503-4de0-9c7f-0f49b2db3d79","name":"Existe evento ativo?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"05add9c3-a980-4867-9570-c9e91794feed","leftValue":"={{ $json.flagAck6 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2320,752],"id":"fc5b36b9-143e-4db8-a8f3-d38e357b9ffc","name":"Existe reconhecidos?"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[576,752],"id":"521014d5-3080-4c18-85ef-09793d0070f9","name":"Loop externo"},{"parameters":{"jsCode":"const eventosAtivos = $input.first().json.eventosAtivos;\n\nlet flagAck6 = false;\nlet eventos_com_ack6 = [];\n\nfor (let index = 0; index < eventosAtivos.length; index++) {\n  const element = eventosAtivos[index];\n\n  if (element.acknowledges && element.acknowledges.length > 0) {\n    const ack = element.acknowledges[0];\n\n    if (ack.action == \"6\") {\n      flagAck6 = true;\n      eventos_com_ack6.push(element);\n    }\n  }\n}\n\n// retorno final\nreturn [{\n  flagAck6,\n  eventos_com_ack6\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,752],"id":"4aec3bf3-5371-4586-9cbe-30a5b6760e56","name":"Verifica eventos com ACK"},{"parameters":{"operation":"delete","tableId":"sala de espera","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop externo').item.json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5472,1904],"id":"3a1d6222-db7b-4bae-9587-f4a30ea74093","name":"BD: Delete evento sala de espera","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"97c2b9e4-32c1-4874-a0e5-793c7654e6e7","leftValue":"={{ $('Valida quantidade de eventos').item.json.multiplos_eventos }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5696,1904],"id":"d3a3a2cb-69c8-4be0-8bd4-79a728b0c3c8","name":"Multiplos eventos?"},{"parameters":{"tableId":"eventosZabbix","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $json['Id do evento'] }}"},{"fieldId":"idHost","fieldValue":"={{ $json['Id do host'] }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $json['Id da variável do cliente'] }}"},{"fieldId":"idGroup","fieldValue":"={{ $json['Id do grupo'] }}"},{"fieldId":"nomeHost","fieldValue":"={{ $json['Nome do host'] }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $json['Raiz do host'] }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $json['Nome do evento'] }}"},{"fieldId":"statusChamado","fieldValue":"={{ $json['Status do chamado'] }}"},{"fieldId":"ticketMovidesk","fieldValue":"={{ $json['Ticket do Movidesk'] }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ $json['Eventos relacionados'] }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $json['Timestamp da queda'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6144,1808],"id":"babdbaff-d403-4905-9676-30fa3109f64a","name":"DB: Add evento com relacionados","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"tableId":"eventosZabbix","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $json['Id do evento'] }}"},{"fieldId":"idHost","fieldValue":"={{ $json['Id do host'] }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $json['Id da variável do cliente'] }}"},{"fieldId":"idGroup","fieldValue":"={{ $json['Id do grupo'] }}"},{"fieldId":"nomeHost","fieldValue":"={{ $json['Nome do host'] }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $json['Raiz do host'] }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $json['Nome do evento'] }}"},{"fieldId":"statusChamado","fieldValue":"={{ $json['Status do chamado'] }}"},{"fieldId":"ticketMovidesk","fieldValue":"={{ $json['Ticket do Movidesk'] }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $json['Timestamp da queda'] }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ [ $json['Id do evento'] ] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6144,2000],"id":"b65c9f65-273d-43c2-94b0-2342590a3b21","name":"DB: Add evento único","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"sala de espera","returnAll":true,"matchType":"allFilters"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[96,752],"id":"6611f15f-915a-4cfa-a4b6-6b408f540c8c","name":"BD: Select eventos na sala de espera","retryOnFail":true,"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,752],"id":"a906f8e8-91f0-4496-8728-1de1cc55a6e8","name":"Zabbix: Consulta evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}}},{"parameters":{"jsCode":"const timestamp_queda = $('Loop externo').first().json.timestamp_queda // timestamp em segundos\n\n// Converter timestamp para DateTime no fuso São Paulo\nconst data = DateTime.fromSeconds(timestamp_queda, { zone: \"America/Sao_Paulo\" });\n\nconst diaSemana = data.weekday;   // 1=segunda, 7=domingo\nconst hora = data.hour;\n\nlet finalDeSemana = false;\n\n// --- Lógica do final de semana ---\n// Sábado (6) após 07:00\nif (diaSemana === 6 && hora >= 7) {\n  finalDeSemana = true;\n}\n// Domingo inteiro (7)\nelse if (diaSemana === 7) {\n  finalDeSemana = true;\n}\n// Segunda (1) antes das 07:00\nelse if (diaSemana === 1 && hora < 7) {\n  finalDeSemana = true;\n}\n\nreturn [{\n  finalDeSemana,\n  dataFormatada: DateTime.fromSeconds(timestamp_queda, {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).toFormat(\"cccc, dd/MM/yyyy HH:mm:ss\")\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3904,32],"id":"05138377-495a-4e00-95ef-0e02249b7e1f","name":"Valida final de semana"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"61d4b4d7-0e8d-4dce-9425-754977c7f20c","leftValue":"={{ $json.finalDeSemana }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4128,32],"id":"93ca4d29-3baf-4de8-9da4-fdb573e3bc50","name":"Final de semana?"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs","mode":"list","cachedResultName":"Dados_automação ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035017719,"mode":"list","cachedResultName":"Página6","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs/edit#gid=1035017719"},"columns":{"mappingMode":"defineBelow","value":{"Data e hora da queda":"={{ DateTime.now().setZone(\"America/Sao_Paulo\").format('dd/MM/yyyy HH:mm:ss') }}","Host":"={{ $('Loop externo').item.json.nome_host }}","Id do evento":"={{ $('Loop externo').item.json.id_evento }}","Evento":"={{ $('Loop externo').item.json.evento }}","Turno da queda":"Fora comercial"},"matchingColumns":[],"schema":[{"id":"Id do evento","displayName":"Id do evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Host","displayName":"Host","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Evento","displayName":"Evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data e hora da queda","displayName":"Data e hora da queda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Turno da queda","displayName":"Turno da queda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4352,-64],"id":"3e49a21f-3c94-4d14-a7e1-9e931b84d695","name":"Google: Add evento final de semana","credentials":{"googleApi":{"id":"G23Xn5Fl7KzKph4r","name":"Google Service Account account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4800,-64],"id":"4f39bf72-e177-478c-b6db-637d9117df74","name":"Multitask: Notifica indisponibilidade","disabled":true},{"parameters":{"jsCode":"const htmlCliente = $('Prepara html do cliente1').first().json.htmlCliente;\nconst htmlInterno = $input.first().json.htmlInterno;\nconst idClienteMovidesk = $('Prepara html do cliente1').first().json.idCliente;\nconst emailCopiaPara = $('Prepara html do cliente1').first().json.copiaPara;\nconst nomeRaiz = $('Loop externo').first().json.raizNomeHost;\nconst operadora = $('Valida a porta e a operadora').first().json.blocoDoLink.OPERADORA;\n\n// const id_movideks_para_testes = 1836303904\n\nconst subject = `REPARO - ${nomeRaiz} - ${operadora}`\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nreturn {\n  json: {\n    type: 2,\n    subject: `${subject}`,\n    category: \"01 - Atendimento Helpdesk\",\n    serviceFirstLevelId: 325878,\n    urgency: \"Média\",\n    ownerTeam: \"NOC\",\n    status: \"Aguardando\",\n    justification: \"Validação\",\n    createdBy: { id: \"1458772347\" },\n    Clients: [{ id: 1836303904 }],\n    cc: \"\",\n    actions: [\n      { \n        type: 2, \n        description: htmlCliente, \n        createdBy: { id: \"1458772347\" } \n      },\n      { \n        type: 1, \n        description: htmlInterno, \n        createdBy: { id: \"1458772347\" } \n      }\n    ]\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6928,-624],"id":"8eddb48b-c9e2-40d8-ad06-6bbfe48e5a98","name":"json para abertura ticket Movidesk1"},{"parameters":{"method":"POST","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"538206c9-60b4-4bf4-ae85-415ab9a68be6"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7152,-624],"id":"b9ab3382-2fd3-419a-ad2d-4f189e2d1617","name":"Movidesk: Cria ticket1","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const validacaoEventos = $('Valida quantidade de eventos contrato1').first().json.multiplos_eventos;\nconst idCliente = $('Google: Select variáveis cliente').first().json.ID_MOVIDESK;\nconst copiaPara = $('Google: Select variáveis cliente').first().json.CC;\n\nconst operadora = $input.first().json.operadora;\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\nif (validacaoEventos === false) {\n  // Monta as linhas do tbody\n  const hostName = $('Porta ou bloco definido?').first().json.hostName;\n  const evento = $('Porta ou bloco definido?').first().json.eventoAtivo\n  const dataHoraFormatada = $('Porta ou bloco definido?').first().json.dataHoraAtiva;\n\n  // ==== CLIAR HTML DO CLIENTE ====\n  function htmlCliente(nomeHost, eventoGerador, dataHoraEvento){\n    const htmlCliente = `\n      <p>${getGreeting()}</p>\n      <br>\n      <p>Identificamos o seguinte evento de <strong>indisponibilidade</strong> em nosso sistema de monitoramento.</p>\n      <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n        <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n          <thead>\n              <tr>\n                <th>Host</th>\n                <th>Evento</th>\n                <th>Horário da ocorrência</th>\n              </tr>\n          </thead>\n          <tbody>\n              <tr>\n                <td>${nomeHost}</td>\n                <td>${eventoGerador}</td>\n                <td>${dataHoraEvento}</td>\n              </tr>\n          </tbody>\n        </table>\n      </div>\n      \n      <p>Nossa equipe está verificando o evento e procedendo com abertura de chamado na operadora ${operadora.toUpperCase()}.</p>\n      <p>Permaneceremos em monitoramento e retornamos com mais informações.</p>\n      <br>\n      <br>\n      <p>Atenciosamente,</p>\n      <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n    `;\n    return htmlCliente;\n  }\n\n  return [{\n    htmlCliente: htmlCliente(hostName, evento, dataHoraFormatada),\n    idCliente,\n    copiaPara\n  }];\n} \nelse {\n  // Monta as linhas do tbody\n  return [{eventoMultiplo: true}]\n  // const hostName = $input.first().json.objEventos.lista_hostName[0];\n  // const raizNomeHost = hostName.split(\"-\")[0].trim();\n  // const objetosIndisponiveis = $input.first().json.objEventos;\n\n  // // ==== CLIAR HTML DO CLIENTE ====\n  // function htmlCliente(objEventos, raizNome){\n  //   const objeto_com_eventos = objEventos\n  //   let linhasTabela = \"\";\n  //   for (let index = 0; index < objeto_com_eventos.lista_eventid.length; index++) {\n  //     linhasTabela += `\n  //       <tr>\n  //         <td>${objeto_com_eventos[\"lista_hostName\"][index]}</td>\n  //         <td>${objeto_com_eventos[\"lista_eventos\"][index]}</td>\n  //         <td>${objeto_com_eventos[\"lista_data_hora_evento\"][index]}</td>\n  //       </tr>\n  //     `;\n  //   }\n    \n  //   const htmlCliente = `\n  //     <p>${getGreeting()}</p>\n  //     <br>\n  //     <p>Identificamos os seguintes eventos em nosso sistema de monitoramento:</p>\n  //     <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n  //       <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n  //         <thead>\n  //             <tr>\n  //               <th>Hosts</th>\n  //               <th>Eventos</th>\n  //               <th>Horários das quedas</th>\n  //             </tr>\n  //         </thead>\n  //         <tbody>\n  //             ${linhasTabela}\n  //         </tbody>\n  //       </table>\n  //     </div>\n      \n  //     <p>Gostaríamos de confirmar se as ocorrências já são de conhecimento da equipe ${raizNome} ou se tratam de falhas eventuais? </p>\n  //     <p>Recomendamos a verificação das ocorrências acima notificas para validação e tratativa. Permaneceremos em monitoramento e informamos quando os eventos estiverem com status de resolvido em nosso monitoramento.</p>\n  //     <br>\n  //     <br>\n  //     <p>Atenciosamente </p>\n  //     <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n  //   `;\n  //   return htmlCliente;\n  // }\n\n  // const subject = `REPARO - ${raizNomeHost} - EVENTOS INDISPONÍVEIS`\n\n  // return [{\n  //   htmlCliente: htmlCliente(objetosIndisponiveis, raizNomeHost),\n  //   subject,\n  //   idCliente,\n  //   copiaPara\n  // }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6480,-624],"id":"76ea1392-5ef8-4d5d-8de2-ce78505fa8a4","name":"Prepara html do cliente1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"25314615-dcfb-4c89-9d53-a2e7e49293c3","leftValue":"={{ $('Movidesk: Cria ticket1').item.json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7600,-720],"id":"95e1c11d-ec5e-4fe3-a8d1-1c3c9f7e6e78","name":"Ticket criado?1"},{"parameters":{"jsCode":"// ==== VARIÁVEIS INICIAIS ====\nconst eventos_grupo = $('Filtra eventos ativos').first().json.eventosAtivos;\nconst nome_grupo = $('Loop externo').first().json.nome_grupo;\nlet multiplos_eventos = false;\nlet objEventos = {};\n\n// ==== LISTAS DE ITENS ====\nlet lista_eventid = [];\nlet lista_hostName = [];\nlet lista_eventos = [];\nlet lista_data_hora_evento = [];\n\n// ==== FORMATAÇÃO DA DATA E HORA DO EVENTO ====\nfunction formataTimestamp(timestamp){\n  return DateTime.fromSeconds(Number(timestamp), {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"})\n    .toFormat(\"dd/MM/yyyy HH:mm:ss\");\n}\n\n\nif (eventos_grupo.length >= 2) {\n  // Valida que há mais do que um evento para ser notificado\n  multiplos_eventos = true;\n\n  // Distribui as informações de cada evento dentro da lista específica\n  for (const ev of eventos_grupo) {\n    lista_eventid.push(ev.eventid);\n    lista_hostName.push(ev.hosts[0].name);    lista_eventos.push(ev.relatedObject.description.toUpperCase());\nlista_data_hora_evento.push(formataTimestamp(ev.clock));\n  }\n\n  objEventos = {\n    lista_eventid,\n    lista_hostName,\n    lista_eventos,\n    lista_data_hora_evento\n  };\n\n  return [{ multiplos_eventos, objEventos }];\n\n} else {\n  const hostAtivo = $('Filtra eventos ativos').first().json.eventosAtivos[0].hosts[0].name;\n  const eventoAtivo = $('Filtra eventos ativos').first().json.eventosAtivos[0].relatedObject.description.toUpperCase();\n  const dataHoraAtiva = DateTime.fromSeconds(Number($('Filtra eventos ativos').first().json.eventosAtivos[0].clock), {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).toFormat(\"dd/MM/yyyy HH:mm:ss\")\n  const idEvento = Number($('Filtra eventos ativos').first().json.eventosAtivos[0].eventid)\n\n  objEventos = {\n    hostAtivo,\n    eventoAtivo,\n    dataHoraAtiva,\n    idEvento\n  }\n  \n  return [{ multiplos_eventos, objEventos }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4352,128],"id":"acca9b4c-f2f4-4b39-99bc-14b990cda770","name":"Valida quantidade de eventos contrato1"},{"parameters":{"operation":"get","tableId":"eventosZabbix","filters":{"conditions":[{"keyName":"idEvento","keyValue":"={{ Number($json.eventos_com_ack6[0].eventid) }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2592,560],"id":"4de7f726-3aef-4330-84bf-92f091118a64","name":"BD: Verifica se tem evento no bd","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd9cc4a4-f267-4d8a-87e9-582b519c9fd7","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2816,560],"id":"c3955d0d-00fb-4667-96d7-b18967f079ba","name":"Existe evento?"},{"parameters":{"operation":"delete","tableId":"sala de espera","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop externo').first().json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3488,480],"id":"3fba310d-1f5a-4d6d-9763-1f0ac16834e6","name":"BD: Delete evento sala de espera1","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"38cbad20-0514-4f20-8dd0-1cd93f37a5e8","name":"Id do evento","value":"={{ $('Zabbix: Consulta evento').first().json.result[0].eventid }}","type":"number"},{"id":"5235a83d-7c4b-412f-ba0a-db0203a9011c","name":"Id do host","value":"={{ $('Zabbix: Consulta evento').first().json.result[0].hosts[0].hostid }}","type":"number"},{"id":"9133a213-bb9d-498e-989c-eefc9d741161","name":"Id variáveis do cliente","value":"={{ $('Loop externo').first().json.id_tipoCliente }}","type":"number"},{"id":"9595fda2-0b6c-48c1-8b67-c058efbfabf2","name":"Id do grupo","value":"={{ $('Loop externo').first().json.id_grupo }}","type":"number"},{"id":"465b9065-ae00-4070-932f-5f3e2f63c315","name":"Nome do host","value":"={{ $('Loop externo').first().json.nome_host }}","type":"string"},{"id":"1808b045-ff89-485b-90e4-c0554d7f0049","name":"Nome do evento","value":"={{ $('Loop externo').first().json.evento.toUpperCase() }}","type":"string"},{"id":"0a73797f-a601-42cc-9430-30bbef498741","name":"Raiz do nome do host","value":"={{ $('Loop externo').first().json.raizNomeHost }}","type":"string"},{"id":"8138b187-75f7-4d73-a30b-b0de41814833","name":"Timestamp da queda","value":"={{ $('Loop externo').first().json.timestamp_queda }}","type":"number"},{"id":"24e8065b-5d33-440d-81ad-9af14269e764","name":"Status do chamado","value":2,"type":"number"},{"id":"ead60df6-c32c-4397-868b-0c8a852c9093","name":"Ticket do Movidesk","value":"={{ $('Verifica eventos com ACK').first().json.eventos_com_ack6[0].acknowledges[0].message }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3040,672],"id":"94899ae4-cda0-455c-a53f-d36609fa5824","name":"Prepara adição de eventos no BD"},{"parameters":{"tableId":"eventosZabbix","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $json['Id do evento'] }}"},{"fieldId":"idHost","fieldValue":"={{ $json['Id do host'] }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $json['Id variáveis do cliente'] }}"},{"fieldId":"idGroup","fieldValue":"={{ $json['Id do grupo'] }}"},{"fieldId":"nomeHost","fieldValue":"={{ $json['Nome do host'] }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $json['Raiz do nome do host'] }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $json['Nome do evento'] }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $json['Timestamp da queda'] }}"},{"fieldId":"statusChamado","fieldValue":"={{ $json['Status do chamado'] }}"},{"fieldId":"ticketMovidesk","fieldValue":"={{ $json['Ticket do Movidesk'] }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ [0] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3264,672],"id":"1898177b-1e29-41aa-a725-8f21db608b1b","name":"BD: Add novo evento reconhecido","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const description = $('Zabbix: Consulta evento').first().json.result[0].hosts[0].description;\n\n// Normaliza \\r\\n literais\nconst clean = description.replace(/\\\\r\\\\n/g, \"\\n\");\n\n// Divide blocos iniciando em LINK\nconst rawBlocks = clean.split(/(?=LINK\\s)/).filter(b => b.trim() !== \"\");\n\n// Função que extrai PORTA e OPERADORA do texto \"LINK X - Y\"\nfunction extractPortaOperadora(linkLine) {\n  const pattern = /^LINK\\s+(.+?)\\s*-\\s*(.+)$/;\n  const match = linkLine.match(pattern);\n\n  if (!match) {\n    return { PORTA: null, OPERADORA: null };\n  }\n\n  return {\n    PORTA: match[1].trim(),\n    OPERADORA: match[2].trim(),\n  };\n}\n\nfunction parseBlock(block) {\n  const lines = block.split(\"\\n\").map(l => l.trim()).filter(Boolean);\n\n  const result = {};\n\n  // Primeira linha é o LINK...\n  const linkLine = lines[0];\n  result[\"LINK\"] = linkLine;\n\n  // Extrai PORTA e OPERADORA\n  const extra = extractPortaOperadora(linkLine);\n  result[\"PORTA\"] = extra.PORTA;\n  result[\"OPERADORA\"] = extra.OPERADORA;\n\n  // Demais linhas são \"- CAMPO: VALOR\"\n  for (let i = 1; i < lines.length; i++) {\n    const m = lines[i].match(/-\\s*([^:]+):\\s*(.*)/);\n    if (m) {\n      const key = m[1].trim();\n      const value = m[2].trim();\n      result[key] = value;\n    }\n  }\n\n  return result;\n}\n\nconst parsed = rawBlocks.map(parseBlock);\n\nreturn [{ links: parsed }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4576,128],"id":"1fdc20e7-6aff-4887-9c2b-b68c3ff1cece","name":"Trata do description do host"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"87b476fc-0cab-4bdd-8ce6-8c8d2ecf7212","leftValue":"={{ $json.blocoDoLinkTag }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5024,128],"id":"0d997d52-5d88-433a-a679-b4fe66c7f781","name":"Porta ou bloco definido?"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=O evento não dispõe de informações adequadas para seguir no fluxo. Não há uma porta definida para operadora e/ou um link que corresponda aos disponibilizados na planilha.\n\nFavor prosseguir com atuação manual. Foi adicionado um comentário no Zabbix.\n\nHost: {{ $json.hostName }}\nEvento: {{ $json.eventoAtivo }}\nData e Hora do evento: {{ $json.dataHoraAtiva }}","color":"#FD2A2A","title":"=Não há dados suficientes para abertura de chamado","thumbnail":"https://images-ext-1.discordapp.net/external/GfHyYWdF1uXemmu01V5OnBK-pjIy67bmlbQ2ciMdnwQ/https/www.pngplay.com/wp-content/uploads/6/Attention-Alert-PNG.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[5648,368],"id":"5ae2b222-e714-4b0a-9e1c-7cce3ea502eb","name":"Discord: Sem dados para abrir chamado","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"3b4X5RigC7ztK6Hr","name":"Clientes gerais: Abertura de chamado"}},"disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6096,368],"id":"046abd8b-c881-4403-ad92-601444686efc","name":"Zabbix: Reconhece evento sem dados","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}},"disabled":true},{"parameters":{"operation":"delete","tableId":"sala de espera","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop externo').first().json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6304,368],"id":"6e3dca53-1a6c-47e4-93a1-e24bedecce56","name":"BD: Delete evento sala de espera2","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"jsCode":"const mensagem_reconhecimento = \"Sem dados de operadora e porta para abertura de chamado. Equipe interna já foi informada para fazer a verificação.\";\nconst multiplos_eventos = $('Valida quantidade de eventos contrato1').first().json.multiplos_eventos;\n\nif (multiplos_eventos == true) {\n  const ids_para_reconhecimento = $('Valida quantidade de eventos contrato1').first().json.objEventos.lista_eventid;\n  const json_reconhecimento = {\n    jsonrpc: \"2.0\",\n    method: \"event.acknowledge\",\n    params: {\n      eventids: ids_para_reconhecimento,\n      message: String(mensagem_reconhecimento),\n      action: 6\n    },\n    auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n    id: 1\n  }\n\n  return [json_reconhecimento]\n}\nelse {\n  const id_para_reconhecimento = $('Valida quantidade de eventos contrato1').first().json.objEventos.idEvento;\n  const json_reconhecimento = {\n    jsonrpc: \"2.0\",\n    method: \"event.acknowledge\",\n    params: {\n      eventids: id_para_reconhecimento,\n      message: String(mensagem_reconhecimento),\n      action: 2\n    },\n    auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n    id: 1\n  }\n\n  return [json_reconhecimento]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5872,368],"id":"3578032d-26b4-442f-85ac-7103e8207d68","name":"json para add observações","disabled":true},{"parameters":{"jsCode":"const validacaoEventos = $('Valida quantidade de eventos contrato1').first().json.multiplos_eventos;\n\nif (validacaoEventos === false) {\n  const hostAtivo = $('Porta ou bloco definido?').first().json.hostName;\n  const evento = $('Porta ou bloco definido?').first().json.eventoAtivo;\n  const data_hora_evento = $('Porta ou bloco definido?').first().json.dataHoraAtiva;\n  const link = $('Porta ou bloco definido?').first().json.blocoDoLink.LINK;\n  const cnpj = $('Porta ou bloco definido?').first().json.blocoDoLink.CNPJ;\n  const designacao = $('Porta ou bloco definido?').first().json.blocoDoLink['DESIGNAÇÃO/CIRCUITO'];\n  const geop = $('Porta ou bloco definido?').first().json.blocoDoLink.GEOP;\n  const telefoneUnidade = $('Porta ou bloco definido?').first().json.blocoDoLink['TELEFONE UNIDADE'];\n  const endereco = $('Porta ou bloco definido?').first().json.blocoDoLink['ENDEREÇO'];\n  const contatoOperadora = $('BD: Select dados da operadora').first().json.contato;\n  let whatsappOperadora = $('BD: Select dados da operadora').first().json.whatsapp;\n  let atendeForaComercialOperadora = $('BD: Select dados da operadora').first().json.foraComercial;\n\n  if (atendeForaComercialOperadora == null) {\n    atendeForaComercialOperadora = \"Sem informação\"\n  } else if (atendeForaComercialOperadora == false) {\n    atendeForaComercialOperadora = \"Não atende fora de horário comercial\"\n  } else {\n    atendeForaComercialOperadora = \"Sim, atende fora de horário comercial\"\n  }\n\n  if (whatsappOperadora == null) {\n    whatsappOperadora = \"Não disponível\"\n  }\n\n  const htmlInterno = `\n\n    <p>Olá,</p>\n    <br>\n    <p>Seguem dados abaixo para abertura de chamado:</p>\n    <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: left;\">\n      <ul>\n        <li>Host: ${hostAtivo}</li>\n        <li>Evento: ${evento}</li>\n        <li>Data e hora do evento: ${data_hora_evento}</li>\n        <li>Porta e operadora: ${link}</li>\n        <li>Contato para ligação: ${contatoOperadora}</li>\n        <li>WhatsApp da operadora: ${whatsappOperadora}</li>\n        <li>CNPJ: ${cnpj}</li>\n        <li>Designação: ${designacao}</li>\n        <li>Endereço da unidade: ${endereco}</li>\n        <li>Gerente operacional: ${geop}</li>\n        <li>Telefone da unidade: ${telefoneUnidade}</li>\n        <li>Operadora atende fora do horário comercial? ${atendeForaComercialOperadora}</li>\n      </ul> \n    </div>\n  `;\n\n  return [{htmlInterno}]\n}\nelse {\n  return [{multiploseventos: true}]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6704,-624],"id":"67db41a2-49b9-44fc-b292-01b3fff998a1","name":"Prepara htmlInterno"},{"parameters":{"operation":"get","tableId":"operadoras","filters":{"conditions":[{"keyName":"operadora","keyValue":"={{ $json.blocoDoLink.OPERADORA.toLowerCase() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6032,-528],"id":"87d4c80e-5da6-4f79-80ac-6d2934304b6c","name":"BD: Select dados da operadora","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c45d729c-2558-491e-9712-71b60778be14","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6256,-528],"id":"c981f66e-62b9-42f9-8492-a3b3b5022855","name":"Existe dados da operadora no BD?"},{"parameters":{"operation":"delete","tableId":"sala de espera","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop externo').first().json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[8272,-720],"id":"4c2dedfb-7b59-4453-a957-4487cc7dfb54","name":"BD: Delete evento sala de espera3","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"40a875f1-9ce8-42d0-9c6f-d9751f939b47","name":"Id do evento","value":"={{ $('Zabbix: Consulta evento').first().json.result[0].eventid }}","type":"number"},{"id":"51f42fa4-7dcf-4d1c-9cf9-597d981d1540","name":"Id do host","value":"={{ $('Zabbix: Consulta evento').first().json.result[0].hosts[0].hostid }}","type":"number"},{"id":"d205b1ed-55c1-49bd-8c59-962c3e20a1ce","name":"Id da variável do cliente","value":"={{ $json.id_tipoCliente }}","type":"number"},{"id":"82e49265-6ce4-4556-b277-cf1ab7c8a3d4","name":"Id do grupo","value":"={{ $json.id_grupo }}","type":"number"},{"id":"5c62c29f-6f78-41dd-8f9a-bb09fa648037","name":"Nome do host","value":"={{ $json.nome_host }}","type":"string"},{"id":"6026dee8-df26-48f6-9940-c07a87a4f672","name":"Nome do evento","value":"={{ $json.evento.toUpperCase() }}","type":"string"},{"id":"64fe2ae4-b263-4fb4-aedf-588ca558f9eb","name":"Raiz do host","value":"={{ $json.raizNomeHost }}","type":"string"},{"id":"dea938d2-6ab7-4388-8521-9d358130bc75","name":"Timestamp da queda","value":"={{ $json.timestamp_queda }}","type":"number"},{"id":"190354a9-f5c9-4ac7-ab46-a104577e3cb5","name":"Status do chamado","value":2,"type":"number"},{"id":"fea114b8-a0e6-459c-8742-0fec7cd4e3c4","name":"Ticket do Movidesk","value":"={{ $('Movidesk: Cria ticket').item.json.id }}","type":"number"},{"id":"dc93dae2-6b60-4978-b13c-1dd06d138371","name":"Eventos relacionados","value":"={{ $('Valida quantidade de eventos').first().json.objEventos.lista_eventid }}","type":"array"},{"id":"ce194eaf-d3c9-4e31-a08d-c9aeaf715f20","name":"Operadora","value":"={{ $('Valida a porta e a operadora').item.json.blocoDoLink.OPERADORA }}","type":"string"},{"id":"a718c579-35a3-4acc-81e1-429ecfa13589","name":"Porta","value":"={{ $('Valida a porta e a operadora').item.json.blocoDoLink.PORTA }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[8720,-816],"id":"0bc2541a-ec16-4f80-be1b-02506f65b6ca","name":"Prepara adição no eventosZabbix2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"97c2b9e4-32c1-4874-a0e5-793c7654e6e7","leftValue":"={{ $('Valida quantidade de eventos contrato1').first().json.multiplos_eventos }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[8496,-720],"id":"a57c5480-2cc8-4af8-aade-5bcaae515c13","name":"Multiplos eventos?1"},{"parameters":{"assignments":{"assignments":[{"id":"40a875f1-9ce8-42d0-9c6f-d9751f939b47","name":"Id do evento","value":"={{ $('Zabbix: Consulta evento').first().json.result[0].eventid }}","type":"number"},{"id":"51f42fa4-7dcf-4d1c-9cf9-597d981d1540","name":"Id do host","value":"={{ $('Zabbix: Consulta evento').first().json.result[0].hosts[0].hostid }}","type":"number"},{"id":"d205b1ed-55c1-49bd-8c59-962c3e20a1ce","name":"Id da variável do cliente","value":"={{ $json.id_tipoCliente }}","type":"number"},{"id":"82e49265-6ce4-4556-b277-cf1ab7c8a3d4","name":"Id do grupo","value":"={{ $json.id_grupo }}","type":"number"},{"id":"5c62c29f-6f78-41dd-8f9a-bb09fa648037","name":"Nome do host","value":"={{ $json.nome_host }}","type":"string"},{"id":"6026dee8-df26-48f6-9940-c07a87a4f672","name":"Nome do evento","value":"={{ $json.evento.toUpperCase() }}","type":"string"},{"id":"64fe2ae4-b263-4fb4-aedf-588ca558f9eb","name":"Raiz do host","value":"={{ $json.raizNomeHost }}","type":"string"},{"id":"dea938d2-6ab7-4388-8521-9d358130bc75","name":"Timestamp da queda","value":"={{ $json.timestamp_queda }}","type":"number"},{"id":"190354a9-f5c9-4ac7-ab46-a104577e3cb5","name":"Status do chamado","value":2,"type":"number"},{"id":"fea114b8-a0e6-459c-8742-0fec7cd4e3c4","name":"Ticket do Movidesk","value":"={{ $('Movidesk: Cria ticket1').item.json.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[8720,-624],"id":"eba92757-ecf8-4acb-873b-792f49392ce0","name":"Prepara adição no eventosZabbix3"},{"parameters":{"tableId":"eventosZabbix","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $json['Id do evento'] }}"},{"fieldId":"idHost","fieldValue":"={{ $json['Id do host'] }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $json['Id da variável do cliente'] }}"},{"fieldId":"idGroup","fieldValue":"={{ $json['Id do grupo'] }}"},{"fieldId":"nomeHost","fieldValue":"={{ $json['Nome do host'] }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $json['Raiz do host'] }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $json['Nome do evento'] }}"},{"fieldId":"statusChamado","fieldValue":"={{ $json['Status do chamado'] }}"},{"fieldId":"ticketMovidesk","fieldValue":"={{ $json['Ticket do Movidesk'] }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ $json['Eventos relacionados'] }}"},{"fieldId":"nomeOperadora","fieldValue":"={{ $json['Operadora'] }}"},{"fieldId":"portaOperadora","fieldValue":"={{ $json['Porta'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[8944,-816],"id":"7230f1cd-ff79-42fc-b2a5-ce4acf0cecf2","name":"DB: Add evento com relacionados1","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"tableId":"eventosZabbix","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $json['Id do evento'] }}"},{"fieldId":"idHost","fieldValue":"={{ $json['Id do host'] }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $json['Id da variável do cliente'] }}"},{"fieldId":"idGroup","fieldValue":"={{ $json['Id do grupo'] }}"},{"fieldId":"nomeHost","fieldValue":"={{ $json['Nome do host'] }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $json['Raiz do host'] }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $json['Nome do evento'] }}"},{"fieldId":"statusChamado","fieldValue":"={{ $json['Status do chamado'] }}"},{"fieldId":"ticketMovidesk","fieldValue":"={{ $json['Ticket do Movidesk'] }}"},{"fieldId":"nomeOperadora","fieldValue":"={{ $json['Operadora'] }}"},{"fieldId":"portaOperadora","fieldValue":"={{ $json['Porta'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[8944,-624],"id":"31e89406-32c7-448a-b02d-81621c0a567d","name":"DB: Add evento único1","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Cliente {{ $('Ajusta a raizNomeHost').item.json.raiz_nome }} foi notificado de um alerta - favor verificar o ticket abaixo para realizar a abertura de chamado com a operadora {{ $('Porta ou bloco definido?').item.json.blocoDoLink.OPERADORA }}.\n\n**Host raiz:** {{ $('Loop externo').first().json.nome_host }}\n**Evento gerador:** {{ $('Loop externo').first().json.evento.toUpperCase() }}\n**Momento da indisponibilidade:** {{ DateTime.fromSeconds($('Loop externo').first().json.timestamp_queda, {zone: \"America/Sao_Paulo\"}).format(\"dd/MM/yyyy HH:mm:ss\") }}\n**Ticket do Movidesk:** {{ $json.id }}","color":"#FFDE21","title":"=Um novo evento adicionado ao BD","thumbnail":"https://cdn-icons-png.freepik.com/64/5651/5651426.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[7376,-720],"id":"cb9ec5e8-c2b0-4872-9807-41c19e555d62","name":"Discord: Ticket aberto no Movidesk1","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"3BQVRWmy75knxy1x","name":"Contratos: Abertura de chamados"}}},{"parameters":{"operation":"delete","tableId":"sala de espera","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop externo').item.json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4576,-64],"id":"a1d22771-1142-41a8-9cf0-d4bd0c57b445","name":"BD: Delete sala espera","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8048,-720],"id":"25a22b3f-719f-4642-a3be-f613e0b247c1","name":"Zabbix: Reconhece evento1","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}}},{"parameters":{"jsCode":"const mensagem_reconhecimento = $('Movidesk: Cria ticket1').first().json.id;\nconst multiplos_eventos = $('Valida quantidade de eventos contrato1').first().json.multiplos_eventos;\n\nif (multiplos_eventos === true) {\n  const ids_para_reconhecimento = $('Valida quantidade de eventos').first().json.objEventos.lista_eventid;\n  const json_reconhecimento = {\n    jsonrpc: \"2.0\",\n    method: \"event.acknowledge\",\n    params: {\n      eventids: ids_para_reconhecimento,\n      message: String(mensagem_reconhecimento),\n      action: 6\n    },\n    auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n    id: 1\n  }\n\n  return [json_reconhecimento]\n}\nelse {\n  const id_para_reconhecimento = $('Valida quantidade de eventos contrato1').first().json.objEventos.idEvento;\n  const json_reconhecimento = {\n    jsonrpc: \"2.0\",\n    method: \"event.acknowledge\",\n    params: {\n      eventids: String(id_para_reconhecimento),\n      message: String(mensagem_reconhecimento),\n      action: 6\n    },\n    id: 1\n  }\n\n  return [json_reconhecimento]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7824,-720],"id":"baf495ac-9841-4c41-b0ff-5a2a37f45c34","name":"json para reconhecimento no Zabbix1"},{"parameters":{"operation":"delete","tableId":"sala de espera","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop externo').first().json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3472,672],"id":"92d6a787-75f1-4a42-9a88-2b1de38de179","name":"BD: Remove evento","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs","mode":"list","cachedResultName":"Dados_automação ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035017719,"mode":"list","cachedResultName":"Página6","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs/edit#gid=1035017719"},"columns":{"mappingMode":"defineBelow","value":{"Host":"={{ $('Loop externo').item.json.nome_host }}","Id do evento":"={{ $('Loop externo').item.json.id_evento }}","Evento":"={{ $('Loop externo').item.json.evento }}","Turno da queda":"Comercial","Data e hora da queda":"={{ DateTime.now().setZone(\"America/Sao_Paulo\").format('dd/MM/yyyy HH:mm:ss') }}"},"matchingColumns":[],"schema":[{"id":"Id do evento","displayName":"Id do evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Host","displayName":"Host","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Evento","displayName":"Evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data e hora da queda","displayName":"Data e hora da queda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Turno da queda","displayName":"Turno da queda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[5024,-64],"id":"5d035bd6-3421-48c5-bc74-b64660ee1bcf","name":"Google: Add evento dia de semana","credentials":{"googleApi":{"id":"G23Xn5Fl7KzKph4r","name":"Google Service Account account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3238906d-1641-412a-8c78-126351c7a237","leftValue":"={{ parseInt($('Zabbix: Consulta evento').item.json.result[0].r_eventid) }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1440,752],"id":"699f89af-daf9-4a01-8b3f-998f99403e63","name":"Evento ativo?"},{"parameters":{"operation":"delete","tableId":"sala de espera","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop externo').item.json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1440,896],"id":"389c1909-38ac-4b6a-88b4-5b70db7562b8","name":"BD: Delete evento da sala de espera","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"operation":"delete","tableId":"sala de espera","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop externo').item.json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5248,-64],"id":"537624b8-d3b1-48f4-8f94-8f4718c308f1","name":"BD: Remove evento1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"40a875f1-9ce8-42d0-9c6f-d9751f939b47","name":"Id do evento","value":"={{ $('Zabbix: Consulta evento').first().json.result[0].eventid }}","type":"number"},{"id":"51f42fa4-7dcf-4d1c-9cf9-597d981d1540","name":"Id do host","value":"={{ $('Zabbix: Consulta evento').first().json.result[0].hosts[0].hostid }}","type":"number"},{"id":"d205b1ed-55c1-49bd-8c59-962c3e20a1ce","name":"Id da variável do cliente","value":"={{ $json.id_tipoCliente }}","type":"number"},{"id":"82e49265-6ce4-4556-b277-cf1ab7c8a3d4","name":"Id do grupo","value":"={{ $json.id_grupo }}","type":"number"},{"id":"5c62c29f-6f78-41dd-8f9a-bb09fa648037","name":"Nome do host","value":"={{ $json.nome_host }}","type":"string"},{"id":"6026dee8-df26-48f6-9940-c07a87a4f672","name":"Nome do evento","value":"={{ $json.evento.toUpperCase() }}","type":"string"},{"id":"64fe2ae4-b263-4fb4-aedf-588ca558f9eb","name":"Raiz do host","value":"={{ $json.raizNomeHost }}","type":"string"},{"id":"dea938d2-6ab7-4388-8521-9d358130bc75","name":"Timestamp da queda","value":"={{ $json.timestamp_queda }}","type":"number"},{"id":"190354a9-f5c9-4ac7-ab46-a104577e3cb5","name":"Status do chamado","value":2,"type":"number"},{"id":"fea114b8-a0e6-459c-8742-0fec7cd4e3c4","name":"Ticket do Movidesk","value":"={{ $('Movidesk: Cria ticket').item.json.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5920,2000],"id":"d07750f1-1052-46d5-b14a-c2a19b2681a1","name":"Prepara adição 1 evento"},{"parameters":{"assignments":{"assignments":[{"id":"40a875f1-9ce8-42d0-9c6f-d9751f939b47","name":"Id do evento","value":"={{ $('Zabbix: Consulta evento').first().json.result[0].eventid }}","type":"number"},{"id":"51f42fa4-7dcf-4d1c-9cf9-597d981d1540","name":"Id do host","value":"={{ $('Zabbix: Consulta evento').first().json.result[0].hosts[0].hostid }}","type":"number"},{"id":"d205b1ed-55c1-49bd-8c59-962c3e20a1ce","name":"Id da variável do cliente","value":"={{ $json.id_tipoCliente }}","type":"number"},{"id":"82e49265-6ce4-4556-b277-cf1ab7c8a3d4","name":"Id do grupo","value":"={{ $json.id_grupo }}","type":"number"},{"id":"5c62c29f-6f78-41dd-8f9a-bb09fa648037","name":"Nome do host","value":"={{ $json.nome_host }}","type":"string"},{"id":"6026dee8-df26-48f6-9940-c07a87a4f672","name":"Nome do evento","value":"={{ $json.evento.toUpperCase() }}","type":"string"},{"id":"64fe2ae4-b263-4fb4-aedf-588ca558f9eb","name":"Raiz do host","value":"={{ $json.raizNomeHost }}","type":"string"},{"id":"dea938d2-6ab7-4388-8521-9d358130bc75","name":"Timestamp da queda","value":"={{ $json.timestamp_queda }}","type":"number"},{"id":"190354a9-f5c9-4ac7-ab46-a104577e3cb5","name":"Status do chamado","value":2,"type":"number"},{"id":"fea114b8-a0e6-459c-8742-0fec7cd4e3c4","name":"Ticket do Movidesk","value":"={{ $('Movidesk: Cria ticket').item.json.id }}","type":"number"},{"id":"dc93dae2-6b60-4978-b13c-1dd06d138371","name":"Eventos relacionados","value":"={{ $('Valida quantidade de eventos').first().json.objEventos.lista_eventid }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5920,1808],"id":"050dba28-3257-48de-a940-33058488cc76","name":"Prepara adição \"n\" eventos"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0102892e-a396-4335-af99-175aab496697","leftValue":"={{ $json.error.message }}","rightValue":"Invalid params.","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1232,752],"id":"1b30eae4-baaf-4bfd-b864-f1a09dd012c9","name":"Parâmetro é válido?"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3264,480],"id":"011f89a7-76a7-4344-a0a7-a5e1ded4558a","name":"Zabbix: Reconhece evento2","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false},{"parameters":{"jsCode":"const mensagem_reconhecimento = $input.first().json.ticketMovidesk;\nlet eventos_relacionados = $input.first().json.eventosRelacionados;\nconst id_evento = $('Loop externo').first().json.id_evento;\n\n\nif (eventos_relacionados.length >= 2) {\n  if (eventos_relacionados.includes(id_evento)) {\n    eventos_relacionados\n  } else {\n    eventos_relacionados.push(id_evento)\n  }\n  \n  const json_reconhecimento = {\n    jsonrpc: \"2.0\",\n    method: \"event.acknowledge\",\n    params: {\n      eventids: eventos_relacionados,\n      message: String(mensagem_reconhecimento),\n      action: 6\n    },\n    auth: \"ded694246ec8a5d9a1c92c27930877d4780c2d3fa9a67b32e4f61913699c8b18\",\n    id: 1\n  }\n\n  return [json_reconhecimento]\n}\nelse {\n  const id_para_reconhecimento = $('Loop externo').first().json.id_evento;\n  const json_reconhecimento = {\n    jsonrpc: \"2.0\",\n    method: \"event.acknowledge\",\n    params: {\n      eventids: id_para_reconhecimento,\n      message: String(mensagem_reconhecimento),\n      action: 6\n    },\n    auth: \"ded694246ec8a5d9a1c92c27930877d4780c2d3fa9a67b32e4f61913699c8b18\",\n    id: 1\n  }\n\n  return [json_reconhecimento]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3040,480],"id":"b79a6335-7be5-4038-9318-9a24adcd271f","name":"json para reconhecimento no Zabbix2"},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=Abrir chamado para {{ $('Loop externo').item.json.raizNomeHost }}\n\n**HOST:** {{ $('Loop externo').item.json.nome_host }}\n**EVENTO:** {{ $('Loop externo').item.json.evento }}\n**INÍCIO DO EVENTO:** {{ DateTime.fromSeconds( $('Loop externo').item.json.timestamp_queda, {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).format('cccc dd/MM/yyyy HH:mm:ss').toUpperCase() }}","color":"#FFDE21","title":"ABRIR CHAMADO","thumbnail":"https://cdn-icons-png.freepik.com/64/5651/5651426.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[5488,-64],"id":"c45c4f35-bf78-4763-ba5a-b767fca4a738","name":"Contratos: Abertura de chamado","webhookId":"d2a5edbe-4e92-4ac7-8bce-a19e438c279a","credentials":{"discordWebhookApi":{"id":"3BQVRWmy75knxy1x","name":"Contratos: Abertura de chamados"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5774fc77-a0ff-4f72-a8f3-d43a6538612b","leftValue":"={{ $json.hostName.split(\" \")[0].trim() }}","rightValue":"ALL4LABELS","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5248,128],"id":"99067038-bbfb-4a1f-bd83-d8546f8162f0","name":"all4labes (temporário)"},{"parameters":{"jsCode":"const linksHost = $input.first().json.links;\nconst multiplos_eventos = $('Valida quantidade de eventos contrato1').first().json.multiplos_eventos;\n\nconst mapaPortas = [\n    \"WAN\", \"WAN1\", \"WAN2\", \"WAN3\", \"WAN4\",\n    \"LAN\", \"LAN1\", \"LAN2\", \"LAN3\", \"LAN4\",\n    \"ETH\", \"ETH1\", \"ETH2\", \"ETH3\", \"ETH4\",\n    \"ETHER\", \"ETHER1\", \"ETHER2\", \"ETHER3\", \"ETHER4\", \"ETHER5\",\n    \"GE\", \"GE1\", \"GE2\", \"GE3\",\n    \"PORTA 1\", \"PORTA 2\", \"PORTA 3\",\n    \"PORT1\", \"PORT2\", \"PORT3\",\n    \"PORT A\", \"PORT B\", \"PORTB\",\n    \"LINK1\", \"LINK2\", \"LINK3\",\n    \"X1\", \"X2\", \"X4\", \"X8\",\n    \"INTERNAL6\"\n];\n\n/*\n  Função detectarPorta: agora verifica as chaves do mapa em ordem decrescente de tamanho\n  para evitar casar 'ETH' antes de 'ETHER3', por exemplo.\n*/\nfunction detectarPorta(texto, mapa) {\n  if (!texto) return null;\n  const upper = texto.toUpperCase();\n\n  // Ordena as chaves por tamanho decrescente — cria array local para não alterar o mapa externo\n  const chavesOrdenadas = Object.keys(mapa).sort((a, b) => b.length - a.length);\n\n  for (const porta of chavesOrdenadas) {\n    // checagem mais robusta: procurar palavra isolada ou substring\n    // normaliza porta para maiúsculas e sem múltiplos espaços\n    const portaNorm = porta.toUpperCase().replace(/\\s+/g, \" \").trim();\n\n    // construir regex seguro: procura porta como palavra ou com dígitos/numeração anexada (ex: LAN2, ETHER3)\n    const regex = new RegExp(`\\\\b${portaNorm.replace(/\\s+/g, \"\\\\s*\")}\\\\b`, \"i\");\n\n    if (regex.test(upper)) {\n      return porta; // retorna exatamente a chave do mapa (ex: \"ETHER3\", \"WAN\", \"PORTA 1\")\n    }\n  }\n\n  return null;\n}\n\n/*\n  localizarPortaNoHost: mantive a lógica, apenas assegurei comparação consistente em maiúsculas\n  e comparação exata/por inclusão nos dois sentidos (portaHost vs portaBloco).\n*/\nfunction localizarPortaNoHost(linksHost, portaEncontrada) {\n  if (!portaEncontrada) return null;\n\n  const portaBuscada = portaEncontrada.toUpperCase().replace(/\\s+/g, \" \").trim();\n\n  for (const bloco of linksHost) {\n    if (!bloco.PORTA) continue;\n\n    const portaBloco = String(bloco.PORTA).toUpperCase().replace(/\\s+/g, \" \").trim();\n\n    // comparar igualdade exata ou se uma contém a outra (por exemplo: \"ETH\" vs \"ETHER3\")\n    if (portaBloco === portaBuscada || portaBloco.includes(portaBuscada) || portaBuscada.includes(portaBloco)) {\n      return bloco; // retorna o bloco correspondente\n    }\n  }\n\n  return null;\n}\n\n\n/*\n====================================================\n  3. LÓGICA EXISTENTE (mantida intacta)\n====================================================\n*/\nconst objetoEvento = $('Valida quantidade de eventos contrato1').first().json.objEventos;\nconst hostName = objetoEvento.hostAtivo;\nconst eventoAtivo = objetoEvento.eventoAtivo;\nconst dataHoraAtiva = objetoEvento.dataHoraAtiva;\n\n// === Usa a nova função para detectar porta no hostname ou no evento ===\nconst portaHost = detectarPorta(hostName, mapaPortas);\nconst portaEvento = detectarPorta(eventoAtivo, mapaPortas);\n\n// porta válida encontrada\nconst portaFinal = portaHost || portaEvento || null;\n\n// === Agora verifica se essa porta existe em algum bloco de linksHost ===\nconst blocoCorrespondente = localizarPortaNoHost(linksHost, portaFinal);\n\nreturn [{\n  hostName,\n  eventoAtivo,\n  dataHoraAtiva,\n  portaDetectada: portaFinal == null ? false : portaFinal,\n  blocoDoLinkTag: blocoCorrespondente == null ? false : true,\n  blocoDoLink: blocoCorrespondente == null ? false : blocoCorrespondente,\n  linksHost\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4800,128],"id":"36242d16-e27c-4ae8-a7c8-a72208729ff6","name":"Valida a porta e a operadora"},{"parameters":{"jsCode":"// ==== VARIÁVEIS INICIAIS ====\nconst eventos_grupo = $('Filtra eventos ativos').first().json.eventosAtivos;\nconst nome_grupo = $('Loop externo').first().json.nome_grupo;\nlet multiplos_eventos = false;\nlet objEventos = {};\n\n// ==== LISTAS DE ITENS ====\nlet lista_eventid = [];\nlet lista_hostName = [];\nlet lista_eventos = [];\nlet lista_data_hora_evento = [];\n\n// ==== FORMATAÇÃO DA DATA E HORA DO EVENTO ====\nfunction formataTimestamp(timestamp){\n  return DateTime.fromSeconds(Number(timestamp), {zone: \"America/Sao_Paulo\"})\n    .toFormat(\"dd/MM/yyyy HH:mm:ss\");\n}\n\n\nif (eventos_grupo.length >= 2) {\n  // Valida que há mais do que um evento para ser notificado\n  multiplos_eventos = true;\n\n  // Distribui as informações de cada evento dentro da lista específica\n  for (const ev of eventos_grupo) {\n    lista_eventid.push(ev.eventid);\n    lista_hostName.push(ev.hosts[0].name);    lista_eventos.push(ev.relatedObject.description.toUpperCase());\nlista_data_hora_evento.push(formataTimestamp(ev.clock));\n  }\n\n  objEventos = {\n    lista_eventid,\n    lista_hostName,\n    lista_eventos,\n    lista_data_hora_evento\n  };\n\n  return [{ multiplos_eventos, objEventos }];\n\n} else {\n  const hostAtivo = $('Filtra eventos ativos').first().json.eventosAtivos[0].hosts[0].name;\n  const eventoAtivo = $('Filtra eventos ativos').first().json.eventosAtivos[0].relatedObject.description.toUpperCase();\n  const dataHoraAtiva = DateTime.fromSeconds(Number($('Filtra eventos ativos').first().json.eventosAtivos[0].clock), {zone: \"America/Sao_Paulo\"}).toFormat(\"dd/MM/yyyy HH:mm:ss\")\n  const idEvento = Number($('Filtra eventos ativos').first().json.eventosAtivos[0].eventid)\n\n  objEventos = {\n    hostAtivo,\n    eventoAtivo,\n    dataHoraAtiva,\n    idEvento\n  }\n  \n  return [{ multiplos_eventos, objEventos }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3680,1472],"id":"bb8b5197-a4f0-40dd-84ee-977918faffa7","name":"Valida quantidade de eventos1"},{"parameters":{"jsCode":"const htmlCliente = $input.first().json.htmlCliente;\nconst subject = $input.first().json.subject;\nconst idClienteMovidesk = $input.first().json.idCliente;\nconst emailCopiaPara = $input.first().json.copiaPara;\n\n//id_movideks_para_testes = 1836303904\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nreturn {\n  json: {\n    type: 2,\n    subject: `${subject}`,\n    category: \"01 - Atendimento Helpdesk\",\n    serviceFirstLevelId: 325878,\n    urgency: \"Média\",\n    ownerTeam: \"NOC\",\n    status: \"Aguardando\",\n    justification: \"Validação\",\n    createdBy: { id: \"1458772347\" },\n    Clients: [{ id: idClienteMovidesk }],\n    cc: emailCopiaPara,\n    actions: [\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" } }\n    ]\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4128,1472],"id":"e3c40eb2-4b16-4f16-bc3e-45f11ba88440","name":"json para abertura ticket Movidesk2"},{"parameters":{"method":"POST","url":"https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4352,1472],"id":"86fb9a6f-64d9-4afd-85c9-8c75ebf99945","name":"Movidesk: Cria ticket2","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const validacaoEventos = $input.first().json.multiplos_eventos;\nconst idCliente = $('Google: Select variáveis cliente').first().json.ID_MOVIDESK;\nconst copiaPara = $('Google: Select variáveis cliente').first().json.CC;\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\nif (validacaoEventos === false) {\n  // Monta as linhas do tbody\n  const hostName = $input.first().json.objEventos.hostAtivo;\n  const raizNomeHost = hostName.split(\"-\")[0].trim();\n  const evento = $input.first().json.objEventos.eventoAtivo\n  const dataHoraFormatada = $input.first().json.objEventos.dataHoraAtiva;\n\n  // ==== CLIAR HTML DO CLIENTE ====\n  function htmlCliente(nomeHost, eventoGerador, dataHoraEvento, raizNome){\n    const htmlCliente = `\n      <p>${getGreeting()}</p>\n      <br>\n      <p>Identificamos um evento de indisponibilidade em nosso sistema de monitoramento, conforme detalhes abaixo:</p>\n      <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n        <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n          <thead>\n              <tr>\n                <th>Host</th>\n                <th>Evento</th>\n                <th>Horário da ocorrência</th>\n              </tr>\n          </thead>\n          <tbody>\n              <tr>\n                <td>${nomeHost}</td>\n                <td>${eventoGerador}</td>\n                <td>${dataHoraEvento}</td>\n              </tr>\n          </tbody>\n        </table>\n      </div>\n      \n      <p>Gostaríamos de confirmar se a ocorrência já é de conhecimento da equipe ${raizNome} ou se se trata de uma falha eventual. </p>\n      <p>Recomendamos a verificação do evento acima para validação e tratativa da indisponibilidade.</br>Permaneceremos em monitoramento e informaremos assim que o evento for identificado como <strong>resolvido</strong> em nosso ambiente.</p>\n      <br>\n      <br>\n      <p>Atenciosamente,</p>\n      <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n    `;\n    return htmlCliente;\n  }\n\n  const subject = `REPARO - ${hostName}`\n\n  return [{\n    htmlCliente: htmlCliente(hostName, evento, dataHoraFormatada, raizNomeHost),\n    subject,\n    idCliente,\n    copiaPara\n  }];\n} \nelse {\n  // Monta as linhas do tbody\n  const hostName = $input.first().json.objEventos.lista_hostName[0];\n  const raizNomeHost = hostName.split(\"-\")[0].trim();\n  const objetosIndisponiveis = $input.first().json.objEventos;\n\n  // ==== CLIAR HTML DO CLIENTE ====\n  function htmlCliente(objEventos, raizNome){\n    const objeto_com_eventos = objEventos\n    let linhasTabela = \"\";\n    for (let index = 0; index < objeto_com_eventos.lista_eventid.length; index++) {\n      linhasTabela += `\n        <tr>\n          <td>${objeto_com_eventos[\"lista_hostName\"][index]}</td>\n          <td>${objeto_com_eventos[\"lista_eventos\"][index]}</td>\n          <td>${objeto_com_eventos[\"lista_data_hora_evento\"][index]}</td>\n        </tr>\n      `;\n    }\n    \n    const htmlCliente = `\n      <p>${getGreeting()}</p>\n      <br>\n      <p>Identificamos os seguintes eventos de <strong>indisponibilidade</strong> em nosso sistema de monitoramento:</p>\n      <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n        <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n          <thead>\n              <tr>\n                <th>Host</th>\n                <th>Evento</th>\n                <th>Horário da ocorrência</th>\n              </tr>\n          </thead>\n          <tbody>\n              ${linhasTabela}\n          </tbody>\n        </table>\n      </div>\n      \n      <p>Gostaríamos de confirmar se as ocorrências já são de conhecimento da equipe ${raizNome} ou se tratam de falhas eventuais.</p>\n      <p>Recomendamos a verificação dos eventos listados para validação e tratativa. Permaneceremos em monitoramento contínuo e informaremos quando os eventos forem identificados como <strong>resolvidos</strong> em nosso monitoramento.</p>\n      <br>\n      <br>\n      <p>Atenciosamente,</p>\n      <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n    `;\n    return htmlCliente;\n  }\n\n  const subject = `REPARO - ${raizNomeHost} - EVENTOS INDISPONÍVEIS`;\n\n  return [{\n    htmlCliente: htmlCliente(objetosIndisponiveis, raizNomeHost),\n    subject,\n    idCliente,\n    copiaPara\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3904,1472],"id":"96bb5090-7134-4558-a129-8109ecd91854","name":"Prepara html do cliente2"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Verificar ocorrência no fluxo **sala de espera**. Um problema ocorreu ao abrir o chamado no Movidesk** para clientes gerais.\n\n**HOST:** {{ $('Loop externo').item.json.nome_host }}\n**EVENTO:** {{ $('Loop externo').item.json.evento }}\n**MOMENTO DO EVENTO:** {{ DateTime.fromSeconds($('Loop externo').item.json.timestamp_queda, {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).toFormat(\"dd/MM/yyyy HH:mm:ss\") }}","color":"#FD2A2A","title":"=Falha na abertura na sala de espera","thumbnail":"https://cdn-icons-png.freepik.com/512/1331/1331377.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[4800,1568],"id":"87304eb6-445c-4059-8d8f-9f564b44891e","name":"Discord: Problema na abertura do ticket2","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"my4AzbUc1zKeXAum","name":"Admin: Error"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"25314615-dcfb-4c89-9d53-a2e7e49293c3","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4576,1408],"id":"25803442-b8e3-4722-8f57-c58bb3a5f4e2","name":"Ticket criado?2"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5248,1360],"id":"67755c4d-cdcc-43fd-b09d-de13a5d5c5d4","name":"Zabbix: Reconhece evento3","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false},{"parameters":{"jsCode":"const mensagem_reconhecimento = $('Movidesk: Cria ticket2').first().json.id;\nconst multiplos_eventos = $('Valida quantidade de eventos1').first().json.multiplos_eventos;\n\nif (multiplos_eventos === true) {\n  const ids_para_reconhecimento = $('Valida quantidade de eventos1').first().json.objEventos.lista_eventid;\n  const json_reconhecimento = {\n    jsonrpc: \"2.0\",\n    method: \"event.acknowledge\",\n    params: {\n      eventids: ids_para_reconhecimento,\n      message: String(mensagem_reconhecimento),\n      action: 6\n    },\n    auth: \"ded694246ec8a5d9a1c92c27930877d4780c2d3fa9a67b32e4f61913699c8b18\",\n    id: 1\n  }\n\n  return [json_reconhecimento]\n}\nelse {\n  const id_para_reconhecimento = $('Valida quantidade de eventos1').first().json.objEventos.idEvento;\n  const json_reconhecimento = {\n    jsonrpc: \"2.0\",\n    method: \"event.acknowledge\",\n    params: {\n      eventids: id_para_reconhecimento,\n      message: String(mensagem_reconhecimento),\n      action: 6\n    },\n    auth: \"ded694246ec8a5d9a1c92c27930877d4780c2d3fa9a67b32e4f61913699c8b18\",\n    id: 1\n  }\n\n  return [json_reconhecimento]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5024,1360],"id":"a53f6af2-1e50-448f-baaf-e871d27850f5","name":"json para reconhecimento no Zabbix3"},{"parameters":{"operation":"delete","tableId":"sala de espera","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop externo').item.json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5472,1360],"id":"05761896-df03-47c2-96bb-2b4e45abe0f6","name":"BD: Delete evento sala de espera4","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"97c2b9e4-32c1-4874-a0e5-793c7654e6e7","leftValue":"={{ $('Valida quantidade de eventos1').item.json.multiplos_eventos }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5696,1360],"id":"ef5fc006-dc3b-448a-952c-be2ca1e1e346","name":"Multiplos eventos?2"},{"parameters":{"tableId":"eventosZabbix","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $json['Id do evento'] }}"},{"fieldId":"idHost","fieldValue":"={{ $json['Id do host'] }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $json['Id da variável do cliente'] }}"},{"fieldId":"idGroup","fieldValue":"={{ $json['Id do grupo'] }}"},{"fieldId":"nomeHost","fieldValue":"={{ $json['Nome do host'] }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $json['Raiz do host'] }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $json['Nome do evento'] }}"},{"fieldId":"statusChamado","fieldValue":"={{ $json['Status do chamado'] }}"},{"fieldId":"ticketMovidesk","fieldValue":"={{ $json['Ticket do Movidesk'] }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ $json['Eventos relacionados'] }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $json['Timestamp da queda'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6144,1264],"id":"29cce8c7-0329-45ca-988c-8237e232fbee","name":"DB: Add evento com relacionados2","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"tableId":"eventosZabbix","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $json['Id do evento'] }}"},{"fieldId":"idHost","fieldValue":"={{ $json['Id do host'] }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $json['Id da variável do cliente'] }}"},{"fieldId":"idGroup","fieldValue":"={{ $json['Id do grupo'] }}"},{"fieldId":"nomeHost","fieldValue":"={{ $json['Nome do host'] }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $json['Raiz do host'] }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $json['Nome do evento'] }}"},{"fieldId":"statusChamado","fieldValue":"={{ $json['Status do chamado'] }}"},{"fieldId":"ticketMovidesk","fieldValue":"={{ $json['Ticket do Movidesk'] }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $json['Timestamp da queda'] }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ [ $json['Id do evento'] ] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6144,1456],"id":"9f359f24-d953-47a9-b200-b3f76b461094","name":"DB: Add evento único2","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"40a875f1-9ce8-42d0-9c6f-d9751f939b47","name":"Id do evento","value":"={{ $('Zabbix: Consulta evento').first().json.result[0].eventid }}","type":"number"},{"id":"51f42fa4-7dcf-4d1c-9cf9-597d981d1540","name":"Id do host","value":"={{ $('Zabbix: Consulta evento').first().json.result[0].hosts[0].hostid }}","type":"number"},{"id":"d205b1ed-55c1-49bd-8c59-962c3e20a1ce","name":"Id da variável do cliente","value":"={{ $json.id_tipoCliente }}","type":"number"},{"id":"82e49265-6ce4-4556-b277-cf1ab7c8a3d4","name":"Id do grupo","value":"={{ $json.id_grupo }}","type":"number"},{"id":"5c62c29f-6f78-41dd-8f9a-bb09fa648037","name":"Nome do host","value":"={{ $json.nome_host }}","type":"string"},{"id":"6026dee8-df26-48f6-9940-c07a87a4f672","name":"Nome do evento","value":"={{ $json.evento.toUpperCase() }}","type":"string"},{"id":"64fe2ae4-b263-4fb4-aedf-588ca558f9eb","name":"Raiz do host","value":"={{ $json.raizNomeHost }}","type":"string"},{"id":"dea938d2-6ab7-4388-8521-9d358130bc75","name":"Timestamp da queda","value":"={{ $json.timestamp_queda }}","type":"number"},{"id":"190354a9-f5c9-4ac7-ab46-a104577e3cb5","name":"Status do chamado","value":2,"type":"number"},{"id":"fea114b8-a0e6-459c-8742-0fec7cd4e3c4","name":"Ticket do Movidesk","value":"={{ $('Movidesk: Cria ticket2').item.json.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5920,1456],"id":"feda47a2-7931-4824-a5ae-4d4969cafca7","name":"Prepara adição 1 evento1"},{"parameters":{"assignments":{"assignments":[{"id":"40a875f1-9ce8-42d0-9c6f-d9751f939b47","name":"Id do evento","value":"={{ $('Zabbix: Consulta evento').first().json.result[0].eventid }}","type":"number"},{"id":"51f42fa4-7dcf-4d1c-9cf9-597d981d1540","name":"Id do host","value":"={{ $('Zabbix: Consulta evento').first().json.result[0].hosts[0].hostid }}","type":"number"},{"id":"d205b1ed-55c1-49bd-8c59-962c3e20a1ce","name":"Id da variável do cliente","value":"={{ $json.id_tipoCliente }}","type":"number"},{"id":"82e49265-6ce4-4556-b277-cf1ab7c8a3d4","name":"Id do grupo","value":"={{ $json.id_grupo }}","type":"number"},{"id":"5c62c29f-6f78-41dd-8f9a-bb09fa648037","name":"Nome do host","value":"={{ $json.nome_host }}","type":"string"},{"id":"6026dee8-df26-48f6-9940-c07a87a4f672","name":"Nome do evento","value":"={{ $json.evento.toUpperCase() }}","type":"string"},{"id":"64fe2ae4-b263-4fb4-aedf-588ca558f9eb","name":"Raiz do host","value":"={{ $json.raizNomeHost }}","type":"string"},{"id":"dea938d2-6ab7-4388-8521-9d358130bc75","name":"Timestamp da queda","value":"={{ $json.timestamp_queda }}","type":"number"},{"id":"190354a9-f5c9-4ac7-ab46-a104577e3cb5","name":"Status do chamado","value":2,"type":"number"},{"id":"fea114b8-a0e6-459c-8742-0fec7cd4e3c4","name":"Ticket do Movidesk","value":"={{ $('Movidesk: Cria ticket2').item.json.id }}","type":"number"},{"id":"dc93dae2-6b60-4978-b13c-1dd06d138371","name":"Eventos relacionados","value":"={{ $('Valida quantidade de eventos1').first().json.objEventos.lista_eventid }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5920,1264],"id":"727e2063-592a-4308-9700-30134e6aba1c","name":"Prepara adição \"n\" eventos1"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Cliente {{ $('Ajusta a raizNomeHost').item.json.raiz_nome }} foi notificado de um alerta e um ticket foi criado para ele.\n\n**HOST MATRIZ:** {{ $('Loop externo').item.json.nome_host }}\n**EVENTO:** {{ $('Loop externo').item.json.evento }}\n**DATA E HORA DO EVENTO:** {{ DateTime.fromSeconds($('Loop externo').item.json.timestamp_queda, {zone: \"America/Sao_Paulo\"}).format(\"cccc dd/MM/yyyy HH:mm:ss\") }}\n**TICKET MOVIDESK:** {{ $json.id }}","color":"#FF7518","title":"=Ticket aberto para {{ $('Loop externo').item.json.raizNomeHost }}","thumbnail":"https://cdn-icons-png.freepik.com/64/4034/4034629.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[4800,1360],"id":"beb0b2bb-0d27-4313-b805-b400c14eceee","name":"Discord: Novo ticket para contrato 2","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"3BQVRWmy75knxy1x","name":"Contratos: Abertura de chamados"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Host: {{ $json.hostName }}\nEvento: {{ $json.eventoAtivo }}\nData e Hora do evento: {{ $json.dataHoraAtiva }}","author":"Fluxo Sala de espera","color":"#009EDD","title":"=Não há dados para abertura de chamado","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[6480,-432],"id":"f8be0ec2-3816-48a4-a70f-24b5a61226c7","name":"admin","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Verificar a ocorrência no fluxo sala de espera. Um problema ocorreu ao abrir o chamado no Movidesk para clientes de CONTRATO**.\n\n**Host raiz:** {{ $('Zabbix: Consulta evento').first().json.result[0].hosts[0].name }}\n**Evento gerador:** {{ $('Zabbix: Consulta evento').first().json.result[0].relatedObject.description.toUpperCase() }}\n**Momento da indisponibilidade:** {{ DateTime.fromSeconds(Number($('Zabbix: Consulta evento').first().json.result[0].clock), {zone: \"America/Sao_Paulo\"}).format(\"dd/MM/yyyy HH:mm:ss\") }}","color":"#FD2A2A","title":"=Falha no fluxo principal - clientes de contrato","thumbnail":"https://cdn-icons-png.freepik.com/64/1331/1331377.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[7376,-528],"id":"60a4157f-c1b6-40a0-8c91-93c0fe022bc5","name":"Admin: Problemas no fluxo","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"my4AzbUc1zKeXAum","name":"Admin: Error"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Nova rota no fluxo da sala de espera. Não há bloco definido para o cliente de contrato.","author":"Fluxo Sala de espera","color":"#009EDD","title":"=Não há bloco definido no fluxo da sala de espera","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[5648,592],"id":"f5dae24d-af71-48db-92fe-da26c82a0750","name":"admin1","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1360,896],"id":"d082edbe-d33f-4b89-a598-902f8629f082","name":"PRÓXIMA ITERAÇÃO"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[320,608],"id":"2abdac73-2ed8-4ff1-bbd0-230fe4af8bcd","name":"No ops"}],"connections":{"Rota: Tipo cliente":{"main":[[{"node":"Valida final de semana","type":"main","index":0}],[{"node":"Valida quantidade de eventos1","type":"main","index":0}],[{"node":"Valida quantidade de eventos","type":"main","index":0}]]},"Valida quantidade de eventos":{"main":[[{"node":"Prepara html do cliente","type":"main","index":0}]]},"json para abertura ticket Movidesk":{"main":[[{"node":"Movidesk: Cria ticket","type":"main","index":0}]]},"Prepara html do cliente":{"main":[[{"node":"json para abertura ticket Movidesk","type":"main","index":0}]]},"Ajusta a raizNomeHost":{"main":[[{"node":"Google: Select variáveis cliente","type":"main","index":0}]]},"Google: Select variáveis cliente":{"main":[[{"node":"Rota: Tipo cliente","type":"main","index":0}]]},"Movidesk: Cria ticket":{"main":[[{"node":"Ticket criado?","type":"main","index":0}],[{"node":"Discord: Problema na abertura do ticket","type":"main","index":0}]]},"Ticket criado?":{"main":[[{"node":"Discord: Ticket aberto no Movidesk","type":"main","index":0}],[{"node":"Discord: Problema na abertura do ticket","type":"main","index":0}]]},"Discord: Ticket aberto no Movidesk":{"main":[[{"node":"json para reconhecimento no Zabbix","type":"main","index":0}]]},"json para reconhecimento no Zabbix":{"main":[[{"node":"Zabbix: Reconhece evento","type":"main","index":0}]]},"Zabbix: Reconhece evento":{"main":[[{"node":"BD: Delete evento sala de espera","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"BD: Select eventos na sala de espera","type":"main","index":0}]]},"Existe algum registro?":{"main":[[{"node":"Loop externo","type":"main","index":0}],[{"node":"No ops","type":"main","index":0}]]},"json para consulta Zabbix1":{"main":[[{"node":"Zabbix: Consulta evento","type":"main","index":0}]]},"Filtra eventos ativos":{"main":[[{"node":"Existe evento ativo?","type":"main","index":0}]]},"Existe evento ativo?":{"main":[[{"node":"Verifica eventos com ACK","type":"main","index":0}],[{"node":"BD: Delete evento da sala de espera","type":"main","index":0}]]},"Existe reconhecidos?":{"main":[[{"node":"BD: Verifica se tem evento no bd","type":"main","index":0}],[{"node":"Ajusta a raizNomeHost","type":"main","index":0}]]},"Loop externo":{"main":[[{"node":"No ops","type":"main","index":0}],[{"node":"json para consulta Zabbix1","type":"main","index":0}]]},"Verifica eventos com ACK":{"main":[[{"node":"Existe reconhecidos?","type":"main","index":0}]]},"BD: Delete evento sala de espera":{"main":[[{"node":"Multiplos eventos?","type":"main","index":0}]]},"Multiplos eventos?":{"main":[[{"node":"Prepara adição \"n\" eventos","type":"main","index":0}],[{"node":"Prepara adição 1 evento","type":"main","index":0}]]},"BD: Select eventos na sala de espera":{"main":[[{"node":"Existe algum registro?","type":"main","index":0}],[]]},"Zabbix: Consulta evento":{"main":[[{"node":"Parâmetro é válido?","type":"main","index":0}]]},"Valida final de semana":{"main":[[{"node":"Final de semana?","type":"main","index":0}]]},"Final de semana?":{"main":[[{"node":"Google: Add evento final de semana","type":"main","index":0}],[{"node":"Valida quantidade de eventos contrato1","type":"main","index":0}]]},"Google: Add evento final de semana":{"main":[[{"node":"BD: Delete sala espera","type":"main","index":0}]]},"json para abertura ticket Movidesk1":{"main":[[{"node":"Movidesk: Cria ticket1","type":"main","index":0}]]},"Movidesk: Cria ticket1":{"main":[[{"node":"Discord: Ticket aberto no Movidesk1","type":"main","index":0}],[{"node":"Admin: Problemas no fluxo","type":"main","index":0}]]},"Prepara html do cliente1":{"main":[[{"node":"Prepara htmlInterno","type":"main","index":0}]]},"Valida quantidade de eventos contrato1":{"main":[[{"node":"Trata do description do host","type":"main","index":0}]]},"BD: Verifica se tem evento no bd":{"main":[[{"node":"Existe evento?","type":"main","index":0}]]},"Existe evento?":{"main":[[{"node":"json para reconhecimento no Zabbix2","type":"main","index":0}],[{"node":"Prepara adição de eventos no BD","type":"main","index":0}]]},"Prepara adição de eventos no BD":{"main":[[{"node":"BD: Add novo evento reconhecido","type":"main","index":0}]]},"BD: Add novo evento reconhecido":{"main":[[{"node":"BD: Remove evento","type":"main","index":0}]]},"BD: Delete evento sala de espera1":{"main":[[{"node":"PRÓXIMA ITERAÇÃO","type":"main","index":0}]]},"DB: Add evento único":{"main":[[{"node":"PRÓXIMA ITERAÇÃO","type":"main","index":0}]]},"DB: Add evento com relacionados":{"main":[[{"node":"PRÓXIMA ITERAÇÃO","type":"main","index":0}]]},"Trata do description do host":{"main":[[{"node":"Valida a porta e a operadora","type":"main","index":0}]]},"Porta ou bloco definido?":{"main":[[{"node":"all4labes (temporário)","type":"main","index":0}],[{"node":"Discord: Sem dados para abrir chamado","type":"main","index":0},{"node":"Google: Add evento dia de semana","type":"main","index":0},{"node":"admin1","type":"main","index":0}]]},"Discord: Sem dados para abrir chamado":{"main":[[{"node":"json para add observações","type":"main","index":0}]]},"Zabbix: Reconhece evento sem dados":{"main":[[{"node":"BD: Delete evento sala de espera2","type":"main","index":0}]]},"json para add observações":{"main":[[{"node":"Zabbix: Reconhece evento sem dados","type":"main","index":0}]]},"BD: Delete evento sala de espera2":{"main":[[{"node":"PRÓXIMA ITERAÇÃO","type":"main","index":0}]]},"Prepara htmlInterno":{"main":[[{"node":"json para abertura ticket Movidesk1","type":"main","index":0}]]},"BD: Select dados da operadora":{"main":[[{"node":"Existe dados da operadora no BD?","type":"main","index":0}]]},"Existe dados da operadora no BD?":{"main":[[{"node":"Prepara html do cliente1","type":"main","index":0}],[{"node":"admin","type":"main","index":0}]]},"BD: Delete evento sala de espera3":{"main":[[{"node":"Multiplos eventos?1","type":"main","index":0}]]},"Prepara adição no eventosZabbix2":{"main":[[{"node":"DB: Add evento com relacionados1","type":"main","index":0}]]},"Multiplos eventos?1":{"main":[[{"node":"Prepara adição no eventosZabbix2","type":"main","index":0}],[{"node":"Prepara adição no eventosZabbix3","type":"main","index":0}]]},"Prepara adição no eventosZabbix3":{"main":[[{"node":"DB: Add evento único1","type":"main","index":0}]]},"DB: Add evento com relacionados1":{"main":[[{"node":"PRÓXIMA ITERAÇÃO","type":"main","index":0}]]},"DB: Add evento único1":{"main":[[{"node":"PRÓXIMA ITERAÇÃO","type":"main","index":0}]]},"Ticket criado?1":{"main":[[{"node":"json para reconhecimento no Zabbix1","type":"main","index":0}],[{"node":"PRÓXIMA ITERAÇÃO","type":"main","index":0}]]},"Discord: Ticket aberto no Movidesk1":{"main":[[{"node":"Ticket criado?1","type":"main","index":0}]]},"BD: Delete sala espera":{"main":[[{"node":"Multitask: Notifica indisponibilidade","type":"main","index":0}]]},"Multitask: Notifica indisponibilidade":{"main":[[{"node":"PRÓXIMA ITERAÇÃO","type":"main","index":0}]]},"json para reconhecimento no Zabbix1":{"main":[[{"node":"Zabbix: Reconhece evento1","type":"main","index":0}]]},"Zabbix: Reconhece evento1":{"main":[[{"node":"BD: Delete evento sala de espera3","type":"main","index":0}]]},"BD: Remove evento":{"main":[[{"node":"PRÓXIMA ITERAÇÃO","type":"main","index":0}]]},"Google: Add evento dia de semana":{"main":[[{"node":"BD: Remove evento1","type":"main","index":0}]]},"Evento ativo?":{"main":[[{"node":"Filtra eventos ativos","type":"main","index":0}],[{"node":"BD: Delete evento da sala de espera","type":"main","index":0}]]},"BD: Delete evento da sala de espera":{"main":[[{"node":"PRÓXIMA ITERAÇÃO","type":"main","index":0}]]},"BD: Remove evento1":{"main":[[{"node":"Contratos: Abertura de chamado","type":"main","index":0}]]},"Prepara adição 1 evento":{"main":[[{"node":"DB: Add evento único","type":"main","index":0}]]},"Prepara adição \"n\" eventos":{"main":[[{"node":"DB: Add evento com relacionados","type":"main","index":0}]]},"Parâmetro é válido?":{"main":[[{"node":"Evento ativo?","type":"main","index":0}],[{"node":"PRÓXIMA ITERAÇÃO","type":"main","index":0}]]},"json para reconhecimento no Zabbix2":{"main":[[{"node":"Zabbix: Reconhece evento2","type":"main","index":0}]]},"Zabbix: Reconhece evento2":{"main":[[{"node":"BD: Delete evento sala de espera1","type":"main","index":0}]]},"Contratos: Abertura de chamado":{"main":[[{"node":"PRÓXIMA ITERAÇÃO","type":"main","index":0}]]},"all4labes (temporário)":{"main":[[{"node":"BD: Select dados da operadora","type":"main","index":0}],[{"node":"Google: Add evento dia de semana","type":"main","index":0}]]},"Valida a porta e a operadora":{"main":[[{"node":"Porta ou bloco definido?","type":"main","index":0}]]},"Valida quantidade de eventos1":{"main":[[{"node":"Prepara html do cliente2","type":"main","index":0}]]},"json para abertura ticket Movidesk2":{"main":[[{"node":"Movidesk: Cria ticket2","type":"main","index":0}]]},"Movidesk: Cria ticket2":{"main":[[{"node":"Ticket criado?2","type":"main","index":0}],[{"node":"Discord: Problema na abertura do ticket2","type":"main","index":0}]]},"Prepara html do cliente2":{"main":[[{"node":"json para abertura ticket Movidesk2","type":"main","index":0}]]},"Ticket criado?2":{"main":[[{"node":"Discord: Novo ticket para contrato 2","type":"main","index":0}],[{"node":"Discord: Problema na abertura do ticket2","type":"main","index":0}]]},"Zabbix: Reconhece evento3":{"main":[[{"node":"BD: Delete evento sala de espera4","type":"main","index":0}]]},"json para reconhecimento no Zabbix3":{"main":[[{"node":"Zabbix: Reconhece evento3","type":"main","index":0}]]},"BD: Delete evento sala de espera4":{"main":[[{"node":"Multiplos eventos?2","type":"main","index":0}]]},"Multiplos eventos?2":{"main":[[{"node":"Prepara adição \"n\" eventos1","type":"main","index":0}],[{"node":"Prepara adição 1 evento1","type":"main","index":0}]]},"DB: Add evento com relacionados2":{"main":[[{"node":"PRÓXIMA ITERAÇÃO","type":"main","index":0}]]},"DB: Add evento único2":{"main":[[{"node":"PRÓXIMA ITERAÇÃO","type":"main","index":0}]]},"Prepara adição 1 evento1":{"main":[[{"node":"DB: Add evento único2","type":"main","index":0}]]},"Prepara adição \"n\" eventos1":{"main":[[{"node":"DB: Add evento com relacionados2","type":"main","index":0}]]},"Discord: Novo ticket para contrato 2":{"main":[[{"node":"json para reconhecimento no Zabbix3","type":"main","index":0}]]},"admin1":{"main":[[{"node":"PRÓXIMA ITERAÇÃO","type":"main","index":0}]]},"admin":{"main":[[{"node":"PRÓXIMA ITERAÇÃO","type":"main","index":0}]]},"Admin: Problemas no fluxo":{"main":[[{"node":"PRÓXIMA ITERAÇÃO","type":"main","index":0}]]},"Discord: Problema na abertura do ticket":{"main":[[{"node":"PRÓXIMA ITERAÇÃO","type":"main","index":0}]]},"Discord: Problema na abertura do ticket2":{"main":[[{"node":"PRÓXIMA ITERAÇÃO","type":"main","index":0}]]},"PRÓXIMA ITERAÇÃO":{"main":[[{"node":"Loop externo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-12-29T10:30:07.010-03:00","Readable date":"December 29th 2025, 10:30:07 am","Readable time":"10:30:07 am","Day of week":"Monday","Year":"2025","Month":"December","Day of month":"29","Hour":"10","Minute":"30","Second":"07","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"b4bd7f45-7d85-4799-8f95-541992ff3bd0","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-11-27T12:24:43.564Z","createdAt":"2025-11-27T12:24:43.564Z","role":"workflow:owner","workflowId":"D7TCQ9VOFcUzIgfs","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":null,"tags":[{"updatedAt":"2025-10-24T18:08:27.659Z","createdAt":"2025-10-24T18:08:27.659Z","id":"oUDNU2rUDi9xwp5Q","name":"FluxoNOC_principal"}]}