03.-encerramento-0L9QdbDb-Y76HleiR5-CQ.json
{"updatedAt":"2026-01-27T18:38:17.151Z","createdAt":"2026-01-27T18:22:31.064Z","id":"0L9QdbDb-Y76HleiR5-CQ","name":"03. Encerramento","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,-32],"id":"ff93e89f-3646-4992-98b3-849f9f18f9e1","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2e42a2d2-883c-400e-82d6-1c94ba1c60e6","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[224,-32],"id":"8c5b395c-a4eb-445b-a160-7433e15dc560","name":"Evento reconhecido?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[448,64],"id":"002eaa47-98bc-43b8-b9f6-c7b813828417","name":"Do not"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,-128],"id":"ba5c17c5-f58c-4b49-be33-938164975330","name":"HTML de notificação do cliente"},{"parameters":{"method":"PATCH","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[672,-128],"id":"2f17d0f3-b695-4ed3-a776-2deffe0a1e86","name":"Movidesk: Notifica encerramento","credentials":{"httpQueryAuth":{"id":"TMwtQv0hjXbvLVng","name":"Movidesk token"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"mode":"list","value":""},"channelId":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1120,-128],"id":"adc6ddde-7efc-4b3d-8a34-79ef098a9cac","name":"Discord: Notifica equipe SOC","webhookId":"2c59dbcb-d06a-4a1d-9df3-ff34740d8a2b"},{"parameters":{"method":"PATCH","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[896,-128],"id":"791504a0-65e2-46b4-b09f-54828196d97a","name":"Movidesk: Encerra ticket","credentials":{"httpQueryAuth":{"id":"TMwtQv0hjXbvLVng","name":"Movidesk token"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Evento reconhecido?","type":"main","index":0}]]},"Evento reconhecido?":{"main":[[{"node":"HTML de notificação do cliente","type":"main","index":0}],[{"node":"Do not","type":"main","index":0}]]},"HTML de notificação do cliente":{"main":[[{"node":"Movidesk: Notifica encerramento","type":"main","index":0}]]},"Movidesk: Notifica encerramento":{"main":[[{"node":"Movidesk: Encerra ticket","type":"main","index":0}]]},"Movidesk: Encerra ticket":{"main":[[{"node":"Discord: Notifica equipe SOC","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"0a694ba2-78d6-4648-86f6-07def3a8cecc","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-27T18:22:31.077Z","createdAt":"2026-01-27T18:22:31.077Z","role":"workflow:owner","workflowId":"0L9QdbDb-Y76HleiR5-CQ","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-17T16:06:12.585Z","createdAt":"2025-12-17T16:06:12.585Z","id":"ysjEV4UVdKwLKxVm","name":"SOC"}]}