04.-emissões-de-relatório-vvyRgFIRcB770XVt.json
{"updatedAt":"2025-12-11T13:37:20.000Z","createdAt":"2025-10-24T19:50:20.712Z","id":"vvyRgFIRcB770XVt","name":"04. Emissões de relatório","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"Recuperar dados do Movidesk usando critérios de pesquisa e filtros (Time: SOC, Filtros: Tickets abertos) e encaminhar o arquivo CSV por e-mail","height":240,"width":912},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-64,-80],"id":"fe15f393-f648-4873-94dc-7967efd4ea7c","name":"Sticky Note"},{"parameters":{"url":"https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6&$select=id,subject,status,ownerTeam,baseStatus,createdDate,lastUpdate&$expand=clients&$filter=((status eq 'Em atendimento') or (status eq 'Novo') or (status eq 'Aguardando atendimento') or (status eq 'Aguardando')) and (ownerTeam eq 'SOC')","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,0],"id":"3dbfa131-c9e3-493f-a5a7-4553e9056027","name":"HTTP Request1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[448,0],"id":"73b61d9a-1b4a-41c7-844c-130ba5cbd983","name":"Convert to File1","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"fromEmail":"william.semmler@maxprotection.com.br","toEmail":"fabio@maxprotection.com.br","subject":"Arquivo CSV dos chamados do SOC","emailFormat":"text","text":"Segue em anexo o arquivo CSV dos chamados do SOC.","options":{"attachments":"data","bccEmail":"william.semmler@maxprotection.com.br"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[672,0],"id":"4b6ec745-dc4a-4333-9f45-0079fb47720c","name":"Send email1","webhookId":"43c4245e-ca4b-41b1-b4b5-408527901f61","credentials":{"smtp":{"id":"DbMRWCNpvDuKIKL3","name":"Reports-Fábio"}}},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[3],"triggerAtHour":18}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"3441a335-7ba6-48f9-897d-8084949b6777","name":"Schedule Trigger"},{"parameters":{"content":"Emitir o relatório de registros dos clientes de contrato\n","height":384,"width":912},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-64,272],"id":"2144a8d1-9519-4cc9-984a-6a6287fa98aa","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,400],"id":"cd3f1bb2-a1c3-4267-aca3-d26c19916101","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"// Obtém todos os itens de entrada\nconst items = $input.all();\n\n// Array para armazenar somente os filtrados\nconst filtrados = [];\n\n// Loop pelos itens recebidos\nfor (const item of items) {\n    const ticket = item.json;\n\n    // Verifica se existe \"clients\" e se é array\n    if (Array.isArray(ticket.clients)) {\n\n        // Procura algum cliente com businessName = \"Indigo Ti\"\n        const hasIndigo = ticket.clients.some(c => c.businessName === \"Indigo Ti\");\n\n        if (hasIndigo) {\n            filtrados.push({\n                json: ticket\n            });\n        }\n    }\n}\n\n// Retorna apenas os registros filtrados\nreturn filtrados;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,304],"id":"213b36d4-9c63-455d-89e5-4ea82610721d","name":"INDIGO"},{"parameters":{"url":"https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6\n&$select=id,createdDate,subject\n&$expand=clients\n&$filter=(ownerTeam eq 'NOC') and (createdDate ge 2025-11-01T00:00:00Z and createdDate le 2025-11-30T23:59:59Z)","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,400],"id":"9f2c4442-afdb-46a7-a46f-b4d36896fedc","name":"Movidesk: Recupera registros do mês"},{"parameters":{"options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[672,304],"id":"3ae3ca3d-4507-467e-a27d-436e2b50eb7b","name":"Converte CSV","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[672,496],"id":"2c897be1-fd45-4d71-bd8f-560cc6b2e9fb","name":"Converte CSV1","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"jsCode":"// Obtém todos os itens de entrada\nconst items = $input.all();\n\n// Array para armazenar somente os filtrados\nconst filtrados = [];\n\n// Loop pelos itens recebidos\nfor (const item of items) {\n    const ticket = item.json;\n\n    // Verifica se existe \"clients\" e se é array\n    if (Array.isArray(ticket.clients)) {\n\n        // Procura algum cliente com businessName = \"Indigo Ti\"\n        const hasIndigo = ticket.clients.some(c => c.businessName === \"Marcio Bronzatti\");\n\n        if (hasIndigo) {\n            filtrados.push({\n                json: ticket\n            });\n        }\n    }\n}\n\n// Retorna apenas os registros filtrados\nreturn filtrados;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,496],"id":"0b718b7e-2ae1-4bdd-984f-08f5d66194ed","name":"ALL4LABELS"}],"connections":{"HTTP Request1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Send email1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Movidesk: Recupera registros do mês","type":"main","index":0}]]},"INDIGO":{"main":[[{"node":"Converte CSV","type":"main","index":0}]]},"Movidesk: Recupera registros do mês":{"main":[[{"node":"INDIGO","type":"main","index":0},{"node":"ALL4LABELS","type":"main","index":0}]]},"ALL4LABELS":{"main":[[{"node":"Converte CSV1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e98bb6c1-36d3-4a40-aaed-9bf54d2b596e","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-10-24T19:50:20.730Z","createdAt":"2025-10-24T19:50:20.730Z","role":"workflow:owner","workflowId":"vvyRgFIRcB770XVt","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":null,"tags":[{"updatedAt":"2025-11-14T17:43:44.290Z","createdAt":"2025-11-14T17:43:44.290Z","id":"8bNt8jzadFFgCXzs","name":"Reports"}]}