04.04.-encerramento-status-4-AWco17dREAilHhWY.json
{"updatedAt":"2026-01-28T17:13:55.000Z","createdAt":"2025-10-15T18:06:24.235Z","id":"AWco17dREAilHhWY","name":"04.04. encerramento status 4","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[400,560],"id":"65743f53-4178-4558-add0-1e2eea8487da","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[848,560],"id":"8a628c55-c14a-4f1f-bd3b-5253f6aa4408","name":"Loop"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1072,368],"id":"41e4f645-fbe3-47c9-b7bb-f73330284501","name":"No Ops"},{"parameters":{"operation":"getAll","tableId":"base","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"status_chamado","condition":"eq","keyValue":"4"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[624,560],"id":"e7616d5e-0f45-4dd4-a6c9-ace31ac43930","name":"Supabase: Recupera status 4","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"name\", \"value\", \"severity\", \"r_eventid\"],\n    \"eventids\": \"{{ $json.id_evento }}\",\n    \"time-from\": \"{{ $json.timestamp_queda }}\",\n\n    \"selectHosts\": [\"hostid\", \"name\", \"description\"],\n\n    \"select_acknowledges\": [\n      \"acknowledgeid\",\n      \"eventid\",\n      \"clock\",\n      \"message\",\n      \"action\"\n    ],\n\n    \"selectRelatedObject\": [\n      \"triggerid\",\n      \"description\",\n      \"value\",\n      \"priority\"\n    ]\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1296,656],"id":"22ce6854-d9c1-41ac-93ac-b3ce13cffe69","name":"Zabbix: Recupera dados completos","retryOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1a0989af-6a00-4945-b407-ee26809eadb1","leftValue":"={{ $json.existemEventos }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1744,688],"id":"591f911a-2265-432d-a29d-bc74bb1d80ff","name":"Existe algo nos reconhecidos?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9f3910cd-3f7e-43f3-8bff-99d255eb09c9","leftValue":"={{ $json.count_status4 }}","rightValue":3,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1072,560],"id":"99ef14d2-0511-416d-80b8-421cb24586cd","name":"O número de rodadas é superior a 3?"},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_chamado","fieldValue":"5"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1296,464],"id":"555bd6f7-877e-4417-8ecc-67572bcc5d07","name":"Supabase: Atualiza para status 5","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"ticket_movidesk","fieldValue":"={{ $json.reconhecidos6[0] }}"},{"fieldId":"id_evento_recuperacao","fieldValue":"={{ $json.rEventId || null }}"},{"fieldId":"status_chamado","fieldValue":"5"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1968,704],"id":"5dadd248-1f30-46a1-a5af-408192cc62fc","name":"Supabase: Atualiza com ticketMovidesk","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const resultados = $input.first().json.result;\nconst eventoRecuperacao = parseInt($input.first().json.result[0].r_eventid);\n\n\nlet reconhecidosAtivos = Array();\nfor (const resultado of resultados) {\n  if (resultado.acknowledges.length >= 1) {\n    reconhecidosAtivos.push((resultado.acknowledges));\n  }\n}\n\nlet reconhecidos6 = Array();\nfor (let reconhecido of reconhecidosAtivos) {\n  if (reconhecido[0].action == \"6\") {\n    reconhecidos6.push(reconhecido[0].message)\n  }\n}\n\nlet existemEventos = false\nlet rEventId;\nif (reconhecidos6.length >= 1) {\n  if (eventoRecuperacao >= 1) {\n    existemEventos = true;\n    rEventId = eventoRecuperacao;\n    return [\n      {\n        existemEventos,\n        reconhecidos6,\n        rEventId\n      }\n    ]\n  } else {\n    existemEventos = true\n    return [\n      {\n        existemEventos,\n        reconhecidos6\n      }\n    ]\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,656],"id":"71b82864-64bc-45c0-a687-0649964f2c24","name":"Verifica os eventos encontrados"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Supabase: Recupera status 4","type":"main","index":0}]]},"Loop":{"main":[[{"node":"No Ops","type":"main","index":0}],[{"node":"O número de rodadas é superior a 3?","type":"main","index":0}]]},"Supabase: Recupera status 4":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Zabbix: Recupera dados completos":{"main":[[{"node":"Verifica os eventos encontrados","type":"main","index":0}]]},"O número de rodadas é superior a 3?":{"main":[[{"node":"Supabase: Atualiza para status 5","type":"main","index":0}],[{"node":"Zabbix: Recupera dados completos","type":"main","index":0}]]},"Existe algo nos reconhecidos?":{"main":[[{"node":"Supabase: Atualiza com ticketMovidesk","type":"main","index":0}],[{"node":"Loop","type":"main","index":0}]]},"Supabase: Atualiza para status 5":{"main":[[]]},"Supabase: Atualiza com ticketMovidesk":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Verifica os eventos encontrados":{"main":[[{"node":"Existe algo nos reconhecidos?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e1a528f0-7829-4151-9982-45d4e14377af","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-10-15T18:06:24.251Z","createdAt":"2025-10-15T18:06:24.251Z","role":"workflow:owner","workflowId":"AWco17dREAilHhWY","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":null,"tags":[{"updatedAt":"2025-10-24T18:08:59.444Z","createdAt":"2025-10-24T18:08:59.444Z","id":"jng5bBYYvxUL3PF4","name":"fluxoEncerramento"},{"updatedAt":"2025-10-24T18:08:27.659Z","createdAt":"2025-10-24T18:08:27.659Z","id":"oUDNU2rUDi9xwp5Q","name":"FluxoNOC_principal"}]}