04.02.-encerramento-status-2-KMZ9dyngPgYLSh6f.json
{"updatedAt":"2026-01-28T17:14:07.000Z","createdAt":"2025-10-21T11:42:39.251Z","id":"KMZ9dyngPgYLSh6f","name":"04.02. encerramento status 2","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[224,1440],"id":"92367ad7-ed25-4ac9-9311-2a45a1e3438b","name":"Schedule Trigger"},{"parameters":{"mode":"raw","jsonOutput":"={{ {\"elementoTabela\": $json} }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1136,992],"id":"5382e08b-08c4-48cb-9e49-d6ad38a94b2b","name":"Ajusta para um objeto"},{"parameters":{"jsCode":"// --- Dados de entrada vindos do n8n ---\nconst idHost = $('Ajusta para um objeto').first().json.elementoTabela.id_host;\nconst timestampQueda = $('Ajusta para um objeto').first().json.elementoTabela.timestamp_queda;\nconst idEvento = $('Ajusta para um objeto').first().json.elementoTabela.id_evento;\nconst ticketMovidesk = $('Ajusta para um objeto').first().json.elementoTabela.ticket_movidesk;\nconst variavelDecrescimoTempo = $('Supabase: Recupera variáveis de cliente').first().json.segundos_decrescimo_horas; // SLA em segundos\n\n// --- Calcula tempos em segundos e minutos ---\nconst timestampAgora = Math.floor(Date.now() / 1000);\nconst tempoDecorridoSegundos = timestampAgora - timestampQueda;\nconst tempoDecorridoMinutos = Math.floor(tempoDecorridoSegundos / 60);\nconst slaMinutos = variavelDecrescimoTempo / 60;\nconst meiaSlaMinutos = slaMinutos / 2;\nconst limite2hPosSlaMinutos = slaMinutos + 120; // 120 min = 2h após o SLA\n\n// --- CONDIÇÃO 1: Ainda não atingiu metade do SLA ---\nif (tempoDecorridoMinutos < meiaSlaMinutos) {\n  // Não faz nada, apenas segue para o próximo loop\n  return [\n    {\n      json: {\n        status: \"FAZ NADA AINDA\"\n      }\n    }\n  ];\n}\n\n// --- CONDIÇÃO 2: Passou da metade, mas ainda dentro do SLA ---\nelse if (tempoDecorridoMinutos >= meiaSlaMinutos && tempoDecorridoMinutos < slaMinutos) {\n  return [\n    {\n      json: {\n        status: \"ATENÇÃO\",\n        mensagem: \"O alerta está se aproximando do vencimento do SLA. Fique atento!\",\n        idHost,\n        idEvento,\n        ticketMovidesk,\n        timestampQueda,\n        timestampAgora,\n        tempoDecorridoMinutos,\n        slaMinutos\n      }\n    }\n  ];\n}\n\n// --- CONDIÇÃO 3: Já passou o SLA, mas ainda está dentro das 2h de tolerância ---\nelse if (tempoDecorridoMinutos >= slaMinutos && tempoDecorridoMinutos <= limite2hPosSlaMinutos) {\n  return [\n    {\n      json: {\n        status: \"URGENTE\",\n        mensagem: \"O evento já ultrapassou o tempo de SLA! É necessário acionar a operadora imediatamente.\",\n        idHost,\n        idEvento,\n        ticketMovidesk,\n        timestampQueda,\n        timestampAgora,\n        tempoDecorridoMinutos,\n        slaMinutos\n      }\n    }\n  ];\n}\n\n// --- CONDIÇÃO 4: Já passou mais de 2h após o SLA ---\nelse {\n  // Não precisa mais agir ou notificar o cliente\n  return [\n    {\n      json: {\n        status: \"ENCERRAR_ROTINA\",\n        mensagem: \"O evento ultrapassou 2 horas após o SLA. A rotina de notificação pode ser interrompida.\",\n        idHost,\n        idEvento,\n        ticketMovidesk,\n        timestampQueda,\n        timestampAgora,\n        tempoDecorridoMinutos,\n        slaMinutos\n      }\n    }\n  ];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,992],"id":"7e955d70-9fb3-4f3e-a51e-3ba26670ca56","name":"Calcula tempo decorrido e restante"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1120,1392],"id":"ea4fcd7e-95bf-4275-8a50-9dd022166e98","name":"No Ops"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2480,992],"id":"74de88d0-da01-420a-9d7d-5dc425d26feb","name":"Aguarda","webhookId":"e3680e17-a808-4442-8810-d3c03ec5c959"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6658f8a1-adfb-4bd0-951e-ab118c75abfc","leftValue":"={{ $json.idVariavelCliente }}","rightValue":3,"operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,1440],"id":"f8fab8a1-ebb9-4cee-9729-f94a4e783e3c","name":"É um cliente de contrato?"},{"parameters":{"operation":"getAll","tableId":"eventosZabbix","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"statusChamado","condition":"eq","keyValue":"2"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[448,1440],"id":"529c07a4-7357-4934-8541-d3c4c6f03354","name":"Supabase: Recupera correspondências","retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[912,1328],"id":"2229a4eb-6e76-470e-a9fe-65d3cd5c7144","name":"Loop"},{"parameters":{"operation":"get","tableId":"variaveis_cliente","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.elementoTabela.idVariavelCliente }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1360,992],"id":"1ffb89bf-e1ff-4ea3-bca2-27d243ded405","name":"Supabase: Recupera variáveis de cliente","retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": \"extend\",\n    \"eventids\": \"{{ $('Loop').item.json.id_evento }}\",\n    \"selectRelatedObject\": \"extend\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1584,992],"id":"7e36db32-679b-4c53-8af3-965e1a14096f","name":"Zabbix: Traz dados do evento","retryOnFail":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"FAZ NADA AINDA","operator":{"type":"string","operation":"equals"},"id":"c7f1983b-fe26-4b35-82be-d42bc86e14d2"}],"combinator":"and"},"renameOutput":true,"outputKey":"FAÇA NADA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"78ccfea9-82c8-409f-ac2a-3f6975fb3118","leftValue":"={{ $json.status }}","rightValue":"ATENÇÃO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"=PRÓXIMO DO FIM"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8978e1c8-9997-4d1a-b92d-ab3517546392","leftValue":"={{ $json.status }}","rightValue":"URGENTE","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ULTRAPASSOU O SLA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bece0c49-d6cc-438e-a41e-da09424c4e2b","leftValue":"={{ $json.status }}","rightValue":"ENCERRAR_ROTINA","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ULTRAPASSOU O SLA+2H"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[2032,960],"id":"ce84faa5-f6c1-4dd6-b34c-a7a40fd78ab6","name":"Rotas tempoSLA"},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=*⚠️ Atenção: O evento está próximo do vencimento do SLA*\n\n🖥️ Host: {{ $('Loop').item.json.nome_host }}\n📛 Nome do alerta: {{ $('Zabbix: Traz dados do evento').item.json.result[0].name }}\n🕒 Data e hora do evento: {{ DateTime.fromSeconds(parseInt($('Loop').item.json.timestamp_queda)).setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy HH:mm:ss') }}\n🎟️ Ticket Movidesk: {{ $('Loop').item.json.ticket_movidesk }}\n🆔 ID do evento (Zabbix): {{ $('Loop').item.json.id_evento }}","color":"#FFDE21","title":"ATENÇÃO! Alerta já ultrapassou 2 horas do SLA"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2256,800],"id":"8fdc8871-eb60-45cf-bf4b-1891212fdc62","name":"Discord: SLA na metade","webhookId":"afeb553b-40fb-4275-8075-ce334a4d6004","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"q8ymfxDw287wMhSw","name":"Canal: notificações status 2"}}},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=*⚠️ Atenção: O evento já ultrapassou o SLA.*\n\n🖥️ Host: {{ $('Loop').item.json.nome_host }}\n📛 Nome do alerta: {{ $('Zabbix: Traz dados do evento').item.json.result[0].name }}\n🕒 Data e hora do evento: {{ DateTime.fromSeconds(parseInt($('Loop').item.json.timestamp_queda)).setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy HH:mm:ss') }}\n🎟️ Ticket Movidesk: {{ $('Loop').item.json.ticket_movidesk }}\n🆔 ID do evento (Zabbix): {{ $('Loop').item.json.id_evento }}","color":"#EE4B2B","title":"ATENÇÃO! Tempo SLA estourado"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2256,992],"id":"7b89a436-cb98-4937-97ea-822fb8711bec","name":"Discord: Ultrapassou o SLA","webhookId":"afeb553b-40fb-4275-8075-ce334a4d6004","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"q8ymfxDw287wMhSw","name":"Canal: notificações status 2"}}},{"parameters":{"operation":"update","tableId":"base","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"count_sla","fieldValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2256,1184],"id":"4da35ff0-6533-44e3-b107-8d4c91d3f666","name":"Supabase: Atualiza status count_sla","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[912,1584],"id":"fa6d971e-d2a9-4cd5-95fb-1c48f0a1b5c0","name":"No Ops1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Supabase: Recupera correspondências","type":"main","index":0}]]},"Ajusta para um objeto":{"main":[[{"node":"Supabase: Recupera variáveis de cliente","type":"main","index":0}]]},"Calcula tempo decorrido e restante":{"main":[[{"node":"Rotas tempoSLA","type":"main","index":0}]]},"Aguarda":{"main":[[{"node":"Loop","type":"main","index":0}]]},"É um cliente de contrato?":{"main":[[{"node":"Loop","type":"main","index":0}],[{"node":"No Ops1","type":"main","index":0}]]},"Supabase: Recupera correspondências":{"main":[[{"node":"É um cliente de contrato?","type":"main","index":0}]]},"Loop":{"main":[[{"node":"No Ops","type":"main","index":0}],[{"node":"Ajusta para um objeto","type":"main","index":0}]]},"Supabase: Recupera variáveis de cliente":{"main":[[{"node":"Zabbix: Traz dados do evento","type":"main","index":0}]]},"Zabbix: Traz dados do evento":{"main":[[{"node":"Calcula tempo decorrido e restante","type":"main","index":0}]]},"Rotas tempoSLA":{"main":[[{"node":"Loop","type":"main","index":0}],[{"node":"Discord: SLA na metade","type":"main","index":0}],[{"node":"Discord: Ultrapassou o SLA","type":"main","index":0}],[{"node":"Supabase: Atualiza status count_sla","type":"main","index":0}]]},"Discord: SLA na metade":{"main":[[{"node":"Aguarda","type":"main","index":0}]]},"Discord: Ultrapassou o SLA":{"main":[[{"node":"Aguarda","type":"main","index":0}]]},"Supabase: Atualiza status count_sla":{"main":[[{"node":"Loop","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"23dbff41-169e-44f7-abdc-c12e7350eda0","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-10-21T11:42:39.260Z","createdAt":"2025-10-21T11:42:39.260Z","role":"workflow:owner","workflowId":"KMZ9dyngPgYLSh6f","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":null,"tags":[{"updatedAt":"2025-10-24T18:08:59.444Z","createdAt":"2025-10-24T18:08:59.444Z","id":"jng5bBYYvxUL3PF4","name":"fluxoEncerramento"},{"updatedAt":"2025-10-24T18:08:27.659Z","createdAt":"2025-10-24T18:08:27.659Z","id":"oUDNU2rUDi9xwp5Q","name":"FluxoNOC_principal"}]}