04.03.-encerramento-status-3-QNyzEqIoL0efragx.json
{"updatedAt":"2026-01-28T17:13:58.000Z","createdAt":"2025-10-16T12:30:21.868Z","id":"QNyzEqIoL0efragx","name":"04.03. encerramento status 3","active":false,"isArchived":true,"nodes":[{"parameters":{"jsCode":"const sla_padrao_do_cliente = $input.first().json.segundos_decrescimo_horas;\nconst timestamp_queda = $('BD: Recupera eventos 3').first().json.timestampQueda;\nconst timestamp_recuperacao = $('BD: Recupera eventos 3').first().json.timestampRecuperacao;\nconst tipo_cliente = $input.first().json.id;\n\nconst timestamsp_atual = DateTime.now().toUnixInteger();\nconst dif_atual_menos_queda = timestamsp_atual - timestamp_queda;\nconst flagExcedeuSla = !(sla_padrao_do_cliente >= dif_atual_menos_queda)\n\nfunction ajustaDataHora (dataHoraTimestamp) {\n    const clock = parseInt(dataHoraTimestamp);\n  \n    const data_hora_ajustada = DateTime.fromSeconds(clock, {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).toFormat(\"cccc dd/MM/yyyy HH:mm:ss\").toUpperCase();\n  \n    return data_hora_ajustada\n}\n\nif (flagExcedeuSla == true) {\n  if (tipo_cliente <= 2) {\n    return [{\n      flagExcedeuSla, \n      flagAtuacao: \"Recupera eventos\", \n      tipo_cliente: \"Contrato\",\n      dataHoraQueda: ajustaDataHora(timestamp_queda),\n      dataHoraRecuperacao: ajustaDataHora(timestamp_recuperacao)\n    }];\n  } else {\n    return [{\n      flagExcedeuSla, \n      flagAtuacao: \"Encerra chamado\", \n      tipo_cliente: \"Geral\",\n      dataHoraQueda: ajustaDataHora(timestamp_queda),\n      dataHoraRecuperacao: ajustaDataHora(timestamp_recuperacao)\n    }]\n  }\n} else {\n  const flagMetadeSla = !(sla_padrao_do_cliente / 2 >= dif_atual_menos_queda)\n  if (flagMetadeSla == true) {\n    return [{\n      flagExcedeuSla, \n      flagMetadeSla, \n      flagAtuacao: \"Recupera eventos\",\n      dataHoraQueda: ajustaDataHora(timestamp_queda),\n      dataHoraRecuperacao: ajustaDataHora(timestamp_recuperacao)\n      \n    }]\n  } else {\n    return [{\n      flagExcedeuSla, \n      flagMetadeSla, \n      flagAtuacao: \"Acrescenta contagem\",\n      dataHoraQueda: ajustaDataHora(timestamp_queda),\n      dataHoraRecuperacao: ajustaDataHora(timestamp_recuperacao)\n    }]\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,-112],"id":"03f3586d-62b3-490a-817a-0fe1229d810d","name":"Trabalhando com tempos"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.flagExcedeuSla }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"b2ab8ea1-8f78-4e3f-bce7-d2ceac653f47"}],"combinator":"and"},"renameOutput":true,"outputKey":"EXCEDEU"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c28b955d-db05-4fc9-918b-eae425baabbb","leftValue":"={{ $json.flagExcedeuSla }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"NÃO EXCEDEU"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1136,-112],"id":"83afbc4b-2fb7-4f29-bb61-a5d4b24376e3","name":"Rota: Excedeu SLA"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.flagAtuacao }}","rightValue":"Encerra chamado","operator":{"type":"string","operation":"equals"},"id":"340baa2c-f7bb-4714-8ea6-ea1465a11c7c"}],"combinator":"and"},"renameOutput":true,"outputKey":"ENCERRAMENTO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0d0213c6-4965-4cd7-9663-eb55e74bce35","leftValue":"={{ $json.flagAtuacao }}","rightValue":"Recupera eventos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CONSULTA ZABBIX"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1424,-528],"id":"b231b8a9-92e2-4ae2-88ce-35318361729a","name":"Rota: Tipo atuação"},{"parameters":{"jsCode":"const eventos_relacionados = $('BD: Recupera eventos 3').first().json.eventosRelacionados;\n\n// FUNÇÃO PARA AJUSTAR A DATA E HORA\nfunction ajustaDataHora (timestamp) {\n  const clock = parseInt(timestamp);\n\n  const data_hora_ajustada = DateTime.fromSeconds(clock, {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).toFormat(\"cccc dd/MM/yyyy HH:mm:ss\").toUpperCase();\n\n  return data_hora_ajustada\n}\n\n// FUNÇÃO DE COMPRIMENTO COM BASE NO TURNO\nfunction getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\n// PREENCHE O HTML DO CLIENTE DINAMICAMENTE\nlet linhaTabela = \"\";\nfunction htmlClienteEncerramentoUnico(host, evento, queda_formatada, recuperacao_formatada){\n  linhaTabela += `\n    <tr>\n      <td>${host}</td>\n      <td>${evento}</td>\n      <td>${queda_formatada}</td>\n      <td>${recuperacao_formatada}</td>\n    </tr>\n  `;\n\n\tconst htmlCliente = `\n\t<p>${getGreeting()}</p>\n\t<br>\n\t<p>\n      Informamos que o evento abaixo consta <strong>normalizado</strong> em nosso sistema de monitoramento.\n\t</p>\n\t<div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n      <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n        <thead>\n          <tr>\n            <th>Host</th>\n            <th>Evento</th>\n            <th>Horário da ocorrência</th>\n            <th>Horário da normalização</th>\n          </tr>\n        </thead>\n        <tbody>\n          ${linhaTabela}\n        </tbody>\n      </table>\n\t</div>\n\t\n\t<p>Permanecemos à disposição para quaisquer esclarecimentos adicionais.</p>\n\t<br>\n\t<br>\n\t<p>Atenciosamente,</p>\n\t<img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n\t`;\n\treturn htmlCliente;\n}\n\nif (eventos_relacionados.length == 1) {\n  const host = $('BD: Recupera eventos 3').first().json.nomeHost;\n  const evento = $('BD: Recupera eventos 3').first().json.nomeEvento;\n  const data_hora_queda = ajustaDataHora($('BD: Recupera eventos 3').first().json.timestampQueda);\n  const data_hora_recuperacao = ajustaDataHora($('BD: Recupera eventos 3').first().json.timestampRecuperacao);\n  \n  return [{flagMultziplosEventos: false, htmlCliente: htmlClienteEncerramentoUnico(host, evento, data_hora_queda, data_hora_recuperacao)}]\n}\nelse {\n  return [{flagMultiplosEventos: true}]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1728,-752],"id":"f487370b-4fd4-48e8-ad86-f2a5de859e40","name":"Preparar htmlCliente"},{"parameters":{"jsCode":"const htmlCliente = $input.first().json.htmlCliente\n\nreturn {\n  json: {\n    actions: [\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" }}\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1952,-752],"id":"9db0b372-9bdc-4b29-82b0-838d22cd4ba0","name":"JSON com htmlCliente"},{"parameters":{"jsCode":"return {\n  json: {\n    status: \"Resolvido\",\n    baseStatus: \"Closed\", //\"Stopped\"\n    justification: null, //\"Validação\"\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,-752],"id":"ff0ae99b-5902-4614-aa33-0149246e2815","name":"JSON de encerramento"},{"parameters":{"method":"PATCH","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $('BD: Recupera eventos 3').first().json.ticketMovidesk }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2624,-752],"id":"5ab2d465-cb4e-485f-8aa8-80484c6c0957","name":"Movidesk: Encerra","alwaysOutputData":true,"credentials":{"httpQueryAuth":{"id":"TMwtQv0hjXbvLVng","name":"Movidesk token"}}},{"parameters":{"method":"PATCH","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $('BD: Recupera eventos 3').first().json.ticketMovidesk }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2176,-752],"id":"bdf24486-2487-42ba-b892-0a429067f254","name":"Movidesk: Notifca","alwaysOutputData":true,"credentials":{"httpQueryAuth":{"id":"TMwtQv0hjXbvLVng","name":"Movidesk token"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[272,-112],"id":"1a921228-fd01-458a-a13c-befe6ad2b437","name":"Schedule"},{"parameters":{"operation":"getAll","tableId":"eventosZabbix","limit":2,"matchType":"allFilters","filters":{"conditions":[{"keyName":"statusChamado","condition":"eq","keyValue":"3"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[496,-112],"id":"35c033ce-339c-4a76-9ec6-021b41b7e876","name":"BD: Recupera eventos 3","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"variaveis_cliente","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.idVariavelCliente }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[720,-112],"id":"099d1b92-54a0-4cbd-a4bc-440c08d1a195","name":"BD: Recupera variáveis do cliente","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=**CLIENTE:** {{ $('BD: Recupera eventos 3').first().json.raizNomeHost }}\n- **HOST:** {{ $('BD: Recupera eventos 3').first().json.nomeHost }}\n- **EVENTO:** {{ $('BD: Recupera eventos 3').first().json.nomeEvento }}\n- **INDISPONÍVEL EM:** {{ $('Trabalhando com tempos').first().json.dataHoraQueda }}\n- **RECUPERADO EM:** {{ $('Trabalhando com tempos').first().json.dataHoraRecuperacao }}\n- **TICKET MOVIDESK:** {{ $('BD: Recupera eventos 3').first().json.ticketMovidesk }}","author":"Fluxo de encerramento 3","color":"#69BF6C","title":"Evento encerrado","thumbnail":"https://cdn-icons-png.freepik.com/64/16799/16799619.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2848,-752],"id":"cb49507f-a232-4680-9a4e-61965fdf0dee","name":"Discord: Notifica encerramento","webhookId":"ecc67fdf-696d-404d-9a48-d6a15ac4470e","credentials":{"discordWebhookApi":{"id":"p0quhCwySuEFVzFi","name":"Clientes gerais: Encerramento de chamados"}}},{"parameters":{"operation":"update","tableId":"eventosZabbix","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Recupera eventos 3').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"statusChamado","fieldValue":"5"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3072,-752],"id":"b6776791-19a1-4695-8ccd-7f94e0e93536","name":"BD: Atualiza BD","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=- **HOST:** {{ $('BD: Recupera eventos 3').first().json.nomeHost }}\n- **EVENTO:** {{ $('BD: Recupera eventos 3').first().json.nomeEvento }}","author":"Fluxo de enceramento status 3","color":"#009EDD","title":"=Nova rota - não excedeu SLA","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1408,480],"id":"f5876b28-513a-4204-ba36-291e28c41c50","name":"Admin","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações gerais"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=- **HOST:** {{ $('BD: Recupera eventos 3').first().json.nomeHost }}\n- **EVENTO:** {{ $('BD: Recupera eventos 3').first().json.nomeEvento }}","author":"Fluxo de enceramento status 3","color":"#009EDD","title":"=Nova rota - excedeu SLA para clientes de contrato - encerrar chamado","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2400,-464],"id":"3d697e16-1fc9-409a-9b6a-e53b3b19981e","name":"Admin1","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações gerais"}}},{"parameters":{"jsCode":"const id_host = $('BD: Recupera eventos 3').first().json.idHost;\nconst timestamp_recuperacao = $('BD: Recupera eventos 3').first().json.timestampRecuperacao;\n\nreturn {\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"r_eventid\", \"acknowledged\"],\n    \"hostids\": id_host,\n    \"selectHosts\": [\"hostid\", \"name\"],\n    \"select_acknowledges\": [\"clock\", \"message\", \"action\"],\n    \"selectRelatedObject\": [\"description\"],\n    \"time_from\": timestamp_recuperacao,\n    \"time_till\": timestamp_recuperacao + (60 * 60),\n    \"sortfield\": [\"clock\"],\n    \"sortorder\": \"DESC\"\n  },\n  \"id\": 2\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1728,-320],"id":"5c022d3c-5051-47a8-af0d-71883a0bc244","name":"Prepara busca de eventos"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6f7afa98-d746-42a3-ad72-c3f26206b130","leftValue":"={{ $json.flagEncerrarChamado }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2400,-320],"id":"c164d854-0f05-4430-bd5c-4e8b9289c5b1","name":"Encerrar chamado?"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1952,-320],"id":"7809ee50-9c41-4fa4-b8da-416f76986fd3","name":"Zabbix: event.get","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const results = $input.first().json.result;\n\nconst eventos_ativos = [];\nfor (const ev of results) {\n  const recovery_event_id = parseInt(ev.r_eventid);\n  if (recovery_event_id >= 1) {\n    eventos_ativos.push(ev)\n  }\n}\n\nlet qtdEventosNoPeriodo;\nlet flagEncerrarChamado;\nif (eventos_ativos.length < 3) {\n  qtdEventosNoPeriodo = eventos_ativos.length\n  flagEncerrarChamado = true\n} else if (eventos_ativos.length > 3 && eventos_ativos.length <= 6) {\n  qtdEventosNoPeriodo = eventos_ativos.length\n  flagEncerrarChamado = false\n}\n\nlet status3Rodada;\nif (flagEncerrarChamado == false ) {\n  status3Rodada = $('BD: Recupera eventos 3').first().json.rodadaSt3 + 1;  \n}\n\nreturn [{\n  qtdEventosNoPeriodo,\n  flagEncerrarChamado,\n  status3Rodada\n}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2176,-320],"id":"ee177ac9-fb46-456f-8bc6-672812b94ceb","name":"Valida encerramento de chamado"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84a0fba2-9a25-4579-b460-932b3e740932","leftValue":"={{ $json.flagMetadeSla }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1408,336],"id":"e0b70fa9-5fb4-45ed-bb9f-36575b504294","name":"Já alcançou metade do SLA?"},{"parameters":{"jsCode":"const id_host = $('BD: Recupera eventos 3').first().json.idHost;\nconst timestamp_recuperacao = $('BD: Recupera eventos 3').first().json.timestampRecuperacao;\n\nreturn {\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"r_eventid\", \"acknowledged\"],\n    \"hostids\": [id_host],\n    \"selectHosts\": [\"hostid\", \"name\"],\n    \"selectAcknowledges\": [\"clock\", \"message\", \"action\"],\n    \"selectRelatedObject\": [\"description\", \"value\"],\n    \"time_from\": timestamp_recuperacao,\n    \"time_till\": timestamp_recuperacao + (60 * 60),\n    \"sortfield\": [\"clock\"],\n    \"sortorder\": \"DESC\"\n  },\n  \"id\": 2\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1632,192],"id":"3a65488a-1511-4cff-98f7-7f26e94c600f","name":"Prepara busca de eventos1"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1856,192],"id":"9ecd6fce-7526-40f6-8361-80cf18e919d8","name":"Zabbix: event.get1","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const results = $input.first().json.result;\n\nconst eventos_ativos = [];\nfor (const ev of results) {\n  const recovery_event_id = parseInt(ev.r_eventid);\n  if (recovery_event_id >= 1) {\n    eventos_ativos.push(ev)\n  }\n}\n\nlet qtdEventosNoPeriodo;\nlet flagEncerrarChamado;\nif (eventos_ativos.length < 3) {\n  qtdEventosNoPeriodo = eventos_ativos.length\n  flagEncerrarChamado = true\n} else if (eventos_ativos.length > 3 && eventos_ativos.length <= 6) {\n  qtdEventosNoPeriodo = eventos_ativos.length\n  flagEncerrarChamado = false\n}\n\nlet status3Rodada;\nif (flagEncerrarChamado == false ) {\n  status3Rodada = $('BD: Recupera eventos 3').first().json.rodadaSt3 + 1;  \n}\n\nreturn [{\n  qtdEventosNoPeriodo,\n  flagEncerrarChamado,\n  status3Rodada\n}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,192],"id":"37999c30-ee98-4112-9ea5-50794d6a714e","name":"Valida encerramento de chamado1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e06ddce6-bf1a-4a13-9eae-cc6021ace3d5","leftValue":"={{ $json.flagEncerrarChamado }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2288,192],"id":"c262c27a-ac1d-4e95-b338-5862e2c27945","name":"Encerrar chamado?1"},{"parameters":{"jsCode":"const eventos_relacionados = $('BD: Recupera eventos 3').first().json.eventosRelacionados;\n\n// FUNÇÃO PARA AJUSTAR A DATA E HORA\nfunction ajustaDataHora (timestamp) {\n  const clock = parseInt(timestamp);\n\n  const data_hora_ajustada = DateTime.fromSeconds(clock, {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).toFormat(\"cccc dd/MM/yyyy HH:mm:ss\").toUpperCase();\n\n  return data_hora_ajustada\n}\n\n// FUNÇÃO DE COMPRIMENTO COM BASE NO TURNO\nfunction getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\n// PREENCHE O HTML DO CLIENTE DINAMICAMENTE\nlet linhaTabela = \"\";\nfunction htmlClienteEncerramentoUnico(host, evento, queda_formatada, recuperacao_formatada){\n  linhaTabela += `\n    <tr>\n      <td>${host}</td>\n      <td>${evento}</td>\n      <td>${queda_formatada}</td>\n      <td>${recuperacao_formatada}</td>\n    </tr>\n  `;\n\n\tconst htmlCliente = `\n\t<p>${getGreeting()}</p>\n\t<br>\n\t<p>\n      Informamos que o evento abaixo consta <strong>normalizado</strong> em nosso sistema de monitoramento.\n\t</p>\n\t<div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n      <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n        <thead>\n          <tr>\n            <th>Host</th>\n            <th>Evento</th>\n            <th>Horário da ocorrência</th>\n            <th>Horário da normalização</th>\n          </tr>\n        </thead>\n        <tbody>\n          ${linhaTabela}\n        </tbody>\n      </table>\n\t</div>\n\t\n\t<p>Permanecemos à disposição para quaisquer esclarecimentos adicionais.</p>\n\t<br>\n\t<br>\n\t<p>Atenciosamente,</p>\n\t<img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n\t`;\n\treturn htmlCliente;\n}\n\nif (eventos_relacionados.length == 1) {\n  const host = $('BD: Recupera eventos 3').first().json.nomeHost;\n  const evento = $('BD: Recupera eventos 3').first().json.nomeEvento;\n  const data_hora_queda = ajustaDataHora($('BD: Recupera eventos 3').first().json.timestampQueda);\n  const data_hora_recuperacao = ajustaDataHora($('BD: Recupera eventos 3').first().json.timestampRecuperacao);\n  \n  return [{flagMultziplosEventos: false, htmlCliente: htmlClienteEncerramentoUnico(host, evento, data_hora_queda, data_hora_recuperacao)}]\n}\nelse {\n  return [{flagMultiplosEventos: true}]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2512,112],"id":"62ba7f91-6580-4779-822f-61bcd2e032ac","name":"Preparar htmlCliente1"},{"parameters":{"jsCode":"const htmlCliente = $input.first().json.htmlCliente\n\nreturn {\n  json: {\n    actions: [\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" }}\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2736,112],"id":"3d8c516d-d4a7-4dac-ba94-6d52786f494d","name":"JSON com htmlCliente1"},{"parameters":{"jsCode":"return {\n  json: {\n    status: \"Resolvido\",\n    baseStatus: \"Closed\", //\"Stopped\"\n    justification: null, //\"Validação\"\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3184,112],"id":"bc5bb290-aff7-4260-9314-f8dc375c7b86","name":"JSON de encerramento1"},{"parameters":{"method":"PATCH","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $('BD: Recupera eventos 3').first().json.ticketMovidesk }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3408,112],"id":"1a6f770b-84df-4241-bb8e-65ede3ad222e","name":"Movidesk: Encerra1","alwaysOutputData":true,"credentials":{"httpQueryAuth":{"id":"TMwtQv0hjXbvLVng","name":"Movidesk token"}}},{"parameters":{"method":"PATCH","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $('BD: Recupera eventos 3').first().json.ticketMovidesk }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2960,112],"id":"ad00ee80-5f2c-4605-a329-f474520e8062","name":"Movidesk: Notifca1","alwaysOutputData":true,"credentials":{"httpQueryAuth":{"id":"TMwtQv0hjXbvLVng","name":"Movidesk token"}}},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=**CLIENTE:** {{ $('BD: Recupera eventos 3').first().json.raizNomeHost }}\n- **HOST:** {{ $('BD: Recupera eventos 3').first().json.nomeHost }}\n- **EVENTO:** {{ $('BD: Recupera eventos 3').first().json.nomeEvento }}\n- **INDISPONÍVEL EM:** {{ $('Trabalhando com tempos').first().json.dataHoraQueda }}\n- **RECUPERADO EM:** {{ $('Trabalhando com tempos').first().json.dataHoraRecuperacao }}\n- **TICKET MOVIDESK:** {{ $('BD: Recupera eventos 3').first().json.ticketMovidesk }}","author":"Fluxo de encerramento 3","color":"#69BF6C","title":"Evento encerrado","thumbnail":"https://cdn-icons-png.freepik.com/64/16799/16799619.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3856,208],"id":"df3f7cd3-d4de-4dbe-b686-70c0f177a595","name":"Discord: Notifica encerramento1","webhookId":"ecc67fdf-696d-404d-9a48-d6a15ac4470e","credentials":{"discordWebhookApi":{"id":"p0quhCwySuEFVzFi","name":"Clientes gerais: Encerramento de chamados"}}},{"parameters":{"operation":"update","tableId":"eventosZabbix","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Recupera eventos 3').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"statusChamado","fieldValue":"5"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4080,112],"id":"fd4f95cd-1642-4972-a234-d865b1064c31","name":"BD: Atualiza BD1","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0794e125-adc9-4a1c-9959-053f88fc4670","leftValue":"={{ $('BD: Recupera eventos 3').first().json.idVariavelCliente }}","rightValue":2,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3632,112],"id":"8220b556-5097-4947-b28e-5cd320889d00","name":"Cliente de contrato?"},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=**CLIENTE:** {{ $('BD: Recupera eventos 3').first().json.raizNomeHost }}\n- **HOST:** {{ $('BD: Recupera eventos 3').first().json.nomeHost }}\n- **EVENTO:** {{ $('BD: Recupera eventos 3').first().json.nomeEvento }}\n- **INDISPONÍVEL EM:** {{ $('Trabalhando com tempos').first().json.dataHoraQueda }}\n- **RECUPERADO EM:** {{ $('Trabalhando com tempos').first().json.dataHoraRecuperacao }}\n- **TICKET MOVIDESK:** {{ $('BD: Recupera eventos 3').first().json.ticketMovidesk }}","author":"Fluxo de encerramento 3","color":"#69BF6C","title":"Evento encerrado","thumbnail":"https://cdn-icons-png.freepik.com/64/16799/16799619.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3856,16],"id":"718dcb79-1a79-41df-9d92-b16c2a1ebc0f","name":"Discord: Notifica encerramento2","webhookId":"ecc67fdf-696d-404d-9a48-d6a15ac4470e","credentials":{"discordWebhookApi":{"id":"Bk2P3MvXnNNWNRrD","name":"Contratos: Encerramento de alertas"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=- **HOST:** {{ $('BD: Recupera eventos 3').first().json.nomeHost }}\n- **EVENTO:** {{ $('BD: Recupera eventos 3').first().json.nomeEvento }}","author":"Fluxo de enceramento status 3","color":"#009EDD","title":"=Nova rota - não excedeu SLA","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2288,336],"id":"8aa9625c-b283-4434-b706-8d6db0d8558f","name":"Admin2","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações gerais"}}}],"connections":{"Trabalhando com tempos":{"main":[[{"node":"Rota: Excedeu SLA","type":"main","index":0}]]},"Rota: Excedeu SLA":{"main":[[{"node":"Rota: Tipo atuação","type":"main","index":0}],[{"node":"Já alcançou metade do SLA?","type":"main","index":0}]]},"Rota: Tipo atuação":{"main":[[{"node":"Preparar htmlCliente","type":"main","index":0}],[{"node":"Prepara busca de eventos","type":"main","index":0}]]},"Preparar htmlCliente":{"main":[[{"node":"JSON com htmlCliente","type":"main","index":0}]]},"JSON com htmlCliente":{"main":[[{"node":"Movidesk: Notifca","type":"main","index":0}]]},"JSON de encerramento":{"main":[[{"node":"Movidesk: Encerra","type":"main","index":0}]]},"Movidesk: Notifca":{"main":[[{"node":"JSON de encerramento","type":"main","index":0}]]},"Schedule":{"main":[[{"node":"BD: Recupera eventos 3","type":"main","index":0}]]},"BD: Recupera eventos 3":{"main":[[{"node":"BD: Recupera variáveis do cliente","type":"main","index":0}]]},"BD: Recupera variáveis do cliente":{"main":[[{"node":"Trabalhando com tempos","type":"main","index":0}]]},"Movidesk: Encerra":{"main":[[{"node":"Discord: Notifica encerramento","type":"main","index":0}]]},"Discord: Notifica encerramento":{"main":[[{"node":"BD: Atualiza BD","type":"main","index":0}]]},"Prepara busca de eventos":{"main":[[{"node":"Zabbix: event.get","type":"main","index":0}]]},"Encerrar chamado?":{"main":[[{"node":"Admin1","type":"main","index":0}]]},"Zabbix: event.get":{"main":[[{"node":"Valida encerramento de chamado","type":"main","index":0}]]},"Valida encerramento de chamado":{"main":[[{"node":"Encerrar chamado?","type":"main","index":0}]]},"Prepara busca de eventos1":{"main":[[{"node":"Zabbix: event.get1","type":"main","index":0}]]},"Zabbix: event.get1":{"main":[[{"node":"Valida encerramento de chamado1","type":"main","index":0}]]},"Já alcançou metade do SLA?":{"main":[[{"node":"Prepara busca de eventos1","type":"main","index":0}],[{"node":"Admin","type":"main","index":0}]]},"Valida encerramento de chamado1":{"main":[[{"node":"Encerrar chamado?1","type":"main","index":0}]]},"Preparar htmlCliente1":{"main":[[{"node":"JSON com htmlCliente1","type":"main","index":0}]]},"JSON com htmlCliente1":{"main":[[{"node":"Movidesk: Notifca1","type":"main","index":0}]]},"JSON de encerramento1":{"main":[[{"node":"Movidesk: Encerra1","type":"main","index":0}]]},"Movidesk: Encerra1":{"main":[[{"node":"Cliente de contrato?","type":"main","index":0}]]},"Movidesk: Notifca1":{"main":[[{"node":"JSON de encerramento1","type":"main","index":0}]]},"Discord: Notifica encerramento1":{"main":[[{"node":"BD: Atualiza BD1","type":"main","index":0}]]},"Encerrar chamado?1":{"main":[[{"node":"Preparar htmlCliente1","type":"main","index":0}],[{"node":"Admin2","type":"main","index":0}]]},"Cliente de contrato?":{"main":[[{"node":"Discord: Notifica encerramento2","type":"main","index":0}],[{"node":"Discord: Notifica encerramento1","type":"main","index":0}]]},"Discord: Notifica encerramento2":{"main":[[{"node":"BD: Atualiza BD1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule":[{"json":{"timestamp":"2025-12-23T16:15:35.010-03:00","Readable date":"December 23rd 2025, 4:15:35 pm","Readable time":"4:15:35 pm","Day of week":"Tuesday","Year":"2025","Month":"December","Day of month":"23","Hour":"16","Minute":"15","Second":"35","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"081d1b86-c694-44f0-9c70-c77eae87364d","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-10-16T12:30:21.889Z","createdAt":"2025-10-16T12:30:21.889Z","role":"workflow:owner","workflowId":"QNyzEqIoL0efragx","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":null,"tags":[{"updatedAt":"2025-10-24T18:08:59.444Z","createdAt":"2025-10-24T18:08:59.444Z","id":"jng5bBYYvxUL3PF4","name":"fluxoEncerramento"},{"updatedAt":"2025-10-24T18:08:27.659Z","createdAt":"2025-10-24T18:08:27.659Z","id":"oUDNU2rUDi9xwp5Q","name":"FluxoNOC_principal"}]}