04.01.-encerramento-status-1-nbuAZprkKxag4PmI.json
{"updatedAt":"2026-01-28T17:14:09.000Z","createdAt":"2025-10-17T13:46:49.572Z","id":"nbuAZprkKxag4PmI","name":"04.01. encerramento status 1","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-528,-576],"id":"c5d8bc3a-9c6a-480e-8c7a-1ed4e2c357ac","name":"Schedule Trigger"},{"parameters":{"operation":"getAll","tableId":"eventosZabbix","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"statusChamado","condition":"eq","keyValue":"1"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-304,-576],"id":"f4b1f380-d685-4443-9f8d-89a2a691b7d6","name":"Supabase: Recupera eventos com status 1","alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-80,-576],"id":"b2159545-7f06-4490-8a0e-aa0aebba404f","name":"Loop "},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ace6ae84-3ded-488d-b355-6e8467e7ec16","leftValue":"={{ parseInt($('Loop ').item.json.ticket_movidesk) }}","rightValue":"","operator":{"type":"number","operation":"empty","singleValue":true}},{"id":"5cf63e05-f676-4fdc-9e23-ebabc524c888","leftValue":"={{ $('Loop ').item.json.retry_schedule }}","rightValue":"={{ $json.max_retry_schedule }}","operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,-464],"id":"03143615-6ef9-4581-9d6f-90815e61c313","name":"Ticket Movidesk está vazio?"},{"parameters":{"operation":"getAll","tableId":"variaveis_cliente","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id_cliente_variaveis }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[224,-464],"id":"88f7b134-d419-4f31-a4b1-3ae807350479","name":"Recupera variáveis do cliente1","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"host\", \"hostid\"],\n    \"select_acknowledges\": [\n      \"acknowledgeid\",\n      \"eventid\",\n      \"clock\",\n      \"message\"\n    ],\n    \"time_from\": \"{{ $('Loop ').item.json.timestamp_queda }}\",\n    \"hostids\": \"{{ $('Loop ').item.json.id_host }}\",\n    \"sortfield\": \"clock\",\n    \"sortorder\": \"DESC\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,-464],"id":"d0e5154b-0c7e-4e42-afa2-53d15023bb1f","name":"Zabbix: Recupera eventos do host","alwaysOutputData":false,"retryOnFail":false,"notesInFlow":false},{"parameters":{"jsCode":"const resultados = $input.first().json.result;\n\nlet tickets = [];\n\nfor (const resultado of resultados) {\n  if (!resultado.acknowledges) continue; // evita erro se não tiver reconhecimentos\n\n  for (const ack of resultado.acknowledges) {\n    if (ack.message) {\n      tickets.push(parseInt(ack.message));\n    }\n  }\n}\n\nreturn { tickets };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,-464],"id":"96d922aa-5c63-4e08-8e65-fb0a69fe59e9","name":"Retira o ticket das observações1"},{"parameters":{"operation":"update","tableId":"base","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop ').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"retry_schedule","fieldValue":"={{ $('Loop ').item.json.retry_schedule + 1 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1408,-368],"id":"5659001c-b4c1-42ec-add2-42cc50971785","name":"Atualiza registro para status_chamado ","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf003ff-8389-41c5-b755-de5f60601dbf","leftValue":"={{ $json.tickets[0] }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1120,-464],"id":"1a86ebc7-bf09-4602-ba7c-29dfc145081a","name":"Existe algum ticket?"},{"parameters":{"operation":"update","tableId":"base","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop ').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"retry_schedule","fieldValue":"=0"},{"fieldId":"status_chamado","fieldValue":"1"},{"fieldId":"ticket_movidesk","fieldValue":"={{ $json.tickets[0] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1408,-560],"id":"2dcd447c-c158-44ba-a696-6eedf5eabed3","name":"Supabase: Atualiza statusChamado","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6\n&$select=id,subject\n&$expand=actions\n&$filter=(createdBy/businessName eq 'MTMON') and (status eq 'Novo') and (subject eq '{{ $json.mensagem_final }}')","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,-80],"id":"afba92f1-d20e-4225-af42-cdf66db281c5","name":"Movidesk: Pesquisar correspondências","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d57c628f-e717-4d98-a329-4d6738807a7b","leftValue":"={{ parseInt($json[\"Protocolo da ligação\"]) }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1728,-176],"id":"b230d287-9dec-477a-8301-d2fdfdfa3dcb","name":"Tem correspondências?"},{"parameters":{"jsCode":"const description = $input.first().json.actions[0].description || \"\";\n\n// --- Divide em linhas e limpa ---\nconst linhas = description.split('\\n').map(l => l.trim()).filter(l => l.length > 0);\n\n// --- Expressão para capturar \"Chave: Valor\" ---\nconst regexCampo = /^([^:]+):\\s*(.*)$/;\n\n// --- Objeto final ---\nconst dados = {};\n\n// --- Percorre cada linha ---\nfor (const linha of linhas) {\n  const match = linha.match(regexCampo);\n  if (match) {\n    const chave = match[1].trim();\n    const valor = match[2].trim();\n    dados[chave] = valor;\n  }\n}\n\n// --- Retorna um único objeto JSON ---\nreturn [{ json: dados }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,-176],"id":"5b84d12a-48ee-4541-b854-3cac98f2cbd7","name":"Normaliza os dados correspondentes"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1728,-464],"id":"cb636c33-4b5c-4e14-b364-d368858c2aab","name":"Recomeça"},{"parameters":{"jsCode":"const ticketMovideskCliente = $('Loop ').first().json.ticket_movidesk;\n\nreturn {\n  json: {\n    actions: [\n      { type: 2, description: `Ticket ${ticketMovideskCliente}`, createdBy: { id: \"1458772347\" }, workTime: \"00:01:00\" }\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,-176],"id":"f6193b87-c939-48ec-8970-76920dd680f1","name":"Preparando atualização para encerramento"},{"parameters":{"jsCode":"const nomeHostCompleto = \"INDIGO SHOPPING DA ILHA - FORTIGATE 40F - 172.23.11.254\" // $('Loop ').first().json.nome_host\n\n// --- Processamento ---\n// Substitui espaços por underline e pontos no IP por underline também\nlet nomeHostFormatado = nomeHostCompleto.replace(/\\s+/g, \"_\").replace(/\\./g, \"_\");\n\n// Adiciona prefixo e sufixo\nconst mensagemFinal = `Evento NOC: ${nomeHostFormatado} - VERIFICAR MENSAGEM`;\n\n// --- Saída ---\nreturn {\n  json: {\n    nomeHostCompleto: nomeHostCompleto,\n    mensagem_final: mensagemFinal\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[976,-80],"id":"8669cfc1-ef16-4c29-919d-e6bdaed705de","name":"Ajusta o texto de pesquisa"},{"parameters":{"method":"PATCH","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6&id=","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2176,-176],"id":"21079304-4199-4f41-984c-685d1865ce32","name":"Movidesk: Atualiza ticket","retryOnFail":true,"alwaysOutputData":true},{"parameters":{"jsCode":"// ==== VARIÁVEIS GLOBAIS ====\nconst nomeHost_simplificado = $('Loop ').first().json.hostLimpo;\nconst operadora = $input.first().json.Operadora.toUpperCase();\nconst protocoloLigacao = $input.first().json['Protocolo da ligação'];\nconst protocoloChamado = $input.first().json['Protocolo do atendimento'];\nconst sla = \"não informado\";\n\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting(timestamp) {\n  // Converte timestamp (segundos) em objeto Date\n  const date = new Date(timestamp * 1000);\n\n  // Obtém hora local (fuso horário do servidor)\n  const hour = new Date(date.toLocaleString(\"en-US\", { timeZone: \"America/Sao_Paulo\" })).getHours();\n\n  let greeting;\n\n  // Define o turno conforme o horário\n  if (hour >= 18 || hour < 5) {\n    greeting = \"Boa noite\";\n  } else if (hour >= 5 && hour < 12) {\n    greeting = \"Bom dia\";\n  } else {\n    greeting = \"Boa tarde\";\n  }\n\n  return greeting;\n}\n\nconst agora = new Date();\nconst timestampSegundos = Math.floor(agora.getTime() / 1000);\nconst greeting = getGreeting(timestampSegundos)\n\n\nconst htmlCliente = `\n  <p>${greeting}</p>\n  <br>\n  <p>Aberto chamado de reparo com a operadora ${operadora} para tratar da indisponibilidade do link de internet na unidade ${nomeHost_simplificado}.</p>\n  <p>Protocolo de atendimento número ${protocoloLigacao} - ${protocoloChamado}</p>\n  <p>SLA ${sla}</p>\n  <br>\n  \n  <p>Qualquer dúvida ficamos à disposição</p>\n  <br>\n  \n  <p>Atenciosamente,</p>\n  <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n  `;\n\nreturn {\n  json: {\n    actions: [\n      {\n        type: 2,\n        description: htmlCliente,\n        createdBy: {id: \"1458772347\"},\n        workTime: \"00:01:00\"\n      }\n    ]\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1952,-176],"id":"6e6c2507-8392-451b-86b2-9c0e93aa9816","name":"Prepara dados para atualização Movidesk"},{"parameters":{"method":"PATCH","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6&id=130489","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2624,-176],"id":"5c26583e-15d5-41e0-9702-d6942bc376ad","name":"Movidesk: Atualiza ticket Multitask","retryOnFail":true,"alwaysOutputData":true},{"parameters":{"jsCode":"return {\n  json: {\n    status: \"Resolvido\",\n    baseStatus: \"Closed\", //\"Stopped\"\n    justification: null, //\"Validação\"\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2944,-272],"id":"b7a82ee5-984f-4331-a77d-10dfa2daad0f","name":"Preparando atualização para encerramento1"},{"parameters":{"method":"PATCH","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6&id=130489","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3168,-272],"id":"58fd11c0-bc85-4e27-87e5-967a2d287585","name":"Movidesk: Atualiza ticket Multitask1","retryOnFail":true,"alwaysOutputData":true},{"parameters":{"jsCode":"const ticketMovidesk = $('Loop ').first().json.ticket_movidesk;\n\nconst messageAcks = `Chamado com operadora aberto - ${ticketMovidesk}`;\nconst eventId = $('Loop ').first().json.id_evento;\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: eventId,\n    message: messageAcks,\n    action: 6\n  },\n  auth: \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2944,-80],"id":"edcafeb6-bcc2-44da-9a87-21efd37d01af","name":"Prepara dados para reconhecimento"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3168,-80],"id":"406dcd89-8c87-4ea1-aed5-3d2055336b04","name":"Zabbix: Reconhece evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[240,-688],"id":"f4e50314-0152-4aa1-9d9b-0d10900e6ea5","name":"No Operation, do nothing"},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop ').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_chamado","fieldValue":"2"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1504,16],"id":"25b1b4ea-523d-44be-a265-af4cebece7ba","name":"Supabase: Atualiza tabela","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Supabase: Recupera eventos com status 1","type":"main","index":0}]]},"Supabase: Recupera eventos com status 1":{"main":[[{"node":"Loop ","type":"main","index":0}]]},"Loop ":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Recupera variáveis do cliente1","type":"main","index":0}]]},"Recupera variáveis do cliente1":{"main":[[{"node":"Ticket Movidesk está vazio?","type":"main","index":0}]]},"Ticket Movidesk está vazio?":{"main":[[{"node":"Zabbix: Recupera eventos do host","type":"main","index":0}],[{"node":"Ajusta o texto de pesquisa","type":"main","index":0}]]},"Retira o ticket das observações1":{"main":[[{"node":"Existe algum ticket?","type":"main","index":0}]]},"Zabbix: Recupera eventos do host":{"main":[[{"node":"Retira o ticket das observações1","type":"main","index":0}]]},"Atualiza registro para status_chamado ":{"main":[[{"node":"Recomeça","type":"main","index":0}]]},"Existe algum ticket?":{"main":[[{"node":"Supabase: Atualiza statusChamado","type":"main","index":0}],[{"node":"Atualiza registro para status_chamado ","type":"main","index":0}]]},"Supabase: Atualiza statusChamado":{"main":[[{"node":"Recomeça","type":"main","index":0}]]},"Movidesk: Pesquisar correspondências":{"main":[[{"node":"Normaliza os dados correspondentes","type":"main","index":0},{"node":"Supabase: Atualiza tabela","type":"main","index":0}]]},"Normaliza os dados correspondentes":{"main":[[{"node":"Tem correspondências?","type":"main","index":0}]]},"Tem correspondências?":{"main":[[{"node":"Prepara dados para atualização Movidesk","type":"main","index":0}],[{"node":"Recomeça","type":"main","index":0}]]},"Recomeça":{"main":[[{"node":"Loop ","type":"main","index":0}]]},"Preparando atualização para encerramento":{"main":[[{"node":"Movidesk: Atualiza ticket Multitask","type":"main","index":0}]]},"Ajusta o texto de pesquisa":{"main":[[{"node":"Movidesk: Pesquisar correspondências","type":"main","index":0}]]},"Prepara dados para atualização Movidesk":{"main":[[{"node":"Movidesk: Atualiza ticket","type":"main","index":0}]]},"Movidesk: Atualiza ticket":{"main":[[{"node":"Preparando atualização para encerramento","type":"main","index":0}]]},"Movidesk: Atualiza ticket Multitask":{"main":[[{"node":"Preparando atualização para encerramento1","type":"main","index":0},{"node":"Prepara dados para reconhecimento","type":"main","index":0}]]},"Preparando atualização para encerramento1":{"main":[[{"node":"Movidesk: Atualiza ticket Multitask1","type":"main","index":0}]]},"Prepara dados para reconhecimento":{"main":[[{"node":"Zabbix: Reconhece evento","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fd76cd32-832c-4c96-86bf-ef7e430e0a55","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-10-17T13:46:49.579Z","createdAt":"2025-10-17T13:46:49.579Z","role":"workflow:owner","workflowId":"nbuAZprkKxag4PmI","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":null,"tags":[{"updatedAt":"2025-10-24T18:08:59.444Z","createdAt":"2025-10-24T18:08:59.444Z","id":"jng5bBYYvxUL3PF4","name":"fluxoEncerramento"},{"updatedAt":"2025-10-24T18:08:27.659Z","createdAt":"2025-10-24T18:08:27.659Z","id":"oUDNU2rUDi9xwp5Q","name":"FluxoNOC_principal"}]}