05.-backup-de-fluxos-fXdqHKhF5G9NpFkdyl4Y3.json
{"updatedAt":"2026-01-29T19:32:20.000Z","createdAt":"2026-01-28T14:17:08.037Z","id":"fXdqHKhF5G9NpFkdyl4Y3","name":"05. Backup de fluxos","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5],"triggerAtHour":18}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"b06cd7c8-289b-40c2-bdbe-befceb17591a","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"36e1877a-40bc-4ae7-9b99-8d3ac4fb05d3","name":"Data completa","value":"={{ $json['Readable date'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"31cf73e6-71c8-4413-b0b2-a2e06dddd6c8","name":"Edit Fields"},{"parameters":{"filters":{"activeWorkflows":true},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[416,0],"id":"26e7cc8f-f375-4fc2-94b2-285b6866236c","name":"Get many workflows","credentials":{"n8nApi":{"id":"HLZj8rftsP2mkJxx","name":"API n8n"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[704,0],"id":"9d3af02b-b8ad-42fd-8577-341de5c139ac","name":"Convert to File"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Convert to File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b59a4589-4789-4657-8091-7de48d5cbe17","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-28T14:17:08.043Z","createdAt":"2026-01-28T14:17:08.043Z","role":"workflow:owner","workflowId":"fXdqHKhF5G9NpFkdyl4Y3","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-29T13:04:10.213Z","createdAt":"2025-12-29T13:04:10.213Z","id":"uKdbFhqjKW0d9Ijc","name":"Admin"}]}