12.01-noc---anteparo-z9MkkRIzWYSJJpeB.json
{"updatedAt":"2025-11-27T12:20:47.000Z","createdAt":"2025-11-25T18:10:24.149Z","id":"z9MkkRIzWYSJJpeB","name":"12.01 NOC - anteparo","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"zabbix","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-96,-32],"id":"fc08075a-15a0-47d7-bc33-707b8119d1a5","name":"Webhook","webhookId":"64342bfc-5ac6-4291-b5bf-a8dfac6ab0ef"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-96,160],"id":"2c3b06dd-f8e6-4804-9cf1-0b1487fca182","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"4dff7696-2c57-4599-9f85-3451c37c0625","name":"id_evento","value":"={{ parseInt($json.body.eventid) }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,-32],"id":"4e1813fa-da71-4c1d-aad7-9eedda64aa3c","name":"Event_id_webhook"},{"parameters":{"assignments":{"assignments":[{"id":"4dff7696-2c57-4599-9f85-3451c37c0625","name":"id_evento","value":"=175552208","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,160],"id":"efc36084-2e49-4e48-a854-4e6980af8870","name":"Event_id_manual"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"r_eventid\"],\n    \"eventids\": \"{{ $json.id_evento }}\",\n    \n    \"selectHosts\": [\"hostid\", \"name\"],\n\n    \"select_acknowledges\": [\n      \"clock\",\n      \"message\",\n      \"action\"\n    ],\n\n    \"selectRelatedObject\": [\n      \"description\",\n      \"value\"\n    ],\n    \"selectTags\": \"extend\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[352,64],"id":"0ede1c79-4299-453f-a8c4-80bba485f649","name":"Zabbix: Recupera dados completos","retryOnFail":true},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs","mode":"list","cachedResultName":"Dados_automação ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":22012169,"mode":"list","cachedResultName":"rotina_quedas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11ynejkll5Q6J6AJ--R3sIxLMyyd3AbTaTS9ncm1KQMs/edit#gid=22012169"},"columns":{"mappingMode":"defineBelow","value":{"id do evento":"={{ $json.eventId }}","host":"={{ $json.host }}","evento":"={{ $json.evento }}","timestamp queda":"={{ $json['timestamp queda'] }}","data e hora formatada":"={{ $json['data e hora formatada'] }}","grupoId":"={{ $json.grupoId }}","nome do grupo":"={{ $json.grupoNome }}"},"matchingColumns":[],"schema":[{"id":"id do evento","displayName":"id do evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"host","displayName":"host","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"evento","displayName":"evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"timestamp queda","displayName":"timestamp queda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data e hora formatada","displayName":"data e hora formatada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"grupoId","displayName":"grupoId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome do grupo","displayName":"nome do grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1248,64],"id":"bd3c4ac3-8d32-4913-9d2a-f262b1c97ac1","name":"Google: Adicionar nova linha","credentials":{"googleApi":{"id":"G23Xn5Fl7KzKph4r","name":"Google Service Account account"}}},{"parameters":{"assignments":{"assignments":[{"id":"91a2ea39-02fa-4f01-9d00-5476f3036043","name":"eventId","value":"={{ $('Zabbix: Recupera dados completos').item.json.result[0].eventid }}","type":"number"},{"id":"53117a2e-681b-4a14-b97e-fa0aafb51b8f","name":"host","value":"={{ $('Zabbix: Recupera dados completos').item.json.result[0].hosts[0].name }}","type":"string"},{"id":"c7f398fa-661c-4b8b-8872-8cba0e4013ee","name":"evento","value":"={{ $('Zabbix: Recupera dados completos').item.json.result[0].relatedObject.description }}","type":"string"},{"id":"34260ed4-3a1a-4ced-944d-e1d466b74f74","name":"timestamp queda","value":"={{ $('Zabbix: Recupera dados completos').item.json.result[0].clock }}","type":"number"},{"id":"c6c20f78-4cb6-4de2-8e36-bed6b9f1d947","name":"data e hora formatada","value":"={{ DateTime.fromSeconds(parseInt($('Zabbix: Recupera dados completos').item.json.result[0].clock), 'America/Sao_Paulo').format('dd-MM-yyyy HH:mm:ss') }}","type":"string"},{"id":"73393b1d-f9e9-4543-b2f3-736a0f0b6ed7","name":"grupoId","value":"={{ $json.bestGroup.groupid }}","type":"number"},{"id":"06ee3c9d-1395-41a5-a6be-24e5e1a8d183","name":"grupoNome","value":"={{ $json.bestGroup.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,64],"id":"ebd825a6-a01f-4a29-a446-f5a0351ce136","name":"Edita variáveis"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"host.get\",\n  \"params\": {\n    \"output\": [\"hostid\", \"name\"],\n    \"selectGroups\": [\"groupid\", \"name\"],\n    \"hostids\": \"{{ $json.result[0].hosts[0].hostid }}\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 2\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,64],"id":"617628a9-f65a-4190-b251-a5e63b5ae691","name":"Zabbix: Consulta grupo do host","retryOnFail":true},{"parameters":{"jsCode":"// Entrada esperada:\nconst host = $json.result[0].name; \nconst groups = $json.result[0].groups;\n\n// Normaliza texto (maiusculo e sem acentos)\nfunction normalize(str) {\n  return str\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase();\n}\n\nconst hostNormalized = normalize(host);\n\n// Função para contar quantas palavras do grupo existem no nome do host\nfunction countMatches(groupName, hostName) {\n  const groupWords = normalize(groupName).split(/\\s+/);\n\n  let count = 0;\n  for (const word of groupWords) {\n    if (word.length < 3) continue; // ignora palavras curtas tipo \"DE\", \"DO\", \"DA\"\n    if (hostName.includes(word)) count++;\n  }\n  return count;\n}\n\n// Determinar grupo mais correspondente\nlet bestGroup = null;\nlet bestScore = -1;\n\nfor (const group of groups) {\n  const matches = countMatches(group.name, hostNormalized);\n\n  if (matches > bestScore) {\n    bestScore = matches;\n    bestGroup = group;\n  }\n}\n\n// Retornar grupo campeão\nreturn {\n  bestGroup,\n  score: bestScore\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,64],"id":"06a92b95-c2d8-4c59-bca2-266b97b72215","name":"Separa o melhor grupo"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Event_id_manual","type":"main","index":0}]]},"Event_id_webhook":{"main":[[{"node":"Zabbix: Recupera dados completos","type":"main","index":0}]]},"Event_id_manual":{"main":[[{"node":"Zabbix: Recupera dados completos","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Event_id_webhook","type":"main","index":0}]]},"Zabbix: Recupera dados completos":{"main":[[{"node":"Zabbix: Consulta grupo do host","type":"main","index":0}]]},"Edita variáveis":{"main":[[{"node":"Google: Adicionar nova linha","type":"main","index":0}]]},"Zabbix: Consulta grupo do host":{"main":[[{"node":"Separa o melhor grupo","type":"main","index":0}]]},"Separa o melhor grupo":{"main":[[{"node":"Edita variáveis","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{}}],"Webhook":[{"json":{"headers":{"host":"172.30.200.30:5678","user-agent":"curl/7.81.0","accept":"*/*","content-type":"application/json","content-length":"28"},"params":{},"query":{},"body":{"eventid":"175554655"},"webhookUrl":"http://localhost:5678/webhook/zabbix","executionMode":"production"}}]},"versionId":"d80a08c2-c9fb-4689-a095-9dd890d5866d","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-11-25T18:10:24.164Z","createdAt":"2025-11-25T18:10:24.164Z","role":"workflow:owner","workflowId":"z9MkkRIzWYSJJpeB","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":null,"tags":[{"updatedAt":"2025-10-24T18:08:27.659Z","createdAt":"2025-10-24T18:08:27.659Z","id":"oUDNU2rUDi9xwp5Q","name":"FluxoNOC_principal"}]}