backup-semanal-9f6XOLvBUkoFGANr.json
{"updatedAt":"2026-01-29T19:31:37.764Z","createdAt":"2025-09-29T20:57:34.689Z","id":"9f6XOLvBUkoFGANr","name":"Backup Semanal","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"5fdcba70-3fce-4816-af32-f7aebf02fb65","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3840,272]},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"d50a4106-2e59-4eb1-8461-52f7870194cb","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-2384,336]},{"parameters":{"content":"## Acionar\nVocê pode alterá-lo para [gatilho \"Agendar\"](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) para fazer backups regularmente.","height":476,"width":182},"id":"cdf69f51-a13a-4729-a29d-e152affbbd36","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3872,128]},{"parameters":{"content":"## Definir e formatar data/hora\nEsses nós são responsáveis ​​por definir a data e hora atuais no formato `dd-MM-yyyy/H:mm`. Data e hora são usadas para compor mensagens de commit no GitHub, por exemplo: `backup-12-07-2023/14:18`.","height":379,"width":585},"id":"ede1bea0-e31b-472f-92d6-0c131eac2415","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3664,128]},{"parameters":{"content":"## Faça uma lista de arquivos existentes\nRetorne uma lista de arquivos existentes (backups) no repositório GitHub. Os dados retornados por esses nós são usados ​​pelo nó \"IF\" (posteriormente no fluxo de trabalho) para verificar se os arquivos de backup devem ser criados ou atualizados.","height":379,"width":390},"id":"f7858ab5-4f7c-49bc-9c5c-d246856a9685","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3072,128]},{"parameters":{"content":"## Recupere os workflows\nObtenha todos os fluxos de trabalho da sua instância n8n. Lembre-se de que **suas credenciais precisam apontar para a instância da qual você deseja fazer backup.**","height":379,"width":424},"id":"ab4a0fde-5f6d-43c1-9c89-cd3b2a9f56d1","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2656,128]},{"parameters":{"content":"## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.","height":731.633426614796,"width":703.8733020263451},"id":"43bb1710-2152-4d8d-b746-6318adb86201","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2208,-96]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"nocmaxprotection","mode":"list","cachedResultName":"nocmaxprotection","cachedResultUrl":"https://github.com/nocmaxprotection"},"repository":{"__rl":true,"value":"repon8n","mode":"name"},"filePath":"/"},"id":"2eee3f4c-f258-49b3-8cc0-431453e5265f","name":"Liste o Arquivos do Repositorio [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-3024,336],"alwaysOutputData":true,"webhookId":"8a2cd766-f863-4cb8-af1c-35133d959bc2","credentials":{"githubApi":{"id":"al2s1iRwFnECAbvF","name":"GitHub noc-maxprotection"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"97a93a64-5c07-463b-afdc-5b4af86e0d2d","name":"Combine os nomes do Arquivos [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-2832,336]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"3380a977-5edb-4688-81f1-34a175fa96d6","name":"Setar a data do Commit","type":"n8n-nodes-base.set","typeVersion":2,"position":[-3232,336]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine os nomes do Arquivos [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"43684782-1a48-4a48-808d-f4f430038ab7","name":"Cheque se existem arquivos no Repositorio","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1904,256]},{"parameters":{"options":{}},"id":"592108b9-d7f4-4675-9307-47207a66fc9a","name":"Sete a data","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-3632,336]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"33d4d338-bb37-4461-ace4-b2dff7320c36","name":"Data formatada","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-3424,336]},{"parameters":{"batchSize":1,"options":{}},"id":"b781087a-22b6-473b-95f9-84531e216c00","name":"Dividindo em Arquivos Únicos","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-2144,336]},{"parameters":{"filters":{},"requestOptions":{}},"id":"9875fb5a-1c13-4257-83b9-e1910271a895","name":"Recupere os workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-2592,336],"credentials":{"n8nApi":{"id":"HLZj8rftsP2mkJxx","name":"API n8n"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"nocmaxprotection","mode":"list","cachedResultName":"nocmaxprotection","cachedResultUrl":"https://github.com/nocmaxprotection"},"repository":{"__rl":true,"value":"repon8n","mode":"list","cachedResultName":"repon8n","cachedResultUrl":"https://github.com/nocmaxprotection/repon8n"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Setar a data do Commit'].json.commitDate }}"},"id":"b0f9957d-8a1c-44c4-bd69-75446d636e32","name":"Atualiza Arquivos [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1680,48],"webhookId":"83b3c22d-7b3a-4b13-a4d1-80c47ffe3027","credentials":{"githubApi":{"id":"al2s1iRwFnECAbvF","name":"GitHub noc-maxprotection"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"nocmaxprotection","mode":"list","cachedResultName":"nocmaxprotection","cachedResultUrl":"https://github.com/nocmaxprotection"},"repository":{"__rl":true,"value":"repon8n","mode":"list","cachedResultName":"repon8n","cachedResultUrl":"https://github.com/nocmaxprotection/repon8n"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Setar a data do Commit'].json.commitDate }}"},"id":"12b37d98-3378-4dec-b138-b26ae418054f","name":"Atualiza arquivos [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1680,448],"webhookId":"e160b23a-7410-4706-a1db-007e9873a07d","credentials":{"githubApi":{"id":"al2s1iRwFnECAbvF","name":"GitHub noc-maxprotection"}},"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"field":"weeks"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3840,464],"id":"1f1f34e9-d8a6-4164-aba2-1d0105b642ab","name":"Schedule Trigger"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"818445513652568105","mode":"list","cachedResultName":"Otus Engenharia","cachedResultUrl":"https://discord.com/channels/818445513652568105"},"channelId":{"__rl":true,"value":"1419777396747538482","mode":"id"},"content":"=Backup dos workflows no github finalizado {{ $('Setar a data do Commit').item.json.commitDate }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-1216,752],"id":"282b83f5-9425-4a6f-8a4b-0b0a93127069","name":"Send a message","webhookId":"9c6fdfc2-1689-433f-803a-e62a066fa36b","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"9c742eaf-1f4b-4e25-81cc-a31c761fd1f2","name":"Mensagem","value":"enviar msg","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1680,752],"id":"d0b0a534-ee0e-4252-b421-304df3711fd4","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-1440,752],"id":"e7a70c08-43a0-4a24-a656-6becbd3d211f","name":"Remove Duplicates"}],"connections":{"Execute workflow":{"main":[[{"node":"Sete a data","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Dividindo em Arquivos Únicos","type":"main","index":0}]]},"Liste o Arquivos do Repositorio [GITHUB]":{"main":[[{"node":"Combine os nomes do Arquivos [GITHUB]","type":"main","index":0}]]},"Combine os nomes do Arquivos [GITHUB]":{"main":[[{"node":"Recupere os workflows [N8N]","type":"main","index":0}]]},"Setar a data do Commit":{"main":[[{"node":"Liste o Arquivos do Repositorio [GITHUB]","type":"main","index":0}]]},"Cheque se existem arquivos no Repositorio":{"main":[[{"node":"Atualiza Arquivos [GITHUB]","type":"main","index":0}],[{"node":"Atualiza arquivos [GITHUB]","type":"main","index":0}]]},"Sete a data":{"main":[[{"node":"Data formatada","type":"main","index":0}]]},"Data formatada":{"main":[[{"node":"Setar a data do Commit","type":"main","index":0}]]},"Dividindo em Arquivos Únicos":{"main":[[{"node":"Cheque se existem arquivos no Repositorio","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Recupere os workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Atualiza Arquivos [GITHUB]":{"main":[[{"node":"Dividindo em Arquivos Únicos","type":"main","index":0}]]},"Atualiza arquivos [GITHUB]":{"main":[[{"node":"Dividindo em Arquivos Únicos","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Sete a data","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"akaImKErHyzNLJa6"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"9cb1b735-8224-4580-b975-4287deb73728","activeVersionId":"9cb1b735-8224-4580-b975-4287deb73728","triggerCount":1,"shared":[{"updatedAt":"2025-09-29T20:57:34.700Z","createdAt":"2025-09-29T20:57:34.700Z","role":"workflow:owner","workflowId":"9f6XOLvBUkoFGANr","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":{"updatedAt":"2026-01-29T19:31:12.000Z","createdAt":"2026-01-29T19:29:28.682Z","versionId":"9cb1b735-8224-4580-b975-4287deb73728","workflowId":"9f6XOLvBUkoFGANr","nodes":[{"parameters":{},"id":"5fdcba70-3fce-4816-af32-f7aebf02fb65","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3840,272]},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"d50a4106-2e59-4eb1-8461-52f7870194cb","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-2384,336]},{"parameters":{"content":"## Acionar\nVocê pode alterá-lo para [gatilho \"Agendar\"](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) para fazer backups regularmente.","height":476,"width":182},"id":"cdf69f51-a13a-4729-a29d-e152affbbd36","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3872,128]},{"parameters":{"content":"## Definir e formatar data/hora\nEsses nós são responsáveis ​​por definir a data e hora atuais no formato `dd-MM-yyyy/H:mm`. Data e hora são usadas para compor mensagens de commit no GitHub, por exemplo: `backup-12-07-2023/14:18`.","height":379,"width":585},"id":"ede1bea0-e31b-472f-92d6-0c131eac2415","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3664,128]},{"parameters":{"content":"## Faça uma lista de arquivos existentes\nRetorne uma lista de arquivos existentes (backups) no repositório GitHub. Os dados retornados por esses nós são usados ​​pelo nó \"IF\" (posteriormente no fluxo de trabalho) para verificar se os arquivos de backup devem ser criados ou atualizados.","height":379,"width":390},"id":"f7858ab5-4f7c-49bc-9c5c-d246856a9685","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3072,128]},{"parameters":{"content":"## Recupere os workflows\nObtenha todos os fluxos de trabalho da sua instância n8n. Lembre-se de que **suas credenciais precisam apontar para a instância da qual você deseja fazer backup.**","height":379,"width":424},"id":"ab4a0fde-5f6d-43c1-9c89-cd3b2a9f56d1","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2656,128]},{"parameters":{"content":"## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.","height":731.633426614796,"width":703.8733020263451},"id":"43bb1710-2152-4d8d-b746-6318adb86201","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2208,-96]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"nocmaxprotection","mode":"list","cachedResultName":"nocmaxprotection","cachedResultUrl":"https://github.com/nocmaxprotection"},"repository":{"__rl":true,"value":"repon8n","mode":"name"},"filePath":"/"},"id":"2eee3f4c-f258-49b3-8cc0-431453e5265f","name":"Liste o Arquivos do Repositorio [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-3024,336],"alwaysOutputData":true,"webhookId":"8a2cd766-f863-4cb8-af1c-35133d959bc2","credentials":{"githubApi":{"id":"al2s1iRwFnECAbvF","name":"GitHub noc-maxprotection"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"97a93a64-5c07-463b-afdc-5b4af86e0d2d","name":"Combine os nomes do Arquivos [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-2832,336]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"3380a977-5edb-4688-81f1-34a175fa96d6","name":"Setar a data do Commit","type":"n8n-nodes-base.set","typeVersion":2,"position":[-3232,336]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine os nomes do Arquivos [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"43684782-1a48-4a48-808d-f4f430038ab7","name":"Cheque se existem arquivos no Repositorio","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1904,256]},{"parameters":{"options":{}},"id":"592108b9-d7f4-4675-9307-47207a66fc9a","name":"Sete a data","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-3632,336]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"33d4d338-bb37-4461-ace4-b2dff7320c36","name":"Data formatada","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-3424,336]},{"parameters":{"batchSize":1,"options":{}},"id":"b781087a-22b6-473b-95f9-84531e216c00","name":"Dividindo em Arquivos Únicos","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-2144,336]},{"parameters":{"filters":{},"requestOptions":{}},"id":"9875fb5a-1c13-4257-83b9-e1910271a895","name":"Recupere os workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-2592,336],"credentials":{"n8nApi":{"id":"HLZj8rftsP2mkJxx","name":"API n8n"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"nocmaxprotection","mode":"list","cachedResultName":"nocmaxprotection","cachedResultUrl":"https://github.com/nocmaxprotection"},"repository":{"__rl":true,"value":"repon8n","mode":"list","cachedResultName":"repon8n","cachedResultUrl":"https://github.com/nocmaxprotection/repon8n"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Setar a data do Commit'].json.commitDate }}"},"id":"b0f9957d-8a1c-44c4-bd69-75446d636e32","name":"Atualiza Arquivos [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1680,48],"webhookId":"83b3c22d-7b3a-4b13-a4d1-80c47ffe3027","credentials":{"githubApi":{"id":"al2s1iRwFnECAbvF","name":"GitHub noc-maxprotection"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"nocmaxprotection","mode":"list","cachedResultName":"nocmaxprotection","cachedResultUrl":"https://github.com/nocmaxprotection"},"repository":{"__rl":true,"value":"repon8n","mode":"list","cachedResultName":"repon8n","cachedResultUrl":"https://github.com/nocmaxprotection/repon8n"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Setar a data do Commit'].json.commitDate }}"},"id":"12b37d98-3378-4dec-b138-b26ae418054f","name":"Atualiza arquivos [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1680,448],"webhookId":"e160b23a-7410-4706-a1db-007e9873a07d","credentials":{"githubApi":{"id":"al2s1iRwFnECAbvF","name":"GitHub noc-maxprotection"}},"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"field":"weeks"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3840,464],"id":"1f1f34e9-d8a6-4164-aba2-1d0105b642ab","name":"Schedule Trigger"},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"818445513652568105","mode":"list","cachedResultName":"Otus Engenharia","cachedResultUrl":"https://discord.com/channels/818445513652568105"},"channelId":{"__rl":true,"value":"1419777396747538482","mode":"id"},"content":"=Backup dos workflows no github finalizado {{ $('Setar a data do Commit').item.json.commitDate }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-1216,752],"id":"282b83f5-9425-4a6f-8a4b-0b0a93127069","name":"Send a message","webhookId":"9c6fdfc2-1689-433f-803a-e62a066fa36b","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"9c742eaf-1f4b-4e25-81cc-a31c761fd1f2","name":"Mensagem","value":"enviar msg","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1680,752],"id":"d0b0a534-ee0e-4252-b421-304df3711fd4","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-1440,752],"id":"e7a70c08-43a0-4a24-a656-6becbd3d211f","name":"Remove Duplicates"}],"connections":{"Execute workflow":{"main":[[{"node":"Sete a data","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Dividindo em Arquivos Únicos","type":"main","index":0}]]},"Liste o Arquivos do Repositorio [GITHUB]":{"main":[[{"node":"Combine os nomes do Arquivos [GITHUB]","type":"main","index":0}]]},"Combine os nomes do Arquivos [GITHUB]":{"main":[[{"node":"Recupere os workflows [N8N]","type":"main","index":0}]]},"Setar a data do Commit":{"main":[[{"node":"Liste o Arquivos do Repositorio [GITHUB]","type":"main","index":0}]]},"Cheque se existem arquivos no Repositorio":{"main":[[{"node":"Atualiza Arquivos [GITHUB]","type":"main","index":0}],[{"node":"Atualiza arquivos [GITHUB]","type":"main","index":0}]]},"Sete a data":{"main":[[{"node":"Data formatada","type":"main","index":0}]]},"Data formatada":{"main":[[{"node":"Setar a data do Commit","type":"main","index":0}]]},"Dividindo em Arquivos Únicos":{"main":[[{"node":"Cheque se existem arquivos no Repositorio","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Recupere os workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Atualiza Arquivos [GITHUB]":{"main":[[{"node":"Dividindo em Arquivos Únicos","type":"main","index":0}]]},"Atualiza arquivos [GITHUB]":{"main":[[{"node":"Dividindo em Arquivos Únicos","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Sete a data","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"authors":"William Semmler","name":"Version 1.0.0","description":"","autosaved":true},"tags":[{"updatedAt":"2025-09-29T20:56:03.987Z","createdAt":"2025-09-29T20:56:03.987Z","id":"D71saR8sfdk8E6ox","name":"github"}]}