clientes-gerais-tLCtsxkiCqMImZVD.json
{"updatedAt":"2026-01-31T03:08:29.648Z","createdAt":"2025-12-09T19:30:20.262Z","id":"tLCtsxkiCqMImZVD","name":"Clientes gerais","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fd883faf-a9c1-4487-bb66-e95c5e1c48fd","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[784,512],"id":"eedc6b83-c79d-4346-89e4-d62066fd67a4","name":"Existe eventos de grupo?"},{"parameters":{"jsCode":"const timestampQueda = $('Quando executado fluxo de tratamento').first().json['Timestamp da queda'];\nconst time_from = timestampQueda - (60 * 45);\nconst time_till = timestampQueda + (60 * 45);\nconst idGroup = $('Quando executado fluxo de tratamento').first().json['ID do grupo'];\n\nreturn [\n  {\n    jsonrpc: \"2.0\",\n    method: \"event.get\",\n    params: {\n      output: [\"eventid\", \"clock\", \"r_eventid\", \"acknowledged\"],\n\n      selectHosts: [\"hostid\", \"host\"],\n\t  \n\t  groupids: `${String(idGroup)}`,\n\t  \n\t  selectRelatedObject: [\"description\", \"value\"],\n\n      select_acknowledges: [\"clock\", \"message\", \"action\", \"username\"],\n\n      time_from: time_from,\n\t  \n\t  time_till: time_till,\n\n      sortfield: [\"clock\", \"eventid\"],\n      \n\t  sortorder: \"DESC\"\n    },\n    id: 1\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,992],"id":"7607c9dc-7cda-4669-90de-b2255997127d","name":"json para consulta Zabbix","disabled":true},{"parameters":{"jsCode":"const eventos_do_grupo = $input.first().json.result;\nconst raiz_nome_host = $('Quando executado fluxo de tratamento').first().json['Raiz do nome completo'];\n\nlet eventos_com_reconhecidos = [];\nlet eventosReconhecidos = false;\nlet index = 0\n\nfor (const ev of eventos_do_grupo) {\n  if (ev.acknowledges.length >= 1 && ev.acknowledged == \"1\") {\n    if (ev.hosts[0].host.includes(raiz_nome_host)) {\n      eventos_com_reconhecidos.push(ev)\n    }\n    index++\n  } else {\n    continue\n  }\n}\n\nif (eventos_com_reconhecidos.length >= 1) {\n  eventosReconhecidos = true\n  return [{\n    eventosReconhecidos,\n    eventos_com_reconhecidos\n  }]\n} else {\n  return [{eventosReconhecidos}]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,992],"id":"19705470-cd13-4306-8a49-af32bdbdddf0","name":"Mantém apenas eventos com ack6","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb6eff08-3023-4783-bfaf-1cacf44c64ab","leftValue":"={{ $json.eventosReconhecidos }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1680,992],"id":"b4fbb663-8274-4a0b-b871-8b73ef1fabdf","name":"Existe eventos válidos?","disabled":true},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1232,992],"id":"1eea9a2a-aa9a-41e4-8ad4-a5f9732fb43d","name":"Zabbix: Select eventos de grupo","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}},"disabled":true},{"parameters":{"tableId":"sala de espera","fieldsUi":{"fieldValues":[{"fieldId":"id_evento","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['ID do evento'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Nome do host'] }}"},{"fieldId":"evento","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Nome do evento'] }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Timestamp da queda'] }}"},{"fieldId":"id_grupo","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['ID do grupo'] }}"},{"fieldId":"nome_grupo","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Nome do grupo'] }}"},{"fieldId":"id_tipoCliente","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Tipo de cliente'] }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Raiz do host'] }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Eventos relacionados'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2352,1280],"id":"40eefd3f-4fa4-4bc7-8a9d-aef44a26135f","name":"BD: Add na sala de espera","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**CLIENTE:** {{ $('Quando executado fluxo de tratamento').item.json['Nome principal do cliente'] }}\n**HOST MATRIZ:** {{ $('Quando executado fluxo de tratamento').item.json['Nome do host'] }}\n**EVENTO:** {{ $('Quando executado fluxo de tratamento').item.json['Nome do evento'] }}\n**MOMENTO INDISPONÍVEL:** {{ $('Quando executado fluxo de tratamento').item.json['Data e hora do evento'].toUpperCase() }}","color":"#FF7518","title":"=Cliente geral na sala de espera - {{ $('Quando executado fluxo de tratamento').first().json['Nome principal do cliente'] }}","thumbnail":"https://cdn-icons-png.freepik.com/512/1434/1434350.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2576,1280],"id":"d1abdd92-700b-4949-89fe-5232a7b159ab","name":"Discord: Evento add sala de espera","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"UwSdPtNpd16mBJVp","name":"Adm: Sala de espera"}},"disabled":true},{"parameters":{"jsCode":"const authenticator = $('Quando executado fluxo de tratamento').first().json['Dados do evento'].ID_consulta_zabbix;\n\nconst mensagem_para_reconhecimento = $('Mantém apenas eventos com ack6').first().json.eventos_com_reconhecidos[0].acknowledges[0].message;\nconst ID_do_evento = $('Quando executado fluxo de tratamento').first().json['Dados do evento'].ID_evento;\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: ID_do_evento,\n    message: mensagem_para_reconhecimento,\n    action: 6\n  },\n  auth: authenticator,\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3888,688],"id":"56d0e0b6-3d00-499c-8102-291b36bd04fc","name":"json para reconhecer evento","disabled":true},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4112,688],"id":"9da23ca9-1703-4a36-99f8-b34888d56a90","name":"Zabbix: Update evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"disabled":true},{"parameters":{"tableId":"eventosZabbix","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Dados do evento'].ID_evento }}"},{"fieldId":"idHost","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Dados do evento'].ID_host }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Variáveis do tipo cliente'].id }}"},{"fieldId":"idGroup","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['ID do grupo'] }}"},{"fieldId":"nomeHost","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Dados do evento'].nome_host }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Raiz do nome completo'] }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Dados do evento'].nome_trigger }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Dados do evento'].timestamp_queda }}"},{"fieldId":"statusChamado","fieldValue":"2"},{"fieldId":"ticketMovidesk","fieldValue":"={{ parseInt($('Mantém apenas eventos com ack6').item.json.eventos_com_reconhecidos[0].acknowledges[0].message) }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ [0] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4336,688],"id":"c88a972e-de0a-4c8e-b302-7735610b2133","name":"BD: Add new event on eventosZabbix","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"jsCode":"const flagMesmoticket = $input.first().json.flagMesmoTicket;\nconst idCliente = $('Quando executado fluxo de tratamento').first().json['Variáveis do cliente'].ID_MOVIDESK;\nconst copiaPara = $('Quando executado fluxo de tratamento').first().json['Variáveis do cliente'].CC;\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\n// Monta as linhas do tbody\nconst hostName = $('Quando executado fluxo de tratamento').first().json['Dados do evento'].nome_host;\nconst raizNomeHost = hostName.split(\"-\")[0].trim();\nconst evento = $('Quando executado fluxo de tratamento').first().json['Dados do evento'].nome_trigger;\nconst data_hora_queda = $('Quando executado fluxo de tratamento').first().json['Dados do evento'].data_hora_evento;\nconst ticket_movidesk_update = $('BD: Add new event on eventosZabbix').first().json.ticketMovidesk;\n\nif (flagMesmoticket == true) {\n  // ==== CLIAR HTML DO CLIENTE ====\n  function htmlCliente(nomeHost, eventoGerador, dataHoraEvento){\n    const htmlCliente = `\n      <p>${getGreeting()}</p>\n      <br>\n      <p>Um novo evento relacionado ao evento anterior iniciou em nosso sistema de monitorameto poucos segundos após o evento original. Segue abaixo as informações do novo evento:</p>\n      <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n        <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n          <thead>\n              <tr>\n                <th>Host</th>\n                <th>Evento</th>\n                <th>Horário da queda</th>\n              </tr>\n          </thead>\n          <tbody>\n              <tr>\n                <td>${nomeHost}</td>\n                <td>${eventoGerador}</td>\n                <td>${dataHoraEvento}</td>\n              </tr>\n          </tbody>\n        </table>\n      </div>\n      \n      <p> Permaneceremos à disposição.</p>\n      <br>\n      <br>\n      <p>Atenciosamente </p>\n      <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n    `;\n    return htmlCliente;\n  }\n\n  const variavel_atualizacao_ticket = `&id=${ticket_movidesk_update}`\n  \n  return [{\n    htmlCliente: htmlCliente(hostName, evento, data_hora_queda),\n    variavel_atualizacao_ticket,\n    idCliente,\n    copiaPara\n  }];\n} \nelse {\n  function htmlCliente(nomeHost, eventoGerador, dataHoraEvento){\n    const htmlCliente = `\n      <p>${getGreeting()}</p>\n      <br>\n      <p>Identificamos um novo evento de indisponibilidade em nosso sistema de monitoramento:</p>\n      <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n        <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n          <thead>\n              <tr>\n                <th>Host</th>\n                <th>Evento</th>\n                <th>Horário da queda</th>\n              </tr>\n          </thead>\n          <tbody>\n              <tr>\n                <td>${nomeHost}</td>\n                <td>${eventoGerador}</td>\n                <td>${dataHoraEvento}</td>\n              </tr>\n          </tbody>\n        </table>\n      </div>\n      \n      <p>Gostaríamos de confirmar se a ocorrência já é de conhecimento da equipe ${raizNomeHost} ou se trata de uma falha eventual? </p>\n      <p>Recomendamos a verificação da ocorrência acima notifica para validação e tratativa da indisponibilidade. Permaneceremos em monitoramento. Informamos quando o evento estiver com status de resolvido em nosso monitoramento.</p>\n      <br>\n      <br>\n      <p>Atenciosamente </p>\n      <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n    `;\n    return htmlCliente;\n  }\n  const subject = `REPARO - ${hostName}`;\n\n  return [{\n    htmlCliente: htmlCliente(hostName, evento, data_hora_queda),\n    subject,\n    idCliente,\n    copiaPara\n  }];\n}\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4784,688],"id":"4ab8b298-ccbd-4df6-903c-904733e6c53a","name":"Prepara html do cliente","disabled":true},{"parameters":{"jsCode":"const flagMesmoTicket = $('Calcula tempo entre eventos').first().json.flagMesmoTicket;\nconst htmlCliente = $input.first().json.htmlCliente;\nconst id_cliente = $input.first().json.idCliente;\nconst copiaPara = $input.first().json.copiaPara;\nconst subject = $input.first().json.subject || \"\";\nconst variavel_ticket_movidesk =$input.first().json.variavel_atualizacao_ticket;\n\n//id_movideks_para_testes = 1836303904\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nif (flagMesmoTicket == true) {\n  return {\n    json: {\n      actions: [\n        { type: 2, description: htmlCliente ,createdBy: { id: \"1458772347\" }, workTime: \"00:02:00\" }\n      ]\n    }\n  }\n} else {\n  return {\n    json: {\n      type: 2,\n      subject: `${subject}`,\n      category: \"01 - Atendimento Helpdesk\",\n      serviceFirstLevelId: 325878,\n      urgency: \"Média\",\n      ownerTeam: \"NOC\",\n      status: \"Aguardando\",\n      justification: \"Validação\",\n      createdBy: { id: \"1458772347\" },\n      Clients: [{ id: id_cliente }],\n      cc: copiaPara,\n      actions: [\n        { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" } }\n      ]\n    }\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5008,688],"id":"47f9f2aa-f82b-422e-aeb2-2722e50857b4","name":"json para atualizar ticket Movidesk","disabled":true},{"parameters":{"jsCode":"const timestamp_evento_atual = $('Quando executado fluxo de tratamento').first().json['Dados do evento'].timestamp_queda;\nconst timestamp_evento_matriz = parseInt($('Mantém apenas eventos com ack6').first().json.eventos_com_reconhecidos[0].clock);\nconst variavel_entre_tempos = 10 * 60;\nconst tempo_entre_eventos = timestamp_evento_atual - timestamp_evento_matriz;\n\nlet flagMesmoTicket = false;\nif (tempo_entre_eventos <= variavel_entre_tempos) {\n  flagMesmoTicket = true;\n  return [{flagMesmoTicket, tempo_entre_eventos}]\n} else {\n  return [{flagMesmoTicket}]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4560,688],"id":"8b58ef65-2bb5-49af-965e-d5d73ea31445","name":"Calcula tempo entre eventos","disabled":true},{"parameters":{"method":"POST","url":"https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5456,784],"id":"1928beab-7022-4c46-ad00-c79b63bfd664","name":"Movidesk: Cria ticket","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Calcula tempo entre eventos').item.json.flagMesmoTicket }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"1637a1dd-c701-4f72-8d7f-c2a2bfc67f30"}],"combinator":"and"},"renameOutput":true,"outputKey":"ATUALIZA TICKET"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4cad2e40-2f7d-4faf-8ebd-681e8f8ebfec","leftValue":"={{ $('Calcula tempo entre eventos').item.json.flagMesmoTicket }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"CRIA NOVO TICKET"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[5232,688],"id":"a46ed95c-4839-4764-a2c9-eb3d468713c2","name":"Rota: Atualiza ou cria","disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Um novo evento foi adicionado ao eventosZabbix na tabela\n\n**CLIENTE:** {{ $('Quando executado fluxo de tratamento').item.json['Raiz do nome completo'] }}\n**HOST MATRIZ:** {{ $('Quando executado fluxo de tratamento').item.json['Dados do evento'].nome_host }}\n**EVENTO:** {{ $('Quando executado fluxo de tratamento').item.json['Dados do evento'].nome_trigger }}\n**MOMENTO INDISPONÍVEL:** {{ $('Quando executado fluxo de tratamento').item.json['Dados do evento'].data_hora_evento }}\n**TICKET MOVIDESK:** {{ $json.eventos_com_reconhecidos[0].acknowledges[0].message }}","color":"#FF7518","title":"=CHAMADO ABERTO","thumbnail":"https://cdn-icons-png.freepik.com/512/4034/4034629.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[5680,592],"id":"a3f7c5c5-bd18-42f7-8ca6-e1838dd63784","name":"Discord: Chamado atualizado no Movidesk","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"3b4X5RigC7ztK6Hr","name":"Clientes gerais: Abertura de chamado"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Um novo ticket foi criado no Movidesk\n\n**CLIENTE:** {{ $('Quando executado fluxo de tratamento').item.json['Raiz do nome completo'] }}\n**HOST MATRIZ:** {{ $('Quando executado fluxo de tratamento').item.json['Dados do evento'].nome_host }}\n**EVENTO:** {{ $('Quando executado fluxo de tratamento').item.json['Dados do evento'].nome_trigger }}\n**MOMENTO INDISPONÍVEL:** {{ $('Quando executado fluxo de tratamento').item.json['Dados do evento'].data_hora_evento }}\n**TICKET MOVIDESK:** {{ $json.id }}","color":"#FF7518","title":"=CHAMADO ABERTO","thumbnail":"https://cdn-icons-png.freepik.com/512/4034/4034629.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[5680,784],"id":"b9b402b7-d99c-490c-ae05-793eb2fdbd3d","name":"Discord: Chamado aberto no Movidesk","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"3b4X5RigC7ztK6Hr","name":"Clientes gerais: Abertura de chamado"}},"disabled":true},{"parameters":{"method":"PATCH","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6{{ $('Prepara html do cliente').item.json.variavel_atualizacao_ticket }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5456,592],"id":"3a1fbd1b-55de-4b5d-afd1-cf1bf7844b05","name":"Movidesk: Atualiza ticket","retryOnFail":true,"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ff569df-5c75-4c55-a593-c990cdf3aa4c","leftValue":"={{ $('Quando executado fluxo de tratamento').item.json['Nome do host'] }}","rightValue":"={{ $('BD: Consulta BD principal').item.json.nomeHost }}","operator":{"type":"string","operation":"equals"}},{"id":"8611bf95-6148-4248-9823-50740b566e16","leftValue":"={{ $('Quando executado fluxo de tratamento').item.json['Nome do evento'] }}","rightValue":"={{ $('BD: Consulta BD principal').item.json.nomeEvento }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1008,144],"id":"54550e9f-e5b5-4bbe-a17e-0587707c579d","name":"Hosts e evento iguais?"},{"parameters":{"operation":"get","tableId":"sala de espera","filters":{"conditions":[{"keyName":"id_grupo","keyValue":"={{ $('Quando executado fluxo de tratamento').item.json[\"ID do grupo\"] }}"},{"keyName":"raizNomeHost","keyValue":"={{ $('Quando executado fluxo de tratamento').item.json['Raiz do host'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1904,1088],"id":"8895f8c4-b2ca-4430-9315-144750cbe13c","name":"BD: Select correspondentes","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b851b4b8-fa77-467a-bc61-c1b371da9765","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2128,1088],"id":"56ba6e57-d282-4849-ba91-3e3b1cd8b282","name":"Existe correspondência?","alwaysOutputData":false,"disabled":true},{"parameters":{"jsCode":"const id_evento_push_array = $('Quando executado fluxo de tratamento').first().json['ID do evento'];\nconst eventos_relacionados = $input.first().json.eventosRelacionados;\n\nif (eventos_relacionados.length == 1 && eventos_relacionados[0] == \"0\") {\n    eventos_relacionados.pop()\n    eventos_relacionados.push(`${id_evento_push_array}`)\n} else {\n  if (eventos_relacionados.includes(`${id_evento_push_array}`)) {\n    return [{eventos_relacionados}]\n  } else {\n    eventos_relacionados.push(`${id_evento_push_array}`)\n  }\n}\n\nreturn [{eventos_relacionados}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2576,1088],"id":"c7df7a7e-1cc7-42bd-9f4b-d7e275a6ea19","name":"Prepara push de eventos relacionados","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"45481112-fc3a-4263-ab58-4a1650d284c0","leftValue":"={{ $('Quando executado fluxo de tratamento').item.json['Nome do host'] }}","rightValue":"={{ $('BD: Select correspondentes').item.json.nome_host }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"626640f5-aa67-407d-9fb3-c1bd34e00ceb","leftValue":"={{ $('Quando executado fluxo de tratamento').item.json['Nome do evento'] }}","rightValue":"={{ $('BD: Select correspondentes').item.json.evento }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2352,992],"id":"64bccf15-f69b-46b4-b131-f6bf7e5c06c4","name":"Host e evento igual?","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2576,896],"id":"5efd5695-1de8-4d5c-9e6c-7ef97dc20597","name":"Do not","disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Verificar rota clientes gerais\n\n**CLIENTE:** {{ $('Quando executado fluxo de tratamento').item.json['Nome principal do cliente'] }}\n**HOST MATRIZ:** {{ $('Quando executado fluxo de tratamento').item.json['Nome do host'] }}\n**EVENTO:** {{ $('Quando executado fluxo de tratamento').item.json['Nome do evento'] }}\n**MOMENTO INDISPONÍVEL:** {{ $('Quando executado fluxo de tratamento').item.json['Data e hora do evento'].toUpperCase() }}","author":"Fluxo clientes gerais","color":"#FF7518","title":"=Verificar nova rota","thumbnail":"https://cdn-icons-png.freepik.com/512/1434/1434350.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1904,896],"id":"bae1e5a4-4f5b-4496-b5b1-fdc842fa2772","name":"admin","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}},"disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3024,-144],"id":"5232b2e7-6371-4498-a3f9-68a4985dd49b","name":"Zabbix: Reconhecer evento já existente no BD","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**CLIENTE:** {{ $('Quando executado fluxo de tratamento').item.json['Nome principal do cliente'] }}\n**HOST MATRIZ:** {{ $('Quando executado fluxo de tratamento').item.json['Nome do host'] }}\n**EVENTO:** {{ $('Quando executado fluxo de tratamento').item.json['Nome do evento'] }}\n**MOMENTO INDISPONÍVEL:** {{ $('Quando executado fluxo de tratamento').item.json['Data e hora do evento'].toUpperCase() }}","color":"#FF7518","title":"={{ $json.raizNomeHost }} aguardando na sala de espera","thumbnail":"https://cdn-icons-png.freepik.com/64/1434/1434350.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[688,-656],"id":"692e70d7-3728-4317-be1a-a0b7e6c3781b","name":"Discord: Evento add sala de espera1","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"UwSdPtNpd16mBJVp","name":"Adm: Sala de espera"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"39065b8a-92d6-4113-a469-1ef0869cb548","leftValue":"={{ $json.tagNovoEvento }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1456,48],"id":"6ab1db43-02e3-4ca4-81b2-e6e03714c159","name":"Novo evento?","disabled":true},{"parameters":{"jsCode":"const timestamp_evento_bd = $('BD: Consulta BD principal').first().json.timestampQueda;\n\nconst vinte_quatro_horas = 24 * 60 * 60; // segundos em um dia\n\nconst timestamp_atual = DateTime.now().toUnixInteger()\nconst dataHoraAtual = DateTime.fromSeconds(timestamp_atual, {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).toFormat('cccc, dd/MM/yyyy HH:mm:ss').toUpperCase()\n\nconst dif_atual_menos_bd = timestamp_atual - timestamp_evento_bd;\n\nlet tagNovoEvento = false\nif (dif_atual_menos_bd > vinte_quatro_horas) {\n  tagNovoEvento = true;\n}\n\nreturn [{\n  tagNovoEvento,\n  dataHoraAtual,\n  dif_atual_menos_bd\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,48],"id":"56717be0-5aaa-4f86-a3f3-e1d9398a9683","name":"Valida tempo","disabled":true},{"parameters":{"operation":"update","tableId":"eventosZabbix","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Hosts e evento iguais?').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"statusChamado","fieldValue":"5"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1680,-144],"id":"1c68fd55-c391-418f-9094-25b5595cb60a","name":"BD: Atualiza linha antiga","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"tableId":"eventosZabbix","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['ID do evento'] }}"},{"fieldId":"idHost","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['ID do host'] }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Tipo de cliente'] }}"},{"fieldId":"idGroup","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['ID do grupo'] }}"},{"fieldId":"nomeHost","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Nome do host'] }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Raiz do host'] }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Nome do evento'] }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Timestamp da queda'] }}"},{"fieldId":"statusChamado","fieldValue":"2"},{"fieldId":"ticketMovidesk","fieldValue":"={{ $json.ticketMovidesk }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ [ $('Quando executado fluxo de tratamento').item.json['ID do evento'] ] }}"},{"fieldId":"qtdQuedas","fieldValue":"={{ $json.qtdQuedas + 1}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1904,-144],"id":"f4d39ad2-3bc9-4695-9c1e-327e7500b9ba","name":"BD: Cria linha do novo evento","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"jsCode":"// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\n// Monta as linhas do tbody\nconst hostName = $('Quando executado fluxo de tratamento').first().json['Nome do host'];\nconst evento = $('Quando executado fluxo de tratamento').first().json['Nome do evento'];\nconst data_hora_queda = $('Quando executado fluxo de tratamento').first().json['Data e hora do evento'];\nconst ticket_movidesk = $input.first().json.ticketMovidesk;\nconst ID_evento = $input.first().json.idEvento;\n\n// ==== CLIAR HTML DO CLIENTE ====\nfunction htmlCliente(nomeHost, eventoGerador, dataHoraEvento){\n  const htmlCliente = `\n    <p>${getGreeting()}</p>\n    <br>\n    <p>Um novo evento iniciou no monitoramento. O evento em questão é uma recorrência de indisponibilidade:</p>\n    <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n      <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n        <thead>\n            <tr>\n              <th>Host</th>\n              <th>Evento</th>\n              <th>Horário da ocorrência</th>\n            </tr>\n        </thead>\n        <tbody>\n            <tr>\n              <td>${nomeHost}</td>\n              <td>${eventoGerador}</td>\n              <td>${dataHoraEvento}</td>\n            </tr>\n        </tbody>\n      </table>\n    </div>\n    \n    <p>Permaneceremos à disposição e, retornamos quando houver uma mudança de status para <strong>normalizado</strong> no monitoramento.</p>\n    <br>\n    <br>\n    <p>Atenciosamente, </p>\n    <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n  `;\n  return htmlCliente;\n}\n\nreturn [{\n  htmlCliente: htmlCliente(hostName, evento, data_hora_queda),\n  ticket_movidesk,\n  ID_evento\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2128,-144],"id":"c84bf099-bbaa-4dec-ac5a-0fef017fc64e","name":"Prepara html do cliente1","disabled":true},{"parameters":{"jsCode":"const htmlCliente = $input.first().json.htmlCliente;\n//id_movideks_para_testes = 1836303904\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nreturn {\n  json: {\n    actions: [\n      {type: 2, description: htmlCliente, createdBy: {id: \"1458772347\"}}\n    ]\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2352,-144],"id":"cae743e1-ad0a-4637-80fe-a28bac837c7e","name":"json para atualizar ticket Movidesk1","disabled":true},{"parameters":{"method":"PATCH","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"538206c9-60b4-4bf4-ae85-415ab9a68be6"},{"name":"id","value":"={{ $('Prepara html do cliente1').item.json.ticket_movidesk }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2576,-144],"id":"c3e29973-0906-4fab-b3c8-d4f6d9da9d7f","name":"Movidesk: Atualização para novo evento","retryOnFail":true,"disabled":true},{"parameters":{"jsCode":"const mensagem_para_reconhecimento = $('Prepara html do cliente1').first().json.ticket_movidesk;\nconst ID_evento_reconhecimento = $('Prepara html do cliente1').first().json.ID_evento;\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: ID_evento_reconhecimento,\n    message: String(mensagem_para_reconhecimento),\n    action: 6\n  },\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2800,-144],"id":"470aec54-83a0-427a-b481-fdbccb7e07a6","name":"JSON para reconhecimento","disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**CLIENTE:** {{ $('Quando executado fluxo de tratamento').first().json['Nome principal do cliente'] }}\n- **HOST MATRIZ:** {{ $('Quando executado fluxo de tratamento').first().json['Nome do host'] }}\n- **EVENTO:** {{ $('Quando executado fluxo de tratamento').first().json['Nome do evento'] }}\n- **MOMENTO INDISPONÍVEL:** {{ $('Quando executado fluxo de tratamento').first().json['Data e hora do evento'] }}\n\n- **TICKET MOVIDESK:** {{ $('Prepara html do cliente1').item.json.ticket_movidesk }}","color":"#FF7518","title":"=Novo chamado aberto para {{ $('Quando executado fluxo de tratamento').first().json['Nome principal do cliente'] }}","thumbnail":"https://cdn-icons-png.freepik.com/64/4034/4034629.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3248,-144],"id":"6e8647dc-247d-493f-8eee-b34197eb0392","name":"Clientes gerais: Notificação de atualização de ticket","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"3b4X5RigC7ztK6Hr","name":"Clientes gerais: Abertura de chamado"}},"disabled":true},{"parameters":{"operation":"update","tableId":"sala de espera","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Select correspondentes').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"eventosRelacionados","fieldValue":"={{ $json.eventos_relacionados }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2800,1088],"id":"57fb63ad-9449-4d3c-85a8-0f2ed3c649d0","name":"BD: add evento em eventos relacionados","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"operation":"update","tableId":"eventosZabbix","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Consulta BD principal').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"statusChamado","fieldValue":"2"},{"fieldId":"qtdQuedas","fieldValue":"={{ $('BD: Consulta BD principal').item.json.qtdQuedas + 1 }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Timestamp da queda'] }}"},{"fieldId":"timestampRecuperacao","fieldValue":"0"},{"fieldId":"idEventoRecuperacao","fieldValue":"0"},{"fieldId":"eventosRelacionados","fieldValue":"={{ [$('Quando executado fluxo de tratamento').item.json['ID do evento']] }}"},{"fieldId":"idEvento","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['ID do evento'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1904,48],"id":"e0dfc177-28fc-4dd4-8ba1-6f85cc92e4f8","name":"BD: Atualiza linha BD","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"jsCode":"const mensagem_para_reconhecimento = String($input.first().json.ticketMovidesk);\nconst ID_do_evento = $input.first().json.idEvento;\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: ID_do_evento,\n    message: mensagem_para_reconhecimento,\n    action: 6\n  },\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2128,48],"id":"20552a2e-361f-48c2-8a71-9b81ff8fb7e8","name":"JSON para reconhecer evento","disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2352,48],"id":"89d72335-71b7-406f-98f8-0ce14c224bc2","name":"Zabbix: Reconhece evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**HOST MATRIZ:** {{ $('Quando executado fluxo de tratamento').item.json['Nome do host'] }}\n**EVENTO:** {{ $('Quando executado fluxo de tratamento').item.json['Nome do evento'] }}","author":"Fluxo clientes gerais","color":"#009EDD","title":"=Nova Rota - linha bd é maior ou igual a 4 - fluxo acima","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1904,240],"id":"30b995bd-a2bd-460f-a45f-d41d3633e9c7","name":"admin2","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6485d568-3b2b-452e-8b6f-e080612108de","leftValue":"={{ $('BD: Consulta BD principal').item.json.statusChamado }}","rightValue":3,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1680,144],"id":"10b09caf-9513-4fca-b1a6-ec3b741d6014","name":"Linha BD igual ou menor a 3?","disabled":true},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[112,512],"id":"969f42c6-2e79-4b21-a9d1-544080c0f67a","name":"Quando executado fluxo de tratamento"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[560,512],"id":"11ae1075-2e5a-4fa4-9bde-ac2bebab94c4","name":"Loop Over Items"},{"parameters":{"dataTableId":{"__rl":true,"value":"ompaNZVojGQ9mo5i","mode":"list","cachedResultName":"fila de espera - abertura de chamado","cachedResultUrl":"/projects/UcF1WBdewsFeRVFr/datatables/ompaNZVojGQ9mo5i"},"columns":{"mappingMode":"defineBelow","value":{"id_evento":"={{ $('Quando executado fluxo de tratamento').item.json['ID do evento'] }}","id_host":"={{ $('Quando executado fluxo de tratamento').item.json['ID do host'] }}","id_grupo":"={{ $('Quando executado fluxo de tratamento').item.json['ID do grupo'] }}","id_movidesk":"={{ $('Quando executado fluxo de tratamento').item.json['ID Movidesk para abertura de chamado'] }}","host":"={{ $('Quando executado fluxo de tratamento').item.json['Nome do host'] }}","host_raiz":"={{ $('Quando executado fluxo de tratamento').item.json['Raiz do host'] }}","evento":"={{ $('Quando executado fluxo de tratamento').item.json['Nome do evento'] }}","timestamp_queda":"={{ $('Quando executado fluxo de tratamento').item.json['Timestamp da queda'] }}","tipo_contrato":"={{ $('Quando executado fluxo de tratamento').item.json['Tipo de cliente'] }}","nome_grupo":"={{ $('Quando executado fluxo de tratamento').item.json['Nome do grupo'] }}","cc_ticket_movidesk":"={{ $('Quando executado fluxo de tratamento').item.json['Emails em cópia para chamado Movidesk'] }}","eventos_relacionados":"=[{{ $('Quando executado fluxo de tratamento').item.json['ID do evento'] }}]"},"matchingColumns":[],"schema":[{"id":"id_evento","displayName":"id_evento","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"id_host","displayName":"id_host","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"id_grupo","displayName":"id_grupo","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"id_movidesk","displayName":"id_movidesk","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"host","displayName":"host","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"host_raiz","displayName":"host_raiz","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"evento","displayName":"evento","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"timestamp_queda","displayName":"timestamp_queda","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"nome_grupo","displayName":"nome_grupo","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tipo_contrato","displayName":"tipo_contrato","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"cc_ticket_movidesk","displayName":"cc_ticket_movidesk","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"eventos_relacionados","displayName":"eventos_relacionados","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[1232,240],"id":"4e1e0812-9da4-4dbe-b4b5-4e723e0639bb","name":"Table: Add linha na fila de espera"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1232,-192],"id":"37a9939a-8758-46ca-8e92-92994e0515e9","name":"Next iteration"},{"parameters":{"operation":"getAll","tableId":"chamados abertos","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"idGroup","condition":"eq","keyValue":"={{ $json['ID do grupo'] }}"},{"keyName":"timestampQueda","condition":"gte","keyValue":"={{ $json['Timestamp da queda'] - ( $json['Tempo SLA'] / 2) }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[336,512],"id":"9781608f-ae46-4231-9db1-030e3cdff30a","name":"BD: Consulta BD principal","alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}}],"connections":{"Existe eventos de grupo?":{"main":[[{"node":"Hosts e evento iguais?","type":"main","index":0}],[{"node":"json para consulta Zabbix","type":"main","index":0}]]},"json para consulta Zabbix":{"main":[[{"node":"Zabbix: Select eventos de grupo","type":"main","index":0}]]},"Mantém apenas eventos com ack6":{"main":[[{"node":"Existe eventos válidos?","type":"main","index":0}]]},"Existe eventos válidos?":{"main":[[{"node":"admin","type":"main","index":0}],[{"node":"BD: Select correspondentes","type":"main","index":0}]]},"Zabbix: Select eventos de grupo":{"main":[[{"node":"Mantém apenas eventos com ack6","type":"main","index":0}]]},"BD: Add na sala de espera":{"main":[[{"node":"Discord: Evento add sala de espera","type":"main","index":0}]]},"json para reconhecer evento":{"main":[[{"node":"Zabbix: Update evento","type":"main","index":0}]]},"Zabbix: Update evento":{"main":[[{"node":"BD: Add new event on eventosZabbix","type":"main","index":0}]]},"BD: Add new event on eventosZabbix":{"main":[[{"node":"Calcula tempo entre eventos","type":"main","index":0}]]},"Prepara html do cliente":{"main":[[{"node":"json para atualizar ticket Movidesk","type":"main","index":0}]]},"json para atualizar ticket Movidesk":{"main":[[{"node":"Rota: Atualiza ou cria","type":"main","index":0}]]},"Calcula tempo entre eventos":{"main":[[{"node":"Prepara html do cliente","type":"main","index":0}]]},"Movidesk: Cria ticket":{"main":[[{"node":"Discord: Chamado aberto no Movidesk","type":"main","index":0}]]},"Rota: Atualiza ou cria":{"main":[[{"node":"Movidesk: Atualiza ticket","type":"main","index":0}],[{"node":"Movidesk: Cria ticket","type":"main","index":0}]]},"Movidesk: Atualiza ticket":{"main":[[{"node":"Discord: Chamado atualizado no Movidesk","type":"main","index":0}]]},"Hosts e evento iguais?":{"main":[[{"node":"Valida tempo","type":"main","index":0}],[{"node":"Table: Add linha na fila de espera","type":"main","index":0}]]},"BD: Select correspondentes":{"main":[[{"node":"Existe correspondência?","type":"main","index":0}]]},"Existe correspondência?":{"main":[[{"node":"Host e evento igual?","type":"main","index":0}],[{"node":"BD: Add na sala de espera","type":"main","index":0}]]},"Prepara push de eventos relacionados":{"main":[[{"node":"BD: add evento em eventos relacionados","type":"main","index":0}]]},"Host e evento igual?":{"main":[[{"node":"Do not","type":"main","index":0}],[{"node":"Prepara push de eventos relacionados","type":"main","index":0}]]},"Zabbix: Reconhecer evento já existente no BD":{"main":[[{"node":"Clientes gerais: Notificação de atualização de ticket","type":"main","index":0}]]},"Novo evento?":{"main":[[{"node":"BD: Atualiza linha antiga","type":"main","index":0}],[{"node":"Linha BD igual ou menor a 3?","type":"main","index":0}]]},"Valida tempo":{"main":[[{"node":"Novo evento?","type":"main","index":0}]]},"BD: Atualiza linha antiga":{"main":[[{"node":"BD: Cria linha do novo evento","type":"main","index":0}]]},"Prepara html do cliente1":{"main":[[{"node":"json para atualizar ticket Movidesk1","type":"main","index":0}]]},"BD: Cria linha do novo evento":{"main":[[{"node":"Prepara html do cliente1","type":"main","index":0}]]},"json para atualizar ticket Movidesk1":{"main":[[{"node":"Movidesk: Atualização para novo evento","type":"main","index":0}]]},"Movidesk: Atualização para novo evento":{"main":[[{"node":"JSON para reconhecimento","type":"main","index":0}]]},"JSON para reconhecimento":{"main":[[{"node":"Zabbix: Reconhecer evento já existente no BD","type":"main","index":0}]]},"BD: Atualiza linha BD":{"main":[[{"node":"JSON para reconhecer evento","type":"main","index":0}]]},"JSON para reconhecer evento":{"main":[[{"node":"Zabbix: Reconhece evento","type":"main","index":0}]]},"Linha BD igual ou menor a 3?":{"main":[[{"node":"BD: Atualiza linha BD","type":"main","index":0}],[{"node":"admin2","type":"main","index":0}]]},"Quando executado fluxo de tratamento":{"main":[[{"node":"BD: Consulta BD principal","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Existe eventos de grupo?","type":"main","index":0}]]},"Table: Add linha na fila de espera":{"main":[[{"node":"Next iteration","type":"main","index":0}]]},"Next iteration":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"BD: Consulta BD principal":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"akaImKErHyzNLJa6"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Quando executado fluxo de tratamento":[{"json":{"ID do evento":9980648,"ID do grupo":128,"ID do host":11724,"ID Movidesk para abertura de chamado":"849812723","Nome do evento":"INDISPONÍVEL VIA ICMP","Nome do host":"ASCENSUS MATRIZ - RUCKUS R500 GALPAO PERINI 02 - 172.16.5.2","Raiz do host":"ASCENSUS MATRIZ","Nome principal do cliente":"ASCENSUS MATRIZ","Host sem o IP":"ASCENSUS MATRIZ - RUCKUS R500 GALPAO PERINI 02","Timestamp da queda":1769806861,"Data e hora do evento":"SEXTA-FEIRA 30/01/2026 18:01:01","Tipo de cliente":3,"Tempo SLA":86400,"Restrições":false,"Emails em cópia para chamado Movidesk":"ti@ascensus.com.br","Nome do grupo":"ASCENSUS","Eventos relacionados":[9980648]},"pairedItem":{"item":0}}]},"versionId":"977480b4-713b-4e16-a3c3-a305de7c8940","activeVersionId":"977480b4-713b-4e16-a3c3-a305de7c8940","triggerCount":0,"shared":[{"updatedAt":"2025-12-09T19:30:20.278Z","createdAt":"2025-12-09T19:30:20.278Z","role":"workflow:owner","workflowId":"tLCtsxkiCqMImZVD","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":{"updatedAt":"2026-01-31T03:08:35.000Z","createdAt":"2026-01-31T03:08:29.651Z","versionId":"977480b4-713b-4e16-a3c3-a305de7c8940","workflowId":"tLCtsxkiCqMImZVD","nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fd883faf-a9c1-4487-bb66-e95c5e1c48fd","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[784,512],"id":"eedc6b83-c79d-4346-89e4-d62066fd67a4","name":"Existe eventos de grupo?"},{"parameters":{"jsCode":"const timestampQueda = $('Quando executado fluxo de tratamento').first().json['Timestamp da queda'];\nconst time_from = timestampQueda - (60 * 45);\nconst time_till = timestampQueda + (60 * 45);\nconst idGroup = $('Quando executado fluxo de tratamento').first().json['ID do grupo'];\n\nreturn [\n  {\n    jsonrpc: \"2.0\",\n    method: \"event.get\",\n    params: {\n      output: [\"eventid\", \"clock\", \"r_eventid\", \"acknowledged\"],\n\n      selectHosts: [\"hostid\", \"host\"],\n\t  \n\t  groupids: `${String(idGroup)}`,\n\t  \n\t  selectRelatedObject: [\"description\", \"value\"],\n\n      select_acknowledges: [\"clock\", \"message\", \"action\", \"username\"],\n\n      time_from: time_from,\n\t  \n\t  time_till: time_till,\n\n      sortfield: [\"clock\", \"eventid\"],\n      \n\t  sortorder: \"DESC\"\n    },\n    id: 1\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,992],"id":"7607c9dc-7cda-4669-90de-b2255997127d","name":"json para consulta Zabbix","disabled":true},{"parameters":{"jsCode":"const eventos_do_grupo = $input.first().json.result;\nconst raiz_nome_host = $('Quando executado fluxo de tratamento').first().json['Raiz do nome completo'];\n\nlet eventos_com_reconhecidos = [];\nlet eventosReconhecidos = false;\nlet index = 0\n\nfor (const ev of eventos_do_grupo) {\n  if (ev.acknowledges.length >= 1 && ev.acknowledged == \"1\") {\n    if (ev.hosts[0].host.includes(raiz_nome_host)) {\n      eventos_com_reconhecidos.push(ev)\n    }\n    index++\n  } else {\n    continue\n  }\n}\n\nif (eventos_com_reconhecidos.length >= 1) {\n  eventosReconhecidos = true\n  return [{\n    eventosReconhecidos,\n    eventos_com_reconhecidos\n  }]\n} else {\n  return [{eventosReconhecidos}]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,992],"id":"19705470-cd13-4306-8a49-af32bdbdddf0","name":"Mantém apenas eventos com ack6","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb6eff08-3023-4783-bfaf-1cacf44c64ab","leftValue":"={{ $json.eventosReconhecidos }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1680,992],"id":"b4fbb663-8274-4a0b-b871-8b73ef1fabdf","name":"Existe eventos válidos?","disabled":true},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1232,992],"id":"1eea9a2a-aa9a-41e4-8ad4-a5f9732fb43d","name":"Zabbix: Select eventos de grupo","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}},"disabled":true},{"parameters":{"tableId":"sala de espera","fieldsUi":{"fieldValues":[{"fieldId":"id_evento","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['ID do evento'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Nome do host'] }}"},{"fieldId":"evento","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Nome do evento'] }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Timestamp da queda'] }}"},{"fieldId":"id_grupo","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['ID do grupo'] }}"},{"fieldId":"nome_grupo","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Nome do grupo'] }}"},{"fieldId":"id_tipoCliente","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Tipo de cliente'] }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Raiz do host'] }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Eventos relacionados'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2352,1280],"id":"40eefd3f-4fa4-4bc7-8a9d-aef44a26135f","name":"BD: Add na sala de espera","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**CLIENTE:** {{ $('Quando executado fluxo de tratamento').item.json['Nome principal do cliente'] }}\n**HOST MATRIZ:** {{ $('Quando executado fluxo de tratamento').item.json['Nome do host'] }}\n**EVENTO:** {{ $('Quando executado fluxo de tratamento').item.json['Nome do evento'] }}\n**MOMENTO INDISPONÍVEL:** {{ $('Quando executado fluxo de tratamento').item.json['Data e hora do evento'].toUpperCase() }}","color":"#FF7518","title":"=Cliente geral na sala de espera - {{ $('Quando executado fluxo de tratamento').first().json['Nome principal do cliente'] }}","thumbnail":"https://cdn-icons-png.freepik.com/512/1434/1434350.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2576,1280],"id":"d1abdd92-700b-4949-89fe-5232a7b159ab","name":"Discord: Evento add sala de espera","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"UwSdPtNpd16mBJVp","name":"Adm: Sala de espera"}},"disabled":true},{"parameters":{"jsCode":"const authenticator = $('Quando executado fluxo de tratamento').first().json['Dados do evento'].ID_consulta_zabbix;\n\nconst mensagem_para_reconhecimento = $('Mantém apenas eventos com ack6').first().json.eventos_com_reconhecidos[0].acknowledges[0].message;\nconst ID_do_evento = $('Quando executado fluxo de tratamento').first().json['Dados do evento'].ID_evento;\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: ID_do_evento,\n    message: mensagem_para_reconhecimento,\n    action: 6\n  },\n  auth: authenticator,\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3888,688],"id":"56d0e0b6-3d00-499c-8102-291b36bd04fc","name":"json para reconhecer evento","disabled":true},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4112,688],"id":"9da23ca9-1703-4a36-99f8-b34888d56a90","name":"Zabbix: Update evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"disabled":true},{"parameters":{"tableId":"eventosZabbix","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Dados do evento'].ID_evento }}"},{"fieldId":"idHost","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Dados do evento'].ID_host }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Variáveis do tipo cliente'].id }}"},{"fieldId":"idGroup","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['ID do grupo'] }}"},{"fieldId":"nomeHost","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Dados do evento'].nome_host }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Raiz do nome completo'] }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Dados do evento'].nome_trigger }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Dados do evento'].timestamp_queda }}"},{"fieldId":"statusChamado","fieldValue":"2"},{"fieldId":"ticketMovidesk","fieldValue":"={{ parseInt($('Mantém apenas eventos com ack6').item.json.eventos_com_reconhecidos[0].acknowledges[0].message) }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ [0] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4336,688],"id":"c88a972e-de0a-4c8e-b302-7735610b2133","name":"BD: Add new event on eventosZabbix","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"jsCode":"const flagMesmoticket = $input.first().json.flagMesmoTicket;\nconst idCliente = $('Quando executado fluxo de tratamento').first().json['Variáveis do cliente'].ID_MOVIDESK;\nconst copiaPara = $('Quando executado fluxo de tratamento').first().json['Variáveis do cliente'].CC;\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\n// Monta as linhas do tbody\nconst hostName = $('Quando executado fluxo de tratamento').first().json['Dados do evento'].nome_host;\nconst raizNomeHost = hostName.split(\"-\")[0].trim();\nconst evento = $('Quando executado fluxo de tratamento').first().json['Dados do evento'].nome_trigger;\nconst data_hora_queda = $('Quando executado fluxo de tratamento').first().json['Dados do evento'].data_hora_evento;\nconst ticket_movidesk_update = $('BD: Add new event on eventosZabbix').first().json.ticketMovidesk;\n\nif (flagMesmoticket == true) {\n  // ==== CLIAR HTML DO CLIENTE ====\n  function htmlCliente(nomeHost, eventoGerador, dataHoraEvento){\n    const htmlCliente = `\n      <p>${getGreeting()}</p>\n      <br>\n      <p>Um novo evento relacionado ao evento anterior iniciou em nosso sistema de monitorameto poucos segundos após o evento original. Segue abaixo as informações do novo evento:</p>\n      <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n        <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n          <thead>\n              <tr>\n                <th>Host</th>\n                <th>Evento</th>\n                <th>Horário da queda</th>\n              </tr>\n          </thead>\n          <tbody>\n              <tr>\n                <td>${nomeHost}</td>\n                <td>${eventoGerador}</td>\n                <td>${dataHoraEvento}</td>\n              </tr>\n          </tbody>\n        </table>\n      </div>\n      \n      <p> Permaneceremos à disposição.</p>\n      <br>\n      <br>\n      <p>Atenciosamente </p>\n      <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n    `;\n    return htmlCliente;\n  }\n\n  const variavel_atualizacao_ticket = `&id=${ticket_movidesk_update}`\n  \n  return [{\n    htmlCliente: htmlCliente(hostName, evento, data_hora_queda),\n    variavel_atualizacao_ticket,\n    idCliente,\n    copiaPara\n  }];\n} \nelse {\n  function htmlCliente(nomeHost, eventoGerador, dataHoraEvento){\n    const htmlCliente = `\n      <p>${getGreeting()}</p>\n      <br>\n      <p>Identificamos um novo evento de indisponibilidade em nosso sistema de monitoramento:</p>\n      <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n        <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n          <thead>\n              <tr>\n                <th>Host</th>\n                <th>Evento</th>\n                <th>Horário da queda</th>\n              </tr>\n          </thead>\n          <tbody>\n              <tr>\n                <td>${nomeHost}</td>\n                <td>${eventoGerador}</td>\n                <td>${dataHoraEvento}</td>\n              </tr>\n          </tbody>\n        </table>\n      </div>\n      \n      <p>Gostaríamos de confirmar se a ocorrência já é de conhecimento da equipe ${raizNomeHost} ou se trata de uma falha eventual? </p>\n      <p>Recomendamos a verificação da ocorrência acima notifica para validação e tratativa da indisponibilidade. Permaneceremos em monitoramento. Informamos quando o evento estiver com status de resolvido em nosso monitoramento.</p>\n      <br>\n      <br>\n      <p>Atenciosamente </p>\n      <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n    `;\n    return htmlCliente;\n  }\n  const subject = `REPARO - ${hostName}`;\n\n  return [{\n    htmlCliente: htmlCliente(hostName, evento, data_hora_queda),\n    subject,\n    idCliente,\n    copiaPara\n  }];\n}\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4784,688],"id":"4ab8b298-ccbd-4df6-903c-904733e6c53a","name":"Prepara html do cliente","disabled":true},{"parameters":{"jsCode":"const flagMesmoTicket = $('Calcula tempo entre eventos').first().json.flagMesmoTicket;\nconst htmlCliente = $input.first().json.htmlCliente;\nconst id_cliente = $input.first().json.idCliente;\nconst copiaPara = $input.first().json.copiaPara;\nconst subject = $input.first().json.subject || \"\";\nconst variavel_ticket_movidesk =$input.first().json.variavel_atualizacao_ticket;\n\n//id_movideks_para_testes = 1836303904\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nif (flagMesmoTicket == true) {\n  return {\n    json: {\n      actions: [\n        { type: 2, description: htmlCliente ,createdBy: { id: \"1458772347\" }, workTime: \"00:02:00\" }\n      ]\n    }\n  }\n} else {\n  return {\n    json: {\n      type: 2,\n      subject: `${subject}`,\n      category: \"01 - Atendimento Helpdesk\",\n      serviceFirstLevelId: 325878,\n      urgency: \"Média\",\n      ownerTeam: \"NOC\",\n      status: \"Aguardando\",\n      justification: \"Validação\",\n      createdBy: { id: \"1458772347\" },\n      Clients: [{ id: id_cliente }],\n      cc: copiaPara,\n      actions: [\n        { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" } }\n      ]\n    }\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5008,688],"id":"47f9f2aa-f82b-422e-aeb2-2722e50857b4","name":"json para atualizar ticket Movidesk","disabled":true},{"parameters":{"jsCode":"const timestamp_evento_atual = $('Quando executado fluxo de tratamento').first().json['Dados do evento'].timestamp_queda;\nconst timestamp_evento_matriz = parseInt($('Mantém apenas eventos com ack6').first().json.eventos_com_reconhecidos[0].clock);\nconst variavel_entre_tempos = 10 * 60;\nconst tempo_entre_eventos = timestamp_evento_atual - timestamp_evento_matriz;\n\nlet flagMesmoTicket = false;\nif (tempo_entre_eventos <= variavel_entre_tempos) {\n  flagMesmoTicket = true;\n  return [{flagMesmoTicket, tempo_entre_eventos}]\n} else {\n  return [{flagMesmoTicket}]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4560,688],"id":"8b58ef65-2bb5-49af-965e-d5d73ea31445","name":"Calcula tempo entre eventos","disabled":true},{"parameters":{"method":"POST","url":"https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5456,784],"id":"1928beab-7022-4c46-ad00-c79b63bfd664","name":"Movidesk: Cria ticket","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Calcula tempo entre eventos').item.json.flagMesmoTicket }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"1637a1dd-c701-4f72-8d7f-c2a2bfc67f30"}],"combinator":"and"},"renameOutput":true,"outputKey":"ATUALIZA TICKET"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4cad2e40-2f7d-4faf-8ebd-681e8f8ebfec","leftValue":"={{ $('Calcula tempo entre eventos').item.json.flagMesmoTicket }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"CRIA NOVO TICKET"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[5232,688],"id":"a46ed95c-4839-4764-a2c9-eb3d468713c2","name":"Rota: Atualiza ou cria","disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Um novo evento foi adicionado ao eventosZabbix na tabela\n\n**CLIENTE:** {{ $('Quando executado fluxo de tratamento').item.json['Raiz do nome completo'] }}\n**HOST MATRIZ:** {{ $('Quando executado fluxo de tratamento').item.json['Dados do evento'].nome_host }}\n**EVENTO:** {{ $('Quando executado fluxo de tratamento').item.json['Dados do evento'].nome_trigger }}\n**MOMENTO INDISPONÍVEL:** {{ $('Quando executado fluxo de tratamento').item.json['Dados do evento'].data_hora_evento }}\n**TICKET MOVIDESK:** {{ $json.eventos_com_reconhecidos[0].acknowledges[0].message }}","color":"#FF7518","title":"=CHAMADO ABERTO","thumbnail":"https://cdn-icons-png.freepik.com/512/4034/4034629.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[5680,592],"id":"a3f7c5c5-bd18-42f7-8ca6-e1838dd63784","name":"Discord: Chamado atualizado no Movidesk","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"3b4X5RigC7ztK6Hr","name":"Clientes gerais: Abertura de chamado"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Um novo ticket foi criado no Movidesk\n\n**CLIENTE:** {{ $('Quando executado fluxo de tratamento').item.json['Raiz do nome completo'] }}\n**HOST MATRIZ:** {{ $('Quando executado fluxo de tratamento').item.json['Dados do evento'].nome_host }}\n**EVENTO:** {{ $('Quando executado fluxo de tratamento').item.json['Dados do evento'].nome_trigger }}\n**MOMENTO INDISPONÍVEL:** {{ $('Quando executado fluxo de tratamento').item.json['Dados do evento'].data_hora_evento }}\n**TICKET MOVIDESK:** {{ $json.id }}","color":"#FF7518","title":"=CHAMADO ABERTO","thumbnail":"https://cdn-icons-png.freepik.com/512/4034/4034629.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[5680,784],"id":"b9b402b7-d99c-490c-ae05-793eb2fdbd3d","name":"Discord: Chamado aberto no Movidesk","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"3b4X5RigC7ztK6Hr","name":"Clientes gerais: Abertura de chamado"}},"disabled":true},{"parameters":{"method":"PATCH","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6{{ $('Prepara html do cliente').item.json.variavel_atualizacao_ticket }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5456,592],"id":"3a1fbd1b-55de-4b5d-afd1-cf1bf7844b05","name":"Movidesk: Atualiza ticket","retryOnFail":true,"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ff569df-5c75-4c55-a593-c990cdf3aa4c","leftValue":"={{ $('Quando executado fluxo de tratamento').item.json['Nome do host'] }}","rightValue":"={{ $('BD: Consulta BD principal').item.json.nomeHost }}","operator":{"type":"string","operation":"equals"}},{"id":"8611bf95-6148-4248-9823-50740b566e16","leftValue":"={{ $('Quando executado fluxo de tratamento').item.json['Nome do evento'] }}","rightValue":"={{ $('BD: Consulta BD principal').item.json.nomeEvento }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1008,144],"id":"54550e9f-e5b5-4bbe-a17e-0587707c579d","name":"Hosts e evento iguais?"},{"parameters":{"operation":"get","tableId":"sala de espera","filters":{"conditions":[{"keyName":"id_grupo","keyValue":"={{ $('Quando executado fluxo de tratamento').item.json[\"ID do grupo\"] }}"},{"keyName":"raizNomeHost","keyValue":"={{ $('Quando executado fluxo de tratamento').item.json['Raiz do host'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1904,1088],"id":"8895f8c4-b2ca-4430-9315-144750cbe13c","name":"BD: Select correspondentes","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b851b4b8-fa77-467a-bc61-c1b371da9765","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2128,1088],"id":"56ba6e57-d282-4849-ba91-3e3b1cd8b282","name":"Existe correspondência?","alwaysOutputData":false,"disabled":true},{"parameters":{"jsCode":"const id_evento_push_array = $('Quando executado fluxo de tratamento').first().json['ID do evento'];\nconst eventos_relacionados = $input.first().json.eventosRelacionados;\n\nif (eventos_relacionados.length == 1 && eventos_relacionados[0] == \"0\") {\n    eventos_relacionados.pop()\n    eventos_relacionados.push(`${id_evento_push_array}`)\n} else {\n  if (eventos_relacionados.includes(`${id_evento_push_array}`)) {\n    return [{eventos_relacionados}]\n  } else {\n    eventos_relacionados.push(`${id_evento_push_array}`)\n  }\n}\n\nreturn [{eventos_relacionados}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2576,1088],"id":"c7df7a7e-1cc7-42bd-9f4b-d7e275a6ea19","name":"Prepara push de eventos relacionados","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"45481112-fc3a-4263-ab58-4a1650d284c0","leftValue":"={{ $('Quando executado fluxo de tratamento').item.json['Nome do host'] }}","rightValue":"={{ $('BD: Select correspondentes').item.json.nome_host }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"626640f5-aa67-407d-9fb3-c1bd34e00ceb","leftValue":"={{ $('Quando executado fluxo de tratamento').item.json['Nome do evento'] }}","rightValue":"={{ $('BD: Select correspondentes').item.json.evento }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2352,992],"id":"64bccf15-f69b-46b4-b131-f6bf7e5c06c4","name":"Host e evento igual?","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2576,896],"id":"5efd5695-1de8-4d5c-9e6c-7ef97dc20597","name":"Do not","disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Verificar rota clientes gerais\n\n**CLIENTE:** {{ $('Quando executado fluxo de tratamento').item.json['Nome principal do cliente'] }}\n**HOST MATRIZ:** {{ $('Quando executado fluxo de tratamento').item.json['Nome do host'] }}\n**EVENTO:** {{ $('Quando executado fluxo de tratamento').item.json['Nome do evento'] }}\n**MOMENTO INDISPONÍVEL:** {{ $('Quando executado fluxo de tratamento').item.json['Data e hora do evento'].toUpperCase() }}","author":"Fluxo clientes gerais","color":"#FF7518","title":"=Verificar nova rota","thumbnail":"https://cdn-icons-png.freepik.com/512/1434/1434350.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1904,896],"id":"bae1e5a4-4f5b-4496-b5b1-fdc842fa2772","name":"admin","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}},"disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3024,-144],"id":"5232b2e7-6371-4498-a3f9-68a4985dd49b","name":"Zabbix: Reconhecer evento já existente no BD","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**CLIENTE:** {{ $('Quando executado fluxo de tratamento').item.json['Nome principal do cliente'] }}\n**HOST MATRIZ:** {{ $('Quando executado fluxo de tratamento').item.json['Nome do host'] }}\n**EVENTO:** {{ $('Quando executado fluxo de tratamento').item.json['Nome do evento'] }}\n**MOMENTO INDISPONÍVEL:** {{ $('Quando executado fluxo de tratamento').item.json['Data e hora do evento'].toUpperCase() }}","color":"#FF7518","title":"={{ $json.raizNomeHost }} aguardando na sala de espera","thumbnail":"https://cdn-icons-png.freepik.com/64/1434/1434350.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[688,-656],"id":"692e70d7-3728-4317-be1a-a0b7e6c3781b","name":"Discord: Evento add sala de espera1","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"UwSdPtNpd16mBJVp","name":"Adm: Sala de espera"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"39065b8a-92d6-4113-a469-1ef0869cb548","leftValue":"={{ $json.tagNovoEvento }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1456,48],"id":"6ab1db43-02e3-4ca4-81b2-e6e03714c159","name":"Novo evento?","disabled":true},{"parameters":{"jsCode":"const timestamp_evento_bd = $('BD: Consulta BD principal').first().json.timestampQueda;\n\nconst vinte_quatro_horas = 24 * 60 * 60; // segundos em um dia\n\nconst timestamp_atual = DateTime.now().toUnixInteger()\nconst dataHoraAtual = DateTime.fromSeconds(timestamp_atual, {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).toFormat('cccc, dd/MM/yyyy HH:mm:ss').toUpperCase()\n\nconst dif_atual_menos_bd = timestamp_atual - timestamp_evento_bd;\n\nlet tagNovoEvento = false\nif (dif_atual_menos_bd > vinte_quatro_horas) {\n  tagNovoEvento = true;\n}\n\nreturn [{\n  tagNovoEvento,\n  dataHoraAtual,\n  dif_atual_menos_bd\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,48],"id":"56717be0-5aaa-4f86-a3f3-e1d9398a9683","name":"Valida tempo","disabled":true},{"parameters":{"operation":"update","tableId":"eventosZabbix","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Hosts e evento iguais?').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"statusChamado","fieldValue":"5"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1680,-144],"id":"1c68fd55-c391-418f-9094-25b5595cb60a","name":"BD: Atualiza linha antiga","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"tableId":"eventosZabbix","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['ID do evento'] }}"},{"fieldId":"idHost","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['ID do host'] }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Tipo de cliente'] }}"},{"fieldId":"idGroup","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['ID do grupo'] }}"},{"fieldId":"nomeHost","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Nome do host'] }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Raiz do host'] }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Nome do evento'] }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Timestamp da queda'] }}"},{"fieldId":"statusChamado","fieldValue":"2"},{"fieldId":"ticketMovidesk","fieldValue":"={{ $json.ticketMovidesk }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ [ $('Quando executado fluxo de tratamento').item.json['ID do evento'] ] }}"},{"fieldId":"qtdQuedas","fieldValue":"={{ $json.qtdQuedas + 1}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1904,-144],"id":"f4d39ad2-3bc9-4695-9c1e-327e7500b9ba","name":"BD: Cria linha do novo evento","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"jsCode":"// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\n// Monta as linhas do tbody\nconst hostName = $('Quando executado fluxo de tratamento').first().json['Nome do host'];\nconst evento = $('Quando executado fluxo de tratamento').first().json['Nome do evento'];\nconst data_hora_queda = $('Quando executado fluxo de tratamento').first().json['Data e hora do evento'];\nconst ticket_movidesk = $input.first().json.ticketMovidesk;\nconst ID_evento = $input.first().json.idEvento;\n\n// ==== CLIAR HTML DO CLIENTE ====\nfunction htmlCliente(nomeHost, eventoGerador, dataHoraEvento){\n  const htmlCliente = `\n    <p>${getGreeting()}</p>\n    <br>\n    <p>Um novo evento iniciou no monitoramento. O evento em questão é uma recorrência de indisponibilidade:</p>\n    <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n      <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n        <thead>\n            <tr>\n              <th>Host</th>\n              <th>Evento</th>\n              <th>Horário da ocorrência</th>\n            </tr>\n        </thead>\n        <tbody>\n            <tr>\n              <td>${nomeHost}</td>\n              <td>${eventoGerador}</td>\n              <td>${dataHoraEvento}</td>\n            </tr>\n        </tbody>\n      </table>\n    </div>\n    \n    <p>Permaneceremos à disposição e, retornamos quando houver uma mudança de status para <strong>normalizado</strong> no monitoramento.</p>\n    <br>\n    <br>\n    <p>Atenciosamente, </p>\n    <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n  `;\n  return htmlCliente;\n}\n\nreturn [{\n  htmlCliente: htmlCliente(hostName, evento, data_hora_queda),\n  ticket_movidesk,\n  ID_evento\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2128,-144],"id":"c84bf099-bbaa-4dec-ac5a-0fef017fc64e","name":"Prepara html do cliente1","disabled":true},{"parameters":{"jsCode":"const htmlCliente = $input.first().json.htmlCliente;\n//id_movideks_para_testes = 1836303904\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nreturn {\n  json: {\n    actions: [\n      {type: 2, description: htmlCliente, createdBy: {id: \"1458772347\"}}\n    ]\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2352,-144],"id":"cae743e1-ad0a-4637-80fe-a28bac837c7e","name":"json para atualizar ticket Movidesk1","disabled":true},{"parameters":{"method":"PATCH","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"538206c9-60b4-4bf4-ae85-415ab9a68be6"},{"name":"id","value":"={{ $('Prepara html do cliente1').item.json.ticket_movidesk }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2576,-144],"id":"c3e29973-0906-4fab-b3c8-d4f6d9da9d7f","name":"Movidesk: Atualização para novo evento","retryOnFail":true,"disabled":true},{"parameters":{"jsCode":"const mensagem_para_reconhecimento = $('Prepara html do cliente1').first().json.ticket_movidesk;\nconst ID_evento_reconhecimento = $('Prepara html do cliente1').first().json.ID_evento;\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: ID_evento_reconhecimento,\n    message: String(mensagem_para_reconhecimento),\n    action: 6\n  },\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2800,-144],"id":"470aec54-83a0-427a-b481-fdbccb7e07a6","name":"JSON para reconhecimento","disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**CLIENTE:** {{ $('Quando executado fluxo de tratamento').first().json['Nome principal do cliente'] }}\n- **HOST MATRIZ:** {{ $('Quando executado fluxo de tratamento').first().json['Nome do host'] }}\n- **EVENTO:** {{ $('Quando executado fluxo de tratamento').first().json['Nome do evento'] }}\n- **MOMENTO INDISPONÍVEL:** {{ $('Quando executado fluxo de tratamento').first().json['Data e hora do evento'] }}\n\n- **TICKET MOVIDESK:** {{ $('Prepara html do cliente1').item.json.ticket_movidesk }}","color":"#FF7518","title":"=Novo chamado aberto para {{ $('Quando executado fluxo de tratamento').first().json['Nome principal do cliente'] }}","thumbnail":"https://cdn-icons-png.freepik.com/64/4034/4034629.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3248,-144],"id":"6e8647dc-247d-493f-8eee-b34197eb0392","name":"Clientes gerais: Notificação de atualização de ticket","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"3b4X5RigC7ztK6Hr","name":"Clientes gerais: Abertura de chamado"}},"disabled":true},{"parameters":{"operation":"update","tableId":"sala de espera","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Select correspondentes').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"eventosRelacionados","fieldValue":"={{ $json.eventos_relacionados }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2800,1088],"id":"57fb63ad-9449-4d3c-85a8-0f2ed3c649d0","name":"BD: add evento em eventos relacionados","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"operation":"update","tableId":"eventosZabbix","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Consulta BD principal').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"statusChamado","fieldValue":"2"},{"fieldId":"qtdQuedas","fieldValue":"={{ $('BD: Consulta BD principal').item.json.qtdQuedas + 1 }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['Timestamp da queda'] }}"},{"fieldId":"timestampRecuperacao","fieldValue":"0"},{"fieldId":"idEventoRecuperacao","fieldValue":"0"},{"fieldId":"eventosRelacionados","fieldValue":"={{ [$('Quando executado fluxo de tratamento').item.json['ID do evento']] }}"},{"fieldId":"idEvento","fieldValue":"={{ $('Quando executado fluxo de tratamento').item.json['ID do evento'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1904,48],"id":"e0dfc177-28fc-4dd4-8ba1-6f85cc92e4f8","name":"BD: Atualiza linha BD","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"jsCode":"const mensagem_para_reconhecimento = String($input.first().json.ticketMovidesk);\nconst ID_do_evento = $input.first().json.idEvento;\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: ID_do_evento,\n    message: mensagem_para_reconhecimento,\n    action: 6\n  },\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2128,48],"id":"20552a2e-361f-48c2-8a71-9b81ff8fb7e8","name":"JSON para reconhecer evento","disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2352,48],"id":"89d72335-71b7-406f-98f8-0ce14c224bc2","name":"Zabbix: Reconhece evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**HOST MATRIZ:** {{ $('Quando executado fluxo de tratamento').item.json['Nome do host'] }}\n**EVENTO:** {{ $('Quando executado fluxo de tratamento').item.json['Nome do evento'] }}","author":"Fluxo clientes gerais","color":"#009EDD","title":"=Nova Rota - linha bd é maior ou igual a 4 - fluxo acima","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1904,240],"id":"30b995bd-a2bd-460f-a45f-d41d3633e9c7","name":"admin2","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6485d568-3b2b-452e-8b6f-e080612108de","leftValue":"={{ $('BD: Consulta BD principal').item.json.statusChamado }}","rightValue":3,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1680,144],"id":"10b09caf-9513-4fca-b1a6-ec3b741d6014","name":"Linha BD igual ou menor a 3?","disabled":true},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[112,512],"id":"969f42c6-2e79-4b21-a9d1-544080c0f67a","name":"Quando executado fluxo de tratamento"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[560,512],"id":"11ae1075-2e5a-4fa4-9bde-ac2bebab94c4","name":"Loop Over Items"},{"parameters":{"dataTableId":{"__rl":true,"value":"ompaNZVojGQ9mo5i","mode":"list","cachedResultName":"fila de espera - abertura de chamado","cachedResultUrl":"/projects/UcF1WBdewsFeRVFr/datatables/ompaNZVojGQ9mo5i"},"columns":{"mappingMode":"defineBelow","value":{"id_evento":"={{ $('Quando executado fluxo de tratamento').item.json['ID do evento'] }}","id_host":"={{ $('Quando executado fluxo de tratamento').item.json['ID do host'] }}","id_grupo":"={{ $('Quando executado fluxo de tratamento').item.json['ID do grupo'] }}","id_movidesk":"={{ $('Quando executado fluxo de tratamento').item.json['ID Movidesk para abertura de chamado'] }}","host":"={{ $('Quando executado fluxo de tratamento').item.json['Nome do host'] }}","host_raiz":"={{ $('Quando executado fluxo de tratamento').item.json['Raiz do host'] }}","evento":"={{ $('Quando executado fluxo de tratamento').item.json['Nome do evento'] }}","timestamp_queda":"={{ $('Quando executado fluxo de tratamento').item.json['Timestamp da queda'] }}","tipo_contrato":"={{ $('Quando executado fluxo de tratamento').item.json['Tipo de cliente'] }}","nome_grupo":"={{ $('Quando executado fluxo de tratamento').item.json['Nome do grupo'] }}","cc_ticket_movidesk":"={{ $('Quando executado fluxo de tratamento').item.json['Emails em cópia para chamado Movidesk'] }}","eventos_relacionados":"=[{{ $('Quando executado fluxo de tratamento').item.json['ID do evento'] }}]"},"matchingColumns":[],"schema":[{"id":"id_evento","displayName":"id_evento","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"id_host","displayName":"id_host","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"id_grupo","displayName":"id_grupo","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"id_movidesk","displayName":"id_movidesk","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"host","displayName":"host","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"host_raiz","displayName":"host_raiz","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"evento","displayName":"evento","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"timestamp_queda","displayName":"timestamp_queda","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"nome_grupo","displayName":"nome_grupo","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tipo_contrato","displayName":"tipo_contrato","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"cc_ticket_movidesk","displayName":"cc_ticket_movidesk","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"eventos_relacionados","displayName":"eventos_relacionados","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[1232,240],"id":"4e1e0812-9da4-4dbe-b4b5-4e723e0639bb","name":"Table: Add linha na fila de espera"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1232,-192],"id":"37a9939a-8758-46ca-8e92-92994e0515e9","name":"Next iteration"},{"parameters":{"operation":"getAll","tableId":"chamados abertos","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"idGroup","condition":"eq","keyValue":"={{ $json['ID do grupo'] }}"},{"keyName":"timestampQueda","condition":"gte","keyValue":"={{ $json['Timestamp da queda'] - ( $json['Tempo SLA'] / 2) }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[336,512],"id":"9781608f-ae46-4231-9db1-030e3cdff30a","name":"BD: Consulta BD principal","alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}}],"connections":{"Existe eventos de grupo?":{"main":[[{"node":"Hosts e evento iguais?","type":"main","index":0}],[{"node":"json para consulta Zabbix","type":"main","index":0}]]},"json para consulta Zabbix":{"main":[[{"node":"Zabbix: Select eventos de grupo","type":"main","index":0}]]},"Mantém apenas eventos com ack6":{"main":[[{"node":"Existe eventos válidos?","type":"main","index":0}]]},"Existe eventos válidos?":{"main":[[{"node":"admin","type":"main","index":0}],[{"node":"BD: Select correspondentes","type":"main","index":0}]]},"Zabbix: Select eventos de grupo":{"main":[[{"node":"Mantém apenas eventos com ack6","type":"main","index":0}]]},"BD: Add na sala de espera":{"main":[[{"node":"Discord: Evento add sala de espera","type":"main","index":0}]]},"json para reconhecer evento":{"main":[[{"node":"Zabbix: Update evento","type":"main","index":0}]]},"Zabbix: Update evento":{"main":[[{"node":"BD: Add new event on eventosZabbix","type":"main","index":0}]]},"BD: Add new event on eventosZabbix":{"main":[[{"node":"Calcula tempo entre eventos","type":"main","index":0}]]},"Prepara html do cliente":{"main":[[{"node":"json para atualizar ticket Movidesk","type":"main","index":0}]]},"json para atualizar ticket Movidesk":{"main":[[{"node":"Rota: Atualiza ou cria","type":"main","index":0}]]},"Calcula tempo entre eventos":{"main":[[{"node":"Prepara html do cliente","type":"main","index":0}]]},"Movidesk: Cria ticket":{"main":[[{"node":"Discord: Chamado aberto no Movidesk","type":"main","index":0}]]},"Rota: Atualiza ou cria":{"main":[[{"node":"Movidesk: Atualiza ticket","type":"main","index":0}],[{"node":"Movidesk: Cria ticket","type":"main","index":0}]]},"Movidesk: Atualiza ticket":{"main":[[{"node":"Discord: Chamado atualizado no Movidesk","type":"main","index":0}]]},"Hosts e evento iguais?":{"main":[[{"node":"Valida tempo","type":"main","index":0}],[{"node":"Table: Add linha na fila de espera","type":"main","index":0}]]},"BD: Select correspondentes":{"main":[[{"node":"Existe correspondência?","type":"main","index":0}]]},"Existe correspondência?":{"main":[[{"node":"Host e evento igual?","type":"main","index":0}],[{"node":"BD: Add na sala de espera","type":"main","index":0}]]},"Prepara push de eventos relacionados":{"main":[[{"node":"BD: add evento em eventos relacionados","type":"main","index":0}]]},"Host e evento igual?":{"main":[[{"node":"Do not","type":"main","index":0}],[{"node":"Prepara push de eventos relacionados","type":"main","index":0}]]},"Zabbix: Reconhecer evento já existente no BD":{"main":[[{"node":"Clientes gerais: Notificação de atualização de ticket","type":"main","index":0}]]},"Novo evento?":{"main":[[{"node":"BD: Atualiza linha antiga","type":"main","index":0}],[{"node":"Linha BD igual ou menor a 3?","type":"main","index":0}]]},"Valida tempo":{"main":[[{"node":"Novo evento?","type":"main","index":0}]]},"BD: Atualiza linha antiga":{"main":[[{"node":"BD: Cria linha do novo evento","type":"main","index":0}]]},"Prepara html do cliente1":{"main":[[{"node":"json para atualizar ticket Movidesk1","type":"main","index":0}]]},"BD: Cria linha do novo evento":{"main":[[{"node":"Prepara html do cliente1","type":"main","index":0}]]},"json para atualizar ticket Movidesk1":{"main":[[{"node":"Movidesk: Atualização para novo evento","type":"main","index":0}]]},"Movidesk: Atualização para novo evento":{"main":[[{"node":"JSON para reconhecimento","type":"main","index":0}]]},"JSON para reconhecimento":{"main":[[{"node":"Zabbix: Reconhecer evento já existente no BD","type":"main","index":0}]]},"BD: Atualiza linha BD":{"main":[[{"node":"JSON para reconhecer evento","type":"main","index":0}]]},"JSON para reconhecer evento":{"main":[[{"node":"Zabbix: Reconhece evento","type":"main","index":0}]]},"Linha BD igual ou menor a 3?":{"main":[[{"node":"BD: Atualiza linha BD","type":"main","index":0}],[{"node":"admin2","type":"main","index":0}]]},"Quando executado fluxo de tratamento":{"main":[[{"node":"BD: Consulta BD principal","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Existe eventos de grupo?","type":"main","index":0}]]},"Table: Add linha na fila de espera":{"main":[[{"node":"Next iteration","type":"main","index":0}]]},"Next iteration":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"BD: Consulta BD principal":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"authors":"William Semmler","name":"V0.2.1","description":"","autosaved":true},"tags":[{"updatedAt":"2025-10-24T18:08:27.659Z","createdAt":"2025-10-24T18:08:27.659Z","id":"oUDNU2rUDi9xwp5Q","name":"FluxoNOC_principal"},{"updatedAt":"2025-11-04T16:51:26.805Z","createdAt":"2025-10-28T19:52:51.873Z","id":"y2aOpy57Bluz7ons","name":"clientes_gerais"}]}