contratos-2-Kd9DFlZfIm0B3YAX.json
{"updatedAt":"2025-12-29T12:20:06.000Z","createdAt":"2025-12-09T13:55:27.387Z","id":"Kd9DFlZfIm0B3YAX","name":"Contratos 2","active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,-432],"id":"710a8a2b-2987-4a27-99f9-03223fcdb6a9","name":"When 01. Fluxo base is executed"},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"acknowledged\", \"r_eventid\"],\n    \"eventids\": \"{{ $json['ID do evento'] }}\",\n    \"selectHosts\": [\"host\", \"hostid\", \"description\"],\n    \"select_acknowledges\": [\"clock\", \"message\", \"action\"]\n  },\n  \"id\": 1\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,-864],"id":"f4459be7-e8c6-4fd8-9d7b-5e89dd878238","name":"Zabbix: Consulta reconhecimentos","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const reconhecidos = $input.first().json.result[0].acknowledges;\n\nlet eventos_reconhecidos = [];\nfor (const reconhecido of reconhecidos) {\n  \n  if (parseInt(reconhecido.action) == 6)\n    eventos_reconhecidos.push(reconhecido)\n}\n\n\nreturn [{eventos_reconhecidos}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,-864],"id":"23144b23-4ceb-4da5-912e-ce949638ca0f","name":"Trata os reconhecidos"},{"parameters":{"operation":"getAll","tableId":"eventosZabbix","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"idGroup","condition":"eq","keyValue":"={{ $json['ID do grupo'] }}"},{"keyName":"timestampQueda","condition":"gte","keyValue":"={{ $json['Timestamp da queda'] - ($json['Tempo SLA'] / 2) }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[560,16],"id":"7a95ad58-4ff7-4fa5-9c45-74c08b811146","name":"BD: Select eventos do grupo","alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fd883faf-a9c1-4487-bb66-e95c5e1c48fd","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[784,16],"id":"6e5944b4-e028-49e3-9a5d-342589d9925c","name":"Existe eventos de grupo?"},{"parameters":{"jsCode":"const timestampQueda = $('When 01. Fluxo base is executed').first().json['Timestamp da queda'];\nconst time_from = timestampQueda - (60 * 45);\nconst time_till = timestampQueda + (60 * 45);\nconst idGroup = $('When 01. Fluxo base is executed').first().json['ID do grupo'];\n\nreturn [\n  {\n    jsonrpc: \"2.0\",\n    method: \"event.get\",\n    params: {\n      output: [\"eventid\", \"clock\", \"r_eventid\", \"acknowledged\"],\n\n      selectHosts: [\"hostid\", \"host\"],\n\t  \n\t  groupids: `${String(idGroup)}`,\n\t  \n\t  selectRelatedObject: [\"description\", \"value\"],\n\n      select_acknowledges: [\"clock\", \"message\", \"action\", \"username\"],\n\n      time_from: time_from,\n\t  \n\t  time_till: time_till,\n\n      sortfield: [\"clock\", \"eventid\"],\n      \n\t  sortorder: \"DESC\"\n    },\n    id: 1\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,352],"id":"5731ff4b-1cd4-45f8-a96a-2b749b8b5fad","name":"json para consulta Zabbix"},{"parameters":{"jsCode":"const eventos_do_grupo = $input.first().json.result;\nconst raiz_nome_host = $('When 01. Fluxo base is executed').first().json['Raiz do host']\n\nlet eventos_com_reconhecidos = [];\nlet eventosReconhecidos = false;\nlet index = 0\n\nfor (const ev of eventos_do_grupo) {\n  if (ev.acknowledges.length >= 1 && ev.acknowledged == \"1\") {\n    if (ev.hosts[0].host.includes(raiz_nome_host)) {\n      eventos_com_reconhecidos.push(ev)\n    }\n    index++\n  } else {\n    continue\n  }\n}\n\nif (eventos_com_reconhecidos.length >= 1) {\n  eventosReconhecidos = true\n  return [{\n    eventosReconhecidos,\n    eventos_com_reconhecidos\n  }]\n} else {\n  return [{eventosReconhecidos}]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,352],"id":"fb70b5d7-ac7c-4b18-b2c2-ed497b0fe970","name":"Mantém apenas eventos com ack6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb6eff08-3023-4783-bfaf-1cacf44c64ab","leftValue":"={{ $json.eventosReconhecidos }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1680,352],"id":"1baafeca-85c5-4051-bdf3-681ded7d895d","name":"Existe eventos válidos?"},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1232,352],"id":"ea19634e-f0cb-410e-8ed5-94e798caacb0","name":"Zabbix: Select eventos de grupo","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const authenticator = $('When 01. Fluxo base is executed').first().json['Dados do evento'].ID_consulta_zabbix;\n\nconst mensagem_para_reconhecimento = $('Mantém apenas eventos com ack6').first().json.eventos_com_reconhecidos[0].acknowledges[0].message;\nconst ID_do_evento = $('When 01. Fluxo base is executed').first().json['Dados do evento'].ID_evento;\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: ID_do_evento,\n    message: mensagem_para_reconhecimento,\n    action: 6\n  },\n  auth: authenticator,\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1904,112],"id":"b8c8e2ff-89fa-48fd-a45d-514b5b83b9be","name":"json para reconhecer evento","disabled":true},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2128,112],"id":"dc927ac8-23f1-4494-96e3-9a09cfa49fef","name":"Zabbix: Update evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"disabled":true},{"parameters":{"tableId":"eventosZabbix","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].ID_evento }}"},{"fieldId":"idHost","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].ID_host }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Variáveis do tipo cliente'].id }}"},{"fieldId":"idGroup","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['ID do grupo'] }}"},{"fieldId":"nomeHost","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_host }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Raiz do nome completo'] }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_trigger }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].timestamp_queda }}"},{"fieldId":"statusChamado","fieldValue":"2"},{"fieldId":"ticketMovidesk","fieldValue":"={{ parseInt($('Mantém apenas eventos com ack6').item.json.eventos_com_reconhecidos[0].acknowledges[0].message) }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ [0] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2352,112],"id":"033beaa7-1b36-453b-9335-890020e8cbf9","name":"BD: Add new event on eventosZabbix","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"jsCode":"const flagMesmoticket = $input.first().json.flagMesmoTicket;\nconst idCliente = $('When 01. Fluxo base is executed').first().json['Variáveis do cliente'].ID_MOVIDESK;\nconst copiaPara = $('When 01. Fluxo base is executed').first().json['Variáveis do cliente'].CC;\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\n// Monta as linhas do tbody\nconst hostName = $('When 01. Fluxo base is executed').first().json['Dados do evento'].nome_host;\nconst raizNomeHost = hostName.split(\"-\")[0].trim();\nconst evento = $('When 01. Fluxo base is executed').first().json['Dados do evento'].nome_trigger;\nconst data_hora_queda = $('When 01. Fluxo base is executed').first().json['Dados do evento'].data_hora_evento;\nconst ticket_movidesk_update = $('BD: Add new event on eventosZabbix').first().json.ticketMovidesk;\n\nif (flagMesmoticket == true) {\n  // ==== CLIAR HTML DO CLIENTE ====\n  function htmlCliente(nomeHost, eventoGerador, dataHoraEvento){\n    const htmlCliente = `\n      <p>${getGreeting()}</p>\n      <br>\n      <p>Um novo evento relacionado ao evento anterior iniciou em nosso sistema de monitorameto poucos segundos após o evento original. Segue abaixo as informações do novo evento:</p>\n      <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n        <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n          <thead>\n              <tr>\n                <th>Host</th>\n                <th>Evento</th>\n                <th>Horário da queda</th>\n              </tr>\n          </thead>\n          <tbody>\n              <tr>\n                <td>${nomeHost}</td>\n                <td>${eventoGerador}</td>\n                <td>${dataHoraEvento}</td>\n              </tr>\n          </tbody>\n        </table>\n      </div>\n      \n      <p> Permaneceremos à disposição.</p>\n      <br>\n      <br>\n      <p>Atenciosamente </p>\n      <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n    `;\n    return htmlCliente;\n  }\n\n  const variavel_atualizacao_ticket = `&id=${ticket_movidesk_update}`\n  \n  return [{\n    htmlCliente: htmlCliente(hostName, evento, data_hora_queda),\n    variavel_atualizacao_ticket,\n    idCliente,\n    copiaPara\n  }];\n} \nelse {\n  function htmlCliente(nomeHost, eventoGerador, dataHoraEvento){\n    const htmlCliente = `\n      <p>${getGreeting()}</p>\n      <br>\n      <p>Identificamos um novo evento de indisponibilidade em nosso sistema de monitoramento:</p>\n      <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n        <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n          <thead>\n              <tr>\n                <th>Host</th>\n                <th>Evento</th>\n                <th>Horário da queda</th>\n              </tr>\n          </thead>\n          <tbody>\n              <tr>\n                <td>${nomeHost}</td>\n                <td>${eventoGerador}</td>\n                <td>${dataHoraEvento}</td>\n              </tr>\n          </tbody>\n        </table>\n      </div>\n      \n      <p>Gostaríamos de confirmar se a ocorrência já é de conhecimento da equipe ${raizNomeHost} ou se trata de uma falha eventual? </p>\n      <p>Recomendamos a verificação da ocorrência acima notifica para validação e tratativa da indisponibilidade. Permaneceremos em monitoramento. Informamos quando o evento estiver com status de resolvido em nosso monitoramento.</p>\n      <br>\n      <br>\n      <p>Atenciosamente </p>\n      <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n    `;\n    return htmlCliente;\n  }\n  const subject = `REPARO - ${hostName}`;\n\n  return [{\n    htmlCliente: htmlCliente(hostName, evento, data_hora_queda),\n    subject,\n    idCliente,\n    copiaPara\n  }];\n}\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2800,112],"id":"dc30b0ee-1143-4e75-acc9-a4f263441699","name":"Prepara html do cliente","disabled":true},{"parameters":{"jsCode":"const flagMesmoTicket = $('Calcula tempo entre eventos').first().json.flagMesmoTicket;\nconst htmlCliente = $input.first().json.htmlCliente;\nconst id_cliente = $input.first().json.idCliente;\nconst copiaPara = $input.first().json.copiaPara;\nconst subject = $input.first().json.subject || \"\";\nconst variavel_ticket_movidesk =$input.first().json.variavel_atualizacao_ticket;\n\n//id_movideks_para_testes = 1836303904\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nif (flagMesmoTicket == true) {\n  return {\n    json: {\n      actions: [\n        { type: 2, description: htmlCliente ,createdBy: { id: \"1458772347\" }, workTime: \"00:02:00\" }\n      ]\n    }\n  }\n} else {\n  return {\n    json: {\n      type: 2,\n      subject: `${subject}`,\n      category: \"01 - Atendimento Helpdesk\",\n      serviceFirstLevelId: 325878,\n      urgency: \"Média\",\n      ownerTeam: \"NOC\",\n      status: \"Aguardando\",\n      justification: \"Validação\",\n      createdBy: { id: \"1458772347\" },\n      Clients: [{ id: id_cliente }],\n      cc: copiaPara,\n      actions: [\n        { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" } }\n      ]\n    }\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3024,112],"id":"7b29ce94-6f5b-4e86-adaa-573a258f3b8e","name":"json para atualizar ticket Movidesk","disabled":true},{"parameters":{"jsCode":"const timestamp_evento_atual = $('When 01. Fluxo base is executed').first().json['Dados do evento'].timestamp_queda;\nconst timestamp_evento_matriz = parseInt($('Mantém apenas eventos com ack6').first().json.eventos_com_reconhecidos[0].clock);\nconst variavel_entre_tempos = 10 * 60;\nconst tempo_entre_eventos = timestamp_evento_atual - timestamp_evento_matriz;\n\nlet flagMesmoTicket = false;\nif (tempo_entre_eventos <= variavel_entre_tempos) {\n  flagMesmoTicket = true;\n  return [{flagMesmoTicket, tempo_entre_eventos}]\n} else {\n  return [{flagMesmoTicket}]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2576,112],"id":"29ded48c-7f1e-4b67-b42e-42d21303b064","name":"Calcula tempo entre eventos","disabled":true},{"parameters":{"method":"POST","url":"https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3472,240],"id":"cb38db61-7f42-4ae0-a82e-93f3fb9b25d2","name":"Movidesk: Cria ticket","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Calcula tempo entre eventos').item.json.flagMesmoTicket }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"1637a1dd-c701-4f72-8d7f-c2a2bfc67f30"}],"combinator":"and"},"renameOutput":true,"outputKey":"ATUALIZA TICKET"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4cad2e40-2f7d-4faf-8ebd-681e8f8ebfec","leftValue":"={{ $('Calcula tempo entre eventos').item.json.flagMesmoTicket }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"CRIA NOVO TICKET"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[3248,112],"id":"a23e4ef4-563e-42aa-931e-21d393b6488a","name":"Rota: Atualiza ou cria","disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Um novo evento foi adicionado ao eventosZabbix na tabela\n\n**CLIENTE:** {{ $('When 01. Fluxo base is executed').item.json['Raiz do nome completo'] }}\n**HOST MATRIZ:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_host }}\n**EVENTO:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_trigger }}\n**MOMENTO INDISPONÍVEL:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].data_hora_evento }}\n**TICKET MOVIDESK:** {{ $json.eventos_com_reconhecidos[0].acknowledges[0].message }}","color":"#FF7518","title":"=CHAMADO ABERTO","thumbnail":"https://cdn-icons-png.freepik.com/512/4034/4034629.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3696,-16],"id":"b5f02b94-f5c5-4cfe-a83f-e6bf3d7ccd8e","name":"Discord: Chamado atualizado no Movidesk","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"3BQVRWmy75knxy1x","name":"Contratos: Abertura de chamados"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Um novo ticket foi criado no Movidesk\n\n**CLIENTE:** {{ $('When 01. Fluxo base is executed').item.json['Raiz do nome completo'] }}\n**HOST MATRIZ:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_host }}\n**EVENTO:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_trigger }}\n**MOMENTO INDISPONÍVEL:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].data_hora_evento }}\n**TICKET MOVIDESK:** {{ $json.id }}","color":"#FF7518","title":"=CHAMADO ABERTO","thumbnail":"https://cdn-icons-png.freepik.com/512/4034/4034629.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3696,240],"id":"a4ba5b0b-8226-427c-8a7d-eee0a468eb12","name":"Discord: Chamado aberto no Movidesk","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"3BQVRWmy75knxy1x","name":"Contratos: Abertura de chamados"}},"disabled":true},{"parameters":{"method":"PATCH","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6{{ $('Prepara html do cliente').item.json.variavel_atualizacao_ticket }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3472,-16],"id":"69036151-98bf-4219-b2f5-012fe3eaa2bc","name":"Movidesk: Atualiza ticket","retryOnFail":true,"disabled":true},{"parameters":{"jsCode":"const eventos_relacionados = $input.first().json.eventosRelacionados;\nconst ID_evento_atual = $('When 01. Fluxo base is executed').first().json['Dados do evento'].ID_evento;\n\nif (eventos_relacionados.length == 1 && eventos_relacionados[0] == \"0\") {\n  eventos_relacionados.pop();\n  eventos_relacionados.push(ID_evento_atual)\n} \nelse if (eventos_relacionados.length >= 1 && eventos_relacionados[0] != \"0\") {\n  eventos_relacionados.push(ID_evento_atual);\n} \nelse {\n  eventos_relacionados.push(ID_evento_atual);\n}\n\nreturn [{eventos_relacionados}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4736,-768],"id":"c66613c4-f27d-4ebc-9d2b-fbf30cfc7689","name":"Add IDevento nos eventosRelacionados","disabled":true},{"parameters":{"operation":"update","tableId":"eventosZabbix","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Select eventos do grupo').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"eventosRelacionados","fieldValue":"={{ $json.eventos_relacionados }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4960,-768],"id":"1a012770-e794-4905-8118-724086ccd262","name":"BD: Atualiza eventosRelacionados","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"jsCode":"// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\n// Monta as linhas do tbody\nconst hostName = $('When 01. Fluxo base is executed').first().json['Dados do evento'].nome_host;\nconst evento = $('When 01. Fluxo base is executed').first().json['Dados do evento'].nome_trigger;\nconst data_hora_queda = $('When 01. Fluxo base is executed').first().json['Dados do evento'].data_hora_evento;\nconst ticket_movidesk_update = $input.first().json.ticketMovidesk;\n\n// ==== CLIAR HTML DO CLIENTE ====\nfunction htmlCliente(nomeHost, eventoGerador, dataHoraEvento) {\n  const htmlCliente = `\n    <p>${getGreeting()}</p>\n    <br>\n    <p>Um novo evento relacionado ao evento anterior iniciou em nosso sistema de monitorameto poucos tempo após o evento original. Segue abaixo as informações do novo evento:</p>\n    <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n      <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n        <thead>\n            <tr>\n              <th>Host</th>\n              <th>Evento</th>\n              <th>Horário da queda</th>\n            </tr>\n        </thead>\n        <tbody>\n            <tr>\n              <td>${nomeHost}</td>\n              <td>${eventoGerador}</td>\n              <td>${dataHoraEvento}</td>\n            </tr>\n        </tbody>\n      </table>\n    </div>\n    \n    <p> Permaneceremos à disposição e seguiremos monitorando os alertas gerados.</p>\n    <br>\n    <br>\n    <p>Atenciosamente </p>\n    <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n  `;\n  return htmlCliente;\n}\n\nconst variavel_atualizacao_ticket = `&id=${ticket_movidesk_update}`\n\nreturn [{\n  htmlCliente: htmlCliente(hostName, evento, data_hora_queda),\n  variavel_atualizacao_ticket,\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5184,-768],"id":"2b188a2e-33bf-46ab-95e6-228859842b84","name":"Prepara html do cliente1","disabled":true},{"parameters":{"jsCode":"const htmlCliente = $input.first().json.htmlCliente;\n\n//id_movideks_para_testes = 1836303904\n\nreturn {\n  json: {\n    actions: [\n      { type: 2, description: htmlCliente ,createdBy: { id: \"1458772347\" }, workTime: \"00:02:00\" }\n    ]\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5408,-768],"id":"54dd4a51-671f-4cbd-99de-c80b4596ba43","name":"json para atualizar ticket Movidesk1","disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Um novo evento foi adicionado ao eventosZabbix na tabela\n\n**CLIENTE:** {{ $('When 01. Fluxo base is executed').item.json['Raiz do nome completo'] }}\n**HOST MATRIZ:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_host }}\n**EVENTO:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_trigger }}\n**MOMENTO INDISPONÍVEL:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].data_hora_evento }}\n**TICKET MOVIDESK:** {{ $('BD: Atualiza eventosRelacionados').item.json.ticketMovidesk }}","color":"#FF7518","title":"=CHAMADO ABERTO","thumbnail":"https://cdn-icons-png.freepik.com/512/4034/4034629.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[5856,-768],"id":"9ec783e3-c385-4775-8e77-52485b44c391","name":"Discord: Chamado atualizado no Movidesk1","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"3BQVRWmy75knxy1x","name":"Contratos: Abertura de chamados"}},"disabled":true},{"parameters":{"method":"PATCH","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6{{ $('Prepara html do cliente1').item.json.variavel_atualizacao_ticket }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5632,-768],"id":"ba4c9647-a8e3-4a72-896f-b68ca20e0953","name":"Movidesk: Atualiza ticket1","retryOnFail":true,"disabled":true},{"parameters":{"operation":"getAll","tableId":"eventosZabbix","returnAll":true,"filters":{"conditions":[{"keyName":"ticketMovidesk","condition":"eq","keyValue":"={{ parseInt($json.eventos_reconhecidos[0].message) }}"},{"keyName":"idEvento","condition":"eq","keyValue":"={{ $('When 01. Fluxo base is executed').item.json['ID do evento'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1008,-864],"id":"fae4a452-ea21-4605-abc1-20b84ea4f8c3","name":"BD: Procura ticketMovidesk","alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e48d440d-f34b-4ef8-b5e1-7c6f7150efc3","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1232,-864],"id":"db0b3359-1630-4a24-ac53-4f825e7facc9","name":"Existe registro?"},{"parameters":{"tableId":"eventosZabbix","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json[\"Dados do evento\"].ID_evento }}"},{"fieldId":"idHost","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json[\"Dados do evento\"].ID_host }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json[\"Variáveis do tipo cliente\"].id }}"},{"fieldId":"idGroup","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json[\"ID do grupo\"] }}"},{"fieldId":"nomeHost","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json[\"Dados do evento\"].nome_host }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json[\"Raiz do nome completo\"] }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json[\"Dados do evento\"].nome_trigger }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json[\"Dados do evento\"].timestamp_queda }}"},{"fieldId":"statusChamado","fieldValue":"2"},{"fieldId":"ticketMovidesk","fieldValue":"={{ parseInt($('Trata os reconhecidos').item.json.eventos_reconhecidos[0].message) }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ [$('When 01. Fluxo base is executed').item.json[\"Dados do evento\"].ID_evento] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2208,-816],"id":"3626146b-a257-4a13-8115-cd2f13096a46","name":"BD: Cria novo evento no BD","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Um novo evento foi adicionado ao eventosZabbix na tabela\n\n**CLIENTE:** {{ $('When 01. Fluxo base is executed').item.json['Raiz do nome completo'] }}\n**HOST MATRIZ:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_host }}\n**EVENTO:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_trigger }}\n**MOMENTO INDISPONÍVEL:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].data_hora_evento }}\n**TICKET MOVIDESK:** {{ $('Trata os reconhecidos').item.json.eventos_reconhecidos[0].message }}","color":"#FF7518","title":"=CHAMADO ABERTO","thumbnail":"https://cdn-icons-png.freepik.com/512/4034/4034629.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2432,-816],"id":"9ccd2e98-d839-4c5d-a143-83e6891a43a5","name":"Discord: Evento add no BD","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"3BQVRWmy75knxy1x","name":"Contratos: Abertura de chamados"}},"disabled":true},{"parameters":{"jsCode":"const eventos_relacionados = $input.first().json.eventosRelacionados;\nconst ID_evento_atual = String($input.first().json.idEvento);\n\nconst eventoPresente = eventos_relacionados.some(ev => ev.includes(ID_evento_atual));\n\nif (eventoPresente == true) {\n  return [{ eventoPresente }];\n} else {\n  if (eventos_relacionados.length == 1 && eventos_relacionados[0] == \"0\") {\n    eventos_relacionados.pop();\n    eventos_relacionados.push(ID_evento_atual)\n  } else {\n    eventos_relacionados.push(ID_evento_atual)\n  }\n  return [{eventoPresente, eventos_relacionados}]\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2416,-1008],"id":"9f4d1c3b-2353-4952-9eb6-120b749ac61c","name":"Verifica se já existe em eventosRelacionados","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"68768db4-2cc1-4da4-8bb9-0f36033bf1e7","leftValue":"={{ $json.eventoPresente }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2640,-1008],"id":"bb0c0189-8f4c-4e70-9b26-b40db841c582","name":"Evento já está adicionado?","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1728,-1120],"id":"9ecf073b-1171-4bac-88cc-e1c36a6ed30d","name":"Do not"},{"parameters":{"operation":"update","tableId":"eventosZabbix","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Procura ticketMovidesk').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"eventosRelacionados","fieldValue":"={{ $('Verifica se já existe em eventosRelacionados').item.json.eventos_relacionados }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2864,-1008],"id":"c704cd04-5f84-464a-8d9f-c5e65f5e9320","name":"BD: Atualiza eventosRelacionados2","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Um novo evento foi adicionado aos eventos relacionados do item {{ $json.id }} da tabela\n\n**CLIENTE:** {{ $('When 01. Fluxo base is executed').item.json['Raiz do nome completo'] }}\n**HOST MATRIZ:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_host }}\n**EVENTO:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_trigger }}\n**MOMENTO INDISPONÍVEL:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].data_hora_evento }}\n**TICKET MOVIDESK:** {{ $('Trata os reconhecidos').item.json.eventos_reconhecidos[0].message }}\n**EVENTOS RELACIONADOS:** {{ $json.eventosRelacionados }}","color":"#FF7518","title":"=CHAMADO ATUALIZADO","thumbnail":"https://cdn-icons-png.freepik.com/512/4034/4034629.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3088,-1008],"id":"cea689cc-383a-4cc7-8898-d49360f06a09","name":"Discord: eventosRelacionados atualizado","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"3BQVRWmy75knxy1x","name":"Contratos: Abertura de chamados"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['Evento reconhecido'] }}","rightValue":"Reconhecido","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"88160a23-5238-485d-8ef3-083872aada67"}],"combinator":"and"},"renameOutput":true,"outputKey":"RECONHECIDO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f4ed34d8-4b83-4f07-a3fd-48f1e9638d68","leftValue":"={{ $json['Evento reconhecido'] }}","rightValue":"Não reconhecido","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"NOVO EVENTO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[224,-432],"id":"697385e2-c9bc-49c9-9604-3cbdb24fb0cc","name":"Rota: Tipo evento"},{"parameters":{"tableId":"sala de espera","fieldsUi":{"fieldValues":[{"fieldId":"id_evento","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['ID do evento'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Nome do host'] }}"},{"fieldId":"evento","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Nome do evento'] }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Timestamp da queda'] }}"},{"fieldId":"id_grupo","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['ID do grupo'] }}"},{"fieldId":"nome_grupo","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Nome do grupo'] }}"},{"fieldId":"id_tipoCliente","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Tipo de cliente'] }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Raiz do host'] }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ [\"0\"] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2352,752],"id":"38bab818-05a8-4461-8030-b94508b65d39","name":"BD: Add na sala de espera","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Evento do cliente {{ $json.nome_grupo }} adicionado à sala de espera.\n\n**CLIENTE:** {{ $('When 01. Fluxo base is executed').item.json['Nome principal do cliente'] }}\n**HOST MATRIZ:** {{ $('When 01. Fluxo base is executed').item.json['Nome do host'] }}\n**EVENTO:** {{ $('When 01. Fluxo base is executed').item.json['Nome do evento'] }}\n**MOMENTO INDISPONÍVEL:** {{ $('When 01. Fluxo base is executed').item.json['Data e hora do evento'].toUpperCase() }}","color":"#FF7518","title":"=Novo evento na sala de espera","thumbnail":"https://cdn-icons-png.freepik.com/512/1434/1434350.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2576,752],"id":"4e020943-8ebb-4386-ac8b-43d728132359","name":"Discord: Evento add sala de espera","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"UwSdPtNpd16mBJVp","name":"Adm: Sala de espera"}}},{"parameters":{"content":"NOVO EVENTO NA SALA DE ESPERA - ABERTURA DE CHAMADO","height":256,"width":480,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2304,672],"id":"aa1ef3c6-b364-44cc-b79e-6ccd1c03acca","name":"Sticky Note","disabled":true},{"parameters":{"operation":"get","tableId":"sala de espera","filters":{"conditions":[{"keyName":"id_grupo","keyValue":"={{ $('When 01. Fluxo base is executed').item.json['ID do grupo'] }}"},{"keyName":"raizNomeHost","keyValue":"={{ $('When 01. Fluxo base is executed').item.json['Raiz do host'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1904,560],"id":"a6fe161c-e770-4798-97f3-f25d67419f90","name":"BD: Select correspondentes","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b851b4b8-fa77-467a-bc61-c1b371da9765","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2128,560],"id":"731167da-50c0-46fe-8432-65dcabd18d5d","name":"Existe correspondência?"},{"parameters":{"jsCode":"const id_evento_push_array = $('When 01. Fluxo base is executed').item.json['ID do evento'];\nconst eventos_relacionados = $input.first().json.eventosRelacionados;\n\nif (eventos_relacionados.length == 1 && eventos_relacionados[0] == \"0\") {\n    eventos_relacionados.pop()\n    eventos_relacionados.push(id_evento_push_array)\n} else {\n  if (eventos_relacionados.includes(id_evento_push_array)) {\n    return [{eventos_relacionados}]\n  } else {\n    eventos_relacionados.push(id_evento_push_array)\n  }\n}\n\nreturn [{eventos_relacionados}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2576,496],"id":"a581ee9c-52ff-4790-84f1-ff86c09fbcff","name":"Prepara push de eventos relacionados"},{"parameters":{"operation":"update","tableId":"sala de espera","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Select correspondentes').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"eventosRelacionados","fieldValue":"={{ $json.eventos_relacionados }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2800,496],"id":"ac006128-7472-4ed9-8673-49862fe5f362","name":"BD: Update no evento existente","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"45481112-fc3a-4263-ab58-4a1650d284c0","leftValue":"={{ $('When 01. Fluxo base is executed').item.json['Nome do host'] }}","rightValue":"={{ $('BD: Select correspondentes').item.json.nome_host }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"626640f5-aa67-407d-9fb3-c1bd34e00ceb","leftValue":"={{ $('When 01. Fluxo base is executed').item.json['Nome do evento'] }}","rightValue":"={{ $('BD: Select correspondentes').item.json.evento }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2352,400],"id":"95b376ef-5ff6-4d27-a2fc-43c4a3bc1e1f","name":"Host e evento igual?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2576,304],"id":"4b4dcfd8-3aff-4059-a211-5c98a505ddf8","name":"Do not1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"41f24765-ba8e-4573-9b06-6004c1a2fb52","leftValue":"={{ $json.eventosRelacionados }}","rightValue":"null","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2192,-1008],"id":"de2a9c87-9513-447d-9161-9bae61444078","name":"If","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6122d779-b9ac-42c1-a9c5-157a30faa716","leftValue":"={{ $json.nomeHost }}","rightValue":"={{ $('When 01. Fluxo base is executed').item.json['Nome do host'] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"c79c8c17-8cf7-4dd1-9ea6-6038922a0a7b","leftValue":"={{ $json.nomeEvento }}","rightValue":"={{ $('When 01. Fluxo base is executed').item.json['Nome do evento'] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"29bf7198-971a-4d60-b51a-326e0554a644","leftValue":"={{ $json.timestampQueda }}","rightValue":"={{ $('When 01. Fluxo base is executed').item.json['Timestamp da queda'] }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1472,-976],"id":"b8363252-eb2d-4d80-978d-312a0e4d530c","name":"Host, evento e timestamp iguais?"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Verificar rota de item com reconhecimento\n\n**CLIENTE:** {{ $('When 01. Fluxo base is executed').item.json['Nome principal do cliente'] }}\n**HOST MATRIZ:** {{ $('When 01. Fluxo base is executed').item.json['Nome do host'] }}\n**EVENTO:** {{ $('When 01. Fluxo base is executed').item.json['Nome do evento'] }}\n**MOMENTO INDISPONÍVEL:** {{ $('When 01. Fluxo base is executed').item.json['Data e hora do evento'].toUpperCase() }}","color":"#FF7518","title":"=Novo evento na sala de espera","thumbnail":"https://cdn-icons-png.freepik.com/512/1434/1434350.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1472,-784],"id":"628b9e4b-0ccd-4ac6-b9c3-806f0dbdd3b8","name":"Discord: Evento add sala de espera1","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"BXMy66RZpTJoYUgo","name":"Contratos: Administrativo"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Novo evento na rota de eventos do BD - evento não tem host ou evento igual, mas tem evento do grupo! \n\n**CLIENTE:** {{ $('When 01. Fluxo base is executed').item.json['Nome principal do cliente'] }}\n**HOST MATRIZ:** {{ $('When 01. Fluxo base is executed').item.json['Nome do host'] }}\n**EVENTO:** {{ $('When 01. Fluxo base is executed').item.json['Nome do evento'] }}\n**MOMENTO INDISPONÍVEL:** {{ $('When 01. Fluxo base is executed').item.json['Data e hora do evento'].toUpperCase() }}","author":"Fluxo Clientes Gerais","color":"#009EDD","title":"=Nova rota para avaliar - {{ $('When 01. Fluxo base is executed').item.json['Nome principal do cliente'] }}","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1360,-224],"id":"cb5e3347-1652-4bac-a0d0-6fca11eb05f1","name":"admin1","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"BXMy66RZpTJoYUgo","name":"Contratos: Administrativo"}}},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,-416],"id":"2f83a18b-d2ea-4a6b-9377-3374f80d802b","name":"Zabbix: Reconhecer evento já existente no BD","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ff569df-5c75-4c55-a593-c990cdf3aa4c","leftValue":"={{ $('When 01. Fluxo base is executed').item.json['Nome do host'] }}","rightValue":"={{ $('BD: Select eventos do grupo').item.json.nomeHost }}","operator":{"type":"string","operation":"equals"}},{"id":"8611bf95-6148-4248-9823-50740b566e16","leftValue":"={{ $('When 01. Fluxo base is executed').item.json['Nome do evento'] }}","rightValue":"={{ $('BD: Select eventos do grupo').item.json.nomeEvento }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1136,-320],"id":"7a208326-a2ed-405b-82a2-dd27591d99ba","name":"Hosts e evento iguais?1"},{"parameters":{"operation":"update","tableId":"eventosZabbix","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"qtdQuedas","fieldValue":"={{ $json.qtdQuedas + 1}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1360,-416],"id":"e46270db-bac3-4a51-b2a5-78c9c4ef487c","name":"BD: Update qtdQuedas/eventosRelacionados1","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const mensagem_para_reconhecimento = $('BD: Select eventos do grupo').first().json.ticketMovidesk;\nconst ID_evento_reconhecimento = $('When 01. Fluxo base is executed').first().json['ID do evento'];\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: ID_evento_reconhecimento,\n    message: String(mensagem_para_reconhecimento),\n    action: 6\n  },\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,-416],"id":"1a03d06b-5918-43e6-b80f-c25181a91d7c","name":"json para reconhecer com dados no BD1"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Evento reconhecido no Zabbix pois já existe um evento no BD.\n\n**CLIENTE:** {{ $('When 01. Fluxo base is executed').item.json['Nome principal do cliente'] }}\n**HOST MATRIZ:** {{ $('When 01. Fluxo base is executed').item.json['Nome do host'] }}\n**EVENTO:** {{ $('When 01. Fluxo base is executed').item.json['Nome do evento'] }}\n**MOMENTO INDISPONÍVEL:** {{ $('When 01. Fluxo base is executed').item.json['Data e hora do evento'].toUpperCase() }}\n**TICKET MOVIDESK:** {{ $('BD: Update qtdQuedas/eventosRelacionados1').item.json.ticketMovidesk }}","color":"#FF7518","title":"=Evento {{ $('BD: Update qtdQuedas/eventosRelacionados1').item.json.raizNomeHost }} reconhecido","thumbnail":"https://cdn-icons-png.freepik.com/64/4034/4034629.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2032,-416],"id":"94f1ecac-e8ea-474c-975c-ab8a9827c57f","name":"Contrato 2: Chamado reconhecido","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"3BQVRWmy75knxy1x","name":"Contratos: Abertura de chamados"}}},{"parameters":{"content":"Aguardar evento para terminar o fluxo","height":288,"width":1408,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4656,-848],"id":"e0905dea-b5d5-4316-8b2c-c47a1f0ba2ee","name":"Sticky Note1"},{"parameters":{"content":"Aguardar evento para terminar o fluxo","height":496,"width":1136,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2160,-1104],"id":"cdda2fe0-cfb2-43ac-83ed-bc6997a3dd49","name":"Sticky Note2"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Existe eventos do grupo para reconhecer o evento atual.\n\n**CLIENTE:** {{ $('When 01. Fluxo base is executed').item.json['Nome principal do cliente'] }}\n**HOST MATRIZ:** {{ $('When 01. Fluxo base is executed').item.json['Nome do host'] }}\n**EVENTO:** {{ $('When 01. Fluxo base is executed').item.json['Nome do evento'] }}\n**MOMENTO INDISPONÍVEL:** {{ $('When 01. Fluxo base is executed').item.json['Data e hora do evento'].toUpperCase() }}","author":"Fluxo Clientes Gerais","color":"#009EDD","title":"=Nova rota para avaliar - {{ $('When 01. Fluxo base is executed').item.json['Nome principal do cliente'] }}","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1904,336],"id":"9ee93610-b67c-4c03-ab6f-56be2d2af677","name":"admin","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"BXMy66RZpTJoYUgo","name":"Contratos: Administrativo"}}}],"connections":{"When 01. Fluxo base is executed":{"main":[[{"node":"Rota: Tipo evento","type":"main","index":0}]]},"Zabbix: Consulta reconhecimentos":{"main":[[{"node":"Trata os reconhecidos","type":"main","index":0}]]},"Trata os reconhecidos":{"main":[[{"node":"BD: Procura ticketMovidesk","type":"main","index":0}]]},"BD: Select eventos do grupo":{"main":[[{"node":"Existe eventos de grupo?","type":"main","index":0}]]},"json para consulta Zabbix":{"main":[[{"node":"Zabbix: Select eventos de grupo","type":"main","index":0}]]},"Mantém apenas eventos com ack6":{"main":[[{"node":"Existe eventos válidos?","type":"main","index":0}]]},"Zabbix: Select eventos de grupo":{"main":[[{"node":"Mantém apenas eventos com ack6","type":"main","index":0}]]},"Existe eventos de grupo?":{"main":[[{"node":"Hosts e evento iguais?1","type":"main","index":0}],[{"node":"json para consulta Zabbix","type":"main","index":0}]]},"Existe eventos válidos?":{"main":[[{"node":"json para reconhecer evento","type":"main","index":0},{"node":"admin","type":"main","index":0}],[{"node":"BD: Select correspondentes","type":"main","index":0}]]},"json para reconhecer evento":{"main":[[{"node":"Zabbix: Update evento","type":"main","index":0}]]},"Zabbix: Update evento":{"main":[[{"node":"BD: Add new event on eventosZabbix","type":"main","index":0}]]},"BD: Add new event on eventosZabbix":{"main":[[{"node":"Calcula tempo entre eventos","type":"main","index":0}]]},"Prepara html do cliente":{"main":[[{"node":"json para atualizar ticket Movidesk","type":"main","index":0}]]},"json para atualizar ticket Movidesk":{"main":[[{"node":"Rota: Atualiza ou cria","type":"main","index":0}]]},"Calcula tempo entre eventos":{"main":[[{"node":"Prepara html do cliente","type":"main","index":0}]]},"Rota: Atualiza ou cria":{"main":[[{"node":"Movidesk: Atualiza ticket","type":"main","index":0}],[{"node":"Movidesk: Cria ticket","type":"main","index":0}]]},"Movidesk: Cria ticket":{"main":[[{"node":"Discord: Chamado aberto no Movidesk","type":"main","index":0}]]},"Movidesk: Atualiza ticket":{"main":[[{"node":"Discord: Chamado atualizado no Movidesk","type":"main","index":0}]]},"Add IDevento nos eventosRelacionados":{"main":[[{"node":"BD: Atualiza eventosRelacionados","type":"main","index":0}]]},"BD: Atualiza eventosRelacionados":{"main":[[{"node":"Prepara html do cliente1","type":"main","index":0}]]},"Prepara html do cliente1":{"main":[[{"node":"json para atualizar ticket Movidesk1","type":"main","index":0}]]},"Movidesk: Atualiza ticket1":{"main":[[{"node":"Discord: Chamado atualizado no Movidesk1","type":"main","index":0}]]},"json para atualizar ticket Movidesk1":{"main":[[{"node":"Movidesk: Atualiza ticket1","type":"main","index":0}]]},"BD: Procura ticketMovidesk":{"main":[[{"node":"Existe registro?","type":"main","index":0}]]},"Existe registro?":{"main":[[{"node":"Host, evento e timestamp iguais?","type":"main","index":0}],[{"node":"Discord: Evento add sala de espera1","type":"main","index":0}]]},"BD: Cria novo evento no BD":{"main":[[{"node":"Discord: Evento add no BD","type":"main","index":0}]]},"Verifica se já existe em eventosRelacionados":{"main":[[{"node":"Evento já está adicionado?","type":"main","index":0}]]},"Evento já está adicionado?":{"main":[[],[{"node":"BD: Atualiza eventosRelacionados2","type":"main","index":0}]]},"BD: Atualiza eventosRelacionados2":{"main":[[{"node":"Discord: eventosRelacionados atualizado","type":"main","index":0}]]},"Rota: Tipo evento":{"main":[[{"node":"Zabbix: Consulta reconhecimentos","type":"main","index":0}],[{"node":"BD: Select eventos do grupo","type":"main","index":0}]]},"BD: Add na sala de espera":{"main":[[{"node":"Discord: Evento add sala de espera","type":"main","index":0}]]},"BD: Select correspondentes":{"main":[[{"node":"Existe correspondência?","type":"main","index":0}]]},"Existe correspondência?":{"main":[[{"node":"Host e evento igual?","type":"main","index":0}],[{"node":"BD: Add na sala de espera","type":"main","index":0}]]},"Prepara push de eventos relacionados":{"main":[[{"node":"BD: Update no evento existente","type":"main","index":0}]]},"Host e evento igual?":{"main":[[{"node":"Do not1","type":"main","index":0}],[{"node":"Prepara push de eventos relacionados","type":"main","index":0}]]},"If":{"main":[[{"node":"Verifica se já existe em eventosRelacionados","type":"main","index":0}]]},"Host, evento e timestamp iguais?":{"main":[[{"node":"Do not","type":"main","index":0}],[{"node":"Discord: Evento add sala de espera1","type":"main","index":0}]]},"Zabbix: Reconhecer evento já existente no BD":{"main":[[{"node":"Contrato 2: Chamado reconhecido","type":"main","index":0}]]},"Hosts e evento iguais?1":{"main":[[{"node":"BD: Update qtdQuedas/eventosRelacionados1","type":"main","index":0}],[{"node":"admin1","type":"main","index":0}]]},"BD: Update qtdQuedas/eventosRelacionados1":{"main":[[{"node":"json para reconhecer com dados no BD1","type":"main","index":0}]]},"json para reconhecer com dados no BD1":{"main":[[{"node":"Zabbix: Reconhecer evento já existente no BD","type":"main","index":0}]]},"admin1":{"main":[[{"node":"Add IDevento nos eventosRelacionados","type":"main","index":0}]]},"Discord: Evento add sala de espera1":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When 01. Fluxo base is executed":[{"json":{"ID do evento":1770428,"ID do grupo":735,"ID do host":20850,"ID Movidesk para abertura de chamado":"99b83622-1d1f-498c-","Nome do evento":"INDISPONÍVEL VIA ICMP","Nome do host":"AMAFIL - CAM - CD01 - ADMINISTRACAO 01 - 10.1.2.7","Raiz do host":"AMAFIL","Nome principal do cliente":"AMAFIL","Host sem o IP":"AMAFIL - CAM - CD01 - ADMINISTRACAO 01","Campo descrição do host":"","Timestamp da queda":1765473526,"Data e hora do evento":"quinta-feira 11/12/2025 14:18:46","Evento reconhecido":true,"Tipo de cliente":2,"Tempo SLA":14400,"Restrições":false,"Emails em cópia para chamado Movidesk":"rodrigo.passador@amafil.com.br","Nome do grupo":"AMAFIL - CAM"}}]},"versionId":"623ee1d8-4c65-4c22-8582-a31116130d76","activeVersionId":"623ee1d8-4c65-4c22-8582-a31116130d76","triggerCount":0,"shared":[{"updatedAt":"2025-12-09T13:55:27.426Z","createdAt":"2025-12-09T13:55:27.426Z","role":"workflow:owner","workflowId":"Kd9DFlZfIm0B3YAX","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":{"updatedAt":"2025-12-29T12:20:06.405Z","createdAt":"2025-12-29T12:20:06.405Z","versionId":"623ee1d8-4c65-4c22-8582-a31116130d76","workflowId":"Kd9DFlZfIm0B3YAX","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,-432],"id":"710a8a2b-2987-4a27-99f9-03223fcdb6a9","name":"When 01. Fluxo base is executed"},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"acknowledged\", \"r_eventid\"],\n    \"eventids\": \"{{ $json['ID do evento'] }}\",\n    \"selectHosts\": [\"host\", \"hostid\", \"description\"],\n    \"select_acknowledges\": [\"clock\", \"message\", \"action\"]\n  },\n  \"id\": 1\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,-864],"id":"f4459be7-e8c6-4fd8-9d7b-5e89dd878238","name":"Zabbix: Consulta reconhecimentos","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const reconhecidos = $input.first().json.result[0].acknowledges;\n\nlet eventos_reconhecidos = [];\nfor (const reconhecido of reconhecidos) {\n  \n  if (parseInt(reconhecido.action) == 6)\n    eventos_reconhecidos.push(reconhecido)\n}\n\n\nreturn [{eventos_reconhecidos}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,-864],"id":"23144b23-4ceb-4da5-912e-ce949638ca0f","name":"Trata os reconhecidos"},{"parameters":{"operation":"getAll","tableId":"eventosZabbix","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"idGroup","condition":"eq","keyValue":"={{ $json['ID do grupo'] }}"},{"keyName":"timestampQueda","condition":"gte","keyValue":"={{ $json['Timestamp da queda'] - ($json['Tempo SLA'] / 2) }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[560,16],"id":"7a95ad58-4ff7-4fa5-9c45-74c08b811146","name":"BD: Select eventos do grupo","alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fd883faf-a9c1-4487-bb66-e95c5e1c48fd","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[784,16],"id":"6e5944b4-e028-49e3-9a5d-342589d9925c","name":"Existe eventos de grupo?"},{"parameters":{"jsCode":"const timestampQueda = $('When 01. Fluxo base is executed').first().json['Timestamp da queda'];\nconst time_from = timestampQueda - (60 * 45);\nconst time_till = timestampQueda + (60 * 45);\nconst idGroup = $('When 01. Fluxo base is executed').first().json['ID do grupo'];\n\nreturn [\n  {\n    jsonrpc: \"2.0\",\n    method: \"event.get\",\n    params: {\n      output: [\"eventid\", \"clock\", \"r_eventid\", \"acknowledged\"],\n\n      selectHosts: [\"hostid\", \"host\"],\n\t  \n\t  groupids: `${String(idGroup)}`,\n\t  \n\t  selectRelatedObject: [\"description\", \"value\"],\n\n      select_acknowledges: [\"clock\", \"message\", \"action\", \"username\"],\n\n      time_from: time_from,\n\t  \n\t  time_till: time_till,\n\n      sortfield: [\"clock\", \"eventid\"],\n      \n\t  sortorder: \"DESC\"\n    },\n    id: 1\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,352],"id":"5731ff4b-1cd4-45f8-a96a-2b749b8b5fad","name":"json para consulta Zabbix"},{"parameters":{"jsCode":"const eventos_do_grupo = $input.first().json.result;\nconst raiz_nome_host = $('When 01. Fluxo base is executed').first().json['Raiz do host']\n\nlet eventos_com_reconhecidos = [];\nlet eventosReconhecidos = false;\nlet index = 0\n\nfor (const ev of eventos_do_grupo) {\n  if (ev.acknowledges.length >= 1 && ev.acknowledged == \"1\") {\n    if (ev.hosts[0].host.includes(raiz_nome_host)) {\n      eventos_com_reconhecidos.push(ev)\n    }\n    index++\n  } else {\n    continue\n  }\n}\n\nif (eventos_com_reconhecidos.length >= 1) {\n  eventosReconhecidos = true\n  return [{\n    eventosReconhecidos,\n    eventos_com_reconhecidos\n  }]\n} else {\n  return [{eventosReconhecidos}]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,352],"id":"fb70b5d7-ac7c-4b18-b2c2-ed497b0fe970","name":"Mantém apenas eventos com ack6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb6eff08-3023-4783-bfaf-1cacf44c64ab","leftValue":"={{ $json.eventosReconhecidos }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1680,352],"id":"1baafeca-85c5-4051-bdf3-681ded7d895d","name":"Existe eventos válidos?"},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1232,352],"id":"ea19634e-f0cb-410e-8ed5-94e798caacb0","name":"Zabbix: Select eventos de grupo","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const authenticator = $('When 01. Fluxo base is executed').first().json['Dados do evento'].ID_consulta_zabbix;\n\nconst mensagem_para_reconhecimento = $('Mantém apenas eventos com ack6').first().json.eventos_com_reconhecidos[0].acknowledges[0].message;\nconst ID_do_evento = $('When 01. Fluxo base is executed').first().json['Dados do evento'].ID_evento;\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: ID_do_evento,\n    message: mensagem_para_reconhecimento,\n    action: 6\n  },\n  auth: authenticator,\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1904,112],"id":"b8c8e2ff-89fa-48fd-a45d-514b5b83b9be","name":"json para reconhecer evento","disabled":true},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2128,112],"id":"dc927ac8-23f1-4494-96e3-9a09cfa49fef","name":"Zabbix: Update evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"disabled":true},{"parameters":{"tableId":"eventosZabbix","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].ID_evento }}"},{"fieldId":"idHost","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].ID_host }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Variáveis do tipo cliente'].id }}"},{"fieldId":"idGroup","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['ID do grupo'] }}"},{"fieldId":"nomeHost","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_host }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Raiz do nome completo'] }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_trigger }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].timestamp_queda }}"},{"fieldId":"statusChamado","fieldValue":"2"},{"fieldId":"ticketMovidesk","fieldValue":"={{ parseInt($('Mantém apenas eventos com ack6').item.json.eventos_com_reconhecidos[0].acknowledges[0].message) }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ [0] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2352,112],"id":"033beaa7-1b36-453b-9335-890020e8cbf9","name":"BD: Add new event on eventosZabbix","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"jsCode":"const flagMesmoticket = $input.first().json.flagMesmoTicket;\nconst idCliente = $('When 01. Fluxo base is executed').first().json['Variáveis do cliente'].ID_MOVIDESK;\nconst copiaPara = $('When 01. Fluxo base is executed').first().json['Variáveis do cliente'].CC;\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\n// Monta as linhas do tbody\nconst hostName = $('When 01. Fluxo base is executed').first().json['Dados do evento'].nome_host;\nconst raizNomeHost = hostName.split(\"-\")[0].trim();\nconst evento = $('When 01. Fluxo base is executed').first().json['Dados do evento'].nome_trigger;\nconst data_hora_queda = $('When 01. Fluxo base is executed').first().json['Dados do evento'].data_hora_evento;\nconst ticket_movidesk_update = $('BD: Add new event on eventosZabbix').first().json.ticketMovidesk;\n\nif (flagMesmoticket == true) {\n  // ==== CLIAR HTML DO CLIENTE ====\n  function htmlCliente(nomeHost, eventoGerador, dataHoraEvento){\n    const htmlCliente = `\n      <p>${getGreeting()}</p>\n      <br>\n      <p>Um novo evento relacionado ao evento anterior iniciou em nosso sistema de monitorameto poucos segundos após o evento original. Segue abaixo as informações do novo evento:</p>\n      <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n        <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n          <thead>\n              <tr>\n                <th>Host</th>\n                <th>Evento</th>\n                <th>Horário da queda</th>\n              </tr>\n          </thead>\n          <tbody>\n              <tr>\n                <td>${nomeHost}</td>\n                <td>${eventoGerador}</td>\n                <td>${dataHoraEvento}</td>\n              </tr>\n          </tbody>\n        </table>\n      </div>\n      \n      <p> Permaneceremos à disposição.</p>\n      <br>\n      <br>\n      <p>Atenciosamente </p>\n      <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n    `;\n    return htmlCliente;\n  }\n\n  const variavel_atualizacao_ticket = `&id=${ticket_movidesk_update}`\n  \n  return [{\n    htmlCliente: htmlCliente(hostName, evento, data_hora_queda),\n    variavel_atualizacao_ticket,\n    idCliente,\n    copiaPara\n  }];\n} \nelse {\n  function htmlCliente(nomeHost, eventoGerador, dataHoraEvento){\n    const htmlCliente = `\n      <p>${getGreeting()}</p>\n      <br>\n      <p>Identificamos um novo evento de indisponibilidade em nosso sistema de monitoramento:</p>\n      <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n        <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n          <thead>\n              <tr>\n                <th>Host</th>\n                <th>Evento</th>\n                <th>Horário da queda</th>\n              </tr>\n          </thead>\n          <tbody>\n              <tr>\n                <td>${nomeHost}</td>\n                <td>${eventoGerador}</td>\n                <td>${dataHoraEvento}</td>\n              </tr>\n          </tbody>\n        </table>\n      </div>\n      \n      <p>Gostaríamos de confirmar se a ocorrência já é de conhecimento da equipe ${raizNomeHost} ou se trata de uma falha eventual? </p>\n      <p>Recomendamos a verificação da ocorrência acima notifica para validação e tratativa da indisponibilidade. Permaneceremos em monitoramento. Informamos quando o evento estiver com status de resolvido em nosso monitoramento.</p>\n      <br>\n      <br>\n      <p>Atenciosamente </p>\n      <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n    `;\n    return htmlCliente;\n  }\n  const subject = `REPARO - ${hostName}`;\n\n  return [{\n    htmlCliente: htmlCliente(hostName, evento, data_hora_queda),\n    subject,\n    idCliente,\n    copiaPara\n  }];\n}\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2800,112],"id":"dc30b0ee-1143-4e75-acc9-a4f263441699","name":"Prepara html do cliente","disabled":true},{"parameters":{"jsCode":"const flagMesmoTicket = $('Calcula tempo entre eventos').first().json.flagMesmoTicket;\nconst htmlCliente = $input.first().json.htmlCliente;\nconst id_cliente = $input.first().json.idCliente;\nconst copiaPara = $input.first().json.copiaPara;\nconst subject = $input.first().json.subject || \"\";\nconst variavel_ticket_movidesk =$input.first().json.variavel_atualizacao_ticket;\n\n//id_movideks_para_testes = 1836303904\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nif (flagMesmoTicket == true) {\n  return {\n    json: {\n      actions: [\n        { type: 2, description: htmlCliente ,createdBy: { id: \"1458772347\" }, workTime: \"00:02:00\" }\n      ]\n    }\n  }\n} else {\n  return {\n    json: {\n      type: 2,\n      subject: `${subject}`,\n      category: \"01 - Atendimento Helpdesk\",\n      serviceFirstLevelId: 325878,\n      urgency: \"Média\",\n      ownerTeam: \"NOC\",\n      status: \"Aguardando\",\n      justification: \"Validação\",\n      createdBy: { id: \"1458772347\" },\n      Clients: [{ id: id_cliente }],\n      cc: copiaPara,\n      actions: [\n        { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" } }\n      ]\n    }\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3024,112],"id":"7b29ce94-6f5b-4e86-adaa-573a258f3b8e","name":"json para atualizar ticket Movidesk","disabled":true},{"parameters":{"jsCode":"const timestamp_evento_atual = $('When 01. Fluxo base is executed').first().json['Dados do evento'].timestamp_queda;\nconst timestamp_evento_matriz = parseInt($('Mantém apenas eventos com ack6').first().json.eventos_com_reconhecidos[0].clock);\nconst variavel_entre_tempos = 10 * 60;\nconst tempo_entre_eventos = timestamp_evento_atual - timestamp_evento_matriz;\n\nlet flagMesmoTicket = false;\nif (tempo_entre_eventos <= variavel_entre_tempos) {\n  flagMesmoTicket = true;\n  return [{flagMesmoTicket, tempo_entre_eventos}]\n} else {\n  return [{flagMesmoTicket}]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2576,112],"id":"29ded48c-7f1e-4b67-b42e-42d21303b064","name":"Calcula tempo entre eventos","disabled":true},{"parameters":{"method":"POST","url":"https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3472,240],"id":"cb38db61-7f42-4ae0-a82e-93f3fb9b25d2","name":"Movidesk: Cria ticket","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Calcula tempo entre eventos').item.json.flagMesmoTicket }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"1637a1dd-c701-4f72-8d7f-c2a2bfc67f30"}],"combinator":"and"},"renameOutput":true,"outputKey":"ATUALIZA TICKET"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4cad2e40-2f7d-4faf-8ebd-681e8f8ebfec","leftValue":"={{ $('Calcula tempo entre eventos').item.json.flagMesmoTicket }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"CRIA NOVO TICKET"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[3248,112],"id":"a23e4ef4-563e-42aa-931e-21d393b6488a","name":"Rota: Atualiza ou cria","disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Um novo evento foi adicionado ao eventosZabbix na tabela\n\n**CLIENTE:** {{ $('When 01. Fluxo base is executed').item.json['Raiz do nome completo'] }}\n**HOST MATRIZ:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_host }}\n**EVENTO:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_trigger }}\n**MOMENTO INDISPONÍVEL:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].data_hora_evento }}\n**TICKET MOVIDESK:** {{ $json.eventos_com_reconhecidos[0].acknowledges[0].message }}","color":"#FF7518","title":"=CHAMADO ABERTO","thumbnail":"https://cdn-icons-png.freepik.com/512/4034/4034629.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3696,-16],"id":"b5f02b94-f5c5-4cfe-a83f-e6bf3d7ccd8e","name":"Discord: Chamado atualizado no Movidesk","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"3BQVRWmy75knxy1x","name":"Contratos: Abertura de chamados"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Um novo ticket foi criado no Movidesk\n\n**CLIENTE:** {{ $('When 01. Fluxo base is executed').item.json['Raiz do nome completo'] }}\n**HOST MATRIZ:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_host }}\n**EVENTO:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_trigger }}\n**MOMENTO INDISPONÍVEL:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].data_hora_evento }}\n**TICKET MOVIDESK:** {{ $json.id }}","color":"#FF7518","title":"=CHAMADO ABERTO","thumbnail":"https://cdn-icons-png.freepik.com/512/4034/4034629.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3696,240],"id":"a4ba5b0b-8226-427c-8a7d-eee0a468eb12","name":"Discord: Chamado aberto no Movidesk","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"3BQVRWmy75knxy1x","name":"Contratos: Abertura de chamados"}},"disabled":true},{"parameters":{"method":"PATCH","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6{{ $('Prepara html do cliente').item.json.variavel_atualizacao_ticket }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3472,-16],"id":"69036151-98bf-4219-b2f5-012fe3eaa2bc","name":"Movidesk: Atualiza ticket","retryOnFail":true,"disabled":true},{"parameters":{"jsCode":"const eventos_relacionados = $input.first().json.eventosRelacionados;\nconst ID_evento_atual = $('When 01. Fluxo base is executed').first().json['Dados do evento'].ID_evento;\n\nif (eventos_relacionados.length == 1 && eventos_relacionados[0] == \"0\") {\n  eventos_relacionados.pop();\n  eventos_relacionados.push(ID_evento_atual)\n} \nelse if (eventos_relacionados.length >= 1 && eventos_relacionados[0] != \"0\") {\n  eventos_relacionados.push(ID_evento_atual);\n} \nelse {\n  eventos_relacionados.push(ID_evento_atual);\n}\n\nreturn [{eventos_relacionados}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4736,-768],"id":"c66613c4-f27d-4ebc-9d2b-fbf30cfc7689","name":"Add IDevento nos eventosRelacionados","disabled":true},{"parameters":{"operation":"update","tableId":"eventosZabbix","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Select eventos do grupo').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"eventosRelacionados","fieldValue":"={{ $json.eventos_relacionados }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4960,-768],"id":"1a012770-e794-4905-8118-724086ccd262","name":"BD: Atualiza eventosRelacionados","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"jsCode":"// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\n// Monta as linhas do tbody\nconst hostName = $('When 01. Fluxo base is executed').first().json['Dados do evento'].nome_host;\nconst evento = $('When 01. Fluxo base is executed').first().json['Dados do evento'].nome_trigger;\nconst data_hora_queda = $('When 01. Fluxo base is executed').first().json['Dados do evento'].data_hora_evento;\nconst ticket_movidesk_update = $input.first().json.ticketMovidesk;\n\n// ==== CLIAR HTML DO CLIENTE ====\nfunction htmlCliente(nomeHost, eventoGerador, dataHoraEvento) {\n  const htmlCliente = `\n    <p>${getGreeting()}</p>\n    <br>\n    <p>Um novo evento relacionado ao evento anterior iniciou em nosso sistema de monitorameto poucos tempo após o evento original. Segue abaixo as informações do novo evento:</p>\n    <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n      <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n        <thead>\n            <tr>\n              <th>Host</th>\n              <th>Evento</th>\n              <th>Horário da queda</th>\n            </tr>\n        </thead>\n        <tbody>\n            <tr>\n              <td>${nomeHost}</td>\n              <td>${eventoGerador}</td>\n              <td>${dataHoraEvento}</td>\n            </tr>\n        </tbody>\n      </table>\n    </div>\n    \n    <p> Permaneceremos à disposição e seguiremos monitorando os alertas gerados.</p>\n    <br>\n    <br>\n    <p>Atenciosamente </p>\n    <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n  `;\n  return htmlCliente;\n}\n\nconst variavel_atualizacao_ticket = `&id=${ticket_movidesk_update}`\n\nreturn [{\n  htmlCliente: htmlCliente(hostName, evento, data_hora_queda),\n  variavel_atualizacao_ticket,\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5184,-768],"id":"2b188a2e-33bf-46ab-95e6-228859842b84","name":"Prepara html do cliente1","disabled":true},{"parameters":{"jsCode":"const htmlCliente = $input.first().json.htmlCliente;\n\n//id_movideks_para_testes = 1836303904\n\nreturn {\n  json: {\n    actions: [\n      { type: 2, description: htmlCliente ,createdBy: { id: \"1458772347\" }, workTime: \"00:02:00\" }\n    ]\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5408,-768],"id":"54dd4a51-671f-4cbd-99de-c80b4596ba43","name":"json para atualizar ticket Movidesk1","disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Um novo evento foi adicionado ao eventosZabbix na tabela\n\n**CLIENTE:** {{ $('When 01. Fluxo base is executed').item.json['Raiz do nome completo'] }}\n**HOST MATRIZ:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_host }}\n**EVENTO:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_trigger }}\n**MOMENTO INDISPONÍVEL:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].data_hora_evento }}\n**TICKET MOVIDESK:** {{ $('BD: Atualiza eventosRelacionados').item.json.ticketMovidesk }}","color":"#FF7518","title":"=CHAMADO ABERTO","thumbnail":"https://cdn-icons-png.freepik.com/512/4034/4034629.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[5856,-768],"id":"9ec783e3-c385-4775-8e77-52485b44c391","name":"Discord: Chamado atualizado no Movidesk1","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"3BQVRWmy75knxy1x","name":"Contratos: Abertura de chamados"}},"disabled":true},{"parameters":{"method":"PATCH","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6{{ $('Prepara html do cliente1').item.json.variavel_atualizacao_ticket }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5632,-768],"id":"ba4c9647-a8e3-4a72-896f-b68ca20e0953","name":"Movidesk: Atualiza ticket1","retryOnFail":true,"disabled":true},{"parameters":{"operation":"getAll","tableId":"eventosZabbix","returnAll":true,"filters":{"conditions":[{"keyName":"ticketMovidesk","condition":"eq","keyValue":"={{ parseInt($json.eventos_reconhecidos[0].message) }}"},{"keyName":"idEvento","condition":"eq","keyValue":"={{ $('When 01. Fluxo base is executed').item.json['ID do evento'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1008,-864],"id":"fae4a452-ea21-4605-abc1-20b84ea4f8c3","name":"BD: Procura ticketMovidesk","alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e48d440d-f34b-4ef8-b5e1-7c6f7150efc3","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1232,-864],"id":"db0b3359-1630-4a24-ac53-4f825e7facc9","name":"Existe registro?"},{"parameters":{"tableId":"eventosZabbix","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json[\"Dados do evento\"].ID_evento }}"},{"fieldId":"idHost","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json[\"Dados do evento\"].ID_host }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json[\"Variáveis do tipo cliente\"].id }}"},{"fieldId":"idGroup","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json[\"ID do grupo\"] }}"},{"fieldId":"nomeHost","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json[\"Dados do evento\"].nome_host }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json[\"Raiz do nome completo\"] }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json[\"Dados do evento\"].nome_trigger }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json[\"Dados do evento\"].timestamp_queda }}"},{"fieldId":"statusChamado","fieldValue":"2"},{"fieldId":"ticketMovidesk","fieldValue":"={{ parseInt($('Trata os reconhecidos').item.json.eventos_reconhecidos[0].message) }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ [$('When 01. Fluxo base is executed').item.json[\"Dados do evento\"].ID_evento] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2208,-816],"id":"3626146b-a257-4a13-8115-cd2f13096a46","name":"BD: Cria novo evento no BD","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Um novo evento foi adicionado ao eventosZabbix na tabela\n\n**CLIENTE:** {{ $('When 01. Fluxo base is executed').item.json['Raiz do nome completo'] }}\n**HOST MATRIZ:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_host }}\n**EVENTO:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_trigger }}\n**MOMENTO INDISPONÍVEL:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].data_hora_evento }}\n**TICKET MOVIDESK:** {{ $('Trata os reconhecidos').item.json.eventos_reconhecidos[0].message }}","color":"#FF7518","title":"=CHAMADO ABERTO","thumbnail":"https://cdn-icons-png.freepik.com/512/4034/4034629.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2432,-816],"id":"9ccd2e98-d839-4c5d-a143-83e6891a43a5","name":"Discord: Evento add no BD","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"3BQVRWmy75knxy1x","name":"Contratos: Abertura de chamados"}},"disabled":true},{"parameters":{"jsCode":"const eventos_relacionados = $input.first().json.eventosRelacionados;\nconst ID_evento_atual = String($input.first().json.idEvento);\n\nconst eventoPresente = eventos_relacionados.some(ev => ev.includes(ID_evento_atual));\n\nif (eventoPresente == true) {\n  return [{ eventoPresente }];\n} else {\n  if (eventos_relacionados.length == 1 && eventos_relacionados[0] == \"0\") {\n    eventos_relacionados.pop();\n    eventos_relacionados.push(ID_evento_atual)\n  } else {\n    eventos_relacionados.push(ID_evento_atual)\n  }\n  return [{eventoPresente, eventos_relacionados}]\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2416,-1008],"id":"9f4d1c3b-2353-4952-9eb6-120b749ac61c","name":"Verifica se já existe em eventosRelacionados","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"68768db4-2cc1-4da4-8bb9-0f36033bf1e7","leftValue":"={{ $json.eventoPresente }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2640,-1008],"id":"bb0c0189-8f4c-4e70-9b26-b40db841c582","name":"Evento já está adicionado?","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1728,-1120],"id":"9ecf073b-1171-4bac-88cc-e1c36a6ed30d","name":"Do not"},{"parameters":{"operation":"update","tableId":"eventosZabbix","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Procura ticketMovidesk').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"eventosRelacionados","fieldValue":"={{ $('Verifica se já existe em eventosRelacionados').item.json.eventos_relacionados }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2864,-1008],"id":"c704cd04-5f84-464a-8d9f-c5e65f5e9320","name":"BD: Atualiza eventosRelacionados2","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Um novo evento foi adicionado aos eventos relacionados do item {{ $json.id }} da tabela\n\n**CLIENTE:** {{ $('When 01. Fluxo base is executed').item.json['Raiz do nome completo'] }}\n**HOST MATRIZ:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_host }}\n**EVENTO:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_trigger }}\n**MOMENTO INDISPONÍVEL:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].data_hora_evento }}\n**TICKET MOVIDESK:** {{ $('Trata os reconhecidos').item.json.eventos_reconhecidos[0].message }}\n**EVENTOS RELACIONADOS:** {{ $json.eventosRelacionados }}","color":"#FF7518","title":"=CHAMADO ATUALIZADO","thumbnail":"https://cdn-icons-png.freepik.com/512/4034/4034629.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3088,-1008],"id":"cea689cc-383a-4cc7-8898-d49360f06a09","name":"Discord: eventosRelacionados atualizado","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"3BQVRWmy75knxy1x","name":"Contratos: Abertura de chamados"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['Evento reconhecido'] }}","rightValue":"Reconhecido","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"88160a23-5238-485d-8ef3-083872aada67"}],"combinator":"and"},"renameOutput":true,"outputKey":"RECONHECIDO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f4ed34d8-4b83-4f07-a3fd-48f1e9638d68","leftValue":"={{ $json['Evento reconhecido'] }}","rightValue":"Não reconhecido","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"NOVO EVENTO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[224,-432],"id":"697385e2-c9bc-49c9-9604-3cbdb24fb0cc","name":"Rota: Tipo evento"},{"parameters":{"tableId":"sala de espera","fieldsUi":{"fieldValues":[{"fieldId":"id_evento","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['ID do evento'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Nome do host'] }}"},{"fieldId":"evento","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Nome do evento'] }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Timestamp da queda'] }}"},{"fieldId":"id_grupo","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['ID do grupo'] }}"},{"fieldId":"nome_grupo","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Nome do grupo'] }}"},{"fieldId":"id_tipoCliente","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Tipo de cliente'] }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('When 01. Fluxo base is executed').item.json['Raiz do host'] }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ [\"0\"] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2352,752],"id":"38bab818-05a8-4461-8030-b94508b65d39","name":"BD: Add na sala de espera","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Evento do cliente {{ $json.nome_grupo }} adicionado à sala de espera.\n\n**CLIENTE:** {{ $('When 01. Fluxo base is executed').item.json['Nome principal do cliente'] }}\n**HOST MATRIZ:** {{ $('When 01. Fluxo base is executed').item.json['Nome do host'] }}\n**EVENTO:** {{ $('When 01. Fluxo base is executed').item.json['Nome do evento'] }}\n**MOMENTO INDISPONÍVEL:** {{ $('When 01. Fluxo base is executed').item.json['Data e hora do evento'].toUpperCase() }}","color":"#FF7518","title":"=Novo evento na sala de espera","thumbnail":"https://cdn-icons-png.freepik.com/512/1434/1434350.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2576,752],"id":"4e020943-8ebb-4386-ac8b-43d728132359","name":"Discord: Evento add sala de espera","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"UwSdPtNpd16mBJVp","name":"Adm: Sala de espera"}}},{"parameters":{"content":"NOVO EVENTO NA SALA DE ESPERA - ABERTURA DE CHAMADO","height":256,"width":480,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2304,672],"id":"aa1ef3c6-b364-44cc-b79e-6ccd1c03acca","name":"Sticky Note","disabled":true},{"parameters":{"operation":"get","tableId":"sala de espera","filters":{"conditions":[{"keyName":"id_grupo","keyValue":"={{ $('When 01. Fluxo base is executed').item.json['ID do grupo'] }}"},{"keyName":"raizNomeHost","keyValue":"={{ $('When 01. Fluxo base is executed').item.json['Raiz do host'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1904,560],"id":"a6fe161c-e770-4798-97f3-f25d67419f90","name":"BD: Select correspondentes","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b851b4b8-fa77-467a-bc61-c1b371da9765","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2128,560],"id":"731167da-50c0-46fe-8432-65dcabd18d5d","name":"Existe correspondência?"},{"parameters":{"jsCode":"const id_evento_push_array = $('When 01. Fluxo base is executed').item.json['ID do evento'];\nconst eventos_relacionados = $input.first().json.eventosRelacionados;\n\nif (eventos_relacionados.length == 1 && eventos_relacionados[0] == \"0\") {\n    eventos_relacionados.pop()\n    eventos_relacionados.push(id_evento_push_array)\n} else {\n  if (eventos_relacionados.includes(id_evento_push_array)) {\n    return [{eventos_relacionados}]\n  } else {\n    eventos_relacionados.push(id_evento_push_array)\n  }\n}\n\nreturn [{eventos_relacionados}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2576,496],"id":"a581ee9c-52ff-4790-84f1-ff86c09fbcff","name":"Prepara push de eventos relacionados"},{"parameters":{"operation":"update","tableId":"sala de espera","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Select correspondentes').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"eventosRelacionados","fieldValue":"={{ $json.eventos_relacionados }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2800,496],"id":"ac006128-7472-4ed9-8673-49862fe5f362","name":"BD: Update no evento existente","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"45481112-fc3a-4263-ab58-4a1650d284c0","leftValue":"={{ $('When 01. Fluxo base is executed').item.json['Nome do host'] }}","rightValue":"={{ $('BD: Select correspondentes').item.json.nome_host }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"626640f5-aa67-407d-9fb3-c1bd34e00ceb","leftValue":"={{ $('When 01. Fluxo base is executed').item.json['Nome do evento'] }}","rightValue":"={{ $('BD: Select correspondentes').item.json.evento }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2352,400],"id":"95b376ef-5ff6-4d27-a2fc-43c4a3bc1e1f","name":"Host e evento igual?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2576,304],"id":"4b4dcfd8-3aff-4059-a211-5c98a505ddf8","name":"Do not1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"41f24765-ba8e-4573-9b06-6004c1a2fb52","leftValue":"={{ $json.eventosRelacionados }}","rightValue":"null","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2192,-1008],"id":"de2a9c87-9513-447d-9161-9bae61444078","name":"If","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6122d779-b9ac-42c1-a9c5-157a30faa716","leftValue":"={{ $json.nomeHost }}","rightValue":"={{ $('When 01. Fluxo base is executed').item.json['Nome do host'] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"c79c8c17-8cf7-4dd1-9ea6-6038922a0a7b","leftValue":"={{ $json.nomeEvento }}","rightValue":"={{ $('When 01. Fluxo base is executed').item.json['Nome do evento'] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"29bf7198-971a-4d60-b51a-326e0554a644","leftValue":"={{ $json.timestampQueda }}","rightValue":"={{ $('When 01. Fluxo base is executed').item.json['Timestamp da queda'] }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1472,-976],"id":"b8363252-eb2d-4d80-978d-312a0e4d530c","name":"Host, evento e timestamp iguais?"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Verificar rota de item com reconhecimento\n\n**CLIENTE:** {{ $('When 01. Fluxo base is executed').item.json['Nome principal do cliente'] }}\n**HOST MATRIZ:** {{ $('When 01. Fluxo base is executed').item.json['Nome do host'] }}\n**EVENTO:** {{ $('When 01. Fluxo base is executed').item.json['Nome do evento'] }}\n**MOMENTO INDISPONÍVEL:** {{ $('When 01. Fluxo base is executed').item.json['Data e hora do evento'].toUpperCase() }}","color":"#FF7518","title":"=Novo evento na sala de espera","thumbnail":"https://cdn-icons-png.freepik.com/512/1434/1434350.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1472,-784],"id":"628b9e4b-0ccd-4ac6-b9c3-806f0dbdd3b8","name":"Discord: Evento add sala de espera1","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"BXMy66RZpTJoYUgo","name":"Contratos: Administrativo"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Novo evento na rota de eventos do BD - evento não tem host ou evento igual, mas tem evento do grupo! \n\n**CLIENTE:** {{ $('When 01. Fluxo base is executed').item.json['Nome principal do cliente'] }}\n**HOST MATRIZ:** {{ $('When 01. Fluxo base is executed').item.json['Nome do host'] }}\n**EVENTO:** {{ $('When 01. Fluxo base is executed').item.json['Nome do evento'] }}\n**MOMENTO INDISPONÍVEL:** {{ $('When 01. Fluxo base is executed').item.json['Data e hora do evento'].toUpperCase() }}","author":"Fluxo Clientes Gerais","color":"#009EDD","title":"=Nova rota para avaliar - {{ $('When 01. Fluxo base is executed').item.json['Nome principal do cliente'] }}","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1360,-224],"id":"cb5e3347-1652-4bac-a0d0-6fca11eb05f1","name":"admin1","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"BXMy66RZpTJoYUgo","name":"Contratos: Administrativo"}}},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,-416],"id":"2f83a18b-d2ea-4a6b-9377-3374f80d802b","name":"Zabbix: Reconhecer evento já existente no BD","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ff569df-5c75-4c55-a593-c990cdf3aa4c","leftValue":"={{ $('When 01. Fluxo base is executed').item.json['Nome do host'] }}","rightValue":"={{ $('BD: Select eventos do grupo').item.json.nomeHost }}","operator":{"type":"string","operation":"equals"}},{"id":"8611bf95-6148-4248-9823-50740b566e16","leftValue":"={{ $('When 01. Fluxo base is executed').item.json['Nome do evento'] }}","rightValue":"={{ $('BD: Select eventos do grupo').item.json.nomeEvento }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1136,-320],"id":"7a208326-a2ed-405b-82a2-dd27591d99ba","name":"Hosts e evento iguais?1"},{"parameters":{"operation":"update","tableId":"eventosZabbix","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"qtdQuedas","fieldValue":"={{ $json.qtdQuedas + 1}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1360,-416],"id":"e46270db-bac3-4a51-b2a5-78c9c4ef487c","name":"BD: Update qtdQuedas/eventosRelacionados1","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const mensagem_para_reconhecimento = $('BD: Select eventos do grupo').first().json.ticketMovidesk;\nconst ID_evento_reconhecimento = $('When 01. Fluxo base is executed').first().json['ID do evento'];\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: ID_evento_reconhecimento,\n    message: String(mensagem_para_reconhecimento),\n    action: 6\n  },\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,-416],"id":"1a03d06b-5918-43e6-b80f-c25181a91d7c","name":"json para reconhecer com dados no BD1"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Evento reconhecido no Zabbix pois já existe um evento no BD.\n\n**CLIENTE:** {{ $('When 01. Fluxo base is executed').item.json['Nome principal do cliente'] }}\n**HOST MATRIZ:** {{ $('When 01. Fluxo base is executed').item.json['Nome do host'] }}\n**EVENTO:** {{ $('When 01. Fluxo base is executed').item.json['Nome do evento'] }}\n**MOMENTO INDISPONÍVEL:** {{ $('When 01. Fluxo base is executed').item.json['Data e hora do evento'].toUpperCase() }}\n**TICKET MOVIDESK:** {{ $('BD: Update qtdQuedas/eventosRelacionados1').item.json.ticketMovidesk }}","color":"#FF7518","title":"=Evento {{ $('BD: Update qtdQuedas/eventosRelacionados1').item.json.raizNomeHost }} reconhecido","thumbnail":"https://cdn-icons-png.freepik.com/64/4034/4034629.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2032,-416],"id":"94f1ecac-e8ea-474c-975c-ab8a9827c57f","name":"Contrato 2: Chamado reconhecido","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"3BQVRWmy75knxy1x","name":"Contratos: Abertura de chamados"}}},{"parameters":{"content":"Aguardar evento para terminar o fluxo","height":288,"width":1408,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4656,-848],"id":"e0905dea-b5d5-4316-8b2c-c47a1f0ba2ee","name":"Sticky Note1"},{"parameters":{"content":"Aguardar evento para terminar o fluxo","height":496,"width":1136,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2160,-1104],"id":"cdda2fe0-cfb2-43ac-83ed-bc6997a3dd49","name":"Sticky Note2"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Existe eventos do grupo para reconhecer o evento atual.\n\n**CLIENTE:** {{ $('When 01. Fluxo base is executed').item.json['Nome principal do cliente'] }}\n**HOST MATRIZ:** {{ $('When 01. Fluxo base is executed').item.json['Nome do host'] }}\n**EVENTO:** {{ $('When 01. Fluxo base is executed').item.json['Nome do evento'] }}\n**MOMENTO INDISPONÍVEL:** {{ $('When 01. Fluxo base is executed').item.json['Data e hora do evento'].toUpperCase() }}","author":"Fluxo Clientes Gerais","color":"#009EDD","title":"=Nova rota para avaliar - {{ $('When 01. Fluxo base is executed').item.json['Nome principal do cliente'] }}","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1904,336],"id":"9ee93610-b67c-4c03-ab6f-56be2d2af677","name":"admin","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"BXMy66RZpTJoYUgo","name":"Contratos: Administrativo"}}}],"connections":{"When 01. Fluxo base is executed":{"main":[[{"node":"Rota: Tipo evento","type":"main","index":0}]]},"Zabbix: Consulta reconhecimentos":{"main":[[{"node":"Trata os reconhecidos","type":"main","index":0}]]},"Trata os reconhecidos":{"main":[[{"node":"BD: Procura ticketMovidesk","type":"main","index":0}]]},"BD: Select eventos do grupo":{"main":[[{"node":"Existe eventos de grupo?","type":"main","index":0}]]},"json para consulta Zabbix":{"main":[[{"node":"Zabbix: Select eventos de grupo","type":"main","index":0}]]},"Mantém apenas eventos com ack6":{"main":[[{"node":"Existe eventos válidos?","type":"main","index":0}]]},"Zabbix: Select eventos de grupo":{"main":[[{"node":"Mantém apenas eventos com ack6","type":"main","index":0}]]},"Existe eventos de grupo?":{"main":[[{"node":"Hosts e evento iguais?1","type":"main","index":0}],[{"node":"json para consulta Zabbix","type":"main","index":0}]]},"Existe eventos válidos?":{"main":[[{"node":"json para reconhecer evento","type":"main","index":0},{"node":"admin","type":"main","index":0}],[{"node":"BD: Select correspondentes","type":"main","index":0}]]},"json para reconhecer evento":{"main":[[{"node":"Zabbix: Update evento","type":"main","index":0}]]},"Zabbix: Update evento":{"main":[[{"node":"BD: Add new event on eventosZabbix","type":"main","index":0}]]},"BD: Add new event on eventosZabbix":{"main":[[{"node":"Calcula tempo entre eventos","type":"main","index":0}]]},"Prepara html do cliente":{"main":[[{"node":"json para atualizar ticket Movidesk","type":"main","index":0}]]},"json para atualizar ticket Movidesk":{"main":[[{"node":"Rota: Atualiza ou cria","type":"main","index":0}]]},"Calcula tempo entre eventos":{"main":[[{"node":"Prepara html do cliente","type":"main","index":0}]]},"Rota: Atualiza ou cria":{"main":[[{"node":"Movidesk: Atualiza ticket","type":"main","index":0}],[{"node":"Movidesk: Cria ticket","type":"main","index":0}]]},"Movidesk: Cria ticket":{"main":[[{"node":"Discord: Chamado aberto no Movidesk","type":"main","index":0}]]},"Movidesk: Atualiza ticket":{"main":[[{"node":"Discord: Chamado atualizado no Movidesk","type":"main","index":0}]]},"Add IDevento nos eventosRelacionados":{"main":[[{"node":"BD: Atualiza eventosRelacionados","type":"main","index":0}]]},"BD: Atualiza eventosRelacionados":{"main":[[{"node":"Prepara html do cliente1","type":"main","index":0}]]},"Prepara html do cliente1":{"main":[[{"node":"json para atualizar ticket Movidesk1","type":"main","index":0}]]},"Movidesk: Atualiza ticket1":{"main":[[{"node":"Discord: Chamado atualizado no Movidesk1","type":"main","index":0}]]},"json para atualizar ticket Movidesk1":{"main":[[{"node":"Movidesk: Atualiza ticket1","type":"main","index":0}]]},"BD: Procura ticketMovidesk":{"main":[[{"node":"Existe registro?","type":"main","index":0}]]},"Existe registro?":{"main":[[{"node":"Host, evento e timestamp iguais?","type":"main","index":0}],[{"node":"Discord: Evento add sala de espera1","type":"main","index":0}]]},"BD: Cria novo evento no BD":{"main":[[{"node":"Discord: Evento add no BD","type":"main","index":0}]]},"Verifica se já existe em eventosRelacionados":{"main":[[{"node":"Evento já está adicionado?","type":"main","index":0}]]},"Evento já está adicionado?":{"main":[[],[{"node":"BD: Atualiza eventosRelacionados2","type":"main","index":0}]]},"BD: Atualiza eventosRelacionados2":{"main":[[{"node":"Discord: eventosRelacionados atualizado","type":"main","index":0}]]},"Rota: Tipo evento":{"main":[[{"node":"Zabbix: Consulta reconhecimentos","type":"main","index":0}],[{"node":"BD: Select eventos do grupo","type":"main","index":0}]]},"BD: Add na sala de espera":{"main":[[{"node":"Discord: Evento add sala de espera","type":"main","index":0}]]},"BD: Select correspondentes":{"main":[[{"node":"Existe correspondência?","type":"main","index":0}]]},"Existe correspondência?":{"main":[[{"node":"Host e evento igual?","type":"main","index":0}],[{"node":"BD: Add na sala de espera","type":"main","index":0}]]},"Prepara push de eventos relacionados":{"main":[[{"node":"BD: Update no evento existente","type":"main","index":0}]]},"Host e evento igual?":{"main":[[{"node":"Do not1","type":"main","index":0}],[{"node":"Prepara push de eventos relacionados","type":"main","index":0}]]},"If":{"main":[[{"node":"Verifica se já existe em eventosRelacionados","type":"main","index":0}]]},"Host, evento e timestamp iguais?":{"main":[[{"node":"Do not","type":"main","index":0}],[{"node":"Discord: Evento add sala de espera1","type":"main","index":0}]]},"Zabbix: Reconhecer evento já existente no BD":{"main":[[{"node":"Contrato 2: Chamado reconhecido","type":"main","index":0}]]},"Hosts e evento iguais?1":{"main":[[{"node":"BD: Update qtdQuedas/eventosRelacionados1","type":"main","index":0}],[{"node":"admin1","type":"main","index":0}]]},"BD: Update qtdQuedas/eventosRelacionados1":{"main":[[{"node":"json para reconhecer com dados no BD1","type":"main","index":0}]]},"json para reconhecer com dados no BD1":{"main":[[{"node":"Zabbix: Reconhecer evento já existente no BD","type":"main","index":0}]]},"admin1":{"main":[[{"node":"Add IDevento nos eventosRelacionados","type":"main","index":0}]]},"Discord: Evento add sala de espera1":{"main":[[{"node":"If","type":"main","index":0}]]}},"authors":"William Semmler","name":null,"description":null,"autosaved":false},"tags":[{"updatedAt":"2025-11-05T16:31:43.287Z","createdAt":"2025-11-05T16:31:43.287Z","id":"JcnJcC8kUspunBU7","name":"clientes_contrato"},{"updatedAt":"2025-10-24T18:08:27.659Z","createdAt":"2025-10-24T18:08:27.659Z","id":"oUDNU2rUDi9xwp5Q","name":"FluxoNOC_principal"}]}