contrato-1-L3evoVMYk4i7qqQ6.json
{"updatedAt":"2026-01-31T03:00:25.943Z","createdAt":"2025-12-10T20:38:42.425Z","id":"L3evoVMYk4i7qqQ6","name":"Contrato 1","active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[656,240],"id":"047510ef-7308-42c6-aa1c-98c1f4ce7aaf","name":"Quando fluxo base manda algo"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fd883faf-a9c1-4487-bb66-e95c5e1c48fd","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1104,240],"id":"9784de47-0c9f-4aa9-83c7-901ecd3f6e83","name":"Existe eventos de grupo?","disabled":true},{"parameters":{"jsCode":"const eventos_do_grupo = $input.first().json.result\n\nlet eventos_com_reconhecidos = [];\nlet flagEventosReconhecidos = false;\n\nfor (let index = 0; index < eventos_do_grupo.length; index++) {\n  const evento_reconhecido = parseInt(eventos_do_grupo[index].acknowledged);\n\n  if (evento_reconhecido == 1) {\n    eventos_com_reconhecidos.push(eventos_do_grupo[index])\n  } \n}\n\nlet ticketsMovidesk = [];\nif (eventos_com_reconhecidos.length >= 1) {\n  for(const ev of eventos_com_reconhecidos) {\n    ticketsMovidesk.push(ev.acknowledges[0].message)\n  }\n  flagEventosReconhecidos = true\n  return [{\n    flagEventosReconhecidos,\n    ticketsMovidesk\n  }]\n} else {\n  return [{\n    flagEventosReconhecidos\n  }]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,656],"id":"f892bdaf-f358-4d23-872c-00c969547ced","name":"Mantém apenas eventos com ack6","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb6eff08-3023-4783-bfaf-1cacf44c64ab","leftValue":"={{ $json.flagEventosReconhecidos }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2240,656],"id":"84432f74-f085-4a53-b546-a8aec4fbda5b","name":"Existe eventos válidos?","disabled":true},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,656],"id":"da9ba2a6-d419-4b8a-b3d7-27efec60bf34","name":"Zabbix: Select eventos de grupo","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}},"disabled":true},{"parameters":{"tableId":"sala de espera","fieldsUi":{"fieldValues":[{"fieldId":"id_evento","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['ID do evento'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['Nome do host'] }}"},{"fieldId":"evento","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['Nome do evento'] }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['Timestamp da queda'] }}"},{"fieldId":"id_grupo","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['ID do grupo'] }}"},{"fieldId":"nome_grupo","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['Nome do grupo'] }}"},{"fieldId":"id_tipoCliente","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['Tipo de cliente'] }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['Raiz do host'] }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ [$('Quando fluxo base manda algo').first().json['ID do evento']] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2960,1024],"id":"04f596da-8e92-4601-bc25-b30c1618e539","name":"BD: Add na sala de espera","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**CLIENTE:** {{ $('Quando fluxo base manda algo').first().json['Raiz do host'] }};\n**HOST MATRIZ:** {{ $('Quando fluxo base manda algo').first().json['Nome do host'] }}\n**EVENTO:** {{ $('Quando fluxo base manda algo').first().json['Nome do evento'] }}\n**MOMENTO INDISPONÍVEL:** {{ $('Quando fluxo base manda algo').first().json['Data e hora do evento'].toUpperCase() }}","author":"Fluxo de contratos 1","color":"#FF7518","title":"={{ $json.raizNomeHost }} na sala de espera","thumbnail":"https://cdn-icons-png.freepik.com/64/1434/1434350.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3184,1024],"id":"040f3c0d-2b0e-4240-a4e2-eca1bf623805","name":"Discord: Evento add sala de espera","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"UwSdPtNpd16mBJVp","name":"Adm: Sala de espera"}},"disabled":true},{"parameters":{"tableId":"eventosZabbix","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['ID do evento'] }}"},{"fieldId":"idHost","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['ID do host'] }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['Tipo de cliente'] }}"},{"fieldId":"idGroup","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['ID do grupo'] }}"},{"fieldId":"nomeHost","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['Nome do host'] }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['Raiz do host'] }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['Nome do evento'] }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['Timestamp da queda'] }}"},{"fieldId":"statusChamado","fieldValue":"2"},{"fieldId":"ticketMovidesk","fieldValue":"={{ parseInt($('Mantém apenas eventos com ack6').first().json.ticketsMovidesk[0]) }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ [$('Quando fluxo base manda algo').item.json['ID do evento']] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2832,448],"id":"02f16fe2-95f4-44f9-bcae-eadaf9f669b2","name":"BD: Add new event on eventosZabbix","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ff569df-5c75-4c55-a593-c990cdf3aa4c","leftValue":"={{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_host }}","rightValue":"={{ $('BD: Busca tabela principal').item.json.nomeHost }}","operator":{"type":"string","operation":"equals"}},{"id":"8611bf95-6148-4248-9823-50740b566e16","leftValue":"={{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_trigger }}","rightValue":"={{ $('BD: Busca tabela principal').item.json.nomeEvento }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1424,-144],"id":"2c1029da-733d-4615-9e68-24fab6855da3","name":"Hosts e evento iguais?","disabled":true},{"parameters":{"operation":"update","tableId":"eventosZabbix","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"qtdQuedas","fieldValue":"={{ $json.qtdQuedas + 1}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1648,-288],"id":"9bea5594-f01c-4d42-ab25-d4ff75f2decb","name":"BD: Update qtdQuedas/eventosRelacionados","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2096,-288],"id":"dd0d7080-9a5f-47d1-9f35-6065029fcd7d","name":"Zabbix: Update evento4","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"disabled":true},{"parameters":{"jsCode":"const authenticator = $('When 01. Fluxo base is executed').first().json['Dados do evento'].ID_consulta_zabbix;\n\nconst mensagem_para_reconhecimento = $('BD: Busca tabela principal').first().json.ticketMovidesk;\nconst ID_evento_reconhecimento = $('When 01. Fluxo base is executed').first().json['Dados do evento'].ID_evento;\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: ID_evento_reconhecimento,\n    message: mensagem_para_reconhecimento,\n    action: 6\n  },\n  auth: `${authenticator}`,\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,-288],"id":"0798567f-c0d3-4c40-9c2b-e8b28696a3fd","name":"json para reconhecer com dados no BD","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b851b4b8-fa77-467a-bc61-c1b371da9765","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2736,912],"id":"2ab41ba0-06b5-44f9-8bc9-b0976ef191c9","name":"Existe correspondência?","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"45481112-fc3a-4263-ab58-4a1650d284c0","leftValue":"={{ $('Quando fluxo base manda algo').item.json['Nome do host'] }}","rightValue":"={{ $('BD: Busca na sala de espera').item.json.nome_host }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"626640f5-aa67-407d-9fb3-c1bd34e00ceb","leftValue":"={{ $('Quando fluxo base manda algo').item.json['Nome do evento'] }}","rightValue":"={{ $('BD: Busca na sala de espera').item.json.evento }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2960,784],"id":"f9834ea8-801f-4e98-9cac-44fe4d472b9b","name":"Host e evento igual?","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2960,640],"id":"bea011ba-78bf-4207-af1e-69cd99d4d2ed","name":"Do not","disabled":true},{"parameters":{"tableId":"sala de espera","fieldsUi":{"fieldValues":[{"fieldId":"id_evento","fieldValue":"={{ $('Prepara dados do novo evento').item.json[\"ID do evento\"] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Prepara dados do novo evento').item.json[\"Nome do host\"] }}"},{"fieldId":"evento","fieldValue":"={{ $('Prepara dados do novo evento').item.json['Nome do evento gerador'] }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Prepara dados do novo evento').item.json['Timestamp da queda'] }}"},{"fieldId":"id_grupo","fieldValue":"={{ $('Prepara dados do novo evento').item.json['ID do grupo'] }}"},{"fieldId":"nome_grupo","fieldValue":"={{ $('Prepara dados do novo evento').item.json['Nome do grupo'] }}"},{"fieldId":"id_tipoCliente","fieldValue":"={{ $('Prepara dados do novo evento').item.json['ID tipo de cliente'] }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('Prepara dados do novo evento').item.json['Raiz do nome do cliente'] }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ [0] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2544,80],"id":"b04d06a1-ed65-4f35-9087-4882e28122c0","name":"BD: Add na sala de espera1","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"jsCode":"const id_evento = $('When 01. Fluxo base is executed').first().json[\"Dados do evento\"].ID_evento;\nconst authenticator = $('When 01. Fluxo base is executed').first().json[\"Dados do evento\"].ID_consulta_zabbix;\n\nreturn {\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"r_eventid\", \"acknowledged\"],\n\n    \"eventids\": [`${id_evento}`],\n\n    \"selectHosts\": [\"hostid\", \"name\", \"description\"],\n\n    \"selectAcknowledges\": [\"message\", \"action\"],\n\n    \"selectRelatedObject\": [\"description\", \"value\"],\n\n    \"selectTags\": \"extend\"\n  },\n  \"auth\": authenticator,\n  \"id\": 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,-16],"id":"472bbbd6-47e1-4f81-9fa2-72ffbff7d458","name":"Prepara json para consulta evento Zabbix1","disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2096,-16],"id":"b6ef3da6-cfbd-4ac6-90f8-ddcaa27ee716","name":"Zabbix: Consulta evento1","retryOnFail":true,"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f91d4b3a-74fc-447a-a098-ac1892ef5b43","leftValue":"={{ $json.result[0].eventid }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"a4d41f88-75df-4f04-acf4-4776b6c964e6","leftValue":"={{ Number($json.result[0].acknowledged) }}","rightValue":1,"operator":{"type":"number","operation":"equals"}},{"id":"c5aec495-a6dd-4551-a6f9-cb50ee475575","leftValue":"={{ Number($json.result[0].r_eventid) }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2320,-16],"id":"e28298e8-9a76-467b-af70-3a85a9e6f16c","name":"Existe evento com reconhecimento?","disabled":true},{"parameters":{"tableId":"eventosZabbix","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $('Prepara dados do novo evento').item.json[\"ID do evento\"] }}"},{"fieldId":"idHost","fieldValue":"={{ $('Prepara dados do novo evento').item.json[\"ID do host\"] }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $('Prepara dados do novo evento').item.json[\"ID tipo de cliente\"] }}"},{"fieldId":"idGroup","fieldValue":"={{ $('Prepara dados do novo evento').item.json[\"ID do grupo\"] }}"},{"fieldId":"nomeHost","fieldValue":"={{ $('Prepara dados do novo evento').item.json[\"Nome do host\"] }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('Prepara dados do novo evento').item.json[\"Raiz do nome do cliente\"] }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $('Prepara dados do novo evento').item.json[\"Nome do evento gerador\"] }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $('Prepara dados do novo evento').item.json[\"Timestamp da queda\"] }}"},{"fieldId":"statusChamado","fieldValue":"2"},{"fieldId":"ticketMovidesk","fieldValue":"={{ parseInt($('Zabbix: Consulta evento1').item.json.result[0].acknowledges[0].message) }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2544,-112],"id":"15b94e1e-889a-437d-bb58-3b66537774e0","name":"BD: Cria novo evento no Banco de Dados","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Verificar a rota dos clientes gerais que possuem registro do grupo no banco de dados, mas não tem host e evento iguais.\n\n**CLIENTE:** {{ $('When 01. Fluxo base is executed').item.json['Raiz do nome completo'] }}\n**HOST MATRIZ:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_host }}\n**EVENTO:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_trigger }}\n**MOMENTO INDISPONÍVEL:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].data_hora_evento.toUpperCase() }}","color":"#009EDD","title":"=NOVO EVENTO NA SALA DE ESPERA","thumbnail":"https://cdn-icons-png.freepik.com/512/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1648,-16],"id":"5ab5743a-7a7b-457d-8093-107c62171fe4","name":"William: verificar rota","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"disabled":true},{"parameters":{"operation":"get","tableId":"sala de espera","filters":{"conditions":[{"keyName":"id_grupo","keyValue":"={{ $('Quando fluxo base manda algo').item.json['ID do grupo'] }}"},{"keyName":"raizNomeHost","keyValue":"={{ $('Quando fluxo base manda algo').item.json['Raiz do host'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2512,912],"id":"c9a91ae6-aefb-4cc2-9119-05675cfb7787","name":"BD: Busca na sala de espera","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"operation":"getAll","tableId":"eventosZabbix","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"idGroup","condition":"eq","keyValue":"={{ $json['ID do grupo'] }}"},{"keyName":"timestampQueda","condition":"gte","keyValue":"={{ $json['Timestamp da queda'] - ($json['Tempo SLA'] / 2) }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[880,240],"id":"29aaf1e9-d713-4183-bdd9-679774490258","name":"BD: Busca tabela principal","alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"jsCode":"// ==== INPUTS ====\nconst host_atual   = $('Quando fluxo base manda algo').first().json['Nome do host'];\nconst evento_atual = $('Quando fluxo base manda algo').first().json['Nome do evento'];\n\nconst host_banco   = $('BD: Busca na sala de espera').first().json.nome_host;\nconst evento_banco = $('BD: Busca na sala de espera').first().json.evento;\n\n// ==== LISTA DE PORTAS PADRONIZADAS ====\nconst PORTAS = [\n  \"WAN\", \"WAN1\", \"WAN2\", \"WAN3\",\n  \"LAN\", \"LAN1\", \"LAN2\", \"LAN3\",\n  \"PORT\", \"PORTA\",\n  \"PORT A\", \"PORT B\",\n  \"PORT1\", \"PORT2\", \"PORT3\",\n  \"ETHER\", \"ETHER1\", \"ETHER2\", \"ETHER3\"\n];\n\n// ==== FUNÇÃO PARA EXTRAIR TODAS AS PORTAS DE UM TEXTO ====\nfunction extrairPortas(texto) {\n  if (!texto) return [];\n\n  const textoUpper = texto.toUpperCase();\n  const portasEncontradas = [];\n\n  for (const porta of PORTAS) {\n    const regex = new RegExp(`\\\\b${porta}\\\\b`);\n    if (regex.test(textoUpper)) {\n      portasEncontradas.push(porta);\n    }\n  }\n\n  return portasEncontradas;\n}\n\n// ==== EXTRAÇÃO DE PORTAS ====\nconst portas_atual = [\n  ...extrairPortas(host_atual),\n  ...extrairPortas(evento_atual)\n];\n\nconst portas_banco = [\n  ...extrairPortas(host_banco),\n  ...extrairPortas(evento_banco)\n];\n\n// Remove duplicados\nconst portas_atual_unicas = [...new Set(portas_atual)];\nconst portas_banco_unicas = [...new Set(portas_banco)];\n\n// ==== REGRA DE DECISÃO ====\nconst porta_comum = portas_atual_unicas.find(\n  porta => portas_banco_unicas.includes(porta)\n);\n\nconst classificacao_evento = porta_comum\n  ? \"GRUPO DE EVENTOS\"\n  : \"EVENTO DISTINTO\";\n\n// ==== RETORNO PARA O FLUXO ====\nreturn [{\n  host_atual,\n  evento_atual,\n  host_banco,\n  evento_banco,\n\n  portas_atual: portas_atual_unicas,\n  portas_banco: portas_banco_unicas,\n  porta_correspondente: porta_comum || null,\n\n  classificacao_evento\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3184,784],"id":"8487777b-aac0-49da-b67b-51858be9fe9f","name":"Valida se as portas correspondem","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d9784582-7b77-4243-ac1b-9e30c6f5714e","leftValue":"={{ $json.classificacao_evento }}","rightValue":"GRUPO DE EVENTOS","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3408,784],"id":"76b53a98-f007-46b1-ae85-db7e20d313ea","name":"Portas correspondem?","disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**HOST MATRIZ:** {{ $('Quando fluxo base manda algo').first().json['Nome do host'] }}\n**EVENTO:** {{ $('Quando fluxo base manda algo').first().json['Nome do evento'] }}","author":"Fluxo de contrato 1","color":"#009EDD","title":"=Nova rota - Porta reconhecida","thumbnail":"https://cdn-icons-png.freepik.com/512/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3632,784],"id":"9b196e48-b1c4-4843-b6d7-e011a30a84e4","name":"adm: porta corresponde","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}},"disabled":true},{"parameters":{"operation":"update","tableId":"sala de espera","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Busca na sala de espera').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"eventosRelacionados","fieldValue":"={{ $json.eventos_correspondentes }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4080,784],"id":"e9caa013-ae3b-4223-a6d0-5bd59cf23ead","name":"BD: Update no evento existente","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"jsCode":"let eventos_correspondentes = $('BD: Busca na sala de espera').first().json.eventosRelacionados;\nconst ID_evento_atual = $('Quando fluxo base manda algo').first().json['ID do evento'];\n\neventos_correspondentes.push(`${ID_evento_atual}`)\n\nreturn [{eventos_correspondentes}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3856,784],"id":"d0ebfd78-03cb-450e-b841-6489eb051d05","name":"Prepara eventos correspondentes","disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**HOST MATRIZ:** {{ $('Quando fluxo base manda algo').first().json['Nome do host'] }}\n**EVENTO:** {{ $('Quando fluxo base manda algo').first().json['Nome do evento'] }}","author":"Fluxo contratos 1","color":"#009EDD","title":"=Nova rota - eventos de grupo localizado na tabela","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1104,80],"id":"c0107ff5-9775-4a0a-bd4e-1e4143eafb98","name":"administrativo","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}},"disabled":true},{"parameters":{"jsCode":"const id_grupo = $('Quando fluxo base manda algo').first().json['ID do grupo'];\n\nreturn [\n  {\n    jsonrpc: \"2.0\",\n    method: \"host.get\",\n    params: {\n      output: [\n        \"hostid\",\n        \"name\"\n      ],\n      groupids: [id_grupo]\n    },\n    id: 1\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,656],"id":"47b1dd90-9ce8-4607-9591-ebc52d34e97f","name":"consulta host.get","disabled":true},{"parameters":{"jsCode":"const resultados_host_get = $input.first().json.result;\n\nlet lista_hosts = [];\nfor (const host of resultados_host_get) {\n  lista_hosts.push(host.hostid)\n}\n\nconst timestampQueda = $('Quando fluxo base manda algo').first().json['Timestamp da queda'];\n\nconst time_from = timestampQueda - 3600; // 1 hora\nconst time_till = timestampQueda + 3600; // 1 hora\n\nreturn [\n  {\n    jsonrpc: \"2.0\",\n    method: \"event.get\",\n    params: {\n      output: [\n        \"eventid\",\n        \"clock\",\n        \"r_eventid\",\n        \"acknowledged\"\n      ],\n\n      hostids: lista_hosts,\n\n      selectHosts: [\n        \"hostid\",\n        \"name\"\n      ],\n\n      selectRelatedObject: [\n        \"description\",\n        \"priority\"\n      ],\n\n      select_acknowledges: [\n        \"clock\",\n        \"message\",\n        \"action\",\n        \"username\"\n      ],\n\n      time_from: time_from,\n      time_till: time_till,\n\n      sortfield: [\"clock\"],\n      sortorder: \"DESC\"\n    },\n    id: 2\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1712,656],"id":"ee6b505b-24c0-407d-8ad2-c9ffff41285d","name":"consulta event.get","disabled":true},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,656],"id":"9501d485-473e-49bf-a905-f2265722ab14","name":"Zabbix: consulta event.get","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}},"disabled":true},{"parameters":{"jsCode":"const mensagem_para_reconhecimento = $input.first().json.ticketsMovidesk[0];\nconst ID_do_evento = $('Quando fluxo base manda algo').first().json['ID do evento'];\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: ID_do_evento,\n    message: mensagem_para_reconhecimento,\n    action: 6\n  },\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2512,448],"id":"9e9f5d94-2608-4b44-80d8-a5e38a392238","name":"JSON reconhecimento de evento","disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2608,448],"id":"6b431ac2-1202-4477-814b-f9ae62d439a7","name":"Zabbix: Reconhecimento de evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**CLIENTE:** {{ $('Quando fluxo base manda algo').first().json['Raiz do host'] }};\n**HOST MATRIZ:** {{ $('Quando fluxo base manda algo').first().json['Nome do host'] }}\n**EVENTO:** {{ $('Quando fluxo base manda algo').first().json['Nome do evento'] }}\n**INÍCIO DO EVENTO:** {{ $('Quando fluxo base manda algo').item.json['Data e hora do evento'] }}\n**TICKET MOVIDESK:** {{ $('Mantém apenas eventos com ack6').first().json.ticketsMovidesk[0] }}","color":"#009EDD","title":"=Rota novos eventos","thumbnail":"https://cdn-icons-png.freepik.com/512/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3056,448],"id":"dd8b3893-f951-4b57-84b7-403dccfc6fac","name":"Discord: Novo evento no BD","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"3BQVRWmy75knxy1x","name":"Contratos: Abertura de chamados"}},"disabled":true},{"parameters":{"content":"NOVA ROTA","height":480,"width":192},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3584,496],"id":"3769d3d5-737e-4905-976b-3538073c5e1f","name":"Sticky Note","disabled":true},{"parameters":{"content":"NOVA ROTA","height":480,"width":192},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1056,-240],"id":"4ff7c2d8-24e3-4f50-9fa0-928bca05f310","name":"Sticky Note2","disabled":true}],"connections":{"Quando fluxo base manda algo":{"main":[[{"node":"BD: Busca tabela principal","type":"main","index":0}]]},"Existe eventos de grupo?":{"main":[[{"node":"Hosts e evento iguais?","type":"main","index":0},{"node":"administrativo","type":"main","index":0}],[{"node":"consulta host.get","type":"main","index":0}]]},"Mantém apenas eventos com ack6":{"main":[[{"node":"Existe eventos válidos?","type":"main","index":0}]]},"Existe eventos válidos?":{"main":[[{"node":"JSON reconhecimento de evento","type":"main","index":0}],[{"node":"BD: Busca na sala de espera","type":"main","index":0}]]},"Zabbix: Select eventos de grupo":{"main":[[{"node":"consulta event.get","type":"main","index":0}]]},"BD: Add na sala de espera":{"main":[[{"node":"Discord: Evento add sala de espera","type":"main","index":0}]]},"BD: Add new event on eventosZabbix":{"main":[[{"node":"Discord: Novo evento no BD","type":"main","index":0}]]},"Hosts e evento iguais?":{"main":[[{"node":"BD: Update qtdQuedas/eventosRelacionados","type":"main","index":0}],[{"node":"William: verificar rota","type":"main","index":0}]]},"BD: Update qtdQuedas/eventosRelacionados":{"main":[[{"node":"json para reconhecer com dados no BD","type":"main","index":0}]]},"json para reconhecer com dados no BD":{"main":[[{"node":"Zabbix: Update evento4","type":"main","index":0}]]},"Existe correspondência?":{"main":[[{"node":"Host e evento igual?","type":"main","index":0}],[{"node":"BD: Add na sala de espera","type":"main","index":0}]]},"Host e evento igual?":{"main":[[{"node":"Do not","type":"main","index":0}],[{"node":"Valida se as portas correspondem","type":"main","index":0}]]},"Prepara json para consulta evento Zabbix1":{"main":[[{"node":"Zabbix: Consulta evento1","type":"main","index":0}]]},"Zabbix: Consulta evento1":{"main":[[{"node":"Existe evento com reconhecimento?","type":"main","index":0}]]},"Existe evento com reconhecimento?":{"main":[[{"node":"BD: Cria novo evento no Banco de Dados","type":"main","index":0}],[{"node":"BD: Add na sala de espera1","type":"main","index":0}]]},"William: verificar rota":{"main":[[{"node":"Prepara json para consulta evento Zabbix1","type":"main","index":0}]]},"BD: Busca na sala de espera":{"main":[[{"node":"Existe correspondência?","type":"main","index":0}]]},"BD: Busca tabela principal":{"main":[[{"node":"Existe eventos de grupo?","type":"main","index":0}]]},"Valida se as portas correspondem":{"main":[[{"node":"Portas correspondem?","type":"main","index":0}]]},"Portas correspondem?":{"main":[[{"node":"adm: porta corresponde","type":"main","index":0}],[{"node":"BD: Add na sala de espera","type":"main","index":0}]]},"adm: porta corresponde":{"main":[[{"node":"Prepara eventos correspondentes","type":"main","index":0}]]},"Prepara eventos correspondentes":{"main":[[{"node":"BD: Update no evento existente","type":"main","index":0}]]},"consulta host.get":{"main":[[{"node":"Zabbix: Select eventos de grupo","type":"main","index":0}]]},"consulta event.get":{"main":[[{"node":"Zabbix: consulta event.get","type":"main","index":0}]]},"Zabbix: consulta event.get":{"main":[[{"node":"Mantém apenas eventos com ack6","type":"main","index":0}]]},"JSON reconhecimento de evento":{"main":[[{"node":"Zabbix: Reconhecimento de evento","type":"main","index":0}]]},"Zabbix: Reconhecimento de evento":{"main":[[{"node":"BD: Add new event on eventosZabbix","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"akaImKErHyzNLJa6"},"staticData":null,"meta":null,"pinData":{"Quando fluxo base manda algo":[{"json":{"ID do evento":3141359,"ID do grupo":480,"ID do host":18707,"ID Movidesk para abertura de chamado":"2131481218","Nome do evento":"INDISPONÍVEL VIA ICMP","Nome do host":"INDIGO SHOPPING PRADO - GW LAN2 VIVO - 189.56.22.201","Raiz do host":"INDIGO SHOPPING PRADO","Nome principal do cliente":"INDIGO","Host sem o IP":"INDIGO SHOPPING PRADO - GW LAN2 VIVO","Timestamp da queda":1766215550,"Data e hora do evento":"SÁBADO 20/12/2025 04:25:50","Tipo de cliente":1,"Tempo SLA":14400,"Restrições":false,"Emails em cópia para chamado Movidesk":"ciga.br@grop-indigo.com","Nome do grupo":"INDIGO - SHOPPING PRADO","Eventos relacionados":["3141359"]}}]},"versionId":"7b272920-1858-4d6b-82f7-0173c3dedf66","activeVersionId":"7b272920-1858-4d6b-82f7-0173c3dedf66","triggerCount":0,"shared":[{"updatedAt":"2025-12-10T20:38:42.439Z","createdAt":"2025-12-10T20:38:42.439Z","role":"workflow:owner","workflowId":"L3evoVMYk4i7qqQ6","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":{"updatedAt":"2026-01-31T03:00:34.000Z","createdAt":"2026-01-31T03:00:18.744Z","versionId":"7b272920-1858-4d6b-82f7-0173c3dedf66","workflowId":"L3evoVMYk4i7qqQ6","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[656,240],"id":"047510ef-7308-42c6-aa1c-98c1f4ce7aaf","name":"Quando fluxo base manda algo"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fd883faf-a9c1-4487-bb66-e95c5e1c48fd","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1104,240],"id":"9784de47-0c9f-4aa9-83c7-901ecd3f6e83","name":"Existe eventos de grupo?","disabled":true},{"parameters":{"jsCode":"const eventos_do_grupo = $input.first().json.result\n\nlet eventos_com_reconhecidos = [];\nlet flagEventosReconhecidos = false;\n\nfor (let index = 0; index < eventos_do_grupo.length; index++) {\n  const evento_reconhecido = parseInt(eventos_do_grupo[index].acknowledged);\n\n  if (evento_reconhecido == 1) {\n    eventos_com_reconhecidos.push(eventos_do_grupo[index])\n  } \n}\n\nlet ticketsMovidesk = [];\nif (eventos_com_reconhecidos.length >= 1) {\n  for(const ev of eventos_com_reconhecidos) {\n    ticketsMovidesk.push(ev.acknowledges[0].message)\n  }\n  flagEventosReconhecidos = true\n  return [{\n    flagEventosReconhecidos,\n    ticketsMovidesk\n  }]\n} else {\n  return [{\n    flagEventosReconhecidos\n  }]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,656],"id":"f892bdaf-f358-4d23-872c-00c969547ced","name":"Mantém apenas eventos com ack6","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb6eff08-3023-4783-bfaf-1cacf44c64ab","leftValue":"={{ $json.flagEventosReconhecidos }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2240,656],"id":"84432f74-f085-4a53-b546-a8aec4fbda5b","name":"Existe eventos válidos?","disabled":true},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,656],"id":"da9ba2a6-d419-4b8a-b3d7-27efec60bf34","name":"Zabbix: Select eventos de grupo","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}},"disabled":true},{"parameters":{"tableId":"sala de espera","fieldsUi":{"fieldValues":[{"fieldId":"id_evento","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['ID do evento'] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['Nome do host'] }}"},{"fieldId":"evento","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['Nome do evento'] }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['Timestamp da queda'] }}"},{"fieldId":"id_grupo","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['ID do grupo'] }}"},{"fieldId":"nome_grupo","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['Nome do grupo'] }}"},{"fieldId":"id_tipoCliente","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['Tipo de cliente'] }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['Raiz do host'] }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ [$('Quando fluxo base manda algo').first().json['ID do evento']] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2960,1024],"id":"04f596da-8e92-4601-bc25-b30c1618e539","name":"BD: Add na sala de espera","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**CLIENTE:** {{ $('Quando fluxo base manda algo').first().json['Raiz do host'] }};\n**HOST MATRIZ:** {{ $('Quando fluxo base manda algo').first().json['Nome do host'] }}\n**EVENTO:** {{ $('Quando fluxo base manda algo').first().json['Nome do evento'] }}\n**MOMENTO INDISPONÍVEL:** {{ $('Quando fluxo base manda algo').first().json['Data e hora do evento'].toUpperCase() }}","author":"Fluxo de contratos 1","color":"#FF7518","title":"={{ $json.raizNomeHost }} na sala de espera","thumbnail":"https://cdn-icons-png.freepik.com/64/1434/1434350.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3184,1024],"id":"040f3c0d-2b0e-4240-a4e2-eca1bf623805","name":"Discord: Evento add sala de espera","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"UwSdPtNpd16mBJVp","name":"Adm: Sala de espera"}},"disabled":true},{"parameters":{"tableId":"eventosZabbix","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['ID do evento'] }}"},{"fieldId":"idHost","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['ID do host'] }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['Tipo de cliente'] }}"},{"fieldId":"idGroup","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['ID do grupo'] }}"},{"fieldId":"nomeHost","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['Nome do host'] }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['Raiz do host'] }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['Nome do evento'] }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $('Quando fluxo base manda algo').first().json['Timestamp da queda'] }}"},{"fieldId":"statusChamado","fieldValue":"2"},{"fieldId":"ticketMovidesk","fieldValue":"={{ parseInt($('Mantém apenas eventos com ack6').first().json.ticketsMovidesk[0]) }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ [$('Quando fluxo base manda algo').item.json['ID do evento']] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2832,448],"id":"02f16fe2-95f4-44f9-bcae-eadaf9f669b2","name":"BD: Add new event on eventosZabbix","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ff569df-5c75-4c55-a593-c990cdf3aa4c","leftValue":"={{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_host }}","rightValue":"={{ $('BD: Busca tabela principal').item.json.nomeHost }}","operator":{"type":"string","operation":"equals"}},{"id":"8611bf95-6148-4248-9823-50740b566e16","leftValue":"={{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_trigger }}","rightValue":"={{ $('BD: Busca tabela principal').item.json.nomeEvento }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1424,-144],"id":"2c1029da-733d-4615-9e68-24fab6855da3","name":"Hosts e evento iguais?","disabled":true},{"parameters":{"operation":"update","tableId":"eventosZabbix","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"qtdQuedas","fieldValue":"={{ $json.qtdQuedas + 1}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1648,-288],"id":"9bea5594-f01c-4d42-ab25-d4ff75f2decb","name":"BD: Update qtdQuedas/eventosRelacionados","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2096,-288],"id":"dd0d7080-9a5f-47d1-9f35-6065029fcd7d","name":"Zabbix: Update evento4","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"disabled":true},{"parameters":{"jsCode":"const authenticator = $('When 01. Fluxo base is executed').first().json['Dados do evento'].ID_consulta_zabbix;\n\nconst mensagem_para_reconhecimento = $('BD: Busca tabela principal').first().json.ticketMovidesk;\nconst ID_evento_reconhecimento = $('When 01. Fluxo base is executed').first().json['Dados do evento'].ID_evento;\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: ID_evento_reconhecimento,\n    message: mensagem_para_reconhecimento,\n    action: 6\n  },\n  auth: `${authenticator}`,\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,-288],"id":"0798567f-c0d3-4c40-9c2b-e8b28696a3fd","name":"json para reconhecer com dados no BD","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b851b4b8-fa77-467a-bc61-c1b371da9765","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2736,912],"id":"2ab41ba0-06b5-44f9-8bc9-b0976ef191c9","name":"Existe correspondência?","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"45481112-fc3a-4263-ab58-4a1650d284c0","leftValue":"={{ $('Quando fluxo base manda algo').item.json['Nome do host'] }}","rightValue":"={{ $('BD: Busca na sala de espera').item.json.nome_host }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"626640f5-aa67-407d-9fb3-c1bd34e00ceb","leftValue":"={{ $('Quando fluxo base manda algo').item.json['Nome do evento'] }}","rightValue":"={{ $('BD: Busca na sala de espera').item.json.evento }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2960,784],"id":"f9834ea8-801f-4e98-9cac-44fe4d472b9b","name":"Host e evento igual?","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2960,640],"id":"bea011ba-78bf-4207-af1e-69cd99d4d2ed","name":"Do not","disabled":true},{"parameters":{"tableId":"sala de espera","fieldsUi":{"fieldValues":[{"fieldId":"id_evento","fieldValue":"={{ $('Prepara dados do novo evento').item.json[\"ID do evento\"] }}"},{"fieldId":"nome_host","fieldValue":"={{ $('Prepara dados do novo evento').item.json[\"Nome do host\"] }}"},{"fieldId":"evento","fieldValue":"={{ $('Prepara dados do novo evento').item.json['Nome do evento gerador'] }}"},{"fieldId":"timestamp_queda","fieldValue":"={{ $('Prepara dados do novo evento').item.json['Timestamp da queda'] }}"},{"fieldId":"id_grupo","fieldValue":"={{ $('Prepara dados do novo evento').item.json['ID do grupo'] }}"},{"fieldId":"nome_grupo","fieldValue":"={{ $('Prepara dados do novo evento').item.json['Nome do grupo'] }}"},{"fieldId":"id_tipoCliente","fieldValue":"={{ $('Prepara dados do novo evento').item.json['ID tipo de cliente'] }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('Prepara dados do novo evento').item.json['Raiz do nome do cliente'] }}"},{"fieldId":"eventosRelacionados","fieldValue":"={{ [0] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2544,80],"id":"b04d06a1-ed65-4f35-9087-4882e28122c0","name":"BD: Add na sala de espera1","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"jsCode":"const id_evento = $('When 01. Fluxo base is executed').first().json[\"Dados do evento\"].ID_evento;\nconst authenticator = $('When 01. Fluxo base is executed').first().json[\"Dados do evento\"].ID_consulta_zabbix;\n\nreturn {\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"r_eventid\", \"acknowledged\"],\n\n    \"eventids\": [`${id_evento}`],\n\n    \"selectHosts\": [\"hostid\", \"name\", \"description\"],\n\n    \"selectAcknowledges\": [\"message\", \"action\"],\n\n    \"selectRelatedObject\": [\"description\", \"value\"],\n\n    \"selectTags\": \"extend\"\n  },\n  \"auth\": authenticator,\n  \"id\": 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,-16],"id":"472bbbd6-47e1-4f81-9fa2-72ffbff7d458","name":"Prepara json para consulta evento Zabbix1","disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2096,-16],"id":"b6ef3da6-cfbd-4ac6-90f8-ddcaa27ee716","name":"Zabbix: Consulta evento1","retryOnFail":true,"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f91d4b3a-74fc-447a-a098-ac1892ef5b43","leftValue":"={{ $json.result[0].eventid }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"a4d41f88-75df-4f04-acf4-4776b6c964e6","leftValue":"={{ Number($json.result[0].acknowledged) }}","rightValue":1,"operator":{"type":"number","operation":"equals"}},{"id":"c5aec495-a6dd-4551-a6f9-cb50ee475575","leftValue":"={{ Number($json.result[0].r_eventid) }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2320,-16],"id":"e28298e8-9a76-467b-af70-3a85a9e6f16c","name":"Existe evento com reconhecimento?","disabled":true},{"parameters":{"tableId":"eventosZabbix","fieldsUi":{"fieldValues":[{"fieldId":"idEvento","fieldValue":"={{ $('Prepara dados do novo evento').item.json[\"ID do evento\"] }}"},{"fieldId":"idHost","fieldValue":"={{ $('Prepara dados do novo evento').item.json[\"ID do host\"] }}"},{"fieldId":"idVariavelCliente","fieldValue":"={{ $('Prepara dados do novo evento').item.json[\"ID tipo de cliente\"] }}"},{"fieldId":"idGroup","fieldValue":"={{ $('Prepara dados do novo evento').item.json[\"ID do grupo\"] }}"},{"fieldId":"nomeHost","fieldValue":"={{ $('Prepara dados do novo evento').item.json[\"Nome do host\"] }}"},{"fieldId":"raizNomeHost","fieldValue":"={{ $('Prepara dados do novo evento').item.json[\"Raiz do nome do cliente\"] }}"},{"fieldId":"nomeEvento","fieldValue":"={{ $('Prepara dados do novo evento').item.json[\"Nome do evento gerador\"] }}"},{"fieldId":"timestampQueda","fieldValue":"={{ $('Prepara dados do novo evento').item.json[\"Timestamp da queda\"] }}"},{"fieldId":"statusChamado","fieldValue":"2"},{"fieldId":"ticketMovidesk","fieldValue":"={{ parseInt($('Zabbix: Consulta evento1').item.json.result[0].acknowledges[0].message) }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2544,-112],"id":"15b94e1e-889a-437d-bb58-3b66537774e0","name":"BD: Cria novo evento no Banco de Dados","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Verificar a rota dos clientes gerais que possuem registro do grupo no banco de dados, mas não tem host e evento iguais.\n\n**CLIENTE:** {{ $('When 01. Fluxo base is executed').item.json['Raiz do nome completo'] }}\n**HOST MATRIZ:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_host }}\n**EVENTO:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].nome_trigger }}\n**MOMENTO INDISPONÍVEL:** {{ $('When 01. Fluxo base is executed').item.json['Dados do evento'].data_hora_evento.toUpperCase() }}","color":"#009EDD","title":"=NOVO EVENTO NA SALA DE ESPERA","thumbnail":"https://cdn-icons-png.freepik.com/512/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1648,-16],"id":"5ab5743a-7a7b-457d-8093-107c62171fe4","name":"William: verificar rota","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"disabled":true},{"parameters":{"operation":"get","tableId":"sala de espera","filters":{"conditions":[{"keyName":"id_grupo","keyValue":"={{ $('Quando fluxo base manda algo').item.json['ID do grupo'] }}"},{"keyName":"raizNomeHost","keyValue":"={{ $('Quando fluxo base manda algo').item.json['Raiz do host'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2512,912],"id":"c9a91ae6-aefb-4cc2-9119-05675cfb7787","name":"BD: Busca na sala de espera","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"operation":"getAll","tableId":"eventosZabbix","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"idGroup","condition":"eq","keyValue":"={{ $json['ID do grupo'] }}"},{"keyName":"timestampQueda","condition":"gte","keyValue":"={{ $json['Timestamp da queda'] - ($json['Tempo SLA'] / 2) }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[880,240],"id":"29aaf1e9-d713-4183-bdd9-679774490258","name":"BD: Busca tabela principal","alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"jsCode":"// ==== INPUTS ====\nconst host_atual   = $('Quando fluxo base manda algo').first().json['Nome do host'];\nconst evento_atual = $('Quando fluxo base manda algo').first().json['Nome do evento'];\n\nconst host_banco   = $('BD: Busca na sala de espera').first().json.nome_host;\nconst evento_banco = $('BD: Busca na sala de espera').first().json.evento;\n\n// ==== LISTA DE PORTAS PADRONIZADAS ====\nconst PORTAS = [\n  \"WAN\", \"WAN1\", \"WAN2\", \"WAN3\",\n  \"LAN\", \"LAN1\", \"LAN2\", \"LAN3\",\n  \"PORT\", \"PORTA\",\n  \"PORT A\", \"PORT B\",\n  \"PORT1\", \"PORT2\", \"PORT3\",\n  \"ETHER\", \"ETHER1\", \"ETHER2\", \"ETHER3\"\n];\n\n// ==== FUNÇÃO PARA EXTRAIR TODAS AS PORTAS DE UM TEXTO ====\nfunction extrairPortas(texto) {\n  if (!texto) return [];\n\n  const textoUpper = texto.toUpperCase();\n  const portasEncontradas = [];\n\n  for (const porta of PORTAS) {\n    const regex = new RegExp(`\\\\b${porta}\\\\b`);\n    if (regex.test(textoUpper)) {\n      portasEncontradas.push(porta);\n    }\n  }\n\n  return portasEncontradas;\n}\n\n// ==== EXTRAÇÃO DE PORTAS ====\nconst portas_atual = [\n  ...extrairPortas(host_atual),\n  ...extrairPortas(evento_atual)\n];\n\nconst portas_banco = [\n  ...extrairPortas(host_banco),\n  ...extrairPortas(evento_banco)\n];\n\n// Remove duplicados\nconst portas_atual_unicas = [...new Set(portas_atual)];\nconst portas_banco_unicas = [...new Set(portas_banco)];\n\n// ==== REGRA DE DECISÃO ====\nconst porta_comum = portas_atual_unicas.find(\n  porta => portas_banco_unicas.includes(porta)\n);\n\nconst classificacao_evento = porta_comum\n  ? \"GRUPO DE EVENTOS\"\n  : \"EVENTO DISTINTO\";\n\n// ==== RETORNO PARA O FLUXO ====\nreturn [{\n  host_atual,\n  evento_atual,\n  host_banco,\n  evento_banco,\n\n  portas_atual: portas_atual_unicas,\n  portas_banco: portas_banco_unicas,\n  porta_correspondente: porta_comum || null,\n\n  classificacao_evento\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3184,784],"id":"8487777b-aac0-49da-b67b-51858be9fe9f","name":"Valida se as portas correspondem","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d9784582-7b77-4243-ac1b-9e30c6f5714e","leftValue":"={{ $json.classificacao_evento }}","rightValue":"GRUPO DE EVENTOS","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3408,784],"id":"76b53a98-f007-46b1-ae85-db7e20d313ea","name":"Portas correspondem?","disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**HOST MATRIZ:** {{ $('Quando fluxo base manda algo').first().json['Nome do host'] }}\n**EVENTO:** {{ $('Quando fluxo base manda algo').first().json['Nome do evento'] }}","author":"Fluxo de contrato 1","color":"#009EDD","title":"=Nova rota - Porta reconhecida","thumbnail":"https://cdn-icons-png.freepik.com/512/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3632,784],"id":"9b196e48-b1c4-4843-b6d7-e011a30a84e4","name":"adm: porta corresponde","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}},"disabled":true},{"parameters":{"operation":"update","tableId":"sala de espera","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Busca na sala de espera').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"eventosRelacionados","fieldValue":"={{ $json.eventos_correspondentes }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4080,784],"id":"e9caa013-ae3b-4223-a6d0-5bd59cf23ead","name":"BD: Update no evento existente","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}},"disabled":true},{"parameters":{"jsCode":"let eventos_correspondentes = $('BD: Busca na sala de espera').first().json.eventosRelacionados;\nconst ID_evento_atual = $('Quando fluxo base manda algo').first().json['ID do evento'];\n\neventos_correspondentes.push(`${ID_evento_atual}`)\n\nreturn [{eventos_correspondentes}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3856,784],"id":"d0ebfd78-03cb-450e-b841-6489eb051d05","name":"Prepara eventos correspondentes","disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**HOST MATRIZ:** {{ $('Quando fluxo base manda algo').first().json['Nome do host'] }}\n**EVENTO:** {{ $('Quando fluxo base manda algo').first().json['Nome do evento'] }}","author":"Fluxo contratos 1","color":"#009EDD","title":"=Nova rota - eventos de grupo localizado na tabela","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1104,80],"id":"c0107ff5-9775-4a0a-bd4e-1e4143eafb98","name":"administrativo","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}},"disabled":true},{"parameters":{"jsCode":"const id_grupo = $('Quando fluxo base manda algo').first().json['ID do grupo'];\n\nreturn [\n  {\n    jsonrpc: \"2.0\",\n    method: \"host.get\",\n    params: {\n      output: [\n        \"hostid\",\n        \"name\"\n      ],\n      groupids: [id_grupo]\n    },\n    id: 1\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,656],"id":"47b1dd90-9ce8-4607-9591-ebc52d34e97f","name":"consulta host.get","disabled":true},{"parameters":{"jsCode":"const resultados_host_get = $input.first().json.result;\n\nlet lista_hosts = [];\nfor (const host of resultados_host_get) {\n  lista_hosts.push(host.hostid)\n}\n\nconst timestampQueda = $('Quando fluxo base manda algo').first().json['Timestamp da queda'];\n\nconst time_from = timestampQueda - 3600; // 1 hora\nconst time_till = timestampQueda + 3600; // 1 hora\n\nreturn [\n  {\n    jsonrpc: \"2.0\",\n    method: \"event.get\",\n    params: {\n      output: [\n        \"eventid\",\n        \"clock\",\n        \"r_eventid\",\n        \"acknowledged\"\n      ],\n\n      hostids: lista_hosts,\n\n      selectHosts: [\n        \"hostid\",\n        \"name\"\n      ],\n\n      selectRelatedObject: [\n        \"description\",\n        \"priority\"\n      ],\n\n      select_acknowledges: [\n        \"clock\",\n        \"message\",\n        \"action\",\n        \"username\"\n      ],\n\n      time_from: time_from,\n      time_till: time_till,\n\n      sortfield: [\"clock\"],\n      sortorder: \"DESC\"\n    },\n    id: 2\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1712,656],"id":"ee6b505b-24c0-407d-8ad2-c9ffff41285d","name":"consulta event.get","disabled":true},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,656],"id":"9501d485-473e-49bf-a905-f2265722ab14","name":"Zabbix: consulta event.get","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}},"disabled":true},{"parameters":{"jsCode":"const mensagem_para_reconhecimento = $input.first().json.ticketsMovidesk[0];\nconst ID_do_evento = $('Quando fluxo base manda algo').first().json['ID do evento'];\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: ID_do_evento,\n    message: mensagem_para_reconhecimento,\n    action: 6\n  },\n  id: 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2512,448],"id":"9e9f5d94-2608-4b44-80d8-a5e38a392238","name":"JSON reconhecimento de evento","disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2608,448],"id":"6b431ac2-1202-4477-814b-f9ae62d439a7","name":"Zabbix: Reconhecimento de evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**CLIENTE:** {{ $('Quando fluxo base manda algo').first().json['Raiz do host'] }};\n**HOST MATRIZ:** {{ $('Quando fluxo base manda algo').first().json['Nome do host'] }}\n**EVENTO:** {{ $('Quando fluxo base manda algo').first().json['Nome do evento'] }}\n**INÍCIO DO EVENTO:** {{ $('Quando fluxo base manda algo').item.json['Data e hora do evento'] }}\n**TICKET MOVIDESK:** {{ $('Mantém apenas eventos com ack6').first().json.ticketsMovidesk[0] }}","color":"#009EDD","title":"=Rota novos eventos","thumbnail":"https://cdn-icons-png.freepik.com/512/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3056,448],"id":"dd8b3893-f951-4b57-84b7-403dccfc6fac","name":"Discord: Novo evento no BD","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"3BQVRWmy75knxy1x","name":"Contratos: Abertura de chamados"}},"disabled":true},{"parameters":{"content":"NOVA ROTA","height":480,"width":192},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3584,496],"id":"3769d3d5-737e-4905-976b-3538073c5e1f","name":"Sticky Note","disabled":true},{"parameters":{"content":"NOVA ROTA","height":480,"width":192},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1056,-240],"id":"4ff7c2d8-24e3-4f50-9fa0-928bca05f310","name":"Sticky Note2","disabled":true}],"connections":{"Quando fluxo base manda algo":{"main":[[{"node":"BD: Busca tabela principal","type":"main","index":0}]]},"Existe eventos de grupo?":{"main":[[{"node":"Hosts e evento iguais?","type":"main","index":0},{"node":"administrativo","type":"main","index":0}],[{"node":"consulta host.get","type":"main","index":0}]]},"Mantém apenas eventos com ack6":{"main":[[{"node":"Existe eventos válidos?","type":"main","index":0}]]},"Existe eventos válidos?":{"main":[[{"node":"JSON reconhecimento de evento","type":"main","index":0}],[{"node":"BD: Busca na sala de espera","type":"main","index":0}]]},"Zabbix: Select eventos de grupo":{"main":[[{"node":"consulta event.get","type":"main","index":0}]]},"BD: Add na sala de espera":{"main":[[{"node":"Discord: Evento add sala de espera","type":"main","index":0}]]},"BD: Add new event on eventosZabbix":{"main":[[{"node":"Discord: Novo evento no BD","type":"main","index":0}]]},"Hosts e evento iguais?":{"main":[[{"node":"BD: Update qtdQuedas/eventosRelacionados","type":"main","index":0}],[{"node":"William: verificar rota","type":"main","index":0}]]},"BD: Update qtdQuedas/eventosRelacionados":{"main":[[{"node":"json para reconhecer com dados no BD","type":"main","index":0}]]},"json para reconhecer com dados no BD":{"main":[[{"node":"Zabbix: Update evento4","type":"main","index":0}]]},"Existe correspondência?":{"main":[[{"node":"Host e evento igual?","type":"main","index":0}],[{"node":"BD: Add na sala de espera","type":"main","index":0}]]},"Host e evento igual?":{"main":[[{"node":"Do not","type":"main","index":0}],[{"node":"Valida se as portas correspondem","type":"main","index":0}]]},"Prepara json para consulta evento Zabbix1":{"main":[[{"node":"Zabbix: Consulta evento1","type":"main","index":0}]]},"Zabbix: Consulta evento1":{"main":[[{"node":"Existe evento com reconhecimento?","type":"main","index":0}]]},"Existe evento com reconhecimento?":{"main":[[{"node":"BD: Cria novo evento no Banco de Dados","type":"main","index":0}],[{"node":"BD: Add na sala de espera1","type":"main","index":0}]]},"William: verificar rota":{"main":[[{"node":"Prepara json para consulta evento Zabbix1","type":"main","index":0}]]},"BD: Busca na sala de espera":{"main":[[{"node":"Existe correspondência?","type":"main","index":0}]]},"BD: Busca tabela principal":{"main":[[{"node":"Existe eventos de grupo?","type":"main","index":0}]]},"Valida se as portas correspondem":{"main":[[{"node":"Portas correspondem?","type":"main","index":0}]]},"Portas correspondem?":{"main":[[{"node":"adm: porta corresponde","type":"main","index":0}],[{"node":"BD: Add na sala de espera","type":"main","index":0}]]},"adm: porta corresponde":{"main":[[{"node":"Prepara eventos correspondentes","type":"main","index":0}]]},"Prepara eventos correspondentes":{"main":[[{"node":"BD: Update no evento existente","type":"main","index":0}]]},"consulta host.get":{"main":[[{"node":"Zabbix: Select eventos de grupo","type":"main","index":0}]]},"consulta event.get":{"main":[[{"node":"Zabbix: consulta event.get","type":"main","index":0}]]},"Zabbix: consulta event.get":{"main":[[{"node":"Mantém apenas eventos com ack6","type":"main","index":0}]]},"JSON reconhecimento de evento":{"main":[[{"node":"Zabbix: Reconhecimento de evento","type":"main","index":0}]]},"Zabbix: Reconhecimento de evento":{"main":[[{"node":"BD: Add new event on eventosZabbix","type":"main","index":0}]]}},"authors":"William Semmler","name":"V0.1.0","description":"","autosaved":true},"tags":[{"updatedAt":"2025-11-05T16:31:43.287Z","createdAt":"2025-11-05T16:31:43.287Z","id":"JcnJcC8kUspunBU7","name":"clientes_contrato"},{"updatedAt":"2025-10-24T18:08:27.659Z","createdAt":"2025-10-24T18:08:27.659Z","id":"oUDNU2rUDi9xwp5Q","name":"FluxoNOC_principal"}]}