fluxo-de-encerramento-uzwkVX3fQD99Y1CF.json
{"updatedAt":"2026-01-28T14:15:16.754Z","createdAt":"2025-12-26T10:20:10.382Z","id":"uzwkVX3fQD99Y1CF","name":"Fluxo de encerramento","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"update","tableId":"fila de encerramento","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"Contador encerramento","fieldValue":"={{ $json['Contador encerramento'] + 1 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[112,160],"id":"34860945-d2e1-44c2-8a4e-3df8c572083c","name":"BD: Atualiza contador de encerramento","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b48727d2-1a26-4fc9-a6ee-cf6d1d9546ca","leftValue":"={{ $json['Contador encerramento'] }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[112,16],"id":"2283a6d5-31bf-454f-a6e9-c42f143ced03","name":"Contador é igual a dois?"},{"parameters":{"operation":"getAll","tableId":"fila de encerramento","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-112,16],"id":"890f75e7-9001-4d24-a441-0a6a901a588f","name":"BD: Recupera eventos da fila de encerramento","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-336,16],"id":"5f79e3f3-71b5-4b75-bb43-e7e2a654360a","name":"Schedule a cada 5 minutos"},{"parameters":{"jsCode":"const ID_grupo = $('BD: Recupera eventos da fila de encerramento').first().json['ID do grupo'];\n\nreturn {\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"host.get\",\n  \"params\": {\n    \"output\": [\"hostid\", \"name\"],\n    \"groupids\": ID_grupo\n  },\n  \"id\": 2\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,-160],"id":"ccd9a5e9-2651-475c-956b-624a9738188e","name":"Host.get -> consulta dos hosts do grupo"},{"parameters":{"jsCode":"const hosts = $input.first().json.arrayIdsHosts;\nconst time_from = $('BD: Recupera eventos da fila de encerramento').first().json['Timestamp da queda'];\nconst time_till = time_from + (60*60) // 1 hora depois do início do evento\n\nreturn {\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"clock\", \"eventid\", \"r_eventid\", \"acknowledged\"],\n    \"hostids\": hosts,\n    selectHosts: [\"hostid\", \"name\", \"description\"],\n    selectAcknowledges: [\"clock\", \"message\", \"action\"],\n    selectRelatedObject: [\"description\", \"value\"],\n    time_from: time_from,\n    time_till: time_till\n  },\n  \"id\": 2\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,-160],"id":"8ec94aee-f53c-4d19-ba6b-7f56f6a48e4c","name":"Event.get -> Eventos dos hosts"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"75d536c2-3c3f-4222-aa4c-49cb742b5d22","leftValue":"={{ $('BD: Recupera eventos da fila de encerramento').first().json['Eventos relacionados'] }}","rightValue":2,"operator":{"type":"array","operation":"lengthGte","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,-256],"id":"56839835-41f9-408f-aea5-d1ad3f4ac4c2","name":"Existem eventos relacionados?"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,-160],"id":"8590dae7-b31b-4bbc-933f-e8f26d79a524","name":"Zabbix: Host.get","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,-160],"id":"9f5662c4-176c-43be-9c72-0ff6b18b1245","name":"Zabbix: Event.get","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"// === INPUTS ===\nconst host_bd = $('BD: Recupera eventos da fila de encerramento')\n  .first().json['Nome do host'].toUpperCase();\n\nconst evento_bd = $('BD: Recupera eventos da fila de encerramento')\n  .first().json['Nome do evento'].toUpperCase();\n\nconst resultados = $input.first().json.result;\n\n// === PORT MAP (sorted by specificity) ===\nconst mapaPortas = [\n  \"WAN\", \"WAN1\", \"WAN2\", \"WAN3\", \"WAN4\",\n  \"LAN\", \"LAN1\", \"LAN2\", \"LAN3\", \"LAN4\",\n  \"ETH\", \"ETH1\", \"ETH2\", \"ETH3\", \"ETH4\",\n  \"ETHER\", \"ETHER1\", \"ETHER2\", \"ETHER3\", \"ETHER4\", \"ETHER5\",\n  \"GE\", \"GE1\", \"GE2\", \"GE3\",\n  \"PORTA 1\", \"PORTA 2\", \"PORTA 3\",\n  \"PORT1\", \"PORT2\", \"PORT3\",\n  \"PORT A\", \"PORT B\", \"PORTB\",\n  \"LINK1\", \"LINK2\", \"LINK3\",\n  \"X1\", \"X2\", \"X4\", \"X8\",\n  \"INTERNAL6\"\n].sort((a, b) => b.length - a.length);\n\n// === HELPERS ===\nfunction matchExactPort(texto, porta) {\n  const escaped = porta.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n  const regex = new RegExp(`\\\\b${escaped}\\\\b`);\n  return regex.test(texto.toUpperCase());\n}\n\n// === LOGIC PRINCIPAL ===\nfor (const porta of mapaPortas) {\n\n  const flagPortaMatch = matchExactPort(host_bd, porta);\n  const flagPortaEvento = matchExactPort(evento_bd, porta);\n\n  if (flagPortaMatch || flagPortaEvento) {\n\n    const origem = flagPortaMatch ? \"HOST\" : \"EVENTO\";\n\n    // === NOVA VERIFICAÇÃO: HOSTS COM A MESMA PORTA ===\n    const arrayIdsHosts = [];\n\n    for (const host of resultados) {\n      if (matchExactPort(host.name, porta)) {\n        arrayIdsHosts.push(host.hostid);\n      }\n    }\n\n    return [{\n      porta,\n      origem,\n      flagPortaMatch,\n      flagPortaEvento,\n      arrayIdsHosts\n    }];\n  }\n}\n\n// === DEFAULT RETURN ===\nreturn [{\n  porta: null,\n  origem: null,\n  flagPortaMatch: false,\n  flagPortaEvento: false,\n  arrayIdsHosts: [$('BD: Recupera eventos da fila de encerramento').first().json['ID do host']]\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,-160],"id":"003fc084-cd98-46e7-a130-99ffd09d157d","name":"Match de porta e host"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"22205240-ec0a-4517-ac4e-5a68e6a41dc9","leftValue":"={{ $json.flagMultiplosEventos }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2128,-160],"id":"d61c32fa-5a37-488e-93f3-054dc49151a8","name":"Multiplos eventos?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1b79a740-4ae3-4f46-a73b-efad7a9642ad","leftValue":"={{ $json['SLA excedido'] }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[336,16],"id":"f0692f69-46da-42a8-985b-9f9c668027bc","name":"Ultrapassou o SLA?"},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=- **HOST:** {{ $('BD: Recupera eventos da fila de encerramento').item.json['Nome do host'] }}\n- **EVENTO:** {{ $('BD: Recupera eventos da fila de encerramento').item.json['Nome do evento'] }}","author":"Fluxo de encerramento","color":"#009EDD","title":"=Nova rota - vento de encerramento - multiplos eventos","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[2352,-256],"id":"bc29d0ea-b864-4c96-bf6c-754bf1771f8d","name":"Multiplos eventos","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações gerais"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=- **HOST:** {{ $('BD: Recupera eventos da fila de encerramento').item.json['Nome do host'] }}\n- **EVENTO:** {{ $('BD: Recupera eventos da fila de encerramento').item.json['Nome do evento'] }}","author":"Fluxo de encerramento","color":"#009EDD","title":"=Nova rota - fluxo de encerramento SLA ainda válido","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1216,400],"id":"dbfc7d9e-94ac-42c4-87d9-bedbc152aed8","name":"SLA válido","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações gerais"}}},{"parameters":{"jsCode":"function getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\nlet linhaTabela = \"\";\nfunction htmlClienteEncerramentoUnico(host, evento, queda_formatada, recuperacao_formatada){\n\tlinhaTabela += `\n\t\t<tr>\n\t\t\t<td>${host}</td>\n\t\t\t<td>${evento}</td>\n\t\t\t<td>${queda_formatada}</td>\n\t\t\t<td>${recuperacao_formatada}</td>\n\t\t</tr>\n\t`;\n\n\tconst htmlCliente = `\n\t<p>${getGreeting()}</p>\n\t<br>\n\t<p>\n        Informamos que o evento abaixo consta <strong>normalizado</strong> em nosso sistema de monitoramento.\n\t</p>\n\t<div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n\t\t<table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n\t\t\t<thead>\n\t\t\t\t<tr>\n\t\t\t\t\t<th>Host</th>\n\t\t\t\t\t<th>Evento</th>\n\t\t\t\t\t<th>Horário da ocorrência</th>\n\t\t\t\t\t<th>Horário da normalização</th>\n\t\t\t\t</tr>\n\t\t\t</thead>\n\t\t\t<tbody>\n\t\t\t\t${linhaTabela}\n\t\t\t</tbody>\n\t\t</table>\n\t</div>\n\t\n\t<p>Permanecemos à disposição para quaisquer esclarecimentos adicionais.</p>\n\t<br>\n\t<br>\n\t<p>Atenciosamente,</p>\n\t<img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n\t`;\n\treturn htmlCliente;\n}\n\n\nreturn [{\n  htmlCliente: htmlClienteEncerramentoUnico(\n    $input.first().json.objetoEvento.host,\n    $input.first().json.objetoEvento.evento,\n    $input.first().json.objetoEvento.data_hora_queda,\n    $input.first().json.objetoEvento.data_hora_recuperacao\n  ),\n  ticketMovidesk: $input.first().json.objetoEvento.ticketMovidesk\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2352,-64],"id":"35a9f0f3-5179-4ecb-9f31-68de2ddacb49","name":"Prepara HTML do cliente"},{"parameters":{"jsCode":"const htmlCliente = $input.first().json.htmlCliente;\n\nreturn {\n  json: {\n    actions: [\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" }}\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2576,-64],"id":"6180583d-a2b4-4792-8a94-3cbb7c215880","name":"JSON com HTML do cliente"},{"parameters":{"method":"PATCH","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $('Prepara HTML do cliente').item.json.ticketMovidesk }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,-64],"id":"eca59c1e-617f-4d49-a3ea-2a73c49cf35b","name":"Movidesk: Atualiza ticket","alwaysOutputData":true,"credentials":{"httpQueryAuth":{"id":"TMwtQv0hjXbvLVng","name":"Movidesk token"}}},{"parameters":{"jsCode":"return {\n  json: {\n    status: \"Resolvido\",\n    baseStatus: \"Closed\", //\"Stopped\"\n    justification: null, //\"Validação\"\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3024,-64],"id":"af7b097e-73af-4a72-8e7c-5af933b809f7","name":"JSON com encerramento"},{"parameters":{"method":"PATCH","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $('Prepara HTML do cliente').item.json.ticketMovidesk }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3248,-64],"id":"c0fe54aa-7c6c-43db-8493-0c85ce2d6b1c","name":"Movidesk: Encerra","alwaysOutputData":true,"credentials":{"httpQueryAuth":{"id":"TMwtQv0hjXbvLVng","name":"Movidesk token"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=- **HOST:** {{ $('Consolida informações').item.json.objetoEvento.host }}\n- **EVENTO:** {{ $('Consolida informações').item.json.objetoEvento.evento }}\n- **INICIDO EM:** {{ $('Consolida informações').item.json.objetoEvento.data_hora_queda }}\n- **NORMALIZADO EM:** {{ $('Consolida informações').item.json.objetoEvento.data_hora_recuperacao }};","author":"Fluxo de encerramento","color":"#69BF6C","title":"=Um evento foi normalizado - ticket Movidesk {{ $('Prepara HTML do cliente').item.json.ticketMovidesk }}","thumbnail":"https://cdn-icons-png.freepik.com/64/16799/16799619.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3696,-64],"id":"2115c818-6bda-44ab-b33d-d18eba8f768a","name":"Discord: Encerramento","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"Bk2P3MvXnNNWNRrD","name":"Contratos: Encerramento de alertas"}}},{"parameters":{"operation":"delete","tableId":"fila de encerramento","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Recupera eventos da fila de encerramento').item.json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3472,-64],"id":"7e910dbf-8265-48f9-8bdc-cc4620a3d312","name":"BD: Delete evento","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"jsCode":"const id_host = $input.first().json['ID do host'];\nconst timestamp_recuperacao = $input.first().json['Timestamp da recuperacao'];\n\nreturn {\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"r_eventid\", \"acknowledged\"],\n    \"hostids\": id_host,\n    \"selectHosts\": [\"hostid\", \"name\"],\n    \"select_acknowledges\": [\"clock\", \"message\", \"action\"],\n    \"selectRelatedObject\": [\"description\"],\n    \"time_from\": timestamp_recuperacao,\n    \"time_till\": timestamp_recuperacao + (60 * 60),\n    \"sortfield\": [\"clock\"],\n    \"sortorder\": \"DESC\"\n  },\n  \"id\": 2\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,256],"id":"4afa67c0-096f-49dc-801a-83afdab41b22","name":"Prepara busca de eventos"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,256],"id":"3f02d80e-f4b2-4f8e-8da1-ac9a775270dd","name":"Zabbix: event.get","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const results = $input.first().json.result;\n\nconst eventos_ativos = [];\nfor (const ev of results) {\n  const recovery_event_id = parseInt(ev.r_eventid);\n  if (recovery_event_id >= 1) {\n    eventos_ativos.push(ev)\n  }\n}\n\nlet qtdEventosNoPeriodo;\nlet flagEncerrarChamado;\nif (eventos_ativos.length < 3) {\n  qtdEventosNoPeriodo = eventos_ativos.length\n  flagEncerrarChamado = true\n} else if (eventos_ativos.length > 3 && eventos_ativos.length <= 6) {\n  qtdEventosNoPeriodo = eventos_ativos.length\n  flagEncerrarChamado = false\n}\n\nlet status3Rodada;\nif (flagEncerrarChamado == false ) {\n  status3Rodada = $('BD: Recupera eventos 3').first().json.rodadaSt3 + 1;  \n}\n\nreturn [{\n  qtdEventosNoPeriodo,\n  flagEncerrarChamado,\n  status3Rodada\n}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,256],"id":"57a66b12-0542-45b5-adbd-02c97f1bd69c","name":"Valida encerramento de chamado"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c90efefc-7414-4f80-8847-3e83a31c41fc","leftValue":"={{ $json.flagEncerrarChamado }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1216,256],"id":"a7c462d6-0e85-4d7d-b1fe-a86e2f9ce8c6","name":"Encerrar chamado?"},{"parameters":{"jsCode":"const eventos = $('BD: Recupera eventos da fila de encerramento').first().json['Eventos relacionados'];\nconst time_from = $('BD: Recupera eventos da fila de encerramento').first().json['Timestamp da queda'];\nconst time_till = time_from + (60*60) // 1 hora depois do início do evento\n\nreturn {\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"clock\", \"eventid\", \"r_eventid\", \"acknowledged\"],\n    \"eventids\": eventos,\n    selectHosts: [\"hostid\", \"name\", \"description\"],\n    selectAcknowledges: [\"clock\", \"message\", \"action\"],\n    selectRelatedObject: [\"description\", \"value\"],\n    time_from: time_from,\n    time_till: time_till\n  },\n  \"id\": 2\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,-448],"id":"355194fe-2e1e-46b6-aca4-3810730d21ca","name":"Event.get -> Eventos dos hosts1"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,-448],"id":"1f57c5e3-aa7a-4148-b1b4-b3b91d33374c","name":"Zabbix: Event.get1","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const resultados = $input.first().json.result;\n\nfunction ajustaDataHora (timestamp) {\n  const clock = parseInt(timestamp);\n\n  const data_hora_ajustada = DateTime.fromSeconds(clock, {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).toFormat(\"cccc dd/MM/yyyy HH:mm:ss\").toUpperCase();\n\n  return data_hora_ajustada\n}\n\nif (resultados.length == 1) {\n  const host = $('BD: Recupera eventos da fila de encerramento').first().json['Nome do host'];\n  const evento = $('BD: Recupera eventos da fila de encerramento').first().json['Nome do evento'];\n  const data_hora_queda = $('BD: Recupera eventos da fila de encerramento').first().json['Data e hora da queda'];\n  const data_hora_recuperacao = $('BD: Recupera eventos da fila de encerramento').first().json['Data e hora da recuperacao'];\n  const id_grupo = $('BD: Recupera eventos da fila de encerramento').first().json['ID do grupo'];\n  const id_evento = $('BD: Recupera eventos da fila de encerramento').first().json['ID do evento'];\n  const flagReconhecidos = $('BD: Recupera eventos da fila de encerramento').first().json.reconhecimento == \"Reconhecido\" ? true : false;\n  let ticketMovidesk = \"\";\n  if (flagReconhecidos == true) {\n    ticketMovidesk = resultados[0].acknowledges[0].message;\n  }\n  const porta = $('Match de porta e host').first().json.porta;\n  const objetoEvento = {\n    id_evento,\n    id_grupo,\n    host, \n    evento,\n    data_hora_queda,\n    data_hora_recuperacao,\n    flagReconhecidos,\n    ticketMovidesk,\n    porta\n  }\n  return [{flagMultiplosEventos: false, objetoEvento}]\n} else {\n  return [{flagMultiplosEventos: true}]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1904,-160],"id":"170a91ec-4d78-44e4-90f9-6e664a921115","name":"Consolida informações"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,-448],"id":"f1e9f4db-6649-48f2-868d-04b602b9b170","name":"Zabbix: Event.get2","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const r_eventos = $input.first().json.objetoEvento.lista_r_eventid;\n\nreturn {\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"clock\", \"eventid\"],\n    \"eventids\": r_eventos,\n  },\n  \"id\": 2\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,-448],"id":"899606fb-e24d-43a3-b73c-edc4e278c891","name":"Event.get -> Eventos dos hosts2"},{"parameters":{"jsCode":"const clocks = $input.first().json.result;\n\nfunction ajustaDataHora (timestamp) {\n  const clock = parseInt(timestamp);\n\n  const data_hora_ajustada = DateTime.fromSeconds(clock, {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).toFormat(\"cccc dd/MM/yyyy HH:mm:ss\").toUpperCase();\n\n  return data_hora_ajustada\n}\n\nconst lista_data_hora_recuperacao = [];\nfor (const ev of clocks) {\n  lista_data_hora_recuperacao.push(ajustaDataHora(ev.clock))\n}\n\nreturn [{lista_data_hora_recuperacao}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1904,-448],"id":"ddd1ea86-3689-459a-816e-ee79df35fa60","name":"Trata data e hora da recuperação"},{"parameters":{"jsCode":"const resultados = $input.first().json.result;\n\nfunction ajustaDataHora (timestamp) {\n  const clock = parseInt(timestamp);\n\n  const data_hora_ajustada = DateTime.fromSeconds(clock, {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).toFormat(\"cccc dd/MM/yyyy HH:mm:ss\").toUpperCase();\n\n  return data_hora_ajustada\n}\n\nconst lista_ID_eventos = [];\nconst lista_host = [];\nconst lista_data_hora_queda = [];\nconst lista_r_eventid = [];\nconst lista_eventos = [];\nfor (const ev of resultados) {\n  lista_ID_eventos.push(parseInt(ev.eventid));\n  lista_host.push(ev.hosts[0].name);\n  lista_data_hora_queda.push(ajustaDataHora(ev.clock));\n  lista_r_eventid.push(parseInt(ev.r_eventid));\n  lista_eventos.push(ev.relatedObject.description.toUpperCase());\n}\n\nconst objetoEvento = {\n  lista_ID_eventos,\n  lista_host,\n  lista_eventos,\n  lista_data_hora_queda,\n  lista_r_eventid\n}\n\nreturn [{flagMultiplosEventos: true, objetoEvento}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,-448],"id":"9f9fea50-fc0f-441d-8e8a-818075a8d0eb","name":"Consolida informações1"},{"parameters":{"jsCode":"function getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\nconst objeto_de_eventos = $('Consolida informações1').first().json.objetoEvento;\nconst lista_recuperacao_formatada = $input.first().json.lista_data_hora_recuperacao;\n\nlet linhaTabela = \"\";\nfor (let index = 0; index < objeto_de_eventos.lista_ID_eventos.length; index++) {\n  linhaTabela += `\n    <tr>\n        <td>${objeto_de_eventos.lista_host[index]}</td>\n        <td>${objeto_de_eventos.lista_eventos[index]}</td>\n        <td>${objeto_de_eventos.lista_data_hora_queda[index]}</td>\n        <td>${lista_recuperacao_formatada[index]}</td>\n    </tr>\n  `;\n}\n\nfunction htmlClienteEncerramentoVarios(linhaTabelaPreenchido) {\n  const htmlCliente = `\n  <p>${getGreeting()}</p>\n  <br>\n  <p>\n      Informamos que os eventos abaixo constam <strong>normalizados</strong> em nosso sistema de monitoramento.\n  </p>\n  <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n      <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n          <thead>\n              <tr>\n                  <th>Host</th>\n                  <th>Evento</th>\n                  <th>Horário da ocorrência</th>\n                  <th>Horário da normalização</th>\n              </tr>\n          </thead>\n          <tbody>\n              ${linhaTabelaPreenchido}\n          </tbody>\n      </table>\n  </div>\n  \n  <p>Permanecemos à disposição para quaisquer esclarecimentos adicionais.</p>\n  <br>\n  <br>\n  <p>Atenciosamente,</p>\n  <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n  `;\n  return htmlCliente;\n}\n\nconst eventosZabbix = $('Zabbix: Event.get1').first().json.result;\nlet flagTicketMovidesk = false;\nlet lista_message_ack = [];\nfor (const ev of eventosZabbix) {\n  const flagEventoSeis = ev.acknowledged\n  if (flagEventoSeis == '1') {\n    for (const ack of ev.acknowledges) {\n      if (ack.action == \"6\") {\n        if (lista_message_ack.includes(parseInt(ack.message))) {\n          continue\n        } else {\n          flagTicketMovidesk = true;\n          lista_message_ack.push(parseInt(ack.message))\n        }\n      }\n    }\n  }\n}\n\nreturn [{\n  htmlCliente: htmlClienteEncerramentoVarios(linhaTabela),\n  flagTicketMovidesk,\n  lista_message_ack\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2128,-448],"id":"c5bc0e9f-10bd-45ba-96e0-7b18b04b2e7c","name":"Prepara HTML do cliente1"},{"parameters":{"jsCode":"const htmlCliente = $input.first().json.htmlCliente;\n\nreturn {\n  json: {\n    actions: [\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" }}\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2352,-448],"id":"8b9c037e-139b-49b9-896b-33ab3cc78d2c","name":"JSON com HTML do cliente1"},{"parameters":{"method":"PATCH","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $('Prepara HTML do cliente1').item.json.lista_message_ack[0] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2576,-448],"id":"86844832-a0f0-4892-ac1d-a12e69f288fb","name":"Movidesk: Atualiza ticket1","alwaysOutputData":true,"credentials":{"httpQueryAuth":{"id":"TMwtQv0hjXbvLVng","name":"Movidesk token"}}},{"parameters":{"jsCode":"return {\n  json: {\n    status: \"Resolvido\",\n    baseStatus: \"Closed\", //\"Stopped\"\n    justification: null, //\"Validação\"\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2800,-448],"id":"a8ba1c13-e269-45ca-b7df-b7053f0f9944","name":"JSON com encerramento1"},{"parameters":{"method":"PATCH","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $('Prepara HTML do cliente1').item.json.lista_message_ack[0] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3024,-448],"id":"f267851e-cdf9-46b6-aad5-43ca7a36441b","name":"Movidesk: Encerra1","alwaysOutputData":true,"credentials":{"httpQueryAuth":{"id":"TMwtQv0hjXbvLVng","name":"Movidesk token"}}},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=- **HOST:** {{ $('BD: Recupera eventos da fila de encerramento').first().json['Nome do host'] }}\n- **EVENTO:** {{ $('BD: Recupera eventos da fila de encerramento').first().json['Nome do evento'] }}\n- **INICIDO EM:** {{ $('BD: Recupera eventos da fila de encerramento').first().json['Data e hora da queda'] }}\n- **NORMALIZADO EM:** {{ $('BD: Recupera eventos da fila de encerramento').first().json['Data e hora da recuperacao'] }}","author":"Fluxo de encerramento","color":"#69BF6C","title":"=Ticket com múltiplos eventos foi normalizado - ticket Movidesk {{ $('Prepara HTML do cliente1').item.json.lista_message_ack[0] }}","thumbnail":"https://cdn-icons-png.freepik.com/64/16799/16799619.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3472,-448],"id":"b805be17-f464-4481-bfc5-e09107d4dfb6","name":"Discord: Encerramento1","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"Bk2P3MvXnNNWNRrD","name":"Contratos: Encerramento de alertas"}}},{"parameters":{"operation":"delete","tableId":"fila de encerramento","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('BD: Recupera eventos da fila de encerramento').first().json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3248,-448],"id":"15c18169-d935-471d-9821-a3ea240135c8","name":"BD: Delete evento1","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}}],"connections":{"Contador é igual a dois?":{"main":[[{"node":"Ultrapassou o SLA?","type":"main","index":0}],[{"node":"BD: Atualiza contador de encerramento","type":"main","index":0}]]},"BD: Recupera eventos da fila de encerramento":{"main":[[{"node":"Contador é igual a dois?","type":"main","index":0}]]},"Schedule a cada 5 minutos":{"main":[[{"node":"BD: Recupera eventos da fila de encerramento","type":"main","index":0}]]},"Host.get -> consulta dos hosts do grupo":{"main":[[{"node":"Zabbix: Host.get","type":"main","index":0}]]},"Existem eventos relacionados?":{"main":[[{"node":"Event.get -> Eventos dos hosts1","type":"main","index":0}],[{"node":"Host.get -> consulta dos hosts do grupo","type":"main","index":0}]]},"Event.get -> Eventos dos hosts":{"main":[[{"node":"Zabbix: Event.get","type":"main","index":0}]]},"Zabbix: Host.get":{"main":[[{"node":"Match de porta e host","type":"main","index":0}]]},"Zabbix: Event.get":{"main":[[{"node":"Consolida informações","type":"main","index":0}]]},"Match de porta e host":{"main":[[{"node":"Event.get -> Eventos dos hosts","type":"main","index":0}]]},"Multiplos eventos?":{"main":[[{"node":"Multiplos eventos","type":"main","index":0}],[{"node":"Prepara HTML do cliente","type":"main","index":0}]]},"Ultrapassou o SLA?":{"main":[[{"node":"Existem eventos relacionados?","type":"main","index":0}],[{"node":"Prepara busca de eventos","type":"main","index":0}]]},"Prepara HTML do cliente":{"main":[[{"node":"JSON com HTML do cliente","type":"main","index":0}]]},"JSON com HTML do cliente":{"main":[[{"node":"Movidesk: Atualiza ticket","type":"main","index":0}]]},"Movidesk: Atualiza ticket":{"main":[[{"node":"JSON com encerramento","type":"main","index":0}]]},"JSON com encerramento":{"main":[[{"node":"Movidesk: Encerra","type":"main","index":0}]]},"Movidesk: Encerra":{"main":[[{"node":"BD: Delete evento","type":"main","index":0}]]},"BD: Delete evento":{"main":[[{"node":"Discord: Encerramento","type":"main","index":0}]]},"Prepara busca de eventos":{"main":[[{"node":"Zabbix: event.get","type":"main","index":0}]]},"Zabbix: event.get":{"main":[[{"node":"Valida encerramento de chamado","type":"main","index":0}]]},"Valida encerramento de chamado":{"main":[[{"node":"Encerrar chamado?","type":"main","index":0}]]},"Encerrar chamado?":{"main":[[{"node":"Existem eventos relacionados?","type":"main","index":0}],[{"node":"SLA válido","type":"main","index":0}]]},"Event.get -> Eventos dos hosts1":{"main":[[{"node":"Zabbix: Event.get1","type":"main","index":0}]]},"Zabbix: Event.get1":{"main":[[{"node":"Consolida informações1","type":"main","index":0}]]},"Consolida informações":{"main":[[{"node":"Multiplos eventos?","type":"main","index":0}]]},"Event.get -> Eventos dos hosts2":{"main":[[{"node":"Zabbix: Event.get2","type":"main","index":0}]]},"Zabbix: Event.get2":{"main":[[{"node":"Trata data e hora da recuperação","type":"main","index":0}]]},"Consolida informações1":{"main":[[{"node":"Event.get -> Eventos dos hosts2","type":"main","index":0}]]},"Trata data e hora da recuperação":{"main":[[{"node":"Prepara HTML do cliente1","type":"main","index":0}]]},"Prepara HTML do cliente1":{"main":[[{"node":"JSON com HTML do cliente1","type":"main","index":0}]]},"JSON com HTML do cliente1":{"main":[[{"node":"Movidesk: Atualiza ticket1","type":"main","index":0}]]},"JSON com encerramento1":{"main":[[{"node":"Movidesk: Encerra1","type":"main","index":0}]]},"Movidesk: Encerra1":{"main":[[{"node":"BD: Delete evento1","type":"main","index":0}]]},"BD: Delete evento1":{"main":[[{"node":"Discord: Encerramento1","type":"main","index":0}]]},"Movidesk: Atualiza ticket1":{"main":[[{"node":"JSON com encerramento1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"akaImKErHyzNLJa6"},"staticData":{"node:Schedule a cada 5 minutos":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule a cada 5 minutos":[{"json":{"timestamp":"2025-12-26T15:35:18.006-03:00","Readable date":"December 26th 2025, 3:35:18 pm","Readable time":"3:35:18 pm","Day of week":"Friday","Year":"2025","Month":"December","Day of month":"26","Hour":"15","Minute":"35","Second":"18","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"7c3924e5-2eb2-4c7a-bf9e-0df2a2ccc4c3","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-12-26T10:20:10.394Z","createdAt":"2025-12-26T10:20:10.394Z","role":"workflow:owner","workflowId":"uzwkVX3fQD99Y1CF","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":null,"tags":[{"updatedAt":"2025-10-24T18:08:59.444Z","createdAt":"2025-10-24T18:08:59.444Z","id":"jng5bBYYvxUL3PF4","name":"fluxoEncerramento"}]}