modelos-fxuCG6tIKAlVWy8t.json
{"updatedAt":"2026-01-29T17:15:39.879Z","createdAt":"2025-10-27T13:56:49.623Z","id":"fxuCG6tIKAlVWy8t","name":"Modelos","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"Modelos para atualização de chamados no Movidesk e para finalização de chamados. No nó de requisição Patch deve-se mudar o número do ticket.\nNos eventos de update (patch) o ticket vai no link da API, não é preparado antes.","height":272,"width":672},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-560,112],"id":"68f3c92b-e85d-4eae-aff0-086a542af7d5","name":"Sticky Note"},{"parameters":{"jsCode":"return {\n  json: {\n    actions: [\n      { type: 2, description: \"Teste de encerramento de chamado\", createdBy: { id: \"1458772347\" }, workTime: \"00:08:00\" }\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-512,208],"id":"6912120f-68f9-4dd0-9a44-6878523c6914","name":"ATUALIZAÇÃO DE CHAMADOS"},{"parameters":{"jsCode":"return {\n  json: {\n    status: \"Resolvido\",\n    baseStatus: \"Closed\", //\"Stopped\"\n    justification: null, //\"Validação\"\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,208],"id":"ce5e9e21-afd1-4ef8-8350-e3540f3195a5","name":"ENCERRAMENTO MOVIDESK"},{"parameters":{"method":"PATCH","url":"=https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6&id=131085","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-64,208],"id":"65cde4c0-04fe-4e69-a711-5ed33bf72a62","name":"ATUALIZAÇÃO TICKET MOVIDESK","retryOnFail":true},{"parameters":{"content":"Recuperar dados do Movidesk usando critérios de pesquisa e filtros (Time: SOC, Filtros: Tickets abertos) e encaminhar o arquivo CSV por e-mail","height":240,"width":912},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-560,448],"id":"872c783f-ccef-4849-8d10-2c40bd9d84b7","name":"Sticky Note1"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[3],"triggerAtHour":18}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-496,528],"id":"86c8c0bc-1e2c-4f9e-aa05-4a01059d2cc5","name":"NÓ DE RECORRÊNCIA","disabled":true},{"parameters":{"url":"https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6&$select=id,subject,status,ownerTeam,baseStatus,createdDate,lastUpdate&$expand=clients&$filter=((status eq 'Em atendimento') or (status eq 'Novo') or (status eq 'Aguardando atendimento') or (status eq 'Aguardando')) and (ownerTeam eq 'SOC')","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-272,528],"id":"b5170902-dd47-41fe-a798-d283e6237534","name":"REQUISIÇÃO HTTP"},{"parameters":{"options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-48,528],"id":"15faae48-6c1d-4c0b-9f6e-66c20b7f94a8","name":"CONVERSÃO EM OUTRO ARQUIVO","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"fromEmail":"william.semmler@maxprotection.com.br","toEmail":"fabio@maxprotection.com.br","subject":"Arquivo CSV dos chamados do SOC","emailFormat":"text","text":"Segue em anexo o arquivo CSV dos chamados do SOC.","options":{"attachments":"data","bccEmail":"william.semmler@maxprotection.com.br"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[176,528],"id":"24469472-1930-4920-8ed2-5bc5e76d4f3e","name":"ENVIO POR E-MAIL","webhookId":"43c4245e-ca4b-41b1-b4b5-408527901f61","credentials":{"smtp":{"id":"DbMRWCNpvDuKIKL3","name":"Reports-Fábio"}}},{"parameters":{"content":"Nó para apresentar todas as informações de um determinado ticket","height":272,"width":208},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-560,752],"id":"f787b0bd-bdd1-4340-9419-b053b4f6c3a9","name":"Sticky Note2"},{"parameters":{"content":"Nó para apresentar todas as informações de um evento no Zabbix","height":272,"width":208},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-272,752],"id":"5613ca61-498b-4c53-818d-5d056e9bb24d","name":"Sticky Note3"},{"parameters":{"content":"Nó para consulta de grupos de um host qualquer","height":272,"width":208},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[16,752],"id":"5d17ddec-d59d-4a78-b649-009ec2a86ea6","name":"Sticky Note4"},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": \"extend\",\n    \"eventids\": \"170932323\",\n    \"selectHosts\": \"extend\",\n    \"select_acknowledges\": \"extend\",\n    \"selectRelatedObject\": [\n      \"triggerid\",\n      \"description\",\n      \"expression\",\n      \"priority\",\n      \"status\",\n      \"url\"\n    ],\n    \"selectTags\": \"extend\",\n    \"selectAlerts\": \"extend\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-224,848],"id":"b4e4b285-01d0-4557-a242-cafa1a8fb4f5","name":"ZABBIX: CONSULTA EVENTO","retryOnFail":true},{"parameters":{"url":"https://atendimento.maxprotection.com.br/public/v1/tickets?token=538206c9-60b4-4bf4-ae85-415ab9a68be6&id=128419","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-512,848],"id":"e43e3dbd-491b-40b0-a998-7777d6655f4c","name":"MOVIDESK: PESQUISA DE INFORMAÇÕES DE TICKET"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"host.get\",\n  \"params\": {\n    \"output\": [\"hostid\", \"name\", \"description\"],\n    \"selectGroups\": [\"groupid\", \"name\"],\n    \"hostids\": \"{{ $json.result[0].hosts[0].hostid }}\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 2\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[64,848],"id":"c0710d00-a4cd-451b-9e28-c416546bcb25","name":"ZABBIX: CONSULTA DE GRUPOS DO HOST","retryOnFail":true},{"parameters":{"content":"Função greetings() conforme turno","height":272,"width":208},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[304,752],"id":"f98b16ef-26a3-4711-ab3e-d1d1282ed7f6","name":"Sticky Note5"},{"parameters":{"jsCode":"// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n  // Opção 1: Usando DateTime (assumindo que seja da biblioteca Luxon)\n  const now = DateTime.now().setZone('America/Sao_Paulo');\n  const hour = now.hour;\n  \n  // Opção 2: Usando Date nativo do JavaScript\n  // const now = new Date();\n  // const hour = now.getHours(); // Horário local do servidor\n  \n  let greeting;\n\n  if (hour >= 18 || hour < 5) {\n    greeting = \"Boa noite\";\n  } else if (hour >= 5 && hour < 12) {\n    greeting = \"Bom dia\";\n  } else {\n    greeting = \"Boa tarde\";\n  }\n\n  return greeting;\n}\n\n// Uso:\nconst saudacao = getGreeting();\n// console.log(saudacao); // \"Bom dia\", \"Boa tarde\" ou \"Boa noite\"\n\nreturn [{saudacao}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,864],"id":"daa1eb61-2e7d-4967-ba82-2165c611f37c","name":"FUNÇÃO GREETINGS()"},{"parameters":{"content":"nó de notificação no Discord","height":272,"width":208},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-560,1088],"id":"d2001f42-e766-4e73-af04-db63fff30c5b","name":"Sticky Note6"},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=*NOTA:*\n\n**GRUPO:** \n**HOST MATRIZ:** \n**EVENTO MATRIZ:** \n**DATA E HORA DE INÍCIO DO EVENTO:** \n**TICKET MOVIDESK:** \n\n**LINHA NO BD:**","color":"#25FF2C","thumbnail":"https://imagepng.org/wp-content/uploads/2018/08/alerta.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-512,1200],"id":"a6ba2a35-6bdc-41eb-af89-1c7929662714","name":"NOTIFICAÇÃO DISCORD","webhookId":"eeed722b-607e-4597-8511-e54a55e53154","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**CLIENTE:** <nome_cliente>\n**HOST MATRIZ:** <host_matriz>\n**EVENTO:** <evento>\n**DATA E HORA DA QUEDA:** <data e hora formatada>\n**DATA E HORA DO RESTABELECIMENTO:** <data e hora formatada>\n**TICKET MOVIDESK:** <ticket_movidesk>","color":"#69BF6C","title":"CHAMADO ENCERRADO","thumbnail":"https://cdn-icons-png.freepik.com/512/16799/16799619.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-32,1136],"id":"5313adb8-3d33-452d-ac40-861b4557a8c3","name":"MODELO: ENCERRAMENTO","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"lA2qaXo0Uc6Pobsl","name":"Canal: encerramento de chamado"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=O seguinte evento encerrou, mas seguirá sendo monitorado\n\n**CLIENTE:** <nome_cliente>\n**HOST MATRIZ:** <host_matriz>\n**EVENTO:** <evento>\n**DATA E HORA DA QUEDA:** <data e hora formatada>\n**DATA E HORA DO RESTABELECIMENTO:** <data e hora formatada>\n**TICKET MOVIDESK:** <ticket_movidesk>","color":"#FF7518","title":"MONITORANDO ENCERRAMENTO","thumbnail":"https://cdn-icons-png.freepik.com/512/4695/4695312.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-32,1328],"id":"d1fe57f1-52a7-4d0a-b443-64d5da48af8f","name":"MODELO: ENCERRADO COM MONITORAMENTO","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"rn6H9u9BbR5a2R1n","name":"Canal: Monitorando-encerramento"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=**CLIENTE:** <nome_cliente>\n**HOST MATRIZ:** <host_matriz>\n**EVENTO:** <evento>\n**DATA E HORA DO EVENTO:** <data e hora formatada>\n**TICKET MOVIDESK:** <ticket_movidesk>","color":"#FFDE21","title":"ABRIR CHAMADO","thumbnail":"https://cdn-icons-png.freepik.com/512/5651/5651426.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-224,1136],"id":"47388242-b04b-4e98-8cbf-29430410cd49","name":"MODELO: ABRIR CHAMADO","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Um novo chamado foi aberto para o cliente <nome_simplificado>\n\n**HOST MATRIZ:** <host_matriz>\n**EVENTO:** <evento>\n**DATA E HORA DO EVENTO:** <data e hora formatada>\n**TICKET MOVIDESK:** <ticket_movidesk>","color":"#FF7518","title":"CHAMADO ABERTO ","thumbnail":"https://cdn-icons-png.freepik.com/512/4034/4034629.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-224,1328],"id":"f80a957d-f013-4863-9a50-63378685db4a","name":"MODELO: CHAMADO ABERTO","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"cpyl61bJ83gXe4YH","name":"Canal: abertura de chamados e atualizações"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Houve o seguinte erro ao <descrever_situação>\n\n**CLIENTE:** <nome_cliente>\n**HOST MATRIZ:** <host_matriz>\n**EVENTO:** <evento>\n**DATA E HORA DO EVENTO:** <data e hora formatada>","color":"#FD2A2A","title":"ERRO <ao_fazer_tal_coisa>","thumbnail":"https://cdn-icons-png.freepik.com/512/1331/1331377.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[544,1136],"id":"e3a8c4db-afd9-40a1-8da3-26862dea8112","name":"MODELO: ALERTA DE ERRO","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"TwRFGYEuCvKURX8p","name":"Canal: Erros"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=Verificar a seguinte situação <descrever_situação>\n\n**CLIENTE:** <nome_cliente>\n**HOST MATRIZ:** <host_matriz>\n**EVENTO:** <evento>\n**DATA E HORA DA EVENTO:** <data e hora formatada>","color":"#009EDD","title":"ERRO <ao_fazer_tal_coisa>","thumbnail":"https://cdn-icons-png.freepik.com/512/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[352,1136],"id":"49944afe-eccc-4bda-b0bc-a66469c728e0","name":"MODELO: AÇÃO ADMINISTRATIVA","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"pD90IU7lYfcf9FwM","name":"Canal: administrativo"}},"disabled":true},{"parameters":{"authentication":"webhook","content":"=","options":{},"embeds":{"values":[{"description":"=O evento abaixo ultrapassou <x_tempo> da abertura do chamado\n\n**CLIENTE:** <nome_cliente>\n**HOST MATRIZ:** <host_matriz>\n**EVENTO:** <evento>\n**DATA E HORA DA QUEDA:** <data e hora formatada>\n**TICKET MOVIDESK:** <ticket_movidesk>","color":"#FFDE21","title":"ATENÇÃO AO SLA","thumbnail":"https://cdn-icons-png.freepik.com/512/1063/1063223.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[160,1136],"id":"96f2113e-2436-4cd0-ad2f-a084aa5308d8","name":"MODELO: SLA","webhookId":"5602e92a-bce3-4895-9977-2ff14b2bfc30","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"q8ymfxDw287wMhSw","name":"Canal: notificações status 2"}},"disabled":true},{"parameters":{"content":"Nós de notificação no Discord\n","height":448,"width":1008},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-272,1088],"id":"29e82ba8-3a21-4c21-b03a-2ef981c5dab9","name":"Sticky Note7"}],"connections":{"ATUALIZAÇÃO DE CHAMADOS":{"main":[[]]},"NÓ DE RECORRÊNCIA":{"main":[[{"node":"REQUISIÇÃO HTTP","type":"main","index":0}]]},"REQUISIÇÃO HTTP":{"main":[[{"node":"CONVERSÃO EM OUTRO ARQUIVO","type":"main","index":0}]]},"CONVERSÃO EM OUTRO ARQUIVO":{"main":[[{"node":"ENVIO POR E-MAIL","type":"main","index":0}]]},"ZABBIX: CONSULTA DE GRUPOS DO HOST":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"403f8ab0-c63d-40a5-95bc-490bcd43f128","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-27T13:56:49.638Z","createdAt":"2025-10-27T13:56:49.638Z","role":"workflow:owner","workflowId":"fxuCG6tIKAlVWy8t","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":null,"tags":[{"updatedAt":"2025-10-24T20:38:56.289Z","createdAt":"2025-10-24T20:38:56.289Z","id":"fb4uRBa519tsrAKx","name":"teste"},{"updatedAt":"2025-11-07T14:27:37.713Z","createdAt":"2025-11-07T14:27:37.713Z","id":"g6rJGbutq0riGMjV","name":"base_modelos"}]}