my-workflow-3-YmdiFlWJPSCIKq7S.json
{"updatedAt":"2025-10-13T18:38:04.000Z","createdAt":"2025-10-13T18:21:56.135Z","id":"YmdiFlWJPSCIKq7S","name":"My workflow 3","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-32,-48],"id":"85242e4d-6f7f-43ef-a188-6621822db127","name":"Schedule Trigger"},{"parameters":{"operation":"getAll","tableId":"teste","limit":10,"filters":{"conditions":[{"keyName":"status_chamado","condition":"lte","keyValue":"1"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[208,0],"id":"6bd3df06-2976-4414-b895-966ef248c010","name":"Get many rows","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-128,112],"id":"8eed83e6-9c62-46c0-8c4c-cf9622041972","name":"When clicking ‘Execute workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"342e1ef6-3f7b-4e0b-8563-6e531f226ca0","leftValue":"={{ $json.status_chamado }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,0],"id":"c3a31852-8e06-4ac0-a762-b67c07e07fea","name":"If"},{"parameters":{"operation":"update","tableId":"teste","matchType":"allFilters","filters":{"conditions":[{"keyName":"ticket_movidesk","condition":"eq","keyValue":"={{ $json.ticket_movidesk  == null}}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_chamado","fieldValue":"4"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[912,-16],"id":"0c322707-1119-454b-a6f4-b445c0bb4ebb","name":"Update a row","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"If","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"If":{"main":[[{"node":"Update a row","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Get many rows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1fd8e061-bb01-42ab-b6d0-3ef3eca42ce3","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-10-13T18:21:56.143Z","createdAt":"2025-10-13T18:21:56.143Z","role":"workflow:owner","workflowId":"YmdiFlWJPSCIKq7S","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":null,"tags":[]}