my-workflow-4-i8Iow89rCa2NSG4N.json
{"updatedAt":"2025-10-27T17:49:51.000Z","createdAt":"2025-10-27T17:07:29.362Z","id":"i8Iow89rCa2NSG4N","name":"My workflow 4","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"497f45ed-7b6d-420f-afda-1b9f0c3e8f22","name":"Schedule Trigger"},{"parameters":{"operation":"getAll","tableId":"base","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"status_chamado","condition":"lte","keyValue":"4"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[208,0],"id":"a343150d-b298-4277-92ea-4cd694585c4f","name":"Get many rows","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[416,0],"id":"f14f80a6-72d3-4564-a12b-0aa263fb4def","name":"Loop Over Items"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status_chamado }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"cfedfe35-d960-4bed-9cfe-365fed06a4b2"}],"combinator":"and"},"renameOutput":true,"outputKey":"Alerta sem ticket Movidesk"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bd367345-e631-4bef-9e51-5f89fad3f6d6","leftValue":"={{ $json.status_chamado }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Alerta com ticket Movidesk"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d925eff5-d783-4101-8ddf-7686c1860d85","leftValue":"={{ $json.status_chamado }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Monitorando encerramento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ebeaecd8-ad02-491a-8ce3-e1acceb18114","leftValue":"={{ $json.status_chamado }}","rightValue":4,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Encerrado sem ticket"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[688,-16],"id":"c6ce1116-103f-4987-8ec5-a48fd0b7ffd3","name":"Switch"},{"parameters":{"operation":"get","tableId":"variaveis_cliente","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.elementoTabela.id_cliente_variaveis }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2384,672],"id":"fdfed5f3-a279-441e-92ab-8cf514718104","name":"Recupera variáveis do cliente","retryOnFail":true,"credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"mode":"raw","jsonOutput":"={{ {\"elementoTabela\": $json} }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2160,672],"id":"9114b0ed-34ea-4968-b3a2-cfd827fbbd88","name":"Ajusta para um objeto"},{"parameters":{"jsCode":"// --- Dados de entrada vindos do n8n ---\nconst idHost = $('Ajusta para um objeto').first().json.elementoTabela.id_host;\nconst timestampQueda = $('Ajusta para um objeto').first().json.elementoTabela.timestamp_queda;\nconst idEvento = $('Ajusta para um objeto').first().json.elementoTabela.id_evento;\nconst ticketMovidesk = $('Ajusta para um objeto').first().json.elementoTabela.ticket_movidesk;\nconst variavelDecrescimoTempo = $input.first().json.segundos_decrescimo_horas; // SLA em segundos\n\n// --- Calcula tempos em segundos e minutos ---\nconst timestampAgora = Math.floor(Date.now() / 1000);\nconst tempoDecorridoSegundos = timestampAgora - timestampQueda;\nconst tempoDecorridoMinutos = Math.floor(tempoDecorridoSegundos / 60);\nconst slaMinutos = variavelDecrescimoTempo / 60;\nconst meiaSlaMinutos = slaMinutos / 2;\nconst limite2hPosSlaMinutos = slaMinutos + 120; // 120 min = 2h após o SLA\n\n// --- CONDIÇÃO 1: Ainda não atingiu metade do SLA ---\nif (tempoDecorridoMinutos < meiaSlaMinutos) {\n  // Não faz nada, apenas segue para o próximo loop\n  return [\n    {\n      json: {\n        status: \"FAZ NADA AINDA\"\n      }\n    }\n  ];\n}\n\n// --- CONDIÇÃO 2: Passou da metade, mas ainda dentro do SLA ---\nelse if (tempoDecorridoMinutos >= meiaSlaMinutos && tempoDecorridoMinutos < slaMinutos) {\n  return [\n    {\n      json: {\n        status: \"ATENÇÃO\",\n        mensagem: \"O alerta está se aproximando do vencimento do SLA. Fique atento!\",\n        idHost,\n        idEvento,\n        ticketMovidesk,\n        timestampQueda,\n        timestampAgora,\n        tempoDecorridoMinutos,\n        slaMinutos\n      }\n    }\n  ];\n}\n\n// --- CONDIÇÃO 3: Já passou o SLA, mas ainda está dentro das 2h de tolerância ---\nelse if (tempoDecorridoMinutos >= slaMinutos && tempoDecorridoMinutos <= limite2hPosSlaMinutos) {\n  return [\n    {\n      json: {\n        status: \"URGENTE\",\n        mensagem: \"O evento já ultrapassou o tempo de SLA! É necessário acionar a operadora imediatamente.\",\n        idHost,\n        idEvento,\n        ticketMovidesk,\n        timestampQueda,\n        timestampAgora,\n        tempoDecorridoMinutos,\n        slaMinutos\n      }\n    }\n  ];\n}\n\n// --- CONDIÇÃO 4: Já passou mais de 2h após o SLA ---\nelse {\n  // Não precisa mais agir ou notificar o cliente\n  return [\n    {\n      json: {\n        status: \"ENCERRAR_ROTINA\",\n        mensagem: \"O evento ultrapassou 2 horas após o SLA. A rotina de notificação pode ser interrompida.\",\n        idHost,\n        idEvento,\n        ticketMovidesk,\n        timestampQueda,\n        timestampAgora,\n        tempoDecorridoMinutos,\n        slaMinutos\n      }\n    }\n  ];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2832,672],"id":"573da226-e85d-40f1-b08f-ade33b562047","name":"Calcula tempo decorrido e restante"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": \"extend\",\n    \"eventids\": \"{{ $('Loop Over Items').item.json.id_evento }}\",\n    \"selectRelatedObject\": \"extend\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2608,672],"id":"13aaa298-1709-49e8-adfa-15d956e4a754","name":"Consulta dados do evento no Zabbix","retryOnFail":true},{"parameters":{"operation":"update","tableId":"base","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Over Items').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"count_sla","fieldValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3280,864],"id":"0e6afd87-e01e-455f-8cc9-54f86979b124","name":"Atualiza status count_sla","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=*⚠️ Atenção: O evento está próximo do vencimento do SLA*\n\n🖥️ Host: {{ $('Itera sobre os itens da tabela').item.json.nome_host }}\n📛 Nome do alerta: {{ $('Itera sobre os itens da tabela').item.json.ticket_movidesk }}\n🕒 Data e hora do evento: {{ DateTime.fromSeconds(parseInt($('Itera sobre os itens da tabela').item.json.timestamp_queda)).setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy HH:mm:ss') }}\n🎟️ Ticket Movidesk: {{ $('Itera sobre os itens da tabela').item.json.ticket_movidesk }}\n🆔 ID do evento (Zabbix): {{ $('Itera sobre os itens da tabela').item.json.id_evento }}","color":"#FFDE21","title":"ATENÇÃO! Alerta já ultrapassou 2 horas do SLA"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3280,512],"id":"81124ebb-5d7c-47a2-b717-8502f0866601","name":"Metade SLA até SLA fim","webhookId":"afeb553b-40fb-4275-8075-ce334a4d6004","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"q8ymfxDw287wMhSw","name":"Canal: notificações status 2"}}},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=*⚠️ Atenção: O evento já ultrapassou o SLA.*\n\n🖥️ Host: {{ $('Itera sobre os itens da tabela').item.json.nome_host }}\n📛 Nome do alerta: {{ $('Itera sobre os itens da tabela').item.json.ticket_movidesk }}\n🕒 Data e hora do evento: {{ DateTime.fromSeconds(parseInt($('Itera sobre os itens da tabela').item.json.timestamp_queda)).setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy HH:mm:ss') }}\n🎟️ Ticket Movidesk: {{ $('Itera sobre os itens da tabela').item.json.ticket_movidesk }}\n🆔 ID do evento (Zabbix): {{ $('Itera sobre os itens da tabela').item.json.id_evento }}","color":"#EE4B2B","title":"ATENÇÃO! Tempo SLA estourado"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3280,688],"id":"90c448aa-7f62-4824-8cf2-720ec2fa6216","name":"SLA fim até 2 horas do SLA","webhookId":"afeb553b-40fb-4275-8075-ce334a4d6004","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"q8ymfxDw287wMhSw","name":"Canal: notificações status 2"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3536,688],"id":"263d47e9-b814-4c30-ae17-66aedf92e9d0","name":"Aguarda","webhookId":"e3680e17-a808-4442-8810-d3c03ec5c959"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"FAZ NADA AINDA","operator":{"type":"string","operation":"equals"},"id":"c7f1983b-fe26-4b35-82be-d42bc86e14d2"}],"combinator":"and"},"renameOutput":true,"outputKey":"Faz nada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"78ccfea9-82c8-409f-ac2a-3f6975fb3118","leftValue":"={{ $json.status }}","rightValue":"ATENÇÃO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"=Próximo do vencimento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8978e1c8-9997-4d1a-b92d-ab3517546392","leftValue":"={{ $json.status }}","rightValue":"URGENTE","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ultrapassou o SLA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bece0c49-d6cc-438e-a41e-da09424c4e2b","leftValue":"={{ $json.status }}","rightValue":"ENCERRAR_ROTINA","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ultrapassou 2 horas do SLA"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[3040,640],"id":"0c0916a9-70ca-4684-a09f-963fabcd763b","name":"Switch1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3dfcc9a7-3cb7-43bc-8e8a-5f0ba0cfb261","leftValue":"={{ $json.count_sla }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1920,672],"id":"a14d3d0d-b9e0-452f-a22a-dca9551fca04","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[688,-272],"id":"1b23fac5-d704-41bc-8e57-65bfb155eaa8","name":"No Operation, do nothing"},{"parameters":{"jsCode":"const arrayResults = $input.first().json.result;\nconst timestampRecovery = parseInt($('Soma variável segundos à queda').first().json.timestamp_recovery);\n\nfunction formataSegundosParaData (clock) {\n  timestampRecovery\n  let timestampInt = parseInt(clock);\n  let data_formatada = DateTime.fromSeconds(timestampRecovery + timestampInt).setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy HH:mm:ss');\n\n  return data_formatada;\n}\n\nlet clocks = [];\nfor (let i=0; i < arrayResults.length; i++) {\n  const clock = parseInt(arrayResults[i].clock);\n  const difClock =  clock - timestampRecovery\n\n  if (difClock <= -1) {\n    continue\n  } else {\n    clocks.push(difClock)\n  }\n}\n\nconst maiorClock = Math.max(...clocks)\nconst maiorClockFormatada = formataSegundosParaData(maiorClock)\nconst menorClock = Math.min(...clocks)\nconst menorClockFormatada = formataSegundosParaData(menorClock)\n\nreturn [\n  {\n    maiorClock,\n    maiorClockFormatada,\n    menorClock,\n    menorClockFormatada\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3056,-208],"id":"946ecb48-0f95-4459-b2e7-24680227f970","name":"Trabalha com os clocks dos eventos"},{"parameters":{"url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"name\", \"value\", \"host\", \"hostid\"],\n    \"select_acknowledges\": [\n      \"acknowledgeid\",\n      \"eventid\",\n      \"clock\",\n      \"message\",\n      \"action\"\n    ],\n    \"time_from\": \"{{ $json.timestamp_recovery }}\",\n    \"time_till\": \"{{ $json.timestamp_recovery_mais_segundos }}\",\n    \"selectHosts\": [\"hostid\", \"host\"],\n    \"hostids\": \"{{ $('Switch').item.json.id_host }}\",\n    \"sortfield\": \"clock\",\n    \"sortorder\": \"DESC\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2608,-40],"id":"cad16e35-b7c5-4a7a-8c68-3b70262136fa","name":"Consulta alertas no intervalo from/till do nó anterior","alwaysOutputData":false,"retryOnFail":false,"notesInFlow":false},{"parameters":{"jsCode":"const timestampQuedaLink = $('Switch').first().json.timestamp_queda;\nconst timestampRecovery = $('Consulta dados do evento no Zabbix1').first().json.result[0].clock;\nconst variavelSegundos = 3600; // também pode ser variável, dependendo do cliente.\n\nconst timestampRecoveryMaisSegundos = parseInt(timestampRecovery) + variavelSegundos;\n\nfunction formataSegundosParaData (timestamp) {\n  let timestampInt = parseInt(timestamp);\n  let data_formatada = DateTime.fromSeconds(timestampInt).setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy HH:mm:ss');\n\n  return data_formatada;\n}\n\nreturn {\n  \"timestamp_queda_do_link\": timestampQuedaLink,\n  \"timestamp_queda_do_link_formatado\": formataSegundosParaData(timestampQuedaLink),\n  \"timestamp_recovery\": timestampRecovery,\n  \"timestamp_recovery_formatado\": formataSegundosParaData(timestampRecovery),\n  \"timestamp_recovery_mais_segundos\": timestampRecoveryMaisSegundos,\n  \"timestamp_recovery_mais_segundos_formatado\": formataSegundosParaData(timestampRecoveryMaisSegundos)\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2384,-40],"id":"100bdb0a-3539-464e-8d0f-70ba0c455149","name":"Soma variável segundos à queda"},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4416,224],"id":"cb7a242e-88dd-498e-83ac-a19645d5b8a7","name":"Notifica encerramento oficial por Movidesk","disabled":true},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Over Items').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"count_status3","fieldValue":"={{ $('Loop Over Items').item.json.count_status3 + 1 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3728,-256],"id":"0623e51c-c787-4644-b192-d929a1e380a2","name":"Atualiza célula count_status","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c50536a4-1aac-4e97-ba8c-bac5fb7bbf0e","leftValue":"={{ $json.result }}","rightValue":1,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2832,-40],"id":"297570e9-33c0-4cc6-b23f-626756ac3770","name":"Existem eventos?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a9935f0f-e732-4e05-b447-1b55d7abd291","leftValue":"={{ $json.maiorClock }}","rightValue":2100,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3280,-208],"id":"027e6751-1a7c-4d5d-a652-5ebbb0228f5f","name":"Dif. Clock >= 2100 segs (35min)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e81ede7a-1c3d-4fca-8a4f-94ec56842120","leftValue":"={{ $('Consulta alertas no intervalo from/till do nó anterior').item.json.result }}","rightValue":4,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3536,16],"id":"2b575c9b-ab1c-4699-ae9a-d007bece7666","name":"Qnd alertas no período > 4"},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Over Items').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"id_evento_recuperacao","fieldValue":"={{ $json.result[0].eventid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2160,152],"id":"26e0437c-d693-434b-825b-eb618990b482","name":"Atualiza a linha id_recovery da tabela","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=O evento abaixo foi atualizado como \"encerrado\" não tendo havido novas quedas que configurem problemas maiores.\n\n⚠️ **Evento:** {{ $('Existem eventos?').item.json.result[0].name }}\n🕒 **Queda:** {{ $('Soma variável segundos à queda').item.json.timestamp_queda_do_link_formatado }}\n🕒 **Restabelecimento:** {{ $('Soma variável segundos à queda').item.json.timestamp_recovery_mais_segundos_formatado }}\n\n🆔 **ID do evento no Zabbix:** {{ $json.id_evento }}\n\n**FINALIZADO! ✅**","color":"#2CFF05","timestamp":"={{ $json.nome_host }}","title":"="}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[4192,224],"id":"2ec6ddf7-8f7c-4c62-bd9b-d2a9be17035c","name":"Atualiza encerramento do alerta","webhookId":"fb45a26b-8db7-452a-be25-22556394bf8b","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"rn6H9u9BbR5a2R1n","name":"Canal: Monitorando-encerramento"}}},{"parameters":{"operation":"update","tableId":"base","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Over Items').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_chamado","fieldValue":"=5"},{"fieldId":"count_sla","fieldValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3968,224],"id":"a1e1b2bb-260d-497b-9a04-46659557ddeb","name":"Atualiza status_chamado = 5","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/zabbix/api_jsonrpc.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"clock\"],\n    \"eventids\": \"{{ $json.id_evento }}\"\n  },\n  \"auth\": \"613a673311516e26fae52c8386f701a8e0d5f15909f47dd4f990f06d81d2c0a7\",\n  \"id\": 1\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1936,56],"id":"e0c9e0f2-92c0-4cc5-867a-9a3ca955da18","name":"Consulta dados do evento no Zabbix1"},{"parameters":{"operation":"get","tableId":"variaveis_cliente","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Switch').item.json.id_cliente_variaveis }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2160,-40],"id":"608cebb4-a335-4be1-9b70-b19097d1ecb4","name":"Recupera variáveis do cliente1","credentials":{"supabaseApi":{"id":"LGj9FXtwnJ9tLnw3","name":"Supabase account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[],[{"node":"If","type":"main","index":0}],[{"node":"Consulta dados do evento no Zabbix1","type":"main","index":0}]]},"Recupera variáveis do cliente":{"main":[[{"node":"Consulta dados do evento no Zabbix","type":"main","index":0}]]},"Ajusta para um objeto":{"main":[[{"node":"Recupera variáveis do cliente","type":"main","index":0}]]},"Calcula tempo decorrido e restante":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Consulta dados do evento no Zabbix":{"main":[[{"node":"Calcula tempo decorrido e restante","type":"main","index":0}]]},"Metade SLA até SLA fim":{"main":[[{"node":"Aguarda","type":"main","index":0}]]},"SLA fim até 2 horas do SLA":{"main":[[{"node":"Aguarda","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Metade SLA até SLA fim","type":"main","index":0}],[{"node":"SLA fim até 2 horas do SLA","type":"main","index":0}],[{"node":"Atualiza status count_sla","type":"main","index":0}]]},"Aguarda":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Atualiza status count_sla":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Ajusta para um objeto","type":"main","index":0}]]},"Trabalha com os clocks dos eventos":{"main":[[{"node":"Dif. Clock >= 2100 segs (35min)","type":"main","index":0}]]},"Consulta alertas no intervalo from/till do nó anterior":{"main":[[{"node":"Existem eventos?","type":"main","index":0}]]},"Soma variável segundos à queda":{"main":[[{"node":"Consulta alertas no intervalo from/till do nó anterior","type":"main","index":0}]]},"Existem eventos?":{"main":[[{"node":"Trabalha com os clocks dos eventos","type":"main","index":0}],[{"node":"Atualiza status_chamado = 5","type":"main","index":0}]]},"Dif. Clock >= 2100 segs (35min)":{"main":[[{"node":"Atualiza célula count_status","type":"main","index":0}],[{"node":"Qnd alertas no período > 4","type":"main","index":0}]]},"Qnd alertas no período > 4":{"main":[[{"node":"Atualiza célula count_status","type":"main","index":0}],[{"node":"Atualiza status_chamado = 5","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}]]},"Atualiza encerramento do alerta":{"main":[[{"node":"Notifica encerramento oficial por Movidesk","type":"main","index":0}]]},"Atualiza status_chamado = 5":{"main":[[{"node":"Atualiza encerramento do alerta","type":"main","index":0}]]},"Consulta dados do evento no Zabbix1":{"main":[[{"node":"Recupera variáveis do cliente1","type":"main","index":0},{"node":"Atualiza a linha id_recovery da tabela","type":"main","index":0}]]},"Recupera variáveis do cliente1":{"main":[[{"node":"Soma variável segundos à queda","type":"main","index":0}]]},"Atualiza célula count_status":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"08f9d8ef-ecdf-4ff1-8413-9fd93d2242f0","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-27T17:07:29.372Z","createdAt":"2025-10-27T17:07:29.372Z","role":"workflow:owner","workflowId":"i8Iow89rCa2NSG4N","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":null,"tags":[]}