métricas-de-eventos-que-encerram-sem-ticket-Ne8j7s2ewZkXcC8J-qg2a.json
{"updatedAt":"2026-01-31T01:48:41.554Z","createdAt":"2026-01-31T01:36:15.959Z","id":"Ne8j7s2ewZkXcC8J-qg2a","name":"Métricas de eventos que encerram sem ticket","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,-336],"id":"29f40893-dd39-4d04-8cd4-8638561df175","name":"Schedule Trigger"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"d6s15U9E8D9JBURf","mode":"list","cachedResultName":"métricas da queda de eventos","cachedResultUrl":"/projects/UcF1WBdewsFeRVFr/datatables/d6s15U9E8D9JBURf"},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[224,-336],"id":"2284eb08-06f9-46ab-b304-c67df4459d50","name":"Table: Recupera os eventos da tabela"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,-336],"id":"67c27394-5ab2-4fc5-a00f-2aecbb3b724a","name":"Loop Over Items"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1-iQTL8Xb_a85IX14i8HX_y0YdzG4SkAA0Uki5veDDcI","mode":"list","cachedResultName":"Métricas e análises dos eventos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-iQTL8Xb_a85IX14i8HX_y0YdzG4SkAA0Uki5veDDcI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2113632040,"mode":"list","cachedResultName":"Encerrados sem reconhecimento","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-iQTL8Xb_a85IX14i8HX_y0YdzG4SkAA0Uki5veDDcI/edit#gid=2113632040"},"columns":{"mappingMode":"defineBelow","value":{"id do evento":"={{ $json.id_evento }}","id do recovery":"={{ $json.id_recovery }}","nome do host":"={{ $json.host }}","nome do evento":"={{ $json.evento }}","data e hora da queda":"={{ $json.data_hora_queda }}","data e hora da recuperacao":"={{ $json.data_hora_recuperacao }}","tempo indisponível":"={{ $json.tempo_indisponivel }}","excedeu sla para abertura de chamado":"={{ $json.excedeu_sla_abertura_chamado }}","tipo de contrato":"={{ $json.tipo_contrato }}"},"matchingColumns":[],"schema":[{"id":"id do evento","displayName":"id do evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id do recovery","displayName":"id do recovery","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nome do host","displayName":"nome do host","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nome do evento","displayName":"nome do evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data e hora da queda","displayName":"data e hora da queda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data e hora da recuperacao","displayName":"data e hora da recuperacao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tempo indisponível","displayName":"tempo indisponível","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"excedeu sla para abertura de chamado","displayName":"excedeu sla para abertura de chamado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tipo de contrato","displayName":"tipo de contrato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[896,-240],"id":"3d849ba8-26d7-4cfe-8577-e7ca534c6f43","name":"Sheet: Adiciona evento na planilha","credentials":{"googleApi":{"id":"G23Xn5Fl7KzKph4r","name":"Google Service Account account"}}},{"parameters":{"amount":1.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[672,-240],"id":"2d0239c0-1883-41db-a6ee-0bb9bc6765bb","name":"Wait","webhookId":"86e6ddc5-fcb4-42ed-a45a-21a087405a4c"},{"parameters":{"operation":"deleteRows","dataTableId":{"__rl":true,"value":"d6s15U9E8D9JBURf","mode":"list","cachedResultName":"métricas da queda de eventos","cachedResultUrl":"/projects/UcF1WBdewsFeRVFr/datatables/d6s15U9E8D9JBURf"},"matchType":"allConditions","filters":{"conditions":[{"keyValue":"={{ $('Loop Over Items').first().json.id }}"}]},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[896,-640],"id":"c387352a-010f-4b1d-bd2d-9637f33a4c54","name":"Table: Remove linha"},{"parameters":{"authentication":"webhook","content":"teste eventos adicionados na planilha de métricas","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[672,-432],"id":"38f7f054-1985-4c0f-8304-053fc7a4dc1c","name":"Discord: Notifica adm","webhookId":"292dcdc0-a380-4b83-81f5-d4b9ddb750d9","credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Table: Recupera os eventos da tabela","type":"main","index":0}]]},"Table: Recupera os eventos da tabela":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Discord: Notifica adm","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Sheet: Adiciona evento na planilha","type":"main","index":0}]]},"Sheet: Adiciona evento na planilha":{"main":[[{"node":"Table: Remove linha","type":"main","index":0}]]},"Table: Remove linha":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"akaImKErHyzNLJa6"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"96d10edf-8f82-4e61-938e-ccea225f8343","activeVersionId":"96d10edf-8f82-4e61-938e-ccea225f8343","triggerCount":1,"shared":[{"updatedAt":"2026-01-31T01:36:15.968Z","createdAt":"2026-01-31T01:36:15.968Z","role":"workflow:owner","workflowId":"Ne8j7s2ewZkXcC8J-qg2a","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":{"updatedAt":"2026-01-31T01:48:29.000Z","createdAt":"2026-01-31T01:47:49.579Z","versionId":"96d10edf-8f82-4e61-938e-ccea225f8343","workflowId":"Ne8j7s2ewZkXcC8J-qg2a","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,-336],"id":"29f40893-dd39-4d04-8cd4-8638561df175","name":"Schedule Trigger"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"d6s15U9E8D9JBURf","mode":"list","cachedResultName":"métricas da queda de eventos","cachedResultUrl":"/projects/UcF1WBdewsFeRVFr/datatables/d6s15U9E8D9JBURf"},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[224,-336],"id":"2284eb08-06f9-46ab-b304-c67df4459d50","name":"Table: Recupera os eventos da tabela"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,-336],"id":"67c27394-5ab2-4fc5-a00f-2aecbb3b724a","name":"Loop Over Items"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1-iQTL8Xb_a85IX14i8HX_y0YdzG4SkAA0Uki5veDDcI","mode":"list","cachedResultName":"Métricas e análises dos eventos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-iQTL8Xb_a85IX14i8HX_y0YdzG4SkAA0Uki5veDDcI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2113632040,"mode":"list","cachedResultName":"Encerrados sem reconhecimento","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-iQTL8Xb_a85IX14i8HX_y0YdzG4SkAA0Uki5veDDcI/edit#gid=2113632040"},"columns":{"mappingMode":"defineBelow","value":{"id do evento":"={{ $json.id_evento }}","id do recovery":"={{ $json.id_recovery }}","nome do host":"={{ $json.host }}","nome do evento":"={{ $json.evento }}","data e hora da queda":"={{ $json.data_hora_queda }}","data e hora da recuperacao":"={{ $json.data_hora_recuperacao }}","tempo indisponível":"={{ $json.tempo_indisponivel }}","excedeu sla para abertura de chamado":"={{ $json.excedeu_sla_abertura_chamado }}","tipo de contrato":"={{ $json.tipo_contrato }}"},"matchingColumns":[],"schema":[{"id":"id do evento","displayName":"id do evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id do recovery","displayName":"id do recovery","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nome do host","displayName":"nome do host","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nome do evento","displayName":"nome do evento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data e hora da queda","displayName":"data e hora da queda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data e hora da recuperacao","displayName":"data e hora da recuperacao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tempo indisponível","displayName":"tempo indisponível","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"excedeu sla para abertura de chamado","displayName":"excedeu sla para abertura de chamado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tipo de contrato","displayName":"tipo de contrato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[896,-240],"id":"3d849ba8-26d7-4cfe-8577-e7ca534c6f43","name":"Sheet: Adiciona evento na planilha","credentials":{"googleApi":{"id":"G23Xn5Fl7KzKph4r","name":"Google Service Account account"}}},{"parameters":{"amount":1.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[672,-240],"id":"2d0239c0-1883-41db-a6ee-0bb9bc6765bb","name":"Wait","webhookId":"86e6ddc5-fcb4-42ed-a45a-21a087405a4c"},{"parameters":{"operation":"deleteRows","dataTableId":{"__rl":true,"value":"d6s15U9E8D9JBURf","mode":"list","cachedResultName":"métricas da queda de eventos","cachedResultUrl":"/projects/UcF1WBdewsFeRVFr/datatables/d6s15U9E8D9JBURf"},"matchType":"allConditions","filters":{"conditions":[{"keyValue":"={{ $('Loop Over Items').first().json.id }}"}]},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[896,-640],"id":"c387352a-010f-4b1d-bd2d-9637f33a4c54","name":"Table: Remove linha"},{"parameters":{"authentication":"webhook","content":"teste eventos adicionados na planilha de métricas","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[672,-432],"id":"38f7f054-1985-4c0f-8304-053fc7a4dc1c","name":"Discord: Notifica adm","webhookId":"292dcdc0-a380-4b83-81f5-d4b9ddb750d9","credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Table: Recupera os eventos da tabela","type":"main","index":0}]]},"Table: Recupera os eventos da tabela":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Discord: Notifica adm","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Sheet: Adiciona evento na planilha","type":"main","index":0}]]},"Sheet: Adiciona evento na planilha":{"main":[[{"node":"Table: Remove linha","type":"main","index":0}]]},"Table: Remove linha":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"authors":"William Semmler","name":"Version 1.0.0","description":"","autosaved":true},"tags":[{"updatedAt":"2025-11-14T17:43:44.290Z","createdAt":"2025-11-14T17:43:44.290Z","id":"8bNt8jzadFFgCXzs","name":"Reports"}]}