notificações-maxanalyzer-e-siem-jx67UU0usCvFK1ug.json
{"updatedAt":"2026-01-29T16:55:48.484Z","createdAt":"2025-12-17T13:56:09.474Z","id":"jx67UU0usCvFK1ug","name":"Notificações maxanalyzer e siem","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,-256],"id":"2a603b47-75ae-4312-a4e3-9248527e46ea","name":"Movidesk: Cria ticket","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"httpQueryAuth":{"id":"TMwtQv0hjXbvLVng","name":"Movidesk token"}}},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1072,-256],"id":"1ecec15a-2fe7-404b-abb6-e63cad82e943","name":"Zabbix: Reconhece evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}}},{"parameters":{"jsCode":"const id_movidesk = $input.first().json.id;\nconst id_zabbix = $('Zabbix: event.get').first().json.result[0].eventid;\n\nconst mensagem_de_reconhecimento = `Equipe SOC notificada do alerta - ticket Movidesk: ${id_movidesk}`;\n\nconst json_reconhecimento = {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: id_zabbix,\n    message: mensagem_de_reconhecimento,\n    action: 6\n  },\n  id: 1\n}\n\nreturn [json_reconhecimento]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,-256],"id":"533ea365-b977-4510-ac7c-9e1ab5fe261b","name":"json para reconhecimento no Zabbix"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6475683e-cec7-4c34-8f2e-8016cad34fd6","leftValue":"={{ parseInt($('Zabbix: event.get').item.json.result[0].r_eventid) }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,-160],"id":"5236f5ad-dcb5-410c-8e3c-9f95537ac4ff","name":"Novo chamado?"},{"parameters":{"jsCode":"// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\nconst host = $('Zabbix: event.get').first().json.result[0].hosts[0].host;\nconst evento = $('Zabbix: event.get').first().json.result[0].name;\nlet evento_name = $('Zabbix: event.get').first().json.result[0].relatedObject.event_name;\nconst data_hora_queda = DateTime.fromSeconds(parseInt($('Zabbix: event.get').first().json.result[0].clock), {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).toFormat(\"cccc dd/MM/yyyy HH:mm:ss\").toUpperCase();\n\nif (evento_name == \"\") {\n  evento_name = evento\n}\n\nlet linhaTabela = \"\";\nlinhaTabela += `\n  <tr>\n    <td>${host}</td>\n    <td>${evento_name.toUpperCase()}</td>\n    <td>${data_hora_queda}</td>\n  </tr>\n`;\n// ==== CLIAR HTML DO CLIENTE ====\nfunction htmlInterno (linhasTabelasFormatadas){\n  const htmlInterno = `\n    <p>${getGreeting()} equipe SOC</p>\n    </br>\n    <p>\n      Um novo evento iniciou no monitoramento.\n    </p>\n    <div style=\"width: 95%; padding: 10px; margin: 10px 0; text-align: center;\">\n      <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width: 100%; border-collapse: collapse;\">\n        <thead>\n          <tr>\n            <th>Host</th>\n            <th>Evento</th>\n            <th>Horário da ocorrência</th>\n          </tr>\n        </thead>\n        <tbody>\n          ${linhasTabelasFormatadas}\n        </tbody>\n      </table>\n    </div>\n  \n    <p>\n      Permanecemos à disposição.\n    </p>\n    </br>\n    <p>\n      Atenciosamente,<br>\n    </p>\n    <img \n      src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\"\n      alt=\"Assinatura\"\n    >\n  `;\n  return htmlInterno;\n}\n\nconst subject = `SOC - ${$('Zabbix: event.get').first().json.result[0].hosts[0].host} - ${evento_name}`\n\n\nreturn [{\n  htmlInterno: htmlInterno(linhaTabela),\n  subject,\n  evento_name,\n  data_hora_queda\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,-256],"id":"fb6fdfa6-54e6-4d8d-9d75-3793ef36c7ca","name":"HTML para notificação Movidesk"},{"parameters":{"jsCode":"const htmlInterno = $input.first().json.htmlInterno;\nconst idClienteMovidesk = \"48db5392-7d48-4a8a-\"; // ID do SOC \nconst subject = $input.first().json.subject\n\n//id_movideks_para_testes = 1836303904\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nreturn {\n  json: {\n    type: 1,\n    subject: `${subject}`,\n    category: \"68 - SOC - Maxprotection\",\n    serviceFirstLevelId: 1218367,\n    urgency: \"Alta\",\n    ownerTeam: \"SOC\",\n    status: \"Aguardando atendimento\",\n    justification: \"null\",\n    createdBy: { id: \"1458772347\" },\n    Clients: [{ id: idClienteMovidesk }],\n    actions: [\n      { type: 1, description: htmlInterno, createdBy: { id: \"1458772347\" } }\n    ]\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-256],"id":"a3ab1b63-13c1-40e7-8afa-401308a8793a","name":"json com HTML"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"clock\"],\n    \"eventids\": [{{ $('Zabbix: event.get').item.json.result[0].r_eventid }}]\n  },\n  \"id\": 1\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[176,-64],"id":"bba771be-be7f-4cd4-a1a2-033053bfb193","name":"Zabbix: Consulta reconhecimento","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}}},{"parameters":{"jsCode":"const timestamp_recupecao = parseInt($input.first().json.result[0].clock);\n\nconst data_hora_recuperacao = DateTime\n  .fromSeconds(timestamp_recupecao, { zone: \"America/Sao_Paulo\", locale: \"pt-BR\" })\n  .toFormat(\"cccc dd/MM/yyyy HH:mm:ss\")\n  .toUpperCase();\n\nconst reconhecimentos = $('Zabbix: event.get').first().json.result[0].acknowledges;\n\n// ===============================\n// Texto obrigatório na mensagem\n// ===============================\nconst TEXTO_RECONHECIMENTO =\n  \"Equipe SOC notificada do alerta - ticket Movidesk\";\n\n// ===============================\n// Função: extrair ticket Movidesk\n// ===============================\nfunction extrairTicketMovidesk(texto) {\n  if (!texto) return null;\n\n  // Busca número com 6 ou 7 dígitos\n  const match = texto.match(/\\b\\d{6,7}\\b/);\n  return match ? match[0] : null;\n}\n\n// ===============================\n// Variáveis de controle\n// ===============================\nlet possuiTicketMovidesk = false;\nlet ticketMovidesk = null;\n\n// ===============================\n// Percorre reconhecimentos\n// ===============================\nfor (const ev of reconhecimentos) {\n  const mensagem = ev?.message || \"\";\n\n  // 🔒 FILTRO PRINCIPAL\n  if (!mensagem.includes(TEXTO_RECONHECIMENTO)) {\n    continue;\n  }\n\n  const ticket = extrairTicketMovidesk(mensagem);\n\n  if (ticket) {\n    possuiTicketMovidesk = true;\n    ticketMovidesk = ticket;\n    break;\n  }\n}\n\n// ===============================\n// Resultado final\n// ===============================\nreturn {\n  possuiTicketMovidesk,\n  ticketMovidesk,\n  data_hora_recuperacao\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-64],"id":"403ebaac-a6ce-4cc6-bccc-4aba87abb84f","name":"Trata o evento e separa ticketMovidesk"},{"parameters":{"jsCode":"// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\nconst host = $('Zabbix: event.get').first().json.result[0].hosts[0].host;\nconst evento = $('Zabbix: event.get').first().json.result[0].name\nlet evento_name = $('Zabbix: event.get').first().json.result[0].relatedObject.event_name\nconst data_hora_queda = DateTime.fromSeconds(parseInt($('Zabbix: event.get').first().json.result[0].clock), {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).toFormat(\"cccc dd/MM/yyyy HH:mm:ss\").toUpperCase();\nconst data_hora_recuperacao = $input.first().json.data_hora_recuperacao\n\nif (evento_name == \"\") {\n  evento_name = evento\n}\n\nlet linhaTabela = \"\";\nlinhaTabela += `\n  <tr>\n    <td>${host}</td>\n    <td>${evento.toUpperCase()}</td>\n    <td>${data_hora_queda}</td>\n    <td>${data_hora_recuperacao}</td>\n  </tr>\n`;\n// ==== CLIAR HTML DO CLIENTE ====\nfunction htmlInterno (linhasTabelasFormatadas){\n  const htmlInterno = `\n    <p>${getGreeting()} equipe SOC</p>\n    </br>\n    <p>\n      Informamos que o evento abaixo foi <strong>encerrado</strong> no monitoramento.\n    </p>\n    <div style=\"width: 95%; padding: 10px; margin: 10px 0; text-align: center;\">\n      <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width: 100%; border-collapse: collapse;\">\n        <thead>\n          <tr>\n            <th>Host</th>\n            <th>Evento</th>\n            <th>Horário da ocorrência</th>\n            <th>Horário do restabelecimento</th>\n          </tr>\n        </thead>\n        <tbody>\n          ${linhasTabelasFormatadas}\n        </tbody>\n      </table>\n    </div>\n  \n    <p>\n      Permanecemos à disposição.\n    </p>\n    </br>\n    <p>\n      Atenciosamente,<br>\n    </p>\n    <img \n      src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\"\n      alt=\"Assinatura\"\n    >\n  `;\n  return htmlInterno;\n}\n\nreturn [{\n  htmlInterno: htmlInterno(linhaTabela)\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,-64],"id":"e6c6e286-1a27-4fd4-ac6e-accb91ddd271","name":"HTML para encerramento Movidesk"},{"parameters":{"method":"PATCH","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $('Trata o evento e separa ticketMovidesk').first().json.ticketMovidesk }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1296,-64],"id":"62902d3c-29d7-4049-addc-9764042a8d2b","name":"Movidesk: Atualiza ticket","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"httpQueryAuth":{"id":"TMwtQv0hjXbvLVng","name":"Movidesk token"}}},{"parameters":{"method":"PATCH","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $('Trata o evento e separa ticketMovidesk').first().json.ticketMovidesk }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1744,-64],"id":"b9ca92da-be2d-429d-960e-d03072601a85","name":"Movidesk: Encerra ticket","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"httpQueryAuth":{"id":"TMwtQv0hjXbvLVng","name":"Movidesk token"}}},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=**Evento:**\n- {{ $('Zabbix: event.get').item.json.result[0].hosts[0].host }} - {{ $('Zabbix: event.get').item.json.result[0].relatedObject.event_name.toUpperCase() == \"\" ? $('Zabbix: event.get').item.json.result[0].name.toUpperCase() : $('Zabbix: event.get').item.json.result[0].relatedObject.event_name.toUpperCase() }}\n- **INICIADO EM:** {{ DateTime.fromSeconds(parseInt($('Zabbix: event.get').item.json.result[0].clock), {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).toFormat(\"cccc, dd/MM/yyyy HH:mm:ss\").toUpperCase() }}\n- **RESTABELECIDO EM:** {{ $('Trata o evento e separa ticketMovidesk').item.json.data_hora_recuperacao }}\n\n- **TICKET MOVIDESK:** {{ $('Trata o evento e separa ticketMovidesk').item.json.ticketMovidesk }}","author":"Fluxo de automação SOC","color":"#69BF6C","title":"=Evento restabelecido - ticket Movidesk {{ $('Trata o evento e separa ticketMovidesk').item.json.ticketMovidesk }}","thumbnail":"https://cdn-icons-png.freepik.com/64/16799/16799619.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1968,-64],"id":"e46ba023-d6f5-479c-8ccc-c3bb1e91d4f0","name":"Discord: Notifica encerramento SOC","webhookId":"c074adbc-65cf-4b22-8186-85e63826eb9b","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"t1o3Z2XSGmxy2sj6","name":"SOC: chat-oficial"}}},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=- **HOST:** {{ $('Zabbix: event.get').first().json.result[0].hosts[0].host }}\n- **EVENTO:** {{ $('HTML para notificação Movidesk').first().json.evento_name.toUpperCase() }}\n- **INICIADO EM:** {{ $('HTML para notificação Movidesk').first().json.data_hora_queda }}\n\n- **TICKET MOVIDESK:** {{ $('Movidesk: Cria ticket').first().json.id }}","author":"Fluxo de automação SOC","color":"#00387b","title":"=Evento {{ $('Zabbix: event.get').item.json.result[0].hosts[0].host }} iniciado no Zabbix","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1296,-256],"id":"23b8ebc0-4196-4e56-9aac-1db747891669","name":"Discord: Notifica novo evento SOC","webhookId":"c074adbc-65cf-4b22-8186-85e63826eb9b","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"t1o3Z2XSGmxy2sj6","name":"SOC: chat-oficial"}}},{"parameters":{"httpMethod":"POST","path":"/soc-alertas","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1168,-256],"id":"20d07c47-4085-4c48-a8e2-59bfc59f37b6","name":"Webhook SOC -> n8n","webhookId":"64342bfc-5ac6-4291-b5bf-a8dfac6ab0ef"},{"parameters":{"jsCode":"const Id_evento = $input.first().json.body.id_evento;\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.get\",\n  params: {\n    output: [\"eventid\", \"clock\", \"r_eventid\", \"acknowledged\", \"name\"],\n    \n    eventids: Id_evento,\n\n    selectHosts: [\"host\", \"hostid\"],\n\n    selectRelatedObject: [\"event_name\"],\n\n    select_acknowledges: [\"action\", \"message\"]\n  },\n  \"id\": 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-944,-256],"id":"13489866-b309-40ee-a87c-7f555cbdf922","name":"json event.get"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-720,-160],"id":"1f2de2e7-e4e3-41d3-83ce-ce4000f1b085","name":"Zabbix: event.get","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}}},{"parameters":{"jsCode":"return {\n  json: {\n    status: \"Resolvido\",\n    baseStatus: \"Closed\", //\"Stopped\"\n    justification: null, //\"Validação\"\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,-64],"id":"b36db3a4-c167-4120-acfb-c850d978a58d","name":"json para encerramento"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1168,-64],"id":"76824df6-47f2-4ec1-871f-d44e397d2fdf","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"const Id_evento = \"9709673\";\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.get\",\n  params: {\n    output: [\"eventid\", \"clock\", \"r_eventid\", \"acknowledged\", \"name\"],\n    \n    eventids: Id_evento,\n\n    selectHosts: [\"host\", \"hostid\"],\n\n    selectRelatedObject: [\"event_name\"],\n\n    select_acknowledges: [\"action\", \"message\"]\n  },\n  \"id\": 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-944,-64],"id":"1d33129c-c9af-45f6-9e61-0d31b5b55c4f","name":"json event.get1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f39c27c9-6740-4c73-b8fb-af26da6ef95c","leftValue":"={{ $json.possuiTicketMovidesk }}","rightValue":"\"null\"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[624,-64],"id":"d22bfadf-bb31-463c-8ddc-745f8f013fd7","name":"Ticket existente?"},{"parameters":{"content":"PARA TESTES MANUAIS\n","height":208,"width":352,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1184,-112],"id":"e52fa6f9-3d1f-4a7a-9e86-f6bd60700abd","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"82660db1-b9f9-4c50-89f7-a93013d0f8c5","leftValue":"={{ $json.tagEventoBloqueado }}","rightValue":"ALTA PERDA DE PACOTES EM 10MIN","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-272,-160],"id":"22b1b8f0-c46c-491b-94b1-dc698e9182e1","name":"Evento liberado para fluxo?"},{"parameters":{"jsCode":"const evento = $input.first().json.result[0].name.toUpperCase();\nconst mapaEventosBlock = [\n  \"TEMPO DE RESPOSTA ICMP ACIMA\"\n]\n\nconst host = $input.first().json.result[0].name;\n// const hostMapaBlock = [\n// ]\n\nfor (const eventoMapeado of mapaEventosBlock) {\n  const flagEventoBlock = evento.includes(eventoMapeado);\n  if (flagEventoBlock == true) {\n    return [{tagEventoBloqueado: true, evento, }]\n    break\n  }\n}\n\n// for (const hostBlock of hostMapaBlock) {\n//   if (host == hostBlock) {\n//     return [{tagEventoBloqueado: true, host}]\n//     break \n//   }\n// }\n\nreturn [{tagEventoBloqueado: false, evento}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,-160],"id":"da075def-331a-428a-82fe-558e3efa9a4f","name":"BLOQUEIOS"},{"parameters":{"jsCode":"const htmlInterno = $input.first().json.htmlInterno;\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nreturn {\n  json: {\n    actions: [\n      { type: 1, description: htmlInterno, createdBy: { id: \"1458772347\" } }\n    ]\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,-64],"id":"ccb694ce-c9ff-4d78-ac30-0d4f5a10a0ee","name":"json com HTML de encerramento"}],"connections":{"Movidesk: Cria ticket":{"main":[[{"node":"json para reconhecimento no Zabbix","type":"main","index":0}],[]]},"json para reconhecimento no Zabbix":{"main":[[{"node":"Zabbix: Reconhece evento","type":"main","index":0}]]},"Novo chamado?":{"main":[[{"node":"HTML para notificação Movidesk","type":"main","index":0}],[{"node":"Zabbix: Consulta reconhecimento","type":"main","index":0}]]},"Zabbix: Reconhece evento":{"main":[[{"node":"Discord: Notifica novo evento SOC","type":"main","index":0}]]},"HTML para notificação Movidesk":{"main":[[{"node":"json com HTML","type":"main","index":0}]]},"json com HTML":{"main":[[{"node":"Movidesk: Cria ticket","type":"main","index":0}]]},"Zabbix: Consulta reconhecimento":{"main":[[{"node":"Trata o evento e separa ticketMovidesk","type":"main","index":0}]]},"Trata o evento e separa ticketMovidesk":{"main":[[{"node":"Ticket existente?","type":"main","index":0}]]},"HTML para encerramento Movidesk":{"main":[[{"node":"json com HTML de encerramento","type":"main","index":0}]]},"Movidesk: Atualiza ticket":{"main":[[{"node":"json para encerramento","type":"main","index":0}]]},"Movidesk: Encerra ticket":{"main":[[{"node":"Discord: Notifica encerramento SOC","type":"main","index":0}]]},"Webhook SOC -> n8n":{"main":[[{"node":"json event.get","type":"main","index":0}]]},"json event.get":{"main":[[{"node":"Zabbix: event.get","type":"main","index":0}]]},"Zabbix: event.get":{"main":[[{"node":"BLOQUEIOS","type":"main","index":0}]]},"json para encerramento":{"main":[[{"node":"Movidesk: Encerra ticket","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"json event.get1","type":"main","index":0}]]},"json event.get1":{"main":[[{"node":"Zabbix: event.get","type":"main","index":0}]]},"Ticket existente?":{"main":[[{"node":"HTML para encerramento Movidesk","type":"main","index":0}],[]]},"Discord: Notifica novo evento SOC":{"main":[[]]},"Discord: Notifica encerramento SOC":{"main":[[]]},"BLOQUEIOS":{"main":[[{"node":"Evento liberado para fluxo?","type":"main","index":0}]]},"Evento liberado para fluxo?":{"main":[[{"node":"Novo chamado?","type":"main","index":0}],[]]},"json com HTML de encerramento":{"main":[[{"node":"Movidesk: Atualiza ticket","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"akaImKErHyzNLJa6"},"staticData":null,"meta":null,"pinData":{},"versionId":"dc143438-5ef7-468d-a998-6b12c068a410","activeVersionId":"dc143438-5ef7-468d-a998-6b12c068a410","triggerCount":1,"shared":[{"updatedAt":"2025-12-17T13:56:09.485Z","createdAt":"2025-12-17T13:56:09.485Z","role":"workflow:owner","workflowId":"jx67UU0usCvFK1ug","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":{"updatedAt":"2026-01-29T17:05:55.000Z","createdAt":"2026-01-29T16:55:48.489Z","versionId":"dc143438-5ef7-468d-a998-6b12c068a410","workflowId":"jx67UU0usCvFK1ug","nodes":[{"parameters":{"method":"POST","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,-256],"id":"2a603b47-75ae-4312-a4e3-9248527e46ea","name":"Movidesk: Cria ticket","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"httpQueryAuth":{"id":"TMwtQv0hjXbvLVng","name":"Movidesk token"}}},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1072,-256],"id":"1ecec15a-2fe7-404b-abb6-e63cad82e943","name":"Zabbix: Reconhece evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}}},{"parameters":{"jsCode":"const id_movidesk = $input.first().json.id;\nconst id_zabbix = $('Zabbix: event.get').first().json.result[0].eventid;\n\nconst mensagem_de_reconhecimento = `Equipe SOC notificada do alerta - ticket Movidesk: ${id_movidesk}`;\n\nconst json_reconhecimento = {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: id_zabbix,\n    message: mensagem_de_reconhecimento,\n    action: 6\n  },\n  id: 1\n}\n\nreturn [json_reconhecimento]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,-256],"id":"533ea365-b977-4510-ac7c-9e1ab5fe261b","name":"json para reconhecimento no Zabbix"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6475683e-cec7-4c34-8f2e-8016cad34fd6","leftValue":"={{ parseInt($('Zabbix: event.get').item.json.result[0].r_eventid) }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,-160],"id":"5236f5ad-dcb5-410c-8e3c-9f95537ac4ff","name":"Novo chamado?"},{"parameters":{"jsCode":"// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\nconst host = $('Zabbix: event.get').first().json.result[0].hosts[0].host;\nconst evento = $('Zabbix: event.get').first().json.result[0].name;\nlet evento_name = $('Zabbix: event.get').first().json.result[0].relatedObject.event_name;\nconst data_hora_queda = DateTime.fromSeconds(parseInt($('Zabbix: event.get').first().json.result[0].clock), {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).toFormat(\"cccc dd/MM/yyyy HH:mm:ss\").toUpperCase();\n\nif (evento_name == \"\") {\n  evento_name = evento\n}\n\nlet linhaTabela = \"\";\nlinhaTabela += `\n  <tr>\n    <td>${host}</td>\n    <td>${evento_name.toUpperCase()}</td>\n    <td>${data_hora_queda}</td>\n  </tr>\n`;\n// ==== CLIAR HTML DO CLIENTE ====\nfunction htmlInterno (linhasTabelasFormatadas){\n  const htmlInterno = `\n    <p>${getGreeting()} equipe SOC</p>\n    </br>\n    <p>\n      Um novo evento iniciou no monitoramento.\n    </p>\n    <div style=\"width: 95%; padding: 10px; margin: 10px 0; text-align: center;\">\n      <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width: 100%; border-collapse: collapse;\">\n        <thead>\n          <tr>\n            <th>Host</th>\n            <th>Evento</th>\n            <th>Horário da ocorrência</th>\n          </tr>\n        </thead>\n        <tbody>\n          ${linhasTabelasFormatadas}\n        </tbody>\n      </table>\n    </div>\n  \n    <p>\n      Permanecemos à disposição.\n    </p>\n    </br>\n    <p>\n      Atenciosamente,<br>\n    </p>\n    <img \n      src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\"\n      alt=\"Assinatura\"\n    >\n  `;\n  return htmlInterno;\n}\n\nconst subject = `SOC - ${$('Zabbix: event.get').first().json.result[0].hosts[0].host} - ${evento_name}`\n\n\nreturn [{\n  htmlInterno: htmlInterno(linhaTabela),\n  subject,\n  evento_name,\n  data_hora_queda\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,-256],"id":"fb6fdfa6-54e6-4d8d-9d75-3793ef36c7ca","name":"HTML para notificação Movidesk"},{"parameters":{"jsCode":"const htmlInterno = $input.first().json.htmlInterno;\nconst idClienteMovidesk = \"48db5392-7d48-4a8a-\"; // ID do SOC \nconst subject = $input.first().json.subject\n\n//id_movideks_para_testes = 1836303904\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nreturn {\n  json: {\n    type: 1,\n    subject: `${subject}`,\n    category: \"68 - SOC - Maxprotection\",\n    serviceFirstLevelId: 1218367,\n    urgency: \"Alta\",\n    ownerTeam: \"SOC\",\n    status: \"Aguardando atendimento\",\n    justification: \"null\",\n    createdBy: { id: \"1458772347\" },\n    Clients: [{ id: idClienteMovidesk }],\n    actions: [\n      { type: 1, description: htmlInterno, createdBy: { id: \"1458772347\" } }\n    ]\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-256],"id":"a3ab1b63-13c1-40e7-8afa-401308a8793a","name":"json com HTML"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"clock\"],\n    \"eventids\": [{{ $('Zabbix: event.get').item.json.result[0].r_eventid }}]\n  },\n  \"id\": 1\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[176,-64],"id":"bba771be-be7f-4cd4-a1a2-033053bfb193","name":"Zabbix: Consulta reconhecimento","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}}},{"parameters":{"jsCode":"const timestamp_recupecao = parseInt($input.first().json.result[0].clock);\n\nconst data_hora_recuperacao = DateTime\n  .fromSeconds(timestamp_recupecao, { zone: \"America/Sao_Paulo\", locale: \"pt-BR\" })\n  .toFormat(\"cccc dd/MM/yyyy HH:mm:ss\")\n  .toUpperCase();\n\nconst reconhecimentos = $('Zabbix: event.get').first().json.result[0].acknowledges;\n\n// ===============================\n// Texto obrigatório na mensagem\n// ===============================\nconst TEXTO_RECONHECIMENTO =\n  \"Equipe SOC notificada do alerta - ticket Movidesk\";\n\n// ===============================\n// Função: extrair ticket Movidesk\n// ===============================\nfunction extrairTicketMovidesk(texto) {\n  if (!texto) return null;\n\n  // Busca número com 6 ou 7 dígitos\n  const match = texto.match(/\\b\\d{6,7}\\b/);\n  return match ? match[0] : null;\n}\n\n// ===============================\n// Variáveis de controle\n// ===============================\nlet possuiTicketMovidesk = false;\nlet ticketMovidesk = null;\n\n// ===============================\n// Percorre reconhecimentos\n// ===============================\nfor (const ev of reconhecimentos) {\n  const mensagem = ev?.message || \"\";\n\n  // 🔒 FILTRO PRINCIPAL\n  if (!mensagem.includes(TEXTO_RECONHECIMENTO)) {\n    continue;\n  }\n\n  const ticket = extrairTicketMovidesk(mensagem);\n\n  if (ticket) {\n    possuiTicketMovidesk = true;\n    ticketMovidesk = ticket;\n    break;\n  }\n}\n\n// ===============================\n// Resultado final\n// ===============================\nreturn {\n  possuiTicketMovidesk,\n  ticketMovidesk,\n  data_hora_recuperacao\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-64],"id":"403ebaac-a6ce-4cc6-bccc-4aba87abb84f","name":"Trata o evento e separa ticketMovidesk"},{"parameters":{"jsCode":"// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\nconst host = $('Zabbix: event.get').first().json.result[0].hosts[0].host;\nconst evento = $('Zabbix: event.get').first().json.result[0].name\nlet evento_name = $('Zabbix: event.get').first().json.result[0].relatedObject.event_name\nconst data_hora_queda = DateTime.fromSeconds(parseInt($('Zabbix: event.get').first().json.result[0].clock), {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).toFormat(\"cccc dd/MM/yyyy HH:mm:ss\").toUpperCase();\nconst data_hora_recuperacao = $input.first().json.data_hora_recuperacao\n\nif (evento_name == \"\") {\n  evento_name = evento\n}\n\nlet linhaTabela = \"\";\nlinhaTabela += `\n  <tr>\n    <td>${host}</td>\n    <td>${evento.toUpperCase()}</td>\n    <td>${data_hora_queda}</td>\n    <td>${data_hora_recuperacao}</td>\n  </tr>\n`;\n// ==== CLIAR HTML DO CLIENTE ====\nfunction htmlInterno (linhasTabelasFormatadas){\n  const htmlInterno = `\n    <p>${getGreeting()} equipe SOC</p>\n    </br>\n    <p>\n      Informamos que o evento abaixo foi <strong>encerrado</strong> no monitoramento.\n    </p>\n    <div style=\"width: 95%; padding: 10px; margin: 10px 0; text-align: center;\">\n      <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width: 100%; border-collapse: collapse;\">\n        <thead>\n          <tr>\n            <th>Host</th>\n            <th>Evento</th>\n            <th>Horário da ocorrência</th>\n            <th>Horário do restabelecimento</th>\n          </tr>\n        </thead>\n        <tbody>\n          ${linhasTabelasFormatadas}\n        </tbody>\n      </table>\n    </div>\n  \n    <p>\n      Permanecemos à disposição.\n    </p>\n    </br>\n    <p>\n      Atenciosamente,<br>\n    </p>\n    <img \n      src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\"\n      alt=\"Assinatura\"\n    >\n  `;\n  return htmlInterno;\n}\n\nreturn [{\n  htmlInterno: htmlInterno(linhaTabela)\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,-64],"id":"e6c6e286-1a27-4fd4-ac6e-accb91ddd271","name":"HTML para encerramento Movidesk"},{"parameters":{"method":"PATCH","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $('Trata o evento e separa ticketMovidesk').first().json.ticketMovidesk }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1296,-64],"id":"62902d3c-29d7-4049-addc-9764042a8d2b","name":"Movidesk: Atualiza ticket","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"httpQueryAuth":{"id":"TMwtQv0hjXbvLVng","name":"Movidesk token"}}},{"parameters":{"method":"PATCH","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $('Trata o evento e separa ticketMovidesk').first().json.ticketMovidesk }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1744,-64],"id":"b9ca92da-be2d-429d-960e-d03072601a85","name":"Movidesk: Encerra ticket","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"httpQueryAuth":{"id":"TMwtQv0hjXbvLVng","name":"Movidesk token"}}},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=**Evento:**\n- {{ $('Zabbix: event.get').item.json.result[0].hosts[0].host }} - {{ $('Zabbix: event.get').item.json.result[0].relatedObject.event_name.toUpperCase() == \"\" ? $('Zabbix: event.get').item.json.result[0].name.toUpperCase() : $('Zabbix: event.get').item.json.result[0].relatedObject.event_name.toUpperCase() }}\n- **INICIADO EM:** {{ DateTime.fromSeconds(parseInt($('Zabbix: event.get').item.json.result[0].clock), {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).toFormat(\"cccc, dd/MM/yyyy HH:mm:ss\").toUpperCase() }}\n- **RESTABELECIDO EM:** {{ $('Trata o evento e separa ticketMovidesk').item.json.data_hora_recuperacao }}\n\n- **TICKET MOVIDESK:** {{ $('Trata o evento e separa ticketMovidesk').item.json.ticketMovidesk }}","author":"Fluxo de automação SOC","color":"#69BF6C","title":"=Evento restabelecido - ticket Movidesk {{ $('Trata o evento e separa ticketMovidesk').item.json.ticketMovidesk }}","thumbnail":"https://cdn-icons-png.freepik.com/64/16799/16799619.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1968,-64],"id":"e46ba023-d6f5-479c-8ccc-c3bb1e91d4f0","name":"Discord: Notifica encerramento SOC","webhookId":"c074adbc-65cf-4b22-8186-85e63826eb9b","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"t1o3Z2XSGmxy2sj6","name":"SOC: chat-oficial"}}},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=- **HOST:** {{ $('Zabbix: event.get').first().json.result[0].hosts[0].host }}\n- **EVENTO:** {{ $('HTML para notificação Movidesk').first().json.evento_name.toUpperCase() }}\n- **INICIADO EM:** {{ $('HTML para notificação Movidesk').first().json.data_hora_queda }}\n\n- **TICKET MOVIDESK:** {{ $('Movidesk: Cria ticket').first().json.id }}","author":"Fluxo de automação SOC","color":"#00387b","title":"=Evento {{ $('Zabbix: event.get').item.json.result[0].hosts[0].host }} iniciado no Zabbix","thumbnail":"https://cdn-icons-png.freepik.com/64/6897/6897039.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1296,-256],"id":"23b8ebc0-4196-4e56-9aac-1db747891669","name":"Discord: Notifica novo evento SOC","webhookId":"c074adbc-65cf-4b22-8186-85e63826eb9b","retryOnFail":true,"credentials":{"discordWebhookApi":{"id":"t1o3Z2XSGmxy2sj6","name":"SOC: chat-oficial"}}},{"parameters":{"httpMethod":"POST","path":"/soc-alertas","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1168,-256],"id":"20d07c47-4085-4c48-a8e2-59bfc59f37b6","name":"Webhook SOC -> n8n","webhookId":"64342bfc-5ac6-4291-b5bf-a8dfac6ab0ef"},{"parameters":{"jsCode":"const Id_evento = $input.first().json.body.id_evento;\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.get\",\n  params: {\n    output: [\"eventid\", \"clock\", \"r_eventid\", \"acknowledged\", \"name\"],\n    \n    eventids: Id_evento,\n\n    selectHosts: [\"host\", \"hostid\"],\n\n    selectRelatedObject: [\"event_name\"],\n\n    select_acknowledges: [\"action\", \"message\"]\n  },\n  \"id\": 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-944,-256],"id":"13489866-b309-40ee-a87c-7f555cbdf922","name":"json event.get"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-720,-160],"id":"1f2de2e7-e4e3-41d3-83ce-ce4000f1b085","name":"Zabbix: event.get","retryOnFail":true,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}}},{"parameters":{"jsCode":"return {\n  json: {\n    status: \"Resolvido\",\n    baseStatus: \"Closed\", //\"Stopped\"\n    justification: null, //\"Validação\"\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,-64],"id":"b36db3a4-c167-4120-acfb-c850d978a58d","name":"json para encerramento"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1168,-64],"id":"76824df6-47f2-4ec1-871f-d44e397d2fdf","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"const Id_evento = \"9709673\";\n\n\nreturn {\n  jsonrpc: \"2.0\",\n  method: \"event.get\",\n  params: {\n    output: [\"eventid\", \"clock\", \"r_eventid\", \"acknowledged\", \"name\"],\n    \n    eventids: Id_evento,\n\n    selectHosts: [\"host\", \"hostid\"],\n\n    selectRelatedObject: [\"event_name\"],\n\n    select_acknowledges: [\"action\", \"message\"]\n  },\n  \"id\": 1\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-944,-64],"id":"1d33129c-c9af-45f6-9e61-0d31b5b55c4f","name":"json event.get1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f39c27c9-6740-4c73-b8fb-af26da6ef95c","leftValue":"={{ $json.possuiTicketMovidesk }}","rightValue":"\"null\"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[624,-64],"id":"d22bfadf-bb31-463c-8ddc-745f8f013fd7","name":"Ticket existente?"},{"parameters":{"content":"PARA TESTES MANUAIS\n","height":208,"width":352,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1184,-112],"id":"e52fa6f9-3d1f-4a7a-9e86-f6bd60700abd","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"82660db1-b9f9-4c50-89f7-a93013d0f8c5","leftValue":"={{ $json.tagEventoBloqueado }}","rightValue":"ALTA PERDA DE PACOTES EM 10MIN","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-272,-160],"id":"22b1b8f0-c46c-491b-94b1-dc698e9182e1","name":"Evento liberado para fluxo?"},{"parameters":{"jsCode":"const evento = $input.first().json.result[0].name.toUpperCase();\nconst mapaEventosBlock = [\n  \"TEMPO DE RESPOSTA ICMP ACIMA\"\n]\n\nconst host = $input.first().json.result[0].name;\n// const hostMapaBlock = [\n// ]\n\nfor (const eventoMapeado of mapaEventosBlock) {\n  const flagEventoBlock = evento.includes(eventoMapeado);\n  if (flagEventoBlock == true) {\n    return [{tagEventoBloqueado: true, evento, }]\n    break\n  }\n}\n\n// for (const hostBlock of hostMapaBlock) {\n//   if (host == hostBlock) {\n//     return [{tagEventoBloqueado: true, host}]\n//     break \n//   }\n// }\n\nreturn [{tagEventoBloqueado: false, evento}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,-160],"id":"da075def-331a-428a-82fe-558e3efa9a4f","name":"BLOQUEIOS"},{"parameters":{"jsCode":"const htmlInterno = $input.first().json.htmlInterno;\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nreturn {\n  json: {\n    actions: [\n      { type: 1, description: htmlInterno, createdBy: { id: \"1458772347\" } }\n    ]\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,-64],"id":"ccb694ce-c9ff-4d78-ac30-0d4f5a10a0ee","name":"json com HTML de encerramento"}],"connections":{"Movidesk: Cria ticket":{"main":[[{"node":"json para reconhecimento no Zabbix","type":"main","index":0}],[]]},"json para reconhecimento no Zabbix":{"main":[[{"node":"Zabbix: Reconhece evento","type":"main","index":0}]]},"Novo chamado?":{"main":[[{"node":"HTML para notificação Movidesk","type":"main","index":0}],[{"node":"Zabbix: Consulta reconhecimento","type":"main","index":0}]]},"Zabbix: Reconhece evento":{"main":[[{"node":"Discord: Notifica novo evento SOC","type":"main","index":0}]]},"HTML para notificação Movidesk":{"main":[[{"node":"json com HTML","type":"main","index":0}]]},"json com HTML":{"main":[[{"node":"Movidesk: Cria ticket","type":"main","index":0}]]},"Zabbix: Consulta reconhecimento":{"main":[[{"node":"Trata o evento e separa ticketMovidesk","type":"main","index":0}]]},"Trata o evento e separa ticketMovidesk":{"main":[[{"node":"Ticket existente?","type":"main","index":0}]]},"HTML para encerramento Movidesk":{"main":[[{"node":"json com HTML de encerramento","type":"main","index":0}]]},"Movidesk: Atualiza ticket":{"main":[[{"node":"json para encerramento","type":"main","index":0}]]},"Movidesk: Encerra ticket":{"main":[[{"node":"Discord: Notifica encerramento SOC","type":"main","index":0}]]},"Webhook SOC -> n8n":{"main":[[{"node":"json event.get","type":"main","index":0}]]},"json event.get":{"main":[[{"node":"Zabbix: event.get","type":"main","index":0}]]},"Zabbix: event.get":{"main":[[{"node":"BLOQUEIOS","type":"main","index":0}]]},"json para encerramento":{"main":[[{"node":"Movidesk: Encerra ticket","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"json event.get1","type":"main","index":0}]]},"json event.get1":{"main":[[{"node":"Zabbix: event.get","type":"main","index":0}]]},"Ticket existente?":{"main":[[{"node":"HTML para encerramento Movidesk","type":"main","index":0}],[]]},"Discord: Notifica novo evento SOC":{"main":[[]]},"Discord: Notifica encerramento SOC":{"main":[[]]},"BLOQUEIOS":{"main":[[{"node":"Evento liberado para fluxo?","type":"main","index":0}]]},"Evento liberado para fluxo?":{"main":[[{"node":"Novo chamado?","type":"main","index":0}],[]]},"json com HTML de encerramento":{"main":[[{"node":"Movidesk: Atualiza ticket","type":"main","index":0}]]}},"authors":"William Semmler","name":"Version 1.0.1","description":"","autosaved":true},"tags":[{"updatedAt":"2025-12-17T16:06:12.585Z","createdAt":"2025-12-17T16:06:12.585Z","id":"ysjEV4UVdKwLKxVm","name":"SOC"}]}