olfar-matriz-ruckus-730-7HKCikxUfMc8vchY.json
{"updatedAt":"2026-01-27T18:43:40.197Z","createdAt":"2025-12-19T19:48:27.610Z","id":"7HKCikxUfMc8vchY","name":"Olfar matriz ruckus 730","active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,-96],"id":"cf40d639-d8d8-4fb9-9282-cc73baa9ed59","name":"When Executed by Another Workflow"},{"parameters":{"content":"Nessa rotina, deve ser aberto chamado para para Olfar Matriz referente aos Ruckus R730.\n\nNotificados:\nprincipal - Robinson\ncopia - welton e dinael\n\nAs notificações entram na automação pelo fluxo de entrada, passam pelo fluxo de tratamento e lá são direcionadas para o fluxo atual. Chegam no fluxo de entrada com 10 minutos.","height":256,"width":512},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16,-448],"id":"474d23fa-867d-4db3-af53-c83b0c13a0bb","name":"Sticky Note"},{"parameters":{"jsCode":"const htmlCliente = $input.first().json.htmlCliente;\nconst subject = $input.first().json.subject;\nconst idClienteMovidesk = $input.first().json.idCliente;\nconst emailCopiaPara = $input.first().json.copiaPara;\n\n//id_movideks_para_testes = 1836303904\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nreturn {\n  json: {\n    type: 2,\n    subject: `${subject}`,\n    category: \"01 - Atendimento Helpdesk\",\n    serviceFirstLevelId: 325878,\n    urgency: \"Média\",\n    ownerTeam: \"NOC\",\n    status: \"Aguardando\",\n    justification: \"Validação\",\n    createdBy: { id: \"1458772347\" },\n    Clients: [{ id: idClienteMovidesk }],\n    cc: emailCopiaPara,\n    actions: [\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" } }\n    ]\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,-96],"id":"0314aa05-3ef4-45bb-b2ab-e5e69ec00c2a","name":"json para abertura ticket Movidesk"},{"parameters":{"method":"POST","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"538206c9-60b4-4bf4-ae85-415ab9a68be6"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,-96],"id":"ee425a90-ad02-4e8f-a583-02beb2cfc0a6","name":"Movidesk: Cria ticket","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false},{"parameters":{"jsCode":"const id_cliente_movidesk = \"d438e499-3e3c-427b-\";\nconst lista_emails_copia = \"welton.lira@olfar.ind.br,dinaelimperatori@gmail.com,dinael@maxprotection.com.br\";\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\n// Monta as linhas do tbody\nconst hostName = $input.first().json['Nome do host'];\nconst evento = $input.first().json['Nome do evento'];\nconst dataHoraFormatada = $input.first().json['Data e hora do evento'];\n\n// ==== CLIAR HTML DO CLIENTE ====\nfunction htmlCliente(nomeHost, eventoGerador, dataHoraEvento){\n  const htmlCliente = `\n    <p>${getGreeting()}</p>\n    <br>\n    <p>Um novo evento de indisponibilidade referente a RUCKUS 730 foi gerado em nosso sistema de monitoramento:</p>\n    <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n      <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n        <thead>\n            <tr>\n              <th>Host</th>\n              <th>Evento</th>\n              <th>Horário da ocorrência</th>\n            </tr>\n        </thead>\n        <tbody>\n            <tr>\n              <td>${nomeHost}</td>\n              <td>${eventoGerador}</td>\n              <td>${dataHoraEvento}</td>\n            </tr>\n        </tbody>\n      </table>\n    </div>\n    \n    <p>Permanecemos à disposição.</p>\n    <br>\n    <br>\n    <p>Atenciosamente,</p>\n    <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n  `;\n  return htmlCliente;\n}\n\nconst subject = `REPARO - ${hostName}`\n\nreturn [{\n  htmlCliente: htmlCliente(hostName, evento, dataHoraFormatada),\n  subject,\n  id_cliente_movidesk,\n  lista_emails_copia\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,-96],"id":"712f6856-1de9-46b5-a137-19e40e5373bd","name":"Prepara html do cliente"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9cbb9103-3686-45dc-9c0d-28b7da789d75","leftValue":"={{ $json.status_evento }}","rightValue":"Novo chamado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,-96],"id":"d06bc4fa-fea5-4cef-98bf-03138b0c5568","name":"Novo evento?"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,-96],"id":"e160d4f4-b765-4089-be6e-a07f669a4608","name":"Zabbix: Reconhece evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const mensagem_reconhecimento = $input.first().json.id;\nconst id_para_reconhecimento = $('When Executed by Another Workflow').first().json['ID do evento'];\n\nconst json_reconhecimento = {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: id_para_reconhecimento,\n    message: String(mensagem_reconhecimento),\n    action: 6\n  },\n  id: 1\n}\n\nreturn [json_reconhecimento]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,-96],"id":"dee1ad0e-ceef-4bc8-83ae-33fa0935fd00","name":"json para reconhecimento no Zabbix"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Novo evento?","type":"main","index":0}]]},"json para abertura ticket Movidesk":{"main":[[{"node":"Movidesk: Cria ticket","type":"main","index":0}]]},"Prepara html do cliente":{"main":[[{"node":"json para abertura ticket Movidesk","type":"main","index":0}]]},"Novo evento?":{"main":[[{"node":"Prepara html do cliente","type":"main","index":0}]]},"json para reconhecimento no Zabbix":{"main":[[{"node":"Zabbix: Reconhece evento","type":"main","index":0}]]},"Movidesk: Cria ticket":{"main":[[{"node":"json para reconhecimento no Zabbix","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"akaImKErHyzNLJa6"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"id":"270","ID do evento":"3073695","ID do host":"21725","ID do grupo":"745","status_evento":"Novo chamado","reconhecimento":"Não reconhecido","Timestamp da queda":"1766172842","Data e hora do evento":"SEXTA-FEIRA 19/12/2025 16:34:02","Nome do host":"OLFAR MATRIZ - RUCKUS R730 AP-01-AUDITORIO - 10.1.1.96 - TESTE WILLIAM","Raiz host":"OLFAR MATRIZ","Nome do evento":"INDISPONÍVEL VIA ICMP","Nome do grupo":"OLFAR-RUCKUS","Eventos relacionados":"[\"3073695\"]"}}]},"versionId":"aa4f66ec-83fb-4f50-b14d-e2d4d0b26e4d","activeVersionId":"4fd6960b-b777-4b9e-ad53-c1f91a6b8fc2","triggerCount":0,"shared":[{"updatedAt":"2025-12-19T19:48:27.623Z","createdAt":"2025-12-19T19:48:27.623Z","role":"workflow:owner","workflowId":"7HKCikxUfMc8vchY","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":{"updatedAt":"2025-12-29T12:16:47.056Z","createdAt":"2025-12-29T12:16:47.056Z","versionId":"4fd6960b-b777-4b9e-ad53-c1f91a6b8fc2","workflowId":"7HKCikxUfMc8vchY","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,-96],"id":"cf40d639-d8d8-4fb9-9282-cc73baa9ed59","name":"When Executed by Another Workflow"},{"parameters":{"content":"Nessa rotina, deve ser aberto chamado para para Olfar Matriz referente aos Ruckus R730.\n\nNotificados:\nprincipal - Robinson\ncopia - welton e dinael\n\nAs notificações entram na automação pelo fluxo de entrada, passam pelo fluxo de tratamento e lá são direcionadas para o fluxo atual. Chegam no fluxo de entrada com 10 minutos.","height":256,"width":512},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,80],"id":"474d23fa-867d-4db3-af53-c83b0c13a0bb","name":"Sticky Note"},{"parameters":{"jsCode":"const htmlCliente = $input.first().json.htmlCliente;\nconst subject = $input.first().json.subject;\nconst idClienteMovidesk = $input.first().json.idCliente;\nconst emailCopiaPara = $input.first().json.copiaPara;\n\n//id_movideks_para_testes = 1836303904\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nreturn {\n  json: {\n    type: 2,\n    subject: `${subject}`,\n    category: \"01 - Atendimento Helpdesk\",\n    serviceFirstLevelId: 325878,\n    urgency: \"Média\",\n    ownerTeam: \"NOC\",\n    status: \"Aguardando\",\n    justification: \"Validação\",\n    createdBy: { id: \"1458772347\" },\n    Clients: [{ id: idClienteMovidesk }],\n    cc: emailCopiaPara,\n    actions: [\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" } }\n    ]\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,-96],"id":"0314aa05-3ef4-45bb-b2ab-e5e69ec00c2a","name":"json para abertura ticket Movidesk"},{"parameters":{"method":"POST","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"538206c9-60b4-4bf4-ae85-415ab9a68be6"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,-96],"id":"ee425a90-ad02-4e8f-a583-02beb2cfc0a6","name":"Movidesk: Cria ticket","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false},{"parameters":{"jsCode":"const id_cliente_movidesk = \"d438e499-3e3c-427b-\";\nconst lista_emails_copia = \"welton.lira@olfar.ind.br,dinaelimperatori@gmail.com,dinael@maxprotection.com.br\";\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\n// Monta as linhas do tbody\nconst hostName = $input.first().json['Nome do host'];\nconst evento = $input.first().json['Nome do evento'];\nconst dataHoraFormatada = $input.first().json['Data e hora do evento'];\n\n// ==== CLIAR HTML DO CLIENTE ====\nfunction htmlCliente(nomeHost, eventoGerador, dataHoraEvento){\n  const htmlCliente = `\n    <p>${getGreeting()}</p>\n    <br>\n    <p>Um novo evento de indisponibilidade referente a RUCKUS 730 foi gerado em nosso sistema de monitoramento:</p>\n    <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n      <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n        <thead>\n            <tr>\n              <th>Host</th>\n              <th>Evento</th>\n              <th>Horário da ocorrência</th>\n            </tr>\n        </thead>\n        <tbody>\n            <tr>\n              <td>${nomeHost}</td>\n              <td>${eventoGerador}</td>\n              <td>${dataHoraEvento}</td>\n            </tr>\n        </tbody>\n      </table>\n    </div>\n    \n    <p>Permanecemos à disposição.</p>\n    <br>\n    <br>\n    <p>Atenciosamente,</p>\n    <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n  `;\n  return htmlCliente;\n}\n\nconst subject = `REPARO - ${hostName}`\n\nreturn [{\n  htmlCliente: htmlCliente(hostName, evento, dataHoraFormatada),\n  subject,\n  id_cliente_movidesk,\n  lista_emails_copia\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,-96],"id":"712f6856-1de9-46b5-a137-19e40e5373bd","name":"Prepara html do cliente"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9cbb9103-3686-45dc-9c0d-28b7da789d75","leftValue":"={{ $json.status_evento }}","rightValue":"Novo chamado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,-96],"id":"d06bc4fa-fea5-4cef-98bf-03138b0c5568","name":"Novo evento?"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,-96],"id":"e160d4f4-b765-4089-be6e-a07f669a4608","name":"Zabbix: Reconhece evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix"}}},{"parameters":{"jsCode":"const mensagem_reconhecimento = $input.first().json.id;\nconst id_para_reconhecimento = $('When Executed by Another Workflow').first().json['ID do evento'];\n\nconst json_reconhecimento = {\n  jsonrpc: \"2.0\",\n  method: \"event.acknowledge\",\n  params: {\n    eventids: id_para_reconhecimento,\n    message: String(mensagem_reconhecimento),\n    action: 6\n  },\n  id: 1\n}\n\nreturn [json_reconhecimento]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,-96],"id":"dee1ad0e-ceef-4bc8-83ae-33fa0935fd00","name":"json para reconhecimento no Zabbix"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Novo evento?","type":"main","index":0}]]},"json para abertura ticket Movidesk":{"main":[[{"node":"Movidesk: Cria ticket","type":"main","index":0}]]},"Prepara html do cliente":{"main":[[{"node":"json para abertura ticket Movidesk","type":"main","index":0}]]},"Novo evento?":{"main":[[{"node":"Prepara html do cliente","type":"main","index":0}]]},"json para reconhecimento no Zabbix":{"main":[[{"node":"Zabbix: Reconhece evento","type":"main","index":0}]]},"Movidesk: Cria ticket":{"main":[[{"node":"json para reconhecimento no Zabbix","type":"main","index":0}]]}},"authors":"William Semmler","name":null,"description":null,"autosaved":false},"tags":[]}