olfar-matriz-ruckus-730-7HKCikxUfMc8vchY.json
{"updatedAt":"2026-02-01T00:20:30.305Z","createdAt":"2025-12-19T19:48:27.610Z","id":"7HKCikxUfMc8vchY","name":"Olfar matriz ruckus 730","active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,-176],"id":"cf40d639-d8d8-4fb9-9282-cc73baa9ed59","name":"When Executed by Another Workflow"},{"parameters":{"content":"Nessa rotina, deve ser aberto chamado para para Olfar Matriz referente aos Ruckus R730.\n\nNotificados:\nprincipal - Robinson\ncopia - welton e dinael\n\nAs notificações entram na automação pelo fluxo de entrada, passam pelo fluxo de tratamento e lá são direcionadas para o fluxo atual. Chegam no fluxo de entrada com 10 minutos.\nROBINSON (d438e499-3e3c-427b-) - robinson.socbzak@olfar.ind.br\nWELTON - welton.lira@olfar.ind.br\nDINAEL - dinaelimperatori@gmail.com, dinael@maxprotection.com.br","height":256,"width":1296},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16,-592],"id":"474d23fa-867d-4db3-af53-c83b0c13a0bb","name":"Sticky Note"},{"parameters":{"jsCode":"const htmlCliente = $input.first().json.htmlCliente;\nconst subject = $input.first().json.subject;\nconst idClienteMovidesk = $input.first().json.idCliente;\nconst emailCopiaPara = $input.first().json.copiaPara;\n\n//id_movideks_para_testes = 1836303904\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nreturn {\n  json: {\n    type: 2,\n    subject: `${subject}`,\n    category: \"01 - Atendimento Helpdesk\",\n    serviceFirstLevelId: 325878,\n    urgency: \"Média\",\n    ownerTeam: \"NOC\",\n    status: \"Aguardando\",\n    justification: \"Validação\",\n    createdBy: { id: \"1458772347\" },\n    Clients: [{ id: idClienteMovidesk }],\n    cc: emailCopiaPara,\n    actions: [\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" } }\n    ]\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,16],"id":"0314aa05-3ef4-45bb-b2ab-e5e69ec00c2a","name":"json para abertura ticket Movidesk","disabled":true},{"parameters":{"method":"POST","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,16],"id":"ee425a90-ad02-4e8f-a583-02beb2cfc0a6","name":"Movidesk: Cria ticket","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"httpQueryAuth":{"id":"TMwtQv0hjXbvLVng","name":"Movidesk token"}},"disabled":true},{"parameters":{"jsCode":"const id_cliente_movidesk = \"d438e499-3e3c-427b-\";\nconst lista_emails_copia = \"welton.lira@olfar.ind.br,dinaelimperatori@gmail.com,dinael@maxprotection.com.br\";\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\n// Monta as linhas do tbody\nconst hostName = $('When Executed by Another Workflow').first().json['Nome do host'];\nconst evento = $('When Executed by Another Workflow').first().json['Nome do evento'];\nconst dataHoraFormatada = $('When Executed by Another Workflow').first().json['Data e hora do evento'];\n\n// ==== CLIAR HTML DO CLIENTE ====\nfunction htmlCliente(nomeHost, eventoGerador, dataHoraEvento){\n  const htmlCliente = `\n    <p>${getGreeting()}</p>\n    <br>\n    <p>Um novo evento de indisponibilidade referente ao equipamento RUCKUS 730 foi gerado em nosso sistema de monitoramento:</p>\n    <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n      <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n        <thead>\n            <tr>\n              <th>Host</th>\n              <th>Evento</th>\n              <th>Horário da ocorrência</th>\n            </tr>\n        </thead>\n        <tbody>\n            <tr>\n              <td>${nomeHost}</td>\n              <td>${eventoGerador}</td>\n              <td>${dataHoraEvento}</td>\n            </tr>\n        </tbody>\n      </table>\n    </div>\n    \n    <p>Permanecemos à disposição.</p>\n    <br>\n    <br>\n    <p>Atenciosamente,</p>\n    <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n  `;\n  return htmlCliente;\n}\n\nconst subject = `REPARO - ${hostName}`\n\nreturn [{\n  htmlCliente: htmlCliente(hostName, evento, dataHoraFormatada),\n  subject,\n  id_cliente_movidesk,\n  lista_emails_copia\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,16],"id":"712f6856-1de9-46b5-a137-19e40e5373bd","name":"Prepara html do cliente","disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.acknowledge\",\n  \"params\": {\n    \"eventids\": {{ $('When Executed by Another Workflow').item.json['ID do evento'] }},\n    \"message\": String({{$input.first().json.id}}),\n    \"action\": 6\n  },\n  \"id\": 1\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,16],"id":"e160d4f4-b765-4089-be6e-a07f669a4608","name":"Zabbix: Reconhece evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}},"disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"r_eventid\", \"acknowledged\"],\n    \"eventids\": [{{ $json['Id do evento'] }}],\n\n    \"selectHosts\": [\"hostid\", \"host\", \"description\"],\n\n    \"selectRelatedObject\": [\"description\", \"value\"],\n\n    \"selectAcknowledges\": [\"clock\", \"message\", \"action\"]\n    \n  },\n  \"id\": 1\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,-176],"id":"bddcba75-7c05-4105-a937-deb4fa90a64a","name":"Zabbix: Event.get","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}}},{"parameters":{"jsCode":"const evento_recuperado = parseInt($input.first().json.result[0].r_eventid) >= 1;\nconst evento_reconhecido = parseInt($input.first().json.result[0].acknowledged) == 1;\n\nlet rota;\nlet descricao;\nlet acao_rota;\nif (evento_recuperado == true && evento_reconhecido == true) {\n  rota = 0;\n  descricao = \"Evento normalizado e com reconhecimento\";\n  acao_rota = \"Notificar o cliente sobre encerramento\";\n} else if (evento_recuperado == true && evento_reconhecido == false) {\n  rota = 1;\n  descricao = \"Evento normalizado sem reconhecido\";\n  acao_rota = \"Analisar o evento e adicionar em métricas\";\n} else if (evento_recuperado == false && evento_reconhecido == false) {\n  rota = 2;\n  descricao = \"Evento ativo sem reconhecido\";\n  acao_rota = \"Abrir chamado para o cliente\";\n} else if (evento_recuperado == false && evento_reconhecido == true) {\n  rota = 3;\n  descricao = \"Evento ativo com reconhecimento\";\n  acao_rota = \"Adicionar no Banco de Dados\";\n}\n\nreturn [{\n  rota,\n  descricao,\n  acao_rota\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,-176],"id":"2117ac81-67d6-4672-a4d8-a4d2aa1531d3","name":"Valida status do chamado"},{"parameters":{"mode":"expression","output":"={{ $json.rota }}"},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[672,-208],"id":"c158ef53-3709-48de-ba75-f1a39e942ed6","name":"Rotas: Tipo de evento"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"clock\"],\n    \"eventids\": [{{ $('Zabbix: Event.get').item.json.result[0].r_eventid }}]\n  },\n  \"id\": 1\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1120,-192],"id":"5793d51b-52c1-46f4-b527-a0d9e564606a","name":"Zabbix: event.get do evento resolvido","credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}}},{"parameters":{"jsCode":"const timestamp_queda = $('When Executed by Another Workflow').first().json['Timestamp da queda'];\nconst timestamp_recuperacao = parseInt($input.first().json.result[0].clock);\nconst data_hora_recuperacao = DateTime.fromSeconds(timestamp_recuperacao, {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).toFormat('cccc, dd/MM/yyyy HH:mm:ss').toUpperCase()\nconst dif_tempos = timestamp_recuperacao - timestamp_queda;\n\nconst horas = Math.floor(dif_tempos / 3600);\nconst minutos = Math.floor((dif_tempos % 3600) / 60);\nconst segundos = dif_tempos % 60;\n\nconst uma_hora_em_segundos = 10 * 60; // 10 minutos\n\nconst indisponibilidade = \n  String(horas).padStart(2, '0') + ':' +\n  String(minutos).padStart(2, '0') + ':' +\n  String(segundos).padStart(2, '0');\n\nconst flagExcedeuSlaAberturaChamado = dif_tempos >= uma_hora_em_segundos;\n\nreturn [{\n  data_hora_recuperacao,\n  dif_tempos,\n  indisponibilidade,\n  flagExcedeuSlaAberturaChamado\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,-192],"id":"7f31d4ed-dd0e-4aba-a2c4-fa512f327616","name":"Análise de tempo de indisponibilidade"},{"parameters":{"authentication":"webhook","content":"ROTA nova no fluxo da Olfar Matriz - Ruckus R730","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[672,-384],"id":"9d9fadfe-65bc-4d95-b87a-209daec6876b","name":"Discord","webhookId":"2b762bcf-5b43-48bc-b198-e768b7a71797","credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}}},{"parameters":{"dataTableId":{"__rl":true,"value":"d6s15U9E8D9JBURf","mode":"list","cachedResultName":"métricas da queda de eventos","cachedResultUrl":"/projects/UcF1WBdewsFeRVFr/datatables/d6s15U9E8D9JBURf"},"columns":{"mappingMode":"defineBelow","value":{"excedeu_sla_abertura_chamado":"={{ $json.flagExcedeuSlaAberturaChamado }}","id_evento":"={{ $('When Executed by Another Workflow').item.json['Id do evento'] }}","id_recovery":"={{ parseInt($('Zabbix: Event.get').item.json.result[0].r_eventid) }}","host":"={{ $('When Executed by Another Workflow').item.json.Host }}","evento":"={{ $('When Executed by Another Workflow').item.json.Evento }}","data_hora_queda":"={{ $('When Executed by Another Workflow').item.json['Data e hora da queda'] }}","data_hora_recuperacao":"={{ $json.data_hora_recuperacao }}","tempo_indisponivel":"={{ $json.indisponibilidade }}","tipo_contrato":"={{ $('When Executed by Another Workflow').item.json['Tipo de contrato'] }}"},"matchingColumns":[],"schema":[{"id":"id_evento","displayName":"id_evento","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"id_recovery","displayName":"id_recovery","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"host","displayName":"host","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"evento","displayName":"evento","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"data_hora_queda","displayName":"data_hora_queda","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"data_hora_recuperacao","displayName":"data_hora_recuperacao","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tempo_indisponivel","displayName":"tempo_indisponivel","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"excedeu_sla_abertura_chamado","displayName":"excedeu_sla_abertura_chamado","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"tipo_contrato","displayName":"tipo_contrato","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[1536,-192],"id":"a20f56be-5130-4dca-bc43-a9698385bcaf","name":"Table: Insere dados na tabela de métricas"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Zabbix: Event.get","type":"main","index":0}]]},"json para abertura ticket Movidesk":{"main":[[{"node":"Movidesk: Cria ticket","type":"main","index":0}]]},"Prepara html do cliente":{"main":[[{"node":"json para abertura ticket Movidesk","type":"main","index":0}]]},"Movidesk: Cria ticket":{"main":[[{"node":"Zabbix: Reconhece evento","type":"main","index":0}]]},"Zabbix: Event.get":{"main":[[{"node":"Valida status do chamado","type":"main","index":0}]]},"Valida status do chamado":{"main":[[{"node":"Rotas: Tipo de evento","type":"main","index":0}]]},"Rotas: Tipo de evento":{"main":[[{"node":"Discord","type":"main","index":0}],[{"node":"Zabbix: event.get do evento resolvido","type":"main","index":0}],[{"node":"Prepara html do cliente","type":"main","index":0},{"node":"Discord","type":"main","index":0}],[{"node":"Discord","type":"main","index":0}]]},"Zabbix: event.get do evento resolvido":{"main":[[{"node":"Análise de tempo de indisponibilidade","type":"main","index":0}]]},"Análise de tempo de indisponibilidade":{"main":[[{"node":"Table: Insere dados na tabela de métricas","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"akaImKErHyzNLJa6"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"Id do evento":10216317,"Id do host":21106,"Id do grupo":745,"Host":"OLFAR MATRIZ - RUCKUS R730 AP-12-TERREO-06 - 10.1.1.91","Raiz do host":"OLFAR MATRIZ ","Evento":"INDISPONÍVEL VIA ICMP","Timestamp da queda":1769894526,"Data e hora da queda":"SÁBADO 31/01/2026 18:22:06","Tipo de contrato":3,"Nome do grupo":"OLFAR-RUCKUS"},"pairedItem":{"item":0}}]},"versionId":"ef736ff9-a9e9-4403-b07a-4754966d5a07","activeVersionId":"ef736ff9-a9e9-4403-b07a-4754966d5a07","triggerCount":0,"shared":[{"updatedAt":"2025-12-19T19:48:27.623Z","createdAt":"2025-12-19T19:48:27.623Z","role":"workflow:owner","workflowId":"7HKCikxUfMc8vchY","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":{"updatedAt":"2026-02-01T00:20:32.000Z","createdAt":"2026-02-01T00:20:30.309Z","versionId":"ef736ff9-a9e9-4403-b07a-4754966d5a07","workflowId":"7HKCikxUfMc8vchY","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,-176],"id":"cf40d639-d8d8-4fb9-9282-cc73baa9ed59","name":"When Executed by Another Workflow"},{"parameters":{"content":"Nessa rotina, deve ser aberto chamado para para Olfar Matriz referente aos Ruckus R730.\n\nNotificados:\nprincipal - Robinson\ncopia - welton e dinael\n\nAs notificações entram na automação pelo fluxo de entrada, passam pelo fluxo de tratamento e lá são direcionadas para o fluxo atual. Chegam no fluxo de entrada com 10 minutos.\nROBINSON (d438e499-3e3c-427b-) - robinson.socbzak@olfar.ind.br\nWELTON - welton.lira@olfar.ind.br\nDINAEL - dinaelimperatori@gmail.com, dinael@maxprotection.com.br","height":256,"width":1296},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16,-592],"id":"474d23fa-867d-4db3-af53-c83b0c13a0bb","name":"Sticky Note"},{"parameters":{"jsCode":"const htmlCliente = $input.first().json.htmlCliente;\nconst subject = $input.first().json.subject;\nconst idClienteMovidesk = $input.first().json.idCliente;\nconst emailCopiaPara = $input.first().json.copiaPara;\n\n//id_movideks_para_testes = 1836303904\n\n// ==== RETORNO QUE SERÁ USADO PELO HTTPREQUEST NO PRÓXIMO NÓ ====\nreturn {\n  json: {\n    type: 2,\n    subject: `${subject}`,\n    category: \"01 - Atendimento Helpdesk\",\n    serviceFirstLevelId: 325878,\n    urgency: \"Média\",\n    ownerTeam: \"NOC\",\n    status: \"Aguardando\",\n    justification: \"Validação\",\n    createdBy: { id: \"1458772347\" },\n    Clients: [{ id: idClienteMovidesk }],\n    cc: emailCopiaPara,\n    actions: [\n      { type: 2, description: htmlCliente, createdBy: { id: \"1458772347\" } }\n    ]\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,16],"id":"0314aa05-3ef4-45bb-b2ab-e5e69ec00c2a","name":"json para abertura ticket Movidesk","disabled":true},{"parameters":{"method":"POST","url":"https://atendimento.maxprotection.com.br/public/v1/tickets","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,16],"id":"ee425a90-ad02-4e8f-a583-02beb2cfc0a6","name":"Movidesk: Cria ticket","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"httpQueryAuth":{"id":"TMwtQv0hjXbvLVng","name":"Movidesk token"}},"disabled":true},{"parameters":{"jsCode":"const id_cliente_movidesk = \"d438e499-3e3c-427b-\";\nconst lista_emails_copia = \"welton.lira@olfar.ind.br,dinaelimperatori@gmail.com,dinael@maxprotection.com.br\";\n\n// ==== RETORNA GREETING CONFORME TURNO ====\nfunction getGreeting() {\n\tconst horaInicioNoite = 18;\n\tconst horaFinalNoite = 5;\n\tconst horaInicialDia = 5;\n\tconst horaFinalDia = 12;\n\n\t// CORREÇÃO: obter hora corretamente no fuso São Paulo\n\tconst horaLocal = DateTime.now().setZone(\"America/Sao_Paulo\").hour;\n\n\tlet greeting;\n\n\tif (horaLocal >= horaInicioNoite || horaLocal < horaFinalNoite) {\n\t\tgreeting = \"Boa noite\";\n\t} else if (horaLocal >= horaInicialDia && horaLocal < horaFinalDia) {\n\t\tgreeting = \"Bom dia\";\n\t} else {\n\t\tgreeting = \"Boa tarde\";\n\t}\n\n\treturn greeting;\n}\n\n// Monta as linhas do tbody\nconst hostName = $('When Executed by Another Workflow').first().json['Nome do host'];\nconst evento = $('When Executed by Another Workflow').first().json['Nome do evento'];\nconst dataHoraFormatada = $('When Executed by Another Workflow').first().json['Data e hora do evento'];\n\n// ==== CLIAR HTML DO CLIENTE ====\nfunction htmlCliente(nomeHost, eventoGerador, dataHoraEvento){\n  const htmlCliente = `\n    <p>${getGreeting()}</p>\n    <br>\n    <p>Um novo evento de indisponibilidade referente ao equipamento RUCKUS 730 foi gerado em nosso sistema de monitoramento:</p>\n    <div style=\"width: 95%; padding: 10px; margin:10px 0; text-align: center; align-items: center;\">\n      <table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"width:100%\">\n        <thead>\n            <tr>\n              <th>Host</th>\n              <th>Evento</th>\n              <th>Horário da ocorrência</th>\n            </tr>\n        </thead>\n        <tbody>\n            <tr>\n              <td>${nomeHost}</td>\n              <td>${eventoGerador}</td>\n              <td>${dataHoraEvento}</td>\n            </tr>\n        </tbody>\n      </table>\n    </div>\n    \n    <p>Permanecemos à disposição.</p>\n    <br>\n    <br>\n    <p>Atenciosamente,</p>\n    <img src=\"https://s3.amazonaws.com/movidesk-files/F63A932F58073D98A6D18347DEE480C5?AWSAccessKeyId=AKIAWSRCTWGBHCVKCQGD&Expires=1762462132&Signature=q%2FTkmFvX5ZyV4Id96xCPLnHgNzs%3D\">\n  `;\n  return htmlCliente;\n}\n\nconst subject = `REPARO - ${hostName}`\n\nreturn [{\n  htmlCliente: htmlCliente(hostName, evento, dataHoraFormatada),\n  subject,\n  id_cliente_movidesk,\n  lista_emails_copia\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,16],"id":"712f6856-1de9-46b5-a137-19e40e5373bd","name":"Prepara html do cliente","disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.acknowledge\",\n  \"params\": {\n    \"eventids\": {{ $('When Executed by Another Workflow').item.json['ID do evento'] }},\n    \"message\": String({{$input.first().json.id}}),\n    \"action\": 6\n  },\n  \"id\": 1\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,16],"id":"e160d4f4-b765-4089-be6e-a07f669a4608","name":"Zabbix: Reconhece evento","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}},"disabled":true},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"eventid\", \"clock\", \"r_eventid\", \"acknowledged\"],\n    \"eventids\": [{{ $json['Id do evento'] }}],\n\n    \"selectHosts\": [\"hostid\", \"host\", \"description\"],\n\n    \"selectRelatedObject\": [\"description\", \"value\"],\n\n    \"selectAcknowledges\": [\"clock\", \"message\", \"action\"]\n    \n  },\n  \"id\": 1\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,-176],"id":"bddcba75-7c05-4105-a937-deb4fa90a64a","name":"Zabbix: Event.get","alwaysOutputData":false,"retryOnFail":true,"notesInFlow":false,"credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}}},{"parameters":{"jsCode":"const evento_recuperado = parseInt($input.first().json.result[0].r_eventid) >= 1;\nconst evento_reconhecido = parseInt($input.first().json.result[0].acknowledged) == 1;\n\nlet rota;\nlet descricao;\nlet acao_rota;\nif (evento_recuperado == true && evento_reconhecido == true) {\n  rota = 0;\n  descricao = \"Evento normalizado e com reconhecimento\";\n  acao_rota = \"Notificar o cliente sobre encerramento\";\n} else if (evento_recuperado == true && evento_reconhecido == false) {\n  rota = 1;\n  descricao = \"Evento normalizado sem reconhecido\";\n  acao_rota = \"Analisar o evento e adicionar em métricas\";\n} else if (evento_recuperado == false && evento_reconhecido == false) {\n  rota = 2;\n  descricao = \"Evento ativo sem reconhecido\";\n  acao_rota = \"Abrir chamado para o cliente\";\n} else if (evento_recuperado == false && evento_reconhecido == true) {\n  rota = 3;\n  descricao = \"Evento ativo com reconhecimento\";\n  acao_rota = \"Adicionar no Banco de Dados\";\n}\n\nreturn [{\n  rota,\n  descricao,\n  acao_rota\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,-176],"id":"2117ac81-67d6-4672-a4d8-a4d2aa1531d3","name":"Valida status do chamado"},{"parameters":{"mode":"expression","output":"={{ $json.rota }}"},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[672,-208],"id":"c158ef53-3709-48de-ba75-f1a39e942ed6","name":"Rotas: Tipo de evento"},{"parameters":{"method":"POST","url":"https://monitoramento.maxprotection.com.br/api_jsonrpc.php","authentication":"predefinedCredentialType","nodeCredentialType":"zabbixApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json-rpc"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"event.get\",\n  \"params\": {\n    \"output\": [\"clock\"],\n    \"eventids\": [{{ $('Zabbix: Event.get').item.json.result[0].r_eventid }}]\n  },\n  \"id\": 1\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1120,-192],"id":"5793d51b-52c1-46f4-b527-a0d9e564606a","name":"Zabbix: event.get do evento resolvido","credentials":{"zabbixApi":{"id":"zl1coyXkQaqMlor1","name":"Zabbix NOC"}}},{"parameters":{"jsCode":"const timestamp_queda = $('When Executed by Another Workflow').first().json['Timestamp da queda'];\nconst timestamp_recuperacao = parseInt($input.first().json.result[0].clock);\nconst data_hora_recuperacao = DateTime.fromSeconds(timestamp_recuperacao, {zone: \"America/Sao_Paulo\", locale: \"pt-BR\"}).toFormat('cccc, dd/MM/yyyy HH:mm:ss').toUpperCase()\nconst dif_tempos = timestamp_recuperacao - timestamp_queda;\n\nconst horas = Math.floor(dif_tempos / 3600);\nconst minutos = Math.floor((dif_tempos % 3600) / 60);\nconst segundos = dif_tempos % 60;\n\nconst uma_hora_em_segundos = 10 * 60; // 10 minutos\n\nconst indisponibilidade = \n  String(horas).padStart(2, '0') + ':' +\n  String(minutos).padStart(2, '0') + ':' +\n  String(segundos).padStart(2, '0');\n\nconst flagExcedeuSlaAberturaChamado = dif_tempos >= uma_hora_em_segundos;\n\nreturn [{\n  data_hora_recuperacao,\n  dif_tempos,\n  indisponibilidade,\n  flagExcedeuSlaAberturaChamado\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,-192],"id":"7f31d4ed-dd0e-4aba-a2c4-fa512f327616","name":"Análise de tempo de indisponibilidade"},{"parameters":{"authentication":"webhook","content":"ROTA nova no fluxo da Olfar Matriz - Ruckus R730","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[672,-384],"id":"9d9fadfe-65bc-4d95-b87a-209daec6876b","name":"Discord","webhookId":"2b762bcf-5b43-48bc-b198-e768b7a71797","credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}}},{"parameters":{"dataTableId":{"__rl":true,"value":"d6s15U9E8D9JBURf","mode":"list","cachedResultName":"métricas da queda de eventos","cachedResultUrl":"/projects/UcF1WBdewsFeRVFr/datatables/d6s15U9E8D9JBURf"},"columns":{"mappingMode":"defineBelow","value":{"excedeu_sla_abertura_chamado":"={{ $json.flagExcedeuSlaAberturaChamado }}","id_evento":"={{ $('When Executed by Another Workflow').item.json['Id do evento'] }}","id_recovery":"={{ parseInt($('Zabbix: Event.get').item.json.result[0].r_eventid) }}","host":"={{ $('When Executed by Another Workflow').item.json.Host }}","evento":"={{ $('When Executed by Another Workflow').item.json.Evento }}","data_hora_queda":"={{ $('When Executed by Another Workflow').item.json['Data e hora da queda'] }}","data_hora_recuperacao":"={{ $json.data_hora_recuperacao }}","tempo_indisponivel":"={{ $json.indisponibilidade }}","tipo_contrato":"={{ $('When Executed by Another Workflow').item.json['Tipo de contrato'] }}"},"matchingColumns":[],"schema":[{"id":"id_evento","displayName":"id_evento","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"id_recovery","displayName":"id_recovery","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"host","displayName":"host","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"evento","displayName":"evento","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"data_hora_queda","displayName":"data_hora_queda","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"data_hora_recuperacao","displayName":"data_hora_recuperacao","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tempo_indisponivel","displayName":"tempo_indisponivel","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"excedeu_sla_abertura_chamado","displayName":"excedeu_sla_abertura_chamado","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"tipo_contrato","displayName":"tipo_contrato","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[1536,-192],"id":"a20f56be-5130-4dca-bc43-a9698385bcaf","name":"Table: Insere dados na tabela de métricas"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Zabbix: Event.get","type":"main","index":0}]]},"json para abertura ticket Movidesk":{"main":[[{"node":"Movidesk: Cria ticket","type":"main","index":0}]]},"Prepara html do cliente":{"main":[[{"node":"json para abertura ticket Movidesk","type":"main","index":0}]]},"Movidesk: Cria ticket":{"main":[[{"node":"Zabbix: Reconhece evento","type":"main","index":0}]]},"Zabbix: Event.get":{"main":[[{"node":"Valida status do chamado","type":"main","index":0}]]},"Valida status do chamado":{"main":[[{"node":"Rotas: Tipo de evento","type":"main","index":0}]]},"Rotas: Tipo de evento":{"main":[[{"node":"Discord","type":"main","index":0}],[{"node":"Zabbix: event.get do evento resolvido","type":"main","index":0}],[{"node":"Prepara html do cliente","type":"main","index":0},{"node":"Discord","type":"main","index":0}],[{"node":"Discord","type":"main","index":0}]]},"Zabbix: event.get do evento resolvido":{"main":[[{"node":"Análise de tempo de indisponibilidade","type":"main","index":0}]]},"Análise de tempo de indisponibilidade":{"main":[[{"node":"Table: Insere dados na tabela de métricas","type":"main","index":0}]]}},"authors":"William Semmler","name":"Version ef736ff9","description":"","autosaved":true},"tags":[{"updatedAt":"2026-01-31T21:02:47.026Z","createdAt":"2026-01-31T21:02:47.026Z","id":"XDuezrmuGHRMmX48","name":"Exceções e Bloqueios"}]}