restrições---rotas-de-atuação-4XCFFEiPZb2rJYt2RhTQ0.json
{"updatedAt":"2026-02-01T00:15:34.550Z","createdAt":"2026-01-31T21:01:51.620Z","id":"4XCFFEiPZb2rJYt2RhTQ0","name":"Restrições - rotas de atuação","active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"5a09b1de-39d6-4fa9-9e28-83ddaa742a3c","name":"Dados do fluxo de tratamento"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"aKXxnSRGLrVdlhyv","mode":"list","cachedResultName":"Tabela restricoes","cachedResultUrl":"/projects/UcF1WBdewsFeRVFr/datatables/aKXxnSRGLrVdlhyv"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"cliente","keyValue":"={{ $json['Raiz do host'].trim() }}"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[208,0],"id":"2152d20e-436a-45ec-836b-35128eec2e1b","name":"Table: Recupera cliente","alwaysOutputData":true,"retryOnFail":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.restricao }}","rightValue":"APENAS LINK DE INTERNET","operator":{"type":"string","operation":"equals"},"id":"2bad94ca-2271-4084-a3c6-9ac2c7baca69"}],"combinator":"and"},"renameOutput":true,"outputKey":"LINKS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ef3f54a8-3c15-4e6b-bb3d-17ab53b1bdec","leftValue":"={{ $json.restricao }}","rightValue":"ABRIR MANUALMENTE","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ABERTURA MANUAL"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2b17d2da-07e9-4998-b3f5-a41339e4fbe7","leftValue":"={{ $json.cliente }}","rightValue":"PREFEITURA DE TRAVESSEIRO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NOTIFICAR ALTERNATIVO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[416,-16],"id":"31f43107-dee5-4640-ba2c-4ccbfef6dec3","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"676329e5-0d36-46ce-9631-d50f937452e8","leftValue":"={{ $('Dados do fluxo de tratamento').item.json.Host }}","rightValue":"LINK","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1040,-320],"id":"f331e400-7c20-4f7e-a079-965b3bf18118","name":"Contém palavra \"link\"?"},{"parameters":{"authentication":"webhook","content":"Nova rota no fluxo de restrições - validar atuação","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[416,-176],"id":"e1a8a8ca-95ea-4380-8914-c37cff911c29","name":"Discord","webhookId":"c36b6316-7bdc-46bf-b3d8-cba47fc234af","credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}}},{"parameters":{"authentication":"webhook","content":"Nova rota no fluxo de restrições - evento de link, mas o host não contém a indicação de link","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1264,-224],"id":"3b298b33-d531-4f7f-874c-1a26515cdc98","name":"Discord1","webhookId":"c36b6316-7bdc-46bf-b3d8-cba47fc234af","credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}}},{"parameters":{"assignments":{"assignments":[{"id":"e8aedd49-510d-4c6b-a62d-59232cfb8c9c","name":"ID do evento","value":"={{ $('Dados do fluxo de tratamento').item.json['Id do evento'] }}","type":"number"},{"id":"f03f0211-360e-47a7-9539-4fac9d92546b","name":"ID do grupo","value":"={{ $('Dados do fluxo de tratamento').item.json['Id do grupo'] }}","type":"number"},{"id":"88a255dc-7533-4d3f-a62e-8f3a4162e1c0","name":"ID do host","value":"={{ $('Dados do fluxo de tratamento').item.json['Id do host'] }}","type":"number"},{"id":"f1b2c5f9-317e-4aad-a17e-1b3b0e4d7de0","name":"ID Movidesk para abertura de chamado","value":"={{ $('Dados do fluxo de tratamento').item.json['Emails em cópia para Movidesk'] }}","type":"number"},{"id":"66733513-4868-4390-bc10-6fd0fbaa46e0","name":"Nome do evento","value":"={{ $('Dados do fluxo de tratamento').item.json.Evento }}","type":"string"},{"id":"8ddb683d-5f27-4e2f-a078-fd721ad12a9c","name":"Nome do host","value":"={{ $('Dados do fluxo de tratamento').item.json.Host }}","type":"string"},{"id":"512c2326-eb17-4b47-822c-323228e6c223","name":"Raiz do host","value":"={{ $('Dados do fluxo de tratamento').item.json['Raiz do host'] }}","type":"string"},{"id":"dfade6ee-d73a-4b8d-8f05-ec49d380877f","name":"Timestamp da queda","value":"={{ $('Dados do fluxo de tratamento').item.json['Timestamp da queda'] }}","type":"number"},{"id":"e9c8e41f-8a76-4a34-aa65-2b1874fe5201","name":"Data e hora do evento","value":"={{ $('Dados do fluxo de tratamento').item.json['Data e hora da queda'] }}","type":"string"},{"id":"25605fdb-9fa6-4119-ab17-e3426cf18760","name":"Tipo de cliente","value":"={{ $('Dados do fluxo de tratamento').item.json['Tipo de contrato'] }}","type":"number"},{"id":"bed54142-cc4d-4059-b0c8-c53db55822bf","name":"Emails em cópia para chamado Movidesk","value":"={{ $('Dados do fluxo de tratamento').item.json['ID abertura ticket Movidesk'] }}","type":"string"},{"id":"73c3f601-19b0-470e-a64a-9414e5be4d90","name":"Nome do grupo","value":"={{ $('Dados do fluxo de tratamento').item.json['Nome do grupo'] }}","type":"string"},{"id":"e684730d-e7cd-42e5-aab7-4a79db914dec","name":"Eventos relacionados","value":"={{ $('Dados do fluxo de tratamento').item.json['Eventos relacionados'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1264,-416],"id":"cdb72f18-cf05-4f2a-8d29-82377b05700b","name":"Prepara dados"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json['Tipo de cliente'] }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"300baa9a-3ef1-4e10-beb8-f0a3cbef885e"}],"combinator":"and"},"renameOutput":true,"outputKey":"CONTRATO 1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"48d04800-a806-4667-81d7-a1b82c2d759a","leftValue":"={{ $json['Tipo de cliente'] }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CONTRATO 2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2d9bfec2-3405-485d-8573-82c0980077ca","leftValue":"={{ $json['Tipo de cliente'] }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GERAIS"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1488,-432],"id":"ff96fe67-40ac-4da4-8de7-4f4edc09bb76","name":"Switch1"},{"parameters":{"workflowId":{"__rl":true,"value":"L3evoVMYk4i7qqQ6","mode":"list","cachedResultUrl":"/workflow/L3evoVMYk4i7qqQ6","cachedResultName":"Contrato 1"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1712,-608],"id":"329c166a-8311-4a3a-8e4c-159aaebaa769","name":"Call 'Contrato 1'"},{"parameters":{"workflowId":{"__rl":true,"value":"Kd9DFlZfIm0B3YAX","mode":"list","cachedResultUrl":"/workflow/Kd9DFlZfIm0B3YAX","cachedResultName":"Contratos 2"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1712,-416],"id":"89e6593e-63fe-499b-b7e1-2c65a2194e25","name":"Call 'Contratos 2'"},{"parameters":{"workflowId":{"__rl":true,"value":"tLCtsxkiCqMImZVD","mode":"list","cachedResultUrl":"/workflow/tLCtsxkiCqMImZVD","cachedResultName":"Clientes gerais"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1712,-224],"id":"0b5f499c-b9cc-4b91-9ace-4cc8d2921acf","name":"Call 'Clientes gerais'"}],"connections":{"Dados do fluxo de tratamento":{"main":[[{"node":"Table: Recupera cliente","type":"main","index":0}]]},"Table: Recupera cliente":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Contém palavra \"link\"?","type":"main","index":0}],[{"node":"Discord","type":"main","index":0}],[{"node":"Discord","type":"main","index":0}]]},"Contém palavra \"link\"?":{"main":[[{"node":"Prepara dados","type":"main","index":0}],[{"node":"Discord1","type":"main","index":0}]]},"Prepara dados":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Call 'Contrato 1'","type":"main","index":0}],[{"node":"Call 'Contratos 2'","type":"main","index":0}],[{"node":"Call 'Clientes gerais'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"akaImKErHyzNLJa6"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Dados do fluxo de tratamento":[{"json":{"Id do evento":10119157,"Id do host":20436,"Id do grupo":705,"Host":"FUTURA INSUMOS SANANDUVA - LINK X1 RK - 187.110.176.42","Raiz do host":"FUTURA INSUMOS SANANDUVA ","Evento":"INDISPONÍVEL VIA ICMP","Timestamp da queda":1769858218,"Data e hora da queda":"SÁBADO 31/01/2026 08:16:58","Tipo de contrato":3,"Eventos relacionados":"[10119157]","Nome do grupo":null},"pairedItem":{"item":0}}]},"versionId":"cec17553-9987-4c87-83b7-89c985bc5d42","activeVersionId":"cec17553-9987-4c87-83b7-89c985bc5d42","triggerCount":0,"shared":[{"updatedAt":"2026-01-31T21:01:51.636Z","createdAt":"2026-01-31T21:01:51.636Z","role":"workflow:owner","workflowId":"4XCFFEiPZb2rJYt2RhTQ0","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":{"updatedAt":"2026-02-01T00:15:17.000Z","createdAt":"2026-02-01T00:15:08.132Z","versionId":"cec17553-9987-4c87-83b7-89c985bc5d42","workflowId":"4XCFFEiPZb2rJYt2RhTQ0","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"5a09b1de-39d6-4fa9-9e28-83ddaa742a3c","name":"Dados do fluxo de tratamento"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"aKXxnSRGLrVdlhyv","mode":"list","cachedResultName":"Tabela restricoes","cachedResultUrl":"/projects/UcF1WBdewsFeRVFr/datatables/aKXxnSRGLrVdlhyv"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"cliente","keyValue":"={{ $json['Raiz do host'].trim() }}"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[208,0],"id":"2152d20e-436a-45ec-836b-35128eec2e1b","name":"Table: Recupera cliente","alwaysOutputData":true,"retryOnFail":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.restricao }}","rightValue":"APENAS LINK DE INTERNET","operator":{"type":"string","operation":"equals"},"id":"2bad94ca-2271-4084-a3c6-9ac2c7baca69"}],"combinator":"and"},"renameOutput":true,"outputKey":"LINKS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ef3f54a8-3c15-4e6b-bb3d-17ab53b1bdec","leftValue":"={{ $json.restricao }}","rightValue":"ABRIR MANUALMENTE","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ABERTURA MANUAL"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2b17d2da-07e9-4998-b3f5-a41339e4fbe7","leftValue":"={{ $json.cliente }}","rightValue":"PREFEITURA DE TRAVESSEIRO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NOTIFICAR ALTERNATIVO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[416,-16],"id":"31f43107-dee5-4640-ba2c-4ccbfef6dec3","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"676329e5-0d36-46ce-9631-d50f937452e8","leftValue":"={{ $('Dados do fluxo de tratamento').item.json.Host }}","rightValue":"LINK","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1040,-320],"id":"f331e400-7c20-4f7e-a079-965b3bf18118","name":"Contém palavra \"link\"?"},{"parameters":{"authentication":"webhook","content":"Nova rota no fluxo de restrições - validar atuação","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[416,-176],"id":"e1a8a8ca-95ea-4380-8914-c37cff911c29","name":"Discord","webhookId":"c36b6316-7bdc-46bf-b3d8-cba47fc234af","credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}}},{"parameters":{"authentication":"webhook","content":"Nova rota no fluxo de restrições - evento de link, mas o host não contém a indicação de link","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1264,-224],"id":"3b298b33-d531-4f7f-874c-1a26515cdc98","name":"Discord1","webhookId":"c36b6316-7bdc-46bf-b3d8-cba47fc234af","credentials":{"discordWebhookApi":{"id":"gShvJuQFnEEvdBNj","name":"Admin: Notificações"}}},{"parameters":{"assignments":{"assignments":[{"id":"e8aedd49-510d-4c6b-a62d-59232cfb8c9c","name":"ID do evento","value":"={{ $('Dados do fluxo de tratamento').item.json['Id do evento'] }}","type":"number"},{"id":"f03f0211-360e-47a7-9539-4fac9d92546b","name":"ID do grupo","value":"={{ $('Dados do fluxo de tratamento').item.json['Id do grupo'] }}","type":"number"},{"id":"88a255dc-7533-4d3f-a62e-8f3a4162e1c0","name":"ID do host","value":"={{ $('Dados do fluxo de tratamento').item.json['Id do host'] }}","type":"number"},{"id":"f1b2c5f9-317e-4aad-a17e-1b3b0e4d7de0","name":"ID Movidesk para abertura de chamado","value":"={{ $('Dados do fluxo de tratamento').item.json['Emails em cópia para Movidesk'] }}","type":"number"},{"id":"66733513-4868-4390-bc10-6fd0fbaa46e0","name":"Nome do evento","value":"={{ $('Dados do fluxo de tratamento').item.json.Evento }}","type":"string"},{"id":"8ddb683d-5f27-4e2f-a078-fd721ad12a9c","name":"Nome do host","value":"={{ $('Dados do fluxo de tratamento').item.json.Host }}","type":"string"},{"id":"512c2326-eb17-4b47-822c-323228e6c223","name":"Raiz do host","value":"={{ $('Dados do fluxo de tratamento').item.json['Raiz do host'] }}","type":"string"},{"id":"dfade6ee-d73a-4b8d-8f05-ec49d380877f","name":"Timestamp da queda","value":"={{ $('Dados do fluxo de tratamento').item.json['Timestamp da queda'] }}","type":"number"},{"id":"e9c8e41f-8a76-4a34-aa65-2b1874fe5201","name":"Data e hora do evento","value":"={{ $('Dados do fluxo de tratamento').item.json['Data e hora da queda'] }}","type":"string"},{"id":"25605fdb-9fa6-4119-ab17-e3426cf18760","name":"Tipo de cliente","value":"={{ $('Dados do fluxo de tratamento').item.json['Tipo de contrato'] }}","type":"number"},{"id":"bed54142-cc4d-4059-b0c8-c53db55822bf","name":"Emails em cópia para chamado Movidesk","value":"={{ $('Dados do fluxo de tratamento').item.json['ID abertura ticket Movidesk'] }}","type":"string"},{"id":"73c3f601-19b0-470e-a64a-9414e5be4d90","name":"Nome do grupo","value":"={{ $('Dados do fluxo de tratamento').item.json['Nome do grupo'] }}","type":"string"},{"id":"e684730d-e7cd-42e5-aab7-4a79db914dec","name":"Eventos relacionados","value":"={{ $('Dados do fluxo de tratamento').item.json['Eventos relacionados'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1264,-416],"id":"cdb72f18-cf05-4f2a-8d29-82377b05700b","name":"Prepara dados"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json['Tipo de cliente'] }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"300baa9a-3ef1-4e10-beb8-f0a3cbef885e"}],"combinator":"and"},"renameOutput":true,"outputKey":"CONTRATO 1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"48d04800-a806-4667-81d7-a1b82c2d759a","leftValue":"={{ $json['Tipo de cliente'] }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CONTRATO 2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2d9bfec2-3405-485d-8573-82c0980077ca","leftValue":"={{ $json['Tipo de cliente'] }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GERAIS"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1488,-432],"id":"ff96fe67-40ac-4da4-8de7-4f4edc09bb76","name":"Switch1"},{"parameters":{"workflowId":{"__rl":true,"value":"L3evoVMYk4i7qqQ6","mode":"list","cachedResultUrl":"/workflow/L3evoVMYk4i7qqQ6","cachedResultName":"Contrato 1"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1712,-608],"id":"329c166a-8311-4a3a-8e4c-159aaebaa769","name":"Call 'Contrato 1'"},{"parameters":{"workflowId":{"__rl":true,"value":"Kd9DFlZfIm0B3YAX","mode":"list","cachedResultUrl":"/workflow/Kd9DFlZfIm0B3YAX","cachedResultName":"Contratos 2"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1712,-416],"id":"89e6593e-63fe-499b-b7e1-2c65a2194e25","name":"Call 'Contratos 2'"},{"parameters":{"workflowId":{"__rl":true,"value":"tLCtsxkiCqMImZVD","mode":"list","cachedResultUrl":"/workflow/tLCtsxkiCqMImZVD","cachedResultName":"Clientes gerais"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1712,-224],"id":"0b5f499c-b9cc-4b91-9ace-4cc8d2921acf","name":"Call 'Clientes gerais'"}],"connections":{"Dados do fluxo de tratamento":{"main":[[{"node":"Table: Recupera cliente","type":"main","index":0}]]},"Table: Recupera cliente":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Contém palavra \"link\"?","type":"main","index":0}],[{"node":"Discord","type":"main","index":0}],[{"node":"Discord","type":"main","index":0}]]},"Contém palavra \"link\"?":{"main":[[{"node":"Prepara dados","type":"main","index":0}],[{"node":"Discord1","type":"main","index":0}]]},"Prepara dados":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Call 'Contrato 1'","type":"main","index":0}],[{"node":"Call 'Contratos 2'","type":"main","index":0}],[{"node":"Call 'Clientes gerais'","type":"main","index":0}]]}},"authors":"William Semmler","name":"Version cec17553","description":"","autosaved":true},"tags":[{"updatedAt":"2026-01-31T21:02:47.026Z","createdAt":"2026-01-31T21:02:47.026Z","id":"XDuezrmuGHRMmX48","name":"Exceções e Bloqueios"}]}