schedule-sobre-logs-6wdYqu3WPP93Ftjf.json
{"updatedAt":"2025-11-13T11:34:03.000Z","createdAt":"2025-10-28T18:17:23.488Z","id":"6wdYqu3WPP93Ftjf","name":"schedule sobre logs","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-416,-64],"id":"c9f5636e-2e78-4e36-8447-e13c80f0eb94","name":"Schedule Trigger"},{"parameters":{"operation":"getAll","tableId":"logQuedas","returnAll":true,"filters":{"conditions":[{"keyName":"timestamp_queda","condition":"gte","keyValue":"={{ parseInt(DateTime.now().toSeconds()) - 1800 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-240,-64],"id":"1508f26f-845c-4bd4-9edd-2966fab74c2b","name":"Recupera as linhas de log","credentials":{"supabaseApi":{"id":"p9a9JH9aNSyBZyub","name":"Supabase account 2"}}},{"parameters":{"jsCode":"const eventos = $input.all().map(e => e.json);\n\nconst grupos = {};\n\nfor (const evento of eventos) {\n  const { id_group, grupo, id_evento_recuperacao } = evento;\n  if (id_evento_recuperacao !== 0) continue;\n\n  const key = String(id_group);\n\n  if (!grupos[key]) {\n    grupos[key] = {\n      nome: grupo,\n      id_group,\n      eventos: [],\n    };\n  }\n  grupos[key].eventos.push(evento);\n}\n\nconst resultado = [];\n\nfor (const g of Object.values(grupos)) {\n  const totalEventos = g.eventos.length;\n  if (totalEventos >= 5) {\n    resultado.push({\n      grupo: g.nome,\n      id_group: g.id_group,\n      total_eventos: totalEventos,\n      acao: \"ABRIR_CHAMADO\",\n      eventos: g.eventos.map(e => ({\n        host: e.host,\n        idevento: e.idevento,\n        data_hora_queda: e.data_hora_queda\n      }))\n    });\n  }\n}\n\nreturn resultado.length > 0 ? resultado : [];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,-64],"id":"ecd78bc4-3b7f-433d-8de4-a8d25bd176f3","name":"Code in JavaScript"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Recupera as linhas de log","type":"main","index":0}]]},"Recupera as linhas de log":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f2c1a175-60ed-475c-bd70-20976baea356","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-10-28T18:17:23.496Z","createdAt":"2025-10-28T18:17:23.496Z","role":"workflow:owner","workflowId":"6wdYqu3WPP93Ftjf","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":null,"tags":[{"updatedAt":"2025-10-28T19:56:14.460Z","createdAt":"2025-10-28T19:56:14.460Z","id":"UKeczAnIY31ftuzy","name":"eventos_de_log"}]}