tratamento-e-notificação-de-erros-akaImKErHyzNLJa6.json
{"updatedAt":"2026-01-29T17:15:56.648Z","createdAt":"2025-12-26T10:12:54.147Z","id":"akaImKErHyzNLJa6","name":"Tratamento e notificação de erros","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"3f26f410-7517-4858-9982-26bd76c312c9","name":"Error Trigger"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"13ts87_eVIIiLEP5tdzr2U3bWPoPS-TgasJC6QydlsNE","mode":"list","cachedResultName":"Logs de erros no n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13ts87_eVIIiLEP5tdzr2U3bWPoPS-TgasJC6QydlsNE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Erros no n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13ts87_eVIIiLEP5tdzr2U3bWPoPS-TgasJC6QydlsNE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Data":"={{ $json.Data }}","Hora":"={{ $json.Hora }}","Dia da semana":"={{ $json['Dia da semana'] }}","Fluxo":"={{ $json.Worflow }}","ID fluxo":"={{ $json['ID workflow'] }}","Nó problemático":"={{ $json['Nome do nó problemático'] }}","Erro":"={{ $json['Nome do erro'] }}"},"matchingColumns":["Data"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Dia da semana","displayName":"Dia da semana","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fluxo","displayName":"Fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID fluxo","displayName":"ID fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nó problemático","displayName":"Nó problemático","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Erro","displayName":"Erro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[448,0],"id":"ef13d1d5-b720-4b81-8d03-876f25f9cf1d","name":"Sheet: Add problema na planilha","credentials":{"googleApi":{"id":"G23Xn5Fl7KzKph4r","name":"Google Service Account account"}}},{"parameters":{"assignments":{"assignments":[{"id":"dd20fa3b-e5aa-4f2b-b68b-344075b70798","name":"Worflow","value":"={{ $json.workflow.name }}","type":"string"},{"id":"81769930-720c-4b16-b310-1a593630b690","name":"ID workflow","value":"={{ $json.workflow.id }}","type":"string"},{"id":"33b35ffb-d22e-422d-9dcc-92e7806b8ed3","name":"Nome do nó problemático","value":"={{ $json.execution.lastNodeExecuted }}","type":"string"},{"id":"68545609-e845-4c04-9f11-6d33d2fb15fe","name":"Nome do erro","value":"={{ $json.execution.error.message }}","type":"string"},{"id":"0efb0097-307c-4b0a-84d7-0bfbc07df4fb","name":"Dia da semana","value":"={{ DateTime.now().setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").format(\"cccc\").toSentenceCase() }}","type":"string"},{"id":"0247637c-0579-4990-b8ca-4ed7e5688bd2","name":"Data","value":"={{ DateTime.now().setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").format(\"dd/MM/yyyy\") }}","type":"string"},{"id":"b126c195-0ce0-476c-b772-89e33fa1c2e7","name":"Hora","value":"={{ DateTime.now().setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").format(\"HH:mm:ss\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"271b70d5-42e4-4777-bf14-907716ca8ed5","name":"Consolida informações"},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=- **Fluxo:** {{ $('Consolida informações').item.json.Worflow }} - **ID:** {{ $json['ID fluxo'] }}\n- **Erro:** {{ $json.Erro }}\n- **Nó:** {{ $json['Nó problemático'] }}\n- **Dia e hora do problema:** {{ $json['Dia da semana'] }}, {{ $json.Data }} - {{ $json.Hora }}","author":"Fonte: fluxo de erro - admin","color":"#FD2A2A","timestamp":"=","title":"ERRO NO FLUXO","thumbnail":"https://cdn-icons-png.freepik.com/64/1331/1331377.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[672,0],"id":"1039e808-3646-46e5-98ac-3b13371986c9","name":"Comunica admin no Discord","webhookId":"4795b954-4954-4df5-b756-89d1e39e07f1","credentials":{"discordWebhookApi":{"id":"my4AzbUc1zKeXAum","name":"Admin: Error"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Consolida informações","type":"main","index":0}]]},"Sheet: Add problema na planilha":{"main":[[{"node":"Comunica admin no Discord","type":"main","index":0}]]},"Consolida informações":{"main":[[{"node":"Sheet: Add problema na planilha","type":"main","index":0}]]},"Comunica admin no Discord":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4b52c4d8-d8b6-47f6-9f4b-c9d2a191e0c2","activeVersionId":"4b52c4d8-d8b6-47f6-9f4b-c9d2a191e0c2","triggerCount":0,"shared":[{"updatedAt":"2025-12-26T10:12:54.159Z","createdAt":"2025-12-26T10:12:54.159Z","role":"workflow:owner","workflowId":"akaImKErHyzNLJa6","projectId":"UcF1WBdewsFeRVFr"}],"activeVersion":{"updatedAt":"2026-01-29T17:12:39.000Z","createdAt":"2025-12-29T13:07:18.482Z","versionId":"4b52c4d8-d8b6-47f6-9f4b-c9d2a191e0c2","workflowId":"akaImKErHyzNLJa6","nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"3f26f410-7517-4858-9982-26bd76c312c9","name":"Error Trigger"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"13ts87_eVIIiLEP5tdzr2U3bWPoPS-TgasJC6QydlsNE","mode":"list","cachedResultName":"Logs de erros no n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13ts87_eVIIiLEP5tdzr2U3bWPoPS-TgasJC6QydlsNE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Erros no n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13ts87_eVIIiLEP5tdzr2U3bWPoPS-TgasJC6QydlsNE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Data":"={{ $json.Data }}","Hora":"={{ $json.Hora }}","Dia da semana":"={{ $json['Dia da semana'] }}","Fluxo":"={{ $json.Worflow }}","ID fluxo":"={{ $json['ID workflow'] }}","Nó problemático":"={{ $json['Nome do nó problemático'] }}","Erro":"={{ $json['Nome do erro'] }}"},"matchingColumns":["Data"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Dia da semana","displayName":"Dia da semana","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fluxo","displayName":"Fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID fluxo","displayName":"ID fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nó problemático","displayName":"Nó problemático","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Erro","displayName":"Erro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[448,0],"id":"ef13d1d5-b720-4b81-8d03-876f25f9cf1d","name":"Sheet: Add problema na planilha","credentials":{"googleApi":{"id":"G23Xn5Fl7KzKph4r","name":"Google Service Account account"}}},{"parameters":{"assignments":{"assignments":[{"id":"dd20fa3b-e5aa-4f2b-b68b-344075b70798","name":"Worflow","value":"={{ $json.workflow.name }}","type":"string"},{"id":"81769930-720c-4b16-b310-1a593630b690","name":"ID workflow","value":"={{ $json.workflow.id }}","type":"string"},{"id":"33b35ffb-d22e-422d-9dcc-92e7806b8ed3","name":"Nome do nó problemático","value":"={{ $json.execution.lastNodeExecuted }}","type":"string"},{"id":"68545609-e845-4c04-9f11-6d33d2fb15fe","name":"Nome do erro","value":"={{ $json.execution.error.message }}","type":"string"},{"id":"0efb0097-307c-4b0a-84d7-0bfbc07df4fb","name":"Dia da semana","value":"={{ DateTime.now().setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").format(\"cccc\").toSentenceCase() }}","type":"string"},{"id":"0247637c-0579-4990-b8ca-4ed7e5688bd2","name":"Data","value":"={{ DateTime.now().setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").format(\"dd/MM/yyyy\") }}","type":"string"},{"id":"b126c195-0ce0-476c-b772-89e33fa1c2e7","name":"Hora","value":"={{ DateTime.now().setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").format(\"HH:mm:ss\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"271b70d5-42e4-4777-bf14-907716ca8ed5","name":"Consolida informações"},{"parameters":{"authentication":"webhook","options":{},"embeds":{"values":[{"description":"=- **Fluxo:** {{ $('Consolida informações').item.json.Worflow }} - **ID:** {{ $json['ID fluxo'] }}\n- **Erro:** {{ $json.Erro }}\n- **Nó:** {{ $json['Nó problemático'] }}\n- **Dia e hora do problema:** {{ $json['Dia da semana'] }}, {{ $json.Data }} - {{ $json.Hora }}","author":"Fonte: fluxo de erro - admin","color":"#FD2A2A","timestamp":"=","title":"ERRO NO FLUXO","thumbnail":"https://cdn-icons-png.freepik.com/64/1331/1331377.png"}]}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[672,0],"id":"1039e808-3646-46e5-98ac-3b13371986c9","name":"Comunica admin no Discord","webhookId":"4795b954-4954-4df5-b756-89d1e39e07f1","credentials":{"discordWebhookApi":{"id":"my4AzbUc1zKeXAum","name":"Admin: Error"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Consolida informações","type":"main","index":0}]]},"Sheet: Add problema na planilha":{"main":[[{"node":"Comunica admin no Discord","type":"main","index":0}]]},"Consolida informações":{"main":[[{"node":"Sheet: Add problema na planilha","type":"main","index":0}]]},"Comunica admin no Discord":{"main":[[]]}},"authors":"William Semmler","name":"Version 1.0.0","description":"","autosaved":false},"tags":[{"updatedAt":"2025-12-29T13:04:15.329Z","createdAt":"2025-12-29T13:04:15.329Z","id":"hW57ZKvfDIpACvJc","name":"Erro"},{"updatedAt":"2025-12-29T13:04:10.213Z","createdAt":"2025-12-29T13:04:10.213Z","id":"uKdbFhqjKW0d9Ijc","name":"Admin"}]}